<script type="text/javascript">
	function popupform(id){
			document.getElementById('id').value=id;
			
			document.getElementById('v-form').style.display='block';
			document.getElementById('shadow').style.display='block';
	}
</script>


<div style="color:#fff;">

<table cellspacing="5">
	<tr>
		<td><strong>ID</strong></td>
		<td><strong>UserID</strong></td>
		<td><strong>Image</strong></td>
		<td><strong>Location</strong></td>
		<td><strong>Bedrooms</strong></td>
		<td><strong>Bathrooms</strong></td>
		<td><strong>Sale Price</strong></td>
		<td><strong>Rent Price</strong></td>
		<td><strong>Created Date</strong></td>
	</tr>
	
<%
for listing in @listings
%>
<tr>
	<td><%=listing.id%></td>
	<td><%=listing.id_user%></td>
	<td>
								<%
								images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'",:limit=>"1")
								for img in images
								 	if img.paperclipfix.to_s == "1"		
								%>
									<a href="<%=img.photo.url(:large)%>" rel="lightbox[listing]"><img src="<%=img.photo.url(:thumb)%>" onerror="this.src='/images/noimage-90.png'" width="90" height="90" /></a>
								<%
							          else
								%>
									<a href="<%=img.photo.url()%>" rel="lightbox[listing]"><img src="<%=img.photo.url(:thumb)%>" onerror="this.src='/images/noimage-90.png'" width="90" height="90" /></a>
								<%
							          end
								end
								%>
		
	</td>
	<td><%=listing.City%></td>
		<td><%if listing.Bed.to_i == 0 %><span style="color:red;">Studio</span><%else%><%=listing.Bed%><%end%></td>
		<td><%=listing.Bath%></td>
		
		<td><%=number_to_currency(listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		<td><%=number_to_currency(listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		
		
		<td><%if listing.created_on %><%=listing.created_on.strftime("%d/%m/%Y")%><%end%></td>
	<td>
		<%if listing.Virtual.to_s =="0"%>
			<a href="#" onclick="popupform('<%=listing.id%>'); return false;"><u>Update to Virtual</u> </a>
		<%else%>
			<a href="#" onclick="popupform('<%=listing.id%>'); return false;"><u style="color:red;">Updated</u> </a>
		<%end%>
	</td>
</tr>

<%end%>

</table>
<%= will_paginate @listings%><br>
	
	
</div>

<br /><br /><br />
<div id="shadow" style="position:fixed;z-index:99; display:none; top:0px; left:0px; width:100%;height:100%; background-color:#333; opacity:0.5; filter:alpha(opacity=50); "></div>
<div id="v-form" style="color:#fff; display:none; position:fixed;z-index:100; top:20%;left:25%; background-color:#FFF;">
<div style="float:right; "> <u><a href="#" style="color:red;" onclick="document.getElementById('shadow').style.display='none'; document.getElementById('v-form').style.display='none';"><img src="/images/not.png"/> Close</a></u></div>
<form action="savevirtual" method="post" enctype="multipart/form-data">
	<input type="hidden" name="id" id="id" value=""/><br />
	<table>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr><td align="right">Front:</td>	<td><input type="file" name="image1" id="image1" /></td></tr>
		<tr><td align="right">Left:</td>	<td><input type="file" name="image2" id="image2" /></td></tr>
		<tr><td align="right">Right:</td>	<td><input type="file" name="image3" id="image3" /></td></tr>
		<tr><td align="right">Back:</td>	<td><input type="file" name="image4" id="image4" /></td></tr>
		<tr><td align="right">Up:</td>	<td><input type="file" name="image5" id="image5" /></td></tr>
		<tr><td align="right">Down:</td>	<td><input type="file" name="image6" id="image6" /></td></tr>
		<tr><td align="right"></td>		<td><input type="submit" value="Upload" /></td></tr>
	
	
	</table>
</form>
</div>