			<script src="/javascripts/kendio.js" type="text/javascript"></script>	
<style>
<!--
	.bgimage {
		background-image:url(/virtual/bg/1.jpg);
	}
-->
</style>

<div class="bgimage">



<!--Loading display while images load--> 
<div id="loading">&nbsp;</div> 

<!--Slides--> 


<!--Content area that hovers on top--> 
<div id="content"> 
	<div id="contentframe"> 
		
		<div id="logo"><img src="/virtual/logo.png" /></div>
		
		
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td width="300" valign="top">
					<a href="addvirtuals">Add Vritual</a>
					<div id="leftbox">
						<%= form_remote_tag(:update => "rightbox",
								:loading  =>"javascript: document.getElementById('processing').style.display='inline'; document.getElementById('loading').style.display='inline';",
								:complete =>"javascript: document.getElementById('processing').style.display='none';   document.getElementById('loading').style.display='none';",
								:url => "/virtual/index") %>
								<input type="hidden" name="ajax" id="ajax" value="1"/>
						<h1>Search for a Listing</h1>
						
						<p>Listing Type:
									<select name="propertytype" id="propertytype">
											<%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
											<option value="0" selected="selected"><%=I18n.translate('txt.listingtype.listingtype')%></option>
											<%for lt in listingtypes%>
											<%
														seo_listingtype = "#{lt.Name}"	
														while seo_listingtype[" "]				
															seo_listingtype[" "] ="-"
														end
														while seo_listingtype["/"]				
															seo_listingtype["/"] =""		
														end
															showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
															showlistingtype = I18n.translate(showlistingtype)
											%>
											<option value="<%=lt.Value%>" <%if session[:propertytype].to_s == lt.Value.to_s %> selected="selected" <%end%>><%=showlistingtype%></option>
											<%end%>
									</select>
						</p><br>
						
						
						<p>Listing for:
							<select name="salerent" id="salerent" >
									<option value="2" <%if session[:salerent].to_s =="2"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy-rent')%>&nbsp;&nbsp;</option>
									<option value="1" <%if session[:salerent].to_s =="1"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy')%>&nbsp;&nbsp;</option>
									<option value="0" <%if session[:salerent].to_s =="0"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.rent')%>&nbsp;&nbsp;</option>
							</select>
						</p><br>
						
						<p>City:
					        <input id="code" name="code" size="15" type="text" value="<% if session[:location] != ""%><%=session[:location]%><%else%>Pattaya<%end%>"  style="width:150px;" /><div class="auto_complete" id="code_detail" style=" z-index:25;"></div>
							<script type="text/javascript">
					        //<![CDATA[
					        var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('code').value) }, method:'get', paramName:'code'})
					        //]]>
					        </script> 
						</p><br>
						<p>Price:						
						    <input type="text" name="tfprice" id="tfprice"  onkeydown="if(event.keyCode == 13){this.value=formatCurrency(this.value,'fprice'); setaction('list');}"onblur="this.value=formatCurrency(this.value,'fprice');" style="width:75px;" />
						    to
							<input type="text" name="ttprice" id="ttprice"  onkeydown="if(event.keyCode == 13){this.value=formatCurrency(this.value,'tprice'); setaction('list');}" onblur="this.value=formatCurrency(this.value,'tprice');" style="width:75px;" /><input type="hidden" name="fprice" id="fprice" /><input type="hidden" name="tprice" id="tprice" />
						</p><br>
		
						<p>bedroom:
						<select name="bed" id="bed">
								<option value="">Any</option>
								<option value="0" <%if session[:bed].to_s == "0"%> selected="selected" <%end%>>Studio</option>
								<option value="1" <%if session[:bed].to_s == "1"%> selected="selected" <%end%>>1</option>
								<option value="2" <%if session[:bed].to_s == "2"%> selected="selected" <%end%>>2</option>
								<option value="3" <%if session[:bed].to_s == "3"%> selected="selected" <%end%>>3</option>
								<option value="4" <%if session[:bed].to_s == "4"%> selected="selected" <%end%>>4</option>
								<option value="5" <%if session[:bed].to_s == "5"%> selected="selected" <%end%>>5</option>
								<option value="6" <%if session[:bed].to_s == "6"%> selected="selected" <%end%>>6+</option>
						</select>	
						to 
						<select name="bed2" id="bed2">
								<option value="">Any</option>
								<option value="0" <%if session[:bed2].to_s == "0"%> selected="selected" <%end%>>Studio</option>
								<option value="1" <%if session[:bed2].to_s == "1"%> selected="selected" <%end%>>1</option>
								<option value="2" <%if session[:bed2].to_s == "2"%> selected="selected" <%end%>>2</option>
								<option value="3" <%if session[:bed2].to_s == "3"%> selected="selected" <%end%>>3</option>
								<option value="4" <%if session[:bed2].to_s == "4"%> selected="selected" <%end%>>4</option>
								<option value="5" <%if session[:bed2].to_s == "5"%> selected="selected" <%end%>>5</option>
								<option value="6" <%if session[:bed2].to_s == "6"%> selected="selected" <%end%>>6+</option>
						</select>						
						</p><br>
						
						
						<p>Bathrooms:
							<select name="bath" id="bath">
									<option value="">Any</option>
									<option value="1" <%if session[:bath].to_s == "1"%> selected="selected" <%end%>>1</option>
									<option value="2" <%if session[:bath].to_s == "2"%> selected="selected" <%end%>>2</option>
									<option value="3" <%if session[:bath].to_s == "3"%> selected="selected" <%end%>>3</option>
									<option value="4" <%if session[:bath].to_s == "4"%> selected="selected" <%end%>>4</option>
									<option value="5" <%if session[:bath].to_s == "5"%> selected="selected" <%end%>>5+</option>
							</select>
						</p>
						
						    <br />
						    
						    <input type="image" href="#" style="width:138;height:26px;cursor:pointer;" name="image" src="/images/button-updatesearch.png" />
							<button type="submit" href="#" id="submitsearch" onclick="document.getElementById('code').value=''; document.getElementById('salerent').value='2';  document.getElementById('propertytype').value='0'; document.getElementById('tfprice').value=''; document.getElementById('ttprice').value=''; document.getElementById('fprice').value='0'; document.getElementById('tprice').value='0'; document.getElementById('bed').value='';  document.getElementById('bed2').value='';  document.getElementById('bath').value='';" style="height: 20px; width: 70px; background-color: rgb(255, 255, 255); color: rgb(47, 65, 0); font-size: 11px; border: medium none;">		
								Clear Search
							</button>

						    <img src="/images/loadingb.gif" id="processing" style="display:none;"/>
						    <br />
						</form>
					</div>
					
				</td>
				
				<td width="100%" height="100%" valign="top">
					<div id="rightbox" >
					<!--
						<div id="listingblock">
							<a href="/virtual/show"><img src="http://files.rethai.com/listingdata/photos/45/original.jpg" width="120" /></a>
							<div id="listing">
								<span>900,000 <small>Baht</small></span><br>
								2 Bed, 2 Bath<br>
								<div class="location">Condo / Apartment</div>
							</div>
						</div>
					
					
						<div id="listingblock">
							<img src="http://files.rethai.com/listingdata/photos/45/original.jpg" width="120" />
							<div id="listing">
								<span>900,000 <small>Baht</small></span><br>
								2 Bed, 2 Bath<br>
								<div class="location">Condo / Apartment</div>
							</div>
						</div>
					
					
						<div id="listingblock">
							<img src="http://files.rethai.com/listingdata/photos/45/original.jpg" width="120" />
							<div id="listing">
								<span>900,000 <small>Baht</small></span><br>
								2 Bed, 2 Bath<br>
								<div class="location">Condo / Apartment</div>
							</div>
						</div>
					-->
					<%if @listings.length > 0%>
					<%= will_paginate @listings %>
					<%	for l in @listings
								#----------------------------------------------------------------------------
								listingtype =""
						        if l.Type.to_s != '0' and l.Type.to_s != "" and l.Type !=nil
						          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{l.Type}'")
						          if listings.length > 0
						            for lt in listings
						              listingtype = "#{lt.Name}"
						              break
						            end
						          end
						        end
								#----------------------------------------------------------------------------
								images = Images.find(:all,:conditions=>"id_product = '#{l.id}'")
								myimages = "/images/noimage-120.png"
								if images.length > 0
									for image in images
												myimages =  "#{image.photo.url(:thumb)}"
											break
									end
								end
								#----------------------------------------------------------------------------
					%>
							<div id="listingblock">
								<a href="/virtual/show/<%=l.id%>"><img src="<%=myimages%>" onerror="this.src='/images/noimage-120.png'" width="120" /></a>
								<div id="listing">
									<span><%=number_to_currency(l.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>Baht</small></span><br>
									<%if l.Bed.to_i == 6%> 6+ Bed<%elsif l.Bed.to_i > 0%> <%=l.Bed%> Bed<%else%>Studio<%end%>, <%=l.Bath%> Bath<br>
									<div class="location"><%=listingtype%></div>
								</div>
							</div>
						<%end  #end_for_l_in_@listings%>
						
					<%else%>
						<span>No Listings</span>
					<%end%>
					<br clear="all" /><br clear="all" />
					


					</div>
				</td>
			</tr>
		</table>
		
							<br clear="all" /><br clear="all" />

		
	</div>  
</div> 














</div>
