<html>
	<head>
		<script src="/javascripts/kendio.js" type="text/javascript"></script>
		<script src="/javascripts/listings.js" type="text/javascript"></script>
		<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
		
		
<script type="text/javascript" src="/javascripts/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/javascripts/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="/javascripts/lightbox/lightbox.css" type="text/css" media="screen" />
</head>
	<body onload="loadshowlisting('<%=@listing.lat%>','<%=@listing.lng%>');" onunload="GUnload();">
	<div id="shadow"></div>
<%if Rails.env == "production" %>
	<%= render(:partial => "layouts/analytics") %>
<%else%>
<%end%>

<!--Loading display while images load--> 
<div id="loading">&nbsp;</div> 

<!--Slides--> 
<div id="supersize"> 
	<img class="activeslide" src="/virtual/bg/1.jpg" />
</div> 
 
<!--Content area that hovers on top--> 
<div id="content"> 
	<div id="contentframe">
		
		<div id="logo">
			<img src="/virtual/logo.png" style="float:left" />
			<div id="showtopnav">
				<a href="">Virtual Tour</a> <a href="">Photos</a> <a href="">Map</a> <a href="">Description</a> <a href="">Contact</a>
				
			</div>
		</div>
		
		
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td width="300" valign="top">
					<%
					listingtype =""
						        if @listing.Type.to_s != '0' and @listing.Type.to_s != "" and @listing.Type !=nil
						          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{@listing.Type}'")
						          if listings.length > 0
						            for lt in listings
						              listingtype = "#{lt.Name}"
						              break
						            end
						          end
						        end
					#--------------------------------------------------------------------------------------					
				    parking =" "
				    if @listing.Parking.to_s != '0' and @listing.Parking.to_s != "" and @listing.Parking !=nil
				      parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{@listing.Parking}'")
				      if parkings.length > 0
				        for pk in parkings
				          parking = "#{pk.Name}"
				          break
				        end
				      end
				    end
					#----------------------------------------------------------------------------------------
					salerent = ""
					if @listing.salerent.to_s =="1"
						salerent = "Sale"
					elsif @listing.salerent.to_s =="2"
						salerent = "Sale or Rent"
					elsif @listing.salerent.to_s =="0"			
						salerent = "Rent"
					end
					#----------------------------------------------------------------------------------------
					%>
					<div id="leftbox">
						<h2>Property Details</h2>
						<h3><%=number_to_currency(@listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>Baht</small></h3>
						<p>Listing Type: <%=listingtype%></p>
						<p>Listing for: <%=salerent%></p>
						<p>Bedrooms:<%if @listing.Bed.to_i == 0%> Studio<%elsif @listing.Bed.to_s =='6'%> 6+ <%else%> <%=@listing.Bed%><%end%></p>
						<p>Bathrooms: <%=@listing.Bath%></p>
						<p>City:<%if @listing.City.to_s !="" and @listing.City.to_s !="0" and @listing.City.to_s !=nil%>  <%=@listing.City.to_s%><%else%>-<%end%></p>
						<p>SQM:<%=number_to_currency(@listing.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> </p>
						<p>Parking:<%=parking%></p>
		
					</div>
					
				</td>
				
				<td width="100%" height="100%" valign="top">
					<div id="rightbox" >
					


<!--
<script type="text/javascript" src="/tmp/delete/files/swfobject.js"></script>		
<div id="flashcontent1">This content requires <a href="http://www.adobe.com/go/getflashplayer/">Adobe Flash Player</a> and a browser with JavaScript enabled.<br />Built on <a href="http://flashpanoramas.com/player/">Flash Panorama Player</a>.</div> 
    <script type="text/javascript">
	  var so = new SWFObject("/tmp/delete/files/preview_pano.swf", "pano1", "700", "400", "6.0.65", "#EEEEEE"); 
	  so.addVariable("preview","/tmp/delete/images/preview_snow.jpg");
	  so.addVariable("movie","/tmp/delete/files/pano.swf?xml_file=/tmp/delete/preview_pano1.xml");
	  so.addVariable("redirect", window.location);
	  so.addParam("allowFullScreen","true");
	  so.addParam("allowScriptAccess","sameDomain");
	  so.write("flashcontent1");
    </script>
-->	
<script type="text/javascript" src="/virtual/swfobject.js"></script>		
<div id="flashcontent1">This content requires <a href="http://www.adobe.com/go/getflashplayer/">Adobe Flash Player</a> and a browser with JavaScript enabled.<br />Built on <a href="http://flashpanoramas.com/player/">Flash Panorama Player</a>.</div> 
<%if @listing.Virtual.to_s =='1' %>     
	<script type="text/javascript">
	  var so = new SWFObject("/virtual/pano.swf", "pano1", "700", "400", "6.0.65", "#EEEEEE"); 
	  so.addVariable("preview","/virtual/<%=@path%>/<%=@listing.id%>_f.jpg");
	  so.addVariable("movie","/virtual/<%=@path%>/<%=@listing.id%>.swf?xml_file=/virtual/<%=@path%>/<%=@listing.id%>.xml");
	  so.addVariable("redirect", window.location);
	  so.addParam("allowFullScreen","true");
	  so.addParam("allowScriptAccess","sameDomain");
	  so.write("flashcontent1");
    </script>
<%else%>   
	<script type="text/javascript">
	  var so = new SWFObject("/virtual/pano.swf", "pano", "100%", "400", "9", "#282828"); 
	  so.addVariable("xml_file", "/virtual/<%=@path%>/partial.xml");
	  so.addVariable("redirect", window.location);
	  so.addParam("allowFullScreen","true");
	  so.addParam("allowScriptAccess","sameDomain");
	  so.write("flashcontent1");
    </script>
<%end%>




					


					<br clear="all" /><br clear="all" />
					</div>					
							<div id="images"  style="color:white;">
								<h3>Images</h3>
								<%
								images = Images.find(:all,:conditions=>"id_product = '#{@listing.id}'")
									if images.length > 0
											imgtab = 6
										if images.length > 12
											imgtab = 9
										elsif images.length > 6
											imgtab = 6
										else
											imgtab = 6
										end
										x = 1
										for img in images
								 if img.paperclipfix.to_s == "1"		
								%>
									<a href="<%=img.photo.url(:large)%>" rel="lightbox[listing]"><img src="<%=img.photo.url(:thumb)%>" onerror="this.src='/images/noimage-90.png'" width="90" height="90" /></a>
								<%
							          else
								%>
									<a href="<%=img.photo.url()%>" rel="lightbox[listing]"><img src="<%=img.photo.url(:thumb)%>" onerror="this.src='/images/noimage-90.png'" width="90" height="90" /></a>
								<%
							          end%>
								<%
											if x == imgtab
												x = 0
								%>				<br>
								<%
											end
											x = x + 1
										end
									end
								%>
							</div>
							
							
							<div id="description" style="color:white;">
							<br><br>
								<h3>Descriptions</h3>
								<%=@listing.Detail%>
							</div>
							
								<!--=====================================================  Contact form    =============================================================-->
								<br><br>
	<div id="askseller" style="display:inline;color:white;">
								<h3>Contact Form</h3>
		
	<div style="top:0px; right:10px;z-index: 100;">
		<p>
	<%
		begin
	      
	                            companies = Companies.find(:all,:conditions=>"id_user = '#{@listing.id_user}'",:order=>"id asc")
								
	                            if companies.length > 0
										x = 1
	                              for comp in companies
											
	                                #if comp.Head.to_s != "0"
										if x == 1
											if comp.Skype!="" and comp.Skype!=nil 
											%>
											<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
											<a href="skype:<%=comp.Skype%>?chat"><img src="http://download.skype.com/share/skypebuttons/buttons/chat_green_transparent_97x23.png" style="border: none;" width="97" height="23" alt="Chat with me" /></a>
											<br>
										<%
											end
										else
											if comp.phone!="" and comp.phone!=nil 
											%>
											<strong>Phone:</strong> <%=comp.phone%>
											
											<%
											end
											break
										end
										x = x + 1
										
										
										
	                                #end
	                              end
	                            end
	     rescue
	     end   # end begin  
	%>
		</p>
	</div>
	<!--<p>Like this property? Contact the owner!</p>-->
	<div id="show2"> </div>
	<div id="sendmessageform2">
	<%if session[:user_id]%>
	
	<%@user = User.find(session[:user_id])%>
	
	<%= form_remote_tag(:update => "show2",
						:loading =>"document.getElementById('indicator_form2').style.display='block';",								
						:complete =>"javascript: document.getElementById('indicator_form2').style.display='none';  document.getElementById('sendmessageform2').style.display='none';",
						:url => { :controller=>'products',:action => :mail2user }
						) %>				
	<table>
		<%= hidden_field 'mail2', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %>
		<%= hidden_field 'mail2', 'Email' ,:value=>"#{@user.Email}"%>
		<%= hidden_field 'mail2', 'Address' ,:value=>"" %>
		<%= hidden_field 'mail2', 'Suburb' ,:value=>"#{@user.Suburb}"%>
		<%= hidden_field 'mail2', 'MobilePhone' ,:value=>"#{@user.Phone}" %>
		
		
		<tr>
			<td colspan=2><br>
				<%= text_area 'mail2', 'Message', :rows=>'5', :size=>'40', :class=> 'listingtextbox' %>
			</td>
		</tr>
		<!--<tr>
			<td colspan=2>
				Request a viewing (optional)<br /> 
				<label style="padding-right:10px;">DATE:</label><input type="text" name="mail[ViewDate]" id="mail_ViewDate" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');" style="width:80px" /><img src="/icon-calendar.gif" style="padding-left:10px;" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');"/>
				
				--><!-- the calendar will be inserted here 
				            <span id="display" style="float: right; clear: both;"></span>
				            <span id="preview" style="font-size: 80%; text-align: center; padding: 2px">&nbsp;</span>
				<br>
			</td>
		</tr>-->
	</table>
	<br>
	<%= hidden_field_tag :id  ,@listing.id%>
	<%= hidden_field 'mail2', 'lat',:value=>@listing.lat%>
	<%= hidden_field 'mail2', 'lng',:value=>@listing.lng%>
	<%= hidden_field 'mail2', 'id_product',:value=>@listing.id%>
	<%= hidden_field 'mail2', 'id_agent',:value=>@listing.id_user%>
	
<%
owner = ""
begin
owner = User.find(@listing.id_user)
rescue
end
if owner != ""
%>
	<%= hidden_field 'mail2', 'toEmail',:value=>owner.Email%>
<%end%>
	<%= hidden_field 'mail2', 'id_user',:value=>session[:user_id]%>
	<%= hidden_field 'mail2', 'customer',:value=>session[:user_id]%>
	<%= hidden_field 'mail2', 'master',:value=>"0"%>
	<%= hidden_field 'mail2', 'custflag',:value=>"0"%>
	
	
	
	<div class="buttons"> 
		<button name="commit" type="submit" onclick="return checkremessageform2()" class="positive" />
			<img src="/images/icons/email_go.png" alt=""/>
			Send Message
		</button>
		<img src="/images/loading.gif" id ='indicator_form2' style ='display:none'/>
	</div> 
	</form>
	<div style="clear:both;"></div>
	<%else%>
		<!---<span style="color:green">You need to login first.</p><p>If you don't have an account, you can register quickly and easily for free.</span>
		-->
		<%= form_remote_tag(:update => "show2",
						:loading =>"show_1_element('indicator_form2')",								
						:complete =>"javascript: document.getElementById('indicator_form2').style.display='none';  document.getElementById('sendmessageform2').style.display='none';",
						:url => { :controller=>'products',:action => :offline_mail2user2 },
						:html => {  :name =>"myform",:id =>"myform"}
						) %>
		<!--<form id="myform" name="myform" action="/products/mail2user">
		-->
	<%= hidden_field_tag :id  ,@listing.id%>
	<%= hidden_field 'mail2', 'lat',:value=>@listing.lat%>
	<%= hidden_field 'mail2', 'lng',:value=>@listing.lng%>
	<%= hidden_field 'mail2', 'id_product',:value=>@listing.id%>
	<%= hidden_field 'mail2', 'id_agent',:value=>@listing.id_user%>
	
	
<%
owner = ""
begin
owner = User.find(@listing.id_user)
rescue
end
if owner != ""
%>
	<%= hidden_field 'mail2', 'toEmail',:value=>owner.Email%>
<%end%>
	
	
	<%= hidden_field 'mail2', 'master',:value=>"0"%>
	<%= hidden_field 'mail2', 'custflag',:value=>"0"%>
	
	
	
		<div id="myform11"><!-- RIGHT CONTACT -->
		<table class="table3px">
			<tr>
				<td><%=I18n.translate('txt.show.name')%>: </td>
				<td><input type="text" name="user[FirstName]" id="user_FirstName2" size="12"/></td>
			</tr>
			<tr>
				<td><%=I18n.translate('txt.show.email')%>: </td>
				<td>
					<input type="text" name="user[Email]" id="user_Email_chk" size="30"/><span name="processing2" id="processing2"></span>
					<span id="validateemail2"><input type="hidden" name="check_contact_email" id="check_contact_email2" value="0"/></span>
					 <%= observe_field(:user_Email_chk,
	                        		:on => :blur,
									:method => :get,
	                        		:update => :validateemail2,
									:loading=>"javascript: document.getElementById('processing2').style.display='block';",
									:complete =>"javascript: document.getElementById('processing2').style.display='none'; setcontactform2(); ",
	                        		:url => { :controller=>'products',:action => 'validateemail3'},
									:with => "'email='+escape($('user_Email_chk').value) ") %>
									
				</td>
			</tr>
			<tr>
				<td valign=top><%=I18n.translate('txt.show.message')%>: </td>
				<td><textarea name='mail2[Message]' id="mail2_Message" rows='5' cols='30' class='listingtextbox' ></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div id="bottom11" style="display:block;"><input type="submit" name="submit" id="submit" value="Send the message" onclick="return chkcontactform2('0');"/></div>
					<div id="bottom22" style="display:none;"><input type="submit" name="submit2" id="submit2" value="Send the message" onclick="return chkcontactform2('1');"/></div>
					
				</td>
			</tr>
		</table>
		</div>
		<div id="myform22" style="display:none;">
			<table>
				<tr>
					<td><%=I18n.translate('txt.show.email')%>: </td>
					<td>
						<input type="text" name="user2[Email2]" id="user_Email22" size="30"/>
					</td>
				</tr>	
				<tr>
					<td><%=I18n.translate('txt.show.password')%>: </td>
					<td>
						<input type="password" name="user2[password]" id="user_password" size="30"/>
					</td>
				</tr>	
				<tr>
					<td><a href="#" onclick="goback2();"> << back </a></td>
					<td>
						<br>
						<div id="bottom3" style="display:block;"><input type="submit" name="submit3" id="submit3" value="Send Message" onclick="return chkcontactform2('2');"/></div>
					</td>
				</tr>
			</table>
		</div>
					
					<img src="/images/loading.gif" id ='indicator_form2' style ='display:none'/>
		
		</form>
	<%end%>
	</div>
	
	
	</div>
	
	
	<!--=====================================================  End Contact form =============================================================-->
	
	<div id="showmap">
		<br>
		<div id="map" style="width:450px;height:300px;min-height:300px;background-color: #999999;overflow:hidden"></div>
	</div>
				</td>
			</tr>
		</table>
		
		<br clear="all" /><br clear="all" />

		
	</div>  
</div> 


</body>

</html>












