
					<%if @listings.length > 0%>
					
						<%= will_paginate @listings %>
					<%
						for l in @listings
								#----------------------------------------------------------------------------
								listingtype =""
						        if l.Type.to_s != '0' and l.Type.to_s != "" and l.Type !=nil
						          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{l.Type}'")
						          if listings.length > 0
						            for lt in listings
						              listingtype = "#{lt.Name}"
						              break
						            end
						          end
						        end
								#----------------------------------------------------------------------------
								images = Images.find(:all,:conditions=>"id_product = '#{l.id}'")
								myimages = "/images/noimage-120.png"
								if images.length > 0
									for image in images
												myimages =  "#{image.photo.url(:thumb)}"
											break
									end
								end
								#----------------------------------------------------------------------------
					%>
							<div id="listingblock">
								<a href="/virtual/show/<%=l.id%>"><img src="<%=myimages%>" onerror="this.src='/images/noimage-120.png'" width="120" /></a>
								<div id="listing">
									<span><%=number_to_currency(l.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>Baht</small></span><br>
									<%if l.Bed.to_i == 6%> 6+ Bed<%elsif l.Bed.to_i > 0%> <%=l.Bed%> Bed<%else%>Studio<%end%>, <%=l.Bath%> Bath<br>
									<div class="location"><%=listingtype%></div>
								</div>
							</div>
						<%end  #end_for_l_in_@listings%>
					<%else%>
						<span style="color:green;">Don't have Listings</span>
					<%end%>
					<br clear="all" /><br clear="all" />
					
