<div style="color:#fff;">
<script type="text/javascript" src="/virtual/swfobject.js"></script>		
<div id="flashcontent1">This content requires <a href="http://www.adobe.com/go/getflashplayer/">Adobe Flash Player</a> and a browser with JavaScript enabled.<br />Built on <a href="http://flashpanoramas.com/player/">Flash Panorama Player</a>.</div>
<%if @listing.Virtual.to_s =='1' %> 
    <script type="text/javascript">
	  var so = new SWFObject("/virtual/preview_pano.swf", "pano1", "700", "400", "6.0.65", "#EEEEEE"); 
	  so.addVariable("preview","/virtual/<%=@path%>/<%=@listing.id%>_f.jpg");
	  so.addVariable("movie","/virtual/<%=@path%>/<%=@listing.id%>.swf?xml_file=/virtual/<%=@path%>/<%=@listing.id%>.xml");
	  so.addVariable("redirect", window.location);
	  so.addParam("allowFullScreen","true");
	  so.addParam("allowScriptAccess","sameDomain");
	  so.write("flashcontent1");
    </script>
<%else%>   
	<script type="text/javascript">
	  var so = new SWFObject("/virtual/pano.swf", "pano", "100%", "400", "9", "#282828"); 
	  so.addVariable("xml_file", "/virtual/<%=@path%>/partial.xml");
	  so.addVariable("redirect", window.location);
	  so.addParam("allowFullScreen","true");
	  so.addParam("allowScriptAccess","sameDomain");
	  so.write("flashcontent1");
    </script>
<%end%>


</div>
