
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<script src="/javascripts/listings.js" type="text/javascript"></script>
<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>




<!-- SEO -->
<%
@page_title = I18n.translate('txt.search.page_title',:seo=>params[:seo])
@page_desc = I18n.translate('txt.search.page_desc',:seo=>params[:seo])
@page_keywords = I18n.translate('txt.search.page_keywords')
%>



<h1>Find a Real Estate Agency in Thailand</h1>


<style>
<!--
li {margin-bottom:5px;}
-->
</style>






<!-- START LEFT BAR -->
<div style="width:230px;float:left;">

	<div style="padding:5px;background-color:#dee2e4; margin-bottom:15px;">

		<p><strong>Find an Agency in a major city:</strong></p>
<%
agent_bkk = Companies.find(:all,:select=>"users.level,companies.id",:conditions=> "companies.Head = '0' and companies.city = 'Bangkok' and users.UserType ='g' ",:joins=>" INNER JOIN users ON users.id = companies.id_user")
agent_pty = Companies.find(:all,:select=>"users.level,companies.id",:conditions=> "companies.Head = '0' and companies.city = 'Pattaya' and users.UserType ='g' ",:joins=>" INNER JOIN users ON users.id = companies.id_user")
agent_phk = Companies.find(:all,:select=>"users.level,companies.id",:conditions=> "companies.Head = '0' and companies.city = 'Phuket' and users.UserType ='g' ",:joins=>" INNER JOIN users ON users.id = companies.id_user")
agent_cm = Companies.find(:all,:select=>"users.level,companies.id",:conditions=> "companies.Head = '0' and companies.city = 'Chiang Mai' and users.UserType ='g' ",:joins=>" INNER JOIN users ON users.id = companies.id_user")
%>
		<ul style="margin-left:10px;">
			<li><a href="/agency/allagencies?location=Bangkok" style="color:#333">Bangkok Agents(<%=agent_bkk.length%>)</a></li>
			<li><a href="/agency/allagencies?location=Pattaya" style="color:#333">Pattaya Agents(<%=agent_pty.length%>)</a></li>
			<li><a href="/agency/allagencies?location=Phuket" style="color:#333">Phuket Agents(<%=agent_phk.length%>)</a></li>
			<li><a href="/agency/allagencies?location=Chiang Mai" style="color:#333">Chiang Mai Agents(<%=agent_cm.length%>)</a></li>
		</ul>
		
	<br>
	
		<span><strong>Other areas:</strong></span>
		<form action="/agency/allagencies" method="post" name="filter">
			<select name="location" id="location" onchange="document.filter.submit(); " >
			<option value="0" selected="selected">All Locations</option>
			<option value="Pattaya" <%if params[:location].to_s =="Pattaya"%> selected="selected" <%end%> >Pattaya(<%=agent_pty.length%>)</option>
			<option value="Bangkok" <%if params[:location].to_s =="Bangkok"%> selected="selected" <%end%>  >Bangkok(<%=agent_bkk.length%>)</option>
			<option value="Phuket" <%if params[:location].to_s =="Phuket"%> selected="selected" <%end%>  >Phuket(<%=agent_phk.length%>)</option>
			<option value="Chiang Mai" <%if params[:location].to_s =="Chiang Mai"%> selected="selected" <%end%>  >Chiang Mai(<%=agent_cm.length%>)</option>
			<option value="0">------------------------------------------</option>
			<option value="0">     </option>
			<%
				provinces = Province.find(:all,:order=>"name asc ")
				for p in provinces
								city = "txt.province.#{p.name.downcase}"
									while city[" "]				
										city[" "] ="_"		
									end
								city = I18n.translate(city)
				agentcount=0
				begin				
					agents = Companies.find(:all,:select=>"id",:conditions=> "companies.Head = '0' and companies.city = '#{p.name}' ")
					agentcount=agents.length
				rescue
					agentcount=0
				end
			%>	
				<option value="<%=p.name%>" <%if params[:location].to_s ==p.name.to_s%> selected="selected" <%end%> ><%=city%>(<%=agentcount%>)</option>
			<%end	%>
			</select>
		</form>
		
		
		
		
	</div>

<!-- Agent-left-TH-skyscraper -->
<script type='text/javascript'>
GA_googleFillSlot("Agent-left-TH-skyscraper");
</script>


	
</div>
<!-- // END LEFT BAR -->


















<!-- START RIGHT MAIN CONTENT -->
<div style="width:700px;margin-left:250px;">
	
	<%if @agencies.length <= 0%>
		<span style="color:red;">Sorry, No agencies in this area</span>
		<br><br><br><br><br><br><br><br><br><br><br><br>
	<%else%>
	
	
	
	<%for a in @agencies
	user = ""
	begin
		user = User.find(a.id_user)
	rescue
	user = ""
	end
		#if user !=""
		#if user.UserType.to_s == "g" 
						a_image = "/images/noimage-120.png"
						a_image2 = "/images/noimage-120.png"
						if a.logo.to_i > 0
							begin
							image = Businesslogo.find(a.logo)
							if image
								a_image= image.public_filename(:medium)
								a_image2= image.public_filename()
							end
							rescue
							end
						end
			listings = Product.find(:all,:conditions=>"Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null) and id_user = '#{a.id_user}'")
			
				fullname = Companies.find(a.id).Name
	
	
				agencyname = a.Name
				while agencyname[" "]
					agencyname[" "]= "-"
				end
				while agencyname["."]
					agencyname["."]= ","
				end
				while agencyname["/"]
					agencyname["/"]= ""
				end
			%>
			
			<div class="findagency-blocks">
				<table width="678">
					<tr>
						<td><a href="/agency/<%=agencyname.gsub(/\//,'-')%>-<%=a.id%>"><img src="<%=a_image%>" onerror="this.src='<%=a_image2%>'" style="margin-right: 5px; width:120px; padding:5px;"  align="left"></a></td>
						<td><h2><a href="/agency/<%=agencyname.gsub(/\//,'-')%>-<%=a.id%>"><%=fullname%></a></h2>
					<table>
						<tr>
							<td width="60"><strong>Phone:</strong></td>
							<td width="184">
								<%
								begin
									hdetails = Companies.find(:all,:conditions=>"Head = '#{a.id}'",:limit=>1)
								%>
									<%=hdetails[0].phone%>
								<%
								rescue
								end
								%>
							</td>
							<td width="6">&nbsp;</td>
							<!--<td width="108">Houses for Rent:</td>-->
							<td width="93">&nbsp;</td>
						</tr>
						<tr>
							<td><strong>Website:</strong></td>
							<td><%
								strlink=""
								strlink = a.Url
								if strlink["http://"] or  strlink["https://"]
									%>
							  <a href="<%=a.Url%>" target="_blank"><small><%=a.Url%></small></a>
							  <%else%>
							  <a href="http://<%=a.Url%>" target="_blank"><small><%=a.Url%></small></a>
							  <%end%></td>
							<td>&nbsp;</td>
							<!--<td>Houses for Sale:</td>-->
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><strong>Address:</strong></td>
							<td><%=a.Address%></td>
							<td>&nbsp;</td>
							<!--<td>Condos for Rent:</td>-->
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><strong>Listings:</strong></td>
							<td><%=listings.length%> - <a href="/agency/<%=a.Name%>-<%=a.id%>">Click here to view listings</a></td>
							<td>&nbsp;</td>
							<!--<td>Condos for Sale:</td>-->
							<td>&nbsp;</td>
						</tr>
					</table></td>
					</tr>
				</table>				

			</div>
			
		<%#end%>
		<%#end%>
		<%end%>
		<%= will_paginate @agencies %>
	<%end%>
	
</div>
<!-- // END RIGHT MAIN CONTENT -->

















