
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<script src="/javascripts/listings.js" type="text/javascript"></script>
<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>
<!-- SEO -->
<%
@page_title = I18n.translate('txt.search.page_title',:seo=>params[:seo])
@page_desc = I18n.translate('txt.search.page_desc',:seo=>params[:seo])
@page_keywords = I18n.translate('txt.search.page_keywords')
%>
<!-- // END SEO -->
<script type="text/javascript">
	function showminimap(id,lat,lng){
		var ggkey = document.getElementById('gkey').value;
		if(document.getElementById(id).innerHTML == ""){
			document.getElementById(id).innerHTML="<img src=\"http://maps.google.com/maps/api/staticmap?center="+lat+","+lng+"&zoom=13&size=500x160&sensor=false&markers=size:mid|color:red|"+lat+","+lng+"&key="+ggkey+"&maptype=hybrid\" />";
		}
		if(document.getElementById(id).style.display=="block"){
			document.getElementById(id).style.display="none";
		}else{
			document.getElementById(id).style.display="block";
		}
	}
</script>



<h1><%=@agency.Name%></h1>

<table>
	<tr>
		<td valign="top">	

			<%
			agencydetails = Companies.find(:all,:conditions=>"Head = '#{@agency.id}'")
			agencydetail = Companies.new
			for ad in agencydetails	
				agencydetail = ad
				break
			end
			%>

			<table style="font-size:12px;line-height:20px;" class="table3px">
				<tr>
					<td><strong><%=I18n.translate('txt.show.phone')%>:</strong></td>
					<td><%begin%><%if agencydetail.phone.to_s.length >= 9 %><%=agencydetail.phone%><%else%><%user = User.find(agencydetail.id_user)%><%=user.Phone%><%end%><%rescue%><%end%></td>
				</tr>
				<tr>
					<td><strong>Skype:</strong></td>
					<td>
						<%begin%>
						<%if @agency.Skype.to_s !=""%>
						<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
						<a href="skype:<%=@agency.Skype%>?chat"><img src="http://download.skype.com/share/skypebuttons/buttons/chat_green_transparent_97x23.png" style="border: none;" width="97" height="23" alt="Chat with me" /></a>
						<%
						end
						rescue
						end
						%>
						
					</td>
				</tr>
				<tr>
					<td><strong><%=I18n.translate('txt.show.website')%>:</strong></td>
<!--					<td><a href="http://<%=@agency.Url%>" target="_blank"><%=@agency.Url%></a></td> -->
					
				<td>	
			<%
			strlink=""
			strlink = @agency.Url
			if strlink["http://"] or  strlink["https://"]
				%>
				<a href="<%=@agency.Url%>" target="_blank"><small><%=@agency.Url%></small></a>
			<%else%>
				<a href="http://<%=@agency.Url%>" target="_blank"><small><%=@agency.Url%></small></a>
			<%end%>
					</td>
					
					
				</tr>
				<tr>
					<td><strong><%=I18n.translate('txt.show.years-in-business')%>:</strong></td>
					<td><%=@agency.Years%></td>
				</tr>
				<tr>
					<td><strong><%=I18n.translate('txt.show.address')%>:</strong></td>
					<td><%=@agency.Address%></td>
				</tr>
				<tr>
					<td><strong><%=I18n.translate('txt.show.listingsonline')%>:</strong></td>
					<td><%=number_to_currency(@alllistings.length, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
				</tr>
			</table>
		</td>
		<td valign="top" width="250" style="padding-left:20px">
				<%
				if @agency.logo.to_i > 0
					begin
					image = Businesslogo.find(@agency.logo)
					if image
						%><img src="<%=image.public_filename(:medium)%>" onerror="this.src='<%=image.public_filename()%>'" width="250px"  />&nbsp;<%
					else	
						%><img src="/images/noimage-350.png" width="250px"  />&nbsp;<%
					end
						rescue
						%><img src="/images/noimage-350.png" width="250px"  />&nbsp;<%
						end
				else	
					%><img src="images/noimage-350.png" width="250px"  />&nbsp;<%
				end
				%>
			
		</td>
	</tr>
</table><br>
<table width="740px" style="font-size:12px;line-height:19px;">
	<tr>
		<td width="360px;" style="font-size:13px;"><strong><%=I18n.translate('txt.show.aboutus')%>:</strong></td>
<!--		<td width="360px;" style="padding-left:20px;font-size:13px;"><strong>Services:</strong></td>-->
	</tr>
	<tr>
		
		<td style="padding-top:5px;color:#333;" valign="top"><%=@agency.Detail%></td>
<!--		<td style="padding-top:5px;padding-left:20px;color:#333;" valign="top"><%=@agency.Services%></td>-->
	</tr>
</table>

<br>

<% page = request.request_uri %>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.rethai.com<%= page %>" show_faces="true" width="450" action="recommend"></fb:like>

<br>
	<hr size="1" color="#AAA">
<br>






<h2><%=@agency.Name%> Listings</h2>
<%if @listings.length <= 0%>
	<span style="color:red;">No Listings</span>
<%else%>

	<%
	mypartner = "rethai"
	 if RAILS_ENV =="development"
			ggkey="ABQIAAAAmJz8xm-Ja_ZK1XQwhiJzDBQZkXe_EpvnrmZpXiq6nSo1ISoWFhQ531AAdomVJEComYTNoI683GmTDQ"
		elsif RAILS_ENV =="alpha"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxR0Xo7zTDC_U-tJDD8CxNO7k9fpYxRpeu3fima4Ta4vg6ODpI5NgXviMA"
		elsif RAILS_ENV =="beta"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxSd5RqMbDNAFH1RgBBdxtpXobdYtxQHOioi6Sst-rpb6lixEE19bYuVOA"
		elsif RAILS_ENV =="production"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxTTuA6xppXR1MBY8ubG39QnXYmYuxQj2fBmwYDbHycsFhETWma7qU4GQw"
		end
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
txtsqm = 	I18n.translate('txt.listingtype.sqm')
%>	

		<!-- for mini map-->
		<input type="hidden" name="gkey" id="gkey" value="<%=ggkey%>" />	
<!--============================================================================================================================-->

		<%	i =  0#setpage.to_i  #((@listings.length.to_i) -1) + setpage.to_i
		  for listing in @listings
				
					listingprice = ""
			       if listing.salerent.to_s == '1'  # sale        
						link_salerent = "Sale" 
						seosalerent="Sale"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			             strprice = listing.Price
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end   
			                listingprice = "#{strprice} <small>Baht</small>"
			        elsif listing.salerent.to_s == '0' # rent    
						link_salerent = "Rent"
						seosalerent="Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
			            strprice = listing.RPrice
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end  
			             listingprice = "#{strprice} <small>Baht / Month</small>"
			        else  # sale / rent   
						link_salerent = "Sale or Rent"
						seosalerent="Sale or Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
			                strprice = listing.Price
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                  
			                end  
			                listingprice = "#{strprice} <small>Baht</small>"
			                
			                
			                strprice = listing.RPrice
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                end                  
			                listingprice = listingprice + "  #{strprice} <small>Baht / Month</small>"
			        end 
						#seosalerent = seosalerent	
						while seosalerent[" "]				
							seosalerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)



			#end if @listing.salerent
			    # ============  end set price  ===========================================================
			    compdetail=""
			    begin
			      
			    						comp = nil
			                            companies = Companies.find(:all,:conditions=>"id_user = '#{listing.id_user}'",:order=>"id asc")
			                            if companies.length > 0
											x = 1
			                              for comp in companies
			                                if comp.logo !="" and comp.logo !=nil and comp.logo !='0' and x == 1
			                                  logo = Businesslogo.find(comp.logo)
			                                  compdetail= "    <img src=\"#{logo.public_filename(:small)}\" />  \n<p>#{comp.Name}<br /></p>"
			                                   #break
			                                end
											if x > 1 
			                                   break
			                                end
								
											x =x + 1
			                              end
			                            end
			    rescue
			     end   # end begin

	                            
			      sqm=""
			    if listing.SQM.to_s !="0" and listing.SQM.to_s !="" and listing.SQM.to_s !=nil
			        sqm = "<small>#{number_to_currency(listing.SQM, :unit =>"", :precision =>0)} #{txtsqm}</small>"
			    end   
			    #get parking
			        parking =" "
			        if listing.Parking.to_s != '0' and listing.Parking.to_s != "" and listing.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
			              break
			            end
			          end
			        end
			      #get listing type
			        listingtype =" "
					seo_listingtype=""
			        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"
						if seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end	
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							seo_listingtype = ""
							seo_listingtype << showlistingtype
						if seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end


			              break
			            end
			          end
			        end  
			        if listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = listing.Bed + " " + bedroom
			        end
			        city = ""
					if listing.City.to_s !="" and listing.City.to_s !="0" and listing.City != nil
						city = " <br>#{listing.City}"
						link_city = "#{listing.City}"
						showcity = "txt.province.#{listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

			        if listing.Type.to_s == "5" 
			         text = "<div id=listing><span class=listing-smallfont>#{listingtype.gsub(/\//,'-')} #{showcity.gsub(/\//,'-')}<br>#{sqm}</span></div>"
			       else
			         text = "<div id=listing><span class=listing-smallfont><strong>#{mybedroom}</strong>, #{listing.Bath} #{bathroom} <br>#{listingtype.gsub(/\//,'-')} #{showcity.gsub(/\//,'-')} #{txtfor} #{salerent.gsub(/\//,'-')}<br><small>#{parking.gsub(/\//,'-')}</small><br>#{sqm}</span></div>"
			       end
			       
				myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:thumb)}"
					break
			    end
					
		%>
		
		
		



<%if listing.SearchFeatured.to_s =="1"%>
	<div id="listingboxes-featured" style="float:left;width:460px;margin-right:10px;">
<%else%>	
	<div id="listingboxes" style="float:left;width:460px;margin-right:10px;">
<%end%>
<!--
<div id="show_<%=listing.id%>"  onmouseover="mymouseover(<%=i%>);" onmouseout="mymouseout(<%=i%>);">
	-->
  <div id="show_<%=listing.id%>" ><!-- onmouseover="mymouseover(<%=listing.id%>);" onmouseout="mymouseout(<%=listing.id%>);">-->
  <div class="bizdetails">
  	<%if comp != nil%>
	   <%=compdetail%>
	   <p><small><%=comp.phone%></small></p>
	<%end%>
  </div>

  <h2><a href="/<%=mypartner%>/<%=showcity.gsub(/\//,'-')%>-<%=seo_listingtype.gsub(/\//,'-')%>-<%=I18n.translate("txt.listingtype.for")%>-<%=lsalerent.gsub(/\//,'-')%>-<%=listing.Price%>-<%=listing.id%>" target="_blank"><%=listingprice%></a></h2>
	
    <a href="/<%=mypartner%>/<%=showcity.gsub(/\//,'-')%>-<%=seo_listingtype.gsub(/\//,'-')%>-<%=I18n.translate("txt.listingtype.for")%>-<%=lsalerent.gsub(/\//,'-')%>-<%=listing.Price%>-<%=listing.id%>" target="_blank" ><img src="<%=myimages%>" onerror="this.src='/images/noimage-90.png'" align="left" width="90" height="90" class="listingimage" /></a>

    <div class="bedbath"><%=text%></div>
    
<!--    <div class="bottomlinks"><a href="#">Compare</a> <a href="#">Preview</a> <a href="#">Ful Details</a> <a href="#">Add to favorites</a></div>-->
    <div id="command_<%=listing.id%>" class="bottomlinks">
		<small>
			<a href="/<%=mypartner%>/<%=showcity.gsub(/\//,'-')%>-<%=seo_listingtype.gsub(/\//,'-')%>-<%=I18n.translate("txt.listingtype.for")%>-<%=lsalerent.gsub(/\//,'-')%>-<%=listing.Price%>-<%=listing.id%>" target="_blank" >Full Details</a>
			<a href="#command_<%=listing.id%>" onclick="showminimap('map_<%=listing.id%>','<%=listing.lat%>','<%=listing.lng%>')">Map</a>
		</small>
	</div>
		<input type="hidden" name="textlink_<%=listing.id%>" id="textlink_<%=listing.id%>" value="<%=showcity.gsub(/\//,'-')%>-<%=seo_listingtype.gsub(/\//,'-')%>-<%=I18n.translate("txt.listingtype.for")%>-<%=lsalerent.gsub(/\//,'-')%>-<%=listing.Price%>"/>
		<!-- show mini map-->
		<div id="map_<%=listing.id%>" style="display:none;margin-top:5px;"></div>
		<!-- ======= end show mini map  ==================-->
		
</div>
</div>



			
		<%
		i = i + 1
		end # end for listing in @listings
		%>
<!--============================================================================================================================-->


<br clear="all" /><br clear="all" />

	<%= will_paginate @listings%>
<%end%>

<br clear="all" />



