<%
if @agency.Url !="" and @agency.Url != nil
strurl = @agency.Url
if strurl["http://"]
	strurl["http://"] = ""
end
if strurl["https://"]
	strurl["https://"] = ""
end
if strurl["www."]
	strurl["www."] = ""
end
%>
<iframe src="http://www.<%=strurl%>" width="100%" height="100%" MARGINHEIGHT="100%">
  <p>Your browser does not support iframes.</p>
</iframe>

<%else%>
<span style="color:red;">Sorry,Don't have site</span>
<%end%>