@charset "utf-8";
/* CSS Document */


/******************************************************
	RETHAI API SITE
*****************************************************
a, a:link, a:active, a:visited {
	color:#404c36;
}
*/


body, html {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;

}



/******************************************************
	CITY AJAX STYLE
******************************************************/


#shadowmap {
	position:absolute; 
	display:none; 
	top:168px; 
	width:275px; 
	height:350px; 
	min-height:500px; 
	z-index:25;
	background-color: #000000; 
	opacity: 0.7; 
	filter:alpha(opacity=70);
}


#list-searchform p {
	margin-top:15px;
	margin-bottom:5px;
	line-height:12px;
	padding-bottom:0px;
	font-size:12px;
}


/******************************************************
	GENERAL SMALL BITS
******************************************************/

.loginform {
	width:400px;
	float:left;
}
.loginform td {
	padding:3px;
}
p img { margin: 0 0 -3px 0; }
#notice {
	padding:5px;
	border:1px solid #ffee5c; 
	background-color:#fffad3; 
	margin-bottom:5px;
}

.tooltip {
	background-color:#ffffff;
	font-weight:normal;
	border:1px #516a20 solid;
	padding: 5px;
}


.search-left-free {
	padding:5px;
	color:#fff;
}
.search-left-free a:link, .search-left-free a:visited {
	color:#b4f800;
}
.search-left-free a:hover {
	text-decoration:underline;
	color:#b4f800;
}



/******************************************************
	SEARCH RESULTS BOXES
******************************************************/

#searchheaderblock {
	width:980px;
}
#searchresultboxes {
	float:left; 
	width:500px; 
	margin-left:5px;
}

#listingboxes {
	width:500px; 
	height:150px;
	background-color:#f6f6f6; 
	border:1px solid #f6f6f6;
	border-bottom:1px solid #94a5a4; 
	padding:5px;
	margin-top:5px;
	marrgin-bottom:5px;
}
#listingboxes:hover{
	border:1px solid #94a5a4;
	background-color:#f0f0f0;
}
#listingboxes h2 {
	color:#404c36;
	font-size:20px;
	padding:0 0 10px;
	line-height:20px;
	letter-spacing:-1px;
	text-decoration:none;
	font-weight:normal;
}
#listingboxes h2 a  {
	margin:0 0 5px;
	text-decoration:none;
	color:#404c36;
}
#listingboxes small {
	font-size:11px;
	color:#77816f;
}

#listingboxes-featured {
	width:500px; 
	background-color:#fffee8; 
	border:1px solid #f6f6f6;
	border-bottom:1px solid #a7a67c; 
	padding:5px;
	margin-top:5px;
	marrgin-bottom:5px;
}
#listingboxes-featured:hover{
	border:1px solid #a7a67c;
	background-color:#fffddd;
}
#listingboxes-featured h2 {
	color:#404c36;
	font-size:20px;
	padding:0 0 10px;
	line-height:20px;
	letter-spacing:-1px;
	text-decoration:none;
	font-weight:normal;
}
#listingboxes-featured h2 a  {
	margin:0 0 5px;
	text-decoration:none;
	color:#404c36;
}
#listingboxes-featured small {
	font-size:11px;
	color:#77816f;
}
.listingimage  {
	padding: 0px 10px 0px 0px;
}


.bizdetails {
	width:150px;
	float:right;
}
.bizdetails p {
	font-size:11px;
	color:#688e00;
}
.bizdetails span {
	color:#272727;
}
.bedbath {
	height:90px;
	width:330px;
	color:#3d3d3d;
	font-size:12px;
}

.bottomlinks {
	font-size:11px;

}
.bottomlinks a {
	margin-left:10px;
	color:#3d3d3d;
}





.listingpreview {
	display:none;
	background-color: #f3f3f3;
	width:498px;
	padding: 10px;
	border-bottom:1px solid #94a5a4; 
	border-left:1px solid #94a5a4; 
	border-right:1px solid #94a5a4; 
}


#listingheader {
	background-color:#dee2e4; 
	width:785px; 
	margin-left:5px; 
	border-bottom:1px solid #94a5a4;
	padding:5px;
	color:#4d6367;
	float:left;
}



.highlowlink a {
	color:#253e47;
}

.highlowlink a:hover {
	text-decoration:none;
}








/******************************************************
	LEFT REFINE SEARCH BOX
******************************************************/

#list-searchform {
	padding:5px;
	background-color:#e3e7e4;
	margin-top:5px;
}




#refinesearch {
	float:left;
	width:170px; 
	padding:5px;
	background-color:#3b4f4d;
	font-size: 14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	border-bottom:1px solid #3b4f4d;;
}





/******************************************************
	COMPARE SEARCH
******************************************************/

#compare_form {
	border:1px solid #94a5a4;
	margin-top:15px;
	margin-bottom:15px;
	padding:5px;
}
#compare_form h3 {
	font-size: 14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:3px;
	background-color:#3b4f4d;
	color:#fff;

}

#showcompare div {
	border-top:1px solid #94a5a4;
	margin-bottom:5px;
	width:168px;
}
#showcompare table {
	margin-top:5px;
}
#compare_form a {
	color:#5b7b00;
}


#comparetable {
	background-color:#fff;
	
}
#comparetable td {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	border:1px solid #cccccc;
}
#comparetable .remove {
	color:#999;
	font-size:11px;
}

#comparetable tr:hover {
	background-color:#ecf4d5;
}
.viewfulllisting  {
	color:#5b7b00;
}
.viewfulllisting:hover {
	text-decoration:none;
}

.pagination {
	margin-:10px;
	font-size:14px;
}











/******************************************************
	VIEW LISTING
******************************************************/
#show{
		/* style="border:1px solid #eff6fa; "*/
opacity:1.0;
filter:alpha(opacity=100);
border:1px solid #FFFFFF;
	}
#show:hover{
/*background:#DAEFEA;*/
opacity:1.0;
filter:alpha(opacity=100);
border:1px solid #C90A65;
}


#show a:link {
	text-decoration: none;
}
#show a:visited {
	text-decoration: none;
}
#show a:hover {
	text-decoration: none;
}
#show a:active {
	text-decoration: none;
}


h1 small {
	font-size:12px;
}
h1 span {
	font-size:14px;
	color:#728588;
	margin-left:20px;
}
#showlisting {
	width:980px;
}
#showlisting .left {
	float:left;
	width:350px;
}

#showlisting .middle {
	float:left;
	width:290px;
	margin-left:10px;
}

#showlisting .right {
	float:left;
	width:310px;
	margin-left:10px;
	padding-left:9px;
	border-left:1px solid #ccc;
}


.listingdesctable td {
	padding:4px;
	border-bottom:1px dotted #ddd;
}
.listingdesctable strong {
	margin-right:15px;
	color:#2c3133;
}
.listingdesctable table {
	width:350px;
}

div#relatedlistings {
	margin-bottom:4px;
	margin-top:4px;
	border-bottom:1px dotted #ddd;
}
div#relatedlistings:hover{
	background-color:#ecf4d5;
}
#relatedlistings a {
	color:#333;
}
#relatedlistings {
	font-size:12px;
}
#relatedlistings a small {
	font-weight:normal;
}

h4  {
	font-family: Helvetica, Calibri, Arial, Verdana;
	font-size:16px;
	color:#6e8927;
	font-weight:bold;
}

.middle h5, .left h5, #contact_business h5 {
	padding:3px;
	background-color:#246176;
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding:3px;
}

.right h5, contact_business h5, contact_listing h5, #send2friendform h5 {
	padding:3px;
	background-color:#678d00;
	font-size:18px;
	color:#fff;
	border-bottom:1px solid #fff;
	font-weight:normal;
	line-height:normal;
}
.right h5 a {
	color:#fff;
	font-weight:normal;
	line-height:normal;
	text-decoration:none;	
}
.right h5:hover {
	background-color:#4f6c00;
	font-weight:normal;
	line-height:normal;
}

h5 a span {
	text-decoration:underline;
	float:right;
	font-size:11px;
	margin-top:4px;
}


p {
	line-height:18px;
}





/******************************************************
	REGISTER
******************************************************/



#register table td {
	padding:2px;
}








/******************************************************
	ADD LISTING
******************************************************/



.addlistingtable td {
	padding:3px;
}

#confirmdetail b {
	padding-right:10px;
}




























#featagencyblock {
	border:1px solid #94a5a4;
	margin-top:15px;
	margin-bottom:15px;
	padding:5px;
}
#featagencyblock h3 {
	font-size: 14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:3px;
	background-color:#3b4f4d;
	color:#fff;

}














