/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/
/**
 * YUI Base
 * @module base
 * @namespace yui-
 * @requires reset, fonts
*/

body {
	/* For breathing room between content and viewport. */
	margin:0;
}

h1 {
	/* 18px via YUI Fonts CSS foundation. */
	font-size: 190%;
	color:#363b40;
}

h2 {
	/* 16px via YUI Fonts CSS foundation. */
	font-size: 150%;
	color:#363b40;
}

h3 {
	/* 14px via YUI Fonts CSS foundation. */
	font-size: 130%;
	color:#4a5055;

}
h1,h2,h3 {
	/* Top & bottom margin based on font size. */
}

strong,dt {
	/* Bringing boldness back to headers and the strong element. */
	font-weight: bold;
}
optgroup {
	font-weight:normal;
}

abbr,acronym {
	/* Indicating to users that more info is available. */
	border-bottom: 1px dotted #000;
	cursor: help;
}

em {
	/* Bringing italics back to the em element. */
	font-style: italic;
}

del {
	/* Striking deleted phrases. */
	text-decoration: line-through;
}

blockquote,ul,ol,dl {
	/* Giving blockquotes and lists room to breath. */
}

ol,ul,dl {
	/* Bringing lists on to the page with breathing room. */
}

ol li {
	/* Giving OL's LIs generated numbers. */
	list-style: decimal outside;
}

ul li {
	/* Giving UL's LIs generated disc markers.
	list-style-type:disc;
	margin-left:20px;
	margin-bottom:5px; */
}

dl dd {
	/* Giving UL's LIs generated numbers. */
	margin-left: 1em;
}

th,td {
	/* Borders and padding to make the table readable. */
	padding: 0;
}
th {
	padding-top:0
}

caption {
	/* Coordinated margin to match cell's padding. */
	margin-bottom: .5em;
	/* Centered so it doesn't blend in to other content. */
	text-align: center;
}

sup {
	/* to preserve line-height and selector appearance */
	vertical-align: super;
}

sub {
	/* to preserve line-height and selector appearance */
	vertical-align: sub;
}

p,
fieldset,
pre {
	/* So things don't run into each other. */
	margin-bottom: 1em;
	
}
table {
	margin-bottom: .3em;
}


/* Opera requires 1px of passing to render with contemporary native chrome */
button,
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"] {
	padding:1px;
}

p, h1, h2, h3, h4 {
	line-height:150%;
}


