
<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
%>	
<div class="new-list-searchform">
	<%= form_tag ("/rethai/search")%>
    <p style="margin-top:0px;padding-top:0px;"><strong><%=I18n.translate('txt.listingtype.i-want-to')%>:</strong></p>
       <select name="salerent" id="salerent">
			<option value="2" <%if session[:salerent].to_s =="2"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy-rent')%>&nbsp;&nbsp;</option>
			<option value="1" <%if session[:salerent].to_s =="1"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy')%>&nbsp;&nbsp;</option>
			<option value="0" <%if session[:salerent].to_s =="0"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.rent')%>&nbsp;&nbsp;</option>
       </select>

<div style="display:none;">
 	
    <p><%=I18n.translate('txt.listingtype.propertytype')%>: </p>
    <select name="propertytype" id="propertytype">
    <%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
	<option value="0" selected="selected"><%=I18n.translate('txt.listingtype.listingtype')%></option>
    <%for lt in listingtypes%>
			<%
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
						
			%>
        <option value="<%=lt.Value%>" <%if session[:propertytype].to_s == lt.Value.to_s %> selected="selected" <%end%>><%=showlistingtype%></option>
    <%end%>
    </select>
    
    
    <p><b><%=I18n.translate('txt.listingtype.city')%>:</b></p>
        <input id="code" name="code" size="15" type="text" value="<% if session[:location] != ""%><%=session[:location]%><%else%>Pattaya<%end%>"  style="width:150px;" /><div class="auto_complete" id="code_detail"></div><script type="text/javascript">
        //<![CDATA[
        var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('code').value) }, method:'get', paramName:'code'})
        //]]>
        </script> 
    
</div>


	
    <p><%=I18n.translate('txt.listingtype.price')%>: <span style="margin-left:50px;"><%=I18n.translate('txt.listingtype.to')%>:</span></p>
	
	<input type="text" name="tfprice" id="tfprice" value="<%=session[:fprice]%>"  onkeyup=" this.value=formatCurrency(this.value,'fprice');if(event.keyCode == 13){ new Ajax.Updater('main', '/rethai/searchlistings', {asynchronous:true, evalScripts:true, onComplete:function(request){javascript: document.getElementById('processing').style.display='none';document.getElementById('foundlistings').innerHTML=document.getElementById('tempcountlistings').value ; load('1');}, onLoading:function(request){javascript: document.getElementById('processing').style.display='block';}, parameters:Form.serialize(this.form)}); return false;}" onblur="this.value=formatCurrency(this.value,'fprice');" style="width:70px;" />

    <input type="text" name="ttprice" id="ttprice" value="<%=session[:tprice]%>"  onkeyup=" this.value=formatCurrency(this.value,'tprice');if(event.keyCode == 13){ new Ajax.Updater('main', '/rethai/searchlistings', {asynchronous:true, evalScripts:true, onComplete:function(request){javascript: document.getElementById('processing').style.display='none';document.getElementById('foundlistings').innerHTML=document.getElementById('tempcountlistings').value ; load('1');}, onLoading:function(request){javascript: document.getElementById('processing').style.display='block';}, parameters:Form.serialize(this.form)}); return false;}" onblur="this.value=formatCurrency(this.value,'tprice');" style="width:70px;" />
    
    <input type="hidden" name="fprice" id="fprice" />
    <input type="hidden" name="tprice" id="tprice" />
    
    <p><%=bedroom%>: <span style="margin-left:15px;"><%=I18n.translate('txt.listingtype.to')%>:</span></p>
	<select name="bed" id="bed" style="width:75px;">
            <option value=""><%=txtany%></option>
            <option value="0" <%if session[:bed].to_s == "0"%> selected="selected" <%end%>><%=mystudio%></option>
            <option value="1" <%if session[:bed].to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if session[:bed].to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if session[:bed].to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if session[:bed].to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if session[:bed].to_s == "5"%> selected="selected" <%end%>>5</option>
            <option value="6" <%if session[:bed].to_s == "6"%> selected="selected" <%end%>>6+</option>
    </select>
    
    <select name="bed2" id="bed2" style="width:75px;">
            <option value=""><%=txtany%></option>
            <option value="0" <%if session[:bed2].to_s == "0"%> selected="selected" <%end%>><%=mystudio%></option>
            <option value="1" <%if session[:bed2].to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if session[:bed2].to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if session[:bed2].to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if session[:bed2].to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if session[:bed2].to_s == "5"%> selected="selected" <%end%>>5</option>
            <option value="6" <%if session[:bed2].to_s == "6"%> selected="selected" <%end%>>6+</option>
     </select>	
    
    
    <p><%=bathroom%>:</p><select name="bath" id="bath">
            <option value=""><%=txtany%></option>
            <option value="1" <%if session[:bath].to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if session[:bath].to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if session[:bath].to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if session[:bath].to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if session[:bath].to_s == "5"%> selected="selected" <%end%>>5+</option>
        </select>
    
    
    <br />
    <br />
    
    
    <input type="image" href="#" style="width:89;height:40px;cursor:pointer;" name="image" src="/images/button-search.png" />
	
    <img src="/images/loadingb.gif" id="processing" style="display:none;"/>
    <br />

    <div style="clear:both;"></div>
    
    </form>


	
	<br clear="all" />
</div>


