<script src="http://code.jquery.com/jquery-1.7.1.min.js" type="text/javascript"></script>
<%if session[:user_id]%>
	<%= render :partial => "/listings/partner/rethaiupload_header_newlisting" %>
	<%= render :partial => "/listings/partner/rethaiupload_nav" %>
<%else%>
	<%= render :partial => "/listings/partner/rethai_header_newlisting" %>
	<%= render :partial => "/listings/partner/rethai_nav" %>
<%end%>
<style type="text/css">

/* @group FancyUpload */

/* CSS vs. Adblock tabs */
.swiff-uploader-box a {
	display: none !important;
}

/* .hover simulates the flash interactions */

#status {
	padding: 10px 15px;
	width: 550px;
}

#status .progress {
	background: url(/images/fancyupload/progress-bar/progress.gif) no-repeat;
	background-position: +50% 0;
	margin-right: 0.5em;
	vertical-align: middle;
}

#status .progress-text {
	font-size: 0.9em;
	font-weight: bold;
}

#list {
	list-style: none;
	width: 450px;
	margin: 0;
}

#list li.validation-error {
	padding-left: 44px;
	display: block;
	clear: left;
	line-height: 40px;
	color: #8a1f11;
	cursor: pointer;
	border-bottom: 1px solid #fbc2c4;
	background: #fbe3e4 url(/images/fancyupload/failed.png) no-repeat 4px 4px;
}

#list li.file {
	border-bottom: 1px solid #eee;
	background: url(/images/fancyupload/file.png) no-repeat 4px 4px;
	overflow: auto;
}
#list li.file.file-uploading {
	background-image: url(/images/fancyupload/uploading.png);
	background-color: #D9DDE9;
}
#list li.file.file-success {
	background-image: url(/images/fancyupload/success.png);
}
#list li.file.file-failed {
	background-image: url(/images/fancyupload/failed.png);
}

#list li.file .file-name {
	font-size: 1.2em;
	margin-left: 44px;
	display: block;
	clear: left;
	line-height: 40px;
	height: 40px;
	font-weight: bold;
}
#list li.file .file-size {
	font-size: 0.9em;
	line-height: 18px;
	float: right;
	margin-top: 2px;
	margin-right: 6px;
}
#list li.file .file-info {
	display: block;
	margin-left: 44px;
	font-size: 0.9em;
	line-height: 20px;
	clear
}
#list li.file .file-remove {
	clear: right;
	float: right;
	line-height: 18px;
	margin-right: 6px;
}
</style>

<!-- SEO -->
<%
@page_title = I18n.translate('txt.new.page_title')
@page_desc = I18n.translate('txt.new.page_desc')
@page_keywords = I18n.translate('txt.new.page_keywords')
%>

<!-- // END SEO -->
<%if session[:user_id] %>
<!--//  Add Listing //-->
<h1 class="addlistingheader">Add a Listing</h1>


<%


iebrowser = "0"
iphone = "0"
uagent =  request.env['HTTP_USER_AGENT'] #.downcase["msie"]
uagent = uagent.downcase

if uagent["ipad"] or uagent["iphone"] or uagent["phone"] or uagent["mobile"]
	iphone = "1"
end
#request.env['HTTP_USER_AGENT'].downcase["msie"]
if uagent["msie"]
	iebrowser = "1"
end


#set callback value
c_salerent = 1
c_type = 1
c_sqm = ""
c_price = ""
c_rprice = ""
c_bed = 0
c_bath = 1
c_parking = 0
c_detail = ""


c_name = ""
c_email = ""
c_password = "0"

if params[:product2]
if params[:product2][:salerent]
	c_salerent = params[:product2][:salerent]
end
if params[:product2][:salerent]
	c_type = params[:product2][:Type]
end
if params[:product2][:SQM]
	c_sqm = params[:product2][:SQM]
end
if params[:product2][:salerent]
	c_price = params[:product2][:Price]
end
if params[:product2][:RPrice]
	c_rprice = params[:product2][:RPrice]
end
if params[:product2][:Bed]
	c_bed = params[:product2][:Bed]
end
if params[:product2][:Bath]
	c_bath = params[:product2][:Bath]
end
if params[:product2][:Parking]
	c_parking = params[:product2][:Parking]
end
if params[:product2][:salerent]
	c_detail = params[:product2][:Detail]
end
end


if params[:user]
if params[:user][:FirstName]
	c_name = params[:user][:FirstName]
end
if params[:user][:Email]
	c_email = params[:user][:Email]
end
if params[:user][:Password]
	c_password = "1"
end
end














	str = "yes"
if session[:user_id]
	user = User.find(session[:user_id])
	#search my listings
	mylistings = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and Deleted = '1' and (Status !='d' and Status !='f' and Status !='s' or Status is null)")
	
		#check my level
		level = Subscription.find(user.level)
		if (mylistings.length).to_i >= (level.Listings).to_i
			str = "no"
		end
	
end  #end if session[:user_id]
		if str == "no"
%>

		<p>Sorry but you have added more listings than your subscription allows.</p>
		<p>If you are an agency, <a href="/index/foragents">click here</a> to find out how to add more listings and expand your marketing with rethai.com</p>
		<p>You are currently have: <%=mylistings.length%> listings</p>
		<p>You are allowed: <%=level.Listings%> listings</p>
		<p>Your listing has been saved but is offline, to put this listing online you need to <a href="/levels/upgrade">upgrade your subscription</a>, or take an existing listing offline in the <a href="/controlpanel/products">control panel</a></p>
		<p>Please <a href="/levels/upgrade">Upgrade</a> your subscription for additional listings.</p>
		<br>
		<br>
		<br>
	<!--=====================  temp latlng  =================================-->
		<input type="hidden" name="product2[lat]" id="product_lat" value="12.9357"/>
		<input type="hidden" name="product2[lng]" id="product_lng" value="100.889"/>
	<input type="hidden" id="temp_lat1" value="" readonly="readonly"  />
	<input type="hidden" id="temp_lng1" value="" readonly="readonly" style="display:hidden" />
	<input type="hidden" id="temp_lat2" value="" readonly="readonly"  />
	<input type="hidden" id="temp_lng2" value="" readonly="readonly" style="display:hidden" />
	<div id="map" style="display:none;width:970px;height:550px; min-height: 550px;margin-top:10px"></div>  
	<!--=====================  end temp latlng  =================================-->
	<%else%>
	
		
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.2.2/mootools.js"></script>
  <%= javascript_include_tag '/javascripts/fancyupload/Swiff.Uploader.js' %>
  <%= javascript_include_tag '/javascripts/fancyupload/Fx.ProgressBar.js' %>
  <%= javascript_include_tag '/javascripts/fancyupload/mootools-more.js'%>
  <%= javascript_include_tag '/javascripts/fancyupload/FancyUpload2.js' %>
	
	
	
	
		<input type="hidden" name="temp" id="temp" value="" readonly="readonly"  />
			<%=hidden_field 'user','FirstName'%>
			<%=hidden_field 'user','Email'%>
			<%=hidden_field_tag 'confirmlocation'%>

<script type="text/javascript">
	function nextpage(id){
		document.getElementById('imagesupload').style.display='none';
		document.getElementById('listingdetails').style.display='none';
		document.getElementById('showlocation').style.display='none';
		document.getElementById('l_review').style.display='none';
		
		
		document.getElementById(id).style.display='block';
		
	}
</script>




	<form id='addlisting_form' method="post" enctype="multipart/form-data"  action="/listings/create" >
	<div id="listingdetails">
	<input type="hidden" name="product2[lat]" id="product_lat" value="12.9357"/>
	
	<input type="hidden" name="product2[lng]" id="product_lng" value="100.889"/>
	<input type="hidden" name="partner"		  id="partner" value="rethai"/>
	<input type="hidden" id="temp_lat1" value="" readonly="readonly"  />
	<input type="hidden" id="temp_lng1" value="" readonly="readonly" style="display:hidden" />
	<input type="hidden" id="temp_lat2" value="" readonly="readonly"  />
	<input type="hidden" id="temp_lng2" value="" readonly="readonly" style="display:hidden" />

	<input type="hidden" name="product2[City]" id="product2_City" value="Pattaya" readonly="readonly" />
	<!--For sale etc-->
	
	

<div style="addlistingsteps">
	<img src="/images/addlisting_03.png" />
</div>





	<table border=0 class="addlistingtable">
		<tr>
			<td>Listing Title: </td>
			<td><%=text_field :product2,:titlelink, :size=>20  %>
			</td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.new.property-for')%>: </td>
			<td>
				<select name="product2[salerent]" id="product2_salerent" onchange="return salerentprice('product2_salerent');">
					<option value="1" <%if c_salerent.to_s == '1'%> selected="selected"<%end%> ><%=I18n.translate('txt.listingtype.for')%> <%=I18n.translate('txt.listingtype.sale')%></option>
					<option value="0" <%if c_salerent.to_s == '0'%> selected="selected"<%end%> ><%=I18n.translate('txt.listingtype.for')%> <%=I18n.translate('txt.listingtype.rent')%></option>
					<option value="2" <%if c_salerent.to_s == '2'%> selected="selected"<%end%> ><%=I18n.translate('txt.listingtype.for')%> <%=I18n.translate('txt.listingtype.sale-or-rent')%></option>						
				</select>
			</td>
		</tr>
	
		<!--type of listings-->
		<tr>
			<td><%=I18n.translate('txt.listingtype.propertytype')%>: </td>
			<td>
				<select name="product2[Type]" id="product2_Type" onchange="return listingtype('product2_Type');">
					<%
						listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc ")
						for ltype in listingtypes
							listingtype = "#{ltype.Name}"	
							while listingtype[" "]				
								listingtype[" "] ="-"
							end
							while listingtype["/"]				
								listingtype["/"] =""		
							end
								listingtype = "txt.listingtype.#{listingtype.downcase}"
								listingtype = I18n.translate(listingtype)
			
						%>	
						<option value="<%=ltype.Value%>" <%if c_type.to_s == ltype.Value.to_s%> selected="selected" <%end%>><%=listingtype%></option>
					<%		end	%>
				</select>
			</td>
		</tr>
		
		<!--SQM-->
		<tr>
			<td><%=I18n.translate('txt.listingtype.sqm')%>:</td>
			<td>
				<input type='text' name='tmpsqm' id='tmpsqm' value="<%=c_sqm%>" onfocus="sqmconvert();" onblur="this.value=formatCurrency(this.value,'product2_SQM');" onkeydown="if(event.keyCode == 13){ return false;}"/>
				<input type='hidden' name='product2[SQM]' id='product2_SQM' value="<%=c_sqm%>"/>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				
		<div id="sqmconvert" style="display:none; position: absolute;top:30%;left:35%;background: #fff;padding: 10px;border: 5px solid #ddd;z-index: 100; width:240px;" >
			<table width="250">
				<tr>
					<td><strong>SQM:</strong></td>
					<td><input type="text" name="conv_sqm" id="conv_sqm" value="" onblur="convertsqm('conv_sqm');" onkeydown="if(event.keyCode == 13){ return false;}"/></td>
				</tr>
				<tr>
					<td><strong>SQ Ft:</strong></td>
					<td><input type="text" name="conv_sqft" id="conv_sqft" value="" onblur="convertsqm('conv_sqft');" onkeydown="if(event.keyCode == 13){ return false;}" /></td>
				</tr>
				<tr>
					<td><strong>Rai:</strong></td>
					<td><input type="text" name="conv_rai" id="conv_rai" value="" onblur="convertsqm('conv_rai');" onkeydown="if(event.keyCode == 13){ return false;}"/></td>
				</tr>
				<tr>
					<td><strong>SQ Wah:</strong></td>
					<td><input type="text" name="conv_sqv" id="conv_sqv" value="" onblur="convertsqm('conv_sqv');"  onkeydown="if(event.keyCode == 13){ return false;}"/></td>
				</tr>
			</table>
			<br>
			<div style="margin-left:10px;"><a href="#"onclick="javascript: document.getElementById('shadow2').style.display='none'; document.getElementById('sqmconvert').style.display='none';">Save & Close</a></div>
		</div>
			</td>
			
		</tr>
		<!--price-->				
		<tr>
			<td><%if c_salerent.to_s != "0"%><span id="saleprice" stylel="display:block;"><%else%><span id="saleprice" stylel="display:none;"><%end%><%= I18n.t 'txt.show.sale-price' %>: </span></td>
			<td>
				<%if c_salerent.to_s != "0"%>
				<span id="saleprice2" stylel="display:block;"><%else%><span id="saleprice2" stylel="display:none;"><%end%>
					<input type="text" name="tempprice1" id="tempprice1"  value="<%=c_price%>"	onblur="this.value=formatCurrency(this.value,'product2_Price');" onkeyup="if(event.keyCode == 13){ return false;}else{this.value=formatCurrency(this.value,'product2_Price');}"  />    	
					<input type="hidden" name="product2[Price]" id="product2_Price" value="<%=c_price%>" />     
				 <span style="color:red;font-size:14px;">*</span>  	
				</span>
			</td>
		</tr>
		<tr>
			<td><%if c_salerent.to_s != "1"%><span id="rentprice" style="display:block;"><%else%><span id="rentprice" style="display:none;"><%end%><%= I18n.t 'txt.show.rent-price' %>: </span></td>
			<td>
				<%if c_salerent.to_s != "1"%>
				<span id="rentprice" style="display:block;"><%else%><span id="rentprice2" style="display:none;"><%end%>
					<input type="text" name="tempprice2" id="tempprice2" value="<%=c_rprice%>"  onblur="this.value=formatCurrency(this.value,'product2_RPrice');" onkeyup="if(event.keyCode == 13){ return false;}else{this.value=formatCurrency(this.value,'product2_RPrice');}"/>		
					<input type="hidden" name="product2[RPrice]" id="product2_RPrice" value="<%=c_rprice%>"  />	
				 <span style="color:red;font-size:14px;">*</span> 	
				</span>
			</td>
		</tr>
		
		<!--bedroom-->
		<tr>
			<td><div id="showbed"><%=I18n.translate('txt.listingtype.bedroom')%>: </div></td>
			<td>
				<div id="showbed2">
				<select name="product2[Bed]" id="product2_Bed">
					<option value="0" <%if c_bed.to_s == "0"%> selected="selected" <%end%>><%=I18n.translate('txt.listingtype.studio')%></option>
					<option value="1" <%if c_bed.to_s == "1"%> selected="selected" <%end%>>1</option>
					<option value="2" <%if c_bed.to_s == "2"%> selected="selected" <%end%>>2</option>
					<option value="3" <%if c_bed.to_s == "3"%> selected="selected" <%end%>>3</option>
					<option value="4" <%if c_bed.to_s == "4"%> selected="selected" <%end%>>4</option>
					<option value="5" <%if c_bed.to_s == "5"%> selected="selected" <%end%>>5</option>
					<option value="6" <%if c_bed.to_s == "6"%> selected="selected" <%end%>>6+</option>
				</select>
				</div>
			</td>
		</tr>
		
		<!--bathroom-->
		<tr>
			<td><div id="showbath"><%=I18n.translate('txt.listingtype.bathroom')%>: </div></td>
			<td>
				<div id="showbath2">
					<select name="product2[Bath]" id="product2_Bath">
						<option value="1" <%if c_bath.to_s == "1"%> selected="selected" <%end%>>1</option>
						<option value="2" <%if c_bath.to_s == "2"%> selected="selected" <%end%>>2</option>
						<option value="3" <%if c_bath.to_s == "3"%> selected="selected" <%end%>>3</option>
						<option value="4" <%if c_bath.to_s == "4"%> selected="selected" <%end%>>4</option>
						<option value="5" <%if c_bath.to_s == "5"%> selected="selected" <%end%>>5+</option>
					</select>
				</div>
			</td>
		</tr>
	
		<!--parking-->
		<tr>
			<td><div id="showparking"><%=I18n.translate('txt.show.parking')%>: </div></td>
			<td><div id="showparking2">
				<select name="product2[Parking]" id="product2_Parking">	
					<%
						parkings = Option.find(:all,:conditions=>"option_type = 'Carspace'",:order=>"opt_order asc,id asc ")
						for p in parkings

			              parking = "#{p.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
						%>	
							<option value="<%=p.Value%>" <%if c_parking.to_s == p.Value.to_s%> selected="selected" <%end%>><%=parking%></option>
					<%	end	%>
				
				</select>
				</div>
			</td>
		</tr>
		<tr>
			<td>Youtube Code: </td>
			<td><%=text_field :product2,:youtubecode ,:onkeydown=>"if(event.keyCode == 13){ return false;}" %>
			</td>
		</tr>
		<tr>
			<td>Reference Code: </td>
			<td><%=text_field :product2,:Ref ,:onkeydown=>"if(event.keyCode == 13){ return false;}" %>
			</td>
		</tr>
		<tr>
			<td valign=top><%=I18n.translate('txt.show.description')%>: </td>
			<td valign=top><textarea name="product2[Detail]" id="product2_Detail" cols="30" rows="3"><%=c_detail%></textarea> <span style="color:red;font-size:14px;">*</span> </td>
		</tr>
		<tr>
			<td></td>
			<td><span id="validatetext" style="color:red;"></span></td>
		</tr>
		</table>
		
	<br clear="all">
	<br clear="all">
		<div> <a href="#" onclick="nextpage('imagesupload');"><img src="/images/addlist-next.png" /></a></div>
		</div>
		
		
	<div id="showlocation" style="display:none;">



<div style="addlistingsteps">
	<img src="/images/addlisting_08.png" />
</div>



	
					<br><br>
					
					<table class="table3px">
						<tr>
							<td>Select City:</td>
							<td>
								<div style="display:block;">
									<select name="location" id="location" >	
									<option value="Pattaya" selected="selected"><%=I18n.translate('txt.province.pattaya')%></option>
									<%
										provinces = Province.find(:all,:order=>"name asc ")
										for p in provinces
														city = "txt.province.#{p.name.downcase}"
															while city[" "]				
																city[" "] ="_"		
															end
														city = I18n.translate(city)
									%>	
										<option value="<%=p.name%>"><%=city%></option>
									<%	end	%>
									</select>
									<!--<a href="#" onclick="searchlocation(); document.getElementById('product2_City').value = document.getElementById('location').value;"><strong>Select City</strong></a>-->
								</div>
							</td>
						</tr>
						<tr>
							<td valing="top">
								<div id="condoname1" style="display:block;padding-right:10px;"><strong>Condo Name:</strong></div>
							</td>
							<td>
								<%condos = Condo.find(:all,:conditions=>"status = '1'",:order=>"name")%>
								<div id="condoname2" style="display:block;">
								
								<select name="temp_condo" id="temp_condo" style="display:block;" onchange="if(this.value =='add'){document.getElementById('addcondo').style.display='block'; document.getElementById('product2_id_condo').options[1].selected=true;}else if(this.value =='1' || this.value =='0'){document.getElementById('addcondo').style.display='none';}else{document.getElementById('addcondo').style.display='none';  condolocation(this.value);document.getElementById('product2_id_condo').options[document.getElementById('temp_condo').selectedIndex].selected=true;} ">
									<option value="0">Select Building Name</option>

									<option value="add">-----  Not Listed Below? Click Here To Add </option>
									<option value="1">-----  I don't know, skip</option>

									
									<%for cond in condos%>
										<option value="<%=cond.lat%>,<%=cond.lng%>"><%=cond.name%></option>
									<%end%>
								</select>
								<select name="product2[id_condo]" id="product2_id_condo" style="display:none;">
									
									<option value="0">Select Building Name</option>

									<option value="add">-----  Not Listed Below? Click Here To Add </option>
									<option value="1">-----  I don't know, skip</option>

									<%for condo in condos%>
										<option value="<%=condo.id%>"><%=condo.name%></option>
									<%end%>
								</select>
								
								</div>
								
								<div id="addcondo" style="display:none;">
									<Br>What is your condo building name:<Br>
									<input type="text" name="condo[name]" id="condo_name" size="50" vlaue="" />
								</div>
							</td>
						</tr>



				<tr>
					<td valign=top>Send to Agency: </td>
					<td><div style="margin-left:10px;width:350px;">
						<input type="radio" name="listingconnect" id="listingconnect_1" value="1">
							<label for="listingconnect_1"><b>Yes,</b> I would like Real Estate Agencies to contact <br><span style="margin-left:25px;">me to help me Sell/Rent my property</span></span></label><br />
						<input type="radio" name="listingconnect" id="listingconnect_0" value="0" checked="checked">
							<label for="listingconnect_0"><b>No,</b> I want to sell my listing privately </label>
						</div>	
					</td>
				</tr>
	



					</table>
					
					
						
		<div id="map" style="width:970px;height:550px; min-height: 550px;margin-top:10px; border:1px #999 solid;"></div>
		
	<br clear="all">
	<br clear="all">
		<div> 
			<a href="#" onclick="nextpage('imagesupload');"><img src="/images/addlist-previous.png" /></a>
			<!--<input type="submit" value="  Submit "/>-->
			
			<a href="#" id="genreviewpage" onclick="nextpage('l_review'); showdetailpage();"><img src="/images/addlist-next.png" /></a>
			
		</div>
	</div>
		
		
		
		
	<!-- // review page -->	
		
	<div id="l_review" style="display:none;">

			<div style="addlistingsteps">
				<img src="/images/addlisting_10.png" />
			</div>
	
			<div>
				<h1 style="font-size: 26px; line-height: 25px;"><span id="l_title"></span>
					<br>
					<span style="font-size: 14px; color: rgb(114, 133, 136); margin-left: 0px;">
					<strong>
					<span id="l_price"></span> <small>&#3647;</small>
					</strong>
					
					<span id="l_type"></span><span id="l_salerent"></span>  in <span id="l_location"></span>
					
					</span>
				
				</h1>
			<table>
				<tr>
					<td valign="top">
					<table class="listingdesctable" style="width: 350px;">
						<tr>
							<td width="120"><strong>Sale Price</strong></td>
							<td>
								<span id="l_sale"></span> <small>&#3647;</small>
								
							</td>					
						</tr>
						<tr>
							<td width="120"><strong>Rent Price</strong></td>
							<td>
								<span id="l_rent"></span> <small>&#3647;</small>
								
							</td>					
						</tr>
					
						<tr>
							<td><strong>Property Type</strong></td>
							<td><span id="l_type2"></span></td>
						</tr>
						<tr>
							<td><strong>City</strong></td>
					
						
							<td><span id="l_location2"></span></td>
						
						</tr>
						<tr>
							<td><strong>Parking</strong></td>
							<td><span id="l_parking"></span></td>
						</tr>
						<tr>
					
							<td><strong>Last Updated:</strong></td>
							<td><span id="l_created"><%=DateTime.now.strftime("%d/%m/%Y")%></span></td>
						</tr>
					
					
					</table>		
			</td>
			<td valign="top">

					<table class="listingdesctable" style="width: 290px;">
						<tr>
							<td width="100"><strong>Bedrooms</strong></td>
							<td><span id="l_bed">2</span></td>
						</tr>
						<tr>
							<td><strong>Bathrooms</strong></td>
					
							<td><span id="l_bath">2</span></td>
						</tr>
					
						<tr>
							<td valign="top"><strong>SQM</strong></td>						
							<td>
								<span id="l_sqm">150</span> 
							</td>
						
						</tr>
						<tr>
							<td>&#3647;<strong>/SQM</strong></td>
						
							<td><span id="l_sqmprice"></span> </td>
						</tr>
					
						<tr>
							<td><strong>Reference No.</strong></td>
							<td><span id="l_ref">refnumber</span></td>
						</tr>
						
					</table>		
	</td>
	</tr>
	</table>
	
	<br clear="all">
		<table>
			<tr>
				<td><div id="showimages"></div></td>
				<td><div id="youtube"></div></td>
			</tr>
		</table>
<strong>Description</strong>
<div id="l_details"></div>


			</div>
			
	
	
	<br clear="all">
	<br clear="all">
	
		<div>
			<table>
				<tr>
					<td><a href="#" onclick="nextpage('showlocation');"><img src="/images/addlist-previous.png" /></a></td>
					<td><input type="submit" value="Add My Listing!" onclick=" if(checkword()==false){ return false;}else{ if(validateform('product2_Price','product2_Bed','product2_Bath','product2_Detail','product2_RPrice','product2_salerent')){}else{return false;}}" style="padding:5px;margin-left:20px;" /></td>
				</tr>
			</table>
			
			
		</div>
	</div>	
	
	
		
		
	</form>
	
	
	
	
	
	
	
	
						
<!--//upload imags -->
<div id="imagesupload" class="container" style="display:none;">



<div style="addlistingsteps">
	<img src="/images/addlisting_06.png" />
</div>



  <div>
		<form action="/listings/savetempimages?userid=<%=session[:user_id]%>" method="post" enctype="multipart/form-data" id="form-rethai">
       <fieldset id="fallback">
	      <legend>File Upload</legend>
      	
      	<p>
      		Click on "Browse Files" to select the images to upload. When you are finished selecting files, click on "Start Upload"
      	</p>

      	<label for="photoupload">
							
      		Upload a Photo:
      		<input type="file" name="Filedata" />
			
      	</label>
      </fieldset>





      <div id="status" class="hide">
		<ul>

			<li>Click <strong>Select Images</strong> to choose the images to add to the listing.<br>
			You can select more than one image to upload.<br>
			You can remove an image from the list by clicking Remove next to the image.<br><br></li>
			<li>Once selected, click <strong>Upload Images</strong> to begin the upload.<br>

			When the image upload is complete, simply click next to continue.</li>
		</ul>
      	<p style="margin-top:20px">
      		<a href="#" id="browse" style="margin-right:20px"><strong>Step 1:</strong> Select Images</a>			
      		<a href="#" id="clear" style="display:none;">Clear List</a> 
      		<a href="#" id="upload"><strong>Step 2:</strong> Upload Images</a>

      	</p>
      	<div>
      		<strong class="overall-title"></strong><br />
      		<img alt="Bar" class="progress overall-progress" src="/javascripts/fancyupload/assets/progress-bar/bar.gif" />
      	</div>
      	<div>
      		<strong class="current-title"></strong><br />
          <img alt="Bar" class="progress current-progress" src="/javascripts/fancyupload/assets/progress-bar/bar.gif" />
      	</div>

      	<div class="current-text"></div>
      </div>
      <ul id="list"></ul>
    </form>
	
	<br clear="all">
	<br clear="all">
		<div> 
			<a href="#" onclick="nextpage('listingdetails');"><img src="/images/addlist-previous.png" /></a>
			<a href="#" onclick="nextpage('showlocation'); loadmap('12.9357','100.889');"><img src="/images/addlist-next.png" /></a>
		</div>
  </div>
  
  


<script type="text/javascript">
	
	function showdetailpage(){
		document.getElementById('l_title').innerHTML = document.getElementById('product2_titlelink').value;
		
		if(document.getElementById('product2_salerent').value !="0"){
			document.getElementById('l_price').innerHTML = document.getElementById('tempprice1').value;
			price = document.getElementById('product2_Price').value;
		}else{
			document.getElementById('l_price').innerHTML = document.getElementById('tempprice2').value;
			price = document.getElementById('product2_RPrice').value;
		}
		document.getElementById('l_type').innerHTML = document.getElementById('product2_Type').options[document.getElementById('product2_Type').selectedIndex].text;
		document.getElementById('l_salerent').innerHTML = document.getElementById('product2_salerent').options[document.getElementById('product2_salerent').selectedIndex].text;
		document.getElementById('l_location').innerHTML = document.getElementById('location').options[document.getElementById('location').selectedIndex].text;
		document.getElementById('l_sale').innerHTML = document.getElementById('tempprice1').value;
		document.getElementById('l_rent').innerHTML = document.getElementById('tempprice2').value;
		document.getElementById('l_type2').innerHTML = document.getElementById('product2_Type').options[document.getElementById('product2_Type').selectedIndex].text;
		document.getElementById('l_location2').innerHTML = document.getElementById('location').options[document.getElementById('location').selectedIndex].text;;
		document.getElementById('l_parking').innerHTML = document.getElementById('product2_Parking').options[document.getElementById('product2_Parking').selectedIndex].text;
		
		document.getElementById('l_bed').innerHTML = document.getElementById('product2_Bed').value;
		document.getElementById('l_bath').innerHTML = document.getElementById('product2_Bath').value;
		document.getElementById('l_sqm').innerHTML = document.getElementById('tmpsqm').value;
		//document.getElementById('l_sqmprice').innerHTML = document.getElementById('').value;
		document.getElementById('l_ref').innerHTML = document.getElementById('product2_Ref').value;
		document.getElementById('l_details').innerHTML = document.getElementById('product2_Detail').value;
		
		
		if(parseFloat(document.getElementById('product2_SQM').value) > 0){
			document.getElementById('l_sqmprice').innerHTML=formatCurrency(parseFloat(price)/parseFloat(document.getElementById('product2_SQM').value),'temp');
		}else{
			document.getElementById('l_sqmprice').innerHTML="";
		}
		
		if(document.getElementById('product2_youtubecode').value !=""){
			document.getElementById('youtube').innerHTML = "<iframe width='290' height='238' src='http://www.youtube.com/embed/"+ document.getElementById('product2_youtubecode').value +"' frameborder='0' allowfullscreen></iframe>";
		}else{
			document.getElementById('youtube').innerHTML = "";
		}
	}	
		
		//<![CDATA[
		//jQuery.noConflict();
window.addEvent('domready', function() { 
	
	var up = new FancyUpload2($('status'), $('list'), {

		verbose: true,
		url: $('form-rethai').action,
		path: '/javascripts/fancyupload/Swiff.Uploader.swf',
		typeFilter: {
			'Images (*.jpg, *.jpeg)': '*.jpg; *.jpeg;'
		},
		// this is our browse button, *target* is overlayed with the Flash movie
		target: 'browse',
		// graceful degradation, onLoad is only called if all went well with Flash
		onLoad: function() {
			$('status').removeClass('hide'); // we show the actual UI
			$('fallback').destroy(); // ... and hide the plain form
			
			// We relay the interactions with the overlayed flash to the link
			this.target.addEvents({
				click: function() {
					return false;
				},
				mouseenter: function() {
					this.addClass('hover');
				},
				mouseleave: function() {
					this.removeClass('hover');
					this.blur();
				},
				mousedown: function() {
					this.focus();
				}
			});

			// Interactions for the 2 other buttons
			$('clear').addEvent('click', function() {
				up.remove(); // remove all files
				return false;
			});

			$('upload').addEvent('click', function() {
				up.start(); // start upload
				return false;
			});
		},
		
		// Edit the following lines, it is your custom event handling
		
		/**
		 * Is called when files were not added, "files" is an array of invalid File classes.
		 * 
		 * This example creates a list of error elements directly in the file list, which
		 * hide on click.
		 */ 
		onSelectFail: function(files) {
			files.each(function(file) {
				new Element('li', {
					'class': 'validation-error',
					html: file.validationErrorMessage || file.validationError,
					title: MooTools.lang.get('FancyUpload', 'removeTitle'),
					events: {
						click: function() {
							this.destroy();
						}
					}
				}).inject(this.list, 'top');
			}, this);
		},
		
		/**
		 * This one was directly in FancyUpload2 before, the event makes it
		 * easier for you, to add your own response handling (you probably want
		 * to send something else than JSON or different items).
		 */
		onFileSuccess: function(file, response) {
			var json = new Hash(JSON.decode(response, true) || {});
//			alert(response);
			//if (json.get('code') == '0') {
			if (response == 'Uploaded') {
				file.element.addClass('file-success');
				file.info.set('html', '<strong>Image was uploaded:</strong>');
				var str = document.getElementById('list').innerHTML;
				str = str.replace('>Remove</a>','> </a>');
				str = str.replace('li class="file"','li class="file file-success"');
				str = str.replace('<span class="file-info"></span>','<span class="file-info"><strong>Image was uploaded:</strong></span>');
				document.getElementById('list').innerHTML = str;
				//alert(str);
			} 
			else {
				file.element.addClass('file-failed');
				file.info.set('html', '<strong>An error occured:</strong>' + (json.get('error') ? (json.get('error') + ' #' + json.get('code')) : response));
			}
		},
		
		/**
		 * onFail is called when the Flash movie got bashed by some browser plugin
		 * like Adblock or Flashblock.
		 */
		onFail: function(error) {
			switch (error) {
				case 'hidden': // works after enabling the movie and clicking refresh
					alert('To enable the embedded uploader, unblock it in your browser and refresh (see Adblock).');
					break;
				case 'blocked': // This no *full* fail, it works after the user clicks the button
					alert('To enable the embedded uploader, enable the blocked Flash movie (see Flashblock).');
					break;
				case 'empty': // Oh oh, wrong path
					alert('A required file was not found, please be patient and we fix this.');
					break;
				case 'flash': // no flash 9+ :(
					alert('To enable the embedded uploader, install the latest Adobe Flash plugin.')
			}
		}
		
	});
	
});
		//]]>

</script>



</div>


	
	
	
	
	
	
	
	
	
	

	<%end%> <!--// end if str == "no" -->
	

<!--// ++++++++++++     End Add Listing  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  //-->

<%else%>
<script language="JavaScript" type="text/javascript">
	
	function newuserform(){
		if(document.getElementById('user_FirstName').value ==""){alert('Please Enter FirstName'); document.getElementById('user_FirstName').focus();return false;}
		else if(document.getElementById('user_LastName').value ==""){alert('Please Enter LastName'); document.getElementById('user_LastName').focus();return false;}
		else if(document.getElementById('user_Password').value ==""){alert('Please Enter Password'); document.getElementById('user_Password').focus();return false;}
		else if(document.getElementById('user2_Password2').value ==""){alert('Please Enter Confirm Password'); document.getElementById('user2_Password2').focus();return false;}
		else if(document.getElementById('user_Phone').value ==""){alert('Please Enter Phone'); document.getElementById('user_Phone').focus();return false;}
		else if(document.getElementById('user_Email').value ==""){alert('Please Enter Email'); document.getElementById('user_Email').focus();return false;}
		else if(document.getElementById('user_Address').value ==""){alert('Please Enter Address'); document.getElementById('user_Address').focus();return false;}
		else if(document.getElementById('user_Suburb').value ==""){alert('Please Enter Suburb'); document.getElementById('user_Suburb').focus();return false;}
		else if(document.getElementById('user_Province').value ==""){alert('Please Enter Province'); document.getElementById('user_Province').focus();return false;}
		else if(document.getElementById('user_PostCode').value ==""){alert('Please Enter Postcode'); document.getElementById('user_PostCode').focus();return false;}
		else if(document.getElementById('user_Password').value != document.getElementById('user2_Password2').value){alert('Please check Confirm Password'); document.getElementById('user2_Password2').focus();return false;}
		else{
			return true;
		}
	}
	
		
		function checkword(){
			strvalidateemail   = document.getElementById('validateemail').innerHTML;
			strvalidatecaptcha = document.getElementById('verify').innerHTML;
			strcaptchafield    = document.getElementById('recaptcha_response_field').value;
//			alert('1'+strvalidateemail+'\n2'+strvalidatecaptcha+'\n3'+strcaptchafield);
			if (strvalidateemail.search(/true/i)> 0){
//				alert('1');
				jsubmit();
					return false;
			}else if((strvalidatecaptcha=="") &&(strcaptchafield =="")){
//				alert('2.1');
				if(strvalidateemail.search(/false/i)> 0){
					alert('try Enter word or Check Email Address');
					return false;
				}else{
				jsubmit();
					return false;
				}
				
			}else if((strvalidateemail.search(/false/i)> 0)&&(strvalidatecaptcha.search(/true/i) > 0) &&(strcaptchafield !="")){
//				alert('2');
				jsubmit();
					return false;
			}else if((strvalidateemail.search(/false/i)> 0)&&(strvalidatecaptcha.search(/false/i) > 0) &&(strcaptchafield !="")){
				return false;
			}else if((strvalidateemail.search(/false/i)> 0)&&(strvalidatecaptcha.search(/false/i) > 0) &&(strcaptchafield =="")){
				alert('Please type the words below to continue');
				document.getElementById('recaptcha_response_field').focus();
				return false;
			}else{
//				alert('4');
				return false;
			}
		}
		
		
</script>








<div style="float:right;width:300px;" class="addlistregister">

<h1>Existing User Login</h1>

<form name="loginform" id="loginform" action="/login/checklogin">
	<input type="hidden" name="myredirect" value="/rethai/addlisting"/>
	<%= hidden_field_tag :sidebar  ,@sidebar%>
	<table>
		
		<tr>
			<td>Email:</td>
			<td >
				<%=text_field 'user','UserName'%>
			</td>
		</tr>
		<tr>
			<td>Password:</td>
			<td >
				<input id="login_Password" name="user[Password]" size="30" type="password" value="" />
			</td>
		</tr>
		<tr>
			<td></td>
			<td ><br>
				<input type="submit" name="Submit" value="Login & Add Listing" id="Submit" />
			</td>
		</tr>
	</table>
</form>

</div>





<div style="width:650px" class="addlistregister2">

<h1>New User Registration</h1>

<form name="newuser" id="newuser" action="/users/create">
	<input type="hidden" name="myredirect" value="/rethai/addlisting"/>
	<table>
		<tr>
			<td>First Name:</td>
			<td><%=text_field 'user','FirstName'%></td>
			<td>Last Name:</td>
			<td><%=text_field 'user','LastName'%></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><%=password_field 'user','Password'%></td>
			<td>Confirm Password:</td>
			<td><%=password_field_tag 'confirmPassword'%></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%=text_field 'user','Email'%></td>
			<td>Phone:</td>
			<td><%=text_field 'user','Phone'%></td>
		</tr>
		<tr>
			<td>Address:</td>
			<td><%=text_field 'user','Address',:size=>"60" %></td>
			<td>Suburb:</td>
			<td><%=text_field 'user','Suburb'%></td>
		</tr>
		<tr>
			<td>Province:</td>
			<td><%=text_field 'user','Province'%></td>
			<td>Postcode:</td>
			<td><%=text_field 'user','PostCode'%></td>
		</tr>
		<tr>
			<td>I am a:</td>
			<td colspan="10">
				<input name="user[UserType]" type="radio" value="p" id="user_UserType_1" checked="checked" style="width:25px;" /><label for="user_UserType_1">Private Seller</label>
				<input name="user[UserType]" type="radio" value="d" id="user_UserType_2" style="width:25px;" /><label for="user_UserType_2">Real Estate Agent</label>
			</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="10"><br>
				<input type="submit" name="Submit" value="Create My Account" id="Submit" onclick="return newuserform();" />
			</td>
		</tr>
	</table>
</form>

</div>











<%end%>


<script type="text/javascript">
	jq = jQuery.noConflict();
	jq(document).ready(function() {
		
		jq("#location").change(function(){
	jq.ajax({
	  url: "/listings/gencondooptions?province=" + document.getElementById("location").value + "",
	  success: function(data){
	  	 jq('#condoname2').html(data);
		 add_searchlocation();
	    //alert(data);
	  }
	});
	});
	
	//genreviewpage
		
	jq("#genreviewpage").click(function(){
	jq.ajax({
	  url: "/listings/genreview?userID=<%=session[:user_id]%>",
	  success: function(data){
	  	 jq('#showimages').html(data);
	  }
	});
	});

	
});



function add_searchlocation(){
	if (GBrowserIsCompatible()) {	

		

		var map = new GMap2(document.getElementById("map"));
		var mt = map.getMapTypes();
      // Overwrite the getMinimumResolution() and getMaximumResolution() methods
      for (var i=0; i<mt.length; i++) {
        mt[i].getMinimumResolution = function() {return 8;}
        mt[i].getMaximumResolution = function() {return 18;}
      }
	  
		map.enableDoubleClickZoom();
		map.addControl(new GMapTypeControl());
		map.addControl(new GLargeMapControl());
		
		var strlocation;
		geocoder = new GClientGeocoder();
		
		if ((document.getElementById('location').value).search(/thailand|Thailand/)>0){
			strlocation = document.getElementById('location').value;
		}else{
			strlocation = document.getElementById('location').value + ", thailand";
		}
		/******************* NEW Search location System  **********************************************/
		jq.ajax({
			url: "/listings/getlatlng?province=" + document.getElementById("location").value + "",
	  			success: function(request){
	  /*			}
			});
		var getlatlng = new Ajax.Request("/listings/getlatlng", {
					method: 'get',
					parameters: "province=" + document.getElementById('location').value,
					onComplete: function(request){
						*/
						mylatlng = eval("(" + request + ")");
						var lat = mylatlng.lat;
						var lng = mylatlng.lng;
						var strlocation = "" + lat + "," + lng;						
						
						
		 	geocoder.getLatLng(strlocation, function(point){
				
		 		if (point) {
		 			map.setCenter(point, 14);
					lat = point.lat();
					lng = point.lng();
					
		 		}
		 		else {
					map.setCenter(new GLatLng(12.9357, 100.889), 14);
					lat = 12.9357;
					lng = 100.889;
					}				
		point = new GLatLng(lat, lng);
		var marker = new GMarker(point, {draggable: true, bouncy: true});
			var html="";			
			map.addOverlay(marker);
			GEvent.addListener(marker, "click", function(latlng){
				html="";
				html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"button\" value=\"Confirm Location\" onclick=\"document.getElementById('confirmlocation').value='1'; setnewpoint('"+latlng.lat()+"','"+latlng.lng()+"'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";
				html = html + "";
				marker.openInfoWindowHtml(html);
			});
			GEvent.addListener(marker, "dragstart", function() {
				
			  map.closeInfoWindow();
			});
			
			GEvent.addListener(marker, "dragend", function(latlng) {
				html="";
				html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"button\" value=\"Confirm Location\" onclick=\"document.getElementById('confirmlocation').value='1'; setnewpoint('"+latlng.lat()+"','"+latlng.lng()+"'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";
				html = html + "";
			  marker.openInfoWindowHtml(html);
			});
		
			
				});
						
						
					} // end of anonymous onComplete function  
				}); // end of the new Ajax.Request() call 
				
				
		
	}
	
	else {
		alert("Sorry, the Google Maps API is not compatible with this browser");
	}	
	
}

</script>



<div id="shadow2" style="display:none;position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:99;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow2').style.display='none'; document.getElementById('sqmconvert').style.display='none';"></div>


