<%= render :partial => "/listings/partner/#{params[:partner]}_header" %>
<%= render :partial => "/listings/partner/#{params[:partner]}_nav" %>
<!-- SEO -->
<%@page_title = "Compare Property Listings"%>
<%@page_desc = "Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->

<%if @listings.length <= 0 or @listings.length > 5%>
<%=@listings.length%>
	Sorry, Please try again.
<%else%>
	<%
	listing1="0"
	listing2="0"
	listing3="0"
	listing4="0"
	listing5="0"
	i = 1
	link1=""
	link2=""
	link3=""
	link4=""
	link5=""
	%>
	<%for l in @listings%>
<%

if i == 1
listing1 = l
link1 = "#{listing1.id}:"
elsif i==2
listing2 = l
link2 = "#{listing2.id}:"
elsif i==3
listing3 = l
link3 = "#{listing3.id}:"
elsif i==4
listing4 = l
link4 = "#{listing4.id}:"
elsif i==5
listing5 = l
link5 = "#{listing5.id}:"
end
i = i + 1
%>
	<%end%><!--end for l in @listings-->

	
<h1>Property Listing Comparison</h1>

<table width="100%" id="comparetable">

	<tr>

		<td><img src="/images/e.png" width="120" height="1" /></td>
		<%if listing1 !="0"%><td align="center">
			<a href="/<%=params[:partner]%>/compare?compare_id=:<%=link2%><%=link3%><%=link4%><%=link5%>" class="remove">remove</a><br />
			<%
				   myimages="/images/noimage-120.png"
				   images = Images.find(:all,:conditions=>"id_product = '#{listing1.id}'")
				   for image in images
				      	myimages = "#{image.photo.url(:thumb)}"
						break
				    end
			%><img src="<%=myimages%>" width="120" />
			
		</td><%end%>
		<%if listing2 !="0"%><td align="center">
			<a href="/<%=params[:partner]%>/compare?compare_id=:<%=link1%><%=link3%><%=link4%><%=link5%>" class="remove">remove</a><br />
			<%
				   myimages="/images/noimage-120.png"
				   images = Images.find(:all,:conditions=>"id_product = '#{listing2.id}'")
				   for image in images
				      	myimages = "#{image.photo.url(:thumb)}"
						break
				    end
			%><img src="<%=myimages%>" width="120" />
			
		</td><%end%>
		<%if listing3 !="0"%><td align="center">
			<a href="/<%=params[:partner]%>/compare?compare_id=:<%=link1%><%=link2%><%=link4%><%=link5%>" class="remove">remove</a><br />
			<%
				   myimages="/images/noimage-120.png"
				   images = Images.find(:all,:conditions=>"id_product = '#{listing3.id}'")
				   for image in images
				      	myimages = "#{image.photo.url(:thumb)}"
						break
				    end
			%><img src="<%=myimages%>" width="120" />
			
		</td><%end%>
		<%if listing4 !="0"%><td align="center">
			<a href="/<%=params[:partner]%>/compare?compare_id=:<%=link1%><%=link2%><%=link3%><%=link5%>" class="remove">remove</a><br />
			<%
				   myimages="/images/noimage-120.png"
				   images = Images.find(:all,:conditions=>"id_product = '#{listing4.id}'")
				   for image in images
				      	myimages = "#{image.photo.url(:thumb)}"
						break
				    end
			%><img src="<%=myimages%>" width="120" />
		</td><%end%>
		<%if listing5 !="0"%><td align="center">
			<a href="/<%=params[:partner]%>/compare?compare_id=:<%=link1%><%=link2%><%=link3%><%=link4%>" class="remove">remove</a><br />
			<%
				   myimages="/images/noimage-120.png"
				   images = Images.find(:all,:conditions=>"id_product = '#{listing5.id}'")
				   for image in images
				      	myimages = "#{image.photo.url(:thumb)}"
						break
				    end
			%><img src="<%=myimages%>" width="120" />
		</td><%end%>
	</tr>
	<tr>
		<td valign="top"><b>View Full Listing:</b></td>
		<%if listing1 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing1.id%>" class="viewfulllisting">View full listing</a></td><%end%>
		<%if listing2 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing2.id%>" class="viewfulllisting">View full listing</a></td><%end%>
		<%if listing3 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing3.id%>" class="viewfulllisting">View full listing</a></td><%end%>
		<%if listing4 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing4.id%>" class="viewfulllisting">View full listing</a></td><%end%>
		<%if listing5 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing5.id%>" class="viewfulllisting">View full listing</a></td><%end%>
	</tr>
			
	<tr>
		<td><b>Listing Type:</b></td>
		<%if listing1 !="0"%>
		<td align="center">
			<%
			 listingtype =" "
			        if listing1.Type.to_s != '0' and listing1.Type.to_s != "" and listing1.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing1.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
			              break
			            end
			          end
			        end  
			%>
			<%=listingtype%>
		</td><%end%>
		<%if listing2 !="0"%>
		<td align="center">
			<%
			 listingtype =" "
			        if listing2.Type.to_s != '0' and listing2.Type.to_s != "" and listing2.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing2.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
			              break
			            end
			          end
			        end  
			%>
			<%=listingtype%>
		</td><%end%>
		<%if listing3 !="0"%>
		<td align="center">
			<%
			 listingtype =" "
			        if listing3.Type.to_s != '0' and listing3.Type.to_s != "" and listing3.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing3.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
			              break
			            end
			          end
			        end  
			%>
			<%=listingtype%>
		</td><%end%>
		<%if listing4 !="0"%>
		<td align="center">
			<%
			 listingtype =" "
			        if listing4.Type.to_s != '0' and listing4.Type.to_s != "" and listing4.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing4.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
			              break
			            end
			          end
			        end  
			%>
			<%=listingtype%>
		</td><%end%>
		<%if listing5 !="0"%>
		<td align="center">
			<%
			 listingtype =" "
			        if listing5.Type.to_s != '0' and listing5.Type.to_s != "" and listing5.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing5.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
			              break
			            end
			          end
			        end  
			%>
			<%=listingtype%>
		</td><%end%>
	</tr>
	
	<!--=================================================================================================================-->
	
	
	
	
	
	<tr>
		<td> <b>Bedrooms:</b></td>
		<%if listing1 !="0"%><td align="center"><%if listing1.Type.to_s != '5'%><%if listing1.Bed.to_s == "0"%><b>Studio</b><%else%><b><%=listing1.Bed%> Bedrooms </b><%end%><%else%>-<%end%></td><%end%>
		<%if listing2 !="0"%><td align="center"><%if listing2.Type.to_s != '5'%><%if listing2.Bed.to_s == "0"%><b>Studio</b><%else%><b><%=listing2.Bed%> Bedrooms </b><%end%><%else%>-<%end%></td><%end%>
		<%if listing3 !="0"%><td align="center"><%if listing3.Type.to_s != '5'%><%if listing3.Bed.to_s == "0"%><b>Studio</b><%else%><b><%=listing3.Bed%> Bedrooms </b><%end%><%else%>-<%end%></td><%end%>
		<%if listing4 !="0"%><td align="center"><%if listing4.Type.to_s != '5'%><%if listing4.Bed.to_s == "0"%><b>Studio</b><%else%><b><%=listing4.Bed%> Bedrooms </b><%end%><%else%>-<%end%></td><%end%>
		<%if listing5 !="0"%><td align="center"><%if listing5.Type.to_s != '5'%><%if listing5.Bed.to_s == "0"%><b>Studio</b><%else%><b><%=listing5.Bed%> Bedrooms </b><%end%><%else%>-<%end%></td><%end%>
	</tr>
	<tr>
		<td> <b>Bathrooms:</b></td>
		<%if listing1 !="0"%><td align="center"><%if listing1.Type.to_s != '5'%><%=listing1.Bath%> Bathrooms<%else%>-<%end%></td><%end%>
		<%if listing2 !="0"%><td align="center"><%if listing2.Type.to_s != '5'%><%=listing2.Bath%> Bathrooms<%else%>-<%end%></td><%end%>
		<%if listing3 !="0"%><td align="center"><%if listing3.Type.to_s != '5'%><%=listing3.Bath%> Bathrooms<%else%>-<%end%></td><%end%>
		<%if listing4 !="0"%><td align="center"><%if listing4.Type.to_s != '5'%><%=listing4.Bath%> Bathrooms<%else%>-<%end%></td><%end%>
		<%if listing5 !="0"%><td align="center"><%if listing5.Type.to_s != '5'%><%=listing5.Bath%> Bathrooms<%else%>-<%end%></td><%end%>
	</tr>
	<tr>
		<td> <b>Parking:</b></td>
		<%if listing1 !="0"%><td align="center">
			<%
			parking =" "
			        if listing1.Parking.to_s != '0' and listing1.Parking.to_s != "" and listing1.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing1.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
			              break
			            end
			          end
			        end%>
					<%=parking%>
		</td><%end%>
		<%if listing2 !="0"%><td align="center">
			<%
			parking =" "
			        if listing2.Parking.to_s != '0' and listing2.Parking.to_s != "" and listing2.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing2.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
			              break
			            end
			          end
			        end%>
					<%=parking%>
		</td><%end%>
		<%if listing3 !="0"%><td align="center">
			<%
			parking =" "
			        if listing3.Parking.to_s != '0' and listing3.Parking.to_s != "" and listing3.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing3.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
			              break
			            end
			          end
			        end%>
					<%=parking%>
		</td><%end%>
		<%if listing4 !="0"%><td align="center">
			<%
			parking =" "
			        if listing4.Parking.to_s != '0' and listing4.Parking.to_s != "" and listing4.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing4.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
			              break
			            end
			          end
			        end%>
					<%=parking%>
		</td><%end%>
		<%if listing5 !="0"%><td align="center">
			<%
			parking =" "
			        if listing5.Parking.to_s != '0' and listing5.Parking.to_s != "" and listing5.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing5.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
			              break
			            end
			          end
			        end%>
					<%=parking%>
		</td><%end%>
	</tr>
	<tr>
		<td> <b> Sale Price:</b></td>
		<%if listing1 !="0"%><td align="center"><%=number_to_currency(listing1.Price, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
		<%if listing2 !="0"%><td align="center"><%=number_to_currency(listing2.Price, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
		<%if listing3 !="0"%><td align="center"><%=number_to_currency(listing3.Price, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
		<%if listing4 !="0"%><td align="center"><%=number_to_currency(listing4.Price, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
		<%if listing5 !="0"%><td align="center"><%=number_to_currency(listing5.Price, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
	</tr>
	<tr>
		<td><b> Rent Price:</b></td>
		<%if listing1 !="0"%><td align="center"><%if listing1.RPrice !="" and listing1.RPrice != nil%><%=number_to_currency(listing1.RPrice, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
		<%if listing2 !="0"%><td align="center"><%if listing2.RPrice !="" and listing2.RPrice != nil%><%=number_to_currency(listing2.RPrice, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
		<%if listing3 !="0"%><td align="center"><%if listing3.RPrice !="" and listing3.RPrice != nil%><%=number_to_currency(listing3.RPrice, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
		<%if listing4 !="0"%><td align="center"><%if listing4.RPrice !="" and listing4.RPrice != nil%><%=number_to_currency(listing4.RPrice, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
		<%if listing5 !="0"%><td align="center"><%if listing5.RPrice !="" and listing5.RPrice != nil%><%=number_to_currency(listing5.RPrice, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
	</tr>
	<tr>
		<td> <b>SQM:</b></td>
		<%if listing1 !="0"%><td align="center"><%=number_to_currency(listing1.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
		<%if listing2 !="0"%><td align="center"><%=number_to_currency(listing2.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
		<%if listing3 !="0"%><td align="center"><%=number_to_currency(listing3.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
		<%if listing4 !="0"%><td align="center"><%=number_to_currency(listing4.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
		<%if listing5 !="0"%><td align="center"><%=number_to_currency(listing5.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td><%end%>
	</tr>
	<tr>
		<td> <b>Cost per SQM:</b></td>
		<%if listing1 !="0"%><td align="center"><%if listing1.Price.to_i != 0 and listing1.SQM.to_i != 0%><%=number_to_currency(listing1.Price.to_i/listing1.SQM.to_i, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
		<%if listing2 !="0"%><td align="center"><%if listing2.Price.to_i != 0 and listing2.SQM.to_i != 0%><%=number_to_currency(listing2.Price.to_i/listing2.SQM.to_i, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
		<%if listing3 !="0"%><td align="center"><%if listing3.Price.to_i != 0 and listing3.SQM.to_i != 0%><%=number_to_currency(listing3.Price.to_i/listing3.SQM.to_i, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
		<%if listing4 !="0"%><td align="center"><%if listing4.Price.to_i != 0 and listing4.SQM.to_i != 0%><%=number_to_currency(listing4.Price.to_i/listing4.SQM.to_i, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
		<%if listing5 !="0"%><td align="center"><%if listing5.Price.to_i != 0 and listing5.SQM.to_i != 0%><%=number_to_currency(listing5.Price.to_i/listing5.SQM.to_i, :unit => "&#3647;", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><%else%>-<%end%></td><%end%>
	</tr>
	<tr>
		<td valign="top"><b>Description:</b></td>

		<%if listing1 !="0"%>
		<%
 detail1 = listing1.Detail.split(' ').collect{|e|e.to_s}		
		a = 0
	str1 = ""
	while a <= 100
		str1 = str1 + detail1[a].to_s + " "
		a = a + 1
	end
%>
<td valign="top"><small><%if listing1.Detail != "" and listing1.Detail != nil%><%=str1%><%end%></td><%end%>

		<%if listing2 !="0"%>
		<%
 detail2 = listing2.Detail.split(' ').collect{|e|e.to_s}		
		a = 0
	str2 = ""
	while a <= 100
		str2 = str2 + detail2[a].to_s + " "
		a = a + 1
	end
%>
<td valign="top"><small><%if listing2.Detail != "" and listing2.Detail != nil%><%=str2%><%end%></td><%end%>

		<%if listing3 !="0"%>
		<%
 detail3 = listing3.Detail.split(' ').collect{|e|e.to_s}		
		a = 0
	str3 = ""
	while a <= 100
		str3 = str3 + detail3[a].to_s + " "
		a = a + 1
	end
%>
<td valign="top"><small><%if listing3.Detail != "" and listing3.Detail != nil%><%=str3%><%end%></td><%end%>


<%if listing4 !="0"%>
<%
 detail4 = listing4.Detail.split(' ').collect{|e|e.to_s}		
		a = 0
	str4 = ""
	while a <= 100
		str4 = str4 + detail4[a].to_s + " "
		a = a + 1
	end
%>
		
		<td valign="top"><small><%if listing4.Detail != "" and listing4.Detail != nil%><%=str4%><%end%></td><%end%>

		<%if listing5 !="0"%>
		<%
 detail5 = listing5.Detail.split(' ').collect{|e|e.to_s}		
		a = 0
	str5 = ""
	while a <= 100
		str5 = str5 + detail5[a].to_s + " "
		a = a + 1
	end
%>
<td valign="top"><small><%if listing5.Detail != "" and listing5.Detail != nil%><%=str5%><%end%></td><%end%>
	</tr>
	<tr>
		<td valign="top"><b>Map:</b></td>
		<% if RAILS_ENV =="development"
			ggkey="ABQIAAAAmJz8xm-Ja_ZK1XQwhiJzDBQZkXe_EpvnrmZpXiq6nSo1ISoWFhQ531AAdomVJEComYTNoI683GmTDQ"
		elsif RAILS_ENV =="alpha"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxR0Xo7zTDC_U-tJDD8CxNO7k9fpYxRpeu3fima4Ta4vg6ODpI5NgXviMA"
		elsif RAILS_ENV =="beta"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxSd5RqMbDNAFH1RgBBdxtpXobdYtxQHOioi6Sst-rpb6lixEE19bYuVOA"
		elsif RAILS_ENV =="production"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxTTuA6xppXR1MBY8ubG39QnXYmYuxQj2fBmwYDbHycsFhETWma7qU4GQw"
		end%>
			
		
		<%if listing1 !="0"%><td valign="top" align="center"><img src="http://maps.google.com/maps/api/staticmap?center=<%=listing1.lat%>,<%=listing1.lng%>&zoom=12&size=155x180&sensor=false&markers=size:mid|color:red|<%=listing1.lat%>,<%=listing1.lng%>&key=<%=ggkey%>&maptype=hybrid" /></td><%end%>
		<%if listing2 !="0"%><td valign="top" align="center"><img src="http://maps.google.com/maps/api/staticmap?center=<%=listing2.lat%>,<%=listing2.lng%>&zoom=12&size=155x180&sensor=false&markers=size:mid|color:red|<%=listing2.lat%>,<%=listing2.lng%>&key=<%=ggkey%>&maptype=hybrid" /></td><%end%>
		<%if listing3 !="0"%><td valign="top" align="center"><img src="http://maps.google.com/maps/api/staticmap?center=<%=listing3.lat%>,<%=listing3.lng%>&zoom=12&size=155x180&sensor=false&markers=size:mid|color:red|<%=listing3.lat%>,<%=listing3.lng%>&key=<%=ggkey%>&maptype=hybrid" /></td><%end%>
		<%if listing4 !="0"%><td valign="top" align="center"><img src="http://maps.google.com/maps/api/staticmap?center=<%=listing4.lat%>,<%=listing4.lng%>&zoom=12&size=155x180&sensor=false&markers=size:mid|color:red|<%=listing4.lat%>,<%=listing4.lng%>&key=<%=ggkey%>&maptype=hybrid" /></td><%end%>
		<%if listing5 !="0"%><td valign="top" align="center"><img src="http://maps.google.com/maps/api/staticmap?center=<%=listing5.lat%>,<%=listing5.lng%>&zoom=12&size=155x180&sensor=false&markers=size:mid|color:red|<%=listing5.lat%>,<%=listing5.lng%>&key=<%=ggkey%>&maptype=hybrid" /></td><%end%>
	</tr>
	<tr>
		<td valign="top"><b>View Full Listing:</b></td>
		<%if listing1 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing1.id%>" class="viewfulllisting">View full listing</a></td><%end%>
		<%if listing2 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing2.id%>" class="viewfulllisting">View full listing</a></td><%end%>
		<%if listing3 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing3.id%>" class="viewfulllisting">View full listing</a></td><%end%>
		<%if listing4 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing4.id%>" class="viewfulllisting">View full listing</a></td><%end%>
		<%if listing5 !="0"%><td valign="top" align="center"><a href="/rethai/show/?id=<%=listing5.id%>" class="viewfulllisting">View full listing</a></td><%end%>
	</tr>
</table>
	
	
<%end%><!--end if @listings.length-->

<br /><br />










