
		<%= stylesheet_link_tag 'yui/reset' %>
		<%= stylesheet_link_tag 'yui/fonts' %>
		<%= stylesheet_link_tag 'yui/grids' %>
		<%= stylesheet_link_tag 'yui/base' %>

		<%= stylesheet_link_tag 'rethai-style' %>


		<%= javascript_include_tag :defaults %> 
		
		<script src="/javascripts/kendio.js" type="text/javascript"></script>
		<script src="/javascripts/listings.js" type="text/javascript"></script>


<%if @listing == ""%>
	Sorry, please try again
<%else%>
	<!--<p>Like this property? Contact the owner!</p>
	<div id="show"> </div>-->
	<div id="sendmessageform">
	<%if session[:user_id]%><!-- BUSINESS FORM -->
	
	<%@user = User.find(session[:user_id])%>
	
	<%= form_remote_tag(:update => "show",
						:loading =>"document.getElementById('indicator_form').style.display='block';",								
						:complete =>"javascript: document.getElementById('indicator_form').style.display='none';  document.getElementById('sendmessageform').style.display='none';",
						:url => { :controller=>'products',:action => :mail2user }
						) %>				
	<table>
		<%= hidden_field 'mail', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %>
		<%= hidden_field 'mail', 'Email' ,:value=>"#{@user.Email}"%>
		<%= hidden_field 'mail', 'Address' ,:value=>"" %>
		<%= hidden_field 'mail', 'Suburb' ,:value=>"#{@user.Suburb}"%>
		<%= hidden_field 'mail', 'MobilePhone' ,:value=>"#{@user.Phone}" %>
		
		
		<tr>
			<td colspan=2><br>
				<%= text_area 'mail', 'Message', :rows=>'5', :size=>'40', :class=> 'listingtextbox' %>
			</td>
		</tr>
		<!--<tr>
			<td colspan=2>
				Request a viewing (optional)<br /> 
				<label style="padding-right:10px;">DATE:</label><input type="text" name="mail[ViewDate]" id="mail_ViewDate" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');" style="width:80px" /><img src="/icon-calendar.gif" style="padding-left:10px;" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');"/>
				
				--><!-- the calendar will be inserted here 
				            <span id="display" style="float: right; clear: both;"></span>
				            <span id="preview" style="font-size: 80%; text-align: center; padding: 2px">&nbsp;</span>
				<br>
			</td>
		</tr>-->
	</table>
	<br>
	<%= hidden_field_tag :id  ,@listing.id%>
	<%= hidden_field 'mail', 'lat',:value=>@listing.lat%>
	<%= hidden_field 'mail', 'lng',:value=>@listing.lng%>
	<%= hidden_field 'mail', 'id_product',:value=>@listing.id%>
	<%= hidden_field 'mail', 'id_agent',:value=>@listing.id_user%>
	
<%
owner = ""
begin
owner = User.find(@listing.id_user)
rescue
end
if owner != ""
%>
	<%= hidden_field 'mail', 'toEmail',:value=>owner.Email%>
<%end%>
	<%= hidden_field 'mail', 'id_user',:value=>session[:user_id]%>
	<%= hidden_field 'mail', 'customer',:value=>session[:user_id]%>
	<%= hidden_field 'mail', 'master',:value=>"0"%>
	<%= hidden_field 'mail', 'custflag',:value=>"0"%>
	
	
	
	<div class="buttons"> 
		<button name="commit" type="submit" onclick="return checkremessageform()" class="positive" />
			<img src="/images/icons/email_go.png" alt=""/>
			Send Message
		</button>
		<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
	</div> 
	</form>
	<div style="clear:both;"></div>
	<%else%>
		<!---<span style="color:green">You need to login first.</p><p>If you don't have an account, you can register quickly and easily for free.</span>
		-->
		<%= form_remote_tag(:update => "show",
						:loading =>"show_1_element('indicator_form')",								
						:complete =>"javascript: document.getElementById('indicator_form').style.display='none';  document.getElementById('sendmessageform').style.display='none';",
						:url => { :controller=>'products',:action => :offline_mail2user },
						:html => {  :name =>"myform",:id =>"myform"}
						) %>
		<!--<form id="myform" name="myform" action="/products/mail2user">
		-->
	<%= hidden_field_tag :id  ,@listing.id%>
	<%= hidden_field 'mail', 'lat',:value=>@listing.lat%>
	<%= hidden_field 'mail', 'lng',:value=>@listing.lng%>
	<%= hidden_field 'mail', 'id_product',:value=>@listing.id%>
	<%= hidden_field 'mail', 'id_agent',:value=>@listing.id_user%>
	
	
<%
owner = ""
begin
owner = User.find(@listing.id_user)
rescue
end
if owner != ""
%>
	<%= hidden_field 'mail', 'toEmail',:value=>owner.Email%>
<%end%>
	
	
	<%= hidden_field 'mail', 'master',:value=>"0"%>
	<%= hidden_field 'mail', 'custflag',:value=>"0"%>
	
	
	
		<div id="myform1">
		<table class="table3px">
			<tr>
				<td><%=I18n.translate('txt.show.name')%>: </td>
				<td><input type="text" name="user[FirstName]" id="user_FirstName" size="12"/></td>
			</tr>
			<tr>
				<td><%=I18n.translate('txt.show.email')%>: </td>
				<td>
					<input type="text" name="user[Email]" id="user_Email" size="30" onkeydown="if(event.keyCode == 13){ return false;}"/><span name="processing" id="processing"></span>
					<span id="validateemail"><input type="hidden" name="check_contact_email" id="check_contact_email" value="0"/></span>
					 <%= observe_field(:user_Email,
	                        		:on => :blur,
									:method => :get,
	                        		:update => :validateemail,
									:loading=>"javascript: document.getElementById('processing').style.display='block';  document.getElementById('submit11').disabled='true';  document.getElementById('submit12').disabled='true';  document.getElementById('submit13').disabled=true;",
									:complete =>"javascript: document.getElementById('processing').style.display='none'; if(document.getElementById('validateemail').innerHTML.search(/true/i) > 0){ document.getElementById('submit11').disabled=false;  document.getElementById('submit12').disabled=false;  document.getElementById('submit13').disabled=false; }else{alert('Please Check Email');} setcontactform(); ",
	                        		:url => { :controller=>'products',:action => 'validateemail2'},
									:with => "'email='+escape($('user_Email').value) ") %>
									
				</td>
			</tr>
			<tr>
				<td valign=top><%=I18n.translate('txt.show.message')%>: </td>
				<td><textarea name='mail[Message]' id="mail_Message" rows='5' cols='30' class='listingtextbox' ></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div id="bottom1" style="display:block;"><input type="submit" name="submit" id="submit11" value="Send the message" disabled="disabled" onclick="return chkcontactform('0');"/></div>
					<div id="bottom2" style="display:none;"><input type="submit" name="submit2" id="submit12" value="Send the message" disabled="disabled" onclick="return chkcontactform('1');"/></div>
					
				</td>
			</tr>
		</table>
		</div>
		<div id="myform2" style="display:none;">
			<table>
				<tr>
					<td><%=I18n.translate('txt.show.email')%>: </td>
					<td>
						<input type="text" name="user2[Email2]" id="user_Email2" size="30"/>
					</td>
				</tr>	
				<tr>
					<td><%=I18n.translate('txt.show.password')%>: </td>
					<td>
						<input type="password" name="user2[password]" id="user_password" size="30"/>
					</td>
				</tr>	
				<tr>
					<td><a href="#" onclick="goback();"> << back </a></td>
					<td>
						<br>
						<div id="bottom3" style="display:block;"><input type="submit" name="submit3" id="submit13" value="Send Message" disabled="disabled" onclick="return chkcontactform('2');"/></div>
					</td>
				</tr>
			</table>
		</div>
					
					<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
		
		</form>
	<%end%>
	</div>
	
	
	</div>
	
	
	<!--=====================================================  End Contact form =============================================================-->
	
	
	<%end%>
	
	
	