<!-- SEO -->
<%@page_title = "Map of Real Estate #{params[:seo]} Thailand"%>
<%@page_desc = "Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->

<%= javascript_include_tag :defaults %> 
<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>

<script type="text/javascript" src="/javascripts/ClusterMarker.js" ></script>
<script type="text/javascript" src="/javascripts/HtmlControl.js"></script>
<script type="text/javascript" src="/javascripts/kendio.js"></script>
<script type="text/javascript" src="/javascripts/maps_v3.js"></script>
<script type="text/javascript" src="/javascripts/EWindow.js"></script>
<link href="/stylesheets/EWindow.css" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/javascripts/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/javascripts/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="/javascripts/lightbox/lightbox.css" type="text/css" media="screen" />


<script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'>
</script>
<script type='text/javascript'>
GS_googleAddAdSenseService("ca-pub-5985301273758544");
GS_googleEnableAllServices();
</script>
<script type='text/javascript'>
GA_googleAddSlot("ca-pub-5985301273758544", "Agent-left-TH-skyscraper");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Header-Leaderboard");
GA_googleAddSlot("ca-pub-5985301273758544", "Homepage-Leaderboard");
GA_googleAddSlot("ca-pub-5985301273758544", "Homepage-Sidebar");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya-2");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya-3");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Phuket");
</script>
<script type='text/javascript'>
GA_googleFetchAds();
</script>



<script type="text/javascript">

if(window.addEventListener){
	window.addEventListener( "load", myOnload, false );
} else {
	window.attachEvent( "onload", myOnload );
}

if(window.addEventListener){
	window.addEventListener( "unload", GUnload, false );
} else {
	window.attachEvent( "onunload", GUnload );
}
 
function nextimg(currentimg,allimg,id_product){
	if ((document.getElementById(allimg).innerHTML * 1) > (document.getElementById(currentimg).innerHTML * 1) ){
		hiddenID = "image_"+ id_product +"_" + document.getElementById(currentimg).innerHTML;
		showID = "image_"+ id_product +"_"+ ((document.getElementById(currentimg).innerHTML * 1) + 1);
		document.getElementById(hiddenID).style.display="none";
		document.getElementById(showID).style.display="inline";
		document.getElementById(currentimg).innerHTML = ((document.getElementById(currentimg).innerHTML * 1) + 1);
	}
}
	
function lastimg(currentimg, allimg, id_product){
	if ((document.getElementById(currentimg).innerHTML * 1) > 1) {
		hiddenID = "image_"+ id_product +"_" + document.getElementById(currentimg).innerHTML;
		showID = "image_"+ id_product +"_"+ ((document.getElementById(currentimg).innerHTML * 1) - 1);
		document.getElementById(hiddenID).style.display="none";
		document.getElementById(showID).style.display="inline";
		document.getElementById(currentimg).innerHTML = ((document.getElementById(currentimg).innerHTML * 1) - 1);
	}
}
</script>



	</head>
	<body onload="myOnload">
		<div style="position:absolute; z-index:120; display:none;">
			<input type="hidden" name="ftime" id="ftime" value="0"/>
			<input type="hidden" name="latlng" id="latlng" value="0"/>
			<input type="text" name="markkersArray" id="markkersArray" value="0"/>
			<input type="hidden" name="clearlisting" id="clearlisting" value="1"/>
			<%if @listing !=nil%>
				<input type="hidden" name="firstpopup" id="firstpopup" value="<%=@listing.id%>"/>
				<input type="hidden" name="mylat" id="mylat" value="<%=@listing.lat%>"/>
				<input type="hidden" name="mylng" id="mylng" value="<%=@listing.lng%>"/>
			<%else%>
				<input type="hidden" name="firstpopup" id="firstpopup" value=""/>
				<input type="hidden" name="mylat" id="mylat" value="0"/>
				<input type="hidden" name="mylng" id="mylng" value="0"/>				
			<%end%>
			
		</div>

<!-- HEADER -->
<div class="listingheader">
<div style="float:right;width:320px;">
	<div id="header-minilinks-map" class="links"><%if not session[:user_id]%><a href="/rethai/register">Register</a> (FREE)<%else%><%end%> <%if not session[:user_id]%> <a href="/rethai/login">Login</a> <%else%><a href="/login/logout?myredirect=/maps">Logout</a><%end%> <a href="/controlpanel">Control Panel</a></div>

	<div id="header-navigation-map">
		<div><a href="/">Home</a></div>
		<div><a href="/rethai/new">Add a Listing</a></div>
		<div><a href="/index/foragents">For Agents</a></div>
		<!--<div><a href="#">Stats & Trends</a></div>-->
	</div>
</div>
	
	<div style="float:left;width:150px;"><a href="/"><img src="/images/small-search-logo.jpg" /></a></div>
	
	
	
	
	<!--======================================= Show company ======================================================-->
	<div id="showbusiness" style="position:absolute; display:none;z-index:100;  background-color: #FFFFFF;padding: 5px;border: 5px solid #ddd;" >
		<div style="float:right;" onclick="javascript:document.getElementById('showbusiness').style.display='none';"><a href="#">x Close</a></div>
		<h1>Business Details</h1>
	<div id="actionbar">
		<a href="#" onclick="javascript:document.getElementById('businessdetail').style.display='block'; document.getElementById('imailform').style.display='none';"><img src="/icon/icon_book.gif" alt="Business Details" style="margin-right:5px" />Details</a>
		<a href="#" onclick="javascript:document.getElementById('businessdetail').style.display='none'; document.getElementById('imailform').style.display='block';"><img src="/icon/icon_email.gif" alt="Contact Us" style="margin-left:10px;margin-right:5px" />Contact</a>
		<span id="linktoourlisting"></span>
	</div>
		
		


	</div>
	
		<div id="businessdetail" style="display:inline"></div>
		<div id="imailform" style="display:none;"> </div>	
		<div id="contactuserform" style="position:absolute; display:none;z-index:100;  background-color: #FFFFFF;padding: 5px;border: 5px solid #ddd;" >		
		 	<div style="float:right;" onclick="javascript:document.getElementById('contactuserform').style.display='none';"><a href="#">x Close</a></div>
			<h1>Email Owner</h1>
			<span id="contactspace"></span>
		</div>	
	<!--======================================= End Show company ====================================================-->
	
	
	
	
<table style="height:47px;margin-top:1px;width:450px;">
<tr>
  <td>
		<table>
			<tr>
				<td>

				   <select name="salerent" id="salerent" onchange="setfirstmarkers();" style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;padding:2px;">
				   	   <option value="2" <%if session[:salerent].to_s=='2'%> selected ="selected" <%end%>>Buy / Rent&nbsp;&nbsp;</option>
					   <option value="1" <%if session[:salerent].to_s=='1'%> selected ="selected" <%end%>>Buy&nbsp;&nbsp;</option>
					   <option value="0" <%if session[:salerent].to_s=='0'%> selected ="selected" <%end%>>Rent&nbsp;&nbsp;</option>
				   </select>
				</td>

				<td>
					<input id="code" name="code" size="15" type="text" value="<%=@location%>" onchange="setfirstmarkers();"  style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="code_detail"></div><script type="text/javascript">
					//<![CDATA[
					var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape(document.getElementById('code').value) }, method:'get', paramName:'code'})
					//]]>
					</script> 
				</td>
				<td>
					<select name="propertytype" id="propertytype" style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;padding:2px;">
							<%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
							<option value="0">Listing Type</option>
							<%for lt in listingtypes%>
							<option value="<%=lt.Value%>" <%if session[:propertytype].to_s == lt.Value.to_s %> selected="selected" <%end%>><%=lt.Name%></option>
							<%end%>
					</select>
				</td>
				
			</tr>
		</table>
		
		<table border="0">
			<tr>
				<td><input type="text" name="tfprice" id="tfprice" value="<%=session[:fprice]%>" onblur="this.value=formatCurrency(this.value,'fprice');" style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;width:75px;padding:2px;" /></td>
				<td><input type="text" name="ttprice" id="ttprice" value="<%=session[:tprice]%>" onblur="this.value=formatCurrency(this.value,'tprice');" style="font-family:Arial, Helvetica;margin-left:5px; width:75px;padding:2px;" />
				  <input type="hidden" name="fprice" id="fprice" value="<%=session[:fprice]%>"/>
				   <input type="hidden" name="tprice" id="tprice" value="<%=session[:tprice]%>" />
				   
			  </td>
			  
			  
				<td>

		   		<select name="bed" id="bed" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
			   		<option value=""<%if session[:bed].to_s == "" %> selected="selected" <%end%>>Bedrooms Min:</option>
					<option value="0"<%if session[:bed].to_s == "0" %> selected="selected" <%end%>>Studio</option>
					<option value="1"<%if session[:bed].to_s == "1" %> selected="selected" <%end%>>1</option>
					<option value="2"<%if session[:bed].to_s == "2" %> selected="selected" <%end%>>2</option>
					<option value="3"<%if session[:bed].to_s == "3" %> selected="selected" <%end%>>3</option>
					<option value="4"<%if session[:bed].to_s == "4" %> selected="selected" <%end%>>4</option>
					<option value="5"<%if session[:bed].to_s == "5" %> selected="selected" <%end%>>5</option>
					<option value="6"<%if session[:bed].to_s == "6" %> selected="selected" <%end%>>6+</option>
				</select>
			  </td>
				<td>
					<select name="bed2" id="bed2" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
				   		<option value="" <%if session[:bed2].to_s == "" %> selected="selected" <%end%>>Max:</option>
						<option value="0" <%if session[:bed2].to_s == "0" %> selected="selected" <%end%>>Studio</option>
						<option value="1" <%if session[:bed2].to_s == "1" %> selected="selected" <%end%>>1</option>
						<option value="2" <%if session[:bed2].to_s == "2" %> selected="selected" <%end%>>2</option>
						<option value="3" <%if session[:bed2].to_s == "3" %> selected="selected" <%end%>>3</option>
						<option value="4" <%if session[:bed2].to_s == "4" %> selected="selected" <%end%>>4</option>
						<option value="5" <%if session[:bed2].to_s == "5" %> selected="selected" <%end%>>5</option>
						<option value="6" <%if session[:bed2].to_s == "6" %> selected="selected" <%end%>>6+</option>
					</select>
										
				</td>
				
				<td>

			   		<select name="bath" id="bath" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
				   		<option value="" <%if session[:bath].to_s == "" %> selected="selected" <%end%>>Bathrooms:</option>
						<option value="1" <%if session[:bath].to_s == "1" %> selected="selected" <%end%>>1</option>
						<option value="2" <%if session[:bath].to_s == "2" %> selected="selected" <%end%>>2</option>
						<option value="3" <%if session[:bath].to_s == "3" %> selected="selected" <%end%>>3</option>
						<option value="4" <%if session[:bath].to_s == "4" %> selected="selected" <%end%>>4</option>
						<option value="5" <%if session[:bath].to_s == "5" %> selected="selected" <%end%>>5+</option>
					</select>
					   	
				</td>

		<td valign="top" style="padding-left:10px;">
			<button type="submit" href="#" id="submitsearch" onclick="setfirstmarkers();" style="height:20px;width:100px;background-color:#fff;color:#2f4100;font-size:11px;border:none;" />		
				Update Search
			</button>
		</td>	
		<td valign="top" style="padding-left:10px;">
			<button type="submit" href="#" id="submitsearch" onclick="document.getElementById('salerent').value='2';  document.getElementById('propertytype').value='0'; document.getElementById('tfprice').value=''; document.getElementById('ttprice').value=''; document.getElementById('fprice').value='0'; document.getElementById('tprice').value='0'; document.getElementById('bed').value='';  document.getElementById('bed2').value='';  document.getElementById('bath').value=''; setfirstmarkers();" style="height:20px;width:100px;background-color:#fff;color:#2f4100;font-size:11px;border:none;" />		
				Clear Search
			</button>
				<input type="hidden" name="lastzoomlevel" id="lastzoomlevel" value="1"/>
		</td>
		  </tr>
	  </table>
</td>

</tr></table>






</div>
<!-- // END HEADER -->


<!-- end searchmodel -->

<div style="float:right;position:absolute;bottom:25px;right:10px;z-index: 60;">
	<div style="float:right;" class="homeads">
		
		
		<!-- ========================  Advertising space  ====================================================-->
				<div>
					
					<%
					if session[:location].to_s !=""
						avertiselocation = session[:location]
					else
						avertiselocation = "Pattaya"
					end
						advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='mapright'",:order=>"RAND()",:limit=>1)
						if advertises.length > 0
							for adv in advertises
								%><%=adv.ScriptText%><%
								break
							end
						else
							advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='mapright'",:order=>"RAND()",:limit=>1)
							if advertise2s.length > 0
								for adv in advertise2s
									%><%=adv.ScriptText%><%
									break
								end
							end
						end
					%>
				</div>
				<!-- ======================= End Advertising space ====================================================-->
	</div>
</div>






<div class="wrapper" id="map"></div>




		<div id="noticebox" style="position:absolute; display:none;z-index:100; top:100px; left:250px;  background-color: #FFFFFF;padding: 5px;border: 5px solid #ddd;" >		
		 	<div style="float:right;" onclick="javascript:document.getElementById('noticebox').style.display='none';"><a href="#">x Close</a></div>
			<h1>Notice Messages</h1>
			<span >
				The result is more 3,000 please try more zoom or put more conditions search  
			</span>
		</div>	



	