<%= render :partial => "/listings/partner/#{params[:partner]}_header_newlisting" %>
<%= render :partial => "/listings/partner/#{params[:partner]}_nav" %>

<!-- SEO -->
<%
@page_title = I18n.translate('txt.new.page_title')
@page_desc = I18n.translate('txt.new.page_desc')
@page_keywords = I18n.translate('txt.new.page_keywords')
%>

<!-- // END SEO -->
<script type="text/javascript">
	function genpage32(){
//		document.getElementById('submitlisting').disabled = false;
//		alert('yes');
			 var str1 =document.getElementById('product2_Type').options[document.getElementById('product2_Type').selectedIndex].text;
			 var str2 =document.getElementById('product2_salerent').options[document.getElementById('product2_salerent').selectedIndex].text;
			 var str3 =document.getElementById('product2_Bed').options[document.getElementById('product2_Bed').selectedIndex].text;			
//			alert('' + str1 + '\n' + str2 + '\n' + str3);
			 if (document.getElementById('product2_Bath').value == '5') {
				var str4 = "5 +";
			}else {
				var str4 = document.getElementById('product2_Bath').options[document.getElementById('product2_Bath').selectedIndex].text;
			}
			
			
			var str5 = document.getElementById('product2_Parking').options[document.getElementById('product2_Parking').selectedIndex].text;
			var str6 = document.getElementById('tempprice1').value;
			var str7 = document.getElementById('tempprice2').value;
			
			document.getElementById('str1').innerHTML=str1;
			document.getElementById('str2').innerHTML=str2;
			document.getElementById('str3').innerHTML=str3;
			document.getElementById('str4').innerHTML=str4;
			document.getElementById('str5').innerHTML=str5;
			document.getElementById('str6').innerHTML=str6;
			document.getElementById('str7').innerHTML=str7;
//			alert(srt1+"\n"+str2+"\n"+str3+"\n"+str4+"\n"+str5+"\n"+str6+"\n"+str7);
		}
		function setphoneNo(){
			var str = document.getElementById('validateemail').innerHTML;
//			alert(str.search(/accept.png/i));
			if(str.search(/accept.png/i) > 0){
				document.getElementById('phone1').style.display='inline';
				document.getElementById('phone2').style.display='inline';
			}else{
				
				document.getElementById('phone1').style.display='none';
				document.getElementById('phone2').style.display='none';
			}
		}
		
		
		function checkword(){
			strvalidateemail   = document.getElementById('validateemail').innerHTML;
			strvalidatecaptcha = document.getElementById('verify').innerHTML;
			strcaptchafield    = document.getElementById('recaptcha_response_field').value;
//			alert('1'+strvalidateemail+'\n2'+strvalidatecaptcha+'\n3'+strcaptchafield);
			if (strvalidateemail.search(/true/i)> 0){
//				alert('1');
				jsubmit();
					return false;
			}else if((strvalidatecaptcha=="") &&(strcaptchafield =="")){
//				alert('2.1');
				if(strvalidateemail.search(/false/i)> 0){
					alert('try Enter word or Check Email Address');
					return false;
				}else{
				jsubmit();
					return false;
				}
				
			}else if((strvalidateemail.search(/false/i)> 0)&&(strvalidatecaptcha.search(/true/i) > 0) &&(strcaptchafield !="")){
//				alert('2');
				jsubmit();
					return false;
			}else if((strvalidateemail.search(/false/i)> 0)&&(strvalidatecaptcha.search(/false/i) > 0) &&(strcaptchafield !="")){
				return false;
			}else if((strvalidateemail.search(/false/i)> 0)&&(strvalidatecaptcha.search(/false/i) > 0) &&(strcaptchafield =="")){
				alert('Please type the words below to continue');
				document.getElementById('recaptcha_response_field').focus();
				return false;
			}else{
//				alert('4');
				return false;
			}
		}
		function jsubmit(){
			if (document.getElementById('product2_Bed').value==""){alert('Please Check your Bedroom');document.getElementById('product2_Bed').focus();return false;}
				else if (document.getElementById('product2_Bath').value==""){alert('Please Check your Bathroom');document.getElementById('product2_Bath').focus();return false;}
				else if (document.getElementById('product2_Detail').value.replace(/ /g,"")==""){alert('Please Check your Description');document.getElementById('product2_Detail').focus();return false;}//area field
				else if (document.getElementById('product2_salerent').value == '1' && document.getElementById('product2_Price').value.replace(/ /g,"")==""){alert('Please Check your Sale Price');document.getElementById('product2_Price').focus();return false;}
				else if (document.getElementById('product2_salerent').value == '0' && document.getElementById('product2_RPrice').value.replace(/ /g,"")==""){alert('Please Check your Rent Price');document.getElementById('product2_RPrice').focus();return false;}
				else if (document.getElementById('product2_salerent').value == '2' && (document.getElementById('product2_RPrice').value.replace(/ /g,"")=="" || document.getElementById('product2_Price').value.replace(/ /g,"")=="" )){alert('Please Check your Price');document.getElementById('product2_Price').focus();return false;}
				else if(document.getElementById('user_FirstName').value.replace(/ /g,"")==""){alert("Please Enter Name"); return false;}
				else if(document.getElementById('user_Email').value.replace(/ /g,"")==""){alert("Please Enter Email"); return false;}
//				else if(document.getElementById('checkemail').value=="0" && document.getElementById('user_Password').vale==""){alert("Please Enter Password"); return false;}
				else if(document.getElementById('confirmlocation').value=="0" ){alert("Please confirm the listing Location on the map"); return false;}
				else{
					document.getElementById('shadow').style.display='block';
					document.getElementById('showloading').style.display='block';
					document.getElementById('addlisting_form').submit();
					return true;
					}
		}
</script>
<script type="text/javascript">
	function emailsubmit(){
		//<![CDATA[
		new Form.Element.EventObserver('user_Email', function(element, value){
			new Ajax.Updater('validateemail', '/listings/validateemail', {
				asynchronous: true,
				evalScripts: true,
				method: 'get',
				onComplete: function(request){
					if (document.getElementById('validateemail').innerHTML.search(/true/i) > 0) {
						document.getElementById('submitlisting').disabled = false;
					}
					else {
						alert('Please Check Your Email Address');
					}
					setsubmitform();
					document.getElementById('textpassword').style.display = 'block';
					setphoneNo();
				},
				onLoading: function(request){
					document.getElementById('submitlisting').disabled = 'true';
				},
				parameters: 'code=' + escape($('user_Email').value)
			})
		})
	//]]>
	}
</script>
<script type="text/javascript"  src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
<h1 class="addlistingheader">Add a Listing</h1>
<%if flash[:notice]%>
	<div id="notice"><%=flash[:notice]%></div>
<%end%>

<%
#set callback value
c_salerent = 1
c_type = 1
c_sqm = ""
c_price = ""
c_rprice = ""
c_bed = 0
c_bath = 1
c_parking = 0
c_detail = ""


c_name = ""
c_email = ""
c_password = "0"

if params[:product2]
if params[:product2][:salerent]
	c_salerent = params[:product2][:salerent]
end
if params[:product2][:salerent]
	c_type = params[:product2][:Type]
end
if params[:product2][:SQM]
	c_sqm = params[:product2][:SQM]
end
if params[:product2][:salerent]
	c_price = params[:product2][:Price]
end
if params[:product2][:RPrice]
	c_rprice = params[:product2][:RPrice]
end
if params[:product2][:Bed]
	c_bed = params[:product2][:Bed]
end
if params[:product2][:Bath]
	c_bath = params[:product2][:Bath]
end
if params[:product2][:Parking]
	c_parking = params[:product2][:Parking]
end
if params[:product2][:salerent]
	c_detail = params[:product2][:Detail]
end
end


if params[:user]
if params[:user][:FirstName]
	c_name = params[:user][:FirstName]
end
if params[:user][:Email]
	c_email = params[:user][:Email]
end
if params[:user][:Password]
	c_password = "1"
end
end














	str = "yes"
if session[:user_id]
	user = User.find(session[:user_id])
	#search my listings
	mylistings = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and Deleted = '1' and (Status !='d' and Status !='f' and Status !='s' or Status is null)")
	
		#check my level
		level = Subscription.find(user.level)
		if (mylistings.length).to_i >= (level.Listings).to_i
			str = "no"
		end
	
end  #end if session[:user_id]
		if str == "no"
%>
		<p>Sorry but you have added more listings than your subscription allows.</p>
		<p>If you are an agency, <a href="/index/foragents">click here</a> to find out how to add more listings and expand your marketing with rethai.com</p>
		<p>You are currently have: <%=mylistings.length%> listings</p>
		<p>You are allowed: <%=level.Listings%> listings</p>
		<p>Your listing has been saved but is offline, to put this listing online you need to <a href="/levels/upgrade">upgrade your subscription</a>, or take an existing listing offline in the <a href="/controlpanel/products">control panel</a></p>
		<p>Please <a href="/levels/upgrade">Upgrade</a> your subscription for additional listings.</p>
		<br>
		<br>
		<br>
	<!--=====================  temp latlng  =================================-->
		<input type="hidden" name="product2[lat]" id="product_lat" value="12.9357"/>
		<input type="hidden" name="product2[lng]" id="product_lng" value="100.889"/>
	<input type="hidden" id="temp_lat1" value="" readonly="readonly"  />
	<input type="hidden" id="temp_lng1" value="" readonly="readonly" style="display:hidden" />
	<input type="hidden" id="temp_lat2" value="" readonly="readonly"  />
	<input type="hidden" id="temp_lng2" value="" readonly="readonly" style="display:hidden" />
	<div id="map" style="display:none;width:470px;height:450px; min-height: 450px;margin-top:10px"></div>  
	<!--=====================  end temp latlng  =================================-->
	<%else%>

		


<div style="width:980px">
	

<!-- LEFT -->
<div style="width:450px;float:left;">

<input type="hidden" id="tempvalue" value=""/>
	<form id='addlisting_form' method="post" enctype="multipart/form-data"  action="/listings/create" >

	<div id="gaddproductform1" style="display:block;">
	
	<input type="hidden" name="product2[lat]" id="product_lat" value="12.9357"/>
	<input type="hidden" name="product2[lng]" id="product_lng" value="100.889"/>
	<input type="hidden" name="partner"		  id="partner" value="<%=params[:partner]%>"/>
	<input type="hidden" id="temp_lat1" value="" readonly="readonly"  />
	<input type="hidden" id="temp_lng1" value="" readonly="readonly" style="display:hidden" />

	<input type="hidden" name="product2[City]" id="product2_City" value="Pattaya" readonly="readonly" />
	<!--For sale etc-->
	<table border=0 class="addlistingtable">
		<tr>
			<td>Listing Title: </td>
			<td><%=text_field :product2,:titlelink, :size=>20  %>
			</td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.new.property-for')%>: </td>
			<td>
				<select name="product2[salerent]" id="product2_salerent" onchange="return salerentprice('product2_salerent');">
					<option value="1" <%if c_salerent.to_s == '1'%> selected="selected"<%end%> ><%=I18n.translate('txt.listingtype.for')%> <%=I18n.translate('txt.listingtype.sale')%></option>
					<option value="0" <%if c_salerent.to_s == '0'%> selected="selected"<%end%> ><%=I18n.translate('txt.listingtype.for')%> <%=I18n.translate('txt.listingtype.rent')%></option>
					<option value="2" <%if c_salerent.to_s == '2'%> selected="selected"<%end%> ><%=I18n.translate('txt.listingtype.for')%> <%=I18n.translate('txt.listingtype.sale-or-rent')%></option>						
				</select>
			</td>
		</tr>
	
		<!--type of listings-->
		<tr>
			<td><%=I18n.translate('txt.listingtype.propertytype')%>: </td>
			<td>
				<select name="product2[Type]" id="product2_Type" onchange="return listingtype('product2_Type');">
					<%
						listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc ")
						for ltype in listingtypes
							listingtype = "#{ltype.Name}"	
							while listingtype[" "]				
								listingtype[" "] ="-"
							end
							while listingtype["/"]				
								listingtype["/"] =""		
							end
								listingtype = "txt.listingtype.#{listingtype.downcase}"
								listingtype = I18n.translate(listingtype)
			
						%>	
						<option value="<%=ltype.Value%>" <%if c_type.to_s == ltype.Value.to_s%> selected="selected" <%end%>><%=listingtype%></option>
					<%		end	%>
				</select>
			</td>
		</tr>
		<!--
		<tr>
			<td>
				<div id="condoname1" style="display:block;">Condo Name:</div>
			</td>
			<td>
				<div id="condoname2" style="display:block;">
				<select name="product2[id_condo]" id="product2_id_condo" >
					<%
					condos = Condo.find(:all,:conditions=>"status = '1'")
					%>
					<option value="0">Please select Condo/Apartment Name</option>
					<%
					for condo in condos	
					%>
						<option value="<%=condo.id%>"><%=condo.name%></option>
					<%end%>
				</select><Br>What is your condo building name:<Br>
				<input type="text" name="condo[name]" id="condo_name" vlaue="" />
				</div>
			</td>
		</tr>
		-->
		
		<!--SQM-->
		<tr>
			<td><%=I18n.translate('txt.listingtype.sqm')%>:</td>
			<td>
				<input type='text' name='tmpsqm' id='tmpsqm' value="<%=c_sqm%>" onfocus="sqmconvert();" onblur="this.value=formatCurrency(this.value,'product2_SQM');" onkeydown="if(event.keyCode == 13){ return false;}"/>
				<input type='hidden' name='product2[SQM]' id='product2_SQM' value="<%=c_sqm%>"/>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				
		<div id="sqmconvert" style="display:none; position: absolute;top:30%;left:35%;background: #fff;padding: 10px;border: 5px solid #ddd;z-index: 100; width:240px;" >
			<table width="250">
				<tr>
					<td><strong>SQM:</strong></td>
					<td><input type="text" name="conv_sqm" id="conv_sqm" value="" onblur="convertsqm('conv_sqm');" onkeydown="if(event.keyCode == 13){ return false;}"/></td>
				</tr>
				<tr>
					<td><strong>SQ Ft:</strong></td>
					<td><input type="text" name="conv_sqft" id="conv_sqft" value="" onblur="convertsqm('conv_sqft');" onkeydown="if(event.keyCode == 13){ return false;}" /></td>
				</tr>
				<tr>
					<td><strong>Rai:</strong></td>
					<td><input type="text" name="conv_rai" id="conv_rai" value="" onblur="convertsqm('conv_rai');" onkeydown="if(event.keyCode == 13){ return false;}"/></td>
				</tr>
				<tr>
					<td><strong>SQ Wah:</strong></td>
					<td><input type="text" name="conv_sqv" id="conv_sqv" value="" onblur="convertsqm('conv_sqv');"  onkeydown="if(event.keyCode == 13){ return false;}"/></td>
				</tr>
			</table>
			<br>
			<div style="margin-left:10px;"><a href="#"onclick="javascript: document.getElementById('shadow2').style.display='none'; document.getElementById('sqmconvert').style.display='none';">Save & Close</a></div>
		</div>
			</td>
			
		</tr>
		<!--price-->				
		<tr>
			<td><%if c_salerent.to_s != "0"%><span id="saleprice" stylel="display:block;"><%else%><span id="saleprice" stylel="display:none;"><%end%><%= I18n.t 'txt.show.sale-price' %>: </span></td>
			<td>
				<%if c_salerent.to_s != "0"%><span id="saleprice2" stylel="display:block;"><%else%><span id="saleprice2" stylel="display:none;"><%end%>
					<input type="text" name="tempprice1" id="tempprice1"  value="<%=c_price%>"	onblur="this.value=formatCurrency(this.value,'product2_Price');" onkeydown="if(event.keyCode == 13){ return false;}"/>    	
					<input type="hidden" name="product2[Price]" id="product2_Price" value="<%=c_price%>" />      	
				</span>
				 <span style="color:red;font-size:14px;">*</span> 
			</td>
		</tr>
		<tr>
			<td><%if c_salerent.to_s != "1"%><span id="rentprice" style="display:block;"><%else%><span id="rentprice" style="display:none;"><%end%><%= I18n.t 'txt.show.rent-price' %>: </span></td>
			<td>
				<%if c_salerent.to_s != "1"%><span id="rentprice" style="display:block;"><%else%><span id="rentprice2" style="display:none;"><%end%>
					<input type="text" name="tempprice2" id="tempprice2" value="<%=c_rprice%>"  onblur="this.value=formatCurrency(this.value,'product2_RPrice');" onkeydown="if(event.keyCode == 13){ return false;}"/>		
					<input type="hidden" name="product2[RPrice]" id="product2_RPrice" value="<%=c_rprice%>"  />		
				</span>
			</td>
		</tr>
		
		<!--bedroom-->
		<tr>
			<td><div id="showbed"><%=I18n.translate('txt.listingtype.bedroom')%>: </div></td>
			<td>
				<div id="showbed2">
				<select name="product2[Bed]" id="product2_Bed">
					<option value="0" <%if c_bed.to_s == "0"%> selected="selected" <%end%>><%=I18n.translate('txt.listingtype.studio')%></option>
					<option value="1" <%if c_bed.to_s == "1"%> selected="selected" <%end%>>1</option>
					<option value="2" <%if c_bed.to_s == "2"%> selected="selected" <%end%>>2</option>
					<option value="3" <%if c_bed.to_s == "3"%> selected="selected" <%end%>>3</option>
					<option value="4" <%if c_bed.to_s == "4"%> selected="selected" <%end%>>4</option>
					<option value="5" <%if c_bed.to_s == "5"%> selected="selected" <%end%>>5</option>
					<option value="6" <%if c_bed.to_s == "6"%> selected="selected" <%end%>>6+</option>
				</select>
				</div>
			</td>
		</tr>
		
		<!--bathroom-->
		<tr>
			<td><div id="showbath"><%=I18n.translate('txt.listingtype.bathroom')%>: </div></td>
			<td>
				<div id="showbath2">
					<select name="product2[Bath]" id="product2_Bath">
						<option value="1" <%if c_bath.to_s == "1"%> selected="selected" <%end%>>1</option>
						<option value="2" <%if c_bath.to_s == "2"%> selected="selected" <%end%>>2</option>
						<option value="3" <%if c_bath.to_s == "3"%> selected="selected" <%end%>>3</option>
						<option value="4" <%if c_bath.to_s == "4"%> selected="selected" <%end%>>4</option>
						<option value="5" <%if c_bath.to_s == "5"%> selected="selected" <%end%>>5+</option>
					</select>
				</div>
			</td>
		</tr>
	
		<!--parking-->
		<tr>
			<td><div id="showparking"><%=I18n.translate('txt.show.parking')%>: </div></td>
			<td><div id="showparking2">
				<select name="product2[Parking]" id="product2_Parking">	
					<%
						parkings = Option.find(:all,:conditions=>"option_type = 'Carspace'",:order=>"opt_order asc,id asc ")
						for p in parkings

			              parking = "#{p.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
						%>	
							<option value="<%=p.Value%>" <%if c_parking.to_s == p.Value.to_s%> selected="selected" <%end%>><%=parking%></option>
					<%	end	%>
				
				</select>
				</div>
			</td>
		</tr>	
		<tr>
			<td>Youtube Code: </td>
			<td><%=text_field :product2,:youtubecode ,:onkeydown=>"if(event.keyCode == 13){ return false;}" %>
			</td>
		</tr>
		<tr>
			<td>Reference Code: </td>
			<td><%=text_field :product2,:Ref ,:onkeydown=>"if(event.keyCode == 13){ return false;}" %>
			</td>
		</tr>
		<tr>
			<td valign=top><%=I18n.translate('txt.show.description')%>: </td>
			<td valign=top><textarea name="product2[Detail]" id="product2_Detail" cols="30" rows="3"><%=c_detail%></textarea> <span style="color:red;font-size:14px;">*</span> </td>
		</tr>						
		<tr>
			<td></td>
			<td><span id="validatetext" style="color:red;"></span></td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.new.image')%> 1: </td>
			<td><input type="file" name="image2[pic1]" id="image2_pic1" cols="30" > <span id="star1" style="display:none; color:red;">*</span></td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.new.image')%>  2: </td>
			<td><input type="file" name="image2[pic2]" id="image2_pic2" cols="30" > <span id="star2" style="display:none; color:red;">*</span></td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.new.image')%>  3: </td>
			<td><input type="file" name="image2[pic3]" id="image2_pic3" cols="30" > <span id="star3" style="display:none; color:red;">*</span></td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.new.image')%>  4: </td>
			<td><input type="file" name="image2[pic4]" id="image2_pic4" cols="30" > <span id="star4" style="display:none; color:red;">*</span></td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.new.image')%>  5: </td>
			<td><input type="file" name="image2[pic5]" id="image2_pic5" cols="30" > <span id="star5" style="display:none; color:red;">*</span></td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.new.image')%>  6: </td>
			<td>
				<input type="file" name="image2[pic6]" id="image2_pic6" cols="30" >
				<%if session[:user_id]%>
				<%if user.level.to_i >= 3%><span id="command6">	<a href="#" onclick="addfilefields('command6','extra7.1','extra7.2','command7');">Add Image</a></span><%end%>
				<%end%>
				<span id="star6" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra7.1" style="display:inline;"><%=I18n.translate('txt.new.image')%>  7: </span></td>
			<td><span id="extra7.2" style="display:inline;"><input type="file" name="image2[pic7]" id="image2_pic7" cols="30" ></span>
				<span style="display:inline;" id="command7">
					<a href="#extra7.1" onclick="addfilefields('command7','extra8.1','extra8.2','command8');">Add Image</a>
					<!--
					<a href="#" onclick="document.getElementById('image2_pic7').value=''; deletefilefields('command7','extra7.1','extra7.2','0','0','command6');">Delete</a>
					-->
				</span>
				<span id="star7" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra8.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  8:</span></td>
			<td><span id="extra8.2" style="display:none;"><input type="file" name="image2[pic8]" id="image2_pic8" cols="30" ></span>
				<span style="display:none;" id="command8">
					<a href="#extra7.1" onclick="addfilefields('command8','extra9.1','extra9.2','command9');">Add Image</a>
					<a href="#extra7.1" onclick="document.getElementById('image2_pic8').value=''; deletefilefields('command8','extra8.1','extra8.2','extra7.1','extra7.2','command7');">Delete</a>
				</span>
				<span id="star8" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra9.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  9:</span></td>
			<td><span id="extra9.2" style="display:none;"><input type="file" name="image2[pic9]" id="image2_pic9" cols="30" ></span>
				<span style="display:none;" id="command9">
					<a href="#extra7.1" onclick="addfilefields('command9','extra10.1','extra10.2','command10');">Add Image</a>
					<a href="#extra7.1" onclick="document.getElementById('image2_pic9').value=''; deletefilefields('command9','extra9.1','extra9.2','extra8.1','extra8.2','command8');">Delete</a>
				</span>
				<span id="star9" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra10.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  10:</span></td>
			<td><span id="extra10.2" style="display:none;"><input type="file" name="image2[pic10]" id="image2_pic10" cols="30" ></span>
				<span style="display:none;" id="command10">
					<a href="#extra7.1" onclick="addfilefields('command10','extra11.1','extra11.2','command11');">Add Image</a>
					<a href="#extra7.1" onclick="document.getElementById('image2_pic10').value=''; deletefilefields('command10','extra10.1','extra10.2','extra9.1','extra9.2','command9');">Delete</a>
				</span>
				<span id="star10" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra11.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  11:</span></td>
			<td><span id="extra11.2" style="display:none;"><input type="file" name="image2[pic11]" id="image2_pic11" cols="30" ></span>
				<span style="display:none;" id="command11">
				<%if session[:user_id]
					if user.level.to_s == "3" or  user.level.to_s == "4"
				%>
					<a href="#extra7.1" onclick="addfilefields('command11','extra12.1','extra12.2','command12');">Add Image</a>
				<%
					end
				end	
				%>	
					<a href="#extra7.1" onclick="document.getElementById('image2_pic11').value=''; deletefilefields('command11','extra11.1','extra11.2','extra10.1','extra10.2','command10');">Delete</a>
				</span>
				<span id="star11" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<%
			if session[:user_id]
				if user.level.to_s == "3" or  user.level.to_s == "4"
					# add 12 more images
		%>
		<tr>
			<td><span id="extra12.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  12:</span></td>
			<td><span id="extra12.2" style="display:none;"><input type="file" name="image2[pic12]" id="image2_pic12" cols="30" ></span>
				<span style="display:none;" id="command12">
					<a href="#extra7.1" onclick="document.getElementById('image2_pic12').value=''; deletefilefields('command12','extra12.1','extra12.2','extra11.1','extra11.2','command11');">Delete</a>
				</span>
				<span id="star12" style="display:none; color:red;">*</span>
			</td>
		</tr>
		
		<%
			#elsif  user.level.to_s == "5" or  user.level.to_s == "6"	
				#add 18 images
		%>
		<tr>
			<td><span id="extra7.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  7: </span></td>
			<td><span id="extra7.2" style="display:none;"><input type="file" name="image2[pic7]" id="image2_pic7" cols="30" ></span>
				<span style="display:none;" id="command7">
					<a href="#extra7.1" onclick="addfilefields('command7','extra8.1','extra8.2','command8');">Add Image</a>
					<a href="#" onclick="document.getElementById('image2_pic7').value=''; deletefilefields('command7','extra7.1','extra7.2','0','0','command6');">Delete</a>
				</span>
				<span id="star7" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra8.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  8:</span></td>
			<td><span id="extra8.2" style="display:none;"><input type="file" name="image2[pic8]" id="image2_pic8" cols="30" ></span>
				<span style="display:none;" id="command8">
					<a href="#extra7.1" onclick="addfilefields('command8','extra9.1','extra9.2','command9');">Add Image</a>
					<a href="#extra7.1" onclick="document.getElementById('image2_pic8').value=''; deletefilefields('command8','extra8.1','extra8.2','extra7.1','extra7.2','command7');">Delete</a>
				</span>
				<span id="star8" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra9.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  9:</span></td>
			<td><span id="extra9.2" style="display:none;"><input type="file" name="image2[pic9]" id="image2_pic9" cols="30" ></span>
				<span style="display:none;" id="command9">
					<a href="#extra7.1" onclick="addfilefields('command9','extra10.1','extra10.2','command10');">Add Image</a>
					<a href="#extra7.1" onclick="document.getElementById('image2_pic9').value=''; deletefilefields('command9','extra9.1','extra9.2','extra8.1','extra8.2','command8');">Delete</a>
				</span>
				<span id="star9" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra10.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  10:</span></td>
			<td><span id="extra10.2" style="display:none;"><input type="file" name="image2[pic10]" id="image2_pic10" cols="30" ></span>
				<span style="display:none;" id="command10">
					<a href="#extra7.1" onclick="addfilefields('command10','extra11.1','extra11.2','command11');">Add Image</a>
					<a href="#extra7.1" onclick="document.getElementById('image2_pic10').value=''; deletefilefields('command10','extra10.1','extra10.2','extra9.1','extra9.2','command9');">Delete</a>
				</span>
				<span id="star10" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra11.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  11:</span></td>
			<td><span id="extra11.2" style="display:none;"><input type="file" name="image2[pic11]" id="image2_pic11" cols="30" ></span>
				<span style="display:none;" id="command11">
					<a href="#extra7.1" onclick="addfilefields('command11','extra12.1','extra12.2','command12');">Add Image</a>
					<a href="#extra7.1" onclick="document.getElementById('image2_pic11').value=''; deletefilefields('command11','extra11.1','extra11.2','extra10.1','extra10.2','command10');">Delete</a>
				</span>
				<span id="star11" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra12.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  12:</span></td>
			<td><span id="extra12.2" style="display:none;"><input type="file" name="image2[pic12]" id="image2_pic12" cols="30" ></span>
				<span style="display:none;" id="command12">
					<a href="#extra12.1" onclick="addfilefields('command12','extra13.1','extra13.2','command13');">Add Image</a>
					<a href="#extra7.1" onclick="document.getElementById('image2_pic12').value=''; deletefilefields('command12','extra12.1','extra12.2','extra11.1','extra11.2','command11');">Delete</a>
				</span>
				<span id="star12" style="display:none; color:red;">*</span>
			</td>
		</tr>
		
		
		
		<tr>
			<td><span id="extra13.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  13:</span></td>
			<td><span id="extra13.2" style="display:none;"><input type="file" name="image2[pic13]" id="image2_pic13" cols="30" ></span>
				<span style="display:none;" id="command13">
					<a href="#extra12.1" onclick="addfilefields('command13','extra14.1','extra14.2','command14');">Add Image</a>
					<a href="#extra12.1" onclick="document.getElementById('image2_pic13').value=''; deletefilefields('command13','extra13.1','extra13.2','extra12.1','extra12.2','command12');">Delete</a>
				</span>
				<span id="star13" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra14.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  14:</span></td>
			<td><span id="extra14.2" style="display:none;"><input type="file" name="image2[pic14]" id="image2_pic14" cols="30" ></span>
				<span style="display:none;" id="command14">
					<a href="#extra12.1" onclick="addfilefields('command14','extra15.1','extra15.2','command15');">Add Image</a>
					<a href="#extra12.1" onclick="document.getElementById('image2_pic14').value=''; deletefilefields('command14','extra14.1','extra14.2','extra13.1','extra13.2','command13');">Delete</a>
				</span>
				<span id="star14" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra15.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  15: </span></td>
			<td><span id="extra15.2" style="display:none;"><input type="file" name="image2[pic15]" id="image2_pic15" cols="30" ></span>
				<span style="display:none;" id="command15">
					<a href="#extra12.1" onclick="addfilefields('command15','extra16.1','extra16.2','command16');">Add Image</a>
					<a href="#extra12.1" onclick="document.getElementById('image2_pic15').value=''; deletefilefields('command15','extra15.1','extra15.2','extra14.1','extra14.2','command14');">Delete</a>
				</span>
				<span id="star15" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra16.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  16: </span></td>
			<td><span id="extra16.2" style="display:none;"><input type="file" name="image2[pic16]" id="image2_pic16" cols="30" ></span>
				<span style="display:none;" id="command16">
					<a href="#extra12.1" onclick="addfilefields('command16','extra17.1','extra17.2','command17');">Add Image</a>
					<a href="#extra12.1" onclick="document.getElementById('image2_pic16').value=''; deletefilefields('command16','extra16.1','extra16.2','extra15.1','extra15.2','command15');">Delete</a>
				</span>
				<span id="star16" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra17.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  17: </span></td>
			<td><span id="extra17.2" style="display:none;"><input type="file" name="image2[pic17]" id="image2_pic17" cols="30" ></span>
				<span style="display:none;" id="command17">
					<a href="#extra12.1" onclick="addfilefields('command17','extra18.1','extra18.2','command18');">Add Image</a>
					<a href="#extra12.1" onclick="document.getElementById('image2_pic17').value=''; deletefilefields('command17','extra17.1','extra17.2','extra16.1','extra16.2','command16');">Delete</a>
				</span>
				<span id="star17" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra18.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  18: </span></td>
			<td><span id="extra18.2" style="display:none;"><input type="file" name="image2[pic18]" id="image2_pic18" cols="30" ></span>
				<span style="display:none;" id="command18">
					<a href="#extra12.1" onclick="addfilefields('command18','extra19.1','extra19.2','command19');">Add Image</a>
					<a href="#extra12.1" onclick="document.getElementById('image2_pic18').value=''; deletefilefields('command18','extra18.1','extra18.2','extra17.1','extra17.2','command17');">Delete</a>
				</span>
				<span id="star18" style="display:none; color:red;">*</span>
			</td>
		</tr>
		
		
		
		<tr>
			<td><span id="extra19.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  19: </span></td>
			<td><span id="extra19.2" style="display:none;"><input type="file" name="image2[pic19]" id="image2_pic19" cols="30" ></span>
				<span style="display:none;" id="command19">
					<a href="#extra12.1" onclick="addfilefields('command19','extra20.1','extra20.2','command19');">Add Image</a>
					<a href="#extra12.1" onclick="document.getElementById('image2_pic19').value=''; deletefilefields('command19','extra19.1','extra19.2','extra18.1','extra18.2','command18');">Delete</a>
				</span>
				<span id="star19" style="display:none; color:red;">*</span>
			</td>
		</tr>
		<tr>
			<td><span id="extra20.1" style="display:none;"><%=I18n.translate('txt.new.image')%>  20: </span></td>
			<td><span id="extra20.2" style="display:none;"><input type="file" name="image2[pic20]" id="image2_pic20" cols="30" ></span>
				<span style="display:none;" id="command20">
					<a href="#extra12.1" onclick="document.getElementById('image2_pic20').value=''; deletefilefields('command20','extra20.1','extra20.2','extra19.1','extra19.2','command19');">Delete</a>
				</span>
				<span id="star20" style="display:none; color:red;">*</span>
			</td>
		</tr>
		
		<%
		
			end
		end
		%>
	</table>

<br>
<%if session[:user_id]%>
<p><a href="#" onclick="javascript:validatefile(<%=user.level%>);document.getElementById('gaddproductform1').style.display='none';document.getElementById('gaddproductform3').style.display='block'; genpage32();document.getElementById('blockmap').style.display='none';"><img src="/images/next.png" /></a></p>
<%else%>
<a href="#" onclick="javascript:validatefile(0);document.getElementById('gaddproductform1').style.display='none';document.getElementById('gaddproductform3').style.display='block'; genpage32();document.getElementById('blockmap').style.display='none';"><img src="/images/next.png" /></a></p>
<%end%>
	<!--<p><a href="#" onclick="javascript:document.getElementById('gaddproductform1').style.display='none';document.getElementById('gaddproductform3').style.display='block'; genpage32();document.getElementById('blockmap').style.display='none';"><img src="/images/next.png" /></a></p>
-->

	</div>	
						
	<div id="gaddproductform3" style=" display:none;">


	<!-- confirm page-->
	<input type="hidden"id="temp_lat2" value="" readonly="readonly"/>
	<input type="hidden" id="temp_lng2" value="" readonly="readonly"/>

					
					<div id="confirmdetail">
					<table>
						<tr>
							<td><strong><%=I18n.translate('txt.listingtype.propertytype')%>:</strong></td>
							<td><span id="str1"></span></td>
						</tr>
						<tr>
							<td style="padding-right:15px;"><strong><%=I18n.translate('txt.new.property-for')%>:</strong></td>
							<td><span id="str2"></span></td>
						</tr>
						<tr>
							<td><strong><%=I18n.translate('txt.show.sale-price')%>:</strong></td>
							<td><span id="str6"></span></td>
						</tr>
						<tr>
							<td><strong><%=I18n.translate('txt.show.rent-price')%>:</strong></td>
							<td><span id="str7"></span></td>
						</tr>
						<tr>
							<td><strong><%=I18n.translate('txt.listingtype.bedroom')%>:</strong></td>
							<td><span id="str3"></span></td>
						</tr>
						<tr>
							<td><strong><%=I18n.translate('txt.listingtype.bathroom')%>:</strong></td>
							<td><span id="str4"></span></td>
						</tr>
						<tr>
							<td><strong><%=I18n.translate('txt.show.parking')%>:</strong></td>
							<td><span id="str5"></span></td>
						</tr>
					</table>
					</div>

					<!--Edit me at javascripts/indexpro.js --> 


					
					<!--auto-renew this listing every month
					<input type="checkbox"name="product2[renew]" id="product2_renew" value="1"  checked="checked" /><label for="product2_renew" style=padding-left:10px>auto-renew this listing every month</label><br><br>						
					-->
					
					<!-- Auto Create/Login user-->						
					<%
					#if not session[:user_id]
						myname = ""
						myemail = ""
						myphone = ""
						mynumber='0'
					if session[:user_id]
						@user = User.find(session[:user_id])
						myname = @user.FirstName
						myemail = @user.Email
						myphone = @user.Phone
					end
					%>
					
					<br><br>
					
					<table class="table3px">
						<tr>
							<td>Select City:</td>
							<td>
								<div style="display:block;">
									<select name="location" id="location" >	
									<option value="Pattaya" selected="selected"><%=I18n.translate('txt.province.pattaya')%></option>
									<%
										provinces = Province.find(:all,:order=>"name asc ")
										for p in provinces
														city = "txt.province.#{p.name.downcase}"
															while city[" "]				
																city[" "] ="_"		
															end
														city = I18n.translate(city)
									%>	
										<option value="<%=p.name%>"><%=city%></option>
									<%	end	%>
									</select>
									<!--<a href="#" onclick="searchlocation(); document.getElementById('product2_City').value = document.getElementById('location').value;"><strong>Select City</strong></a>-->
								</div>
							</td>
						</tr>
						<tr>
							<td valing="top">
								<div id="condoname1" style="display:block;padding-right:10px;"><strong>Condo Name:</strong></div>
							</td>
							<td>
								<%condos = Condo.find(:all,:conditions=>"status = '1'",:order=>"name")%>
								<div id="condoname2" style="display:block;">
								
								<select name="temp_condo" id="temp_condo" style="display:block;" onchange="if(this.value =='add'){document.getElementById('addcondo').style.display='block'; document.getElementById('product2_id_condo').options[1].selected=true;}else if(this.value =='1' || this.value =='0'){document.getElementById('addcondo').style.display='none';}else{document.getElementById('addcondo').style.display='none';  condolocation(this.value);document.getElementById('product2_id_condo').options[document.getElementById('temp_condo').selectedIndex].selected=true;} ">
									<option value="0">Select Building Name</option>

									<option value="add">-----  Not Listed Below? Click Here To Add </option>
									<option value="1">-----  I don't know, skip</option>

									
									<%for cond in condos%>
										<option value="<%=cond.lat%>,<%=cond.lng%>"><%=cond.name%></option>
									<%end%>
								</select>
								<select name="product2[id_condo]" id="product2_id_condo" style="display:none;">
									
									<option value="0">Select Building Name</option>

									<option value="add">-----  Not Listed Below? Click Here To Add </option>
									<option value="1">-----  I don't know, skip</option>

									<%for condo in condos%>
										<option value="<%=condo.id%>"><%=condo.name%></option>
									<%end%>
								</select>
								
								</div>
								
								<div id="addcondo" style="display:none;">
									<Br>What is your condo building name:<Br>
									<input type="text" name="condo[name]" id="condo_name" size="50" vlaue="" />
								</div>
							</td>
						</tr>



				<tr>
					<td valign=top>Send to Agency: </td>
					<td><div style="margin-left:10px;width:350px;">
						<input type="radio" name="listingconnect" id="listingconnect_1" value="1">
							<label for="listingconnect_1"><b>Yes,</b> I would like Real Estate Agencies to contact <br><span style="margin-left:25px;">me to help me Sell/Rent my property</span></span></label><br />
						<input type="radio" name="listingconnect" id="listingconnect_0" value="0" checked="checked">
							<label for="listingconnect_0"><b>No,</b> I want to sell my listing privately </label>
						</div>	
					</td>
				</tr>
	



					</table>
						
						
					<br><br>

	<p id="notice" style="width:450px;"><img src="/images/icons/lightbulb.png" style="margin-right:10px;" /><%=I18n.translate('txt.new.drag_drop')%></p><br>

						
					<table class="table3px">	
						<tr>
							<td><%=I18n.translate('txt.show.name')%>:</td><td><%if not session[:user_id]%> <%=text_field 'user','FirstName',:value=>c_name,:onkeydown=>"if(event.keyCode == 13){ return false;}"%><%else%> <%=hidden_field 'user','FirstName'%><%=@user.FirstName%> <%end%></td>
						</tr>
						<tr>
							<td><%=I18n.translate('txt.show.email')%>:</td>
							<td>
								<%if not session[:user_id]%> 
									<%=text_field 'user','Email',:value=>c_email,:onkeydown=>"if(event.keyCode == 13){ return false;}" %>
								<%else%>    
									<%=hidden_field 'user','Email'%><%=@user.Email%>      
								<%end%>
								<img src="/images/loading.gif" id="loading" style="display:none;"/>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<div id="validateemail0">
								<%if c_password.to_s == "0"%>
									<span id="textpassword" style="display:none;"><%=I18n.translate('txt.show.password')%>:</span>
								<%else%>
									<span id="textpassword" style="display:block;"><%=I18n.translate('txt.show.password')%>:</span>
								<%end%>
								</div>
							</td>
							<td>
								<span id="validateemail">
									<%if c_password.to_s == "0"%>
										<input type="hidden" name="checkemail" id="checkemail" value="1"/>
									<%else%>
										<input type="password" name="user[Password]" id="user_Password" value="" onkeydown="javascript: if(event.keyCode == 13){return false;}"/>
										<input type="hidden" name="checkemail" id="checkemail" value="0"/> <img src="/images/icons/exclamation.png"/><br />
										<a href="/listings/forgetpassword?partner=rethai">Did you Forget Your Password?</a>
									<%end%>
								</span>
							</td>
						</tr>
						<tr>
							<td colspan='2'>
								
								<div id="showcaptcha" style="display:none;">
								<!--<small> Try Key and then Enter!</small>-->
										<div id="verify"></div>
										<div></div>
										<script type="text/javascript">
										  var RecaptchaOptions = {
										     
										     theme: "red",
										     lang: "en"
										  };
										  </script>
										<script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k=<%=ENV['RECAPTCHA_PUBLIC_KEY']%>"></script>
										<noscript><iframe src="//www.google.com/recaptcha/api/noscript?k=<%=ENV['RECAPTCHA_PUBLIC_KEY']%>" height="300" width="500" frameborder="0"></iframe><br>
										<textarea name="recaptcha_challenge_field" rows="3" cols="40">
										     </textarea>
										<input type="hidden" name="recaptcha_response_field" value="manual_challenge"></noscript>
										
										<table cellspacing="0" cellpadding="4" border="0" style="font-family: Helvetica, sans-serif; color: #000000; font-size: 12px;">
											<tr>
												<td>
													<div>
														<!--<input type="submit" name="Button1" value="Check valid">-->
													</div>
												</td>
												<td>
												</td>
											</tr>
										</table>
									<!--</form> -->

								</div>
							</td>
						</tr>
						<tr>
							<td><span id="phone1" style="display:none;">Phone:</span></td>
							<td>
								<span id="phone2" style="display:none;">
								
						    <%
								mynumber = "0"		
							
							%>
						<select name="frmProd[prefix]" id="frmProd_prefix" onchange="return number('0','user_Phone','frmProd_prefix');">
								<option value=" "  <%if mynumber.to_i == " "%>selected = "selected" <%end%>>Select Country</option>
								<option value=" ">--------------------------------</option>
								<option value="66"  <%if mynumber.to_i == 66%>selected = "selected" <%end%> >Thailand (66)</option>
								<option value=" ">--------------------------------</option>
								<option value="61" <%if mynumber.to_i == 61%>selected = "selected" <%end%> >Australia (61)</option>
								<option value="43" <%if mynumber.to_i == 43%>selected = "selected" <%end%> >Austria (43)</option>
								<option value="973" <%if mynumber.to_i == 973%>selected = "selected" <%end%> >Bahrain (973)</option>
								<option value="32" <%if mynumber.to_i == 32%>selected = "selected" <%end%> >Belgium (32)</option>
								<option value="855"  <%if mynumber.to_i == 855%>selected = "selected" <%end%> >Cambodia (855)</option>
								<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >Canada (1)</option>
								<option value="86"  <%if mynumber.to_i == 86%>selected = "selected" <%end%> >China (86)</option>
								<option value="45"  <%if mynumber.to_i == 45%>selected = "selected" <%end%> >Denmark (45)</option>
								<option value="358"  <%if mynumber.to_i == 358%>selected = "selected" <%end%> >Finland (358)</option>
								<option value="33"  <%if mynumber.to_i == 33%>selected = "selected" <%end%> >France (33)</option>
								<option value="49"  <%if mynumber.to_i == 49%>selected = "selected" <%end%> >Germany (49)</option>
								<option value="30"  <%if mynumber.to_i == 30%>selected = "selected" <%end%> >Greece (30)</option>
								<option value="852"  <%if mynumber.to_i == 852%>selected = "selected" <%end%> >HongKong (852)</option>
								<option value="36"  <%if mynumber.to_i == 36%>selected = "selected" <%end%> >Hungary (36)</option>
								<option value="91"  <%if mynumber.to_i == 91%>selected = "selected" <%end%> >India (91)</option>
								<option value="353"  <%if mynumber.to_i == 353%>selected = "selected" <%end%> >Ireland (353)</option>
								<option value="39"  <%if mynumber.to_i == 39%>selected = "selected" <%end%> >Italy (39)</option>
								<option value="81"  <%if mynumber.to_i == 81%>selected = "selected" <%end%> >Japan (81)</option>
								<option value="82"  <%if mynumber.to_i == 82%>selected = "selected" <%end%> >Korea (South) (82)</option>
								<option value="60"  <%if mynumber.to_i == 60%>selected = "selected" <%end%> >Malaysia (60)</option>
								<option value="64"  <%if mynumber.to_i == 64%>selected = "selected" <%end%> >New Zealand (64)</option>
								<option value="47"  <%if mynumber.to_i == 47%>selected = "selected" <%end%> >Norway (47)</option>
								<option value="63"  <%if mynumber.to_i == 63%>selected = "selected" <%end%> >Philippines (63)</option>
								<option value="7"  <%if mynumber.to_i == 7%>selected = "selected" <%end%> >Russia (7)</option>
								<option value="381"  <%if mynumber.to_i == 381%>selected = "selected" <%end%> >Serbia (381)</option>
								<option value="65"  <%if mynumber.to_i == 65%>selected = "selected" <%end%> >Singapore (65)</option>
								<option value="34"  <%if mynumber.to_i == 34%>selected = "selected" <%end%> >Spain (34)</option>
								<option value="46"  <%if mynumber.to_i == 46%>selected = "selected" <%end%> >Sweden (46)</option>
								<option value="41"  <%if mynumber.to_i == 41%>selected = "selected" <%end%> >Switzerland (41)</option>
								<option value="886"  <%if mynumber.to_i == 886%>selected = "selected" <%end%> >Taiwan (886)</option>
								<option value="66"  <%if mynumber.to_i == 66%>selected = "selected" <%end%> >Thailand (66)</option>
								<option value="90"  <%if mynumber.to_i == 90%>selected = "selected" <%end%> >Turkey (90)</option>
								<option value="44"  <%if mynumber.to_i == 44%>selected = "selected" <%end%> >UK (44)</option>
								<option value="380"  <%if mynumber.to_i == 380%>selected = "selected" <%end%> >Ukraine (380)</option>
								<option value="971"  <%if mynumber.to_i == 971%>selected = "selected" <%end%> >United Arab Emirates (971)</option>
								<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >USA (1)</option>
								<option value="678"  <%if mynumber.to_i == 678%>selected = "selected" <%end%> >Vanuatu (678)</option>
								<option value="84"  <%if mynumber.to_i == 84%>selected = "selected" <%end%> >Vietnam (84)</option>
								<option value="+"  <%if mynumber.to_i == '+'%>selected = "selected" <%end%> >Other</option>
						</select>
						<br>
									<input type="text" name="user[Phone]" id="user_Phone" value=""/>
								</span>
							</td>
						</tr>
						
						
					<%= observe_field(:location,
                    		:on => :changed,
							:method => :get,
                    		:update => :condoname2,
							:loading=>"document.getElementById('product2_City').value = document.getElementById('location').value; searchlocation(); ",
                    		:url => { :controller=>'listings',:action => 'gencondooptions'},
							:with => "'province='+escape($('location').value) ") %>
							
					<%#= observe_field(:location2,
                    		#:on => :changed,
							#:method => :get,
                    		#:update => :condoname2,
							#:loading=>"document.getElementById('product2_City').value = document.getElementById('location2').value;document.getElementById('location').options[document.getElementById('location2').selectedIndex].selected=true; searchlocation(); ",
                    		#:url => { :controller=>'listings',:action => 'gencondooptions'},
							#:with => "'province='+escape($('location2').value) ") %>			
						
					 <%= observe_field(:user_Email,
                    		:on => :blur,
							:method => :get,
                    		:update => :validateemail,
							:loading=>"  document.getElementById('submitlisting').disabled=true; document.getElementById('loading').style.display='inline';",
							:complete =>" document.getElementById('loading').style.display='none';if(document.getElementById('validateemail').innerHTML.search(/true/i) > 0){document.getElementById('showcaptcha').style.display='none'; document.getElementById('validateemail0').style.display='block';}else{document.getElementById('showcaptcha').style.display='inline'; Recaptcha.reload (); document.getElementById('validateemail0').style.display='none';} document.getElementById('submitlisting').disabled = false;   setsubmitform();document.getElementById('textpassword').style.display='block'; setphoneNo();",
                    		:url => { :controller=>'listings',:action => 'validateemail'},
							:with => "'code='+escape($('user_Email').value) ") %>
					 <%= observe_field(:recaptcha_response_field,
                    		:on => :blur,
							:method => :get,
                    		:update => :verify,
							:loading=>"  document.getElementById('verify').innerHTML=''; document.getElementById('submitlisting').disabled=true;",
							:complete =>"javascript: if(document.getElementById('verify').innerHTML.search(/false/) > 0){Recaptcha.reload ();} document.getElementById('submitlisting').disabled=false;  checkword();",
                    		:url => { :controller=>'listings',:action => 'verify'},
							:with => "'recaptcha_response_field='+escape($('recaptcha_response_field').value)+'&recaptcha_challenge_field='+escape($('recaptcha_challenge_field').value) ") %>
							
						
					</table>
					
					
<%
price = 100
options = Option.find(:all,:conditions=>"option_type = 'paypalprice' and Name='Paypal Price'")
if options.length > 0
	price = options[0].Value.to_f
end

magazineprice = 100
options = Option.find(:all,:conditions=>"option_type = 'paypalmagazine' and Name='Magazine Price'")
if options.length > 0
	magazineprice = options[0].Value.to_f
end
%>
					<%#end%><Br>
	   				<a href="#" onclick="javascript: document.getElementById('gaddproductform1').style.display='block';		document.getElementById('gaddproductform3').style.display='none';document.getElementById('blockmap').style.display='block';" style=margin-right:15px>Back</a>
					<input type="hidden" name="confirmlocation" id="confirmlocation" value="0"/>
					<%if session[:user_id]%>
						<input type="Submit" name="submitlisting" id="submitlisting" value="Add My Listing!" onclick="document.getElementById('paypal').value='0';   if(validateform('product2_Price','product2_Bed','product2_Bath','product2_Detail','product2_RPrice','product2_salerent')){document.getElementById('shadow').style.display='block';document.getElementById('showloading').style.display='block';return true;}else{return false;}" />
						<br /><br />
						<table>
							<tr>
								<td valign="top"><input type="checkbox" name="paypal" id="paypal" value="1" /></td>
								<td><label for="paypal">Upgrade your listing to '<b>Search Feature</b>' and '<b>Condos/Houses Feature</b>' with paypal just only <%=price%> THB for 6 months</label></td>
							</tr>	
							<!--<tr>
								<td valign="top"><input type="checkbox" name="magazine" id="magazine" value="1" /></td>
								<td><label for="magazine">Upgrade your listing for '<b>add to magazine</b>' with paypal just only <%=magazineprice%> THB for 6 months</label></td>
							</tr>-->	
						</table>
						<input type='image'  src="/images/btn_buynow_LG.gif" value="1"  onclick=" if(document.getElementById('paypal').checked==true || document.getElementById('magazine').checked==true){  if(validateform('product2_Price','product2_Bed','product2_Bath','product2_Detail','product2_RPrice','product2_salerent')){document.getElementById('shadow').style.display='block';document.getElementById('showloading').style.display='block';return true;}else{return false;}}else{return false;}"/>	  
						<!--
						<input type="Submit" name="submitlisting" id="submitlisting" value="Add My Listing!" onclick=" if(checkword()==false){return false;}else{ if(validateform('product2_Price','product2_Bed','product2_Bath','product2_Detail','product2_RPrice','product2_salerent')){document.getElementById('shadow').style.display='block';document.getElementById('showloading').style.display='block';return true;}else{return false;}}" />	  
						-->
						
						
						
						
						
					<%else%>
						<input type="button" name="submitlisting" id="submitlisting" value="Add My Listing!" onclick=" if(checkword()==false){ return false;}else{ if(validateform('product2_Price','product2_Bed','product2_Bath','product2_Detail','product2_RPrice','product2_salerent')){document.getElementById('shadow').style.display='block';document.getElementById('showloading').style.display='block';return true;}else{return false;}}" />
						<br /><br />
						
						<table>
							<tr>
								<td valign="top"><input type="checkbox" name="paypal" id="paypal" value="1" /></td>
								<td><label for="paypal">Upgrade your listing to '<b>Search Feature</b>' and '<b>Condos/Houses Feature</b>' with paypal just only <%=price%> THB for 6 months</label></td>
							</tr>	
							<!--<tr>
								<td valign="top"><input type="checkbox" name="magazine" id="magazine" value="1" /></td>
								<td><label for="magazine">Upgrade your listing for '<b>add to magazine</b>' with paypal just only <%=magazineprice%> THB for 6 months</label></td>
							</tr>-->	
						</table>
						<input type='image'  src="/images/btn_buynow_LG.gif" onclick=" if(document.getElementById('paypal').checked==true || document.getElementById('magazine').checked==true){ if(checkword()==false){ return false;}else{ if(validateform('product2_Price','product2_Bed','product2_Bath','product2_Detail','product2_RPrice','product2_salerent')){document.getElementById('shadow').style.display='block';document.getElementById('showloading').style.display='block';return true;}else{return false;}}}else{return false;}" />
					
						
						<!--<<input type="Submit" name="submitlisting" id="submitlisting" value="Add My Listing!" disabled="disabled" onclick=" if(validateform('product2_Price','product2_Bed','product2_Bath','product2_Detail','product2_RPrice','product2_salerent')){document.getElementById('shadow').style.display='block';document.getElementById('showloading').style.display='block';return true;}else{return false;}" />	  
						-->
					<%end%>
					<br>
					<!--<input type="hidden" name="paypal" id="paypal" value="0"/>-->
			</form>
	
	
	
	
		</div>
	</div>
	
	<!-- RIGHT -->
	<div style="width:470px;float:right">
	

<div id="blockmap" style="position:absolute; width:470px;height:450px; min-height: 450px;margin-top:10px;z-index:99; display:block;background-color:#FFFFFF;">

<p style="margin-left:-110px">Are you an agency? <a href="/index/foragents">click here</a> to learn more about how we can help you generate more leads!</p>
<br>
<img src="/images/addnew-mainblock.png" style="float:right" />

</div>  
<div id="map" style="position:absolute; width:470px;height:450px; min-height: 450px;margin-top:10px"></div>  


	</div>
	<br clear="all" />
</div>







<%end%> 
<br clear="all" />
<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:99;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ ">

	</div>
<div id="showloading" style="display:none; position: absolute;top:30%;left:35%;background: #fff;padding: 10px;border: 5px solid #ddd;z-index: 100; width:300px;" align="center">
<!--<br><br><br><br><img src="/images/loading.gif"/><br><br><br>-->
<h2>Uploading Images...</h2>
<p>Your images are uploading<br>Larger images may take a few minutes</p>
<p>You will be redirected once the upload has finished</p>
</div>




<div id="shadow2" style="display:none;position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:99;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow2').style.display='none'; document.getElementById('sqmconvert').style.display='none';"></div>

