<!-- SEO -->
<%@page_title = "Map of Real Estate #{params[:seo]} Thailand"%>
<%@page_desc = "Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->

<%= javascript_include_tag :defaults %> 
<%if params[:rethaitest]%>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
<%else%>
	<script src="/javascripts/googleapikey-partnermap_<%=@partnerid%>.js" type="text/javascript"></script>
<%end%>
<script type="text/javascript" src="/javascripts/ClusterMarker.js" ></script>
<script type="text/javascript" src="/javascripts/HtmlControl.js"></script>
<script type="text/javascript" src="/javascripts/kendio.js"></script>
<script type="text/javascript" src="/javascripts/partnermaps.js"></script>
<script type="text/javascript" src="/javascripts/EWindow.js"></script>
<link href="/stylesheets/EWindow.css" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/javascripts/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/javascripts/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="/javascripts/lightbox/lightbox.css" type="text/css" media="screen" />

<script type="text/javascript" >
function noError(){
//load('1');
}
window.onerror = noError;

 
function nextimg(currentimg,allimg,id_product){
	if ((document.getElementById(allimg).innerHTML * 1) > (document.getElementById(currentimg).innerHTML * 1) ){
		hiddenID = "image_"+ id_product +"_" + document.getElementById(currentimg).innerHTML;
		showID = "image_"+ id_product +"_"+ ((document.getElementById(currentimg).innerHTML * 1) + 1);
		document.getElementById(hiddenID).style.display="none";
		document.getElementById(showID).style.display="inline";
		document.getElementById(currentimg).innerHTML = ((document.getElementById(currentimg).innerHTML * 1) + 1);
	}
}
	
function lastimg(currentimg, allimg, id_product){
	if ((document.getElementById(currentimg).innerHTML * 1) > 1) {
		hiddenID = "image_"+ id_product +"_" + document.getElementById(currentimg).innerHTML;
		showID = "image_"+ id_product +"_"+ ((document.getElementById(currentimg).innerHTML * 1) - 1);
		document.getElementById(hiddenID).style.display="none";
		document.getElementById(showID).style.display="inline";
		document.getElementById(currentimg).innerHTML = ((document.getElementById(currentimg).innerHTML * 1) - 1);
	}
}
</script>

	</head>
	<body onload="loadpartnermap('<%=@lat%>','<%=@lng%>','@partnerid');">			
			
		<div style="position:absolute; display:none;">
			<input type="hidden" name="partnerid" id="partnerid" value="<%=@partnerid%>"/>
			<input type="hidden" name="ftime" id="ftime" value="0"/>
			<input type="hidden" name="latlng" id="latlng" value="0"/>
			<input type="text" name="markkersArray" id="markkersArray" value="0"/>
			<input type="hidden" name="clearlisting" id="clearlisting" value="1"/>
			<%if @listing !=nil%>
				<input type="hidden" name="firstpopup" id="firstpopup" value="<%=@listing.id%>"/>
				<input type="hidden" name="mylat" id="mylat" value="<%=@listing.lat%>"/>
				<input type="hidden" name="mylng" id="mylng" value="<%=@listing.lng%>"/>
			<%else%>
				<input type="hidden" name="firstpopup" id="firstpopup" value=""/>
				<input type="hidden" name="mylat" id="mylat" value="0"/>
				<input type="hidden" name="mylng" id="mylng" value="0"/>				
			<%end%>
			
		</div>
<!-- HEADER -->
<input type="hidden" name="lastzoomlevel" id="lastzoomlevel" value="1"/>
<%= render :partial => "/listings/partner/mappartner_#{@partnerid}_nav" %>


	





</div>
<!-- // END HEADER -->

<div class="wrapper" id="map"></div>


		<div id="contactuserform" style="position:absolute; display:none;z-index:100;  background-color: #FFFFFF;padding: 5px;border: 5px solid #ddd;" >
		
		 	<div style="float:right;" onclick="javascript:document.getElementById('contactuserform').style.display='none';"><a href="#">x Close</a></div>
			<h1>Email Owner</h1>
			<span id="contactspace"></span>
		</div>	
		
<!-- end searchmodel -->



	