<%if params[:partner] and params[:partner] != ""%>

	<%= render :partial => "/listings/partner/#{params[:partner]}_header" %>
	<%= render :partial => "/listings/partner/#{params[:partner]}_nav" %>
	<%mypartner = "#{params[:partner]}"%>
<%else%>
	<%= render :partial => "/listings/partner/rethai_header" %>
	<%= render :partial => "/listings/partner/rethai_nav" %>
	<%mypartner = "rethai"%>
<%end%>

<!--=params[:code]-->

<!-- SEO -->
<%
@page_title = I18n.translate('txt.search.page_title',:seo=>params[:seo])
@page_desc = I18n.translate('txt.search.page_desc',:seo=>params[:seo])
@page_keywords = I18n.translate('txt.search.page_keywords')
%>
<!-- // END SEO -->


<h1>Top 100 Popular Properties</h1>

<div id="shadowmap"></div>
<div id="tempfirstload"></div>
<%if @listings.length <= 0%>
	<span>No Featured Property</span>
<%else%>

<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
txtsqm = 	I18n.translate('txt.listingtype.sqm')
%>

	<%
		  for listing in @listings
					listingprice = ""
			       if listing.salerent.to_s == '1'  # sale        
						link_salerent = "Sale" 
						seosalerent="Sale"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			             strprice = listing.Price
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end   
			                listingprice = "#{strprice} <small>Baht</small>"
			        elsif listing.salerent.to_s == '0' # rent    
						link_salerent = "Rent"
						seosalerent="Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
			            strprice = listing.RPrice
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end  
			             listingprice = "#{strprice} <small>Baht / Month</small>"
			        else  # sale / rent   
						link_salerent = "Sale or Rent"
						seosalerent="Sale or Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
			                strprice = listing.Price
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                  
			                end  
			                listingprice = "#{strprice} <small>Baht</small>"
			                
			                
			                strprice = listing.RPrice
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                end                  
			                listingprice = listingprice + "  #{strprice} <small>Baht / Month</small>"
			        end 
						#seosalerent = seosalerent	
						while seosalerent[" "]				
							seosalerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)



			#end if @listing.salerent
			    # ============  end set price  ===========================================================
			    compdetail=""
			    begin
			      
			    						comp = nil
			                            companies = Companies.find(:all,:conditions=>"id_user = '#{listing.id_user}'",:order=>"id asc")
			                            if companies.length > 0
											x = 1
			                              for comp in companies
			                                if comp.logo !="" and comp.logo !=nil and comp.logo !='0' and x == 1
			                                  logo = Businesslogo.find(comp.logo)
			                                  compdetail= "    <img src=\"#{logo.public_filename(:small)}\" />  \n<p>#{comp.Name}<br /></p>"
			                                   #break
			                                end
											if x > 1 
			                                   break
			                                end
								
											x =x + 1
			                              end
			                            end
			    rescue
			     end   # end begin

	                            
			      sqm=""
			    if listing.SQM.to_s !="0" and listing.SQM.to_s !="" and listing.SQM.to_s !=nil
			        sqm = "<small>#{number_to_currency(listing.SQM, :unit =>"", :precision =>0)} #{txtsqm}</small>"
			    end   
			    #get parking
			        parking =" "
			        if listing.Parking.to_s != '0' and listing.Parking.to_s != "" and listing.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
			              break
			            end
			          end
			        end
			      #get listing type
			        listingtype =" "
					seo_listingtype=""
					showlistingtype = ""
			        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
			          listingtypes = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
			          if listingtypes.length > 0
			            for lt in listingtypes
			              listingtype = "#{lt.Name}"
						s_listingtype = "#{lt.Name}"	
							if s_listingtype[" / "]				
								s_listingtype[" / "] ="-"		
							end	
							showlistingtype = I18n.translate("txt.listingtype.#{s_listingtype.downcase}")
							
							seo_listingtype << showlistingtype
							if seo_listingtype[" / "]				
								seo_listingtype[" / "] ="-"		
							end
			              break
			            end
			          end
					  end
					  
					  
					
					
			        if listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = listing.Bed + " " + bedroom
			        end
			        city = ""
					if listing.City.to_s !="" and listing.City.to_s !="0" and listing.City != nil
						city = " <br>#{listing.City}"
						link_city = "#{listing.City}"
						showcity = "txt.province.#{listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end



					titlelink = ""
					if listing.titlelink.to_s !=""
					search_link = "/#{mypartner}/#{showcity}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{lsalerent}-#{listing.Price}-#{listing.id}"
						titlelink = "<a href='#{search_link}' target='_blank' id='listing-link'>#{listing.titlelink}</a><br />"
					end
					
					
				
					
			        if listing.Type.to_s == "5" 
			         text = "<div id=listing><strong>#{titlelink}</strong><span class=listing-smallfont>#{showlistingtype} in #{showcity}<br>#{sqm}</span></div>"
			       else
			         text = "<div id=listing><strong>#{titlelink}</strong><span class=listing-smallfont><strong>#{mybedroom}</strong>, #{listing.Bath} #{bathroom} <br>#{showlistingtype} in #{showcity} #{txtfor} #{salerent}<br><small>#{parking}</small><br>#{sqm}</span></div>"
			       end

			       # if listing.Type.to_s == "5" 
			        # text = "<div id=listing><span class=listing-smallfont>#{showlistingtype} in #{showcity}<br>#{sqm}</span></div>"
			       #else
			         #text = "<div id=listing><span class=listing-smallfont><strong>#{mybedroom}</strong>, #{listing.Bath} #{bathroom} <br>#{showlistingtype} in #{showcity} #{txtfor} #{salerent}<br><small>#{parking}</small><br>#{sqm}</span></div>"
			       #end
			       				
				myimages="/images/noimage-120.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'")
			   for image in images
			      	myimages = "#{image.photo.url(:thumb)}"
					break
			    end


		
					
		%>
		
		
		



<%if listing.SearchFeatured.to_s =="1"%>
		<div id="listingboxes-featured" style="float:left;width:460px;margin-right:10px;">
<%else%>	
	<div id="listingboxes" style="float:left;width:460px;margin-right:10px;">
<%end%>

  <div class="bizdetails">
  	<%if comp != nil%>
	    <%=compdetail%>
	    <p><small><%=comp.phone%></small></p>
	<%end%>
  </div>
<%

%>
  <h2><a href='/<%=mypartner%>/<%=showcity%>-<%=seo_listingtype%>-<%=I18n.translate("txt.listingtype.for")%>-<%=lsalerent%>-<%=listing.Price%>-<%=listing.id%>' target="_blank" id="listing-link"><%=listingprice%></a></h2>
	
    <a href='/<%=mypartner%>/<%=showcity%>-<%=seo_listingtype%>-<%=I18n.translate("txt.listingtype.for")%>-<%=lsalerent%>-<%=listing.Price%>-<%=listing.id%>' target="_blank" id="listing-link"><img src="<%=myimages%>" align="left" width="120" height="120" class="listingimage" /></a>

    <div class="bedbath"><%=text%></div>
    

		<input type="hidden" name="textlink_<%=listing.id%>" id="textlink_<%=listing.id%>" value="<%=showcity%>-<%=seo_listingtype%>-for-<%=lsalerent%>-<%=listing.Price%>"/>
		<!-- show mini map-->
		<div id="map_<%=listing.id%>" style="display:none;margin-top:5px;"></div>
		<!-- ======= end show mini map  ==================-->
		
	
</div>


			
		<%
	end%>  <!--end for f in @listings-->
	<%#=params[:page]%>
	<%if (@counts.length / 25) >= 2%>
	<br clear="all" /><br clear="all" />
		Page: 
		
		<%
		allpage = (@counts.length / 25).to_i
		if (@counts.length.to_f / 25).to_f - (@counts.length.to_f / 25).to_i > 0
			allpage = allpage + 1
		end
		 i = 1
		 while i <= allpage
			if i == params[:page].to_i
		%>		<%=i%>
			<%else%>	
		 		<a href="/listings/popularproperties?page=<%=i%>"><%=i%></a>
			<%end%> 
		<%
		i = i + 1
		end%>
	
	<%end%>	
	
	
<%end%><!--end if @listings.length-->