<%if params[:partner]%>
<%= render :partial => "/listings/partner/#{params[:partner]}_header" %>
<%= render :partial => "/listings/partner/#{params[:partner]}_nav" %>
<%mypartner = "#{params[:partner]}"%>
<%else%>
<%= render :partial => "/listings/partner/rethai_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>
<%end%>



	<div id="state_form">
		<form action="/listings/rea_estate_price_state" method="post">
			<input type="hidden" name="partner" id="partner" value="<%=mypartner%>"/>
		<table>
			<tr>
				<td>
					Location for view Price State:
					<input id="province" name="province" size="15" type="text" value="<% if session[:location] != ""%><%=session[:location]%><%else%>Pattaya<%end%>"  style="width:150px;" /><div class="auto_complete" id="province_detail"></div><script type="text/javascript">
			        //<![CDATA[
			        var lession_comment1_auto_completer = new Ajax.Autocompleter('province', 'province_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('province').value) }, method:'get', paramName:'code'})
			        //]]>
			        </script> 
				</td>
				<td><input type="submit" name="commit" id="commit" value="Search"/></td>
			</tr>
		</table>
		</form>		
	</div> 
	<!--===============================================   end form      ============================================================-->
	
	
	
	
	
	
<%if @products ==""%>
	<div id="notice">Sorry, no data. Please try again</div>
<%else%>
	<%=@products.length%>  Listings on <% if session[:location] != ""%><%=session[:location]%><%else%>Pattaya<%end%><br>
	<br><br>
	<!--
	Month:<%=@m6%>,<%=@m5%>,<%=@m4%>,<%=@m3%>,<%=@m2%>,<%=@m1%><br>	
	Data:<%=@d1%>,<%=@d2%>,<%=@d3%>,<%=@d4%>,<%=@d5%>,<%=@d6%><br>
	scol:<%=@s1%>,<%=@s2%>,<%=@s3%>,<%=@s4%><br>
	Maxvalue:<%=@maxvalue%><br>
	
	<br>
	
	<table>
	<%for p in @products%>
		<tr>
			<td>
				
				<%if p.Price.to_s !="" and p.Price.to_s !="0" and p.Price != nil and p.SQM.to_s !="" and p.SQM.to_s !="0" and p.SQM !=nil%>      
			     1:<%=(p.Price.to_i / p.SQM.to_i )%>=>
				<%else%>
				  0:<%=p.Price.to_i%>/<%=p.SQM%>
			    <%end%>
			</td>
			<td><%=p.created_on.strftime("%Y/%m/%d")%></td>
		</tr>
	<%end%>
	</table>
	-->
	
	
	
	<%@s1=number_to_currency(@s1, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@s2=number_to_currency(@s2, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@s3=number_to_currency(@s3, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@s4=number_to_currency(@s4, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	
<%
@maxvalue = (@maxvalue.to_i * 2)


@d1 = @d1 + (@maxvalue.to_i / 2)
@d2 = @d2 + (@maxvalue.to_i / 2)
@d3 = @d3 + (@maxvalue.to_i / 2)
@d4 = @d4 + (@maxvalue.to_i / 2)
@d5 = @d5 + (@maxvalue.to_i / 2)
@d6 = @d6 + (@maxvalue.to_i / 2)


@d21 = 0 + (@maxvalue.to_i / 2)
@d22 = @d5.to_f-@d6.to_f  + (@maxvalue.to_i / 2)
@d23 = @d4.to_f-@d5.to_f  + (@maxvalue.to_i / 2)
@d24 = @d3.to_f-@d4.to_f  + (@maxvalue.to_i / 2)
@d25 = @d2.to_f-@d3.to_f  + (@maxvalue.to_i / 2)
@d26 = @d1.to_f-@d2.to_f  + (@maxvalue.to_i / 2)
%>

	
	<!--http://googlecharts.rubyforge.org-->
	<%srcimg = Gchart.line(:size => '450x350', 
            :title => "Price per SQM.",
            :bg => 'efefef', 
			:axis_with_labels => 'x,y',           
		 	:legend => ['SQM', 'Different'],
			:line_colors => "B0D520,0000FF",
            :axis_labels => [[@m1.strftime("%b, %y"),@m2.strftime("%b, %y"),@m3.strftime("%b, %y"),@m4.strftime("%b, %y"),@m5.strftime("%b, %y"),@m6.strftime("%b, %y")],["-#{@s1}","-#{@s2}","-#{@s3}","-#{@s4}",0,@s4,@s3,@s2,@s1]],
            :data => [[@d6.to_i,@d5.to_i,@d4.to_i,@d3.to_i,@d2.to_i,@d1.to_i],[@d21,@d22,@d23,@d24,@d25,@d26]], 
			:max_value => @maxvalue.to_i)%>
		<img src="<%=srcimg%>&amp;chg=100,20.0&amp;chf=c,ls,90,CCCCCC,0.1,FFFFFF,0.1&chp=.5&chm=o,0066FF,0,-1.0,6|o,FF0000,1,-1.0,6"/>	
				<table>
			<tr>
				<td width="70px" align="center">Month</td>
				<td width="100px" align="right">Price/SQM</td>
				<td width="100px" align="right">Different</td>
			</tr>
			<tr>
				<td align="center">
					<small>
					<%=@m1.strftime("%b, %y")%><br>
					<%=@m2.strftime("%b, %y")%><br>
					<%=@m3.strftime("%b, %y")%><br>
					<%=@m4.strftime("%b, %y")%><br>
					<%=@m5.strftime("%b, %y")%><br>
					<%=@m6.strftime("%b, %y")%><br>
					</small>
				</td>
				<td align="right">					
					<small>
					<%=number_to_currency(@d6, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency(@d5, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency(@d4, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency(@d3, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency(@d2, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency(@d1, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					</small>
				</td>
				<td align="right">
					<small>
					<%=number_to_currency(0, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency((@d5.to_f - @d6.to_f), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency((@d4.to_f - @d5.to_f), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency((@d3.to_f - @d4.to_f), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency((@d2.to_f - @d3.to_f), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					<%=number_to_currency((@d1.to_f - @d2.to_f), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><br>
					</small>
				</td>
			</tr>
		</table>

<%end%>