<script type="text/javascript">
			function newuserform(){
		if(document.getElementById('user2_FirstName').value ==""){alert('Please Enter FirstName'); document.getElementById('user2_FirstName').focus();return false;}
		else if(document.getElementById('user2_LastName').value ==""){alert('Please Enter LastName'); document.getElementById('user2_LastName').focus();return false;}
		else if(document.getElementById('user2_Password').value ==""){alert('Please Enter Password'); document.getElementById('user2_Password').focus();return false;}
		else if(document.getElementById('user3_Password3').value ==""){alert('Please Enter Confirm Password'); document.getElementById('user3_Password3').focus();return false;}
		else if(document.getElementById('user2_Phone').value ==""){alert('Please Enter Phone'); document.getElementById('user2_Phone').focus();return false;}
		else if(document.getElementById('user2_Email').value ==""){alert('Please Enter Email'); document.getElementById('user2_Email').focus();return false;}
		else if(document.getElementById('user2_Suburb').value ==""){alert('Please Enter Suburb'); document.getElementById('user2_Suburb').focus();return false;}
		else if(document.getElementById('user2_Password').value != document.getElementById('user3_Password3').value){alert('Please check Confirm Password'); document.getElementById('user2_Password').focus();return false;}
		else if(document.getElementById('checkemail').value=='0'){alert('Please check Your Email'); document.getElementById('user2_Email').focus();return false;}
		else{
			document.newuser.action="/users/create";
			document.newuser.submit();
		}
	}
	
</script>
<%if params[:partner]%>
	<%mypartner = "#{params[:partner]}"%>
	<%= render :partial => "/listings/partner/#{params[:partner]}_header" %>
	<%= render :partial => "/listings/partner/#{params[:partner]}_nav" %>
<%else%>
	<%mypartner = "rethai"%>
	<%= render :partial => "/listings/partner/rethai_header" %>
	<%= render :partial => "/listings/partner/rethai_nav" %>
<%end%>

<!-- SEO -->
<%@page_title = "Register"%>
<%@page_desc = "Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->


<h1 class="registerheader">Register — FREE</h1>


<div>
	
	<!-- BENEFITS -->
	<div style="float:right">
		<img src="/images/regsiter-mainblock.png" />
		
	</div>
	<!-- LEFT FORM -->
	<div>
		
		
		<div id="register" style="display:block;">

		<form name="newuser" id="newuser"   style=margin-top:10px; ><!-- action="/users/create" -->
		<input type="hidden" name="myredirect" 		id="myredirect" 	value="/" />
		<input type="hidden" name="partner_name" 	id="partner_name" 	value="/listings/" />
		<input type="hidden" name="user2[partner]" 	id="partner" 		value="<%=mypartner%>"/>
			<table>
				<tr>
					<td>First Name:</td>
					<td><%=text_field 'user2','FirstName'%></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><%=text_field 'user2','LastName'%></td>
				</tr>
				<!--<tr>
					<td>Username:</td>
					<td><%=text_field 'user2','UserName'%></td>
				</tr>
				-->
				<tr>
					<td>Password:</td>
					<td><%=password_field 'user2','Password',:value=>""%></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td><%=password_field 'user3','Password3',:value=>""%></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>
						    <%
								mynumber = "0"
								#mynumber = @user.Phone
								if not mynumber == nil 
										if mynumber.length >= 10 
											mynumber = mynumber.slice(0,mynumber.length.to_i - 9)
										end
								else
									mynumber = "0"
								end			
							
							%>
				<select name="frmProd[prefix]" id="frmProd_prefix" onchange="return number('0','user2_Phone','frmProd_prefix');">
				<option value=" "  <%if mynumber.to_i == " "%>selected = "selected" <%end%>>Select Country</option>
				<option value=" ">--------------------------------</option>
				<option value="66"  <%if mynumber.to_i == 66%>selected = "selected" <%end%> >Thailand (66)</option>
				<option value=" ">--------------------------------</option>
				<option value="61" <%if mynumber.to_i == 61%>selected = "selected" <%end%> >Australia (61)</option>
				<option value="43" <%if mynumber.to_i == 43%>selected = "selected" <%end%> >Austria (43)</option>
				<option value="973" <%if mynumber.to_i == 973%>selected = "selected" <%end%> >Bahrain (973)</option>
				<option value="32" <%if mynumber.to_i == 32%>selected = "selected" <%end%> >Belgium (32)</option>
				<option value="855"  <%if mynumber.to_i == 855%>selected = "selected" <%end%> >Cambodia (855)</option>
				<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >Canada (1)</option>
				<option value="86"  <%if mynumber.to_i == 86%>selected = "selected" <%end%> >China (86)</option>
				<option value="45"  <%if mynumber.to_i == 45%>selected = "selected" <%end%> >Denmark (45)</option>
				<option value="358"  <%if mynumber.to_i == 358%>selected = "selected" <%end%> >Finland (358)</option>
				<option value="33"  <%if mynumber.to_i == 33%>selected = "selected" <%end%> >France (33)</option>
				<option value="49"  <%if mynumber.to_i == 49%>selected = "selected" <%end%> >Germany (49)</option>
				<option value="30"  <%if mynumber.to_i == 30%>selected = "selected" <%end%> >Greece (30)</option>
				<option value="852"  <%if mynumber.to_i == 852%>selected = "selected" <%end%> >HongKong (852)</option>
				<option value="36"  <%if mynumber.to_i == 36%>selected = "selected" <%end%> >Hungary (36)</option>
				<option value="91"  <%if mynumber.to_i == 91%>selected = "selected" <%end%> >India (91)</option>
				<option value="353"  <%if mynumber.to_i == 353%>selected = "selected" <%end%> >Ireland (353)</option>
				<option value="39"  <%if mynumber.to_i == 39%>selected = "selected" <%end%> >Italy (39)</option>
				<option value="81"  <%if mynumber.to_i == 81%>selected = "selected" <%end%> >Japan (81)</option>
				<option value="82"  <%if mynumber.to_i == 82%>selected = "selected" <%end%> >Korea (South) (82)</option>
				<option value="60"  <%if mynumber.to_i == 60%>selected = "selected" <%end%> >Malaysia (60)</option>
				<option value="64"  <%if mynumber.to_i == 64%>selected = "selected" <%end%> >New Zealand (64)</option>
				<option value="47"  <%if mynumber.to_i == 47%>selected = "selected" <%end%> >Norway (47)</option>
				<option value="63"  <%if mynumber.to_i == 63%>selected = "selected" <%end%> >Philippines (63)</option>
				<option value="7"  <%if mynumber.to_i == 7%>selected = "selected" <%end%> >Russia (7)</option>
				<option value="381"  <%if mynumber.to_i == 381%>selected = "selected" <%end%> >Serbia (381)</option>
				<option value="65"  <%if mynumber.to_i == 65%>selected = "selected" <%end%> >Singapore (65)</option>
				<option value="34"  <%if mynumber.to_i == 34%>selected = "selected" <%end%> >Spain (34)</option>
				<option value="46"  <%if mynumber.to_i == 46%>selected = "selected" <%end%> >Sweden (46)</option>
				<option value="41"  <%if mynumber.to_i == 41%>selected = "selected" <%end%> >Switzerland (41)</option>
				<option value="886"  <%if mynumber.to_i == 886%>selected = "selected" <%end%> >Taiwan (886)</option>
				<option value="66"  <%if mynumber.to_i == 66%>selected = "selected" <%end%> >Thailand (66)</option>
				<option value="90"  <%if mynumber.to_i == 90%>selected = "selected" <%end%> >Turkey (90)</option>
				<option value="44"  <%if mynumber.to_i == 44%>selected = "selected" <%end%> >UK (44)</option>
				<option value="380"  <%if mynumber.to_i == 380%>selected = "selected" <%end%> >Ukraine (380)</option>
				<option value="971"  <%if mynumber.to_i == 971%>selected = "selected" <%end%> >United Arab Emirates (971)</option>
				<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >USA (1)</option>
				<option value="678"  <%if mynumber.to_i == 678%>selected = "selected" <%end%> >Vanuatu (678)</option>
				<option value="84"  <%if mynumber.to_i == 84%>selected = "selected" <%end%> >Vietnam (84)</option>
				<option value="+"  <%if mynumber.to_i == '+'%>selected = "selected" <%end%> >Other</option>
		</select>
		<br>
						
						
						<%=text_field 'user2','Phone'%>
					</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td valign="top">
						<%=text_field 'user2','Email'%>
						<span id="validateemail">
							<input type="hidden" name="checkemail" id="checkemail" value="0"/>
						</span>
						 <%= observe_field(:user2_Email,
                        		:on => :changed,
								:method => :get,
                        		:update => :validateemail,
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; ",
                        		:url => { :controller=>'products',:action => 'validateemail'},
								:with => "'code='+escape($('user2_Email').value) ") %>
		   
					</td>
				</tr>
				
				<!--<tr>
					<td>Address:</td>
					<td colspan="10"><%=text_field 'user2','Address',:size=>"60" %></td>
				</tr>
				-->
				<tr>
					<td valign="top">City:</td>
					<td>
						<%#text_field 'user2','Suburb'%>
						
						
						<style type="text/css">       
				 		div.auto_complete {
				          width: 350px;
				          background: #fff;
						  
				        }
				        div.auto_complete ul {
				          border:1px solid #888;
				          margin:0;
				          padding:0;
				          width:100%;
				          list-style-type:none;
				        }
				        div.auto_complete ul li {
				          margin:0;
				          padding:2px;
						  font-size:10px;
				        }
				        div.auto_complete ul li.selected {
				          background-color: #ffb;
				        }
				        div.auto_complete ul strong.highlight {
				          color: #800; 
				          margin:0;
				          padding:0;
				        }
				</style>
				<!--onblur="mapregister('user2_Suburb');" -->
				<input id="user2_Suburb" name="user2[Suburb]" size="15" type="text" value="<%=@location%>" style="font-family:Arial, Helvetica;margin-left:0px; width:120px;padding:2px;" /><div class="auto_complete" id="user2_Suburb_detail"></div><script type="text/javascript">
				//<![CDATA[
				var lession_comment1_auto_completer = new Ajax.Autocompleter('user2_Suburb', 'user2_Suburb_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('user2_Suburb').value) }, method:'get', paramName:'code'})
				//]]>
				</script> 
				<!--
					<span id="msgreguser"></span>
					<input type="hidden" name="user2[lat]" id="user2_lat"/>
					<input type="hidden" name="user2[lng]" id="user2_lng"/>
					<br>
					lat:<input type="text" name="tempuserlat" id="tempuserlat" disabled="disabled"/><br>
					lng:<input type="text" name="tempuserlng" id="tempuserlng" disabled="disabled"/>
					-->
					</td>
					<!--<td>Province:</td>
					<td><%=text_field 'user2','Province'%></td>
				</tr>
				<tr>
					<td>Postcode:</td>
					<td colspan="10"><%=text_field 'user2','PostCode'%></td>
				--></tr>
				
				<tr>
					<td valign=top>I am a:</td>
					<td colspan="10">
						<input name="user2[UserType]" type="radio" value="p" id="user2_UserType_1" checked="checked" style="margin-right:5px"/><label for="user2_UserType_1">Buyer / Seller / Renter (Anyone)</label>
						<br /><input name="user2[UserType]" type="radio" value="g" id="user2_UserType_2" style="margin-right:5px" /><label for="user2_UserType_2">Real Estate Agent</label>
						<br /><input name="user2[UserType]" type="radio" value="d" id="user2_UserType_3" style="margin-right:5px" /><label for="user2_UserType_3">Property Developer</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="10"><br />
					
					
					

			
			

			<input type="image"  onclick="return newuserform();" src="/images/button-registerfree.png"/>

			

					</td>
				</tr>
			</table>
		</form>
	</div>
		
		
	</div>

</div>

<!-- PLAN CHOSER -->
<div>
	
</div>


<!-- REGISTER BUTTON -->
<div>
	
	
</div>
<br clear="all" />
</div>




			
			<!-- REGISTER FORM -->
	
	<!-- // REGISTER FORM -->