<%if params[:partner]%>
<%= render :partial => "/listings/partner/#{params[:partner]}_header" %>
<%= render :partial => "/listings/partner/#{params[:partner]}_nav" %>
<%mypartner = "#{params[:partner]}"%>
<%else%>
<%= render :partial => "/listings/partner/rethai_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>
<%end%>

<!--=params[:code]-->

<!-- SEO -->
<%
@page_title = I18n.translate('txt.search.page_title',:seo=>params[:seo])
@page_desc = I18n.translate('txt.search.page_desc',:seo=>params[:seo])
@page_keywords = I18n.translate('txt.search.page_keywords')
%>
<!-- // END SEO -->

<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
txtsqm = 	I18n.translate('txt.listingtype.sqm')
%>



<script type="text/javascript">
	function showminimap(id,lat,lng){
		var ggkey = document.getElementById('gkey').value;
		if(document.getElementById(id).innerHTML == ""){
			document.getElementById(id).innerHTML="<img src=\"http://maps.google.com/maps/api/staticmap?center="+lat+","+lng+"&zoom=13&size=500x160&sensor=false&markers=size:mid|color:red|"+lat+","+lng+"&key="+ggkey+"&maptype=hybrid\" />";
		}
		if(document.getElementById(id).style.display=="block"){
			document.getElementById(id).style.display="none";
		}else{
			document.getElementById(id).style.display="block";
		}
	}
</script>

	
	<div id="searchheaderblock">
    	<div id="refinesearch">Refine Search</div>
    	<div style="background-color:#dee2e4;width:785px; margin-left:5px; border-bottom:1px solid #94a5a4;padding:5px;color:#4d6367;float:left;"><div style="float:left;"><span id="foundlistings"><%=@countlistings.length%></span> <%=I18n.translate('txt.search.listings-found')%> </div>
			<div class="highlowlink" style="float:left;margin-left:200px;"><%=I18n.translate('txt.search.sort-price')%>: 
						<%=link_to I18n.translate('txt.search.hight-to-low'),{:action=>"search",:sortby=>"Price DESC"}%> | <%=link_to I18n.translate('txt.search.low-to-hight'),{:action=>"search",:sortby=>"Price ASC"}%>
			</div>
			<div style="float:right"><a href="/listings/maps?location=<% if session[:location] != ""%><%=session[:location]%><%else%>Pattaya<%end%>"><%=I18n.translate('txt.search.view-on-map')%></a></div>
		</div>
		
	<br clear="all" />
    </div>



		<!-- RIGHT SIDEBAR -->
		<div style="float:right; width:275px; margin-top:5px;">



	<!-- Goooooooogle map -->	
		<div id="map" style="width:275px; height:350px; min-height:500px; overflow:hidden;"></div>
	<!-- Goooooooogle map -->	

				<!-- ========================  Advertising space  ====================================================-->
			<div style="margin:15px 0;width:250px;">
					<%
					if session[:location].to_s !=""
						avertiselocation = session[:location]
					else
						avertiselocation = "Pattaya"
					end
						advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='searchright'",:order=>"RAND()",:limit=>1)
						if advertises.length > 0
							for adv in advertises
								%><%=adv.ScriptText%><%
								break
							end
						else
							advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='searchright'",:order=>"RAND()",:limit=>1)
							if advertise2s.length > 0
								for adv in advertise2s
									%><%=adv.ScriptText%><%
									break
								end
							end
						end
					%>
				</div>
				<!-- ======================= End Advertising space ====================================================-->

<br>

<%if params[:partner] == "pattayaone" %>

<div style="margin-top:550px;">
<!-- PUT THIS TAG IN DESIRED LOCATION OF SLOT REThaicomSkyscraper -->
<script type="text/javascript">
  GA_googleFillSlot("REThaicomSkyscraper");
</script>
<!-- END OF TAG FOR SLOT REThaicomSkyscraper -->	
</div>

<%else%>
<div align="center">
	<!-- ========================  Advertising space  ====================================================-->
	<div style="margin:15px 0;width:250px;">
		<%
		if session[:location].to_s !=""
			avertiselocation = session[:location]
		else
			avertiselocation = "Pattaya"
		end
			advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='searchright'",:order=>"RAND()",:limit=>1)
			if advertises.length > 0
				for adv in advertises
					%><%=adv.ScriptText%><%
					break
				end
			else
				advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='searchright'",:order=>"RAND()",:limit=>1)
				if advertise2s.length > 0
					for adv in advertise2s
						%><%=adv.ScriptText%><%
						break
					end
				end
			end
		%>
	</div>
	<!-- ======================= End Advertising space ====================================================-->
</div>
<%end%>


<!--=========================  START FEATURED AGENCIES ====================================================================	-->

	<div id="featagencyblock">
		<% 
			if session[:location].to_s !=""
				agen_city = session[:location]
			else
				agen_city = "Pattaya"
			end

 

			agencies = Companies.find(:all,:conditions=>"companies.Head = '0' and city = '#{agen_city}' and users.level >='2' and users.UserType >='g' ",:joins=>" INNER JOIN users ON users.id = companies.id_user",:order=>"RAND()" ,:limit=>5)			
			if agencies.length < 1
				agencies = Companies.find(:all,:conditions=>"companies.Head = '0' and users.level >='2' and users.UserType >='g' ",:joins=>" INNER JOIN users ON users.id = companies.id_user",:order=>"RAND()" ,:limit=>5)
			end
			%>
			
		<h3>Featured Agencies</h3>
		<!--location:<%=session[:location]%>-->
			
			<%for a in agencies
						a_image = "/images/noimage.png"
					if a.logo.to_i > 0
						begin
						image = Businesslogo.find(a.logo)
						if image
							a_image= image.public_filename(:small)
						end
						rescue
						end
					end
		#a_city = "#{a.city}-"
		listings = Product.find(:all,:conditions=>"Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null) and id_user = '#{a.id_user}'")
		
		%>
		
		<div class="home-featagency">
			<a href="/agency/<%=a.Name%>-<%=a.id%>"><img src="<%=a_image%>" style="border: 1px solid rgb(204, 204, 204); margin-right: 5px;" align="left"></a>
			<a href="/agency/<%=a.Name%>-<%=a.id%>"><%=a.Name%></a><br>
			<!--<a href=""><%=a.Url%></a><br>-->
			<%=listings.length%> listings<br clear="all">

		</div>
		<%end%>
		<a href="/agency/allagencies" style="margin-top:6px;display:block">View all Agencies ></a>
	</div>

<br clear="all" />
<!-- END DEVELOPER / AGENCY ITEMS -->




<div align="center">
	<!-- ========================  SEARCH RIGHT Advertising space  ====================================================-->
	<div style="margin:15px 0;width:250px;">
		<%
		if session[:location].to_s !=""
			avertiselocation = session[:location]
		else
			avertiselocation = "Pattaya"
		end
			advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='searchright'",:order=>"RAND()",:limit=>1)
			if advertises.length > 0
				for adv in advertises
					%><%=adv.ScriptText%><%
					break
				end
			else
				advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='searchright'",:order=>"RAND()",:limit=>1)
				if advertise2s.length > 0
					for adv in advertise2s
						%><%=adv.ScriptText%><%
						break
					end
				end
			end
		%>
	</div>
	<!-- ======================= //SEARCH RIGHT End Advertising space ====================================================-->
</div>


		</div>
		<!-- //END RIGHT SIDEBAR -->



		<!-- LEFT SIDEBAR CONTENT -->
        <div style="float:left; width:180px">
        


<!--
<a href="/listings/<%=params[:partner]%>/register"><h4>FREE Register</h4></a>
<a href="/listings/<%=params[:partner]%>/new"><h4>Sell You Listings</h4></a>
-->
<div id="list-searchform">
		<%= form_remote_tag(:update => "main",
								:loading  =>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none';document.getElementById('foundlistings').innerHTML=document.getElementById('tempcountlistings').value ; load('1');",
								:url => { :controller=>'listings',:action => 'searchlistings',:partner=>mypartner}) %>
							<!--document.getElementById('foundlistings').innerHTML=document.getElementById('tempcountlistings').value-->

    <p style="margin-top:0px;padding-top:0px;"><strong><%=I18n.translate('txt.listingtype.i-want-to')%>:</strong></p>
       <select name="salerent" id="salerent">
			<option value="2" <%if session[:salerent].to_s =="2"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy-rent')%>&nbsp;&nbsp;</option>
			<option value="1" <%if session[:salerent].to_s =="1"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy')%>&nbsp;&nbsp;</option>
			<option value="0" <%if session[:salerent].to_s =="0"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.rent')%>&nbsp;&nbsp;</option>
       </select>
    
    <p><%=I18n.translate('txt.listingtype.propertytype')%>: </p>
    <select name="propertytype" id="propertytype">
    <%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
	<option value="0" selected="selected"><%=I18n.translate('txt.listingtype.listingtype')%></option>
    <%for lt in listingtypes%>
			<%
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
			%>
        <option value="<%=lt.Value%>" <%if session[:propertytype].to_s == lt.Value.to_s %> selected="selected" <%end%>><%=showlistingtype%></option>
    <%end%>
    </select>
    
    
    <p><b><%=I18n.translate('txt.listingtype.city')%>:</b></p>
        <input id="code" name="code" size="15" type="text" value="<% if session[:location] != ""%><%=session[:location]%><%else%>Pattaya<%end%>"  style="width:150px;" /><div class="auto_complete" id="code_detail"></div><script type="text/javascript">
        //<![CDATA[
        var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('code').value) }, method:'get', paramName:'code'})
        //]]>
        </script> 
    	
					 <%= observe_field(:code,
                    		:on => :change,
							:method => :get,
                    		:update => :showagency,
                    		:url => { :controller=>'listings',:action => 'genagencies'},
							:with => "'province='+escape($('code').value) ") %>
							
            
    <p><%=I18n.translate('txt.listingtype.price')%> : <span style="margin-left:50px;"><%=I18n.translate('txt.listingtype.to')%>:</span></p>
	
	<input type="text" name="tfprice" id="tfprice" value="<%=session[:fprice]%>"  onkeydown="if(event.keyCode == 13){ this.value=formatCurrency(this.value,'fprice'); new Ajax.Updater('main', '/rethai/searchlistings', {asynchronous:true, evalScripts:true, onComplete:function(request){javascript: document.getElementById('processing').style.display='none';document.getElementById('foundlistings').innerHTML=document.getElementById('tempcountlistings').value ; load('1');}, onLoading:function(request){javascript: document.getElementById('processing').style.display='block';}, parameters:Form.serialize(this.form)}); return false;}" onblur="this.value=formatCurrency(this.value,'fprice');" style="width:70px;" />

    <input type="text" name="ttprice" id="ttprice" value="<%=session[:tprice]%>"  onkeydown="if(event.keyCode == 13){ this.value=formatCurrency(this.value,'tprice'); new Ajax.Updater('main', '/rethai/searchlistings', {asynchronous:true, evalScripts:true, onComplete:function(request){javascript: document.getElementById('processing').style.display='none';document.getElementById('foundlistings').innerHTML=document.getElementById('tempcountlistings').value ; load('1');}, onLoading:function(request){javascript: document.getElementById('processing').style.display='block';}, parameters:Form.serialize(this.form)}); return false;}" onblur="this.value=formatCurrency(this.value,'tprice');" style="width:70px;" />
    
    <input type="hidden" name="fprice" id="fprice" />
    <input type="hidden" name="tprice" id="tprice" />
    
    <p><%=bedroom%>: <span style="margin-left:15px;"><%=I18n.translate('txt.listingtype.to')%>:</span></p>
	<select name="bed" id="bed" style="width:75px;">
            <option value=""><%=txtany%></option>
            <option value="0" <%if session[:bed].to_s == "0"%> selected="selected" <%end%>><%=mystudio%></option>
            <option value="1" <%if session[:bed].to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if session[:bed].to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if session[:bed].to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if session[:bed].to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if session[:bed].to_s == "5"%> selected="selected" <%end%>>5</option>
            <option value="6" <%if session[:bed].to_s == "6"%> selected="selected" <%end%>>6+</option>
    </select>
        
    <select name="bed2" id="bed2" style="width:75px;">
            <option value=""><%=txtany%></option>
            <option value="0" <%if session[:bed2].to_s == "0"%> selected="selected" <%end%>><%=mystudio%></option>
            <option value="1" <%if session[:bed2].to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if session[:bed2].to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if session[:bed2].to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if session[:bed2].to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if session[:bed2].to_s == "5"%> selected="selected" <%end%>>5</option>
            <option value="6" <%if session[:bed2].to_s == "6"%> selected="selected" <%end%>>6+</option>
     </select>	
        
        
    <p><%=bathroom%>:</p><select name="bath" id="bath">
            <option value=""><%=txtany%></option>
            <option value="1" <%if session[:bath].to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if session[:bath].to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if session[:bath].to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if session[:bath].to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if session[:bath].to_s == "5"%> selected="selected" <%end%>>5+</option>
        </select>
    
    
    <br />
    <br />
    
    
    <input type="image" href="#" style="width:138;height:26px;cursor:pointer;" name="image" src="/images/button-updatesearch.png" />
	
    <img src="/images/loadingb.gif" id="processing" style="display:none;"/>
    <br />

    <div style="clear:both;"></div>
    
    </form>


	
	
</div>

<div id="kendio">
    <input type="hidden" name="temp" id="temp" value="<%=@text%>"/>
    <div id="temp2" style="display:none"><%=@text2%></div>													
</div>



<!-- // SEARCH FORM -->




	
<div id="compare_form" style="display:none;">
	<h3>Compare Listings</h3>
	<input type="hidden" name="compare_id" id="compare_id"value=":"/>
	<input type="hidden" name="ccount" id="ccount"value="0"/>
	<div id="showcompare">
		
	</div>
	<a href="#" onclick="window.open('/<%=mypartner%>/compare?compare_id='+document.getElementById('compare_id').value,'_blank');">Compare now!</a>

</div>
	
<br />
<table bgcolor="#303030">
	<tr>
		<td><a href="/<%=params[:partner]%>/new"><img src="/images/sml-addlisting.png" /></a></td>
	</tr>
	<tr>
		<td class="search-left-free">
			<%=I18n.translate('txt.search.text1')%>
			<p><%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.search.add-now')+'<br>', "/#{params[:partner]}/new") %></p>
		</td>
	</tr>
</table>	
            

	
	

<p>&nbsp;</p>
<div align="center">
	<!-- ========================  Advertising space  ====================================================-->
	<div style="margin:15px 0;width:160px;">
		<%
		if session[:location].to_s !=""
			avertiselocation = session[:location]
		else
			avertiselocation = "Pattaya"
		end
			advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='searchleft'",:order=>"RAND()",:limit=>1)
			if advertises.length > 0
				for adv in advertises
					%><%=adv.ScriptText%><%
					break
				end
			else
				advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='searchleft'",:order=>"RAND()",:limit=>1)
				if advertise2s.length > 0
					for adv in advertise2s
						%><%=adv.ScriptText%><%
						break
					end
				end
			end
		%>
	</div>
	<!-- ======================= End Advertising space ====================================================-->
</div>
<p>&nbsp;</p>





<!-- // END LEFT SIDEBAR CONTENT -->
		</div>






		<!-- MIDDLE CONTENT -->
        <div id="searchresultboxes">







<img src="/images/loadingb.gif" id="loading" style="display:none;"/>

<div id="main">
	<input type="hidden" name ="tempfirstload" id="tempfirstload" value="1"/>
	<input type="hidden" name="tempshow" id="tempshow" value=""/>
	<input type="hidden" name="partner" id="partner" value="<%=mypartner%>"/>
	<input type="hidden" name="tempcountlistings" id="tempcountlistings" value="<%=@countlistings.length%>"/>
	<% if RAILS_ENV =="development"
			ggkey="ABQIAAAAmJz8xm-Ja_ZK1XQwhiJzDBQZkXe_EpvnrmZpXiq6nSo1ISoWFhQ531AAdomVJEComYTNoI683GmTDQ"
		elsif RAILS_ENV =="alpha"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxR0Xo7zTDC_U-tJDD8CxNO7k9fpYxRpeu3fima4Ta4vg6ODpI5NgXviMA"
		elsif RAILS_ENV =="beta"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxSd5RqMbDNAFH1RgBBdxtpXobdYtxQHOioi6Sst-rpb6lixEE19bYuVOA"
		elsif RAILS_ENV =="production"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxTTuA6xppXR1MBY8ubG39QnXYmYuxQj2fBmwYDbHycsFhETWma7qU4GQw"
		end%>
		
		<!-- for mini map-->
		<input type="hidden" name="gkey" id="gkey" value="<%=ggkey%>" />
		
<%
setpage=0
if params[:page] and params[:page] !="" and params[:page] !="0" and params[:page] != nil and params[:page] !="1"
setpage=(params[:page].to_i - 1) * 20
else
setpage =  0
end
%>
<%if @listings.length <= 0%>
	Sorry there was no results, try expanding your search

	
	
	
<%else%>
	
		<%
			advertising = 1
			i =  setpage.to_i  #((@listings.length.to_i) -1) + setpage.to_i
		  for listing in @listings
					listingprice = ""
			       if listing.salerent.to_s == '1'  # sale        
						link_salerent = "Sale" 
						seosalerent="Sale"
			             strprice = listing.Price
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end   
			                listingprice = "#{strprice} <small>Baht</small>"
			        elsif listing.salerent.to_s == '0' # rent    
						link_salerent = "Rent"
						seosalerent="Rent"
			            strprice = listing.RPrice
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end  
			             listingprice = "#{strprice} <small>Baht / Month</small>"
			        else  # sale / rent   
						link_salerent = "Sale or Rent"
						seosalerent="Sale or Rent"
			                strprice = listing.Price
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                  
			                end  
			                listingprice = "#{strprice} <small>Baht</small>"
			                
			                
			                strprice = listing.RPrice
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                end                  
			                listingprice = listingprice + "  #{strprice} <small>Baht / Month</small>"
			        end 
						#seosalerent = seosalerent	
						while seosalerent[" "]				
							seosalerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)



			#end if @listing.salerent
			    # ============  end set price  ===========================================================
			    compdetail=""
			    begin
			      
			    						comp = nil
			                            companies = Companies.find(:all,:conditions=>"id_user = '#{listing.id_user}'",:order=>"id asc")
			                            if companies.length > 0
											x = 1
			                              for comp in companies
			                                if comp.logo !="" and comp.logo !=nil and comp.logo !='0' and x == 1
			                                  logo = Businesslogo.find(comp.logo)
			                                  compdetail= "    <img src=\"#{logo.public_filename(:small)}\"/>  \n<p>#{comp.Name}<br /></p>"
			                                   #break
			                                end
											if x > 1 
			                                   break
			                                end
								
											x =x + 1
			                              end
			                            end
			    rescue
			     end   # end begin

	                            
			      sqm=""
			    if listing.SQM.to_s !="0" and listing.SQM.to_s !="" and listing.SQM.to_s !=nil
			        sqm = "<small>#{number_to_currency(listing.SQM, :unit =>"", :precision =>0)} #{txtsqm}</small>"
			    end   
			    #get parking
			        parking =" "
			        if listing.Parking.to_s != '0' and listing.Parking.to_s != "" and listing.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
			              break
			            end
			          end
			        end
			      #get listing type
			        listingtype =" "
					seo_listingtype=""
					showlistingtype = ""
			        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						s_listingtype = "#{lt.Name}"	
						if s_listingtype[" / "]				
							s_listingtype[" / "] ="-"		
						end
							s_listingtype = "txt.listingtype.#{s_listingtype.downcase}"
							showlistingtype = I18n.translate(s_listingtype)
							
							seo_listingtype=""
							seo_listingtype << showlistingtype
							if seo_listingtype[" / "]				
								seo_listingtype[" / "] ="-"		
							end


			              break
			            end
			          end
			        end  
			        if listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = listing.Bed + " " + bedroom
			        end
			        city = ""
					if listing.City.to_s !="" and listing.City.to_s !="0" and listing.City != nil
						city = " <br>#{listing.City}"
						link_city = "#{listing.City}"
						showcity = "txt.province.#{listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

			        if listing.Type.to_s == "5" 
			         text = "<div id=listing><span class=listing-smallfont>#{showlistingtype} #{showcity}<br>#{sqm}</span></div>"
			       else
			         text = "<div id=listing><span class=listing-smallfont><strong>#{mybedroom}</strong>, #{listing.Bath} #{bathroom} <br>#{showlistingtype} #{showcity} #{txtfor} #{salerent}<br><small>#{parking}</small><br>#{sqm}</span></div>"
			       end
			       
				myimages="/images/noimage-120.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'")
			   for image in images
			      	myimages = "#{image.photo.url(:thumb)}"
					break
			    end


			
				if advertising == 3%>
				<!-- ========================  Advertising space  ====================================================-->
				<div>
					<%
					if session[:location].to_s !=""
						avertiselocation = session[:location]
					else
						avertiselocation = "Pattaya"
					end
						advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='searchcenter'",:order=>"RAND()",:limit=>1)
						if advertises.length > 0
							for adv in advertises
								%><%=adv.ScriptText%><%
								break
							end
						else
							advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='searchcenter'",:order=>"RAND()",:limit=>1)
							if advertise2s.length > 0
								for adv in advertise2s
									%><%=adv.ScriptText%><%
									break
								end
							end
						end
					%>
				</div>
				<!-- ======================= End Advertising space ====================================================-->
			   <%end
				advertising = advertising + 1
					
		%>
		
		
		



<%if listing.SearchFeatured.to_s =="1"%>
	<div id="listingboxes-featured">
<%else%>	
	<div id="listingboxes">
<%end%>
<!--
<div id="show_<%=listing.id%>"  onmouseover="mymouseover(<%=i%>);" onmouseout="mymouseout(<%=i%>);">
	-->
	<div id="show_<%=listing.id%>"  onmouseover="mymouseover(<%=listing.id%>);" onmouseout="mymouseout(<%=listing.id%>);">
  <div class="bizdetails">
  	<%if comp != nil%>
	    <%=compdetail%>
	    <p><small><%=comp.phone%></small></p>
	<%end%>
  </div>
<%

				if listing.salerent.to_s =="0"
					search_link="/#{mypartner}/#{showcity}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{salerent}-#{listing.RPrice}-#{listing.id}"
					b_link = "/#{showcity}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{salerent}-#{listing.RPrice}"
				else
					search_link="/#{mypartner}/#{showcity}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{salerent}-#{listing.Price}-#{listing.id}"
					b_link = "/#{showcity}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{salerent}-#{listing.Price}"
				end
				begin
					if listing.titlelink.to_s !=""
						search_link = "#{listing.titlelink}-#{listing.id}"
						b_link = "#{listing.titlelink}"
					end
				rescue
				end
%>
  <h2><a href="<%=search_link.gsub(/\//,'-')%>" target="_blank"><%=listingprice%></a></h2>
	
    <a href="<%=search_link.gsub(/\//,'-')%>" target="_blank" ><img src="<%=myimages%>" align="left" width="120" height="120" class="listingimage" /></a>

    <div class="bedbath"><%=text%></div>
    
<!--    <div class="bottomlinks"><a href="#">Compare</a> <a href="#">Preview</a> <a href="#">Ful Details</a> <a href="#">Add to favorites</a></div>-->
    <div id="command_<%=listing.id%>" class="bottomlinks">
		<small>
			<input type="checkbox" name="chb_<%=listing.id%>" value="<%=listing.id%>" id="chb_<%=listing.id%>" onclick="chb_compare('chb_<%=listing.id%>','<%=myimages%>','<%=listing.id%>','<%=number_to_currency(listing.Price, :unit =>"", :precision =>0)%>','<%=mybedroom%>','<%=listing.Bath%>','<%=number_to_currency(listing.SQM, :unit =>"", :precision =>0)%>','<%=parking%>','<%=listingtype%>')" />  <label for="chb_<%=listing.id%>" style="text-decoration:underline;cursor:pointer;color:#404c36">Compare</label>
			<a href="/<%=mypartner%>/<%=showcity.gsub(/\//,'-')%>-<%=seo_listingtype.gsub(/\//,'-')%>-for-<%=salerent.gsub(/\//,'-')%>-<%=listing.Price%>-<%=listing.id%>" target="_blank" >Full Details</a>
			<a href="#command_<%=listing.id%>" onclick="showminimap('map_<%=listing.id%>','<%=listing.lat%>','<%=listing.lng%>')">Map</a>
		</small>
	</div>
		<input type="hidden" name="textlink_<%=listing.id%>" id="textlink_<%=listing.id%>" value="<%=b_link%>"/>
		<!-- show mini map-->
		<div id="map_<%=listing.id%>" style="display:none;margin-top:5px;"></div>
		<!-- ======= end show mini map  ==================-->
		
		
</div>
</div>


			
		<%
		i = i + 1
		end # end for listing in @listings



				if @listings.length < 3%>
				<!-- ========================  Advertising space  ====================================================-->
				<div>
					<%
					if session[:location].to_s !=""
						avertiselocation = session[:location]
					else
						avertiselocation = "Pattaya"
					end
						advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='searchcenter'",:order=>"RAND()",:limit=>1)
						if advertises.length > 0
							for adv in advertises
								%><%=adv.ScriptText%><%
								break
							end
						else
							advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='searchcenter'",:order=>"RAND()",:limit=>1)
							if advertise2s.length > 0
								for adv in advertise2s
									%><%=adv.ScriptText%><%
									break
								end
							end
						end
					%>
				</div>
				<!-- ======================= End Advertising space ====================================================-->
			   <%end
		%>
	
		
	<%= will_paginate @listings,:params=>{:sortby=>session[:sortprice]} %>
<%end%>

<br clear="all" />
</div> <!--end div main-->



        
       
        
        
        <br clear="all" />
        </div>
		<!-- //END LEFT CONTENT -->

	  <br clear="all" /><br clear="all" />
    </div>
	<!-- // END CONTENT START -->


<!-- FOOTER -->

<%= render(:partial => "index/footer") %>
	
<!-- END FOOTER -->


</div>
