<!--
    <script type="text/javascript" src="http://www.google.com/jsapi">
    </script>
    <script type="text/javascript">

    google.load("language", "1");

    function initialize() {
      var text = document.getElementById("showdetails").innerHTML;
      google.language.detect(text, function(result) {
        if (!result.error && result.language) {
          google.language.translate(text, result.language, "th",
                                    function(result) {
            var translated = document.getElementById("translation");
            if (result.translation) {
              translated.innerHTML = result.translation;
            }
          });
        }
      });

    } 
    google.setOnLoadCallback(initialize);

    </script>
-->
<script type="text/javascript">
	function chb_sendmessage(id,cid){
		if (document.getElementById(id).checked == true) {
			document.getElementById('sendmessage_id').value = document.getElementById('sendmessage_id').value + cid + ":";
		}else{
			document.getElementById('sendmessage_id').value = document.getElementById('sendmessage_id').value.replace(":"+cid+":", ":");
		}
	}
</script>

<script type="text/javascript"  src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>


<script type="text/javascript">
	function validateagentrequest(){
		if(document.getElementById('lead_name').value==""){alert('Please Enter Name'); document.getElementById('lead_name').focus(); return false;}
		else if(document.getElementById('lead_email').value==""){alert('Please Enter Email'); document.getElementById('lead_email').focus(); return false;}
		else if(document.getElementById('lead_phone').value==""){alert('Please Enter Phone'); document.getElementById('lead_phone').focus(); return false;}
		else if (isNaN(document.getElementById('lead_phone').value)){alert('Please Check Phone number'); document.getElementById('lead_phone').focus(); return false;}
		else if(document.getElementById('lead_messages').value==""){alert('Please Enter Message'); document.getElementById('lead_messages').focus(); return false;}
		else{
			return true;
		}
	}
</script>


<%if params[:partner]%>
<%= render :partial => "/listings/partner/#{params[:partner]}_show_header" %>
<%= render :partial => "/listings/partner/#{params[:partner]}_nav" %>
<%mypartner = "#{params[:partner]}"%>
<%else%>
<%= render :partial => "/listings/partner/rethai_show_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>
<%end%>


<!-- SEO -->

<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtsqm = 	I18n.translate('txt.listingtype.sqm')
txtin = 	I18n.translate('txt.show.in')
%>

<%
     #get listing type
        listingtype =" "
        if @listing.Type.to_s != '0' and @listing.Type.to_s != "" and @listing.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{@listing.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}"
						while listingtype[" "]				
							listingtype[" "] ="-"
						end
						while listingtype["/"]				
							listingtype["/"] =""		
						end
							listingtype = "txt.listingtype.#{listingtype.downcase}"
							listingtype = I18n.translate(listingtype)
              break
            end
          end
        end
		if @listing.City.to_s !="" and @listing.City.to_s !="0" and @listing.City != nil
			city ="#{@listing.City}"
						city = "txt.province.#{@listing.City.downcase}"
							while city[" "]				
								city[" "] ="_"		
							end
						city = I18n.translate(city)
		end
		if @listing.RPrice.to_s !="" and @listing.Price.to_s !="0" and @listing.Price.to_s !=nil
			price = "#{@listing.Price}"
		end
		salerent = ""
		if @listing.salerent.to_s =="1"
			salerent = "Sale"
		elsif @listing.salerent.to_s =="2"
			salerent = "Sale or Rent"
		elsif @listing.salerent.to_s =="0"			
			salerent = "Rent"
		end
		
						while salerent[" "]				
							salerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{salerent.downcase}"
						salerent = "#{txtfor} " + I18n.translate(salerent)

		txtdetail =  @listing.Detail
		while txtdetail["\n"]
			txtdetail["\n"] = " "
		end
		while txtdetail["\r"]
			txtdetail["\r"] = " "
		end
		while txtdetail["<br>"]
			txtdetail["<br>"] = ""
		end
		while txtdetail["<b>"]
			txtdetail["<b>"] = ""
		end
		while txtdetail["</b>"]
			txtdetail["</b>"] = ""
		end
		while txtdetail["<strong>"]
			txtdetail["<strong>"] = ""
		end
		while txtdetail["</strong>"]
			txtdetail["</strong>"] = ""
		end
		while txtdetail["<a href="]
			txtdetail["<a href="] = ""
		end
		while txtdetail["</a>"]
			txtdetail["</a>"] = ""
		end
		while txtdetail["<img src="]
			txtdetail["<img src="] = ""
		end
		while txtdetail['">']
			txtdetail['">'] = ""
		end
		while txtdetail['"']
			txtdetail['"'] = ""
		end

		while txtdetail["&"]
			txtdetail["&"] = ""
		end
		if txtdetail.length > 250
			txtdetail = txtdetail.slice(0,250)
			
		end

%>

<%
if @listing.titlelink.to_s != ""
	@page_title = @listing.titlelink
else
	@page_title = I18n.translate('txt.show.page_title',:city=>city,:listingtype=>listingtype,:salerent=>salerent,:price=>price)
end
@page_desc = I18n.translate('txt.show.page_desc',:city=>city,:txtdetail=>txtdetail,:salerent=>salerent)
@page_keywords = I18n.translate('txt.show.page_keywords',:city=>city,:salerent=>salerent)
%>

<!-- // END SEO -->



<%
myimages ="/images/noimage-350.png"
link_firstimage="/images/noimage-350.png"

		if @listing.Images_Url !="" and @listing.Images_Url !=nil and @listing.UploadImages.to_s =="0" #listing form rethaiapi
			      p_image = @listing.Images_Url
				if p_image != nil
			      if p_image["|"]
			        p_image = p_image.split('|').collect{|e|e} 
					myimages = p_image[3].to_s
					@firstimage = p_image[3].to_s
			      end
				end
		else
for image in @images
        strtype = image.photo_file_name
        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
		if image.paperclipfix.to_s =="1"
      		#myimages="http://files.rethai.com/listingdata/photos/#{image.id}/large.#{strtype}"
			myimages =  "#{image.photo.url(:large)}"
		else
			myimages =  "#{image.photo.url()}"
      		#myimages =  "http://files.rethai.com/listingdata/photos/#{image.id}/original.#{strtype}"
		end
		break
end
		end
		# get business
begin
	compdetail=""
	mybusiness = "0"
	companies = Companies.find(:all,:conditions=>"id_user = '#{@listing.id_user}' and Head = '0'")
        if companies.length > 0
          for comp in companies
            if comp.logo !="" and comp.logo !=nil and comp.logo !='0'
				mybusiness = comp
              logo = Businesslogo.find(comp.logo)
              compdetail= "    <img src=\"#{logo.public_filename(:medium)}\" width=\"250\" />  \n"
               break
            end
          end
        end
rescue
end
%>
<%
#get parking
    parking =" "
    if @listing.Parking.to_s != '0' and @listing.Parking.to_s != "" and @listing.Parking !=nil
      parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{@listing.Parking}'")
      if parkings.length > 0
        for pk in parkings
          parking = "#{pk.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
          break
        end
      end
    end
%>

<!-- ---------------------- START ---------------------- -->

<h1 style="font-size:26px;line-height:25px;">
<% if @listing.titlelink != ""%>
<%= @listing.titlelink%>
<%else%>
<%=listingtype%> <%=salerent%> <%if @listing.City.to_s !="" and @listing.City.to_s !="0" and @listing.City.to_s !=nil%> <%=txtin%> <%=city%><%else%><%end%>
<%end%>

<br>
<%if @listing.id_user.to_s == session[:user_id].to_s%><a href="/controlpanel/products" style="float:right;display:block;font-size:12px;padding:0 7px 0 7px;background-color:#b00000;color:#fff;margin-bottom:-5px;font-weight:bold"><%= I18n.t 'txt.show.editlisting' %></a><%else%><%end%>
<span style="font-size:14px;color:#728588;margin-left:0px;">
<strong>
<%if @listing.Price.to_s !="" and @listing.Price.to_s !="0" and @listing.Price.to_s !=nil %><%=number_to_currency(@listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><small>&#3647;</small><%end%>
<%if @listing.RPrice.to_s !="" and @listing.RPrice.to_s !="0" and @listing.RPrice.to_s !=nil %><%=number_to_currency(@listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><small>&#3647;/Month</small><%end%></strong>
<%if @listing.Status.to_s =="s"%>
<strong style="color:red;"> Sold</strong>
<%else%>
<%=listingtype%> <%=salerent%> <%if @listing.City.to_s !="" and @listing.City.to_s !="0" and @listing.City.to_s !=nil%> <%=txtin%> <%=city%><%else%><%end%>
<%end%>
</span>

</h1>



<div id="showlisting">



<div style="width:650px;float:left;">

	

	<!-- LEFT -->
	<div class="left">

<!--<a href="#" onclick="document.getElementById('lead-shadow').style.display='block'; document.getElementById('lead-searchform').style.display='block';">Test Popup</a>-->

<table class="listingdesctable" style=width:350px;>
<%if @listing.salerent.to_s =="1"%>
	<tr>
		<td width=120><strong><%= I18n.t 'txt.show.sale-price' %></strong></td>
		<td>
			<%=number_to_currency(@listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>&#3647;</small>
			<%if @listing.Price.to_i >0 and @listing.Price != nil%><a href="#" onclick="javascript:currencyconvert();" style="margin-left:4px;"><small>Convert</small></a><%end%>
			
		</td>
	</tr>
<%elsif @listing.salerent.to_s =="0"%>
	<tr>
		<td><strong><%= I18n.t 'txt.show.rent-price' %></strong></td>
		<td><%=number_to_currency(@listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>&#3647;/Month</small>
			<%if @listing.RPrice.to_i > 0 and @listing.RPrice != nil%><a href="#" onclick="javascript:rcurrencyconvert();" style="margin-left:4px;"><small>Convert</small></a><%end%></td>
			
	</tr>
<%else%>
	<tr>
		<td><strong><%= I18n.t 'txt.show.sale-price' %></strong></td>
		<td><%=number_to_currency(@listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>&#3647;</small>
			<%if @listing.Price.to_i >0 and @listing.Price != nil%><a href="#" onclick="javascript:currencyconvert();" style="margin-left:4px;"><small>Convert</small></a><%end%></td>
			
	</tr>
	<tr>
		<td><strong><%= I18n.t 'txt.show.rent-price' %></strong></td>
		<td><%=number_to_currency(@listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><small>&#3647;/Month</small>
			<%if @listing.RPrice.to_i >0 and @listing.RPrice != nil%><a href="#" onclick="javascript:rcurrencyconvert();" style="margin-left:4px;"><small>Convert</small></a><%end%></td>
			
	</tr>
<%end%>
	
	
	<tr>
		<td><strong><%=I18n.translate('txt.listingtype.propertytype')%></strong></td>
		<td><%=listingtype%></td>
	</tr>
	<tr>
		<td><strong><%=I18n.translate('txt.listingtype.city')%></strong></td>
	<%if @listing.City.to_s !="" and @listing.City.to_s !="0" and @listing.City.to_s !=nil%>
		<td><%=city%></td>
	<%else%>
		<td>N/A</td>
	<%end%>
	</tr>
	<tr>
		<td><strong><%=I18n.translate('txt.show.parking')%></strong></td>
		<td><%if @listing.Type.to_s =="5"%>-<%else%><%=parking%><%end%></td>
	</tr>
	<tr>
		<td><strong>Last Updated:</strong></td>
		<td><%=@listing.updated_on.strftime("%d/%m/%Y")%></td>
	</tr>


</table>		
		
	</div>
	
	
	
	
	
	
	<!-- MIDDLE -->

	<div class="middle">


<table class="listingdesctable" style=width:290px;>
	<tr>
		<td width="100"><strong><%=I18n.translate('txt.listingtype.bedroom')%></strong></td>
		<td><%if @listing.Type.to_s =="5"%>-<%else%><%if @listing.Bed.to_s =="0"%><%=mystudio%><%else%><%=@listing.Bed%><%end%><%end%></td>
	</tr>
	<tr>
		<td><strong><%=I18n.translate('txt.listingtype.bathroom')%></strong></td>
		<td><%if @listing.Type.to_s =="5"%>-<%else%><%=@listing.Bath%><%end%></td>
	</tr>

	<tr>
		<td valign="top"><strong><%=I18n.translate('txt.listingtype.sqm')%></strong></td>
	<%if @listing.SQM !="" and @listing.SQM !="0" and @listing.SQM !=nil%>
		<td>
			<input type="hidden" id="product2_SQM" value="<%=@listing.SQM%>"/>
			<input type="hidden" id="tmpsqm" value="<%=@listing.SQM%>"/>
			<%=number_to_currency(@listing.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<a href="#" onclick="javascript:convertsqm('conv_sqm'); sqmconvert();" style="margin-left:4px;"><small>Convert</small></a>
		
				

		
		</td>
	<%else%>
		<td>N/A</td>
	</tr>
	<%end%>
	<tr>
		<td><%=I18n.translate('txt.show.price-per-sqm')%></td>
	<%
		strpricepersqm = "N/A"
		if @listing.SQM.to_i > 0 and @listing.SQM != nil 
			if @listing.Price.to_i > 0 and @listing.Price != nil				
				begin
					strpricepersqm = number_to_currency((@listing.Price / @listing.SQM.to_i ), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)
				rescue
				end
			else		
				begin
					strpricepersqm = number_to_currency((@listing.RPrice / @listing.SQM.to_i ), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)
				rescue
				end
				
			end
		end
	%>
		<td><%=strpricepersqm%></td>
	</tr>
	<%if @listing.Ref.to_s != "" and @listing.Ref.to_s != "0"%>
	<tr>
		<td><strong>Reference No.</strong></td>
		<td><%=@listing.Ref%></td>
	</tr>
	<%end%>
</table>		
	</div>
	
	<br clear="all" />







		<div id="sqmconvert" style="display:none; position: absolute;top:30%;left:35%;background: #fff;padding: 10px;border: 5px solid #ddd;z-index: 100; width:240px;" >
			<div style="float:right;color:red;"><a href="#"onclick="javascript: document.getElementById('sqmconvert').style.display='none';  document.getElementById('shadow2').style.display='none';">X Close</a></div>
			<table width="160" class="table3px">
				<tr>
					<td width="50"><strong>SQM:</strong></td>
					<td width="100"><input type="text" name="conv_sqm" id="conv_sqm" value="<%=@listing.SQM%>" readonly="readonly" style="width:100px;" /></td>
				</tr>
				<tr>
					<td><strong>SQ Ft:</strong></td>
					<td><input type="text" name="conv_sqft" id="conv_sqft" value="" readonly="readonly" style="width:100px;" /></td>
				</tr>
				<tr>
					<td><strong>Rai:</strong></td>
					<td><input type="text" name="conv_rai" id="conv_rai" value="" readonly="readonly" style="width:100px;" /></td>
				</tr>
				<tr>
					<td><strong>SQ Wah:</strong></td>
					<td><input type="text" name="conv_sqv" id="conv_sqv" value="" readonly="readonly" style="width:100px;" /></td>
				</tr>
			</table>
		</div>


		

		<div id="currencyconvert" style="display:none; position: absolute;top:30%;left:35%;background: #fff;padding: 10px;border: 5px solid #ddd;z-index: 100; width:240px;" >
			<div style="float:right;color:red;"><a href="#"onclick="javascript: document.getElementById('currencyconvert').style.display='none';  document.getElementById('shadow2').style.display='none';">X Close</a></div>
			<table width="160" class="table3px">
				<tr>
					<td width="50"><strong>USD:</strong></td>
					<td width="100">
						<%if @listing.Price != nil and @listing.Price.to_i > 0%>
							<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.Price, "THB", "USD"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
						<%end%>
					</td>
				</tr>
				<tr>
					<td ><strong>AUD:</strong></td>
					<td >
						<%if @listing.Price != nil and @listing.Price.to_i > 0%>
							<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.Price, "THB", "AUD"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
						<%end%>
					</td>
				</tr>
				<tr>
					<td><strong>CAD:</strong></td>
					<td><%if @listing.Price != nil and @listing.Price.to_i > 0%>
						<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.Price, "THB", "CAD"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
					<%end%>
					</td>
				</tr>
				<tr>
					<td><strong>GBP:</strong></td>
					<td><%if @listing.Price != nil and @listing.Price.to_i > 0%>
						<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.Price, "THB", "GBP"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
					<%end%>
					</td>
				</tr>
				<tr>
					<td><strong>EUR:</strong></td>
					<td><%if @listing.Price != nil and @listing.Price.to_i > 0%>
						<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.Price, "THB", "EUR"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
						<%end%>
					</td>
				</tr>
			</table>
		</div>



		<div id="rcurrencyconvert" style="display:none; position: absolute;top:30%;left:35%;background: #fff;padding: 10px;border: 5px solid #ddd;z-index: 100; width:240px;" >
			<div style="float:right;color:red;"><a href="#"onclick="javascript: document.getElementById('rcurrencyconvert').style.display='none';  document.getElementById('shadow2').style.display='none';">X Close</a></div>
			<table width="160" class="table3px">
				<tr>
					<td width="50"><strong>USD:</strong></td>
					<td width="100">
						<%if @listing.RPrice != nil and @listing.RPrice.to_i > 0%>
							<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.RPrice, "THB", "USD"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
						<%end%>
					</td>
				</tr>
				<tr>
					<td ><strong>AUD:</strong></td>
					<td >
						<%if @listing.RPrice != nil and @listing.RPrice.to_i > 0%>
							<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.RPrice, "THB", "AUD"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
						<%end%>
					</td>
				</tr>
				<tr>
					<td><strong>CAD:</strong></td>
					<td><%if @listing.RPrice != nil and @listing.RPrice.to_i > 0%>
						<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.RPrice, "THB", "CAD"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
					<%end%>
					</td>
				</tr>
				<tr>
					<td><strong>GBP:</strong></td>
					<td><%if @listing.RPrice != nil and @listing.RPrice.to_i > 0%>
						<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.RPrice, "THB", "GBP"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
					<%end%>
					</td>
				</tr>
				<tr>
					<td><strong>EUR:</strong></td>
					<td><%if @listing.RPrice != nil and @listing.RPrice.to_i > 0%>
						<%=number_to_currency(CurrencyExchange.currency_exchange(@listing.RPrice, "THB", "EUR"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
						<%end%>
					</td>
				</tr>
			</table>
		</div>


		
<div style="width:650px;float:left;">
	

	<!-- LEFT -->
	<div class="left">
		<br>
		<span id="fullimage">
		<%if @firstimage!=""%>
			<a href="<%=myimages%>" target="_blank" rel="lightbox[listing]"><img src="<%=@firstimage%>" width="350" /></a>
		<%end%>
		</span>
		<br>
		<%
		t_img = 1
		%>
		<%
		if @listing.Images_Url != "" and @listing.Images_Url != nil and @listing.UploadImages.to_s =="0"
				if p_image != nil	
				i = 1
				while i < p_image.length%>
					<a href="<%=p_image[(i + 2)]%>" rel="lightbox[listing]"><img src="<%=p_image[i]%>" width="60" height="60" /></a>
					<%
					i = i + 3
				end
				end
		else	
		if @images.length > 0%>
			<%for image in @images%>
			<%
			if t_img != 1
				strtype = image.photo_file_name
                strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)	
				
		          if image.paperclipfix.to_s == "1"		
			%>
				<a href="<%=image.photo.url(:large)%>" rel="lightbox[listing]"><img src="<%=image.photo.url(:thumb)%>" width="60" height="60" /></a>
			<%
		          else
			%>
				<a href="<%=image.photo.url()%>" rel="lightbox[listing]"><img src="<%=image.photo.url(:thumb)%>" width="60" height="60" /></a>
			<%
		          end	
			end
			if t_img == 6
				t_img = 1
			end
			t_img = t_img + 1
			
			end #end_for
			%>
		<%else%>
			<img src="/googleimage/default.png" width="60" height="60"/>
		<%end%>
		<%end%>
		
	</div>



	<!-- MIDDLE -->

	<div class="middle">
		<br>
		<div id="map" style="width:290px;height:380px;min-height:380px;background-color: #999999;overflow:hidden"></div>
		<a href="http://www.rethai.com/listings/maps?h=<%=@listing.id%>"><img src="/images/viewonmap.png" /><!--<%=I18n.translate('txt.show.viewonmap')%>--></a>
	</div>

</div>







<div style="width:650px;font-size:13px;line-height:20px;">
	<div style="width:310px;float:right;font-size:13px;line-height:20px;" align="right">
		<%if @listing.youtubecode.to_s !=""%>
		<iframe width="290" height="238" src="http://www.youtube.com/embed/<%=@listing.youtubecode%>" frameborder="0" allowfullscreen></iframe>
		<%end%>
	</div>

	<p style="font-size:16px;"><strong><%=I18n.translate('txt.show.description')%></strong>
	<!--
	<select onChange="startTranslation(this.value);" style="font-size:11px;">
		<option value="clear">Translate Description</option>
		<option value="en">English</option>
		<option value="th">ไทย </option>
		<option value="ru">русский</option>
		<option value="de">Deutsch</option>
		<option value="fr">Français</option>
		<option value="nl">Nederlandse</option>
	</select>--></p>
	<%
		product = Product.find(@listing.id)


		a = 1
		str = product.Detail
		
		while a == 1
			if str["\r"] or str["\t"]
				if str["\r"]
					str["\r"] = "<br>"
				elsif str["\t"]
					str["\t"] = "&nbsp;&nbsp;&nbsp;"
				end
			else
				a = 0
			end
		end
			
	%>
	<div id="original"><%=str%></div>
<!--	<div id="showdetails"><trans id="showtranslate"><%=str%></trans></div> -->
		

<div style="margin-top:15px;">
	<% page = request.request_uri %>
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.rethai.com<%= page %>" show_faces="true" width="450" action="recommend" ref="show"></fb:like>
</div>

</div>







<div id="contact_business" style="width:650px; float:left;">
<br><Br>

<%if mybusiness.to_s != "0"%>

<h3><%=I18n.translate('txt.show.business-details')%></h3>
<br>

<div style="float:left;width:320px;">

	<%=compdetail%><br>
	<p style="font-size:14px;margin-top:10px;"><%=mybusiness.Name%></p>
		
	<p><strong><%=I18n.translate('txt.show.website')%>:</strong><br>
	<%
	strlink=""
	strlink = mybusiness.Url
	if strlink["http://"] or  strlink["https://"]
		%>
		<a href="<%=mybusiness.Url%>" target="_blank"><small><%=mybusiness.Url%></small></a>
	<%else%>
		<a href="http://<%=mybusiness.Url%>" target="_blank"><small><%=mybusiness.Url%></small></a>
	<%end%></p>
	
	<p><strong><%=I18n.translate('txt.show.aboutus')%>:</strong><br>
	<small><%=mybusiness.Detail%></small></p>
	
	<!--<p><strong><%=I18n.translate('txt.show.services')%>:</strong><br>
	<small><%=mybusiness.Services%></small></p>-->

	<p><strong><%=I18n.translate('txt.show.years-in-business')%>:</strong><br>
	<small><%=mybusiness.Years%></small></p>

</div>


<div style="float:right;width:310px;">
	
	
	
	
	
	
	<!--=====================================================  Contact form    =============================================================-->
	<div id="askseller" style="display:inline">
	<h3><%=I18n.translate('txt.show.contact-the-owner')%></h3>
	<div class="contact_business">
	<p>
	<%
		begin

            companies = Companies.find(:all,:conditions=>"id_user = '#{@listing.id_user}'",:order=>"id asc")
			
            if companies.length > 0
					x = 1
              for comp in companies
						
                #if comp.Head.to_s != "0"
					if x == 1
						if comp.Skype!="" and comp.Skype!=nil 
						%>
						<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
						<a href="skype:<%=comp.Skype%>?chat"><img src="http://download.skype.com/share/skypebuttons/buttons/chat_green_transparent_97x23.png" style="border: none;" width="97" height="23" alt="Chat with me" /></a>
						<br>
					<%
						end
					else
						if comp.phone!="" and comp.phone!=nil 
						%>
						<strong>Phone:</strong> <%=comp.phone%>
						
						<%
						end
						break
					end
					x = x + 1
					
					
					
                #end
              end
            end
	     rescue
	     end   # end begin  
	%>
		</p>

	
	<!--<p>Like this property? Contact the owner!</p>-->
	<div id="show"> </div>
	<div id="sendmessageform">
	<%if session[:user_id]%><!-- BUSINESS FORM -->
	
	<%@user = User.find(session[:user_id])%>
	
	<%= form_remote_tag(:update => "show",
						:loading =>"document.getElementById('indicator_form').style.display='block';",								
						:complete =>"javascript: document.getElementById('indicator_form').style.display='none';  document.getElementById('sendmessageform').style.display='none'; if(document.getElementById('show').innerHTML.search(/try/i) < 0){document.getElementById('lead-shadow').style.display='block'; document.getElementById('lead-searchform').style.display='block';}",
						:url => { :controller=>'products',:action => :mail2user },
						:html => { :id =>"myform"}
						) %>				
	<table class="table3px">
		<%= hidden_field 'mail', 'Address' ,:value=>"" %>
		<%= hidden_field 'mail', 'Suburb' ,:value=>"#{@user.Suburb}"%>
		<%= hidden_field 'mail', 'MobilePhone' ,:value=>"#{@user.Phone}" %>


		<tr>
			<td><%=I18n.translate('txt.show.name')%>: </td>
			<td><%= text_field 'mail', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %></td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.show.email')%>: </td>
			<td><%= text_field 'mail', 'Email' ,:value=>"#{@user.Email}"%></td>
		</tr>
		<tr>
			<td valign="top"><%=I18n.translate('txt.show.message')%>: </td>
			<td><%= text_area 'mail', 'Message', :rows=>'5', :size=>'40', :class=> 'listingtextbox' %></td>
		</tr>
			<tr>
				<td colspan="2" align="left">
					<input type="checkbox" name="mail[newsletter]" id="mail_newsletter" value="1" style="width:20px;"/><label for="mail_newsletter">Subscribe to Newsletter</label>
				</td>
			</tr>
		<!--<tr>
			<td colspan=2>
				Request a viewing (optional)<br /> 
				<label style="padding-right:10px;">DATE:</label><input type="text" name="mail[ViewDate]" id="mail_ViewDate" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');" style="width:80px" /><img src="/icon-calendar.gif" style="padding-left:10px;" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');"/>
				
				--><!-- the calendar will be inserted here 
				            <span id="display" style="float: right; clear: both;"></span>
				            <span id="preview" style="font-size: 80%; text-align: center; padding: 2px">&nbsp;</span>
				<br>
			</td>
		</tr>-->


	<%= hidden_field_tag :id  ,@listing.id%>
	<%= hidden_field 'mail', 'lat',:value=>@listing.lat%>
	<%= hidden_field 'mail', 'lng',:value=>@listing.lng%>
	<%= hidden_field 'mail', 'id_product',:value=>@listing.id%>
	<%= hidden_field 'mail', 'id_agent',:value=>@listing.id_user%>
	
<%
owner = ""
begin
owner = User.find(@listing.id_user)
rescue
end
if owner != ""
%>
	<%= hidden_field 'mail', 'toEmail',:value=>owner.Email%>
<%end%>
	<%= hidden_field 'mail', 'id_user',:value=>session[:user_id]%>
	<%= hidden_field 'mail', 'customer',:value=>session[:user_id]%>
	<%= hidden_field 'mail', 'master',:value=>"0"%>
	<%= hidden_field 'mail', 'custflag',:value=>"0"%>
	
		<tr>
			<td></td>
			<td><div id="bottom22" style="display:block;"><input name="commit" type="image" src="/images/send-messageb1.png" onclick="return checkremessageform()" /></div></td>
		</tr>
	</table>
	</form>
	
	<div style="clear:both;"></div>
	<%else%>
		<!---<span style="color:green">You need to login first.</p><p>If you don't have an account, you can register quickly and easily for free.</span>
		-->
		<%= form_remote_tag(:update => "show",
						:loading =>"show_1_element('indicator_form')",								
						:complete =>"javascript: document.getElementById('indicator_form').style.display='none';  document.getElementById('sendmessageform').style.display='none'; if(document.getElementById('show').innerHTML.search(/try/i) < 0){document.getElementById('lead-shadow').style.display='block'; document.getElementById('lead-searchform').style.display='block';}",
						:url => { :controller=>'products',:action => :offline_mail2user },
						:html => {  :name =>"myform",:id =>"myform"}
						) %>
		<!--<form id="myform" name="myform" action="/products/mail2user">
		-->
	<%= hidden_field_tag :id  ,@listing.id%>
	<%= hidden_field 'mail', 'lat',:value=>@listing.lat%>
	<%= hidden_field 'mail', 'lng',:value=>@listing.lng%>
	<%= hidden_field 'mail', 'id_product',:value=>@listing.id%>
	<%= hidden_field 'mail', 'id_agent',:value=>@listing.id_user%>
	
	
<%
owner = ""
begin
owner = User.find(@listing.id_user)
rescue
end
if owner != ""
%>
	<%= hidden_field 'mail', 'toEmail',:value=>owner.Email%>
<%end%>
	
	
	<%= hidden_field 'mail', 'master',:value=>"0"%>
	<%= hidden_field 'mail', 'custflag',:value=>"0"%>
	
	
	
		<div id="myform1">
		<table class="table3px">
			<tr>
				<td><%=I18n.translate('txt.show.name')%>: </td>
				<td><input type="text" name="user[FirstName]" id="user_FirstName" size="12"/></td>
			</tr>
			<tr>
				<td><%=I18n.translate('txt.show.email')%>: </td>
				<td>
					<input type="text" name="user[Email]" id="user_Email" size="30" onkeydown="if(event.keyCode == 13){ return false;}"/><span name="processing" id="processing"></span>
					<div id="validateemail"><input type="hidden" name="check_contact_email" id="check_contact_email" value="0"/></div>
					 <%= observe_field(:user_Email,
	                        		:on => :blur,
									:method => :get,
	                        		:update => :validateemail,
	                        		:url => { :controller=>'products',:action => 'validateemail2'},
									:with => "'email='+escape($('user_Email').value) ") %>
									
				</td>
			</tr>
			<tr>
				<td valign=top><%=I18n.translate('txt.show.message')%>: </td>
				<td><textarea name='mail[Message]' id="mail_Message" rows='5' cols='30' class='listingtextbox'></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="left">
					<input type="checkbox" name="mail[newsletter]" id="mail_newsletter" value="1" style="width:20px;"/><label for="mail_newsletter">Subscribe to Newsletter</label>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div id="bottom1" style="display:block;"><input type="image" name="submit" id="submit11" src="/images/send-messageb1.png" onclick="return chkcontactform('0');"/></div>
					
				</td>
			</tr>
		</table>
		</div>
		<div id="myform2" style="display:none;">
			<table>
				<tr>
					<td><%=I18n.translate('txt.show.email')%>: </td>
					<td>
						<input type="text" name="user2[Email2]" id="user_Email2" size="30"/>
					</td>
				</tr>	
				<tr>
					<td><%=I18n.translate('txt.show.password')%>: </td>
					<td>
						<input type="password" name="user2[password]" id="user_password" size="30"/>
					</td>
				</tr>	
				<tr>
					<td><a href="#" onclick="goback();"> << back </a></td>
					<td>
						<br>
						<div id="bottom2" style="display:block;"><input type="image" name="submit3" id="submit13"  src="/images/send-messageb1.png" onclick="return chkcontactform('2');"/></div>
					</td>
				</tr>
			</table>
		</div>
					
					<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
		
		</form>
	<%end%>
	</div>
	
	
	</div>
	
	
	<!--=====================================================  End Contact form =============================================================-->
	
	</div>
	
	
	
	
	
	
	
	
	
	
	
	

	
</div>

<%else%>

<!-- BOTTOM CONTACT FORM -->





<!-- // END BOTTOM CONTACT FORM -->

<%end%>

</div>





</div>





	<!-- RIGHT -->
	<div class="right">









<div class="contactform">



<input type="hidden" name="tempshow" id="tempshow" value="contact_listing" />

<!--=====================  CONTACT LISTING FORM START  ==========================================-->
<h3><%=I18n.translate('txt.show.contact-the-owner')%></h3>

	<div class="contact_listing">
	
	<!--=====================================================  CONTACT FORM  =============================================================-->
	<div id="askseller" style="display:inline">
		

		<p>
	<%
		begin
            companies = Companies.find(:all,:conditions=>"id_user = '#{@listing.id_user}'",:order=>"id asc")
            if companies.length > 0
					x = 1
              for comp in companies
                #if comp.Head.to_s != "0"
					if x == 1
						if comp.Skype!="" and comp.Skype!=nil 
						%>
						<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
						<a href="skype:<%=comp.Skype%>?chat"><img src="http://download.skype.com/share/skypebuttons/buttons/chat_green_transparent_97x23.png" style="border: none;" width="97" height="23" alt="Chat with me" /></a>
						<br>
					<%
						end
					else
						if comp.phone!="" and comp.phone!=nil 
						%>
						<strong>Phone:</strong> <%=comp.phone%>
						
						<%
						end
						break
					end
					x = x + 1
                #end
              end
				else
					luser = User.find(@listing.id_user)
					if luser.Phone !=nil and luser.Phone != ""
					%><strong>Phone:</strong> <%=luser.Phone%><%
					end
            end
	     rescue
	     end   # end begin  
	%>
		</p>


<!-- LOGGED IN FORM -->

	<div id="show2"> </div>
	<div id="sendmessageform2">
	<%if session[:user_id]%>
	
	<%@user = User.find(session[:user_id])%>
	
	<%= form_remote_tag(:update => "show2",
						:loading =>"document.getElementById('indicator_form2').style.display='block';",								
						:complete =>"javascript: document.getElementById('indicator_form2').style.display='none';  document.getElementById('sendmessageform2').style.display='none'; if(document.getElementById('show2').innerHTML.search(/try/i) < 0){document.getElementById('lead-shadow').style.display='block'; document.getElementById('lead-searchform').style.display='block';}",
						:url => { :controller=>'products',:action => :mail2user },
						:html => { :id =>"myform"}
						) %>				
	<table class="table3px">
		<%= hidden_field 'mail2', 'Address' ,:value=>"" %>
		<%= hidden_field 'mail2', 'Suburb' ,:value=>"#{@user.Suburb}"%>
		<%= hidden_field 'mail2', 'MobilePhone' ,:value=>"#{@user.Phone}" %>
		
		<tr>
			<td><%=I18n.translate('txt.show.name')%>: </td>
			<td><%= text_field 'mail2', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %></td>
		</tr>
		<tr>
			<td><%=I18n.translate('txt.show.email')%>: </td>
			<td><%= text_field 'mail2', 'Email' ,:value=>"#{@user.Email}"%></td>
		</tr>
		
		<tr>
			<td valign="top" style="padding-right:10px;"><%=I18n.translate('txt.show.message')%>: </td>
			<td><%= text_area 'mail2', 'Message', :rows=>'5', :size=>'40', :class=> 'listingtextbox' %></td>
		</tr>
			<tr>
				<td colspan="2" align="left">
					<input type="checkbox" name="mail2[newsletter]" id="mail2_newsletter" value="1" style="width:20px;"/><label for="mail2_newsletter">Subscribe to Newsletter</label>
				</td>
			</tr>
		<!--<tr>
			<td colspan=2>
				Request a viewing (optional)<br /> 
				<label style="padding-right:10px;">DATE:</label><input type="text" name="mail[ViewDate]" id="mail_ViewDate" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');" style="width:80px" /><img src="/icon-calendar.gif" style="padding-left:10px;" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');"/>
				
				--><!-- the calendar will be inserted here 
				            <span id="display" style="float: right; clear: both;"></span>
				            <span id="preview" style="font-size: 80%; text-align: center; padding: 2px">&nbsp;</span>
				<br>
			</td>
		</tr>-->
	

	<%= hidden_field_tag :id  ,@listing.id%>
	<%= hidden_field 'mail2', 'lat',:value=>@listing.lat%>
	<%= hidden_field 'mail2', 'lng',:value=>@listing.lng%>
	<%= hidden_field 'mail2', 'id_product',:value=>@listing.id%>
	<%= hidden_field 'mail2', 'id_agent',:value=>@listing.id_user%>
	
<%
owner = ""
begin
owner = User.find(@listing.id_user)
rescue
end
if owner != ""
%>
	<%= hidden_field 'mail2', 'toEmail',:value=>owner.Email%>
<%end%>
	<%= hidden_field 'mail2', 'id_user',:value=>session[:user_id]%>
	<%= hidden_field 'mail2', 'customer',:value=>session[:user_id]%>
	<%= hidden_field 'mail2', 'master',:value=>"0"%>
	<%= hidden_field 'mail2', 'custflag',:value=>"0"%>
	
			<tr>
				<td></td>
				<td><div id="bottom11" style="display:block;"><input name="commit" style="width:128px;height:46px" type="image" src="/images/send-message.png" onclick="return checkremessageform2()" /></div></td>
			</tr>		
		</table>
		<img src="/images/loading.gif" id ='indicator_form2' style ='display:none'/>

	</form>
	<div style="clear:both;"></div>
	
	<%else%>
		<!---<span style="color:green">You need to login first.</p><p>If you don't have an account, you can register quickly and easily for free.</span>
		-->
		<%= form_remote_tag(:update => "show2",
						:loading =>"show_1_element('indicator_form2')",								
						:complete =>"javascript: document.getElementById('indicator_form2').style.display='none';  document.getElementById('sendmessageform2').style.display='none'; if(document.getElementById('show2').innerHTML.search(/try/i) < 0){document.getElementById('lead-shadow').style.display='block'; document.getElementById('lead-searchform').style.display='block';}",
						:url => { :controller=>'products',:action => :offline_mail2user2 },
						:html => {  :name =>"myform",:id =>"myform"}
						) %>
		<!--<form id="myform" name="myform" action="/products/mail2user">
		-->
	<%= hidden_field_tag :id  ,@listing.id%>
	<%= hidden_field 'mail2', 'lat',:value=>@listing.lat%>
	<%= hidden_field 'mail2', 'lng',:value=>@listing.lng%>
	<%= hidden_field 'mail2', 'id_product',:value=>@listing.id%>
	<%= hidden_field 'mail2', 'id_agent',:value=>@listing.id_user%>
	
	
	<%
	owner = ""
	begin
	owner = User.find(@listing.id_user)
	rescue
	end
	if owner != ""
	%>
		<%= hidden_field 'mail2', 'toEmail',:value=>owner.Email%>
	<%end%>
		
		
		<%= hidden_field 'mail2', 'master',:value=>"0"%>
		<%= hidden_field 'mail2', 'custflag',:value=>"0"%>
	
	
	
		<div id="myform11">
			
		<!-- NOT LOGGED IN -->
		
		<table class="table3px" border="0">
			<tr>
				<td><%=I18n.translate('txt.show.name')%>: </td>
				<td><input type="text" name="user[FirstName]" id="user_FirstName2" size="12" onkeydown="if(event.keyCode == 13){ return false;}"/></td>
			</tr>
			<tr>
				<td><%=I18n.translate('txt.show.email')%>: </td>
				<td>
					<input type="text" name="user[Email]" id="user_Email_chk" size="30"  onkeydown="if(event.keyCode == 13){ return false;}"/><span name="processing2" id="processing2"></span>
					<div id="validateemail2"><input type="hidden" name="check_contact_email" id="check_contact_email2" value="0"/></div>
					 <%= observe_field(:user_Email_chk,
	                        		:on => :blur,
									:method => :get,
	                        		:update => :validateemail2,
	                        		:url => { :controller=>'products',:action => 'validateemail3'},
									:with => "'email='+escape($('user_Email_chk').value) ") %>
									
				</td>
			</tr>
			
			
			<tr>
				<td valign=top><%=I18n.translate('txt.show.message')%>: </td>
				<td><textarea name='mail2[Message]' id="mail2_Message" rows='5' cols='30' class='listingtextbox' ></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="left">
					<input type="checkbox" name="mail2[newsletter]" id="mail2_newsletter" value="1" style="width:20px;"/><label for="mail2_newsletter">Subscribe to Newsletter</label>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div id="bottom11" style="display:block;"><input type="image" name="submit" id="submit1" style="width:128px;height:46px" src="/images/send-message.png" onclick="return chkcontactform2('0');" /></div>
				
				</td>
			</tr>
		</table>
		</div>
		<div id="myform22" style="display:none;">
			<table>
				<tr>
					<td><%=I18n.translate('txt.show.email')%>: </td>
					<td>
						<input type="text" name="user2[Email2]" id="user_Email22" size="30" onkeydown="if(event.keyCode == 13){ return false;}"/>
					</td>
				</tr>	
				<tr>
					<td><%=I18n.translate('txt.show.password')%>: </td>
					<td>
						<input type="password" name="user2[password]" id="user_password" size="30" onkeydown="if(event.keyCode == 13){ return false;}"/>
					</td>
				</tr>	
				<tr>
					<td><a href="#" onclick="goback2();"> << back </a></td>
					<td>
						<br>
						<div id="bottom22" style="display:block;"><input type="image" name="submit3" id="submit3" src="/images/send-message.png" style="width:128px;height:46px" onclick="return chkcontactform2('2');"/></div>
					</td>
				</tr>
			</table>
		</div>
					
					<img src="/images/loading.gif" id ='indicator_form2' style ='display:none'/>
		
		</form>
	<%end%>
	</div>
	
	
	</div>
	<!--=====================================================  End Contact form =============================================================-->
	
	</div>
	<br>
<!--===================== End Contact to Listing ==========================================-->



</div>




<br>


<div align="center">
	<%if params[:partner] == "aacondo" %>
	

	<%else%>

	<!-- ========================  Advertising space  ====================================================-->
	<div style="margin-top:0px;">
		<%
		if session[:location].to_s !=""
			avertiselocation = @listing.City
		else
			avertiselocation = "Pattaya"
		end
			advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='showpage'",:order=>"RAND()",:limit=>1)
			if advertises.length > 0
				for adv in advertises
					%><%=adv.ScriptText%><%
					break
				end
			else
				advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='showpage'",:order=>"RAND()",:limit=>1)
				if advertise2s.length > 0
					for adv in advertise2s
						%><%=adv.ScriptText%><%
						break
					end
				end
			end
		%>
	</div>
	<!-- ======================= End Advertising space ====================================================-->

<%end%>
</div>

<br>


<iframe src="http://www.facebook.com/plugins/likebox.php?id=108530485850909&amp;width=310&amp;connections=10&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:287px;" allowTransparency="true"></iframe>



		<!--============ 5 Related listings  ==============================================================-->
			
			<br><br>
			<div style="width:310px;">
			<h3><%=I18n.translate('txt.show.related-listings')%></h3>

				<%
						sql=""
						if @listing.lat != 0 and @listing.lng != 0          
				              x1 = @listing.lat.to_f + (5 * 0.009065)
				              x2 = @listing.lat.to_f - (5 * 0.009065)
				              y1 = @listing.lng.to_f + (5 * 0.009065)
				              y2 = @listing.lng.to_f - (5 * 0.009065)
				              sql = sql + " and ((lat between #{x2} and #{x1} )and(lng between #{y2} and #{y1} )) "
			          	end	
						 sql = sql + " and Type = '#{@listing.Type}' and (salerent = '#{@listing.salerent}' or salerent='2') "
									
						relateds = Product.find(:all,:conditions=>"Deleted ='1'  and (Status !='d' or Status is null) and (Bed >= '#{@listing.Bed}' or Bath >= '#{@listing.Bath}') and id !='#{@listing.id}' #{sql}",:order=>"RAND()",:limit=>5)				
						if relateds.length > 0
							for related in relateds
								@relatedimages = Images.find(:all,:conditions=>"id_product = '#{related.id}'")
								myimages = "<img src=\"/images/noimage-90.png\" width=\"90\" height=\"90px\" />"
								for image in @relatedimages
								        strtype = image.photo_file_name
								        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
								      myimages ="<img src=\"#{image.photo.url(:thumb)}\" width=\"90px\" height=\"90px\"  />&nbsp;\n"
										break
								end
							#get parking
						        parking =" "
						        if related.Parking.to_s != '0' and related.Parking.to_s != "" and related.Parking !=nil
						          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{related.Parking}'")
						          if parkings.length > 0
						            for pk in parkings
						             	parking = "#{pk.Name}"
										while parking[" "]				
											parking[" "] ="-"		
										end
										while parking["/"]				
											parking["/"] =""		
										end
											parking = "txt.listingtype.#{parking.downcase}"
											parking = I18n.translate(parking) + "<br>"
						              break
						            end
						          end
						        end
						     #get listing type
						        listingtype =" "
								seo_listingtype=""
						        if related.Type.to_s != '0' and related.Type.to_s != "" and related.Type !=nil
						          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{related.Type}'")
						          if listings.length > 0
						            for lt in listings
						              listingtype = "#{lt.Name}"
									  seo_listingtype =	"#{lt.Name}-"
										while seo_listingtype[" "]
										  seo_listingtype[" "]="-"
										end
										while seo_listingtype["/"]				
											seo_listingtype["/"] =""		
										end
										listingtype = "txt.listingtype.#{seo_listingtype.downcase.chop}"
										listingtype = I18n.translate(listingtype)
							seo_listingtype = listingtype
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end

						              break
						            end
						          end
						        end
								
						        city = ""
								if related.City.to_s !="" and related.City.to_s !="0" and related.City != nil
									city = "#{related.City}"
									city = "txt.province.#{related.City.downcase}"
									while city[" "]				
										city[" "] ="_"		
									end
									link_city = I18n.translate(city)
									city = " <br>"+I18n.translate(city)
								end
								
								link_salerent=""
								salerent = ""
						       if related.salerent.to_s == '1'  # sale        
									link_salerent = "for-Sale-" 
									salerent = I18n.translate("txt.listingtype.sale")
								elsif related.salerent.to_s == '0'  # sale        
									link_salerent="for-Rent-"
									salerent = I18n.translate("txt.listingtype.rent")
								else
									link_salerent="for-Sale-or-Rent-"
									salerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
								end
				%>
				
				
<%

				if related.salerent.to_s =="0"
					search_link="/#{mypartner}/#{link_city}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{salerent}-#{related.RPrice}-#{related.id}"
				else
					search_link="/#{mypartner}/#{link_city}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{salerent}-#{related.Price}-#{related.id}"
				end
				begin
					if related.titlelink.to_s !=""
						search_link = "#{related.titlelink}-#{related.id}"

					end
				rescue
				end
%>
					<div id="relatedlistings">
						<a href="<%=search_link%>">
						<table width="100%">
							<tr>
								<td valign="top" width="100"><%=myimages%></td>
								<td><a href="<%=search_link%>" style="text-decoration:none"><h4 style="margin:0px;">
									<%if related.Price.to_s !="" and related.Price.to_s !="0" and related.Price.to_s !=nil %><%=number_to_currency(related.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><small>&#3647;</small><%end%>
									<%if related.RPrice.to_s !="" and related.RPrice.to_s !="0" and related.RPrice.to_s !=nil %><%=number_to_currency(related.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><small>&#3647;/Month</small><%end%></span></h4>
									<%if related.Type.to_s !="5"%><%if related.Bed.to_s =="0"%><b><%=mystudio%></b><%else%><b><%=related.Bed%></b> <%=bedroom%>, <%end%> <b><%=related.Bath%></b> <%=bathroom%> <br><%end%>
									<%=listingtype%><%=city%><br>
									<%if related.SQM !="" and related.SQM !="0" and related.SQM !=nil%><%=number_to_currency(related.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <%=txtsqm%><%else%><%end%>
								</a></td>
							</tr>
						</table>
						</a>
					</div>
				<%end else%>

				<%end%>
			</div>
		<!--============ End  5 Related listings  =========================================================-->
	</div>
</div>

<br clear="all" /><br clear="all" />

</div>
<div id="shadow2" style="display:none;position:fixed; left:0%;top:0%;width:100%;height:100%;z-index:99;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow2').style.display='none'; document.getElementById('sqmconvert').style.display='none'; document.getElementById('currencyconvert').style.display='none';  document.getElementById('rcurrencyconvert').style.display='none'; "></div>


<%#-------------------------------- LISTING CONNECT SEARCH ---------------------------------------------------------- %>




<div id="lead-shadow" style="position:fixed;z-index:99; display:none; top:0px; left:0px; width:100%;height:100%; background-color:#333; opacity:0.5; filter:alpha(opacity=50); "></div>
<div id="lead-searchform" style="position:fixed; z-index:100; display:none; width:900px; top:0%; left:15%; border:3px solid #CCC; background-color:#FFF;">

<h2 style="padding:5px;background-color:#910000;color:#fff;font-weight:strong">Your message has been sent. Use the forms below to get more results</h2>
<table width="100%">
	<tr>
		<td valign="top" style="border-right:1px dashed #CCC">	

			<div style="margin:0px 5px 5px 10px;width:350px;">	
			<h2 style="color:#4f6402;">Agency Search Request</h2>
			<p>Send what you're looking for to our network of Real Estate Agents and they will find the listings for you.</p>	
					
		<%= form_remote_tag(:update => "leadmessage",
								:loading  =>"javascript: document.getElementById('processing22').style.display='inline';",
								:complete =>"javascript: document.getElementById('processing22').style.display='none';",
								:url => { :controller=>'controlpanel',:action => 'saveleadconnect',:partner=>mypartner}) %>


		
<input type="hidden" name="render" id="render"/>


<table class="table3px">
	<tr>
		<td><strong><%=I18n.translate('txt.listingtype.i-want-to')%>:</strong></td>
		<td><select name="lead[salerent]" id="lead[salerent]">
			<option value="2" <%if @listing.salerent.to_s =="2"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy-rent')%>&nbsp;&nbsp;</option>
			<option value="1" <%if @listing.salerent.to_s =="1"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy')%>&nbsp;&nbsp;</option>
			<option value="0" <%if @listing.salerent.to_s =="0"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.rent')%>&nbsp;&nbsp;</option>
       </select></td>
	</tr>
	<tr>
		<td><%=I18n.translate('txt.listingtype.propertytype')%>:</td>
		<td><select name="lead[ltype]" id="lead_ltype">
    <%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
	<option value="0" selected="selected"><%=I18n.translate('txt.listingtype.listingtype')%></option>
    <%for lt in listingtypes%>
			<%
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
			%>
        <option value="<%=lt.Value%>" <%if @listing.Type.to_s == lt.Value.to_s %> selected="selected" <%end%>><%=showlistingtype%></option>
    <%end%>
    </select></td>
	</tr>
	<tr>
		<td><%=I18n.translate('txt.listingtype.city')%>:</td>
		<td><input id="lead_city" name="lead[city]" size="15" type="text" value='<% if @listing.City != ""%><%=@listing.City%><%else%>Pattaya<%end%>'  style="width:150px;" /><div class="auto_complete" id="city_detail"></div><script type="text/javascript">
        //<![CDATA[
        var lession_comment1_auto_completer = new Ajax.Autocompleter('lead_city', 'city_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('lead_city').value) }, method:'get', paramName:'code'})
        //]]>
        </script> 
    	
					 <%= observe_field(:lead_city,
                    		:on => :change,
							:method => :get,
                    		:update => :showagency,
                    		:url => { :controller=>'listings',:action => 'genagencies'},
							:with => "'province='+escape($('code').value) ") %></td>
	</tr>
	<tr>
		<td><%=I18n.translate('txt.listingtype.price')%> </td>
		<td><%
	leadprice = number_to_currency(@listing.Price,:unit=>'',:precision=>0)
	rlprice = @listing.Price
	if @listing.salerent.to_s == "0"
		leadprice = number_to_currency(@listing.RPrice,:unit=>'',:precision=>0)
		rlprice = @listing.RPrice
	end	
	%>
		<input type="text" name="ttfprice" id="ttfprice" value="<%=leadprice%>"  onkeyup="this.value=formatCurrency(this.value,'lead_sprice'); " style="width:70px;" />
 	<span><%=I18n.translate('txt.listingtype.to')%>:</span>
    	<input type="text" name="tttprice" id="tttprice" value=""  onkeyup="this.value=formatCurrency(this.value,'lead_fprice'); " style="width:70px;" />
    </p>
    <input type="hidden" name="lead[sprice]" id="lead_sprice" value="<%=rlprice%>" />
    <input type="hidden" name="lead[fprice]" id="lead_fprice" /></td>
	</tr>
	<tr>
		<td><%=bedroom%>:</td>
		<td>
	<select name="lead[sbed]" id="lead_sbed" style="width:75px;">
            <option value="">Any</option>
            <option value="0" <%if @listing.Bed.to_s == "0"%> selected="selected" <%end%>><%=mystudio%></option>
            <option value="1" <%if @listing.Bed.to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if @listing.Bed.to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if @listing.Bed.to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if @listing.Bed.to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if @listing.Bed.to_s == "5"%> selected="selected" <%end%>>5</option>
            <option value="6" <%if @listing.Bed.to_s == "6"%> selected="selected" <%end%>>6+</option>
    </select>
     <span><%=I18n.translate('txt.listingtype.to')%>:</span>
    <select name="lead[fbed]" id="lead_fbed" style="width:75px;">
            <option value="">Any</option>
            <option value="0" <%if @listing.Bed.to_s == "0"%> selected="selected" <%end%>><%=mystudio%></option>
            <option value="1" <%if @listing.Bed.to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if @listing.Bed.to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if @listing.Bed.to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if @listing.Bed.to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if @listing.Bed.to_s == "5"%> selected="selected" <%end%>>5</option>
            <option value="6" <%if @listing.Bed.to_s == "6"%> selected="selected" <%end%>>6+</option>
     </select>	</td>
	</tr>
	<tr>
		<td><%=bathroom%>:</td>
		<td><select name="lead[bath]" id="lead_bath">
            <option value="">Any</option>
            <option value="1" <%if @listing.Bath.to_s == "1"%> selected="selected" <%end%>>1</option>
            <option value="2" <%if @listing.Bath.to_s == "2"%> selected="selected" <%end%>>2</option>
            <option value="3" <%if @listing.Bath.to_s == "3"%> selected="selected" <%end%>>3</option>
            <option value="4" <%if @listing.Bath.to_s == "4"%> selected="selected" <%end%>>4</option>
            <option value="5" <%if @listing.Bath.to_s == "5"%> selected="selected" <%end%>>5+</option>
        </select></td>
	</tr>
</table>


<table class="table3px">
	<tr>
		<td>Name:</td>
		<td>
			<input type="text" name="lead[name]" id="lead_name" value="" size="35"/>
			<input type="hidden" name="lastname" id="lead_lastname" value=""/>
		</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type="text" name="lead[email]" id="lead_email" value="" size="35" /></td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td><input type="text" name="lead[phone]" id="lead_phone" value="" size="35" /></td>
	</tr>
	<tr>
		<td valign="top">Message:</td>
		<td><textarea name="lead[messages]" id="lead_messages" rows="4" cols="35" ></textarea></td>
	</tr>
	<tr>
		<td colspan="2">
			
								
								<div id="showcaptcha" style="display:inline;">
								<!--<small> Try Key and then Enter!</small>-->
										<div id="verify"></div>
										<div></div>
										<script type="text/javascript">
										  var RecaptchaOptions = {
										     
										     theme: "red",
										     lang: "en"
										  };
										  </script>
										<script type="text/javascript" src="//www.google.com/recaptcha/api/challenge?k=<%=ENV['RECAPTCHA_PUBLIC_KEY']%>"></script>
										<noscript><iframe src="//www.google.com/recaptcha/api/noscript?k=<%=ENV['RECAPTCHA_PUBLIC_KEY']%>" height="200" width="300" frameborder="0"></iframe><br>
										<textarea name="recaptcha_challenge_field" rows="3" cols="40">
										     </textarea>
										<input type="hidden" name="recaptcha_response_field" value="manual_challenge"></noscript>
										
										<table cellspacing="0" cellpadding="4" border="0" style="font-family: Helvetica, sans-serif; color: #000000; font-size: 12px;">
											<tr>
												<td>
													<div>
													</div>
												</td>
												<td>
												</td>
											</tr>
										</table>
									<!--</form> -->

								</div>
		</td>
	</tr>
</table>
    
    
	<div id="leadmessage"></div>
    <input type="image" href="#" style="width:128;height:46px;cursor:pointer;" name="image" src="/images/button-sendtoagents.png" onclick="return validateagentrequest();" />
    <img src="/images/loadingb.gif" id="processing22" style="display:none;"/>
    <br />

    <div style="clear:both;"></div>
    </div>		
    </form>


	
	




		<!--============ 5 Related listings  ==============================================================-->
			
					</td>
					<td valign="top">
			<div style="width:500px;margin-left:20px;">
<div style="float:right;padding:5px;"> <u><a href="#" style="color:red;" onclick="document.getElementById('lead-shadow').style.display='none'; document.getElementById('lead-searchform').style.display='none';">Close</a></u></div>
			<h2 style="color:#2e5360">More listings you might like</h2>
			<p>To also request more information about these listings below simply select the listings and click 'Request More Info' at the bottom.</p>
			<%= form_remote_tag(:update => "moremessages",
								:loading  =>"javascript: document.getElementById('mm_sendemail').style.display='inline';",
								:complete =>"javascript: document.getElementById('mm_sendemail').style.display='none';",
								:url => { :controller=>'listings',:action => 'sendmultimessages',:partner=>params[:partner]}) %>
			<input type="hidden" name="sendmessage_id" id="sendmessage_id" value=":" />
			<%
			mm_price = ""
			begin
				if @listing.Price.to_i > 0
					mm_price = " and Price <= '#{@listing.Price * 1.2}' "
				elsif @listing.RPrice.to_i > 0 	
					mm_price = " and RPrice <= '#{@listing.RPrice * 1.2}' "
				end
				mm_price = mm_price + " and Type = '#{@listing.Type}' and (salerent = '#{@listing.salerent}' or salerent='2') "
			rescue
				mm_price = ""
			end
			relateds = Product.find(:all,:conditions=>"Deleted ='1'  and (Status !='d' or Status is null) and City= '#{@listing.City}' and Type = '#{@listing.Type}' and salerent = '#{@listing.salerent}' and id !='#{@listing.id}'  #{mm_price}",:order=>"RAND()",:limit=>8)
			if relateds.length > 0
				for mm in relateds
					@relatedimages = Images.find(:all,:conditions=>"id_product = '#{mm.id}'")
					myimages = "<img src=\"/images/noimage-90.png\" width=\"90\" height=\"90px\"  onclick=\"chb_sendmessage('c_#{mm.id}','#{mm.id}');\"/>"
					for image in @relatedimages
					        strtype = image.photo_file_name
					        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
					      myimages ="<img src=\"#{image.photo.url(:thumb)}\" width=\"90px\" height=\"90px\" onerror=\"this.src='/images/noimage-90.png';\"  onclick=\"chb_sendmessage('c_#{mm.id}','#{mm.id}');\" />&nbsp;\n"
							break
					end
				#get parking
			        parking =" "
			        if mm.Parking.to_s != '0' and mm.Parking.to_s != "" and mm.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{mm.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			             	parking = "#{pk.Name}"
							while parking[" "]	
								parking[" "] ="-"
							end
							while parking["/"]
								parking["/"] =""
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking) + "<br>"
			              break
			            end
			          end
			        end
			     #get listing type
			        listingtype =" "
					seo_listingtype=""
			        if mm.Type.to_s != '0' and mm.Type.to_s != "" and mm.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{mm.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						  seo_listingtype =	"#{lt.Name}-"
							while seo_listingtype[" "]
							  seo_listingtype[" "]="-"
							end
							while seo_listingtype["/"]				
								seo_listingtype["/"] =""		
							end
							listingtype = "txt.listingtype.#{seo_listingtype.downcase.chop}"
							listingtype = I18n.translate(listingtype)
				seo_listingtype = listingtype
			while seo_listingtype["/"]				
				seo_listingtype["/"] =""		
			end
			while seo_listingtype[" "]				
				seo_listingtype[" "] ="-"
			end

			              break
			            end
			          end
			        end
					
			        city = ""
					if mm.City.to_s !="" and mm.City.to_s !="0" and mm.City != nil
						city = "#{mm.City}"
						city = "txt.province.#{mm.City.downcase}"
						while city[" "]				
							city[" "] ="_"		
						end
						link_city = I18n.translate(city)
						city = " <br>"+I18n.translate(city)
					end
					
					link_salerent=""
					salerent = ""
			       if mm.salerent.to_s == '1'  # sale        
						link_salerent = "for-Sale-" 
						salerent = I18n.translate("txt.listingtype.sale")
					elsif mm.salerent.to_s == '0'  # sale        
						link_salerent="for-Rent-"
						salerent = I18n.translate("txt.listingtype.rent")
					else
						link_salerent="for-Sale-or-Rent-"
						salerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
					end
				%>
				
<%

				if mm.salerent.to_s =="0"
					search_link="/#{mypartner}/#{link_city}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{salerent}-#{mm.RPrice}-#{mm.id}"
				else
					search_link="/#{mypartner}/#{link_city}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{salerent}-#{mm.Price}-#{mm.id}"
				end
				begin
					if mm.titlelink.to_s !=""
						search_link = "#{mm.titlelink}-#{mm.id}"

					end
				rescue
				end
%>
					<div style="width:250px;float:left;" id="relatedlistings">
						
						<table width="250">
							<tr>
								<td valign="top" width="5" valign="bottom">
									<input type="checkbox" name="c_<%=mm.id%>" id="c_<%=mm.id%>" onclick="chb_sendmessage('c_<%=mm.id%>','<%=mm.id%>');"/>
								</td>
								<td valign="top" width="115" valign="bottom">
									<%=myimages%>
								</td>
								<td><a href='<%=search_link%>' style="text-decoration:none"><h4 style="margin:0px;">
									<%if mm.Price.to_s !="" and mm.Price.to_s !="0" and mm.Price.to_s !=nil and (@listing.salerent.to_s =="1" or @listing.salerent.to_s =="2" )  %><%=number_to_currency(mm.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><small>&#3647;</small><%end%>
									<%if mm.RPrice.to_s !="" and mm.RPrice.to_s !="0" and mm.RPrice.to_s !=nil and @listing.salerent.to_s =="0"  %><%=number_to_currency(mm.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><small>&#3647;/Month</small><%end%></h4>
									<%if mm.Type.to_s !="5"%><%if mm.Bed.to_s =="0"%><b><%=mystudio%></b><%else%><b><%=mm.Bed%></b> <%=bedroom%>, <%end%> <b><%=mm.Bath%></b> <%=bathroom%> <br><%end%>
									<%=listingtype%><%=city%><br>
								</a></td>
							</tr>
						</table>
					</div>
				<%end else%>

				<%end%>
				<textarea name="sendmail[Message]" id="sendmail_Message" style="display:none;"></textarea>
				<div id="moremessages"></div>
    			<input type="image" href="#" style="width:140px;height:46px;cursor:pointer;" name="image" src="/images/button-requestinfo.png" />				
				
    			<img src="/images/loadingb.gif" id="mm_sendemail" style="display:none;"/>
				</form>	
			</div>
		<!--============ End  5 Related listings  =========================================================-->

		</td>
	</tr>
</table>
</div>
<%#------------------------------------------------------------------------------------------------------------ %>


<%= render(:partial => "index/footer") %>
