<h1>test submit xml</h1>
<form action="/listings/rexml" method="post">
	Full URL:<input type="text" name="url" size="70" value="http://gearbox:3300/testxml.xml"/>
	<span style="color:red;"><small>* http://www.rethai.com/testxml.xml</small></span><br>
	<input type="submit" value="test submit xml"/>
</form>