<!-- OLD CODE
<h1>Manage Credits</h1>
<a href="#">Add Credits</a> | <a href="#">Edit Credits</a>

<br>

				<p><strong>Name:</strong>		<span style="color:green;"><%=@user.FirstName%>  <%=@user.LastName%></span></p>
				<p><strong>UserName:</strong>	<span style="color:green;"><%=@user.UserName%></span></p>
				<p><strong>Email:</strong>		<span style="color:green;"><%=@user.Email%></span></p>
				<p><strong>Credit:</strong>		<span style="color:green;"><%=number_to_currency(Credit.checkcredit("#{@user.id}"))%></span></p>
				<p></p>

				
				
				<form action="/admin/savecredit" method="post" >
					<hr/>
					<strong>Add Credits</strong>
					<p>Credits:<%=text_field 'credit','FullCredit' %></p>
					<%=hidden_field 'credit','Description',:value=>"Edit by Admin "%>
					<%=hidden_field 'credit','id_user',:value=>@user.id%>
					<%=hidden_field_tag 'id_user',@user.id%>
					
					<input type="submit" value="Add Credits" onclick="if(isNaN(document.getElementById('credit_FullCredit').value) || document.getElementById('credit_FullCredit').value==''){alert('Please Enter Credits'); document.getElementById('credit_FullCredit').value='0'; document.getElementById('credit_FullCredit').focus(); return false;}"/>
				</form>
				-->