






<h2>New Leads</h2>
<table border="0" class="table3px">
	<tr>
		<td><b>ID</b></td>
		<td><b>Type</b></td>
		<td><b>For</b></td>
		<td><b>Location</b></td>
		<td><b>Price</b></td>
		<td><b>Bedrooms</b></td>
		<td><b>Bathrooms</b></td>
		<td><b>Date</b></td>
		<td><b>Name</b></td>
		<td><b>Email</b></td>
		<td><b>Phone</b></td>
		<td><b>Message</b></td>
		<td><b>Spam!</b></td>
		<td><b>Delete!</b></td>
	</tr>
	
	<%
	for l in @leads%>
	<tr>
		<td valign="top"><%=l.id%></td>
		<td valign="top">
			<%
		seo_listingtype=" Any "
        if l.ltype.to_s != '0' and l.ltype.to_s != "" and l.ltype !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{l.ltype}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
					seo_listingtype = "#{lt.Name}-"
				while seo_listingtype[" "]
					seo_listingtype[" "]="-"
				end
				while seo_listingtype["/"]				
					seo_listingtype["/"] =""
				end

              break
            end
          end
        end
		%><%=seo_listingtype%>
		</td>
		<td valign="top"><%if l.salerent.to_s =="1"%>Sale<%elsif l.salerent.to_s =="0"%>Rent<%else%>Sale / Rent <%end%></td>
		<td valign="top"><%=l.city%></td>
		<td valign="top"><%= number_to_currency( l.sprice.to_i, :precision => 0, :unit => "")%><%if l.fprice.to_i > 0 %><span style="color:green;">-></span><%= number_to_currency( l.fprice.to_i, :precision => 0, :unit => "")%><%end%></td>
		<td valign="top"><%=l.sbed%><%if l.fbed.to_i > 0 %><span style="color:green;">-></span><%=l.fbed%><%end%></td>
		<td valign="top"><%=l.bath%></td>
		<td valign="top"><%=l.created_at.strftime("%d/%m/%Y")%></td>
		<td valign="top"><%=l.name%></td>
		<td valign="top"><%=l.email%></td>
		<td valign="top"><%=l.phone%></td>
		<td valign="top"><%=l.messages%></td>
		<td valign="top">
					<span style="color:red;" id="spam<%=l.id%>">				
					<%= link_to_remote "spam" ,
	                    	:update => "spam#{l.id}",
							:loading=>"document.getElementById('spam#{l.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'deletelead', :id=> l.id,:leadtype=>'1'  } %>

					</span>
		</td>
		<td valign="top">
					<span style="color:red;" id="delete<%=l.id%>">				
					<%= link_to_remote "Delete" ,
	                    	:update => "delete#{l.id}",
							:loading=>"document.getElementById('delete#{l.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'deletelead', :id=> l.id,:leadtype=>'41'  } %>

					</span>
		</td>
	</tr>
	<%end%>
</table>

<%= will_paginate @leads%>





</div>

