





<h2>New Listings</h2>
<table border="0" class="table3px">
	<tr>
		<td><b>ID</b></td>
		<td><b>Name</b></td>
		<td><b>Email</b></td>
		<td><b>Phone</b></td>
		<td><b>Ref</b></td>
		<td><b>Type</b></td>
		<td><b>For</b></td>
		<td><b>Location</b></td>
		<td><b>Price</b></td>
		<td><b>Rent Price</b></td>
		<td><b>Bedrooms</b></td>
		<td><b>Bathrooms</b></td>
		<td><b>Date</b></td>
		<td><b>Details</b></td>
		<td><b></b></td>
		<td><b></b></td>
	</tr>
	
	<%for l in @leads
	begin
	%>
	<tr>
		<td valign="top"><%=l.id%></td>
		<td valign="top"><%=l.FirstName%>  <%=l.LastName%></td>
		<td valign="top"><%=l.Email%></td>
		<td valign="top"><%=l.Phone%></td>
		<td valign="top"><%=l.Ref%></td>
		<td valign="top">
			<%
		seo_listingtype=" Any "
        if l.Type.to_s != '0' and l.Type.to_s != "" and l.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{l.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
					seo_listingtype = "#{lt.Name}-"
				while seo_listingtype[" "]
					seo_listingtype[" "]="-"
				end
				while seo_listingtype["/"]				
					seo_listingtype["/"] =""
				end

              break
            end
          end
        end
		%><div id="a_type_<%=l.id%>"><%=seo_listingtype%></div>
		</td>
		<td valign="top"><div id="a_salerent_<%=l.id%>"><%if l.salerent.to_s =="1"%>Sale<%elsif l.salerent.to_s =="0"%>Rent<%else%>Sale or Rent <%end%></div></td>
		<td valign="top"><div id="a_location_<%=l.id%>"><%=l.City%></div></td>
		<td align="right" valign="top"><div id="a_price_<%=l.id%>"><%= number_to_currency( l.Price.to_i, :precision => 0, :unit => "")%></div></td>
		<td align="right" valign="top"><div id="a_rprice_<%=l.id%>"><%= number_to_currency( l.RPrice.to_i, :precision => 0, :unit => "")%></div></td>
		<td valign="top"><div id="a_bed_<%=l.id%>"><%=l.Bed.to_i%> - <%=l.Bed.to_i%></div></td>
		<td valign="top"><div id="a_bath_<%=l.id%>"><%=l.Bath.to_i%></div></td>
		<td valign="top"><div id="a_date_<%=l.id%>"><%=(l.p_createdon.to_date).strftime("%d/%m/%Y")%></div></td>
		<td valign="top"><div id="a_details_<%=l.id%>"><%=l.Detail%></div></td>
		<td valign="top">
					<span style="color:red;" id="spam<%=l.id%>">				
					<%= link_to_remote "spam" ,
	                    	:update => "spam#{l.id}",
							:loading=>"document.getElementById('spam#{l.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'deletelead', :id=> l.id,:leadtype=>'3'  } %>

					</span>
		</td>
		<td valign="top">
					<span style="color:red;" id="delete<%=l.id%>">				
					<%= link_to_remote "Delete" ,
	                    	:update => "delete#{l.id}",
							:loading=>"document.getElementById('delete#{l.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'deletelead', :id=> l.id,:leadtype=>'43'  } %>

					</span>
		</td>
	</tr>
	<%
	rescue
	end	
	end
	%>
</table>

<%= will_paginate @leads%>




