
<h1>Listings Form API REThai</h1>

<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>

<table border="0" class="table3px">
	<tr>
		<td width="50px">ID</td>
		<td width="50px">PartnerID</td>
		<td width="50px">ID_user</td>
		<td>Detail</td>
		<td>Create</td>
		<td>Views</td>
		<td width="50px">Status</td>
		<td width="30px">&nbsp;</td>
	</tr>
	<%
		tab = 0
		lastapiID = "0"
	%>
	<%for listing in @listings%>
	<%if tab >= 2%>
		<tr>	
		<%
		if tab > 2
			tab = 0
		else
			tab = tab + 1
		end
		%>	
		
	<%else%>
		<tr>
		<%tab = tab + 1%>
	<%end%>
	
	
		<td>&nbsp;
			<a href="/rethai/<%=listing.id%>" target="_blank"><%=listing.id%></a>
		</td>
		<td>&nbsp;
			<a href="/rethai/<%=listing.id%>" target="_blank"><%=listing.APIListingID%></a>
			<%if lastapiID.to_s == listing.APIListingID.to_s%><span style="color:red;">*</span><%end%>
		</td>
		<td>&nbsp;
			<%=link_to "#{listing.id_user}" ,{:controller=>'admin',:action=>'userlistings',:id=>listing.id_user}%>
		</td>
		<td>&nbsp;
			<%if listing.Deleted == 'p'%>
				<%=listing.Detail.slice(0,200) %>
			<%else%>
				<%=listing.Detail.slice(0,200) %>
			<%end%>
			<%if listing.Detail.length > 200%>...<%end%>
		</td>
		<td><%=listing.created_on.strftime("%d/%m/%Y")%></td>
		<td><%=listing.counter%></td>
		<td>&nbsp;
			<div id="status<%=listing.id%>">
				<%if listing.Deleted =='p'%>
					<span style="color:red;">Pending..</span>
				<%elsif listing.Status =='s'%>	
					<span style="color:red;">Sold</span>
				<%elsif listing.Status =='f'%>	
					<span style="color:red;" id="apilisting<%=listing.id%>">				
					<%= link_to_remote "Offline" ,
	                    	:update => "apilisting#{listing.id}",
							:loading=>"document.getElementById('loading').style.display='inline';",
							:complete=>"document.getElementById('loading').style.display='none';",
							:confirm =>"Are you sure to Online?",
							:url=>{:action => 'onlineapilisting', :id=> listing.id } %> 				

					</span>

							
							
				<%elsif listing.Deleted == '1' and listing.Status !='d' and listing.Status != 'f' and listing.Status != 's'%>	
				
					<span style="color:green;" id="apilisting<%=listing.id%>">				
					<%= link_to_remote "Online" ,
	                    	:update => "apilisting#{listing.id}",
							:loading=>"document.getElementById('loading').style.display='inline';",
							:complete=>"document.getElementById('loading').style.display='none';",
							:confirm =>"Are you sure to Offline?",
							:url=>{:action => 'offlineapilisting', :id=> listing.id } %> 
					</span>		
					<!--<span style="color:green;">Online</span>--> <!--set css color again at /javascripts/admin.js =>line5 [  document.getElementById(statusid).innerHTML="<span style=\"color:green;\">Online</span>";  ]--> 
				<%end%>	
				
								
			</div>	
		</td>
		<td>
			<%#=params[:page] %>
			<a href="/admin/editlisting/<%=listing.id%>">Edit</a>
		</td>
	</tr>
	
	<%
		lastapiID = "#{listing.APIListingID}"
		end
	%>
	
</table>

<%= will_paginate @listings%><br>



<!--for delist listing-->
<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('delist').style.display='none';" ></div>
<div id="delist" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;background-color: #FFFFFF; width:250px; height:200px;"></div>
						



