<h1>BackGround Uploader Control</h1>
<h3 style="color:red;">must turn <b>"Off"</b> before deploy and then turn <b>"On"</b> when finish deploy</h3>
<span style="color:green;">
	<%if flash[:notice]%>
		<%=flash[:notice]%>
	<%end%>
</span>
<%
bcontrol = Backgroundcontrol.find(1)
%>
<form method="post" action="/admin/savecontrol">
	<table>
		<tr>
			<td valign="top">Turn On/Off Background Uploader:</td>
			<td>
				<input type="radio" name="bcontrol" id="bcontrol_1" value="1" <%if bcontrol.run_control.to_s =="1"%> checked="checked" <%end%> /><label for="bcontrol_1">On</label><br>
				<input type="radio" name="bcontrol" id="bcontrol_2" value="0" <%if bcontrol.run_control.to_s =="0"%> checked="checked" <%end%> /><label for="bcontrol_2">Off</label>
				
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type="submit" value="Submit Background Upload setting"/>
			</td>
		</tr>
	</table>
</form>