
<%
mysort = "asc"
if params[:sort].to_s =="asc"
	mysort = "desc"
end
%>
<h1>Manage Companies</h1>

<form id="compsearch">
	<table>
		<tr>
			<td><strong>Name:</strong></td>
			<td><input type="text" name="compname" id="compname" size="30" value="<%=params[:compname]%>"/></td>
		</tr>
		<tr>
			<td><strong>Url:</strong></td>
			<td><input type="text" name="url" id="url" size="30" value="<%=params[:url]%>"/></td>
		</tr>
		<tr>
			<td><strong>Phone:</strong></td>
			<td><input type="text" name="phone" id="phone" size="30" value="<%=params[:phone]%>"/></td>
		</tr>
		<tr>
			<td><strong>Email:</strong></td>
			<td><input type="text" name="email" id="email" size="30" value="<%=params[:email]%>"/></td>
		</tr>
		<tr>
			<td><strong>Location:</strong></td>
			<td><input type="text" name="location" id="location" size="30" value="<%=params[:location]%>"/></td>
		</tr>
		<tr>
			<td colspan="10" align="center">
				<input type="submit" value="    Search    " />
				<input type="reset" value="    Clear    " onclick="resetcompform();" />
			</td>
		</tr>
	</table>
</form><br /><br />
<!--<a href="#" onclick="alert(document.location.href);">show url</a>-->

<%if @companies.length <= 0%>
	<span style="color:red;">No Companies</span>
<%else%>



	<table width="100%">
		<tr>
			<td><strong> <a href="/admin/companies?field=Name&sort=<%=mysort%>">Name</a></strong></td>
			<td><strong> <a href="/admin/companies?field=id_user&sort=<%=mysort%>">userID</a></strong></td>
			<td><strong>Logo</strong></td>
			<td><strong> <a href="/admin/companies?field=Url&sort=<%=mysort%>">URL</a></strong></td>
			<td><strong>Phone</strong></td>
			<td><strong>Email</strong></td>
			<!--
			<td><strong> <a href="/admin/companies?field=phone&sort=<%=mysort%>">Phone</a></strong></td>
			<td><strong> <a href="/admin/companies?field=Email&sort=<%=mysort%>">Email</a></strong></td>
			-->
			<td><strong> <a href="/admin/companies?field=city&sort=<%=mysort%>">Location</a></strong></td>
			<td><strong> <a href="/admin/companies?field=onlinelistings&sort=<%=mysort%>">Listings</a></strong></td>
			<td><strong> <a href="/admin/companies?field=created_on&sort=<%=mysort%>">CreateDate</a></strong></td>
			<td><strong> <a href="/admin/companies?field=updated_on&sort=<%=mysort%>">LastUpdate</a></strong></td>
			<td></td>
		</tr>
	<%
	mypage = 1
	if params[:page]
		mypage = params[:page]
	end
	for c in @companies%>
		<tr>
			<td><%=c.Name%></td>
			<td><%=c.id_user%></td>
			<td>
				<%begin
					if c.logo != nil and c.logo.to_i > 0
						logo = Businesslogo.find(c.logo)
					
				%><img src="<%=logo.public_filename(:small)%>" width="150"/>
				<%
					end
				  rescue
				  end
				%>
				
			</td>
			<td><%=c.Url%></td>
			<td>
				<%
				begin
					comps = Companies.find(:all,:conditions=>"Head ='#{c.id}'")
					comp = ""
					for sc in comps
						comp = sc
						break
					end
					
				rescue
					comp = ""
				%>
				<%end%>
				<%if comp !=""%>
					<%=comp.phone%>
				<%end%>
			</td>
			<td>
				<%if comp !=""%>
					<%=comp.Email%>
				<%end%>
			</td>
			<td><%=c.city%></td>
			<td><%begin%><%=number_to_currency(c.onlinelistings.to_i,:precision=>0,:unit=>"")%><%rescue%>0<%end%></td>
			<td><%begin%><%=c.created_on.strftime("%d/%m/%Y")%><%rescue%><%end%></td>
			<td><%begin%><%=c.updated_on.strftime("%d/%m/%Y")%><%rescue%><%end%></td>
			<td>
				<%=link_to "View&Edit",{:controller=>'admin',:action=>'viewcompany',:id=>c.id}%>
				<%=link_to "Delete" ,{:controller=>'admin',:action=>'deletecompany',:id=>c.id,:page=>mypage},:confirm=>"Are you sure to delete?"%>
			</td>
		</tr>
	<%end%>
	</table>
<%= will_paginate @companies%><br>
<%end%>

