
<script type="text/javascript">
	function mergecondo(id,name,id_condo){
		document.getElementById('mergename').innerHTML=name;
		document.getElementById('mycondo').value=id_condo;
		document.getElementById('mergeshow').style.display='block';
//		document.getElementById(id).style.display='none';
		
	}
</script>

<h1>Condos</h1>

<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>

<script type="text/javascript" src="/javascripts/thickbox/jquery-latest.pack.js"></script>
<script type="text/javascript" src="/javascripts/thickbox/thickbox-compressed.js"></script>
<link rel="stylesheet" href="/javascripts/thickbox/thickbox.css" type="text/css" media="screen" />
<script type="text/javascript">
window.onerror=function(){
// alert('An error has occurred!')
}
</script>


<a href="/admin/addcondos">Add New</a>


<div id="mergeshow" style="display:none;">
<br><h2>Merge Condo</h2>
Need to merge(keep) "<strong><span id="mergename"></span></strong>" with(delete):
	<form action="/admin/mergecondo" method="post">
		<input type="hidden" name="mycondo" id="mycondo" value="0" readonly="readonly"/>
		<select name="mergeID" id="mergeID">
			<option value="0">Please select Condo</option>
			<%
			allcondos = Condo.find(:all,:conditions=>"status = '1'",:order=>"name asc")
			for condo in allcondos	%>
			<option value="<%=condo.id%>"><%=condo.name%></option>
			<%end%>			
		</select>
		<input type="submit" value="Merge Condo" onclick="if(document.getElementById('mycondo').value=='0'){ alert('Please sure your details'); return false;}"/>
	</form><br>
</div>

<div id="mergeshow" style="display:block;">
<br><br><h2>Search Condo</h2>

	<form action="/admin/condos" method="post">
		name:<input type="text" name="name" id="name" size="30" value="<%=@condoname%>"/>
		city:<input type="text" name="city" id="city" size="20" value="<%=@city%>"/>
		<input type="submit" value="Search Condos"/>
	</form><br>
</div>



<div id="allcondo" style="display:none;">
	<select id="all_condo" name="all_condos">
		<%for c in @condos%>
			<option value="<%=c.name%>"><%=c.name%></option>
		<%end%>
	</select>
</div>

<%if @condos.length < 1 %><br><br>
<span style="color:red;">No Condos</span>
<%else%>
<table border="0" class="table3px">
	
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>City</td>
		<td>Image</td>
		<td>Map Location</td>
		<td>Homepage Featured</td>
		<td>Merge</td>
		<td>Delete</td>
	</tr>
<%for c in @condos%>
	<tr>
		<td><%=c.id%></td>
		<td><%=c.name%></td>
		<td><%=c.city%></td>
		<td>
				<a href="/admin/condoimages/<%=c.id%>?&id_image=<%=c.id_image%>&keepThis=true&TB_iframe=true&width=550&height=455" class="thickbox">
								<%if c.id_image.to_i != 0
									images = Images.find(:all,:conditions=>"id = '#{c.id_image}'")
									for img in images								
								%>					<!--http://files.rethai.com-->
										<img src="<%=img.photo.url(:thumb)%>" width="50" height="50" />							
								<%
										break
									end
								  else%>		
								  No-Image
								<%end%>
				</a>				
		</td>
		<td><a href="/admin/condomap/<%=c.id%>?&lat=<%=c.lat%>&lng=<%=c.lng%>&city=<%=c.city%>&keepThis=true&TB_iframe=true&width=490&height=455" class="thickbox">Map</a></td>
		<td>
			<%if c.homepage.to_s == '1'%>
				<%=link_to 'Yes',{:controller=>'admin',:action=>'upgradecondo',:id=>c.id,:homepage=>'0'},:confirm=>"Are you sure to Downgrade '#{c.name}'? "%>
			<%else%>
				<%=link_to 'No',{:controller=>'admin',:action=>'upgradecondo',:id=>c.id,:homepage=>'1'},:confirm=>"Are you sure to Upgrade '#{c.name}' to Homepage Featured? "%>
			<%end%>
		</td>
		<td>
			<a href="#mergeshow" onclick="mergecondo('merge<%=c.id%>','<%=c.name%>','<%=c.id%>');">Merge</a>
		</td>
		<td>
			<%=link_to 'Edit',{:controller=>'admin',:action=>'editcondos',:id=>c.id}%>
			<span id="delete_<%=c.id%>">
						<%= link_to_remote "Delete",
			                                   :update => "delete_#{c.id}",
											   :loading =>" document.getElementById('deleted_#{c.id}').style.display='inline'; document.getElementById('delete_#{c.id}').style.display='none';",
			                                   :url => { :controller => "admin",:action => "deletecondo" ,:id=>c.id} %>
			 </span>	
			 <span id="deleted_<%=c.id%>" style="display:none;">							   
			 <img src='/icon/icon_close.gif'/>Deleted
			 </span>
			<%#link_to 'Delete',{:controller=>'admin',:action=>'deletecondo',:id=>c.id},:confirm=>"Are you sure to Delete '#{c.name}'"%>
		</td>
	</tr>
<%end%>
</table>
<%= will_paginate @condos%>

<%end%>




<div id="addcondos" style="display:none;">
	
</div>