




<html>
	<head>
  
			<script src="/javascripts/listings.js" type="text/javascript"></script>
			<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>		
	</head>
	<%= request.env["HTTP_USER_AGENT"]%>
<%
browser = request.env["HTTP_USER_AGENT"]
if browser["MSIE"] or browser["Firefox"]
	lat = params[:lat].to_f + 0.008
	lng = params[:lng].to_f - 0.01
else
	lat = params[:lat].to_f
	lng = params[:lng].to_f
	
end
%>
	<body  onload="loadmap2('<%=params[:lat]%>','<%=params[:lng]%>','<%=lat%>','<%=lng%>');" onunload="GUnload();">	
	
<script type="text/javascript">
	function setsubmitform(){
		// nothing
		
	}
</script>
					
					<%if flash[:notice]%>
						<div style="color:red;"><%=flash[:notice]%></div>
					<%end%>
<form method="post" enctype="multipart/form-data" action="/admin/updatecondo">
											<input type="hidden" name="id" 			id="id" 			value="<%=params[:id]%>"/>
											<input type="hidden" name="condo[lat]" 	id="product_lat" 	value=""/>
											<input type="hidden" name="condo[lng]" 	id="product_lng" 	value=""/>
											<input type="hidden" name="condo[city]" id="condo_city"		value="<%=params[:city]%>"/>										
										
											<input type="hidden" name="temp_lat1" id="temp_lat1" value=""/>		
											<input type="hidden" name="temp_lat2" id="temp_lat2" value=""/>
											<input type="hidden" name="temp_lng1" id="temp_lng1" value=""/>
											<input type="hidden" name="temp_lng2" id="temp_lng2" value=""/>
											<%=hidden_field_tag 'confirmlocation',"0"%>
	<div><!--</div> style="position:absolute;top:120px; left:550px; width:470px;float:right">-->
		<p id="notice" style="width:470px;"><img src="/images/icons/lightbulb.png" style="margin-right:10px;" /><small>Select your city then drag & drop the marker to set your listing location</small></p>
		<div style="display:block; width:470px;">
			<select name="location" id="location">	
			<option value="Pattaya" selected="selected">Pattaya</option>
			<%
				provinces = Province.find(:all,:order=>"name asc ")
				for p in provinces
			%>	
				<option value="<%=p.name%>" <%if p.name.to_s == params[:city]%> selected="selected" <%end%>><%=p.name%></option>
			<%	end	%>
			</select>
			<a href="#notice" onclick=" document.getElementById('condo_city').value = document.getElementById('location').value; searchlocation();"><strong>Select City</strong></a>
		</div> 




<div id="map" style="width:470px;height:330px; min-height: 330px;margin-top:10px"></div>  


	</div>	
										
										<input value="Submit" type="submit"/>				

						
										</div>
										</td></tr></tbody></table></form>
										
										
										
										
										

					
	
	
	
		</body>
</html>				