<h3>Condo Image</h3>


<form method="post" enctype="multipart/form-data"  action="/admin/changecondoimage" >
	
	<strong>Selete Image:</strong><input type="file" name="condofile" id="condofile" value=""/><input type="submit" name="commit" id="commit" value="Upload"/><br>
	<input type="hidden" name="condo[id_image]" id="condo_id_image" value="<%=params[:id_image]%>"/>
	<input type="hidden" name="id" id="id" value="<%=params[:id]%>"/>
	<br>
	
	<%
	images = Images.find(:all,:conditions=>"id_condo = '#{params[:id]}'")
	i  = 0
	%>
	<%if images.length > 0%><span style="color:green;"> Or Selet image form list </span><%end%>
	<table>
		<tr>
			<%
			for img in images
				strtype = img.photo_file_name
				strtype = strtype.slice(strtype.index(".").to_i + 1,strtype.length)									
			%>					<!--http://files.rethai.com-->										
			<td>
				<img src="<%=img.photo.url(:thumb)%>" width="50" height="50" />	<br>
				<input type="checkbox" name="img[<%=img.id%>]" value="<%=img.id%>" id="img_<%=img.id%>"  onclick="document.getElementById('condo_id_image').value='<%=img.id%>';"/>
			</td>
			<%	
				i = i + 1
				if i == 10
					i = 0
			%>
					<td><input type="submit" name="commit" id="commit" value="Submit"/></td></tr><tr>
			<%
				end
			end
			%>
		</tr>
	</table>
<br><br>
<input type="submit" name="commit" id="commit" value="Submit"/>
</form>