<!--
<h1>Manage Credits</h1>
<a href="#">Add Credits</a> | <a href="#">Edit Credits</a> | <a href="creditshistory">Credits History</a>
<%if @users.length > 0%>
		<table  class="creditbillingtable">
			<tr>
				<td bgcolor="#4EA3BE" width="30%" align="center"><strong>Name</strong></td>
				<td bgcolor="#4EA3BE" width="20%" align="center"><strong>UserName</strong></td>
				<td bgcolor="#4EA3BE" width="20%" align="center"><strong>Email</strong></td>
				<td bgcolor="#4EA3BE" width="20%" align="center"><strong>Credit</strong></td>
				<td bgcolor="#4EA3BE" width="10%" align="center"></td>
			</tr>
			
	<%for user in @users%>
			<tr>
				<td><%=user.FirstName%>  <%=user.LastName%></td>
				<td><%=user.UserName%></td>
				<td><%=user.Email%></td>
				<td align="right"><%=number_to_currency(Credit.checkcredit("#{user.id}"))%></td>
				<td align="right">
					<%= link_to 'Add',:action => 'addcredit', :id => user.id %>
					<%= link_to 'Edit',:action => 'editcredit', :id => user.id %>
				</td>
			</tr>
			
	<%end%>
		</table>	
<%end%>
<%= will_paginate @users%>
-->