

<!--
<h1>Credits History</h1>
<%if @history.length > 0%>
	<table>
		<tr>
			<th bgcolor="#4EA3BE" >Name</th>
			<th bgcolor="#4EA3BE" >UserName</th>
			<th bgcolor="#4EA3BE" >Email</th>
			<th bgcolor="#4EA3BE" >Credit</th>
			<th bgcolor="#4EA3BE" >Last update</th>
			<th bgcolor="#4EA3BE" ></th>
		</tr>
		<%	tab = 1
				color="bgcolor=\"#DAFCB4\""
			%>
	<%for h in @history%>
		<tr>
			<%user = User.find(h.id_user)%>
			<td <%=color%>><%=user.FirstName%> <%=user.LastName%></td>
			<td <%=color%>><%=user.UserName%></td>
			<td <%=color%>><%=user.Email%></td>			
			<td <%=color%> align="right"><%=number_to_currency(Credit.checkcredit("#{h.id_user}"))%></td>
			<td <%=color%>><%=user.updated_on.strftime("%d-%m-%Y")%></td>
				<td <%=color%> align="right">
					<%= link_to 'Add',:action => 'addcredit', :id => user.id %>
					<%= link_to 'Edit',:action => 'editcredit', :id => user.id %>
				</td>
		</tr>
		<%	
			if tab == 1
				tab=0
				color="bgcolor=\"#FFFFFF\""
			else
				tab=1
				color="bgcolor=\"#DAFCB4\""
			end
			%>
	<%end%>
	</table>
<%else%>
	<span style="color:red;">Don't have Information</span>
<%end%>
-->