<html>
	<head>
		

			<script src="/javascripts/listings.js" type="text/javascript"></script>
			<script src="/javascripts/kendio.js" type="text/javascript"></script>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
		<script type=text/javascript>
		function setsubmitform(){
			//nothing
			}
	</script>
	</head>
	<body onload="loadmap('12.9357','100.889');" onunload="GUnload();">
<h1>Development</h1>

<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>

<%#= link_to_function("Add New", "Element.toggle('developmentform')") %>
<a href="#developmentform" onclick="Element.toggle('developmentform'); return false;">Add New</a>
<%if @developments.length <= 0%>
<span style="color:green;">No Developments</span>
<%else%>
<table border="0" class="table3px">
	<tr>
		<td>ID</td>
		<td>Type</td>
		<td>Location</td>
		<td>Name</td>
		<td>Image</td>
		<td>URL</td>
		<td>Map Location</td>
		<td>Homepage Featured</td>
		<td>User ID</td>
		<td>Views</td>
		<td></td>
	</tr>
	<%for d in @developments%>
	<tr>
		<td><%=d.id%></td>
		<td><%if d.id_Type.to_s =="1"%> Condo <%else%>House<%end%></td>
		<td><%=d.City%></td>
		<td><%=d.Name%></td>
		<td>
			<%
			if d.id_image.to_i > 0
				image = Images.find(d.id_image)
				if image
								        strtype = image.photo_file_name
								        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
					%><!--http://files.rethai.com-->
					<img src="<%=image.photo.url()%>"  ><%
				end
			end
			%>
		</td>
		<td><%=d.Url%></td>
		<td><%=d.lat%>,<%=d.lng%></td>
		<td>
			<%if d.HomepageFeatured.to_s =="1"%> Yes
			<%else%><span style="color:red;">No</span>
			<%end%>
		</td>
		<td><%=d.id_user%></td>
		<td><%=d.Views%></td>
		<td>
			<a href="/developer/<%=d.Url%>">View page</a>
			<%=link_to "Edit",{:controller=>'admin',:action=>'editdevelopment',:id=>d.id}%>
			<%=link_to "Delete",{:controller=>'admin',:action=>'deletedevelopment',:id=>d.id},:confirm=>"Are you sure?"%>
		</td>
	</tr>
	<%end%>
</table>
<div>
	<%#=d.DevelopmentHtml%>
</div>

<%end%>


	<div id="developmentform" style="display:block;">
						<br><br><br><br>
						<h1>Add Development</h1>
						<form method="post" enctype="multipart/form-data"  action="/admin/createdevelopment" >
						<input type="hidden" name="dev[id_Type]" id="dev_id_Type" value="1"/>
						</p>
						
						<p>Name: <input type="text" name="dev[Name]" id="dev_Name" size="50" /></p>
						<p>Type:
													<select name="dev[Type_Name]" id="dev_Type_Name" onchange="document.getElementById('dev_id_Type').value=this.value;  " >	 in users
														<option value="1">Condo</option>	
														<option value="2">House</option>
													</select>
						 </p>
						<p>Image: upload<input type="file" name="image" id="image" /></p>
						<p>Homepage Featured: 
							<input type='radio' name="dev[HomepageFeatured]" id="dev_HomepageFeatured_1" value = '1' checked="checked"/><label for="dev_HomepageFeatured_1">Yes</label> 
							/ 
							 <input type='radio' name="dev[HomepageFeatured]" id="dev_HomepageFeatured_2" value = '1'/><label for="dev_HomepageFeatured_2">No</label>
						</p>
						<p>
							URL: <input type="text" name="dev[Url]" id="dev_Url" size="50" />
							<img id="processing" src="/images/loading.gif" style="display:none;"/><span id="validateurl">	</span>
						 <%= observe_field(:dev_Url,
                        		:on => :blur,
								:method => :get,
                        		:update => :validateurl,
								:loading=>"javascript: document.getElementById('processing').style.display='inline';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; ",
                        		:url => { :controller=>'admin',:action => 'validateurl'},
								:with => "'code='+escape($('dev_Url').value) ") %>
						</p>
						<p>User ID:
													<select name="dev[id_user]" id="dev_id_user"  >	
															<%
																users = User.find(:all,:conditions=>"UserType !='a'",:order=>"FirstName asc ")
																for p in users
															%>	
																<option value="<%=p.id%>"><%=p.FirstName%>  <%=p.LastName%></option>
															<%	end	%>
															</select>
						 </p>
						<p>Map: 
							<input type="hidden" name="dev[lat]" id="product_lat" value="12.9357"/>
							<input type="hidden" name="dev[lng]" id="product_lng" value="100.889"/>
							
							
							<input type="hidden" name="temp_lat1" id="temp_lat1" value="12.9357"/>
							<input type="hidden" name="temp_lng1" id="temp_lng1" value="100.889"/>
							<input type="hidden" name="temp_lat2" id="temp_lat2" value="12.9357"/>
							<input type="hidden" name="temp_lng2" id="temp_lng2" value="100.889"/>
							
							<input type="hidden" name="confirmlocation" id="confirmlocation" value="0"/>
							
															<select name="dev[City]" id="location" onchange=" searchlocation(); " >	
															<option value="Pattaya" selected="selected">Pattaya</option>
															<%
																provinces = Province.find(:all,:order=>"name asc ")
																for p in provinces
															%>	
																<option value="<%=p.name%>"><%=p.name%></option>
															<%	end	%>
															</select>
														<!--position:absolute; -->	
								<div id="map" style="width:470px;height:450px; min-height: 450px;margin-top:10px"></div>  
						</p>
						<p>Page Content: </p>
						<p><textarea name="dev[DevelopmentHtml]" id="dev_DevelopmentHtml" cols="100" rows="30"></textarea></p>
						<p><input type="submit" name="button" id="button" value="Submit Development" onclick="if(document.getElementById('dev_DevelopmentHtml').value=='' || document.getElementById('dev_Url').value=='' || document.getElementById('dev_Name').value==''){alert('Please Enter Full Details'); return false;}"></p>
						<p>&nbsp;</p>
						</form>
	</div>
	
	
	
		
	</body>
</html>