<!--
<script type="text/javascript">
	function editform(id,credit,status,fullcredit){
		document.getElementById('id').value=id;
		document.getElementById('credit_FullCredit').value=fullcredit;
		document.getElementById('credit_RemainCredit').value=credit;
		if (status == '1'){
			document.getElementById('credit_Status_1').checked = "true";
		}else if(status == 'p'){
			document.getElementById('credit_Status_2').checked = "true";
		}else if(status == '0'){
			document.getElementById('credit_Status_3').checked = "true";
		}
	}
	function newuserform(){
		if(document.getElementById('id').value =="" || document.getElementById('id').value =="0" ){alert('Please try again'); document.getElementById('id').focus();return false;}
		else if(document.getElementById('credit_RemainCredit').value ==""){alert('Please Enter Credits'); document.getElementById('credit_RemainCredit').focus();return false;}
		else if(isNaN(document.getElementById('credit_RemainCredit').value)){alert('Please Check Credits'); document.getElementById('credit_RemainCredit').focus();return false;}
		else{
			return true;
		}
	}
</script>
<h1>Manage Credits</h1>
<a href="#">Add Credits</a> | <a href="#">Edit Credits</a>

<br><br>
<%=@user.FirstName%> <%=@user.LastName%><br>
<% if @credits.length > 0%>
	<table width="800px">
		<tr>
			<td align="right"><strong>FullCredit</strong></td>
			<td align="right"><strong>RemainCredit</strong></td>
			<td align="right"><strong>Price</strong></td>
			<td align="center"><strong>Status</strong></td>
			<td></td>
		</tr>
	
	<%for credit in @credits%>
		<tr>
			<td align="right"><%=number_to_currency(credit.FullCredit)%></td>
			<td align="right"><%=number_to_currency(credit.RemainCredit)%></td>
			<td align="right">
				<%if credit.Price.to_i == 0 and credit.Description["Add"]%>
					<span style="color:red">Admin Add</span>
				<%elsif credit.Price.to_i == 0 and credit.Description["Edit"]%>	
					<span style="color:red">Admin Edit</span>
				<%else%>	
					<%=number_to_currency(credit.Price)%>
				<%end%>
			</td>
			<td align="center"><%if credit.Status == 'p'%><span style="color:green">Wait</span><%elsif credit.Status == '0'%><span style="color:red">Deleted<%elsif credit.Status == '1' %>Ok</span><%end%></td>
			<td align="right"><a href="#" onclick="editform('<%=credit.id%>','<%=credit.RemainCredit%>','<%=credit.Status%>','<%=credit.FullCredit%>');">Edit</a></td>
		</tr>
	<%end%>
	</table>
<%end%>

<br>
<%= will_paginate @credits%>

<br><hr/><br>
<h2>Edit Credits</h2><br>
<form action="/admin/updatecredit" method="post">
	<input type="hidden" name="id" id="id" value="0"/>
	<p>Full Credits:<%=text_field 'credit','FullCredit'%></p>
	<p>Remain Credits:<%=text_field 'credit','RemainCredit'%></p>
	<p>
		Status:	<input name="credit[Status]" type="radio" value="1" id="credit_Status_1" />  <label for="credit_Status_1">Ok</label>
				<input name="credit[Status]" type="radio" value="p" id="credit_Status_2" />  <label for="credit_Status_2">Wait</label>
				<input name="credit[Status]" type="radio" value="0" id="credit_Status_3" />  <label for="credit_Status_3">Delete</label>
  	</p>
	<p><input type="submit" name="Submit" value="Submit" id="Submit" onclick="return newuserform();" /></p>
</form>
-->