  <link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar.js"></script>
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/lang/calendar-en.js"></script>
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar-setup.js"></script>


<script type="text/javascript" >
	

function condolocation(latlng){
	//alert('yess:'+GBrowserIsCompatible());
	document.getElementById('product_id_condo').selectedIndex  = document.getElementById('temp_id_condo').selectedIndex;
	if (latlng != "0") {
		if (GBrowserIsCompatible()) {
		
		
		
			var map = new GMap2(document.getElementById("map"));
			var mt = map.getMapTypes();
			// Overwrite the getMinimumResolution() and getMaximumResolution() methods
			for (var i = 0; i < mt.length; i++) {
				mt[i].getMinimumResolution = function(){
					return 8;
				}
				mt[i].getMaximumResolution = function(){
					return 18;
				}
			}
			
			map.enableDoubleClickZoom();
			map.setMapType(G_HYBRID_MAP);
			map.addControl(new GMapTypeControl());
			map.addControl(new GLargeMapControl());
			//map.setCenter(new GLatLng(lat, lng), 14);
			
//			alert("lat: " + latlng);
			//alert(strlocation);
			geocoder.getLatLng(latlng, function(point){
			
				if (point) {
					//					alert('YESSS');
					map.setCenter(point, 14);
					lat = point.lat();
					lng = point.lng();
					
				}
				else {
					//					alert('Noooo');
					map.setCenter(new GLatLng(12.9357, 100.889), 14);
					lat = 12.9357;
					lng = 100.889;
				}
				setnewpoint(lat,lng);
				point = new GLatLng(lat, lng);
				var marker = new GMarker(point, {
					draggable: true,
					bouncy: true
				});
				var html = "";
				map.addOverlay(marker);
//				html = "";
//					//				html = html + "Confirm Location!\n<br>";
//					//				html = html + "lat:"+latlng.lat()+'\n<br>';
//					//				html = html + "lng:"+latlng.lng()+'\n<br>';
//					html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"submit\" value=\"Confirm Location\" onclick=\"document.getElementById('confirmlocation').value='1'; setnewpoint('" + latlng.lat() + "','" + latlng.lng() + "'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";
//					html = html + "";
//					map.openInfoWindowHtml(html);
				//alert('yessss: try to create marker');
				GEvent.addListener(marker, "click", function(latlng){

					html = "";
									html = html + "Confirm Location!\n<br>";
									html = html + "lat:"+latlng.lat()+'\n<br>';
									html = html + "lng:"+latlng.lng()+'\n<br>';
					html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"submit\" value=\"Confirm Location\" onclick=\"setnewpoint('"+latlng.lat()+"','"+latlng.lng()+"'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";			
					html = html + "";
					marker.openInfoWindowHtml(html);
				});
				GEvent.addListener(marker, "dragstart", function(){
				
					map.closeInfoWindow();
				});
				
				GEvent.addListener(marker, "dragend", function(latlng){
					html = "";
									html = html + "Confirm Location!\n<br>";
									html = html + "lat:"+latlng.lat()+'\n<br>';
									html = html + "lng:"+latlng.lng()+'\n<br>';
					html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"submit\" value=\"Confirm Location\" onclick=\"setnewpoint('"+latlng.lat()+"','"+latlng.lng()+"'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";		
//					html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"submit\" value=\"Confirm Location\" onclick=\"document.getElementById('confirmlocation').value='1'; setnewpoint('" + latlng.lat() + "','" + latlng.lng() + "'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";
					html = html + "";
					marker.openInfoWindowHtml(html);
				});
				
				
			});
			
			
			
		}
		
		else {
			alert("Sorry, the Google Maps API is not compatible with this browser");
		}
	}else{document.getElementById('confirmlocation').value='0';}
}

</script>
			
<h1>Listing</h1>

<form method="post" enctype="multipart/form-data" action="/admin/updatelisting">
	<%if params[:qlt_page] %>
		<%if params[:qlt_page].to_i > 0%>
			<input type="hidden" name="myredirect" id="myredirect" value="/admin/qualitylistings?page=<%=params[:qlt_page].to_i%>"/>
		<%else%>
			<input type="hidden" name="myredirect" id="myredirect" value="/admin/qualitylistings"/>
		<%end%>
	<%end%>	
	<input type="hidden" name="id" id="id" value="<%=@listing.id%>"/>
	<input type="hidden" name="product[City]" id="product_City" value="<%=@listing.City%>"/>
<table border="0">
	<tr>
		<td colspan="2">
			<p id="notice" style="width:470px;"><img src="/images/icons/lightbulb.png" style="margin-right:10px;" /><small>Select your city then drag & drop the marker to set your listing location</small></p>
			<div style="display:block; width:470px;">
				<select name="location" id="location" onchange="document.getElementById('product_City').value = document.getElementById('location').value; admin_searchlocation();">	
				<option value="Pattaya" selected="selected">Pattaya</option>
				<%
					provinces = Province.find(:all,:order=>"name asc ")
					for p in provinces
				%>	
					<option value="<%=p.name%>" <%if @listing.City.to_s == p.name.to_s%> selected="selected" <%end%>><%=p.name%></option>
				<%	end	%>
				</select>
				<a href="#notice" onclick=" document.getElementById('product_City').value = document.getElementById('location').value; admin_searchlocation();"><strong>Select City</strong></a>
			</div> 

		</td>
	</tr>
	
	
	
		<tr>
			<td>Reference Code: </td>
			<td>
				<input type='text' name='product[Ref]' id='product_Ref' value="<%=@listing.Ref%>"/>
			</td>
		</tr>
		<tr>
			<td>Youtube Code: </td>
			<td><%=text_field :product,:youtubecode,:value=>@listing.youtubecode ,:onkeydown=>"if(event.keyCode == 13){ return false;}", :size=>20  %>
			</td>
		</tr>
		<tr>
			<td>Title Link: </td>
			<td><%=text_field :product,:titlelink,:value=>@listing.titlelink, :size=>20  %>-<%=@listing.id%>
			</td>
		</tr>
		
	<tr>
		<td width="120px">Property Listing:</td>
		<td>
		    <select name="product[salerent]" id="product_salerent">				
		      	<option value="1" <%if @listing.salerent.to_s == '1'%>selected = "selected"<%end%> > For Sale </option>
				<option value="0" <%if @listing.salerent.to_s == '0'%>selected = "selected"<%end%> >For Rent</option>
				<option value="2" <%if @listing.salerent.to_s == '2'%>selected = "selected"<%end%> >For Sale or Rent</option>
		    </select>
		</td>
	</tr>
	<tr>
		<td>Propety Type:</td>
		<td>
		    <select name="product[Type]" id="product_Type" onchange="if(this.value=='1'){document.getElementById('condoname2').style.display='block';}else{document.getElementById('condoname2').style.display='none';}">
					<%
					optiontypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"Value asc")
					for opt in optiontypes%>
						<option value="<%=opt.Value%>" <%if opt.Value.to_s == "#{@listing.Type.to_s}"%> selected = "selected" <%end%> ><%=opt.Name%></option>
					<%end%>
		    </select>
		</td>
	</tr>
	<tr>
		<td colspan="2">
								<%condos = Condo.find(:all,:conditions=>"status = '1' ",:order=>"name")%>
								<%if @listing.Type.to_s =="1"%><div id="condoname2" style="display:block;"><%else%><div id="condoname2" style="display:none;"><%end%>
								<strong>Condo Name:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<select name="temp[id_condo]" id="temp_id_condo" style="display:inline;" onchange="if(this.value !='0' && this.value !='1'){  condolocation(this.value);} ">
									<option value="0">Select Building Name</option>

									<option value="1">-----  I don't know, skip</option>

									
									<%for cond in condos%>
										<option value="<%=cond.lat%>,<%=cond.lng%>" <%if @listing.id_condo.to_s == cond.id.to_s%> selected="selected" <%end%>><%=cond.name%></option>
									<%end%>
								</select>
								
								
								
								<select name="product[id_condo]" id="product_id_condo" style="display:none;" >
									<option value="0">Select Building Name</option>

									<option value="1">-----  I don't know, skip</option>

									
									<%for cond in condos%>
										<option value="<%=cond.id%>" <%if @listing.id_condo.to_s == cond.id.to_s%> selected="selected" <%end%>><%=cond.name%></option>
									<%end%>
								</select>
								
								</div>
		</td>
	</tr>
	<tr>
		<td>Sale Price:</td>
		<td><input type="text" name="product[Price]" id="product_Price"  value="<%=@listing.Price%>" /></td>
	</tr>
	<tr>
		<td>Rent Price:</td>
		<td><input type="text" name="product[RPrice]" id="product_RPrice" value="<%=@listing.RPrice%>" /></td>
	</tr>
	<tr>
		<td>SQM:</td>
		<td><input type="text" name="product[SQM]" id="product_SQM" value="<%=@listing.SQM%>" /></td>
	</tr>
	<tr>
		<td>Bedrooms:</td>
		<td>
		    <select name="product[Bed]" id="product_Bed">
				<option value="0" <%if @listing.Bed.to_i == 0%> selected = "selected" <%end%> >Studio</option>
				<option value="1" <%if @listing.Bed.to_i == 1%> selected = "selected" <%end%> >1</option>
				<option value="2" <%if @listing.Bed.to_i == 2%> selected = "selected" <%end%> >2</option>
				<option value="3" <%if @listing.Bed.to_i == 3%> selected = "selected" <%end%> >3</option>
				<option value="4" <%if @listing.Bed.to_i == 4%> selected = "selected" <%end%> >4</option>
				<option value="5" <%if @listing.Bed.to_i == 5%> selected = "selected" <%end%> >5</option>
				<option value="6" <%if @listing.Bed.to_i == 6%> selected = "selected" <%end%> >6+</option>
		    </select>
		</td>
	</tr>
	<tr>
		<td>Bathrooms:</td>
		<td>
		    <select name="product[Bath]" id="product_Bath">
				<option value="1" <%if @listing.Bath.to_i == 1%> selected = "selected" <%end%> >1</option>
				<option value="2" <%if @listing.Bath.to_i == 2%> selected = "selected" <%end%> >2</option>
				<option value="3" <%if @listing.Bath.to_i == 3%> selected = "selected" <%end%> >3</option>
				<option value="4" <%if @listing.Bath.to_i == 4%> selected = "selected" <%end%> >4</option>
				<option value="5" <%if @listing.Bath.to_i >= 5%> selected = "selected" <%end%> >5+</option>
		    </select>
		</td>
	</tr>
	<tr>
		<td>Parking:</td>
		<td>
		    <select name="product[Parking]" id="product_Parking">
					<%
					optiontypes = Option.find(:all,:conditions=>"option_type = 'Carspace'",:order=>"Value asc")
					for opt in optiontypes%>
						<option value="<%=opt.Value%>" <%if opt.Value.to_s == "#{@listing.Parking.to_s}"%> selected = "selected" <%end%> ><%=opt.Name%></option>
					<%end%>
		    </select>
		</td>
	</tr>
	<tr>
		<td>CreateDate:</td>
		<td>
		    <input type="text" name="product[created_on]" id="product_created_on" value="<%=@listing.created_on.strftime("%Y-%m-%d")%>" readonly="1" size="10">
			<img src="/javascripts/jscalendar-1.0/img.gif" id="f_trigger_c" style="cursor: pointer; border: 1px solid red;" title="Date selector"
      onmouseover="this.style.background='red';" onmouseout="this.style.background=''" />
			<script type="text/javascript">
    Calendar.setup({
        inputField     :    "product_created_on",     // id of the input field
        ifFormat       :    "%Y-%m-%d",      // format of the input field
        button         :    "f_trigger_c",  // trigger for the calendar (button ID)
        align          :    "Tl",           // alignment (defaults to "Bl")
        singleClick    :    true
    });
</script>
					
		</td>
	</tr>
	<tr>
		<td>Payment:</td>
		<td>
			<%if @listing.Deleted == 'p'%>
				<span style="color:red;">Pending...</span>
				<input type="checkbox" name="product[Deleted]" id="product_Deleted" value="1" onclick="adminpay('product_Deleted','product_adminpay')"/>
				<label for="product_Deleted">Pay by admin</label>
				<input type="hidden" name="product[adminpay]" id="product_adminpay" value="0"  />
			<%elsif @listing.Deleted == '1' %>
				<span style="color:green;">paid</span>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>Status:</td>
		<td>
			<%if @listing.Status == 'd'%>
				<span style="color:red;">Deleted</span>
			<%elsif @listing.Status == 'f' %>
				<span style="color:green;">Offline</span>
			<%elsif @listing.Status == 's' %>
				<span style="color:red;">Saled </span>
			<%elsif @listing.Deleted == '1' and @listing.Status !='d' and @listing.Status != 'f' and @listing.Status != 's'%>	
				<span style="color:Green;">Online </span>
			<%else%>	
				<span style="color:Green;">Wait for payment (auto online when finished pay)</span>
			<%end%>
			<%if @listing.Status !="d" and @listing.Deleted.to_s !='0'%>				
				<select name="product[Status]" id="product_Status">
					<option value="1" <%if @listing.Status.to_s == '1'%> selected="selected" <%end%> >set to online</option>
					<option value="s" <%if @listing.Status.to_s == 's'%> selected="selected" <%end%> >set to saled</option>
					<option value="d" <%if @listing.Status.to_s == 'd'%> selected="selected" <%end%> >set to Delist</option>
					<option value="f" <%if @listing.Status.to_s == 'f'%> selected="selected" <%end%> >set to offline</option>
		    	</select>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>Virtual:</td>
		<td>
			<%if @listing.Status.to_s !='s' and @listing.Status.to_s !='f' and @listing.Status.to_s !='d' and @listing.Virtual.to_s =='0' %>
			
				<div id="virtual<%=@listing.id%>">
							<%= link_to_remote "Add to Virtual",
	                                   :update => "virtual#{@listing.id}",
	                                   :loading =>" document.getElementById('loading#{@listing.id}').style.display='inline';",
	                                   :complete =>"document.getElementById('loading#{@listing.id}').style.display='none';",
	                                   :url => { :controller => "admin",:action => "add2virtual" ,:id=>@listing.id} %>
					
				</div>					   
				<img src="/images/loading.gif" id="loading<%=@listing.id%>" style="display:none;"/>
			<%elsif @listing.Virtual.to_s == '1'%>				   
					<img src='/images/icons/tick.png'/>
			<%else%>		
				<span style="color:red;">Pending..</span>
			<%end%>
			
		</td>
	</tr>
	<tr>
		<td>lat:</td>
		<td><input type="text" name="product[lat]" id="product_lat" value="<%=@listing.lat%>" size="25" readonly="true"/></td>
	</tr>
	<tr>
		<td>lng:</td>
		<td><input type="text" name="product[lng]" id="product_lng" value="<%=@listing.lng%>" size="25" readonly="true"/></td>
	</tr>
	<tr>
		<td valign="top"  colspan="2">
		Details<br>
		&nbsp;&nbsp;<textarea name="product[Detail]" id="product_Detail" cols="50" rows="7"><%=@listing.Detail%></textarea></td>
	</tr>
	
	
	
	
	
	
	<tr>
		<td colspan="2">
			<div id="images"><br><br>
				<h1>Listing Images </h1>
				
			<table border="0">
				<tr>
			<%
			x = 0
			i = 0
			for img in @images
				x = x + 1
				i = i + 1%>
				<td>
								<%
									strtype = img.photo_file_name
                          			strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
								%>
								<img src="<%=img.photo.url(:thumb)%>" /><br><input type="checkbox" name="del[<%=img.id%>]" id="del_<%=img.id%>" value="1"/><label for="del_<%=img.id%>">Delete <span style=color:green;><%=x%></span></label>
				</td>				
			<%
			if i == 6%></tr><tr><%
				i = 0
			end
			end
			%>
					
				</tr>
			</table>
			</div>
		</td>
	</tr>
	
	
	
	
	
	
	
	
	
	
	<tr>
		<td></td>
		<td>
			<br><br>
			<input type="submit" value="Update Listing!" >	
		</td>
	</tr>
</table>

</form>
<div  style="position:absolute;	left:480px;top:80px; width:500px;z-index:1;"> <span style="color:#006600;">Drag & drop marker and then click "Confirm Location" to set new location(lat,lng)</span></div>  
<div id="map" style="position:absolute;	left:480px;top:100px;	width:500px;	height:450px; min-height: 450px;	z-index:1;	background-color: #999999;"></div>    