<html>
	<head>
		<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
		<script type=text/javascript>
			function setsubmitform(){
				//nothing		
			}
			
	function setnewpoint(lat,lng){
		document.getElementById('product_lat').value=lat;
		document.getElementById('product_lng').value=lng;
		
		document.getElementById('temp_lat1').value=lat;
		document.getElementById('temp_lng1').value=lng;
		document.getElementById('temp_lat2').value=lat;
		document.getElementById('temp_lng2').value=lng;
		setsubmitform();
	}


	function loadmap(lat,lng){ 

	if (GBrowserIsCompatible()) {	
	
	if(lat == '0' && lng == '0'){
		lat="12.9357";
		lng="100.889";
	}
	setnewpoint(lat,lng)
//	alert('location:\n<br>lat:' + lat + '\n<br>lng:'+lng);
	
	
		
		
	
	function createMarker(point){
//			alert(point);
			var marker = new GMarker(point, {draggable: true, bouncy: true});
			var html="";			
//			gmarkers.push(marker);
			map.addOverlay(marker);
			GEvent.addListener(marker, "click", function(latlng){
				html="";
//				html = html + "Confirm Location!\n<br>";
//				html = html + "lat:"+latlng.lat()+'\n<br>';
//				html = html + "lng:"+latlng.lng()+'\n<br>';
				html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"button\" value=\"Confirm Location\" onclick=\"document.getElementById('confirmlocation').value='1'; setnewpoint('"+latlng.lat()+"','"+latlng.lng()+"'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";
				html = html + "";
				marker.openInfoWindowHtml(html);
			});
			GEvent.addListener(marker, "dragstart", function() {
				
			  map.closeInfoWindow();
			});
			
			GEvent.addListener(marker, "dragend", function(latlng) {
				html="";
//				html = html + "Confirm Location!\n<br>";
//				html = html + "lat:"+latlng.lat()+'\n<br>';
//				html = html + "lng:"+latlng.lng()+'\n<br>';
				html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"button\" value=\"Confirm Location\" onclick=\" document.getElementById('confirmlocation').value='1'; setnewpoint('"+latlng.lat()+"','"+latlng.lng()+"'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";
				html = html + "";
			  marker.openInfoWindowHtml(html);
			});
			 
		}
		
		

	var map = new GMap2(document.getElementById("map"));
		var mt = map.getMapTypes();
      // Overwrite the getMinimumResolution() and getMaximumResolution() methods
      for (var i=0; i<mt.length; i++) {
        mt[i].getMinimumResolution = function() {return 8;}
        mt[i].getMaximumResolution = function() {return 18;}
      }
	  
		map.enableDoubleClickZoom();
		map.setMapType(G_HYBRID_MAP);
		map.addControl(new GMapTypeControl());
		map.addControl(new GLargeMapControl());
		map.setCenter(new GLatLng(lat, lng), 14);
		createMarker(new GLatLng(lat, lng));
		
		geocoder = new GClientGeocoder();
		
	}
	
	else {
		alert("Sorry, the Google Maps API is not compatible with this browser");
	}
	

}

function searchlocation(){
	//alert('yess:'+GBrowserIsCompatible());
	if (GBrowserIsCompatible()) {	

		

		var map = new GMap2(document.getElementById("map"));
		var mt = map.getMapTypes();
      // Overwrite the getMinimumResolution() and getMaximumResolution() methods
      for (var i=0; i<mt.length; i++) {
        mt[i].getMinimumResolution = function() {return 8;}
        mt[i].getMaximumResolution = function() {return 18;}
      }
	  
		map.enableDoubleClickZoom();
		map.setMapType(G_HYBRID_MAP);
		map.addControl(new GMapTypeControl());
		map.addControl(new GLargeMapControl());
		//map.setCenter(new GLatLng(lat, lng), 14);
		
		var strlocation;
		geocoder = new GClientGeocoder();
		
		if ((document.getElementById('location').value).search(/thailand|Thailand/)>0){
			strlocation = document.getElementById('location').value;
		}else{
			strlocation = document.getElementById('location').value + ", thailand";
		}
		//alert(strlocation);
		 	geocoder.getLatLng(strlocation, function(point){
				
		 		if (point) {
		 			map.setCenter(point, 14);
					lat = point.lat();
					lng = point.lng();
					
		 		}
		 		else {
					map.setCenter(new GLatLng(12.9357, 100.889), 14);
					lat = 12.9357;
					lng = 100.889;
					}				
		point = new GLatLng(lat, lng);
		var marker = new GMarker(point, {draggable: true, bouncy: true});
			var html="";			
			map.addOverlay(marker);
			//alert('yessss: try to create marker');
			GEvent.addListener(marker, "click", function(latlng){
				html="";
//				html = html + "Confirm Location!\n<br>";
//				html = html + "lat:"+latlng.lat()+'\n<br>';
//				html = html + "lng:"+latlng.lng()+'\n<br>';
				html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"button\" value=\"Confirm Loaction\" onclick=\"document.getElementById('confirmlocation').value='1'; setnewpoint('"+latlng.lat()+"','"+latlng.lng()+"'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";
				html = html + "";
				marker.openInfoWindowHtml(html);
			});
			GEvent.addListener(marker, "dragstart", function() {
				
			  map.closeInfoWindow();
			});
			
			GEvent.addListener(marker, "dragend", function(latlng) {
				html="";
//				html = html + "Confirm Location!\n<br>";
//				html = html + "lat:"+latlng.lat()+'\n<br>';
//				html = html + "lng:"+latlng.lng()+'\n<br>';
				html = html + "\n<div id='noticelocation' style='color:green;'></div><br>\n<input type=\"button\" value=\"Confirm Loaction\" onclick=\"document.getElementById('confirmlocation').value='1'; setnewpoint('"+latlng.lat()+"','"+latlng.lng()+"'); document.getElementById('noticelocation').innerHTML='Location Saved';\"/>";
				html = html + "";
			  marker.openInfoWindowHtml(html);
			});
		
			
				});
		
		
		
	}
	
	else {
		alert("Sorry, the Google Maps API is not compatible with this browser");
	}	
	
}


		</script>
	</head>
	<body onload="loadmap('<%=@condo.lat%>','<%=@condo.lng%>');" onunload="GUnload();">
<h1>Add Condos</h1>
<form method="post" enctype="multipart/form-data"  action="/admin/updatecondo" >
<table>
	<tr>
		<td valign="top">
			
	<input type="hidden" name="id" id="id" value="<%=@condo.id%>"/>
	<input type="hidden" name="condo[lat]" id="product_lat" value="<%=@condo.lat%>"/>
	<input type="hidden" name="condo[lng]" id="product_lng" value="<%=@condo.lng%>"/>
	
	
	<input type="hidden" name="temp_lat1" id="temp_lat1" value="12.9357"/>
	<input type="hidden" name="temp_lng1" id="temp_lng1" value="100.889"/>
	<input type="hidden" name="temp_lat2" id="temp_lat2" value="12.9357"/>
	<input type="hidden" name="temp_lng2" id="temp_lng2" value="100.889"/>
	
	<input type="hidden" name="confirmlocation" id="confirmlocation" value="0"/>
	<table>
		<tr>
			<td><strong>Condo Name:</strong></td>
			<td><%=text_field :condo,:name%></td>
		</tr>
		<tr>
			<td><strong>City:</strong></td>
			<td>
									<select name="condo[city]" id="location" onchange="searchlocation();" >	
									<option value="Pattaya" selected="selected">Pattaya</option>
									<%
										provinces = Province.find(:all,:order=>"name asc ")
										for p in provinces
									%>	
										<option value="<%=p.name%>" <%if @condo.city == p.name%> selected="selected" <%end%>><%=p.name%></option>
									<%	end	%>
									</select></td>
		</tr>
		<tr>
			<td><strong>Homepage Featured:</strong></td>
			<td>
				<input type="checkbox" name="condo[homepage]" value="1" id="condo_homepage" <%if @condo.homepage.to_s =="1"%> checked="checked" <%end%> />
				<label for="condo_homepage">Homepage Featured</label>
			</td>
		</tr>
		<tr>
			<td><strong>Images:</strong></td>
			<td><input type="file" name="image" id="image"/>
			<%
			begin
				if @condo.id_image.to_i > 0 
					image = Images.find(@condo.id_image)
					strtype = image.photo_file_name
					strtype = strtype.slice(strtype.index(".").to_i + 1,strtype.length)		
				%>
					<img src="<%=image.photo.url(:thumb)%>"/>
				<%
				end
			rescue
			end
%>
			</td>
		</tr>
	<tr>
		<td  align="center"><br><br>
			<input type="submit" value="Add condos"/>
		</td>
		<td  align="center">
		</td>
	</tr>
	</table>
	
			</td>
		<td>
			
			<div id="map" style="width:550px; height:350px;"></div>
		</td>
	</tr>
</table>





		</body>
</html>