<script type="text/javascript">
	function showdomdow(tagname){
		if (tagname == 'daily'){
			document.getElementById('dow0').style.display='none';
			document.getElementById('dow1').style.display='none';
			
			document.getElementById('dom0').style.display='none';
			document.getElementById('dom1').style.display='none';
			
		}else if(tagname == 'DOW'){
			document.getElementById('dow0').style.display='inline';
			document.getElementById('dow1').style.display='inline';
			
			document.getElementById('dom0').style.display='none';
			document.getElementById('dom1').style.display='none';
			
		}else if(tagname == 'DOM'){
			document.getElementById('dow0').style.display='none';
			document.getElementById('dow1').style.display='none';
			
			document.getElementById('dom0').style.display='inline';
			document.getElementById('dom1').style.display='inline';
			
		}
	}
</script>
<h2>Edit Rethai APIs</h2>
<form action="/admin/updateapi" method="post">
	<input type="hidden" name="id" id="id" value="<%=@api.id%>"/>
<table>
	<tr>
		<td><strong>UserID</strong></td>
		<td><a href="/admin/edituser/2"><%=@api.id_user%></a></td>
	</tr>
	<tr>
		<td><strong>SiteName</strong></td>
		<td><%=text_field :api,:SiteName%></td>
	</tr>
	<tr>
		<td><strong>IP</strong></td>
		<td><%=text_field :api,:IP%></td>
	</tr>
	<tr>
		<td><strong>Status</strong></td>
		<td>
			<input type="radio" name="api[Status]" id="api_Status_1" value="1" <%if @api.Status.to_s =="1"%> checked="checked"<%end%>/><label for="api_Status_1">Running</label>
			<input type="radio" name="api[Status]" id="api_Status_0" value="0" <%if @api.Status.to_s =="0"%> checked="checked"<%end%>/><label for="api_Status_0">Deleted</label>
		</td>
	</tr>
	<tr>
		<td valign="top"><strong>APILink</strong></td>
		<td><%=text_area :api,:APILink,:rows=>"4"%></td>
	</tr>
	<tr>
		<td valign="top"><strong>codeURL</strong></td>
		<td><%=text_area :api,:codeURL,:rows=>"4"%></td>
	</tr>
	<tr>
		<td><strong>Last Update</strong></td>
		<td><%=text_field :api,:lastupdate%></td>
	</tr>
	<tr>
		<td><strong>manage</strong></td>
		<td>
			<input type="radio" name="api[manage]" id="api_manage_0" value="daily" onclick="showdomdow('daily');" <%if @api.manage.to_s =="daily"%> checked="checked"<%end%>/><label for="api_manage_0">Daily</label>			
			<input type="radio" name="api[manage]" id="api_manage_1" value="DOW" onclick="showdomdow('DOW');" <%if @api.manage.to_s =="DOW"%> checked="checked"<%end%>/><label for="api_manage_1">DOW</label>
			<input type="radio" name="api[manage]" id="api_manage_2" value="DOM" onclick="showdomdow('DOM');" <%if @api.manage.to_s =="DOM"%> checked="checked"<%end%>/><label for="api_manage_2">DOM</label>
		</td>
	</tr>
	<tr>
		<td><div id="dow0" <%if @api.manage.downcase.to_s =="dow"%> style="display:inline;" <%else%> style="display:none;" <%end%>><strong>DOW</strong></div></td>
		<td><div id="dow1" <%if @api.manage.downcase.to_s =="dow"%> style="display:inline;" <%else%> style="display:none;" <%end%>>
			
			<input type="checkbox" name="chk[DOW0]" id="api_DOW_0" value="0" <%if @api.DOW["0"]%> checked="checked"<%end%>/><label for="api_DOW_0">Sunday</label>			
			<input type="checkbox" name="chk[DOW1]" id="api_DOW_1" value="1" <%if @api.DOW["1"]%> checked="checked"<%end%>/><label for="api_DOW_1">Monday</label>
			<input type="checkbox" name="chk[DOW2]" id="api_DOW_2" value="2" <%if @api.DOW["2"]%> checked="checked"<%end%>/><label for="api_DOW_2">Tuesday</label>
			<input type="checkbox" name="chk[DOW3]" id="api_DOW_3" value="3" <%if @api.DOW["3"]%> checked="checked"<%end%>/><label for="api_DOW_3">Wednesday</label>			
			<input type="checkbox" name="chk[DOW4]" id="api_DOW_4" value="4" <%if @api.DOW["4"]%> checked="checked"<%end%>/><label for="api_DOW_4">Thursday</label>
			<input type="checkbox" name="chk[DOW5]" id="api_DOW_5" value="5" <%if @api.DOW["5"]%> checked="checked"<%end%>/><label for="api_DOW_5">Friday</label>
			<input type="checkbox" name="chk[DOW6]" id="api_DOW_6" value="6" <%if @api.DOW["6"]%> checked="checked"<%end%>/><label for="api_DOW_6">Saturday</label>	
		
		</div></td>
	</tr>
	<tr>
		<td><div id="dom0"  <%if @api.manage.downcase.to_s =="dom"%> style="display:inline;" <%else%> style="display:none;" <%end%>><strong>DOM</strong></div></td>
		<td><div id="dom1"  <%if @api.manage.downcase.to_s =="dom"%> style="display:inline;" <%else%> style="display:none;" <%end%>><%if @api.DOM.to_i == 0%> <input type="text" name="api[DOM]" id="api_DOM" size="60" value=""/><%else%> <input type="text" name="api[DOM]" id="api_DOM" size="60" value="<%=@api.DOM%>"/><%end%></div></td>
	</tr>
	<tr>
		<td colspan="2">
		<input type="submit" value="Submit"/>
		</td>
	</tr>
</table>
	
</form>