
<html>
	<head>
		

			<script src="/javascripts/listings.js" type="text/javascript"></script>
			<script src="/javascripts/kendio.js" type="text/javascript"></script>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
		<script type=text/javascript>
		function setsubmitform(){
			//nothing
			}
	</script>
	</head>
	<body onload="loadmap('12.9357','100.889');" onunload="GUnload();">

<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>



	<div id="developmentform" style="display:block;">
						<h1>Edit Development</h1>
						<form method="post" enctype="multipart/form-data"  action="/admin/updatedevelopment" >
						<input type="hidden" name="id" id="id" value="<%=@dev.id%>"/>
						<input type="hidden" name="dev[id_Type]" id="dev_id_Type" value="<%=@dev.id_Type%>"/>
						</p>
						
						<p>Name: <input type="text" name="dev[Name]" id="dev_Name" size="50" value="<%=@dev.Name%>"/></p>
						<p>Type:
							<select name="dev[Type_Name]" id="dev_Type_Name" onchange="document.getElementById('dev_id_Type').value=this.value;  " >	 in users
								<option value="1" <%if @dev.Type_Name.to_s =="1"%> selected="selected" <%end%> >Condo</option>	
								<option value="2" <%if @dev.Type_Name.to_s =="2"%> selected="selected" <%end%> >House</option>
							</select>
						 </p>
						<p>
							Image: upload<input type="file" name="image" id="image" />							
							<%
							if @dev.id_image.to_i > 0
								image = Images.find(@dev.id_image)
								if image
												        strtype = image.photo_file_name
												        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
									%><!--http://files.rethai.com-->
									<img src="<%=image.photo.url(:thumb)%>" width="90px" height="90px" ><%
								end
							end
							%>
						</p>
						<p>Homepage Featured: 
							<input type='radio' name="dev[HomepageFeatured]" id="dev_HomepageFeatured_1" value = '1' <%if @dev.HomepageFeatured.to_s == "1"%> checked="checked" <%end%>/><label for="dev_HomepageFeatured_1">Yes</label> 
							/ 
						 	<input type='radio' name="dev[HomepageFeatured]" id="dev_HomepageFeatured_2" value = '0' <%if @dev.HomepageFeatured.to_s == "0"%> checked="checked" <%end%>/><label for="dev_HomepageFeatured_2">No</label>
						</p>
						<p>
							URL: <input type="text" name="dev[Url]" id="dev_Url" size="50" value="<%=@dev.Url%>" />
							<img id="processing" src="/images/loading.gif" style="display:none;"/><span id="validateurl">	</span>
						 <%= observe_field(:dev_Url,
                        		:on => :blur,
								:method => :get,
                        		:update => :validateurl,
								:loading=>"javascript: document.getElementById('processing').style.display='inline';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; ",
                        		:url => { :controller=>'admin',:action => 'validateurl'},
								:with => "'code='+escape($('dev_Url').value) ") %>
						</p>
						<p>User ID:
													<select name="dev[id_user]" id="dev_id_user"  >	
															<%
																users = User.find(:all,:conditions=>"UserType !='a'",:order=>"FirstName asc ")
																for p in users
															%>	
																<option value="<%=p.id%>" <%if @dev.id_user.to_s == p.id.to_s%> selected="selected" <%end%>><%=p.FirstName%>  <%=p.LastName%></option>
															<%	end	%>
															</select>
						 </p>
						<p>Map: 
							<input type="hidden" name="dev[lat]" id="product_lat" value="<%=@dev.lat%>"/>
							<input type="hidden" name="dev[lng]" id="product_lng" value="<%=@dev.lng%>"/>
							
							
							<input type="hidden" name="temp_lat1" id="temp_lat1" value="<%=@dev.lat%>"/>
							<input type="hidden" name="temp_lng1" id="temp_lng1" value="<%=@dev.lng%>"/>
							<input type="hidden" name="temp_lat2" id="temp_lat2" value="<%=@dev.lat%>"/>
							<input type="hidden" name="temp_lng2" id="temp_lng2" value="<%=@dev.lng%>"/>
							
							<input type="hidden" name="confirmlocation" id="confirmlocation" value="0"/>
							
															<select name="dev[City]" id="location" onchange=" searchlocation(); " >	
															<option value="Pattaya" selected="selected">Pattaya</option>
															<%
																provinces = Province.find(:all,:order=>"name asc ")
																for p in provinces
															%>	
																<option value="<%=p.name%>"  <%if @dev.City.to_s == p.name.to_s%> selected="selected" <%end%>><%=p.name%></option>
															<%	end	%>
															</select>
														<!--position:absolute; -->	
								<div id="map" style="width:470px;height:450px; min-height: 450px;margin-top:10px"></div>  
						</p>
						<p>Page Content: </p>
						<p><textarea name="dev[DevelopmentHtml]" id="dev_DevelopmentHtml" cols="100" rows="30"><%=@dev.DevelopmentHtml%></textarea></p>
						<p><input type="submit" name="button" id="button" value="Submit Development" onclick="if(document.getElementById('dev_DevelopmentHtml').value=='' || document.getElementById('dev_Url').value=='' || document.getElementById('dev_Name').value==''){alert('Please Enter Full Details'); return false;}"></p>
						<p>&nbsp;</p>
						</form>
	</div>
	
	
	
		
	</body>
</html>