<h1>Search users</h1>

<form name="newuser" id="newuser" action="/admin/finduser">
<table>
	<tr>
		<td>FirstName:</td>
		<td><%if params["user"]%><%=text_field 'user','FirstName' ,:value=>params["user"]["FirstName"]%><%else%><%=text_field 'user','FirstName'%><%end%> </td>
		<td>LastName:</td>
		<td><%if params["user"]%><%=text_field 'user','LastName' ,:value=>params["user"]["LastName"]%><%else%><%=text_field 'user','LastName'%><%end%></td>
	</tr>
	<tr>
		<td>UserName:</td>
		<td><%if params["user"]%><%=text_field 'user','UserName' ,:value=>params["user"]["UserName"]%><%else%><%=text_field 'user','UserName'%><%end%></td>
		<td>Email:</td>
		<td><%if params["user"]%><%=text_field 'user','Email' ,:value=>params["user"]["Email"]%><%else%><%=text_field 'user','Email'%><%end%></td>
	</tr>
	<tr>
		<td>UserType:</td>
		<td>
			<select name="user[UserType]" id="user_UserType">
				<option value=""  <%begin%><%if params[:user][:UserType].to_s ==""%> selected="selected" <%end%><%rescue%><%end%>>All</option>
				<option value="p" <%begin%><%if params[:user][:UserType].to_s =="p"%> selected="selected" <%end%><%rescue%><%end%>>sellers</option>
				<option value="g" <%begin%><%if params[:user][:UserType].to_s =="g"%> selected="selected" <%end%><%rescue%><%end%>>agents</option>
				<option value="d" <%begin%><%if params[:user][:UserType].to_s =="d"%> selected="selected" <%end%><%rescue%><%end%>>developers</option>
			</select>
		</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="submit" name="Submit" value="Search" id="Submit"/></td>
	</tr>
</table>
</form>



<!--============================= users result  ==================================-->
<%if @users.length > 0%>
<br>
<table >
		<tr>
			<td width="20%"><strong>Name</strong></td>
			<td width="20%"><strong>UserName</strong></td>
			<td width="20%"><strong>Email</strong></td>
			<td width="20%"><strong>Phone</strong></td>
			<td width="10%"><strong>Status</strong></td>
			<td width="10%"><strong>Delete</strong></td>
		</tr>
<%for user in @users%>
	
		<tr>
			<td><a href="/admin/edituser/<%=user.id%>"><%=user.FirstName%>  <%=user.LastName%></a></td>
			<td><%=user.UserName%></td>
			<td><%=user.Email%></td>
			<td><%user.Phone%></td>
			<td><%if user.Deleted == '1'%>ready<%else%><span>Deleted</span><%end%></td>
			
			<td>
				<%if user.Deleted == '0'%>
					<%= link_to 'ReUser', { :action => 'reuser', :id => user.id }, :confirm => 'Are you sure?', :method => :post  ,:style=>"color:green;"%>
				<%else%>
					<%= link_to 'Delete', { :action => 'deleteuser', :id => user.id }, :confirm => 'Are you sure?', :method => :post ,:style=>"color:red;"%>
				<%end%>
			</td>
		</tr>
	
<%end%>


</table>
<%= will_paginate @users%>
<%end%>