
<h1>Dashboard</h1>

<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>
<%

ppaccount = Option.find(:all,:conditions=>"option_type = 'paypalaccount' and Value='account'")
if ppaccount.length > 0

%>
<a href="#" onclick="switchelement('paypalaccount');">Set Paypal Account</a>
<div id="paypalaccount" style="display:none;">
<%=form_tag("/admin/setpaypalprice")%>
<input type="hidden" name="id" id="ppaccount" value="<%=ppaccount[0].id%>"/>
<table>
	<tr>
		<td><b>Set Paypal Account:</b></td>
		<td><input type="text" name="option[Name]" id="option_Name" value="<%=ppaccount[0].Name%>" size="50"/></td>
		<td><input type="submit" value="  Upgrade Paypal Account  "/></td>
	</tr>
</table>

</form>	
<br />
</div>
<%end%>



<br />

<%

ppprice = Option.find(:all,:conditions=>"option_type = 'paypalprice' and Name='Paypal Price'")
if ppprice.length > 0

%>
<a href="#" onclick="switchelement('paypalprice');">Set Paypal Price</a>
<div id="paypalprice" style="display:none;">
<%=form_tag("/admin/setpaypalprice")%>
<input type="hidden" name="id" id="optionID" value="<%=ppprice[0].id%>"/>
<table>
	<tr>
		<td><b>Set Paypal Upgrade Listing Price for featured listing upgrade (6 months)</b></td>
		<td><input type="text" name="option[Value]" id="option_Value" value="<%=ppprice[0].Value.to_f%>"/></td>
		<td><input type="submit" value="  Upgrade Price  "/></td>
	</tr>
</table>

</form>	
<br />
</div>
<%end%>



<br />
<%

price = 600
ppmagazine = Option.find(:all,:conditions=>"option_type = 'paypalmagazine' and Name='Magazine Price'")
if ppmagazine.length > 0

%>
<a href="#" onclick="switchelement('magazineprice');">Set Magazine Price</a>
<div id="magazineprice" style="display:none;">
<%=form_tag("/admin/setpaypalprice")%>
<input type="hidden" name="id" id="magazineoption" value="<%=ppmagazine[0].id%>"/>
<table>
	<tr>
		<td><b>Set Paypal Upgrade Listing Price for add to magazine (6 months)</b></td>
		<td><input type="text" name="option[Value]" id="option_Value" value="<%=ppmagazine[0].Value.to_f%>"/></td>
		<td><input type="submit" value="  Upgrade Magazine Price  "/></td>
	</tr>
</table>

</form>	
<br /><br />
</div>
<%end%>



<table class="table3px" width="600">
	
	<tr>
		<td></td>
		<td><strong>Today</strong></td>
		<td><strong>Yesterday</strong></td>
		<td><strong>Last 7 Days</strong></td>
		<td><strong>Last 30 days</strong></td>
		<td><strong>Total</strong></td>
	</tr>
	
	<tr>
		<td><strong>Listings</strong></td>
		<td><%=@listingstoday.length%></td>
		<td><%=@listingsyesterday.length%></td>
		<td><%=@listingsthisweek.length%></td>
		<td><%=@listingsthismonth.length%></td>
		<td><%=@listings.length%></td>
	</tr>
	
	<tr>
		<td><strong>Messages</strong></td>
		<td><%=@messagetoday.length%></td>
		<td><%=@messageyesterday.length%></td>
		<td><%=@messagethisweek.length%></td>
		<td><%=@messagethismonth.length%></td>
		<td><%=@messages.length%></td>
	</tr>
	
	<tr>
		<td><strong>Users</strong></td>
		<td><%=@usertoday.length%></td>
		<td><%=@useryesterday.length%></td>
		<td><%=@userthisweek.length%></td>
		<td><%=@userthismonth.length%></td>
		<td><%=@users.length%></td>
	</tr>
	
	<tr>
		<td><strong>Businesses</strong></td>
		<td><%=@companytoday.length%></td>
		<td><%=@companyyesterday.length%></td>
		<td><%=@companythisweek.length%></td>
		<td><%=@companythismonth.length%></td>
		<td><%=@businesses.length%></td>
	</tr>
	<tr>
		<td><strong>ListingConnects</strong></td>
		<td><%=@listingconnecttoday.length%></td>
		<td><%=@listingconnectyesterday.length%></td>
		<td><%=@listingconnectthisweek.length%></td>
		<td><%=@listingconnectthismonth.length%></td>
		<td><%=@listingconnect.length%></td>
	</tr>
	<tr>
		<td><strong>AgentConnects</strong></td>
		<td><%=@agentconnecttoday.length%></td>
		<td><%=@agentconnectyesterday.length%></td>
		<td><%=@agentconnectthisweek.length%></td>
		<td><%=@agentconnectthismonth.length%></td>
		<td><%=@agentconnect.length%></td>
	</tr>
	
	<tr>
		<td><strong>LeadConnects</strong></td>
		<td><%=@leadconnecttoday.length%></td>
		<td><%=@leadconnectyesterday.length%></td>
		<td><%=@leadconnectthisweek.length%></td>
		<td><%=@leadconnectthismonth.length%></td>
		<td><%=@leadconnect.length%></td>
	</tr>
	
</table>






<div id="leadregister">
<%
	leadregist = User.find(:all,:conditions=>"leadstatus = 'p'",:order=>"FirstName asc")
	if leadregist.length > 0
%>
		<h1>New Lead Register</h1>
		
	<!--==================================================================================-->	
	<table cellpadding="5" cellspacing="5">
				<td><strong>Email</strong></td>
				<td><strong>Approve</strong>
				</td>
		<%for lr in leadregist%>
			<tr>
				<td><a href="/admin/edituser/<%=lr.id%>"><%=lr.Email%></a></td>
				<td>
					
					<span style="color:red;" id="yes<%=lr.id%>">				
					<%= link_to_remote "Yes",
							:update => "yes#{lr.id}",
							:loading=>"document.getElementById('apilisting#{lr.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'leadapprove', :id=> lr.id,:approve=>'yes' } %> 				

					</span>
				
				
					<span style="color:red;" id="no<%=lr.id%>">				
					<%= link_to_remote "No" ,
	                    	:update => "no#{lr.id}",
							:loading=>"document.getElementById('spam#{lr.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'leadapprove', :id=> lr.id,:approve=>'no' } %>

					</span>
					
				</td>
			</tr>


<%		end #end_for %>
	</table>
	<!--==================================================================================-->
	
	
	
<%	end #end_if_leadregist.length
%>
</div>







<div id="userupgrade">
<%
	levels = Levelshistories.find(:all,:conditions=>"Approve = '0'",:group=>"id_user",:order=>"id asc")
	if levels.length > 0
%>
		<h1>New users Upgrade</h1>
		
	<!--==================================================================================-->	
	<table cellpadding="5" cellspacing="5">
		<%for level in levels%>
			<tr>
				<td><a href="/admin/edituser/<%=level.id_user%>"><%=level.Email%></a></td>
				<td><%=level.created_at.strftime("%d/%m/%Y")%></td>
			</tr>


<%		end #end for %>
	</table>
	<!--==================================================================================-->
	
	
	
<%	end #end if levels.length
%>
</div>


