<h1>Lead Invoice </h1>
<strong><%=@user.FirstName%>  <%=@user.LastName%></strong><br>
You lead price is <%=@level.leadprice%> <br />
and you can get Free <%=@level.leadconnect%> Leads and <%=@level.listingconnect%> Listings  

<br /><br /><br />
<%=form_tag({:controller => "admin", :action => "leadinv"}, :method => "post")%>
	<input type="hidden" name="id" id="id" value="<%=@user.id%>" />
	Month:
		<select name="month" id="month">
			<%
				x = 1
				ddate = DateTime.now
				while x <= 6
				
			%>
			<option value="<%=ddate.strftime('01-%m-%Y')%>" <%if params[:month].to_s == ddate.strftime('01-%m-%Y') %> selected="selected" <%end%>  > <%=ddate.strftime("%B, %Y")%> </option>
			<%
				ddate = ddate - 1.month
				x = x + 1
				end
			%>
		</select>
			<input type="submit" value=" Submit "/>
</form>
<br /><br />

<table border=1 cellpadding=0 cellspacing=0>
	<tr>
		<td><strong>ID</strong></td>
		<td><strong>Type</strong></td>
		<td><strong>Date</strong></td>
		<td><b>Type</b></td>
		<td><b>For</b></td>
		<td><b>Location</b></td>
		<td><b>Price</b></td>
		<td><b>Bedrooms</b></td>
		<td><b>Bathrooms</b></td>
		<td><strong></strong></td>
	</tr>
	
	
	<%
	freelead = @level.leadconnect
	freelisting = @level.listingconnect
	total = 0
	tab = 0
	colortab = ""
	for l in @leadinvs
	if tab == 0
		colortab="bgcolor='#DBFBE8'"
		else
		colortab = ""
	end	
		if  l.conect.to_s =="1"
			product = Lead.find(l.id_lead)
			%>
			
	<tr <%=colortab%>>
		<td><%=l.id%></td>
		<td><%if l.conect.to_s =="1"%> Lead Conect <%else%>Listing Conect<%end%></td>
		<td><%=l.created_at.strftime("%d/%m/%Y")%></td>
		<td>
			<%
			
        listingtype =""
        if product.ltype.to_s != '0' and product.ltype.to_s != "" and product.ltype !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{product.ltype}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}"
              break
            end
          end
        end
			%>
			<%if listingtype == "" %>Any<%else%><%=listingtype%><%end%>
		</td>
		<td><%if product.salerent.to_s =="1"%> Sale <%elsif product.salerent.to_s =="0" %>Rent <%else%> Sale / Rent <%end%></td>
		<td><%=product.city%></td>
		<td><%=number_to_currency(product.sprice,:precision=>0,:unit=>"")%> - <%=number_to_currency(product.fprice,:precision=>0,:unit=>"")%></td>
		<td><%=product.sbed%> - <%=product.fbed%></td>
		<td><%=product.bath%></td>
		
			<%
			if freelead > 0
			 	freelead = freelead - 1
			%>
				<td align="center"><span> <i style="color:red;">Free</i></span>
			<%else
				total = total + @level.leadprice
			 %>
				<td align="right"><span> <%=number_to_currency(@level.leadprice ,:precision=>2,:unit=>"")%> </span>
			<%end%>
			
		</td>
	</tr>
			<%
		elsif  l.conect.to_s =="3"
			product = Agentconnect.find(l.id_lead)
			%>
			
	<tr <%=colortab%>>
		<td><%=l.id%></td>
		<td><%if l.conect.to_s =="1"%> Lead Conect <%else%>Listing Conect<%end%></td>
		<td><%=l.created_at.strftime("%d/%m/%Y")%></td>
		<td>
			<%
			
        listingtype =""
        if product.ttype.to_s != '0' and product.ttype.to_s != "" and product.ttype !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{product.ttype}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}"
              break
            end
          end
        end
			%>
			<%if listingtype == "" %>Any<%else%><%=listingtype%><%end%>
		</td>
		<td><%if product.salerent.to_s =="1"%> Sale <%elsif product.salerent.to_s =="0" %>Rent <%else%> Sale / Rent <%end%></td>
		<td><%=product.location%></td>
		<td><%=number_to_currency(product.sprice,:precision=>0,:unit=>"")%> - <%=number_to_currency(product.fprice,:precision=>0,:unit=>"")%></td>
		<td><%=product.sbed%> - <%=product.fbed%></td>
		<td><%=product.bath%></td>
		
			<%
			if freelead > 0
			 	freelead = freelead - 1
			%>
				<td align="center"><span> <i style="color:red;">Free</i></span>
			<%else
				total = total + @level.leadprice
			 %>
				<td align="right"><span> <%=number_to_currency(@level.leadprice ,:precision=>2,:unit=>"")%> </span>
			<%end%>
			
		</td>
	</tr>
	<%
		elsif  l.conect.to_s =="2"
			product = Product.find(l.id_listing)
		
	%>
	<tr <%=colortab%>>
		<td><%=l.id%></td>
		<td><%if l.conect.to_s =="1"%> Lead Conect <%else%>Listing Conect<%end%></td>
		<td><%=l.created_at.strftime("%d/%m/%Y")%></td>
		<td>
			<%
			
        listingtype =" "
        if product.Type.to_s != '0' and product.Type.to_s != "" and product.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{product.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}"
              break
            end
          end
        end
			%><%=listingtype%>
		</td>
		<td><%if product.salerent.to_s =="1"%> Sale <%elsif product.salerent.to_s =="0" %>Rent <%else%> Sale / Rent <%end%></td>
		<td><%=product.City%></td>
		<td><%=	number_to_currency(product.Price,:precision=>0,:unit=>"")%></td>
		<td><%=product.Bed%></td>
		<td><%=product.Bath%></td>
		
			<%
			if freelisting > 0
			 	freelisting = freelisting - 1
			%>
				<td align="center"><span> <i style="color:red;">Free</i></span>
			<%else 
				total = total + @level.leadprice
			%>
				<td align="right"><span> <%=number_to_currency(@level.leadprice ,:precision=>2,:unit=>"")%></span>
			<%end%>
			
		</td>
	</tr>
	
	<%
	end
		tab = tab + 1
		if tab == 2
		tab = 0
		end
	end
	%>
	
	
	<tr>
		<td colspan="9" align="right"> Total:</td>
		<td>
			
			<%=number_to_currency(total ,:precision=>2,:unit=>"")%>
		</td>
	</tr>
</table>