

<h1>Lead & Listing Users & Invoices</h1>
<table border="0">
	<tr>
		<td><strong>ID</strong></td>
		<td><strong>Name</strong></td>
		<td><strong>Email</strong></td>
		<td><strong>Phone</strong></td>
		<td><strong>Status</strong></td>
		<td><strong></strong></td>
		<td><strong><%=DateTime.now.strftime("%b, %Y")%></strong></td>
		<td><strong><%=(DateTime.now-1.month).strftime("%b, %Y")%></strong></td>
		<td><strong><%=(DateTime.now-2.month).strftime("%b, %Y")%></strong></td>
		<td><strong><%=(DateTime.now-3.month).strftime("%b, %Y")%></strong></td>
		<td><strong><%=(DateTime.now-4.month).strftime("%b, %Y")%></strong></td>
		<td><strong><%=(DateTime.now-5.month).strftime("%b, %Y")%></strong></td>
	</tr>
	
	
	<%for u in @leads %>
	
	<tr>
		<td><%=u.id%></td>
		<td><%=u.FirstName%>  <%=u.LastName%></td>
		<td><%=u.Email%></td>
		<td><%=u.Phone%></td>
		<td>
			<div id="status<%=u.id%>">
			<%if u.leadstatus.to_s == "1"%>    <span style='color:green;'> Approved </span>
			<%elsif u.leadstatus.to_s == "n"%> <span style='color:red;'> No Interest Yet </span>
			<%elsif u.leadstatus.to_s == "p"%> <span style='color:green;'> Pending Approval </span>
			<%elsif u.leadstatus.to_s == "c"%> <span style='color:red;'> Canceled </span>
			<%elsif u.leadstatus.to_s == "d"%> <span style='color:red;'> Deleted </span>
			<%end%>
			</div>
		</td>
		<td>&nbsp;&nbsp;
			<a href="/admin/leadinv/<%=u.id%>" target="_blank">INV</a>		
			<%= link_to_remote "Approve",
			        :update => "command_#{u.id}",
					:loading =>"javascript:  document.getElementById('processing#{u.id}').style.display='inline';",								
					:complete =>"javascript: document.getElementById('processing#{u.id}').style.display='none';",
			        :url => { :controller => "admin",:action => "updateleaduser" ,:id=>u.id,:approve=>"1"} %>
			<%= link_to_remote "Cancel",
			        :update => "command_#{u.id}",
					:loading =>"javascript:  document.getElementById('processing#{u.id}').style.display='inline';",								
					:complete =>"javascript: document.getElementById('processing#{u.id}').style.display='none';",
			        :url => { :controller => "admin",:action => "updateleaduser" ,:id=>u.id,:approve=>"c"} %>
			<%= link_to_remote "Delete",
			        :update => "command_#{u.id}",
					:loading =>"javascript:  document.getElementById('processing#{u.id}').style.display='inline';",								
					:complete =>"javascript: document.getElementById('processing#{u.id}').style.display='none';",
			        :url => { :controller => "admin",:action => "updateleaduser" ,:id=>u.id,:approve=>"d"} %>
					
			<img id="processing<%=u.id%>" style="display:none;" src="/images/loading.gif"/>			
			<span id="command_<%=u.id%>"></span>
			
		</td>
		<td>
					<!--/ *****************************************************************  /-->
					<%
					
    begin
		total = 0
      level = Subscription.find(u.level)	  
		freelead = level.leadconnect
		freelisting = level.listingconnect
	
        sdate = (DateTime.now.strftime("01-%m-%Y")).to_date
        fdate = sdate + 1.month
                                                                                        # and conect != '3'
      leadinvs = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '1' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  listings = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '3' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  if leadinvs[0].leadcount.to_i > freelead.to_i
	  	total = total + (leadinvs[0].leadcount.to_i - freelead.to_i)
	  end
	  
	  if listings[0].leadcount.to_i > freelisting.to_i
	  	total = total + (listings[0].leadcount.to_i - freelisting.to_i)
	  end
	  
	  total = total.to_f * level.leadprice.to_f
    rescue
     total = 0
    end
	%>
		<span <%if total <= 0 %> style="color:#666;"<%end%> ><%=number_to_currency(total,:precision=>2,:unit=>"") %></span>
					<!--/ *****************************************************************  /-->
		</td>
		<td>
					<!--/ *****************************************************************  /-->
					<%
					
    begin
		total = 0
      level = Subscription.find(u.level)	  
		freelead = level.leadconnect
		freelisting = level.listingconnect
	
        sdate = ((DateTime.now-1.month).strftime("01-%m-%Y")).to_date
        fdate = sdate + 1.month
     
                                                                                        # and conect != '3'
      leadinvs = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '1' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  listings = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '3' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  if leadinvs[0].leadcount.to_i > freelead.to_i
	  	total = total + (leadinvs[0].leadcount.to_i - freelead.to_i)
	  end
	  
	  if listings[0].leadcount.to_i > freelisting.to_i
	  	total = total + (listings[0].leadcount.to_i - freelisting.to_i)
	  end
	  
	  total = total.to_f * level.leadprice.to_f
    rescue
     total = 0
    end
	%>
		<span <%if total <= 0 %> style="color:#666;"<%end%> ><%=number_to_currency(total,:precision=>2,:unit=>"") %></span>
					<!--/ *****************************************************************  /-->
		</td>
		<td>
					<!--/ *****************************************************************  /-->
					<%
					
    begin
		total = 0
      level = Subscription.find(u.level)	  
		freelead = level.leadconnect
		freelisting = level.listingconnect
	
        sdate = ((DateTime.now-2.month).strftime("01-%m-%Y")).to_date
        fdate = sdate + 1.month
     
                                                                                        # and conect != '3'
      leadinvs = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '1' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  listings = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '3' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  if leadinvs[0].leadcount.to_i > freelead.to_i
	  	total = total + (leadinvs[0].leadcount.to_i - freelead.to_i)
	  end
	  
	  if listings[0].leadcount.to_i > freelisting.to_i
	  	total = total + (listings[0].leadcount.to_i - freelisting.to_i)
	  end
	  
	  total = total.to_f * level.leadprice.to_f
    rescue
     total = 0
    end
	%>
		<span <%if total <= 0 %> style="color:#666;"<%end%> ><%=number_to_currency(total,:precision=>2,:unit=>"") %></span>
					<!--/ *****************************************************************  /-->
		</td>
		<td>
					<!--/ *****************************************************************  /-->
					<%
					
    begin
		total = 0
      level = Subscription.find(u.level)	  
		freelead = level.leadconnect
		freelisting = level.listingconnect
	
        sdate = ((DateTime.now-3.month).strftime("01-%m-%Y")).to_date
        fdate = sdate + 1.month
     
                                                                                        # and conect != '3'
      leadinvs = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '1' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  listings = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '3' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  if leadinvs[0].leadcount.to_i > freelead.to_i
	  	total = total + (leadinvs[0].leadcount.to_i - freelead.to_i)
	  end
	  
	  if listings[0].leadcount.to_i > freelisting.to_i
	  	total = total + (listings[0].leadcount.to_i - freelisting.to_i)
	  end
	  
	  total = total.to_f * level.leadprice.to_f
    rescue
     total = 0
    end
	%>
		<span <%if total <= 0 %> style="color:#666;"<%end%> ><%=number_to_currency(total,:precision=>2,:unit=>"") %></span>
					<!--/ *****************************************************************  /-->
		</td>
		<td>
					<!--/ *****************************************************************  /-->
					<%
					
    begin
		total = 0
      level = Subscription.find(u.level)	  
		freelead = level.leadconnect
		freelisting = level.listingconnect
	
        sdate = ((DateTime.now-4.month).strftime("01-%m-%Y")).to_date
        fdate = sdate + 1.month
     
                                                                                        # and conect != '3'
      leadinvs = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '1' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  listings = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '3' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  if leadinvs[0].leadcount.to_i > freelead.to_i
	  	total = total + (leadinvs[0].leadcount.to_i - freelead.to_i)
	  end
	  
	  if listings[0].leadcount.to_i > freelisting.to_i
	  	total = total + (listings[0].leadcount.to_i - freelisting.to_i)
	  end
	  
	  total = total.to_f * level.leadprice.to_f
    rescue
     total = 0
    end
	%>
		<span <%if total <= 0 %> style="color:#666;"<%end%> ><%=number_to_currency(total,:precision=>2,:unit=>"") %></span>
					<!--/ *****************************************************************  /-->
		</td>
		<td>
					<!--/ *****************************************************************  /-->
					<%
					
    begin
		total = 0
      level = Subscription.find(u.level)	  
		freelead = level.leadconnect
		freelisting = level.listingconnect
	
        sdate = ((DateTime.now-5.month).strftime("01-%m-%Y")).to_date
        fdate = sdate + 1.month
     
                                                                                        # and conect != '3'
      leadinvs = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '1' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  listings = Leadhistories.find(:all,:select=>"count(id) as leadcount",:conditions=>"id_user = '#{u.id}' and checked = '1' and conect = '3' and created_at >= '#{sdate}' and created_at < '#{fdate}' ",:order =>"conect asc, created_at desc")
	  if leadinvs[0].leadcount.to_i > freelead.to_i
	  	total = total + (leadinvs[0].leadcount.to_i - freelead.to_i)
	  end
	  
	  if listings[0].leadcount.to_i > freelisting.to_i
	  	total = total + (listings[0].leadcount.to_i - freelisting.to_i)
	  end
	  
	  total = total.to_f * level.leadprice.to_f
    rescue
     total = 0
    end
	%>
		<span <%if total <= 0 %> style="color:#666;"<%end%> ><%=number_to_currency(total,:precision=>2,:unit=>"") %></span>
					<!--/ *****************************************************************  /-->
		</td>
	</tr>
	
	<%end%>
	
	
</table>
<%=will_paginate @leads%>