<script type="text/javascript" src="/javascripts/thickbox/jquery-latest.pack.js"></script>
<script type="text/javascript" src="/javascripts/thickbox/thickbox-compressed.js"></script>
<link rel="stylesheet" href="/javascripts/thickbox/thickbox.css" type="text/css" media="screen" />



<h1>Manage Magazine Listings</h1><br>


<%if @fdate !=""%><h2><%=@fdate.strftime("%B, %Y")%></h2><%end%>
<form action="/admin/magazines" method="post">
	<select name="mmonth" id="mmonth" style="width:120px" onchange = 'this.form.submit()'>
		<%
			if DateTime.now > DateTime.now.strftime("25-%m-%Y").to_date
		        mm = DateTime.now.strftime("%m").to_i + 2
		        yy = DateTime.now.strftime("%Y")
		        if mm.to_i == 13
		          mm = 1
		          yy = yy.to_i + 1
				elsif mm.to_i == 14
				 mm = 2
				 yy = yy.to_i + 1
		        end
		        fdate = ("25-#{mm}-#{yy}").to_date
		      else
		        mm = DateTime.now.strftime("%m").to_i + 1
		        yy = DateTime.now.strftime("%Y")
		        if mm.to_i == 13
		          mm = 1
		          yy = yy.to_i + 1
		        end
		        fdate = ("25-#{mm}-#{yy}").to_date
		      end
		x = 1
		%>
		<%
			while x <= 7
		%>
				<option value="<%=fdate.strftime('25-%m-%Y')%>" <%if fdate.strftime('%Y%m%d') == session[:mmonth].to_date.strftime("%Y%m%d")%> selected = 'selected' <%end%>><%=fdate.strftime("%b, %Y")%></option>
		<%
				mm = fdate.strftime("%m").to_i - 1
		        yy = fdate.strftime("%Y")
		        if mm.to_i == 0
		          mm = 12
		          yy = yy.to_i - 1
		        end
		        fdate = ("25-#{mm}-#{yy}").to_date
				x = x + 1
			end
		%>
	</select>
</form>


<br>



<%if @magazines ==""%>
	<span style="color:red;">No Data</span>
<%else%>
	<%if @magazines.length < 1%>
		<span style="color:red;">No Data</span>
	<%else%>
			<table width="100%">
				<tr>
					<td><strong>IDListing</strong></td>
					<td><strong>Template</strong></td>
					<td><strong>Images</strong></td>
					<td><strong>Detail</strong></td>
					<td><strong>Price</strong></td>
					<td><strong>Rent Price</strong></td>
					<td><strong>Bed</strong></td>
					<td><strong>Bath</strong></td>
					<td><strong>Phone</strong></td>
					<td><strong>Email</strong></td>
					<td><strong>URL</strong></td>
					<td><strong>Logo</strong></td>
					<td><strong>Date</strong></td>
					<td></td>
				</tr>
				<tr>
				<td colspan="20"><hr size="1" style="color:#ccc;"><br></td>
				</tr>
				<%
					allprice = 0
					l_user = ""
				%>
				<%for magz in @magazines%>
							<%
							texterror=""
							mylogo = ""
							fulllogo=""
							begin
								if magz.logo.to_i > 0
									logo = Businesslogo.find(magz.logo)
									mylogo = logo.public_filename(:small)
									fulllogo = logo.public_filename()
								end
							rescue
							end
							%>
					<%if l_user.to_s != magz.id_user.to_s and l_user !=""%>
						<tr><td colspan="100"><br></td></tr>
						<tr>
							<td colspan="11"></td>
							<td align="right"><strong>Total:</strong></td>
							<td align="right"><%=number_to_currency(allprice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%></td>
							<td></td>
						</tr>
						<tr><td colspan="100"><hr size="1" style="color:#ccc;"><br></td></tr>
						<%allprice = 0%>
					<%end%>
					<tr>
						<td valign="top"><a href="/rethai/<%=magz.id_product%>"><%=magz.id_product%></a></td>
						<td valign="top">
							<a href="/admin/popupmagazine/<%=magz.id%>?keepThis=true&TB_iframe=true&width=490&height=350" class="thickbox">
								<%begin%>
								<%template = Magazineoption.find(magz.id_template)%><%=template.name%>
								<%
									rescue
										templates = Magazineoption.find(:all)
										for t in templates
											template = t%>
											<small style='color:red;'>*not Template</small>
											<%
											break
										end
									end
								%>
							</a>
						</td>
						<td valign="top">
							<table>
								<tr>
									
								<%
									imgid = ""
									str = magz.id_photo
									str = str.split(':').collect{|e|e.to_i} 
									i = 0
									while i <= str.length
										if str[i].to_i > 0
											imgid = imgid + " id = '#{str[i].to_i}' or"
										end
										i = i + 1
									end
								imgid = imgid.slice(0,imgid.length - 2)
								if imgid != nil
								images = Images.find(:all,:conditions=>"#{imgid}")
								%>
								<%#imgid%>
								<%
								i = 1
								img_tag = ""
								for img in images
											strtype = img.photo_file_name
							                strtype = strtype.slice(strtype.index(".").to_i + 1,strtype.length)	
								img_tag = img_tag + "<img src=\"#{img.photo.url(:thumb)}\" width=\"80\" height=\"80\" />"
								%>
									<td>
										<a href="<%=img.photo.url()%>" target="_blank"><img src="<%=img.photo.url(:thumb)%>" width="50" height="50" /></a>
									</td>
								<%
								i = i + 1
								end
								end
								%>
								</tr>
							</table>	
							
						</td>
						<td valign="top"><%=magz.details%></td>
						<td valign="top"><%=number_to_currency(magz.price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
						<td valign="top"><%=number_to_currency(magz.rprice,:unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
						<td valign="top"><%=magz.bed%></td>
						<td valign="top"><%=magz.bath%></td>
						<td valign="top"><%=magz.phone%></td>
						<td valign="top"><%=magz.email%></td>
						<td valign="top"><%=magz.url%></td>
						<td valign="top"><%if magz.logo.to_i > 0%>
              				<a href="<%=fulllogo%>" target="_blank"><img src="<%=mylogo%>" height="30"/>  </a>
							<%end%>
						</td>
						<td valign="top"><%=magz.month.strftime("%b, %y")%></td>
						<td width="180px" valign="top">
							<%if magz.pay.to_s == "1"%> <span style="color:green;">Paid</span>
							<%elsif magz.pay.to_s =="0"%> 		
								<span id="pay_<%=magz.id%>" style="color:red;">					
									<%= link_to_remote "Pending",
                                                 :update => "pay_#{magz.id}",
                                                 :loading =>" document.getElementById('loading').style.display='inline';",
                                                 :complete =>"document.getElementById('loading').style.display='none';  ",
												 :confirm=>"Are your sure to pay by admin(#{number_to_currency(template.price, :unit => '', :separator => '.', :delimiter => ',', :format => '%n %u',:precision =>0)})?",
                                                 :url => { :controller => "admin",
                                                 :action => "paymagazine" ,:id=>magz.id}%>
								</span> 
												 
							<%else%><%end%>	
							<!--,nextmonth-->	
							<span id="nextmonth_<%=magz.id%>">
								
								<%= link_to 'NextMonth', { :controller => "admin",:action => "move2nextmonth", :id => magz.id }, :confirm => "Are your sure to move to next month(#{number_to_currency(template.price, :unit => '', :separator => '.', :delimiter => ',', :format => '%n %u',:precision =>0)})?", :method => :post %>
									<%#= link_to_remote "NextMonth",
                                                 :update => "nextmonth_#{magz.id}",
                                                 :loading =>" document.getElementById('loading').style.display='inline';",
                                                 :complete =>"document.getElementById('loading').style.display='none';  ",
												 :confirm=>"Are your sure to move to next month(#{number_to_currency(template.price, :unit => '', :separator => '.', :delimiter => ',', :format => '%n %u',:precision =>0)})?",
                                                 :url => { :controller => "admin",
                                                 :action => "move2nextmonth" ,:id=>magz.id}%>
							</span>
							<span id="cancel_<%=magz.id%>" style="display:inline;">
									<%if magz.status.to_s =="c"%>
										<b style="color:red;">
										<%= link_to_remote "Canceled",
	                                                 :update => "cancel_#{magz.id}",
	                                                 :loading =>" document.getElementById('loading').style.display='inline';",
	                                                 :complete =>"document.getElementById('loading').style.display='none';  ",
													 :confirm=>"Are your sure roll back cancel(#{number_to_currency(template.price, :unit => '', :separator => '.', :delimiter => ',', :format => '%n %u',:precision =>0)})?",
	                                                 :url => { :controller => "admin",
	                                                 :action => "rollbackmagz" ,:id=>magz.id}%>
										</b>
									<%else%>
									<%= link_to_remote "Cancel",
                                                 :update => "cancel_#{magz.id}",
                                                 :loading =>" document.getElementById('loading').style.display='inline';",
                                                 :complete =>"document.getElementById('loading').style.display='none';  ",
												 :confirm=>"Are your sure cancel(#{number_to_currency(template.price, :unit => '', :separator => '.', :delimiter => ',', :format => '%n %u',:precision =>0)})?",
                                                 :url => { :controller => "admin",
                                                 :action => "cancelmagz" ,:id=>magz.id}%>
									<%end%>			 
							</span>		
							
							
							
							<img src="/images/loading.gif" id="loading" style="display:none;"/>
						</td>
					</tr>
					<%
						l_user = magz.id_user
						if magz.pay.to_s !="1"
							allprice = allprice + template.price.to_i
						end
					%>
				<%end%> <!-- end for magz in @magazines-->
						<tr><td colspan="100"><br></td></tr>
						<tr>
							<td colspan="11"></td>
							<td align="right"><strong>Total:</strong></td>
							<td align="right"><%=number_to_currency(allprice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%></td>
							<td></td>
						</tr>
						<tr><td colspan="100"><hr size="1" style="color:#ccc;"><br></td></tr>
			</table>
	
	<%= will_paginate @magazines%>
	<%end%> <!--end @magazines.length-->

<%end%><!--end if @magazines-->



</div>