

<html>
	<head>
		<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>		
		<script type="text/javascript">

function load(lat,lng){
	var map;
	//alert('location:' + document.getElementById(location).value);
	if (GBrowserIsCompatible()) {

		
		// create the map
		
		map = new GMap2(document.getElementById("map"));
		var mt = map.getMapTypes();
      for (var i=0; i<mt.length; i++) {
        mt[i].getMinimumResolution = function() {return 8;}
        mt[i].getMaximumResolution = function() {return 18;}
      }
	  
		map.enableDoubleClickZoom();
		map.setMapType(G_HYBRID_MAP);
		map.addControl(new GMapTypeControl());
		map.addControl(new GLargeMapControl());
		
		

		
		
		
		geocoder = new GClientGeocoder();
			strlocation = "pattaya, thailand";
		geocoder.getLatLng(strlocation, function(point){
			if (point) {
				map.setCenter(point, 14);
				var marker = new GMarker(point,{draggable: true});
				 GEvent.addListener(marker, "dragstart", function() {
					  map.closeInfoWindow();
					});
			
					GEvent.addListener(marker, "dragend", function(latlng) {
					  	marker.openInfoWindowHtml("<br> "+latlng.lat()+", "+latlng.lng());				
					  
						document.getElementById(lat).value=latlng.lat();
						document.getElementById(lng).value=latlng.lng();
						
						map.setCenter(latlng,map.getZoom());
						
					});
	
				map.addOverlay(marker);
			}else{
				map.setCenter(new GLatLng(12.9357, 100.889), 14);
			}
		});

			


		
		
	}
	
	else {
		alert("Sorry, the Google Maps API is not compatible with this browser");
	}
	

}

function showAddress(address, lat, lng){
//			alert(address);
			if(document.getElementById('name').value==""){
				address = document.getElementById('province').value + " thailand";
			}else{
				address = document.getElementById('name').value + " thailand";
			}
				
			if (geocoder) {
				geocoder.getLatLng(address, function(point){
					if (!point) {
//						alert(address + " not found");
						document.getElementById(lng).value = "0";
						document.getElementById(lat).value = "0";
						map = new GMap2(document.getElementById("map"));
						map.setCenter(new GLatLng(12.9357,100.88912), 14);
						map.addControl(new GOverviewMapControl());
						map.enableDoubleClickZoom();
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
						
						
						GEvent.addListener(map, "click", function(overlay, latlng){	
							var marker = new GMarker(latlng,{draggable: true})
							map.addOverlay(marker);
							document.getElementById(lng).value = latlng.lng();
							document.getElementById(lat).value = latlng.lat();
							inputForm.innerHTML = '\n<fieldset style="width:150px;">' +
							'\n<legend>New Marker</legend>' +
							'\n<b>longitude</b>:' +lng +'' +
							'\n<b>latitude</b>:' +lat +'"/>' +
							'\n</fieldset>';
							map.openInfoWindow(latlng, inputForm);
						});
						
						
						
					//        geocoder = new GClientGeocoder();				
					}
					else {
//									alert(address + " yes, have");
						map = new GMap2(document.getElementById("map"));
						map.addControl(new GOverviewMapControl());
						map.enableDoubleClickZoom();
						//        		map.setMapType(G_SATELLITE_MAP);
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
						
						geocoder = new GClientGeocoder();
						
						
						map.setCenter(point, 14);
						var marker = new GMarker(point,{draggable: true});
						 GEvent.addListener(marker, "dragstart", function() {
							  map.closeInfoWindow();
							});
			
					GEvent.addListener(marker, "dragend", function(latlng) {
					  	marker.openInfoWindowHtml("<br> "+latlng.lat()+", "+latlng.lng());				
					  
						document.getElementById(lat).value=latlng.lat();
						document.getElementById(lng).value=latlng.lng();
						
						map.setCenter(latlng,map.getZoom());
						
					});
					
						map.addOverlay(marker);
						GEvent.addListener(marker, 'click',
									function() {
									marker.openInfoWindowHtml(address);
									});
						map.setZoom(14);
						document.getElementById(lng).value = point.lng();
						document.getElementById(lat).value = point.lat();
					}
				});
			}
		}

function addeditform(formtype,id,lat,lng,mt,provincename){
	document.getElementById('formtype').value=formtype;
	document.getElementById('id').value=id;
	document.getElementById('addeditform').style.display="block";
//	document.getElementById('shadow').style.display="block";
	if(formtype=="add"){
		document.getElementById('addform').style.display="block";
		document.getElementById('editform').style.display="none";
		document.getElementById('headertext').innerHTML="<h1>Add Province</h1>";
	}else{
		document.getElementById('addform').style.display="none";
		document.getElementById('editform').style.display="block";
		
		document.getElementById('province').value=provincename;
		document.getElementById('lat').value=lat;		
		document.getElementById('lng').value=lng;
		document.getElementById('mt').value=mt;
		document.getElementById('headertext').innerHTML="<h1>Edit Province</h1>";
		showAddress('','lat','lng');
	}
}

</script>

	</head>
	<body onload="load('lat','lng');">
		
		<h1>Manages Provinces</h1>
		<br>
		<a href="#addeditform" onclick="addeditform('add','0','0','0','0','0');">Add Province</a>
		<a href="/admin/thaiprovince">Thai Province</a>
		<br>
		<table>
			<tr>
				<td><strong>Province</strong></td>
				<td ><strong>lat</strong></td>
				<td><strong>lng</strong></td>
				<td><strong>Km</strong></td>
				<td width="100" align="right"></td>
			</tr>
			<tr>
				<td colspan=10><hr></td>
			</tr>
		<%for p in @provinces%>
			<tr>
				<td><%=p.name%></td>
				<td ><%=p.lat%></td>
				<td><%=p.lng%></td>
				<td><%=p.mt%></td>
				<td width="100" align="right"><a href="#addeditform" onclick="addeditform('edit','<%=p.id%>','<%=p.lat%>','<%=p.lng%>','<%=p.mt%>','<%=p.name%>');">Edit</a></td>
			</tr>
		<%end%>
		</table>
		
		<%= will_paginate @provinces%><br>
		<a href="#addeditform" onclick="addeditform('add','0','0','0','0','0');">Add Province</a>
		<br><br>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none';  document.getElementById('addeditform').style.display='none';" >

	</div>
		
		<div id="addeditform">
		<div id="headertext" > <h1>Edit Province</h1></div>
		<%= form_remote_tag(:update => "kendio",
								:url => { :controller=>'admin',:action => 'updatelatlng'}) %>
		
		<input type="hidden" id="formtype" name="formtype" value="edit"/>
		<input type="hidden" id="id" name="id" value="0"/>
		
								
			<div id="kendio" style="color:green;"></div>					
		<table>
			
			<tr>
				<td>province:</td>
				<td>
					<div id="editform" style="display:block;">
					  <select name="province" id="province" onchange="javascript:document.getElementById('address').value=this.value+', thailand'; showAddress(this.value+', thailand','lat','lng');" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
							   <%listingtypes = Province.find(:all,:order=>"name asc")%>
							   <option value="Pattaya">Pattaya</option>
							   <%for lt in listingtypes%>
							   		<option value="<%=lt.name%>"><%=lt.name%></option>
							   <%end%>
					</select>
					</div>
					
					
					<div id="addform" style="display:none;">
						<input type="text" name="name" id="name" value="" onblur="javascript: document.getElementById('address').value=this.value+', thailand'; showAddress('','lat','lng');" />
					</div>
				</td>
			</tr>
			<tr>
				<td>lat:</td>
				<td><input type="text" name="lat" id="lat" value=""  /></td>
			</tr>
			
			<tr>
				<td>lng:</td>
				<td><input type="text" name="lng" id="lng" value=""  /></td>
			</tr>
			
			<tr>
				<td>radius:</td>
				<td><input type="text" name="mt" id="mt" value="0" />km</td>
			</tr>
			
			<tr>
				<td></td>
				<td><input type="submit" name="submit" id="submit" value="submit"/></td>
			</tr>
		</table>
		</form>
		
		
		
		<br><br>
		<input type="hidden" style="width: 600px" name="temp" id="temp" value=""/>
  <form action="#" onsubmit="showAddress(this.address.value,'lat','lng'); return false;">
      <p>
        <input type="text" style="width: 600px" name="address" id="address" readonly="readonly" value=""  onchange="showAddress(this.value,'lat','lng'); return false;" />

     <input type="submit"  style="width: 85px; height: 30px" value="Search" />
      </p>
    </form>
		<div id="map" style="width:800px;	height:650px; 	z-index:1;	background-color: #999999;"></div>    
		
		
		
		
	</div> <!--==============  end addeditform ======================== -->		   
	</body>
</html>