
  <!-- calendar stylesheet -->
  <link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />

  <!-- main calendar program -->
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar.js"></script>

  <!-- language for the calendar -->
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/lang/calendar-en.js"></script>

  <!-- the following script defines the Calendar.setup helper function, which makes
       adding a calendar a matter of 1 or 2 lines of code. -->
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar-setup.js"></script>


<h1>Offline Listings.</h1>

<form name="newuser" id="newuser" action="/admin/makeoffline">
<table>
	<tr>
		<td><b>Before Date:</b></td>
		<td><input type="text" name="offlindate" id="offlindate" value=""/><button type="reset" id="f_trigger_b">...</button><small style="color:red;">YYYY-MM-dd</small></smLL></td>
	</tr>
	<tr><td colspan="2"><input type="submit" value="   Submit   "></td></tr>
</table>

<script type="text/javascript">
    Calendar.setup({
        inputField     :    "offlindate",      // id of the input field
        ifFormat       :    "%Y-%m-%d %H:%M:00",       // format of the input field
        showsTime      :    true,            // will display a time selector
        button         :    "f_trigger_b",   // trigger for the calendar (button ID)
        singleClick    :    false,           // double-click mode
        step           :    1                // show all years in drop-down boxes (instead of every other year as default)
    });
</script>

</form>