
<h1>Manage Messages</h1>

<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>

<%
mysort = "asc"
if params[:sort].to_s =="asc"
	mysort = "desc"
end
%>
<table class="admintable-messages table3px">
	<tr>
		<td><strong> <a href="/admin/messages?field=id&sort=<%=mysort%>">MessageID </a></strong></td>
		<td><strong> <a href="/admin/messages?field=id_product&sort=<%=mysort%>">ProductID </a></strong></td>
		<td><strong> <a href="/admin/messages?field=Name&sort=<%=mysort%>">CustomerName </a></strong></td>
		<td><strong> <a href="/admin/messages?field=Email&sort=<%=mysort%>">From </a></strong></td>
		<td><strong> <a href="/admin/messages?field=toEmail&sort=<%=mysort%>">Recipient </a></strong></td>
		<td><strong> <a href="/admin/messages?field=created_on&sort=<%=mysort%>">CreateDate </a> </strong></td>
		<td><strong>Message</strong></td>
		<td><strong></strong></td>
	</tr>	
	<%for messages in @messages %>
	<tr>

		<td><%=messages.id%></td>
		<td><a href="/rethai/show?id=<%=messages.id_product%>" target="_blank"><%=messages.id_product%></a></td>
		<td><%=messages.Name%></td>
		<td><%=messages.Email%></td>
		<td>
			<%
				if messages.toEmail.to_s =="" or messages.toEmail == nil
					begin
					user = User.find(messages.id_agent)
					%><%=user.Email%><%
					rescue
					end
				else	
					%><%=messages.toEmail%><%
				end
			%>			
		</td>
		<td><%=messages.created_on.strftime("%d/%m/%Y")%></td>
		<td><%=messages.Message%></td>
		<td>
			<div id="command_<%=messages.id%>">
			<%= link_to_remote "<span style='color:red;'>Delete</span>",
			                  :update => "command_#{messages.id}",
							  :confirm=>"Are you sure to Delete Message ##{messages.id}",
			                  :url => { :controller => "admin",:action => "deletemessage" ,:id=>messages.id} %>
			</div>				  
		</td>
	</tr>
	<%end%>
</table>	
	<br>
<%= will_paginate @messages %><br>
	