						<%
						begin
magz = Magazine.find(params[:id])

							mylogo = ""
							fulllogo=""
							if magz.logo.to_i > 0
								logo = Businesslogo.find(magz.logo)
								mylogo = logo.public_filename(:small)
								fulllogo = logo.public_filename()
							end
						imgid = ""
									str = magz.id_photo
									str = str.split(':').collect{|e|e.to_i} 
									i = 0
									while i <= str.length
										if str[i].to_i > 0
											imgid = imgid + " id = '#{str[i].to_i}' or"
										end
										i = i + 1
									end
								imgid = imgid.slice(0,imgid.length - 2)
								if imgid != nil
								images = Images.find(:all,:conditions=>"#{imgid}")
								i = 1
								img_tag = ""
								for img in images
											strtype = img.photo_file_name
							                strtype = strtype.slice(strtype.index(".").to_i + 1,strtype.length)	
															#"http://files.rethai.com"
								img_tag = img_tag + "<img src=\"#{img.photo.url(:thumb)}\" width=\"80\" height=\"80\" />"
								
								i = i + 1
								end
								end

						%>
						
						<table>
								<tr>
									<td colspan="10"><%=img_tag%></td>
								</tr>
								<tr>
									<td colspan="10">
										<%if mylogo !=""%><%= image_tag(mylogo) %><br><br><%end%>
										<%if magz.id_template.to_s == "1"%><%else%><strong>Description:</strong><br><%=magz.details%><%end%>
									</td>
								</tr>
								<tr><td colspan="10"><hr><br></td></tr>
								
								<tr>
									<td><strong>Price:</strong></td>
									<td><%=number_to_currency(magz.price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
									<td><strong>Email:</strong></td>
									<td><%=magz.email%></td>
								</tr>
								<tr>
									<td><strong>Rent Price:</strong></td>
									<td><%=number_to_currency(magz.rprice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
									<td><strong>Phone:</strong></td>
									<td><%=magz.phone%></td>
								</tr>
								<tr>
									<td><strong>Bedrooms:</strong></td>
									<td><%if magz.bed.to_i == 0%>Studio<%else%><%=magz.bed%><%end%></td>
									<td><strong>Website:</strong></td>
									<td><%=magz.url%></td>
								</tr>
								<tr>
									<td><strong>Bathrooms:</strong></td>
									<td><%=magz.bath%></td>
									<td><strong></strong></td>
									<td></td>
								</tr>
								
							</table>
							
							<%
rescue
%>
<span style="color:red;">Please try again</span>
<%
end
%>