<script type="text/javascript" src="/javascripts/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/javascripts/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="/javascripts/lightbox/lightbox.css" type="text/css" media="screen" />




<h1>Quality Control</h1>

<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>

<table border="0" class="table3px">
	<tr>
		<td width="50px">ID</td>
		<td width="50px">PartnerID</td>
		<td width="50px">ID_user</td>
		<td width="70px">Images</td>
		<td >Title</td>
		<td >Location</td>
		<td>Details</td>
		<td>Bed</td>
		<td>Bath</td>
		<td>Price</td>
		<td>Rent Price</td>
		<td>Create</td>
		<td>Edit</td>		
		<td width="30px">Delete</td>
		<td width="50px">Approve</td>
		<td width="50px">Spam!</td>
	</tr>
	<%
		tab = 0
		lastapiID = "0"
	%>
	<%for listing in @listings%>
	<%if tab >= 2%>
		<tr>	
		<%
		if tab > 2
			tab = 0
		else
			tab = tab + 1
		end
		%>	
		
	<%else%>
		<tr>
		<%tab = tab + 1%>
	<%end%>
	
	
		<td>&nbsp;
			<a href="/rethai/<%=listing.id%>" target="_blank"><%=listing.id%></a>
		</td>
		<td>&nbsp;
			<a href="/rethai/<%=listing.id%>" target="_blank"><%=listing.APIListingID%></a>
			<%if lastapiID.to_s == listing.APIListingID.to_s and listing.APIListingID.to_s !="0" %><span style="color:red;">*</span><%end%>
		</td>
		<td>&nbsp;
			<%=link_to "#{listing.id_user}" ,{:controller=>'admin',:action=>'userlistings',:id=>listing.id_user}%>
		</td>
		<td>
				<div class="left">
					
					<%
					if listing.Images_Url !="" and listing.Images_Url !=nil and listing.UploadImages.to_s =="0" 
						      p_image = listing.Images_Url
							if p_image != nil
						      if p_image["|"]
						        p_image = p_image.split('|').collect{|e|e} 
						      end
							end

									if p_image != nil	
									i = 1
									while i < p_image.length%>
										<a href="<%=p_image[(i + 2)]%>" rel="lightbox[listing<%=listing.id%>]"><img src="<%=p_image[i]%>" width="40" height="40" /></a>
										<%
										i = i + 3
									end
									end
					else
							images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'")
							if images.length > 0
								for image in images																			
								          if image.paperclipfix.to_s == "1"		
									%>
										<a href="<%=image.photo.url(:large)%>" rel="lightbox[listing<%=listing.id%>]"><img src="<%=image.photo.url(:thumb)%>" width="40" height="40" /></a>
									<%
								          else
									%>
										<a href="<%=image.photo.url()%>" rel="lightbox[listing<%=listing.id%>]"><img src="<%=image.photo.url(:thumb)%>" width="40" height="40" /></a>
									<%
								          end	
								end 
								%>
							<%else%>
								<img src="/googleimage/default.png" width="60" height="60"/>
							<%end%>
					<%end%>
				</div>
		</td>
		<td><%=listing.titlelink %></td>
		<td><%=listing.City %></td>
		<td>&nbsp;
			<%if listing.Deleted == 'p'%>
				<%=listing.Detail.slice(0,200) %>
			<%else%>
				<%=listing.Detail.slice(0,200) %>
			<%end%>
			<%if listing.Detail.length > 200%>...<%end%>
		</td>
		<td><%if listing.Bed.to_i == 0 %><span style="color:red;">Studio</span><%else%><%=listing.Bed%><%end%></td>
		<td><%=listing.Bath%></td>
		
		<td><%=number_to_currency(listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		<td><%=number_to_currency(listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		
		
		<td><%=listing.created_on.strftime("%d/%m/%Y")%></td>
		<td><a href="/admin/editlisting/<%=listing.id%>?qlt_page=<%=params[:page]%>">Edit</a></td>
		<td>
					<span style="color:red;" id="delete<%=listing.id%>">				
					<%= link_to_remote "Delete" ,
	                    	:update => "delete#{listing.id}",
							:loading=>"document.getElementById('delete#{listing.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'deletelisting', :id=> listing.id } %> 				

					</span>
		</td>
		<td>
					<span style="color:red;" id="apilisting<%=listing.id%>">				
					<%= link_to_remote "Yes",
							:update => "apilisting#{listing.id}",
							:loading=>"document.getElementById('apilisting#{listing.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'approve', :id=> listing.id } %> 				

					</span>
				
					
		</td>
		<td>
					<span style="color:red;" id="spam<%=listing.id%>">				
					<%= link_to_remote "spam" ,
	                    	:update => "spam#{listing.id}",
							:loading=>"document.getElementById('spam#{listing.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'deletespam', :id=> listing.id } %>

					</span>
		</td>
	</tr>
	
	<%
		lastapiID = "#{listing.APIListingID}"
		end
	%>
	
</table>

<%= will_paginate @listings%><br>



<!--for delist listing-->
<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('delist').style.display='none';" ></div>
<div id="delist" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;background-color: #FFFFFF; width:250px; height:200px;"></div>
						



