<script language="JavaScript" type="text/javascript">
	function showeditform(id){
		document.getElementById('newform').style.display="none";
		document.getElementById('editform').style.display="block";
		document.getElementById('id').value=id;
		
		
		document.getElementById('Euser').value=document.getElementById('tempfuser'+id).value;
		document.getElementById('Ecode').value=document.getElementById('tempflocation'+id).value;
		document.getElementById('Esalerent').value=document.getElementById('tempfsalerent'+id).value;
		document.getElementById('Epropertytype').value=document.getElementById('tempflistingtype'+id).value;
		document.getElementById('Elimit').value=document.getElementById('tempflimit'+id).value;
		document.getElementById('Etypeshow').value=document.getElementById('tempftypeshow'+id).value;
		document.getElementById('Elink').value=document.getElementById('templink'+id).value;
		document.getElementById('Etitle').value=document.getElementById('temptitle'+id).value;
	}
	function chkint(id){
		if(isNaN(document.getElementById(id).value)){
			document.getElementById(id).value='0';
			alert("Please Enter Numberic");
			return false;
		}else{return true;}
	}
</script>


<h1>RSS Filter</h1>
<div id="newform">
	<form action="/admin/saverss" method="post">
	

<table>
	<tr>
      <td>
      <p>
      	<select id="salerent" name="salerent">
	        <option value="1">Sale</option>
	        <option value="0">Rent</option>
	        <option value="2">Sale or Rent</option>
      	</select>
	  </p>
      </td>
      <td>
      	 <p>
		      <select name="propertytype" id="propertytype" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
				   <%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
				   <option value="0">All</option>
				   <%for lt in listingtypes%>
				   		<option value="<%=lt.Value%>"><%=lt.Name%></option>
				   <%end%>
			 </select>
		 </p>
      </td>
	   <td>
	  <p><b>Email:</b> <style type="text/css">       
				 		div.auto_complete {
				          width: 350px;
				          background: #fff;
						  
				        }
				        div.auto_complete ul {
				          border:1px solid #888;
				          margin:0;
				          padding:0;
				          width:100%;
				          list-style-type:none;
				        }
				        div.auto_complete ul li {
				          margin:0;
				          padding:2px;
						  font-size:10px;
				        }
				        div.auto_complete ul li.selected {
				          background-color: #ffb;
				        }
				        div.auto_complete ul strong.highlight {
				          color: #800; 
				          margin:0;
				          padding:0;
				        }
				</style>
				<input id="user" name="user" size="15" type="text" value=""  style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="user_detail"></div><script type="text/javascript">
				//<![CDATA[
				var lession_comment1_auto_completer = new Ajax.Autocompleter('user', 'user_detail', '/admin/getemail/', {callback:function(element, value) { return 'user='+escape($('user').value) }, method:'get', paramName:'user'})
				//]]>
				</script> 
	
			</p>
     
     
</td>
      <td>
     <p><b>Locations:</b> <style type="text/css">       
				 		div.auto_complete {
				          width: 350px;
				          background: #fff;
						  
				        }
				        div.auto_complete ul {
				          border:1px solid #888;
				          margin:0;
				          padding:0;
				          width:100%;
				          list-style-type:none;
				        }
				        div.auto_complete ul li {
				          margin:0;
				          padding:2px;
						  font-size:10px;
				        }
				        div.auto_complete ul li.selected {
				          background-color: #ffb;
				        }
				        div.auto_complete ul strong.highlight {
				          color: #800; 
				          margin:0;
				          padding:0;
				        }
				</style>
				<input id="code" name="code" size="15" type="text" value=""  style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="code_detail"></div><script type="text/javascript">
				//<![CDATA[
				var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('code').value) }, method:'get', paramName:'code'})
				//]]>
				</script> 
	
			</p>
		</td>
		<td>
			<p>Limit:<input type="text" name="limit" id="limit" value="20" onblur="chkint('limit');"/></p>
		</td>
		<td>
	      <p>
	      	<select id="typeshow" name="typeshow">
		        <option value="random">By Random</option>
		        <option value="date_desc">By Date Create</option>
	      	</select>
		  </p>
      </td>
		<td>
			<p>
				Defualt Link:<input type="text" name="link" id="link" value="" size="50"/>
			</p>
		</td>
		<td>
			<p>
				Title:<input type="text" name="title" id="title" value="" size="50"/>
			</p>
		</td>
    </tr>
    <tr>
      <td><input id="button" value="Build RSS" type="submit" onclick="chkint('limit');"></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
	  <td>&nbsp;</td>
		
    </tr>

</table>
</form>
</div>








<div id="editform" style="display:none;">
<form action="/admin/editrss" method="post">
	<input type="hidden" name="id" id="id" value=""/>

<table>
	<tr>
      <td>
      <select id="Esalerent" name="Esalerent">
        <option value="1">Sale</option>
        <option value="0">Rent</option>
        <option value="2">Sale or Rent</option>

      </select>
      </td>
      <td>
      <select name="Epropertytype" id="Epropertytype" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
		   <option value="0">All</option>
		   <%for lt in listingtypes%>
		   		<option value="<%=lt.Value%>"><%=lt.Name%></option>
		   <%end%>
	 </select>
      </td>
	   <td>
	  <p><b>Email:</b> <style type="text/css">       
				 		div.auto_complete {
				          width: 350px;
				          background: #fff;
						  
				        }
				        div.auto_complete ul {
				          border:1px solid #888;
				          margin:0;
				          padding:0;
				          width:100%;
				          list-style-type:none;
				        }
				        div.auto_complete ul li {
				          margin:0;
				          padding:2px;
						  font-size:10px;
				        }
				        div.auto_complete ul li.selected {
				          background-color: #ffb;
				        }
				        div.auto_complete ul strong.highlight {
				          color: #800; 
				          margin:0;
				          padding:0;
				        }
				</style>
				<input id="Euser" name="Euser" size="15" type="text" value=""  style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="Euser_detail"></div><script type="text/javascript">
				//<![CDATA[
				var lession_comment1_auto_completer = new Ajax.Autocompleter('Euser', 'Euser_detail', '/admin/getemail/', {callback:function(element, value) { return 'user='+escape($('Euser').value) }, method:'get', paramName:'user'})
				//]]>
				</script> 
	
			</p>
     
     
</td>
      <td>
     <p><b>Locations:</b> <style type="text/css">       
				 		div.auto_complete {
				          width: 350px;
				          background: #fff;
						  
				        }
				        div.auto_complete ul {
				          border:1px solid #888;
				          margin:0;
				          padding:0;
				          width:100%;
				          list-style-type:none;
				        }
				        div.auto_complete ul li {
				          margin:0;
				          padding:2px;
						  font-size:10px;
				        }
				        div.auto_complete ul li.selected {
				          background-color: #ffb;
				        }
				        div.auto_complete ul strong.highlight {
				          color: #800; 
				          margin:0;
				          padding:0;
				        }
				</style>
				<input id="Ecode" name="Ecode" size="15" type="text" value="<%=@location%>"  style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="Ecode_detail"></div><script type="text/javascript">
				//<![CDATA[
				var lession_comment1_auto_completer = new Ajax.Autocompleter('Ecode', 'Ecode_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('Ecode').value) }, method:'get', paramName:'code'})
				//]]>
				</script> 
	
			</p>
	</td>
	<td>
		<p>
			Limit:<input type="text" name="Elimit" id="Elimit" value="" onblur="chkint('Elimit');"/>
		</p>
	</td>
	<td>
      <p>
      	<select id="Etypeshow" name="Etypeshow">
	        <option value="random">By Random</option>
	        <option value="date_desc">By Date Create</option>
      	</select>
	  </p>
      </td>
	<td>
		<p>
			Defualt Link:<input type="text" name="Elink" id="Elink" value="" size="50"/>
		</p>
	</td>
		<td>
			<p>
				Title:<input type="text" name="Etitle" id="Etitle" value="" size="50"/>
			</p>
		</td>
    </tr>
    <tr>
      <td colspan="10"><input id="button" value="Edit RSS Builder" type="submit"> OR <a href="#" onclick="javascript: document.getElementById('newform').style.display='block';document.getElementById('editform').style.display='none';">Add new RSS</a></td>
     

    </tr>

</table>
</form>
</div>





<h2>RSS Lists</h2>
<table width="700px" border="0">
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<%if @xmls.length < 0%>
		<tr>
			<td colspan="10">
				No RSS
				
			</td>
		</tr>	
	<%else%>
		<%for myxml in @xmls%>
		<input type="hidden" name="tempfsalerent<%=myxml.id%>" 		id="tempfsalerent<%=myxml.id%>" 	value="<%=myxml.fsalerent%>"/>
		<input type="hidden" name="tempflistingtype<%=myxml.id%>" 	id="tempflistingtype<%=myxml.id%>" 	value="<%=myxml.flistingtype%>"/>
		<input type="hidden" name="tempfuser<%=myxml.id%>" 			id="tempfuser<%=myxml.id%>" 		value="<%=myxml.fuser%>"/>
		<input type="hidden" name="tempflocation<%=myxml.id%>" 		id="tempflocation<%=myxml.id%>" 	value="<%=myxml.flocation%>"/>
		<input type="hidden" name="tempflimit<%=myxml.id%>" 		id="tempflimit<%=myxml.id%>" 		value="<%=myxml.flimit%>"/>
		<input type="hidden" name="tempftypeshow<%=myxml.id%>" 		id="tempftypeshow<%=myxml.id%>" 	value="<%=myxml.ftypeshow%>"/>
		<input type="hidden" name="templink<%=myxml.id%>" 			id="templink<%=myxml.id%>" 			value="<%=myxml.link%>"/>
		<input type="hidden" name="temptitle<%=myxml.id%>" 			id="temptitle<%=myxml.id%>" 			value="<%=myxml.title%>"/>
		
			<tr>
				<td width="40%">
					<%if myxml.fsalerent.to_s == "1"%>
						Sale,
					<%elsif myxml.fsalerent.to_s == "0"%>	
						Rent,
					<%elsif myxml.fsalerent.to_s == "2"%>	
						Sale/Rent,
						
					<%end%>
					
					
					
					<%
					listingtype ="All"
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{myxml.flistingtype}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
			              break
			            end
			          end
					%>
					<%=listingtype%>,
					
					
					<%if myxml.fuser == ""%>All<%else%><%=myxml.fuser%><%end%>,
					<%=myxml.flocation%>
				</td>
				<td>
					<a target="_blank" href="http://www.rethai.com/listings/rss/<%=myxml.id%>">http://www.rethai.com/listings/rss/<%=myxml.id%></a>
				</td>
				<td width="80px">
					<a href="#" onclick="showeditform('<%=myxml.id%>')">Edit</a>
					<%= link_to 'Delete', {:controller=>'admin',:action=>'deleterss',:id=>myxml.id}, :confirm => 'Are you sure?', :method => :post %>
				</td>
			</tr>
		<%end # end for xml in @xmls%>
 <%end  #end if @xmls.length%>
</table>


