<%= javascript_include_tag :defaults %> 
<!--
<form action="/admin/search" method="post">

City: <input id="code" name="code" size="15" type="text" value="<%=session[:location]%>"  style="width:120px;" /><div class="auto_complete" id="code_detail"></div><script type="text/javascript">
		//<![CDATA[
		
		var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/login/testcharset/', {callback:function(element, value) { return 'code='+document.getElementById('code').value }, method:'get', paramName:'code'})
		//]]>
		</script>
		
	
	<input type="submit" name="commit" id="commit" value="search"/>
</form>	
-->
		
		
<form action="/admin/addlanguage" method="post" >
	
<table>
	
<%
x = 1
provinces = Province.find(:all,:order=>"name asc")
for p in provinces

%>
<tr>
	<td><%=p.name%></td>
	<td><input type="hidden" name="id_<%=x%>" id="id_<%=x%>" vlaue="<%=p.id%>"/><input type="text" name="province_<%=x%>" id="province_<%=x%>" value="<%=p.th%>"/></td>
</tr>
<%

x = x + 1
end
%>

<tr>
	<td></td>
	<td><input type="submit" name="commit" id="commit" value="Submitttttt"/></td>
</tr>
</table>
</form>




<br><br><br>

