<script src="/javascripts/kendio.js" type="text/javascript"></script>	
  <!-- calendar stylesheet -->
  <link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />

  <!-- main calendar program -->
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar.js"></script>

  <!-- language for the calendar -->
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/lang/calendar-en.js"></script>

  <!-- the following script defines the Calendar.setup helper function, which makes
       adding a calendar a matter of 1 or 2 lines of code. -->
  <script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar-setup.js"></script>

<%user = User.find(params[:id])%>
<h1><%=user.FirstName%> Listings</h1>

<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>

<%
mysort = "asc"
if params[:sort].to_s =="asc"
	mysort = "desc"
end
%>
<form>
<table>
	<tr>
		<td><strong>ListingID:</strong></td>
		<td><input type="text" name="listingID" id="listingID" size="10"/></td>
	</tr>
	
	<tr>
		<td colspan="10"><br /><hr/></td>
	</tr>
	<tr>
		<td><strong>ListingFor:</strong></td>
		<td>      
			<select name="salerent" id="salerent">
				<option value="2" selected="selected">Sale / Rent&nbsp;&nbsp;</option>
				<option value="1">Sale&nbsp;&nbsp;</option>
				<option value="0">Rent&nbsp;&nbsp;</option>
	
	       </select>
	   </td>
	</tr>
	<tr>
		<td><strong>ListingType:</strong></td>
		<td>      
			<select name="type" id="type">
				<option value="" >-------- Any -----------</option>
			<%
			listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")
			for lt in listingtypes
			%>
				<option value="<%=lt.Value%>" <%if session[:propertytype].to_s == lt.Value.to_s %> selected="selected" <%end%>><%=lt.Name%></option>
			<%end%>	
	
	       </select>
	   </td>
	</tr>
	<tr>
		<td><strong>Reference Code:</strong></td>
		<td><input type="text" name="ref" id="ref"  size="20"/></td>
	</tr>
	<tr>
		<td><strong>Title:</strong></td>
		<td><input type="text" name="title" id="title"  size="40"/></td>
	</tr>
	<tr>
		<td><strong>Bedrooms:</strong></td>
		<td>
			<select name="bed" id="bed" style="width: 75px;">
		            <option value="">Any</option>
		
		            <option value="0">Studio</option>
		            <option value="1">1</option>
		            <option value="2">2</option>
		            <option value="3">3</option>
		            <option value="4">4</option>
		            <option value="5">5</option>
		
		            <option value="6">6+</option>
		    </select>
		        
		    <select name="bed2" id="bed2" style="width: 75px;">
		            <option value="">Any</option>
		            <option value="0">Studio</option>
		            <option value="1">1</option>
		            <option value="2">2</option>
		
		            <option value="3">3</option>
		            <option value="4">4</option>
		            <option value="5">5</option>
		            <option value="6">6+</option>
		     </select>	
      	</td>
	</tr>  
       
	<tr>
		<td><strong>Bathrooms:</strong></td>
		<td> 
			<select name="bath" id="bath" style="width: 75px;">
	
	            <option value="">Any</option>
	            <option value="1">1</option>
	            <option value="2">2</option>
	            <option value="3">3</option>
	            <option value="4">4</option>
	            <option value="5">5+</option>
	        </select>    
      	</td>
	</tr>  
        
	<tr>
		<td><strong>SalePrice:</strong></td>
		<td>
			<input type="text" name="tfprice" id="tfprice"  onkeyup="this.value=formatCurrency(this.value,'minprice');"onblur="this.value=formatCurrency(this.value,'minprice');" style="width:75px;" /> - 
			
			<input type="text" name="ttprice" id="ttprice"  onkeyup="this.value=formatCurrency(this.value,'maxprice');"onblur="this.value=formatCurrency(this.value,'maxprice');" style="width:75px;" />
			<input type="hidden" name="minprice" id="minprice" size="10" /> 
			<input type="hidden" name="maxprice" id="maxprice" size="10" /> 
		</td>
	</tr>
	<tr>
		<td><strong>RentPrice:</strong></td>
		<td><input type="text" name="minrprice" id="minrprice" size="10" /> - <input type="text" name="maxrprice" id="maxrprice" size="10" /></td>
	</tr>
	<tr>
		<td><strong>CreateDate:</strong></td>
		<td><input type="text" name="mincreatedate" id="mincreatedate" size="10"  readonly="1" /> <img id="f_trigger_a" src="/icon-calendar.gif"/> - <input type="text" name="maxcreatedate" id="maxcreatedate" size="10" readonly="1" /> <img id="f_trigger_b" src="/icon-calendar.gif"/></td>
	</tr>
	<tr>
		<td colspan="10" align="center"><input type="submit" value="    Search    " /></td>
	</tr>
</table>	

</form>
<script type="text/javascript">
    Calendar.setup({
        inputField     :    "mincreatedate",      // id of the input field
        ifFormat       :    "%Y-%m-%d",       // format of the input field
        showsTime      :    true,            // will display a time selector
        button         :    "f_trigger_a",   // trigger for the calendar (button ID)
        singleClick    :    false,           // double-click mode
        step           :    1                // show all years in drop-down boxes (instead of every other year as default)
    });
    Calendar.setup({
        inputField     :    "maxcreatedate",      // id of the input field
        ifFormat       :    "%Y-%m-%d",       // format of the input field
        showsTime      :    true,            // will display a time selector
        button         :    "f_trigger_b",   // trigger for the calendar (button ID)
        singleClick    :    false,           // double-click mode
        step           :    1                // show all years in drop-down boxes (instead of every other year as default)
    });
</script>

<%if @listings.length <= 0%>
<br>
<br>
<br>
<span style="color:green;">Don't have listings</span>





<%else%>
<table border="0" class="table3px">
	<tr>
		<td width="50px"> <a href="/admin/userlistings/<%=user.id%>?field=id&sort=<%=mysort%>">ID</td>
		<td> <a href="/admin/userlistings/<%=user.id%>?field=created_on&sort=<%=mysort%>">CreateDate</td>
		<td> <a href="/admin/userlistings/<%=user.id%>?field=updated_on&sort=<%=mysort%>">LastUpdate</td>
		<td>Image</td>
		<td> <a href="/admin/userlistings/<%=user.id%>?field=titlelink&sort=<%=mysort%>">Title</td>
		<td> <a href="/admin/userlistings/<%=user.id%>?field=Type&sort=<%=mysort%>">Type</td>
		<td> <a href="/admin/userlistings/<%=user.id%>?field=City&sort=<%=mysort%>">Location</td>
		<td>Detail</td>
		<td> <a href="/admin/userlistings/<%=user.id%>?field=Price&sort=<%=mysort%>">SalePrice</td>
		<td> <a href="/admin/userlistings/<%=user.id%>?field=RPrice&sort=<%=mysort%>">RentPrice</td>
		<td> <a href="/admin/userlistings/<%=user.id%>?field=counter&sort=<%=mysort%>">Views</td>
		<td width="50px">Status</td>
		<td width="80px">&nbsp;</td>
	</tr>
	<%tab = 0%>
	<%for listing in @listings%>
	<%if tab >= 2%>
		<tr>	
		<%
		if tab > 2
			tab = 0
		else
			tab = tab + 1
		end
		%>	
		
	<%else%>
		<tr>
		<%tab = tab + 1%>
	<%end%>
	
	
		<td>&nbsp;
			<a href="/rethai/<%=listing.id%>" target="_blank"><%=listing.id%></a>
		</td>
		<td valign="top">
				<%=listing.created_on.strftime("%d/%m/%Y")%>
		</td>
		<td valign="top">
				<%=listing.updated_on.strftime("%d/%m/%Y")%>
		</td>
		<td valign="top">
			<div id="images">
			<%
			images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'")
			for img in images%>
				<img src="<%=img.photo.url(:thumb)%>" width="70" />							
			<%end%>
					
			</div>
		</td>
		<td valign="top"><%=listing.titlelink%></td>
		<td valign="top"><%=listing.typename%></td>
		<td valign="top"><%=listing.City%></td>
		<td>&nbsp;
			<%if listing.Deleted == 'p'%>
				<label for="dminpay_<%=listing.id%>"><%=listing.Detail.slice(0,200) %></label>
			<%else%>
				<%=listing.Detail.slice(0,200) %>
			<%end%>
			<%if listing.Detail.length > 200%>...<%end%>
		</td>
		<td valign="top" align="right"><%=number_to_currency(listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		<td valign="top" align="right"><%=number_to_currency(listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> </td>
		<td><%=listing.counter%></td>
		
		<td>&nbsp;
			<div id="status<%=listing.id%>">
				<%if listing.Deleted =='p'%>
					<span style="color:red;">Pending..</span>
				<%elsif listing.Status =='s'%>	
					<span style="color:red;">Sold</span>
				<%elsif listing.Status =='f'%>	
					<span style="color:red;">Offline</span>
				<%elsif listing.Deleted == '1' and listing.Status !='d' and listing.Status != 'f' and listing.Status != 's'%>	
					<span style="color:green;">Online</span> <!--set css color again at /javascripts/admin.js =>line5 [  document.getElementById(statusid).innerHTML="<span style=\"color:green;\">Online</span>";  ]--> 
				<%end%>	
			</div>	
		</td><td>
			<%#=params[:page] %>
			<a href="/admin/editlisting/<%=listing.id%>">Edit</a>
			<%if listing.Status == 'f'%>
				<%= link_to 'Relist', {:action=>'relist',:id=>listing.id,:page=>params[:page]}, :confirm => 'Are you sure?', :method => :post %>
			<%elsif listing.Deleted == '1' and listing.Status !='d' and listing.Status != 'f' and listing.Status != 's'%>
				<a href="#" onclick="delist('<%=listing.id%>','<%=params[:page]%>');" >Delist</a>
			<%end%>
		</td>
	</tr>
	
	<%end%>
	
</table>

<%= will_paginate @listings%><br>
<%end%>


<!--for delist listing-->
<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('delist').style.display='none';" ></div>
<div id="delist" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;background-color: #FFFFFF; width:250px; height:200px;"></div>
						



