<style>
	<!--
	.table3px td {
		border-bottom:1px solid #ccc;
	}
	-->
</style>

<%

levelsort = "level desc"
if params[:sortlevel]
      s =  "#{params[:sortlevel]}"
      if s["asc"]
        levelsort="level desc"
      else
        levelsort="level asc"
      end 
end

onlinesort = "online desc"
if params[:sortonline]
      s =  "#{params[:sortonline]}"
      if s["asc"]
        onlinesort="online desc"
      else
        onlinesort="online asc"
      end 
end
namesort = "FirstName desc"
if params[:sortname]
      s =  "#{params[:sortname]}"
      if s["asc"]
        namesort="FirstName desc"
      else
        namesort="FirstName asc"
      end 
end
emailsort = "Email desc"
if params[:sortemail]
      s =  "#{params[:sortemail]}"
      if s["asc"]
        emailsort="Email desc"
      else
        emailsort="Email asc"
      end 
end
agentsort = "Email desc"
if params[:sortagent]
      s =  "#{params[:sortagent]}"
      if s["asc"]
        agentsort="Email desc"
      else
        agentsort="Email asc"
      end 
end
createdatesort = "created_on desc"
if params[:sortcreatedate]
      s =  "#{params[:sortcreatedate]}"
      if s["asc"]
        createdatesort="created_on desc"
      else
        createdatesort="created_on asc"
      end 
end
lastloginsort = "lastlogin desc"
if params[:sortlastlogin]
      s =  "#{params[:sortlastlogin]}"
      if s["asc"]
        lastloginsort="lastlogin desc"
      else
        lastloginsort="lastlogin asc"
      end 
end
partnersort = "lastlogin desc"
if params[:sortpartner]
      s =  "#{params[:sortpartner]}"
      if s["asc"]
        partnersort="lastlogin desc"
      else
        partnersort="lastlogin asc"
      end 
end
websitesort = "lastlogin desc"
if params[:sortwebsite]
      s =  "#{params[:sortwebsite]}"
      if s["asc"]
        websitesort="website desc"
      else
        websitesort="website asc"
      end 
end
%>
<h1>Manage Users</h1>
<a href="/admin/users">List Users</a> |
<!--<a href="/admin/adduser"> Add User </a> |-->
<a href="/admin/finduser"> Find User</a><br />
View by user type: 
			<select name="usertype" id="user_UserType" onchange=" window.location = '/admin/users?usertype=' + this.value;" >
				<option value=""  <%begin%><%if params[:usertype].to_s ==""%> selected="selected" <%end%><%rescue%><%end%>>All</option>
				<option value="p" <%begin%><%if params[:usertype].to_s =="p"%> selected="selected" <%end%><%rescue%><%end%>>sellers</option>
				<option value="g" <%begin%><%if params[:usertype].to_s =="g"%> selected="selected" <%end%><%rescue%><%end%>>agents</option>
				<option value="d" <%begin%><%if params[:usertype].to_s =="d"%> selected="selected" <%end%><%rescue%><%end%>>developers</option>
			</select>

<br>
<table class="table3px">
		<tr>
			<td width="15%"><strong><a href="/admin/users?sortname=<%=namesort%>">Name</a></strong></td>
			<td width="15%"><strong><a href="/admin/users?sortwebsite=<%=websitesort%>">Website</a></strong></td>
			<td width="15%"><strong><a href="/admin/users?sortemail=<%=emailsort%>">Email</a></strong></td>
			<td width="10%"><strong><a href="/admin/users?sortpartner=<%=partnersort%>">Partner</a></strong></td>
			<td width="10%"><strong>Phone</strong></td>
			<td width="10%"><strong><a href="/admin/users?sortonline=<%=onlinesort%>">Online</a></strong></td>
			<!--<td width="10%"><strong>All Allow</strong></td>-->
			<td width="10%"><strong><a href="/admin/users?sortlevel=<%=levelsort%>">Level</a></strong></td>
			<td width="5%"><strong><a href="/admin/users?sortagent=<%=agentsort%>">Status</a></strong></td>
			<td width="5%"><strong><a href="/admin/users?sortcreatedate=<%=createdatesort%>">CreateDate</a></strong></td>
			<td width="5%"><strong><a href="/admin/users?sortlastlogin=<%=lastloginsort%>">LastLogin</a></strong></td>
			<td width="5%"><strong>Delete</strong></td>
			<td width="10%"><strong>User Listings</strong></td>
		</tr>
<%for user in @users%>
			<%
				level = Subscription.find(user.level)
				#listings = Product.find(:all,:select=>"id",:conditions=>"id_user = '#{user.id}' and Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null) ")
				noticestyle="black"
				imgnotice = ""
				
				#if listings.length.to_i ==  level.Listings.to_i
				#	noticestyle ="red"
				#	imgnotice="/icon/notice2.png"
				#elsif (listings.length.to_i >=  level.Listings.to_i - 5) and level.id.to_s !="1"
				#	noticestyle = "#C9CD14"
				#	imgnotice="/icon/notice1.png"
				#end
				
				if user.onlinelistings.to_i ==  level.Listings.to_i
					noticestyle ="red"
					imgnotice="/icon/notice2.png"
				elsif (user.onlinelistings.to_i >=  level.Listings.to_i - 5) and level.id.to_s !="1"
					noticestyle = "#C9CD14"
					imgnotice="/icon/notice1.png"
				end
			%>
		<tr>
			<td><a href="/admin/edituser/<%=user.id%>"><%=user.FirstName%>  <%=user.LastName%></a></td>
			<td><%=user.website%></td>
			<td><%=user.Email%></td>
			<td><%=user.partner%></td>
			<td><%=user.Phone%></td>
			<td>
				<span style="color:<%=noticestyle%>">
				<%#=number_to_currency(listings.length, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></span>
				<%=number_to_currency(user.onlinelistings, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></span>
				<%if imgnotice !=""%> <img src="<%=imgnotice%>" /><%end%>
			</td>
			<!--<td><%=number_to_currency(level.Listings, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>-->
			<td><%=level.Name%></td>
			<td>
				<!--
				<%if user.Deleted == '1'%>ready<%else%><span>Deleted</span><%end%>
				-->
				<%if user.UserType.to_s == 'g'%>
					<span style="color:green;">Agent</span>
				<%elsif user.UserType.to_s == 'p'%>
					<span style="color:#FF6600;">Seller</span>
				<%elsif user.UserType.to_s == 'd'%>
					<span style="color:green;">developer</span>
				<%end%>
			</td>
			<td><%begin%><%=user.created_on.strftime("%d-%m-%Y")%><%rescue%>-<%end%></td>
			<td><%begin%><%=user.lastlogin.strftime("%d-%m-%Y")%><%rescue%>-<%end%></td>
			
			<td>
				<div id="command_<%=user.id%>">
							
						<%if user.Deleted == '0'%>
						<%= link_to_remote "<span style='color:green;'>ReUser</span>",
			                                   :update => "command_#{user.id}",
			                                   :url => { :controller => "admin",:action => "reuser" ,:id=>user.id} %>
						<%else%>
						<%= link_to_remote "<span style='color:red;'>Delete</span>",
			                                   :update => "command_#{user.id}",
			                                   :url => { :controller => "admin",:action => "deleteuser" ,:id=>user.id} %>
						<%end%>
				</div>
			</td>
			<td>
				<a href="/admin/userlistings/<%=user.id%>">Listings</a>
			</td>
		</tr>
	
<%end%>


</table>
<%= will_paginate @users%>