

<script src="/javascripts/kendio.js" type="text/javascript"></script>

<script type="text/javascript">
//	function noError(){
//}
//window.onerror = noError;


	function updatetemplate(m_index,imgID,credit){
		document.getElementById('magazine_id_template').selectedIndex=m_index;
		document.getElementById('tempmagazine_id_template').selectedIndex=m_index;
		document.getElementById('magazine_listingcredit').selectedIndex=m_index;
		document.getElementById('photo_count').value = document.getElementById('tempmagazine_id_template').value;
		document.getElementById('count').innerHTML=document.getElementById('tempmagazine_id_template').value;
		
		document.getElementById('magazine_id_photo').value=':';
		document.getElementById('photo_count2').value='0';
		
		document.getElementById('tick1').style.display='none';
		document.getElementById('tick2').style.display='none';
		document.getElementById('tick3').style.display='none';
		document.getElementById('tick4').style.display='none';
		document.getElementById('tick5').style.display='none';
		
		document.getElementById(imgID).style.display='inline';
		document.getElementById('credits_charge').innerHTML=credit;
//		document.getElementById('img_1').checked=false;
//		document.getElementById('img_2').checked=false;
//		document.getElementById('img_3').checked=false;
//		document.getElementById('img_4').checked=false;
//		document.getElementById('img_5').checked=false;
//		alert(document.getElementById('tempmagazine_id_template').options[document.getElementById('magazine_id_template').selectedIndex].value);
	}
	function gopage(id){
		document.getElementById('selecte_size').style.display='none';
		document.getElementById('select_images').style.display='none';
		document.getElementById('showtext').style.display='none';
		document.getElementById('showdetail').style.display='none';
		document.getElementById('preview').style.display='none';
		
			document.getElementById(id).style.display='block';
		
	}
	
	function addimg(element_id,id_img){
	if (document.getElementById(element_id).checked == true) {
		//put in list
		if ((document.getElementById('photo_count2').value) * 1 < (document.getElementById('photo_count').value) * 1) {
			if (document.getElementById('magazine_id_photo').value.search(":" + id_img + ":") == -1) {
				document.getElementById('magazine_id_photo').value = document.getElementById('magazine_id_photo').value +id_img+":";
				document.getElementById('photo_count2').value = (document.getElementById('photo_count2').value * 1) + 1;
			}else{
				document.getElementById(element_id).checked = true;
			}
			document.getElementById('img_'+id_img).style.display="inline";
		}else{
			document.getElementById('img_'+id_img).style.display="none";
			document.getElementById(element_id).checked = false;
		}
	}
	else {
		//	remove img
		document.getElementById('photo_count2').value = (document.getElementById('photo_count2').value * 1) - 1;
		document.getElementById('magazine_id_photo').value = document.getElementById('magazine_id_photo').value.replace(":"+id_img+":", ":");
		document.getElementById('img_'+id_img).style.display="none";
	}
	
	}
	
	
	function setpreview(){
//		alert(document.getElementById('radiobutton1').checked);
//		if (document.getElementById('magazine_id_template').value != '1') {
			document.getElementById('viewdescription').innerHTML = document.getElementById('magazine_details').value;
//			document.getElementById('viewprice').innerHTML=document.getElementById('tempmagazine_price').value;
//			document.getElementById('viewrprice').innerHTML=document.getElementById('tempmagazine_rprice').value;
//			
//		}else{
			if(document.getElementById('radiobutton1').checked){  // sale price
				document.getElementById('viewprice').innerHTML=document.getElementById('tempmagazine_price').value;
				document.getElementById('viewrprice').innerHTML="-";
			}else{												// rent price	
				document.getElementById('viewprice').innerHTML="-";
				document.getElementById('viewrprice').innerHTML=document.getElementById('tempmagazine_rprice').value;
			}
//		}
		if (document.getElementById('magazine_bed').value =="0"){
			document.getElementById('viewbed').innerHTML="Studio";
		}else{
			document.getElementById('viewbed').innerHTML=document.getElementById('magazine_bed').value;
		}
		document.getElementById('viewbath').innerHTML=document.getElementById('magazine_bath').value;
		document.getElementById('viewemail').innerHTML=document.getElementById('magazine_email').value;
		document.getElementById('viewphone').innerHTML=document.getElementById('magazine_phone').value;
		document.getElementById('viewurl').innerHTML=document.getElementById('magazine_url').value;
	}
	function checkpage(){
		
		//chr
		if (document.getElementById('magazine_id_template').value == '1') {document.getElementById('chr2').innerHTML = '80';		document.getElementById('chr').innerHTML = '80';}
		else if(document.getElementById('magazine_id_template').value == '2'){document.getElementById('chr2').innerHTML = '250';	document.getElementById('chr').innerHTML = '250';}
		else if(document.getElementById('magazine_id_template').value == '3'){document.getElementById('chr2').innerHTML = '250';	document.getElementById('chr').innerHTML = '250';}
		else if(document.getElementById('magazine_id_template').value == '4'){document.getElementById('chr2').innerHTML = '450';	document.getElementById('chr').innerHTML = '450';}
		else if(document.getElementById('magazine_id_template').value == '5'){document.getElementById('chr2').innerHTML = '600';	document.getElementById('chr').innerHTML = '600';}
		document.getElementById('chr').innerHTML = (document.getElementById('chr2').innerHTML - document.getElementById('magazine_details').value.length)
//		if (document.getElementById('magazine_id_template').value=='1'){
//			document.getElementById('labeldescription').display='none';
//			document.getElementById('detaillink').innerHTML="<input type=\"button\" name=\"button1\" id=\"button1\" value=\"<< Back\" onclick=\"gopage('select_images');\"/>";
//			document.getElementById('imagelink').innerHTML="<input type=\"button\" name=\"button1\" id=\"button1\" value=\"Next >>\" onclick=\"gopage('showdetail');\"/>";
////			document.getElementById().innerHTML="";
////			document.getElementById().innerHTML="";
////			document.getElementById().innerHTML="";
////			document.getElementById().innerHTML="";
//		}else{
//			document.getElementById('labeldescription').display='inline';
//			document.getElementById('detaillink').innerHTML="<input type=\"button\" name=\"button1\" id=\"button1\" value=\"<< Back\" onclick=\"gopage('showtext');\"/>";
//			document.getElementById('imagelink').innerHTML="<input type=\"button\" name=\"button1\" id=\"button1\" value=\"Next >>\" onclick=\"gopage('showtext');\"/>";
//			document.getElementById('radiobutton1').style.display='none';
//			document.getElementById('radiobutton2').style.display='none';
//		}
	}
	function selectprice(x){
		if(x=="s"){
			document.getElementById('tempmagazine_price').disabled = false;
			document.getElementById('tempmagazine_rprice').disabled = true;
			
		}else if(x=="r"){
			document.getElementById('tempmagazine_price').disabled = true;
			document.getElementById('tempmagazine_rprice').disabled = false;			
		}
		else{
			document.getElementById('tempmagazine_price').disabled = false;
			document.getElementById('tempmagazine_rprice').disabled = false;
			
		}
	}
	function setlength(str,count){
		if(str.length <= count){
			document.getElementById('chr').innerHTML = count - str.length;
		}else{
			document.getElementById('magazine_details').value=str.substring(0,count);
		}
	}
</script>

<style>
<!--
.mag-grid img {
	padding:15px;
}
.mag-grid img:hover {
	border:2px solid #265861;
	padding:13px;
}
-->
</style>



<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" />
	<h1 style="color:#525252;">Add to Magazine</h1>
	<p>Add your listings to our print magazine</p>
</div>
<div class="cp-body">


<p>Remaining listing credit: <strong style="color:green;"><%if (@mlc - @lc) > 0%><%=@mlc - @lc %><%else%>0<%end%></strong> of <strong style="color:green;"><%=@mlc%></strong></p>
<form method="post" enctype="multipart/form-data" action="/controlpanel/savemagazine">
<div id="selecte_size" style="display:block;">

<h2>Select Listing Size</h2>

<div class="mag-grid">


	<div style="width:160px;float:left;">
		<img src="/images/mag-grid_03.png" onclick="updatetemplate('0','tick1','1');" style="cursor:pointer" />
		<p align="center"><a href="/images/1x1.jpg" class="thickbox">View Example</a></p>
		<p align="center" id="tick1" style="display:inline;padding-left:30px;"><img style="padding:0px;margin:0px;border:0px;" src="/images/icons/tick.png" /> 1x1 Selected</p>
	</div>
	
	<div style="width:160px;float:left;">
		<img src="/images/mag-grid_07.png" onclick="updatetemplate('2','tick2','2');" style="cursor:pointer" />
		<p align="center"><a href="/images/1x2.jpg" class="thickbox">View Example</a></p>
		<p align="center" id="tick2" style="display:none;padding-left:30px;"><img style="padding:0px;margin:0px;border:0px;" src="/images/icons/tick.png" /> 1x2 Selected</p>
	</div>

	<div style="width:160px;float:left;">
		<img src="/images/mag-grid_05.png" onclick="updatetemplate('1','tick3','2');" style="cursor:pointer" />
		<p align="center">&nbsp;</p>
		<p align="center" id="tick3" style="display:none;padding-left:30px;"><img style="padding:0px;margin:0px;border:0px;" src="/images/icons/tick.png" /> 2x1 Selected</p>
	</div>
		
	<div style="width:160px;float:left;">
		<img src="/images/mag-grid_12.png" onclick="updatetemplate('3','tick4','4');" style="cursor:pointer" />
		<p align="center"><a href="/images/2x2.jpg" class="thickbox">View Example</a></p>
		<p align="center" id="tick4" style="display:none;padding-left:30px;"><img style="padding:0px;margin:0px;border:0px;" src="/images/icons/tick.png" /> 2x2 Selected</p>
	</div>
	
	<div style="width:160px;float:left;">
		<img src="/images/mag-grid_13.png" onclick="updatetemplate('4','tick5','6');" style="cursor:pointer" />
		<p align="center">&nbsp;</p>
		<p align="center" id="tick5" style="display:none;padding-left:30px;"><img style="padding:0px;margin:0px;border:0px;" src="/images/icons/tick.png" /> 3x2 Selected</p>
	</div>


</div>

<br clear="all" /><br clear="all" />





	<table>
		<tr>
			<td>
				<select style="display:none;"  id="magazine_id_template" name="magazine[id_template]" onchange="updatetemplate();">
					<%for m in @magazineoptions%>
						<option value="<%=m.id%>"><%=m.name%></option>
					<%end%>
				</select>
				<select  style="display:none;" id="tempmagazine_id_template" name="tempmagazine[id_template]">
					<%for m in @magazineoptions%>
						<option value="<%=m.photos%>"><%=m.name%></option>
					<%end%>
				</select>
				<select  style="display:none;" id="magazine_listingcredit" name="magazine[listingcredit]">
					<%for m in @magazineoptions%>
						<option value="<%=m.listingcredit%>"><%=m.name%></option>
					<%end%>
				</select>
			</td>
			<td>
				<div id="showtemplate"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2"><br>
			<input type="button" name="button1" id="button1" value="Next >>" onclick="checkpage(); gopage('select_images');"/>
			
			</td>
		</tr>
	</table>



</div>









<div id="select_images" style="display:none;">
	<h2>Select Images</h2>
	<input type="hidden" name="magazine[id_user]" id="magazine_id_user" value="<%=@listing.id_user%>">
	<input type="hidden" name="magazine[id_product]" id="magazine_id_product" value="<%=@listing.id%>">
	<input type="hidden" name="magazine[id_photo]" id="magazine_id_photo" value=":">
	<input type="hidden" name="photo_count" id="photo_count" value="1">
	<input type="hidden" name="photo_count2" id="photo_count2" value="0">
	<div id="notice">You can select <span id="count">1</span> photos</div>
	
	<table>
		<tr>
			
		<%images = Images.find(:all,:conditions=>"id_product = '#{@listing.id}'")%>
		<%
		i = 1
		for img in images
					strtype = img.photo_file_name
	                strtype = strtype.slice(strtype.index(".").to_i + 1,strtype.length)	
					#"http://files.rethai.com"
		%>
			<td>
				<img src="<%=img.photo.url(:thumb)%>" width="50" height="50" /><br>
				<input type="checkbox" name="img[<%=i%>]" value="<%=img.id%>" id="img_<%=i%>"  onclick="addimg('img_<%=i%>','<%=img.id%>');"/>
			</td>
		<%
		i = i + 1
		end

		%>
		
		
		</tr>
	</table>	
	
	<%
		if i <= 5 %>
			<p style="color:red;">If you don't select or upload any photos, we will choose.</p><br>
		<%
			while i <= 5
				%>
				<input type="file" name="image[img<%=i%>]" id="image_img<%=i%>"/><br>
				<%
				i = i + 1
			end
		end
	%>
	
				<input type="button" name="button1" id="button1" value="<< Back" onclick="gopage('selecte_size');"/>
				<span id="imagelink"><input type="button" name="button1" id="button1" value="Next >>" onclick="gopage('showtext');"/></span>
</div>


<div id="showtext" style="display:none;">
<h2>Listing Description</h2>
	<table border="0" cellpadding="10">
		<tr>
			<td valign="top" width="400px"><h3>Description for Magazine:</h3><span id="chr2" style=" display:none;color:green;">80</span> 
				you can add <span id="chr" style="color:green;">80</span> more characters
				<textarea cols="45" id="magazine_details" name="magazine[details]" onkeydown="setlength(this.value,document.getElementById('chr2').innerHTML);" rows="10"></textarea>
			</td>
			<td valign="top" width="400px">
				<h3>Current Listing Description:</h3><%=@listing.Detail%>
			</td>
		</tr>
	</table>
				<input type="button" name="button1" id="button1" value="<< Back" onclick="gopage('select_images');"/>
				<input type="button" name="button1" id="button1" value="Next >>" onclick="selectprice('0');gopage('showdetail');"/>
</div>



<div id="showdetail" style="display:none;">
	<h2>Details</h2>
	<%
	mylogo = ""
	coms = Companies.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and Head = '0'")
	for com in coms
		imgs = Businesslogo.find(:all,:conditions=>"id = '#{com.logo}'")
		if imgs.length > 0
			for image in imgs
				mylogo = image.public_filename(:small)
				break
			end
		end

		break
	end
	%>
	<table>
		
		
		
		<tr>
			<td> <input name="salerent" type="radio" value="s" id="radiobutton1" checked="checked" onclick="selectprice('s');"/>
				<span id="labelprice">Sale Price:</span>
			</td>
			<td>
				<span id="labelprice2">
					<input type="text" name="tempmagazine[price]" id="tempmagazine_price"	onkeyup="this.value=formatCurrency(this.value,'magazine_price');" value="<%=number_to_currency(@listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>" />
				</span>
			</td>
			<td>Email:</td>
			<td><input type="text" name="magazine[email]" id="magazine_email"value="<%=@user.Email%>"/></td>
			<input type="hidden" name="magazine[price]" id="magazine_price" value="<%=@listing.Price%>"/>
			<input type="hidden" name="magazine[rprice]" id="magazine_rprice" value="<%=@listing.RPrice%>"/>
		</tr>
		
		
		
		<tr>
			<td>
				<input name="salerent" type="radio" value="r" id="radiobutton2"  onclick="selectprice('r');"/>
				<span id="labelrprice">Rent Price:</span></td>
			<td>
				<span id="labelrprice2">
					<input type="text" name="tempmagazine[rprice]" id="tempmagazine_rprice"	onkeyup="this.value=formatCurrency(this.value,'magazine_rprice');"  value="<%=number_to_currency(@listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>"/>
				</span>
			</td>
			<td>Phone:</td>
			<td><input type="text" name="magazine[phone]" id="magazine_phone" value="<%=@user.Phone%>"/></td>
		</tr>
		
		
		
		
		
		
		
		
		<tr>
			<td>Bedrooms:</td>
			<td>
				<select name="magazine[bed]" id="magazine_bed">
					<option value="0" <%if @listing.Bed.to_s == "0"%> selected="selected" <%end%>>Studio</option>
					<option value="1" <%if @listing.Bed.to_s == "1"%> selected="selected" <%end%>>1</option>
					<option value="2" <%if @listing.Bed.to_s == "2"%> selected="selected" <%end%>>2</option>
					<option value="3" <%if @listing.Bed.to_s == "3"%> selected="selected" <%end%>>3</option>
					<option value="4" <%if @listing.Bed.to_s == "4"%> selected="selected" <%end%>>4</option>
					<option value="5" <%if @listing.Bed.to_s == "5"%> selected="selected" <%end%>>5</option>
					<option value="6" <%if @listing.Bed.to_s == "6"%> selected="selected" <%end%>>6+</option>
				</select>
			</td>
			<td>www:</td>
			<td><%if coms.length > 0%><input type="text" name="magazine[url]" id="magazine_url" value="<%=com.Url%>"/><%else%><input type="hidden" name="magazine[url]" id="magazine_url" value=""/><%end%></td>
		</tr>
		<tr>
			<td>Bathrooms:</td>
			<td>
					<select name="magazine[bath]" id="magazine_bath">
						<option value="1" <%if @listing.Bath.to_s == "1"%> selected="selected" <%end%>>1</option>
						<option value="2" <%if @listing.Bath.to_s == "2"%> selected="selected" <%end%>>2</option>
						<option value="3" <%if @listing.Bath.to_s == "3"%> selected="selected" <%end%>>3</option>
						<option value="4" <%if @listing.Bath.to_s == "4"%> selected="selected" <%end%>>4</option>
						<option value="5" <%if @listing.Bath.to_s == "5"%> selected="selected" <%end%>>5+</option>
					</select>
			</td>
			<td>Logo</td>
			<td><%if mylogo !=""%><input type="hidden" name="magazine[logo]" id="magazine_logo" value="<%=com.logo%>"/><%= image_tag(mylogo) %><%end%></td>
		</tr>
		<tr>
			<td colspan="2">
				<span style="color:green;">Duration:</span>
					<select name="magazine2[month]" id="magazine2_month" style="width:90px;">
						<option value="1">1 Month</option>
						<option value="2">2 Months</option>
						<option value="3">3 Months</option>
						<option value="4">4 Months</option>
					</select>
					(<small><b id="credits_charge">1</b> Credits</small>)
			</td>
		</tr>
	</table>
				<span id="detaillink"><input type="button" name="button1" id="button1" value="<< Back" onclick="gopage('showtext');"/></span>
				<input type="button" name="button1" id="button1" value="Next >>" onclick="setpreview(); gopage('preview');"/>
</div>

<div id="preview" style="display:none;">
<h2>Confirmation</h2>
		<table width="600px">
			<tr>
				<td colspan="10">
				
		<%for img in images
					strtype = img.photo_file_name
	                strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)	
		
		%>
				<img src="<%=img.photo.url(:thumb)%>" id="img_<%=img.id%>" style="display:none;" width="100"/>
		<%end%>
			
				</td>
			</tr>
			
			
			<tr>
				<td valign="top"><h3 id="labeldescription" style="dispaly:inline;">Description:</h3></td>
				<td colspan="3">
					<span id="viewdescription">
						
					</span>
				</td>
			</tr>
			
			
			
			<tr>
				<td><h3>Price:</h3></td>
				<td><span id="viewprice"></span></td>
				<td><h3>Email:</h3></td>
				<td><span id="viewemail"></span></td>
			</tr>
			<tr>
				<td><h3>Rent Price:</h3></td>
				<td><span id="viewrprice"></span></td>
				<td><h3>Phone:</h3></td>
				<td><span id="viewphone"></span></td>
			</tr>
			<tr>
				<td><h3>Bedrooms:</h3></td>
				<td><span id="viewbed"></span></td>
				<td><h3>Website:</h3></td>
				<td><span id="viewurl"></span></td>
			</tr>
			<tr>
				<td><h3>Bathrooms:</h3></td>
				<td><span id="viewbath"></span></td>
				<td><h3>Logo:</h3></td>
				<td><%if mylogo !=""%><input type="hidden" name="magazine[logo]" id="magazine_logo" value="<%=com.logo%>"/><%= image_tag(mylogo) %><%end%></td>
			</tr>
		</table>
				<input type="button" name="button1" id="button1" value="<< Back" onclick="checkpage(); gopage('showdetail');"/>
				<input type="submit" name="button1" id="button1" value="Submit"/>
</div>



</form>


</div>

