
<script type="text/javascript" src="/javascripts/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/javascripts/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="/javascripts/lightbox/lightbox.css" type="text/css" media="screen" />

<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Add Virtual Tour</h1>
	<p>Add virtual tours to your listing</p>
</div>

<div class="cp-body">



<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtsqm = 	I18n.translate('txt.listingtype.sqm')
txtin = 	I18n.translate('txt.show.in')
%>

<%
     #get listing type
        listingtype =" "
        if @listing.Type.to_s != '0' and @listing.Type.to_s != "" and @listing.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{@listing.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}"
						while listingtype[" "]				
							listingtype[" "] ="-"
						end
						while listingtype["/"]				
							listingtype["/"] =""		
						end
							listingtype = "txt.listingtype.#{listingtype.downcase}"
							listingtype = I18n.translate(listingtype)
              break
            end
          end
        end
		if @listing.City.to_s !="" and @listing.City.to_s !="0" and @listing.City != nil
			city ="#{@listing.City}"
						city = "txt.province.#{@listing.City.downcase}"
							while city[" "]				
								city[" "] ="_"		
							end
						city = I18n.translate(city)
		end
		if @listing.RPrice.to_s !="" and @listing.Price.to_s !="0" and @listing.Price.to_s !=nil
			price = "#{@listing.Price}"
		end
		salerent = ""
		if @listing.salerent.to_s =="1"
			salerent = "Sale"
		elsif @listing.salerent.to_s =="2"
			salerent = "Sale or Rent"
		elsif @listing.salerent.to_s =="0"			
			salerent = "Rent"
		end
		
						while salerent[" "]				
							salerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{salerent.downcase}"
						salerent = "#{txtfor} " + I18n.translate(salerent)

		txtdetail =  @listing.Detail
		while txtdetail["\n"]
			txtdetail["\n"] = " "
		end
		while txtdetail["\r"]
			txtdetail["\r"] = " "
		end
		while txtdetail["<br>"]
			txtdetail["<br>"] = ""
		end
		while txtdetail["<b>"]
			txtdetail["<b>"] = ""
		end
		while txtdetail["</b>"]
			txtdetail["</b>"] = ""
		end
		while txtdetail["<strong>"]
			txtdetail["<strong>"] = ""
		end
		while txtdetail["</strong>"]
			txtdetail["</strong>"] = ""
		end
		while txtdetail["<a href="]
			txtdetail["<a href="] = ""
		end
		while txtdetail["</a>"]
			txtdetail["</a>"] = ""
		end
		while txtdetail["<img src="]
			txtdetail["<img src="] = ""
		end
		while txtdetail['">']
			txtdetail['">'] = ""
		end
		while txtdetail['"']
			txtdetail['"'] = ""
		end

		while txtdetail["&"]
			txtdetail["&"] = ""
		end
		if txtdetail.length > 250
			txtdetail = txtdetail.slice(0,250)
			
		end

%>

<%
@page_title = I18n.translate('txt.show.page_title',:city=>city,:listingtype=>listingtype,:salerent=>salerent,:price=>price)
@page_desc = I18n.translate('txt.show.page_desc',:city=>city,:txtdetail=>txtdetail,:salerent=>salerent)
@page_keywords = I18n.translate('txt.show.page_keywords',:city=>city,:salerent=>salerent)
%>

<!-- // END SEO -->



<%
myimages ="/images/noimage-350.png"
link_firstimage="/images/noimage-350.png"

		if @listing.Images_Url !="" and @listing.Images_Url !=nil and @listing.UploadImages.to_s =="0" #listing form rethaiapi
			      p_image = @listing.Images_Url
				if p_image != nil
			      if p_image["|"]
			        p_image = p_image.split('|').collect{|e|e} 
					myimages = p_image[3].to_s
					@firstimage = p_image[3].to_s
			      end
				end
		else
for image in @images
        strtype = image.photo_file_name
        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
		if image.paperclipfix.to_s =="1"
      		#myimages="http://files.rethai.com/listingdata/photos/#{image.id}/large.#{strtype}"
			myimages =  "#{image.photo.url(:large)}"
		else
			myimages =  "#{image.photo.url()}"
      		#myimages =  "http://files.rethai.com/listingdata/photos/#{image.id}/original.#{strtype}"
		end
		break
end
		end
		# get business
begin
	compdetail=""
	mybusiness = "0"
	companies = Companies.find(:all,:conditions=>"id_user = '#{@listing.id_user}' and Head = '0'")
        if companies.length > 0
          for comp in companies
            if comp.logo !="" and comp.logo !=nil and comp.logo !='0'
				mybusiness = comp
              logo = Businesslogo.find(comp.logo)
              compdetail= "    <img src=\"#{logo.public_filename(:medium)}\" width=\"250\" />  \n"
               break
            end
          end
        end
rescue
end
%>
<%
#get parking
    parking =" "
    if @listing.Parking.to_s != '0' and @listing.Parking.to_s != "" and @listing.Parking !=nil
      parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{@listing.Parking}'")
      if parkings.length > 0
        for pk in parkings
          parking = "#{pk.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
          break
        end
      end
    end
%>


	


<table>
	<tr>
		<td>
	<!-- LEFT -->
	<div class="left">

<!--<a href="#" onclick="document.getElementById('lead-shadow').style.display='block'; document.getElementById('lead-searchform').style.display='block';">Test Popup</a>-->

<table class="listingdesctable" style=width:350px;>
<%if @listing.salerent.to_s =="1"%>
	<tr>
		<td width=120><strong><%= I18n.t 'txt.show.sale-price' %></strong></td>
		<td>
			<%=number_to_currency(@listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>&#3647;</small>
			
		</td>
	</tr>
<%elsif @listing.salerent.to_s =="0"%>
	<tr>
		<td><strong><%= I18n.t 'txt.show.rent-price' %></strong></td>
		<td><%=number_to_currency(@listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>&#3647;/Month</small>
			<%if @listing.RPrice.to_i > 0 and @listing.RPrice != nil%><a href="#" onclick="javascript:rcurrencyconvert();" style="margin-left:4px;"><small>Convert</small></a><%end%></td>
			
	</tr>
<%else%>
	<tr>
		<td><strong><%= I18n.t 'txt.show.sale-price' %></strong></td>
		<td><%=number_to_currency(@listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> <small>&#3647;</small>
			<%if @listing.Price.to_i >0 and @listing.Price != nil%><a href="#" onclick="javascript:currencyconvert();" style="margin-left:4px;"><small>Convert</small></a><%end%></td>
			
	</tr>
	<tr>
		<td><strong><%= I18n.t 'txt.show.rent-price' %></strong></td>
		<td><%=number_to_currency(@listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><small>&#3647;/Month</small>
			<%if @listing.RPrice.to_i >0 and @listing.RPrice != nil%><a href="#" onclick="javascript:rcurrencyconvert();" style="margin-left:4px;"><small>Convert</small></a><%end%></td>
			
	</tr>
<%end%>
	
	
	<tr>
		<td><strong><%=I18n.translate('txt.listingtype.propertytype')%></strong></td>
		<td><%=listingtype%></td>
	</tr>
	<tr>
		<td><strong><%=I18n.translate('txt.listingtype.city')%></strong></td>
	<%if @listing.City.to_s !="" and @listing.City.to_s !="0" and @listing.City.to_s !=nil%>
		<td><%=city%></td>
	<%else%>
		<td>N/A</td>
	<%end%>
	</tr>
	<tr>
		<td><strong><%=I18n.translate('txt.show.parking')%></strong></td>
		<td><%if @listing.Type.to_s =="5"%>-<%else%><%=parking%><%end%></td>
	</tr>


</table>		
		

		
	</div>
		</td>
		<td>	
	
<table class="listingdesctable" style=width:290px;>
	<tr>
		<td width="100"><strong><%=I18n.translate('txt.listingtype.bedroom')%></strong></td>
		<td><%if @listing.Type.to_s =="5"%>-<%else%><%if @listing.Bed.to_s =="0"%><%=mystudio%><%else%><%=@listing.Bed%><%end%><%end%></td>
	</tr>
	<tr>
		<td><strong><%=I18n.translate('txt.listingtype.bathroom')%></strong></td>
		<td><%if @listing.Type.to_s =="5"%>-<%else%><%=@listing.Bath%><%end%></td>
	</tr>

	<tr>
		<td valign="top"><strong><%=I18n.translate('txt.listingtype.sqm')%></strong></td>
	<%if @listing.SQM !="" and @listing.SQM !="0" and @listing.SQM !=nil%>
		<td>
			<input type="hidden" id="product2_SQM" value="<%=@listing.SQM%>"/>
			<input type="hidden" id="tmpsqm" value="<%=@listing.SQM%>"/>
			<%=number_to_currency(@listing.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
		
				

		
		</td>
	<%else%>
		<td>N/A</td>
	</tr>
	<%end%>
	<tr>
		<td><%=I18n.translate('txt.show.price-per-sqm')%></td>
	<%
		strpricepersqm = "N/A"
		if @listing.SQM.to_i > 0 and @listing.SQM != nil and @listing.Price.to_i > 0 and @listing.Price != nil
			begin
				strpricepersqm = number_to_currency((@listing.Price / @listing.SQM.to_i ), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)
			rescue
			end
		end
	%>
		<td><%=strpricepersqm%></td>
	</tr>
	<%if @listing.Ref.to_s != "" and @listing.Ref.to_s != "0"%>
	<tr>
		<td><strong>Reference No.</strong></td>
		<td><%=@listing.Ref%></td>
	</tr>
	<%end%>
</table>		


		</td>
	</tr>
</table>		
		
		
		<%#============================== show Images=====================================  %>
		
	<!-- LEFT -->
	<div class="left">
		<br>
		<span id="fullimage">
		<%if @firstimage!=""%>
			<a href="<%=myimages%>" target="_blank" rel="lightbox[listing]"><img src="<%=myimages%>" width="350" /></a>
		<%end%>
		</span>
		<br>
		<%
		t_img = 1
		%>
		<%
		if @listing.Images_Url != "" and @listing.Images_Url != nil and @listing.UploadImages.to_s =="0"
				if p_image != nil	
				i = 1
				while i < p_image.length%>
					<a href="<%=p_image[(i + 2)]%>" rel="lightbox[listing]"><img src="<%=p_image[i]%>" width="60" height="60" /></a>
					<%
					i = i + 3
				end
				end
		else	
		if @images.length > 0%>
			<%for image in @images%>
			<%
			if t_img != 1
				strtype = image.photo_file_name
                strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)	
				
		          if image.paperclipfix.to_s == "1"		
			%>
				<a href="<%=image.photo.url(:large)%>" rel="lightbox[listing]"><img src="<%=image.photo.url(:thumb)%>" width="60" height="60" /></a>
			<%
		          else
			%>
				<a href="<%=image.photo.url()%>" rel="lightbox[listing]"><img src="<%=image.photo.url(:thumb)%>" width="60" height="60" /></a>
			<%
		          end	
			end
			if t_img == 6
				t_img = 1
			end
			t_img = t_img + 1
			
			end #end_for
			%>
		<%else%>
			<img src="/googleimage/default.png" width="60" height="60"/>
		<%end%>
		<%end%>
		
	</div>
	







<%=form_tag({:action=>'savevirtual'}, :multipart => true) %>
<input type="hidden" name="id" id="id" value="<%=params[:id]%>"/>


<br />


	<table>
		<tr>
			<td>

					<table>
						<tr>
							<td></td>
							<td></td>
						</tr>
						<tr><td align="right">Front:</td>	<td><input type="file" name="image[pic1]" id="image1" /></td></tr>
						<tr><td align="right">Left:</td>	<td><input type="file" name="image[pic2]" id="image2" /></td></tr>
						<tr><td align="right">Right:</td>	<td><input type="file" name="image[pic3]" id="image3" /></td></tr>
						<tr><td align="right">Back:</td>	<td><input type="file" name="image[pic4]" id="image4" /></td></tr>
						<tr><td align="right">Up:</td>		<td><input type="file" name="image[pic5]" id="image5" /></td></tr>
						<tr><td align="right">Down:</td>	<td><input type="file" name="image[pic6]" id="image6" /></td></tr>
						<tr><td align="right"></td>		<td><input type="submit" value="Upload" /></td></tr>
					
					
					</table>
			</td>
			<td>
					<div style="margin-left:25px;">
						or Upload Only one wide screen image
						<input type="file" name="imgpartial" id="imgpartial" /><br /><br />
						<input type="submit" value="Upload" style="margin-left:125px;"/>
					</div>
			</td>
		</tr>
	</table>
</form>

<br /><br /><br /><br />

</div>
