
<script type="text/javascript" src="/javascripts/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/javascripts/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="/javascripts/lightbox/lightbox.css" type="text/css" media="screen" />

<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Virtual Tours</h1>
	<p>Add virtual tours to your listing</p>
</div>

<div class="cp-body">


<table width="900">
	<tr>
		<td valign="top" width="300">
			
			<h2>Current Tours</h2>
			
		</td>
		<td valign="top" style="padding-left:20px;">

			<h2>Add new tour</h2>
			<p>You can add up to 10 tours for 1 listing.</p>
			<h3>What type of tour do you want to upload?</h3>
			<%=form_tag({:action=>'savevirtual'}, :multipart => true) %>
			<input type="hidden" name="id" id="id" value="<%=params[:id]%>"/>
				<table width="600">
					<tr>
						<td valign="top" width="300">
							<p><strong>Type 1:</strong> Multi photo</p>
							<p>If you have 6 seperate files that make up the single 360<sup>o</sup> tour, use this method</p>
							<table>
								<tr><td align="right">Front:</td>	<td><input type="file" name="image[pic1]" id="image1" /></td></tr>
								<tr><td align="right">Left:</td>	<td><input type="file" name="image[pic2]" id="image2" /></td></tr>
								<tr><td align="right">Right:</td>	<td><input type="file" name="image[pic3]" id="image3" /></td></tr>
								<tr><td align="right">Back:</td>	<td><input type="file" name="image[pic4]" id="image4" /></td></tr>
								<tr><td align="right">Up:</td>		<td><input type="file" name="image[pic5]" id="image5" /></td></tr>
								<tr><td align="right">Down:</td>	<td><input type="file" name="image[pic6]" id="image6" /></td></tr>
								<tr><td align="right"></td>		<td><input type="submit" value="Upload" /></td></tr>
							</table>
						</td>
						<td valign="top" width="300">
							<div style="margin-left:25px;">
							<p><strong>Type 2:</strong> Single 360<sup>o</sup> photo</p>
							<p>If you used a special lens to take a single 360<sup>o</sup> photo, or have already meshed multiple photos together, use this method</p>
							<input type="file" name="imgpartial" id="imgpartial" /><br /><br />
							<input type="submit" value="Upload" style="margin-left:125px;"/>
							</div>
						</td>
					</tr>
				</table>
			</form>


		</td>
	</tr>
</table>




<br /><br /><br /><br />

</div>
