

<h1>Advertising</h1>
<p>There are several areas to advertise on REThai.com, these areas include:</p>

<div style="width:100%">
	<div style="float:left;width:49%" class="advertblock">
		<h3>Homepage</h3>
		<table width="100%" class="table3px adverttable">
			<tr>
				<td><strong>Location</strong></td>
				<td><strong>Description</strong></td>
				<td><strong>Rotation</strong></td>
				<td><strong>Size</strong></td>
				<td><strong>Monthly Rate</strong></td>
			</tr>
			<tr>
				<td>Top Right</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Middle Right</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom Right</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Middle Left</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom Left</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	
	<div style="float:right;width:49%" class="advertblock">
		<h3>Map Search</h3>
		<table width="100%" class="table3px adverttable">
			<tr>
				<td><strong>Location</strong></td>
				<td><strong>Description</strong></td>
				<td><strong>Rotation</strong></td>
				<td><strong>Size</strong></td>
				<td><strong>Monthly Rate</strong></td>
			</tr>
			<tr>
				<td>Bottom Right Small</td>
				<td>Small banners along the right side</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom Right Medium</td>
				<td>Medium banners along the bottom</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>

<br clear="all" />
<br clear="all" />

<div style="width:100%">
	
	<div style="float:left;width:49%" class="advertblock">
		<h3>List Search Results</h3>
		<table width="100%" class="table3px adverttable">
			<tr>
				<td><strong>Location</strong></td>
				<td><strong>Description</strong></td>
				<td><strong>Rotation</strong></td>
				<td><strong>Size</strong></td>
				<td><strong>Monthly Rate</strong></td>
			</tr>
			<tr>
				<td>Middle Left</td>
				<td>Under search box</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Middle Center</td>
				<td>Between search results</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Middle Right</td>
				<td>Under map</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom Middle</td>
				<td>Footer under search results</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	
	<div style="float:right;width:49%" class="advertblock">
		<h3>Listing Details</h3>
		<table width="100%" class="table3px adverttable">
			<tr>
				<td><strong>Location</strong></td>
				<td><strong>Description</strong></td>
				<td><strong>Rotation</strong></td>
				<td><strong>Size</strong></td>
				<td><strong>Monthly Rate</strong></td>
			</tr>
			<tr>
				<td>Top Right</td>
				<td>Above contact details</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Middle Right</td>
				<td>Between contact details and related listings</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom Right</td>
				<td>Under related listings</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom Left</td>
				<td>Footer section under the main content</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

		</table>

	</div>
</div>

<br clear="all" />
<br clear="all" />

<div style="width:100%">
	<div style="float:left;width:49%" class="advertblock">
		<h3>Weekly Emails</h3>
			<table width="100%" class="table3px adverttable">
			<tr>
				<td><strong>Location</strong></td>
				<td><strong>Description</strong></td>
				<td><strong>Rotation</strong></td>
				<td><strong>Size</strong></td>
				<td><strong>Monthly Rate</strong></td>
			</tr>
			<tr>
				<td>Top Right</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Middle Right</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom Right</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Middle Left</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Bottom Left</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>


<p>&nbsp;</p><p>&nbsp;</p>

