<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Agency Connect</h1>
	<p>Have a lead without a listing? Share the lead with another agency to make the sale.</p>
</div>

<div class="cp-body">


<div id="list-searchform" style="float:right">
		<%= form_remote_tag(:update => "main",
								:loading  =>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none';document.getElementById('foundlistings').innerHTML=document.getElementById('tempcountlistings').value ; load('1');",
								:url => { :controller=>'controlpanel',:action => 'saveagentconnect'}) %>
							<!--document.getElementById('foundlistings').innerHTML=document.getElementById('tempcountlistings').value-->
<input type="hidden" name="agent[id_user]" id="id_user" value="<%=session[:user_id]%>"/>
    <p style="margin-top:0px;padding-top:0px;"><strong><%=I18n.translate('txt.listingtype.i-want-to')%>:</strong></p>
       <select name="salerent" id="salerent">
			<option value="2" ><%=I18n.translate('txt.listingtype.buy-rent')%>&nbsp;&nbsp;</option>
			<option value="1" ><%=I18n.translate('txt.listingtype.buy')%>&nbsp;&nbsp;</option>
			<option value="0" ><%=I18n.translate('txt.listingtype.rent')%>&nbsp;&nbsp;</option>
       </select>
    
    <p><%=I18n.translate('txt.listingtype.propertytype')%>: </p>
    <select name="agent[ttype]" id="propertytype">
    <%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
	<option value="0" selected="selected"><%=I18n.translate('txt.listingtype.listingtype')%></option>
    <%for lt in listingtypes%>
			<%
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
			%>
        <option value="<%=lt.Value%>"><%=showlistingtype%></option>
    <%end%>
    </select>
    
    
    <p><b><%=I18n.translate('txt.listingtype.city')%>:</b></p>
        <input id="code" name="agent[location]" size="15" type="text" value="Pattaya"  style="width:150px;" /><div class="auto_complete" id="code_detail"></div><script type="text/javascript">
        //<![CDATA[
        var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('code').value) }, method:'get', paramName:'code'})
        //]]>
        </script> 
    	
					 <%= observe_field(:code,
                    		:on => :change,
							:method => :get,
                    		:update => :showagency,
                    		:url => { :controller=>'listings',:action => 'genagencies'},
							:with => "'province='+escape($('code').value) ") %>
							
            
    <p><%=I18n.translate('txt.listingtype.price')%> : <span style="margin-left:50px;"><%=I18n.translate('txt.listingtype.to')%>:</span></p>
	
	<input type="text" name="tfprice" id="tfprice" value="0"  onkeydown=" this.value=formatCurrency(this.value,'sprice'); " style="width:70px;" />

    <input type="text" name="ttprice" id="ttprice" value="0"  onkeydown=" this.value=formatCurrency(this.value,'fprice'); " style="width:70px;" />
    
    <input type="hidden" name="agent[sprice]" id="fprice" value="0"  />
    <input type="hidden" name="agent[fprice]" id="tprice" value="0"  />
    
    <p>Bedrooms: <span style="margin-left:15px;"><%=I18n.translate('txt.listingtype.to')%>:</span></p>
	<select name="agent[sbed]" id="bed" style="width:75px;">
            <option value="">Any</option>
            <option value="0" >Studio</option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6+</option>
    </select>
        
    <select name="agent[fbed]" id="bed2" style="width:75px;">
            <option value="">Any</option>
            <option value="0" >Studio</option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6+</option>
     </select>	
        
        
    <p>Bathtooms:</p><select name="agent[bath]" id="bath">
            <option value="">Any</option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5+</option>
        </select>
    
    
    <p>Details:<br />
    	<textarea  name="agent[details]" id="details" cols="45" rows="5"></textarea>
	</p>
    <br />
    <br />
    
    
    <input type="image" href="#" style="width:138;height:26px;cursor:pointer;" name="image" src="/images/button-updatesearch.png" />
	
    <img src="/images/loadingb.gif" id="processing" style="display:none;"/>
    <br />

    <div style="clear:both;"></div>
    
    </form>


	
	
</div>




<div id="main"></div>



<script type="text/javascript">
	function itoggle(id){
		if(document.getElementById(id).style.display =='none'){
			//alert('show');
			document.getElementById(id).style.display ='inline';
		}else{
			//alert('hidden');
			document.getElementById(id).style.display ='none';
		}
	}
	function popupform(id){
		document.getElementById('agentconnect_id').value=id;
		
		document.getElementById('ssalerent').innerHTML = document.getElementById('a_salerent_'+id).innerHTML;
		document.getElementById('ttype').innerHTML=document.getElementById('a_type_'+id).innerHTML;
		document.getElementById('price').innerHTML=document.getElementById('a_price_'+id).innerHTML;
		document.getElementById('rprice').innerHTML=document.getElementById('a_rprice_'+id).innerHTML;
		document.getElementById('llocation').innerHTML=document.getElementById('a_location_'+id).innerHTML;
		document.getElementById('bbed').innerHTML=document.getElementById('a_bed_'+id).innerHTML;
		document.getElementById('bbath').innerHTML=document.getElementById('a_bath_'+id).innerHTML;
		document.getElementById('date').innerHTML=document.getElementById('a_date_'+id).innerHTML;
		
		if(document.getElementById('popupform').style.display =='none'){
			//alert('show');
			document.getElementById('popupform').style.display ='inline';
		}else{
			//alert('hidden');
			document.getElementById('popupform').style.display ='none';
		}
		
	}
</script>


<h1>Agent Connect</h1>





		<div id="popupform" style="position:absolute; left:20%; top:50%; display:none;z-index:100;  background-color: #FFFFFF;padding: 5px;border: 5px solid #ddd;" >		
		 		<div style="float:right; margin-top:-30px;" onclick="javascript:document.getElementById('popupform').style.display='none';"><a href="#" style="color:red;">x Close</a></div>
				<form action="/controlpanel/agent_yes" method="post">
					
		<%#= form_remote_tag(:update => "main",
								#:loading  =>"javascript: document.getElementById('processing').style.display='block'; document.getElementById('main').innerHTML='';",
								#:complete =>"javascript: document.getElementById('processing').style.display='none';",
								#:url => { :controller=>'controlpanel',:action => 'agent_yes'}) %>
				<table border="0">
					<tr>
						<td width="110px"><b>Property Type:</b></td>
						<td><div id="ttype"></div></td>
					</tr>
					<tr>
						<td><b>Property For:</b></td>
						<td><div id="ssalerent"></div></td>
					</tr>
					<tr>
						<td><b>Location:</b></td>
						<td><div id="llocation"></div></td>
					</tr>
					<tr>
						<td><b>Price:</b></td>
						<td><div id="price"></div></td>
					</tr>
					<tr>
						<td><b>Rent Price:</b></td>
						<td><div id="rprice"></div></td>
					</tr>
					<tr>
						<td><b>Bedrooms:</b></td>
						<td><div id="bbed"></div></td>
					</tr>
					<tr>
						<td><b>Bathrooms:</b></td>
						<td><div id="bbath"></div></td>
					</tr>
					<tr>
						<td><b>Date:</b></td>
						<td><div id="date"></div></td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="hidden" name="agentconnect_id" id="agentconnect_id" value="0"/><br>
							<b>Details:</b><br />
							<textarea name="messages" id="messages" cols="45" rows="5"></textarea>
						</td>
					</tr>
					
					<tr>
						<td></td>
						<td><br />
						<div id="main"></div>
							<input type="submit" value="  Submit  "/>
							<img id="processing" style="display:none;" src="/images/loading.gif"/>
							<br />
						</td>
					</tr>
				</table>
				</form>
		</div>

<table  border="0">
	<tr>
		<td><b>ID</b></td>
		<td><b>Type</b></td>
		<td><b>For</b></td>
		<td><b>Location</b></td>
		<td><b>Price</b></td>
		<td><b>Rent Price</b></td>
		<td><b>Bedrooms</b></td>
		<td><b>Bathrooms</b></td>
		<td><b>Date</b></td>
		<td><b></b></td>
	</tr>
	
	<%for l in @agents
	begin
	%>
	<tr>
		<td><%=l.id%></td>
		<td>
			<%
		seo_listingtype=" Any "
        if l.ttype.to_s != '0' and l.ttype.to_s != "" and l.ttype !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{l.ttype}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
					seo_listingtype = "#{lt.Name}-"
				while seo_listingtype[" "]
					seo_listingtype[" "]="-"
				end
				while seo_listingtype["/"]				
					seo_listingtype["/"] =""
				end

              break
            end
          end
        end
		%><div id="a_type_<%=l.id%>"><%=seo_listingtype%></div>
		</td>
		<td><div id="a_salerent_<%=l.id%>"><%if l.salerent.to_s =="1"%>Sale<%elsif l.salerent.to_s =="0"%>Rent<%else%>Sale or Rent <%end%></div></td>
		<td><div id="a_location_<%=l.id%>"><%=l.location%></div></td>
		<td align="right"><div id="a_price_<%=l.id%>"><%= number_to_currency( l.sprice.to_i, :precision => 0, :unit => "")%></div></td>
		<td align="right"><div id="a_rprice_<%=l.id%>"><%= number_to_currency( l.fprice.to_i, :precision => 0, :unit => "")%></div></td>
		<td><div id="a_bed_<%=l.id%>"><%=l.sbed.to_i%> - <%=l.fbed.to_i%></div></td>
		<td><div id="a_bath_<%=l.id%>"><%=l.bath.to_i%></div></td>
		<td><div id="a_date_<%=l.id%>"><%=l.created_at.strftime("%d/%m/%Y")%></div></td>
		<td>
			<span id="lead_<%=l.id%>">
			<a href="#popupform" onclick="popupform('<%=l.id%>')" >Yes</a>			
			
			<%= link_to_remote "No" ,
	                    	:update => "lead_#{l.id}",
							:loading=>"document.getElementById('load_#{l.id}').style.display='inline';",
							:complete=>"document.getElementById('load_#{l.id}').style.display='none';",
							:url=>{:action => 'agent_no', :id=> l.id } %> 	
			</span>
			<img id="load_<%=l.id%>" src="/images/loading.gif" style="display:none;"/>
			
			<%#=l.id%>
		</td>
	</tr>
	<%
	rescue
	end
	end
	%>
</table>









<br /><br /><br />

<h1> My Agent Connect</h1>

<table  border="0">
	<tr>
		<td><b>ID</b></td>
		<td><b>Type</b></td>
		<td><b>For</b></td>
		<td><b>Location</b></td>
		<td><b>Price</b></td>
		<td><b>Rent Price</b></td>
		<td><b>Bedrooms</b></td>
		<td><b>Bathrooms</b></td>
		<td><b>Date</b></td>
		<td><b></b></td>
	</tr>
	
	<%for l in @iagents
	begin
	%>
	<tr>
		<td><%=l.id%></td>
		<td>
			<%
		seo_listingtype=" Any "
        if l.ttype.to_s != '0' and l.ttype.to_s != "" and l.ttype !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{l.ttype}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
					seo_listingtype = "#{lt.Name}-"
				while seo_listingtype[" "]
					seo_listingtype[" "]="-"
				end
				while seo_listingtype["/"]				
					seo_listingtype["/"] =""
				end

              break
            end
          end
        end
		%><div id="a_type_<%=l.id%>"><%=seo_listingtype%></div>
		</td>
		<td><div id="a_salerent_<%=l.id%>"><%if l.salerent.to_s =="1"%>Sale<%elsif l.salerent.to_s =="0"%>Rent<%else%>Sale or Rent <%end%></div></td>
		<td><div id="a_location_<%=l.id%>"><%=l.location%></div></td>
		<td align="right"><div id="a_price_<%=l.id%>"><%= number_to_currency( l.sprice.to_i, :precision => 0, :unit => "")%></div></td>
		<td align="right"><div id="a_rprice_<%=l.id%>"><%= number_to_currency( l.fprice.to_i, :precision => 0, :unit => "")%></div></td>
		<td><div id="a_bed_<%=l.id%>"><%=l.sbed.to_i%> - <%=l.fbed.to_i%></div></td>
		<td><div id="a_bath_<%=l.id%>"><%=l.bath.to_i%></div></td>
		<td><div id="a_date_<%=l.id%>"><%=l.created_at.strftime("%d/%m/%Y")%></div></td>
		<td><a href="#" onclick="itoggle('detail_<%=l.id%>'); return false;" >Show Details</a></td>
	</tr>
	<tr>
		<td colspan="10">
			<div id="detail_<%=l.id%>" style="display:none;">	
				<% user = User.find(l.id_user)%>
				<b>Details: </b> <%=l.details%><br /><br />
				<h3>Contact</h3>
				<b>Name: </b><%=user.FirstName %>  <%=user.LastName%><br />
				<b>Email: </b><%=user.Email%><br />
				<b>Phone: </b><%=user.Phone%>
			</div>
		</td>
	</tr>
	<tr><td colspan="20" style=" border-bottom:1px dotted #999;"></td></tr>
	<%
	rescue
	end
	end
	%>
</table>


<br /><br /><br /><br /><br /><br />

</div>