<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'style' %>




<table class="creditbillingtable" width=100%>
			<tr>
				<th width="5%">ID</th>
				<th width="13%">Date</th>
<!--				<th width="13%" align="right">Credits</th>-->
				<th width="13%" align="right">Subtotal</th>
				
				<th width="11%" align="right">Discount</th>
				<th width="15%" align="right">Total</th>
				<th width="18%" align="right">Payment</th>
				<th width="12%" align="right">Invoice</th>
			</tr>
			
			
			
			<%for recipt in @recipts%>
			<tr>
				<td><%= recipt.id%></td>
				<td><%=recipt.created_on.strftime("%b %d, %Y")%></td>
<!--				<td align="right">
					<%
						
							strprice = recipt.FullCredit
							if strprice.to_f >= 1000
						        strprice = sprintf("%.2f",strprice)
						        strprice = strprice.to_s.reverse
						        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
						        strprice = strprice.gsub(/,$/,"").reverse
						      else
						        strprice = sprintf("%.2f",strprice)
						      end
											
							%>
							
							<%=strprice%><small>Credits</small>
							
				</td>-->
				<td align="right">
					
					<%
						if recipt.Description["Admin"]
							%><span style="color:red;">--</span><%
						else
							strprice = recipt.Price
							if strprice.to_f >= 1000
						        strprice = sprintf("%.2f",strprice)
						        strprice = strprice.to_s.reverse
						        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
						        strprice = strprice.gsub(/,$/,"").reverse
						      else
						        strprice = sprintf("%.2f",strprice)
						      end
											
							%>
							
							<%=strprice%><small>Baht</small>
						<%end%>
				</td>
				
				<td align="right">					
						<%if recipt.Description["Admin"]%>
							<span style="color:red;">--</span>
						<%else%>
							0.00<small>Baht</small>
						<%end%>				
				</td>
				<td align="right">
					<%
						if recipt.Description["Admin"]
							%><span style="color:red;">FREE</span><%
						else
							strprice = recipt.Price
							if strprice.to_f >= 1000
						        strprice = sprintf("%.2f",strprice)
						        strprice = strprice.to_s.reverse
						        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
						        strprice = strprice.gsub(/,$/,"").reverse
						      else
						        strprice = sprintf("%.2f",strprice)
						      end
											
							%><%=strprice%><small>Baht</small>
						<%end%>	
				</td>
				<td align="right">
					<!--<a href="/controlpanel/invpdf/<%=recipt.id%>">view Invoice</a>-->
					
					<%if recipt.Status =='1'%>
						<span style="color:green;"><a href="/controlpanel/invpdf/<%=recipt.id%>">paid</a></span>
					<%elsif recipt.Status =='0'%>
						<span style="color:red;">Canceled</span>	
					<%else%>	
						<span style="color:green;">
							<%=link_to 'Pay now'%>|
							<%=link_to 'cancel',{:action=>'cancelcredit',:id=>recipt.id}, :confirm => 'Are you sure to cancel?'%>
						</span>
					<%end%>
				</td>
				<td align="right">
					<%if recipt.Status =='1'%>
						<span style="color:green;"><a href="/controlpanel/invpdf/<%=recipt.id%>">paid</a></span>
					<%elsif recipt.Status =='0'%>
						<span style="color:red;">Canceled</span>	
					<%else%>	
						--
					<%end%>	
				</td>
			</tr>
			<%end%>
		</table>
