<%= javascript_include_tag :defaults %> 
   
   <script src="/javascripts/kendio.js" type="text/javascript"></script>
   <script src="/javascripts/managemessage.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
   
   
<link href="/stylesheets/style.css?1232449562" media="screen" rel="stylesheet" type="text/css" />


<div style="width:910px; height:40px">
	<div style="width:322px;float:left;display:block;"><img src="/images/controlpanel/images/header-business.png" width="322" height="36" /></div> 
	<div style="float:left;display:block;margin-left:-65px;z-index:9999">
		<%if @companies.length.to_i < 1%>
		<a href="#" onclick="Element.toggle('businessform');"><img src="/images/controlpanel/images/business-addlocation.png" /></a>
		<%else%>
		<a href="#" onclick="javascript:document.getElementById('map').style.display='block';    document.getElementById('mapshow').style.display='none'; addlocation();"><img src="/images/controlpanel/images/business-addlocation.png"  /></a>
		<%end%>
	</div> 
</div>
<div class="clear"></div>

<div style="width:910px; height:310px">
	<div style="position: absolute;width:270px;float:left;z-index:3;">
	<p>First add your business details below, then add the location of your business</p>
	
	
	
	
				<!-- show company-->
				<%for comp in @companies%>	
							<%if comp.logo !="" and comp.logo !=nil and comp.logo !='0'%>
								<%
								begin
								#img = Images.find(comp.logo)
								#img = Businesslogo.find(comp.logo)
								imgs = Businesslogo.find(:all,:conditions=>"id = '#{comp.logo}'")
											if imgs.length > 0
												for img in imgs
												#strtype = img.photo_file_name
												#strtype = img.filename
			                          			#strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
											%>
											
											<!--
												<img src="/listingdata/photos/<%#img.id%>/thumb.<%#strtype%>" /><br>
												<img src="/businesslogos/0000/0001/<%#img.filename%>" /><br>
											-->
											<%= image_tag(img.public_filename(:small)) %><br>
										<%
													break
												end #end for img in imgs
											end  # end if imgs.length
										%>
								<%end%>
							<%end%><!-- end begin ^_^-->
							
							<strong><%=comp.Name%></strong>
							<br><a href="#" onclick="Element.toggle('businessform');" style="color:green;">View / Edit Company Details</a>	
							<!--<br><span><a onclick="Element.toggle('comp_detail');" style="font-weight:bold;">+ Business Details</a></span>		
							<div id="comp_detail" style="display:none;">
								<%=comp.Detail%>
							</div>	
							
							
							
							<br><span><a onclick="Element.toggle('comp_Services');" style="font-weight:bold;">+ Business Services</a></span>	
							<div id="comp_Services" style="display:none;">
								<%=comp.Services%>
							</div>	-->
				<%
					break
					end
				%>
				<br /><br />
	<%if @companies.length < 1%> 
		<a href="#" onclick="Element.toggle('businessform');">Add Business</a>	
		<form method="post" enctype="multipart/form-data"  action="/controlpanel/addbusiness" >
	<%else%>
		<form method="post" enctype="multipart/form-data"  action="/controlpanel/updatebusiness2" >
			<%= hidden_field_tag :id  ,comp.id%>
	<%end%>
				<!--Add Companies Name-->
	<div id="businessform" style="display:none;">
	
	<table width="355px" border=0>
	<tr>
		<td width="100">Business Name:</td>
		<td><input name="comp[Name]" id="comp_Name" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.Name%>"<%end%>></td>
	</tr>
	<tr>
		<td width="100">Broker number:</td>
		<td><input name="comp[brokerNo]" id="comp_brokerNo" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.brokerNo%>"<%end%>></td>
	</tr>
	<tr>
		<td width="100">Years in business:</td>
		<td><input name="comp[Years]" id="comp_Years" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.Years%>"<%end%>></td>
	</tr>
	<tr>
		<td width="100">Website Address:</td>
		<td>http://<input name="comp[Url]" id="comp_Url" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.Url%>"<%end%>></td>
	</tr>
	<tr>
		<td width="100">Logo:</td>
		<td><input name="image[uploaded_data]" id="image_uploaded_data" size="30" type="file" ><br /><small>Image size: 150x30</small></td>
	</tr>
	<tr>
		<td width="100">Details:</td>
		<td><textarea  name="comp[Detail]" id="comp_Detail"  cols="25" rows="3"><%if @companies.length > 0%><%=comp.Detail%><%end%></textarea></td>
	</tr>
	<tr>
		<td width="100">Services:</td>
		<td><textarea  name="comp[Services]" id="comp_Services"  cols="25" rows="3"><%if @companies.length > 0%><%=comp.Services%><%end%></textarea></td>
	</tr>
	<tr>
		<td width="100">Skype:</td>
		<td><input type="text"  name="comp[Skype]" id="comp_Skype"  size="30"  <%if @companies.length > 0%> value="<%=comp.Skype%>"<%end%>></td>
	</tr>
	</table>
	
	<div class="buttons"> 
		<button name="commit" type="submit" class="positive" onclick="return validatebusinessform();"/>
			<img src="/images/icons/tick.png" alt=""/>
			Save Details
		</button>
		<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
	</div> 
	<div style="clear:both;"></div>
	
	<br>
	</div>
	</form>
	<!--show branch-->
	<%i = 1%>
	<%for branch in @branchs%>
		<!--=============================================== Branch  ===================================-->



		<div id="mclistingblockwide">
			<div style="position: absolute;">
				<a href="#" onclick="javascript:document.getElementById('map').style.display='none';    document.getElementById('mapshow').style.display='block';  myclick('<%=i%>');">
					<strong><%=branch.Name%></strong><br>
				</a>
				
				<span class="smallfont">
					Tel:<%=branch.phone%> <br />Email: <%=branch.Email %> 
				</span>
			</div>
			
			
			<div style="float:right;" class="smallfont">
					
					<a href="#" onclick="javascript:document.getElementById('map').style.display='none'; document.getElementById('mapshow').style.display='block';  myclick('<%=i%>');">Show Map</a><!-- ### THIS DOESNT WORK -->
					<br />
					<%= link_to 'Delete', {:action=>'delbranch',:id=>branch.id}, :confirm => 'Are you sure?', :method => :delete %>
			</div>		

		</div>
				<!--==============================================================    end Branch  ===========================================-->
		<%i = i + 1%>		
	<%end%>
	
	
	
	
	
	</div>
	
	
	
	
	
	
	
	<!--=============================    show  map     ========================================================-->
	<div  style="position: absolute;width:550px;float:left;left:350px; z-index:99;">
		
		<div id="map" style="position: absolute;width:550px;height:520px;float:left;left:40px;"></div>
		
		<div id="mapshow" style="position: absolute;width:550px;height:520px;float:left;left:30px; display:block;"></div>
	</div>
		<!--=============================  end  show  map   ========================================================-->
</div>