

   <script src="/javascripts/managemessage.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>


<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Business Details</h1>
	<p>If you are an Agency or Developer, add your logo and contact details here to be shown on listings</p>
</div>

<div class="cp-body">



<!-- show company-->
<%for comp in @companies%>	
	<table>
		<tr><td>
	<div id="smalllogo">		
	
		
	</div>
	</td>	
	</tr>
	</table>
	<h2><%=comp.Name%></h2>
<%
	break
	end
%>

				
<%
branch = ""
for branch in @branchs
	branch=branch
	break
end


%>
	<%if @companies.length < 1%> 
		<form method="post" enctype="multipart/form-data"  action="/controlpanel/addbusiness2" >
	<%else%>
		<form method="post" enctype="multipart/form-data"  action="/controlpanel/updatebusiness3" >
			<%= hidden_field_tag :id_comp  ,comp.id%>
			<%= hidden_field_tag :id_branch  ,branch.id%>
	<%end%>		


	<input type="hidden" name="myredirect" id="myredirect" value="/controlpanel/business"/>
	
	<input type="hidden" name="comp[lat]" id="comp_lat" value="<%if @companies.length > 0%><%=comp.lat%><%end%>"/>
	<input type="hidden" name="comp[lng]" id="comp_lng" value="<%if @companies.length > 0%><%=comp.lng%><%end%>"/>
	
	<input type="hidden" name="branch[lat]" id="branch_lat" value="<%if @branchs.length > 0%><%=branch.lat%><%end%>"/>
	<input type="hidden" name="branch[lng]" id="branch_lng" value="<%if @branchs.length > 0%><%=branch.lng%><%end%>"/>
	
<style>
<!--
	.biztable td {
		padding:3px;
		
	}
-->
</style>	


<table class="biztable" width="100%">
	<tr>
		<td><strong>Contact Details</strong></td>
		<td><strong>Business Information</strong></td>
		<td><strong>Logo</strong></td>
	</tr>
	<tr>
		<td valign="top">
			<table>
<!--				<tr>
					<td>Your Name:</td>
					<td<input type="text"  name="branch[Name]" id="branch_Name"  size="30"  <%if @branchs.length > 0%> value="<%=branch.Name%>"<%end%>>></td>
				</tr>
					-->			
				<tr>
					<td>Business Name:</td>
					<td><input name="comp[Name]" id="comp_Name" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.Name%>"<%end%>></td>
				</tr>

				<tr>
					<td>Phone:</td>
					<td><input type="text"  name="branch[phone]" id="branch_phone"  size="30"  <%if @branchs.length > 0%> value="<%=branch.phone%>"<%end%>></td>
				</tr>
				<tr>
					<td colspan=2>Address:	<br><textarea  name="comp[Address]" id="comp_Address"  cols="38" rows="3" ><%if @branchs.length > 0%><%=comp.Address%><%end%></textarea></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="text"  name="branch[Email]" id="branch_Email"  size="30"  <%if @branchs.length > 0%> value="<%=branch.Email%>"<%end%>></td>
				</tr>
				<tr>
					<td>Skype Username:</td>
					<td><input type="text"  name="comp[Skype]" id="comp_Skype"  size="30"  <%if @companies.length > 0%> value="<%=comp.Skype%>"<%end%>></td>
				</tr>
				<tr>
					<td>Website URL:</td>
					<td>http://<input name="comp[Url]" id="comp_Url" size="23" type="text" <%if @companies.length > 0%> value="<%=comp.Url%>"<%end%>></td>
				</tr>
			</table>
			
			
		</td>
		<td valign="top">
			<table>
				<tr>
					<td>Year Business Started:</td>
					<td><input name="comp[Years]" id="comp_Years" size="10" type="text" <%if @companies.length > 0%> value="<%=comp.Years%>"<%end%>></td>
				</tr>
<!--				<tr>
					<td>Broker Number</td>
					<td><input name="comp[brokerNo]" id="comp_brokerNo" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.brokerNo%>"<%end%>></td>
				</tr>-->
				<tr>
					<td colspan="2">Business Details:<br><textarea  name="comp[Detail]" id="comp_Detail"  cols="38" rows="3"><%if @companies.length > 0%><%=comp.Detail%><%end%></textarea></td>
				</tr>
<!--				<tr>
					<td colspan="2">Business Services<br><textarea  name="comp[Services]" id="comp_Services"  cols="38" rows="3"><%if @companies.length > 0%><%=comp.Services%><%end%></textarea></td>
					<td></td>
				</tr>-->
			</table>
			
			
		</td>
		<td valign="top">			
		<table>
				<tr>
					<td><strong>logo</strong><br><input name="image[uploaded_data]"  id="image_uploaded_data"  size="30" type="file" ></td>
				</tr>
<!--				<tr>
					<td><strong>Profile photo</strong> (photo of an agent or two for the contact form)<br><input name="image2[uploaded_data]" id="image2_uploaded_data" size="30" type="file" ></td>
				</tr>
				<tr>
					<td><strong>Business photo</strong> (for the business section)<br><input name="image3[uploaded_data]" id="image3_uploaded_data" size="30" type="file" ></td>
				</tr>-->

			</table>
			
			</td>
	</tr>
</table>






<div class="buttons"> 
		<button name="commit" type="submit" class="positive" onclick="return validatebusinessform();"/>
			<img src="/images/icons/tick.png" alt=""/>
			Save Details
		</button>
		<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
	</div> 
	<div style="clear:both;"></div>



<br>
<table class="biztable">
	<tr>
		<td>	<!--=============================    show  map     ========================================================-->
	<div  style="width:550px;"><strong>Your business location:</strong>
		<select name="comp[city]" id="location" onchange="searchbusinesslocation();">	
		<option value="Pattaya" selected="selected">Pattaya</option>
		<%
			provinces = Province.find(:all,:order=>"name asc ")
			for p in provinces
				if @companies.length > 0
		%>	
			<option value="<%=p.name%>" <%if comp.city.to_s == p.name.to_s %> selected="selected" <%end%>><%=p.name%></option>
		<%
				else  %>
			<option value="<%=p.name%>" ><%=p.name%></option>		
		<% 		end
			end
		%>
		</select>
		<a href="#map" onclick="searchbusinesslocation(); "><strong>Select City</strong></a>
		
	</div>  
<br>
	<div style="width:550px;float: z-index:99;">
		<div id="map" style="width:550px;height:520px;"></div>
	</div>
		<!--=============================  end  show  map   ========================================================-->

</td>
		<td valign=top><%
		if @companies.length > 0
		if comp.logo.to_s !="" and comp.logo !=nil and comp.logo.to_s !='0'%>
	Logo
	<%
		imgs = Businesslogo.find(:all,:conditions=>"id = '#{comp.logo}'")
		if imgs.length > 0
	%>
	<a href="/controlpanel/deletelogo/<%=imgs[0].id%>"> DELETE THIS LOGO</a>
	<%end%>
	<br><br>
		<%
		begin
		#img = Images.find(comp.logo)
		#img = Businesslogo.find(comp.logo)
		#imgs = Businesslogo.find(:all,:conditions=>"id = '#{comp.logo}'")
					if imgs.length > 0
						for img in imgs
						#strtype = img.photo_file_name
						#strtype = img.filename
              			#strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
					%>
					
					<%= image_tag(img.public_filename(:medium)) %><br>
				<%
							break
						end #end for img in imgs
					end  # end if imgs.length
				%>
		<%end%><!-- end begin ^_^-->
	<%end%>
	<%end%>
	</div>
	</td>
	<td valign=top>
	<div id="profilelogo">
	<%
	if @companies.length > 0
	if comp.logo2.to_s !="" and comp.logo2 !=nil and comp.logo2.to_s !='0'%>
		Profile Logo<br>
		<%
		begin
		#img = Images.find(comp.logo2)
		#img = Businesslogo.find(comp.logo2)
		imgs = Businesslogo.find(:all,:conditions=>"id = '#{comp.logo2}'")
					if imgs.length > 0
						for img in imgs
						#strtype = img.photo_file_name
						#strtype = img.filename
              			#strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
					%>
					
					<%= image_tag(img.public_filename(:small)) %><br>
				<%
							break
						end #end for img in imgs
					end  # end if imgs.length
				%>
		<%end%><!-- end begin ^_^-->
	<%end%>
	<%end%>	
	</div>
	</td><td valign=top>
	
	<div id="businesslogo">
	<%
		if @companies.length > 0
		if comp.logo3.to_s !="" and comp.logo3 !=nil and comp.logo3.to_s !='0'%>
		Business Logo<br>
		<%
		begin
		#img = Images.find(comp.logo3)
		#img = Businesslogo.find(comp.logo3)
		imgs = Businesslogo.find(:all,:conditions=>"id = '#{comp.logo3}'")
					if imgs.length > 0
						for img in imgs
						#strtype = img.photo_file_name
						#strtype = img.filename
              			#strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
					%>
					
					<%= image_tag(img.public_filename(:small)) %><br>
				<%
							break
						end #end for img in imgs
					end  # end if imgs.length
				%>
		<%end%><!-- end begin ^_^-->
	<%end%>
	<%end%>
	</td>
	</tr>
</table>

</form>







</div>
