

   <script src="/javascripts/managemessage.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>

<h1>Business Details</h1>

<p>Add your business details to your listings</p>
<!-- show company-->
				<%for comp in @companies%>	
							<table>
								<tr><td>
							<div id="smalllogo">		
							<%if comp.logo.to_s !="" and comp.logo !=nil and comp.logo.to_s !='0'%>
							Small Logo<br>
								<%
								begin
								#img = Images.find(comp.logo)
								#img = Businesslogo.find(comp.logo)
								imgs = Businesslogo.find(:all,:conditions=>"id = '#{comp.logo}'")
											if imgs.length > 0
												for img in imgs
												#strtype = img.photo_file_name
												#strtype = img.filename
			                          			#strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
											%>
											
											<!--
												<img src="/listingdata/photos/<%#img.id%>/thumb.<%#strtype%>" /><br>
												<img src="/businesslogos/0000/0001/<%#img.filename%>" /><br>
											-->
											<%= image_tag(img.public_filename(:small)) %><br>
										<%
													break
												end #end for img in imgs
											end  # end if imgs.length
										%>
								<%end%>
							<%end%><!-- end begin ^_^-->
							</div>
							</td>
							<td>
							<div id="profilelogo">
							<%if comp.logo2.to_s !="" and comp.logo2 !=nil and comp.logo2.to_s !='0'%>
								Profile Logo<br>
								<%
								begin
								#img = Images.find(comp.logo2)
								#img = Businesslogo.find(comp.logo2)
								imgs = Businesslogo.find(:all,:conditions=>"id = '#{comp.logo2}'")
											if imgs.length > 0
												for img in imgs
												#strtype = img.photo_file_name
												#strtype = img.filename
			                          			#strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
											%>
											
											<!--
												<img src="/listingdata/photos/<%#img.id%>/thumb.<%#strtype%>" /><br>
												<img src="/businesslogos/0000/0001/<%#img.filename%>" /><br>
											-->
											<%= image_tag(img.public_filename(:small)) %><br>
										<%
													break
												end #end for img in imgs
											end  # end if imgs.length
										%>
								<%end%>
							<%end%><!-- end begin ^_^-->
								
							</div>
							</td><td>
							
							<div id="businesslogo">
							<%if comp.logo3.to_s !="" and comp.logo3 !=nil and comp.logo3.to_s !='0'%>
								Business Logo<br>
								<%
								begin
								#img = Images.find(comp.logo3)
								#img = Businesslogo.find(comp.logo3)
								imgs = Businesslogo.find(:all,:conditions=>"id = '#{comp.logo3}'")
											if imgs.length > 0
												for img in imgs
												#strtype = img.photo_file_name
												#strtype = img.filename
			                          			#strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
											%>
											
											<!--
												<img src="/listingdata/photos/<%#img.id%>/thumb.<%#strtype%>" /><br>
												<img src="/businesslogos/0000/0001/<%#img.filename%>" /><br>
											-->
											<%= image_tag(img.public_filename(:small)) %><br>
										<%
													break
												end #end for img in imgs
											end  # end if imgs.length
										%>
								<%end%>
							<%end%><!-- end begin ^_^-->
								
							</div>
							</td>	
							</tr>
							</table>
							<strong><%=comp.Name%></strong><br><br>
				<%
					break
					end
				%>
				
				
<%
branch = ""
for branch in @branchs
	branch=branch
	break
end
%>
	<%if @companies.length < 1%> 
		<form method="post" enctype="multipart/form-data"  action="/controlpanel/addbusiness2" >
	<%else%>
		<form method="post" enctype="multipart/form-data"  action="/controlpanel/updatebusiness3" >
			<%= hidden_field_tag :id_comp  ,comp.id%>
			<%= hidden_field_tag :id_branch  ,branch.id%>
	<%end%>		
				
<table class="table3px">
	
	<input type="hidden" name="myredirect" id="myredirect" value="/controlpanel/business2"/>
	
	<input type="hidden" name="comp[lat]" id="comp_lat" value="<%=comp.lat%>"/>
	<input type="hidden" name="comp[lng]" id="comp_lng" value="<%=comp.lng%>"/>
	
	<input type="hidden" name="branch[lat]" id="branch_lat" value="<%=branch.lat%>"/>
	<input type="hidden" name="branch[lng]" id="branch_lng" value="<%=branch.lng%>"/>
	
	<tr>
		<td><strong>Contact Details</strong></td>
		<td><strong>Business Information</strong></td>
		<td><strong>Images & Logos</strong></td>
	</tr>
	<tr>
		<td valign="top">
			Name	<input type="text"  name="branch[Name]" id="branch_Name"  size="30"  <%if @branchs.length > 0%> value="<%=branch.Name%>"<%end%>><br /><br />
			Phone	<input type="text"  name="branch[phone]" id="branch_phone"  size="30"  <%if @branchs.length > 0%> value="<%=branch.phone%>"<%end%>><br /><br />
			Address	<br><textarea  name="comp[Address]" id="comp_Address"  cols="30" rows="3" ><%if @branchs.length > 0%><%=comp.Address%><%end%></textarea><br /><br />
			Email	<input type="text"  name="branch[Email]" id="branch_Email"  size="30"  <%if @branchs.length > 0%> value="<%=branch.Email%>"<%end%>><br /><br />
			
			Skype	<input type="text"  name="comp[Skype]" id="comp_Skype"  size="30"  <%if @companies.length > 0%> value="<%=comp.Skype%>"<%end%>><br /><br />
			Website URL http://<input name="comp[Url]" id="comp_Url" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.Url%>"<%end%>><br /><br />
			
		</td>
		<td valign="top">
			Business Name			<input name="comp[Name]" id="comp_Name" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.Name%>"<%end%>><br /><br />
			Years in Business		<input name="comp[Years]" id="comp_Years" size="10" type="text" <%if @companies.length > 0%> value="<%=comp.Years%>"<%end%>><br /><br />
			Broker Number			<input name="comp[brokerNo]" id="comp_brokerNo" size="30" type="text" <%if @companies.length > 0%> value="<%=comp.brokerNo%>"<%end%>><br /><br />
			Business Details<br>	<textarea  name="comp[Detail]" id="comp_Detail"  cols="30" rows="3"><%if @companies.length > 0%><%=comp.Detail%><%end%></textarea><br /><br />
			Business Services<br>	<textarea  name="comp[Services]" id="comp_Services"  cols="30" rows="3"><%if @companies.length > 0%><%=comp.Services%><%end%></textarea><br /><br />
			Office Location (map popup)<br /><br />
			
		</td>
		<td valign="top">
			Small logo (for search results and map listings)<br><small>Image size: 150x30</small><br>				<input name="image[uploaded_data]"  id="image_uploaded_data"  size="30" type="file" ><br /><br />
			Profile photo (photo of an agent or two for the contact form)<br><small>Image size: 150x30</small><br>	<input name="image2[uploaded_data]" id="image2_uploaded_data" size="30" type="file" ><br /><br />
			Business photo (for the business section)<br><small>Image size: 150x30</small><br>						<input name="image3[uploaded_data]" id="image3_uploaded_data" size="30" type="file" ><br /><br />
			
		</td>
	</tr>
</table>
<div class="buttons"> 
		<button name="commit" type="submit" class="positive" onclick="return validatebusinessform();"/>
			<img src="/images/icons/tick.png" alt=""/>
			Save Details
		</button>
		<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
	</div> 
	<div style="clear:both;"></div>
</form>

	<!--=============================    show  map     ========================================================-->
	<div  style="position: absolute;width:550px;float:left;left:350px; z-index:99;">
		
		<div id="map" style="position: absolute;width:550px;height:520px;float:left;left:40px;"></div>
	</div>
		<!--=============================  end  show  map   ========================================================-->



