<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'style' %>
<table class="creditbillingtable" width="800px" border="0">
			<tr>
				<th width="10%">ID</th>
				<th width="15%">Type</th>
				<th width="15%">Fee</th>	
				<th width="15%">Remaing Credit</th>				
				<th width="15%">Date</th>
		
			</tr>
			
			
			<%allremain = 0%>
			<%alluse = 0%>
			<%i = 1%>
			<%for cdd in @creditdetails%>
			<tr>
				<td valign="top"><%= cdd.id%></td>
				<td valign="top">
					<%if cdd.command_type.to_s == '1' or cdd.id_contact.to_s == '0'%>
						New Listing
					<%else%>	
						SMS
					<%end%>
				</td>
<!--
				<td align="right" valign="top">
					<%		strprice = cdd.credit
							if strprice.to_f >= 1000
						        strprice = sprintf("%.2f",strprice)
						        strprice = strprice.to_s.reverse
						        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
						        strprice = strprice.gsub(/,$/,"").reverse
						      else
						        strprice = sprintf("%.2f",strprice)
						      end #number_to_currency(cdd.credit)
						%>
					<%=strprice%>
					<small>Credits</small>
				</td>
				<td align="right" valign="top">
					<%strprice = cdd.remains
							if strprice.to_f >= 1000
						        strprice = sprintf("%.2f",strprice)
						        strprice = strprice.to_s.reverse
						        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
						        strprice = strprice.gsub(/,$/,"").reverse
						      else
						        strprice = sprintf("%.2f",strprice)
						      end #number_to_currency(cdd.remains)%>
					<%=strprice%>
					<small>Credits</small>
				</td>-->
				<td align="right" valign="top">
					<%= cdd.created_on.strftime("%d/%m/%Y")%>
				</td>
			</tr>
			<% 
				if i == 1
					allremain = cdd.remains
					i = i + 1
				end
			%>
			<%alluse = alluse + cdd.credit%>
			<%end%>
			<tr>
				<td colspan="10"><hr><br><br></td>
			</tr>
			<tr>
				<td colspan="2"><strong>Total</strong></td>
				<td align="right" valign="top">
					<strong>
					<%strprice = alluse
							if strprice.to_f >= 1000
						        strprice = sprintf("%.2f",strprice)
						        strprice = strprice.to_s.reverse
						        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
						        strprice = strprice.gsub(/,$/,"").reverse
						      else
						        strprice = sprintf("%.2f",strprice)
						      end #=number_to_currency(alluse)%>
					<%=strprice%>
					</strong>
					<small>Credits</small></td>
				<td align="right" valign="top">
					<strong>
						<%strprice = allremain
							if strprice.to_f >= 1000
						        strprice = sprintf("%.2f",strprice)
						        strprice = strprice.to_s.reverse
						        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
						        strprice = strprice.gsub(/,$/,"").reverse
						      else
						        strprice = sprintf("%.2f",strprice)
						      end #number_to_currency(allremain)%>
							  <%=strprice%>
					</strong><small>Credits</small></td>
				<td></td>
			</tr>
		</table>
		<%= will_paginate @creditdetails%>