<%= javascript_include_tag :defaults %> 
<script src="/javascripts/managemessage.js" type="text/javascript"></script> 

<div style="width:910px; height:40px">
	<div style="width:322px;float:left;display:block;">
		<a onclick="javascript: document.getElementById('whatarecredits').style.display='none';  	document.getElementById('buycredits').style.display='none';  	document.getElementById('billcredits').style.display='none';  	document.getElementById('whatdoesitcost').style.display='none';"><img src="/images/controlpanel/images/header-credits.png" width="322" height="36" /></a>
	</div> 
	<div style="float:left;display:block;margin-left:-65px;z-index:9999">
		<a onclick="javascript: document.getElementById('whatarecredits').style.display='block';  	document.getElementById('buycredits').style.display='none';  	document.getElementById('billcredits').style.display='none';  	document.getElementById('whatdoesitcost').style.display='none';"><img src=/images/controlpanel/images/nav-mc-credit1.png /></a>
		<a onclick="javascript: document.getElementById('whatarecredits').style.display='none';  	document.getElementById('buycredits').style.display='block';  	document.getElementById('billcredits').style.display='none';  	document.getElementById('whatdoesitcost').style.display='none';"><img src=/images/controlpanel/images/nav-mc-credit2.png /></a>
<!--		<a onclick="javascript: document.getElementById('whatarecredits').style.display='none';  	document.getElementById('buycredits').style.display='block';  	document.getElementById('billcredits').style.display='none';  	document.getElementById('whatdoesitcost').style.display='none';"><img src=/images/controlpanel/images/nav-mc-credit2.png /></a>-->
		<a onclick="javascript: document.getElementById('whatarecredits').style.display='none';  	document.getElementById('buycredits').style.display='none';  	document.getElementById('billcredits').style.display='block';  	document.getElementById('whatdoesitcost').style.display='none';"><img src=/images/controlpanel/images/nav-mc-credit3.png /></a>
<!--		<a onclick="javascript: document.getElementById('whatarecredits').style.display='none';  	document.getElementById('buycredits').style.display='none';  	document.getElementById('billcredits').style.display='none';  	document.getElementById('whatdoesitcost').style.display='block';"><img src=/images/controlpanel/images/nav-mc-credit4.png /></a>-->
	</div> 
</div>
<div class="clear"></div>



<div id="whatarecredits" style="display:block">
	
	<img src=/images/controlpanel/images/credit-text.png style="margin-top:40px" />
	<img src=/images/controlpanel/images/credit-icons.png style="margin-top:28px;margin-left:20px;position:absolute" />

<div style="margin-left:600px;margin-top:-120px;position:relative">
<h1>Current Credit</h1>
		<% 
				#ccredits = Credit.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and Status = '1'",:order=>"created_on desc",:limit=>"3")
				ccredits = Credit.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and Status = '1'",:order=>"created_on desc")
		%>
		<%
		x = 0
		y = 0 #
		count = 1
		for ccredit in ccredits
			x = x + ccredit.RemainCredit.to_f
			#if count == 3
				#break
			#end
			#count = count + 1
		end
		%>
		<%
					strprice = x
					if strprice.to_f >= 1000
				        strprice = sprintf("%.2f",strprice)
				        strprice = strprice.to_s.reverse
				        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
				        strprice = strprice.gsub(/,$/,"").reverse
				      else
				        strprice = sprintf("%.2f",strprice)
				      end
									
		%>
<p>Current Credit: <%=strprice%> </p>

</div>

</div>


<div id="buycredits" style="display:none">
	<p>&nbsp;</p>
	<h1>Buy Credits</h1>
	<p>Buying additional credit will be avilable soon.</p>
	<p>We're still new and fine tuning out credit purchasing systems.... Email us and we'll happily supply you with credit for <strong>FREE!</strong>. <a href="mailto:billing@rethai.com">billing@rethai.com</a></p>
	<p>&nbsp;</p>
	
	
</div>


<div id="buycredits1" style="display:none">

<p>&nbsp;</p>


<form action="payment">
	<input type="hidden" name="plan" id="plan" value="prepay"/>
<table width=100% id="credittable">
	<tr>
		<!-- PAY AS YOU GO -->
		
	  <td valign=top width=50%>
	  	<h1>Pre-Pay packages</h1>
	    <table class="w100 nm np">
	    	<thead>
	    		<tr>
	    			<th>Credits</th>
					<th>Price</th>
				</tr>
			</thead>
			<thead></thead>
			<tbody>
				<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_1" value="30" checked="checked" type="radio" onclick="javascript:document.getElementById('plan').value='prepay';"> <label for="paygPackageID_1" id="pkg144_val" onclick="javascript:document.getElementById('plan').value='prepay';">30</label>	</td><td>	<label for="paygPackageID_1" onclick="javascript:document.getElementById('plan').value='prepay';">300 THB		</label></td></tr>
				<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_2" value="104"  type="radio" 	onclick="javascript:document.getElementById('plan').value='prepay';"> 				<label for="paygPackageID_2" id="pkg129_val" onclick="javascript:document.getElementById('plan').value='prepay';">104</label>	</td><td>	<label for="paygPackageID_2" onclick="javascript:document.getElementById('plan').value='prepay';">1,000 THB 	</label><label for="paygPackageID_2" onclick="javascript:document.getElementById('plan').value='prepay';">	<span style="color: rgb(197, 101, 17);">(4% extra credits*)</span>	</label></td></tr>
	  			<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_3" value="273"  type="radio" 	onclick="javascript:document.getElementById('plan').value='prepay';"> 				<label for="paygPackageID_3" id="pkg130_val" onclick="javascript:document.getElementById('plan').value='prepay';">273</label>	</td><td>	<label for="paygPackageID_3" onclick="javascript:document.getElementById('plan').value='prepay';">2,500 THB 	</label><label for="paygPackageID_3" onclick="javascript:document.getElementById('plan').value='prepay';">	<span style="color: rgb(197, 101, 17);">(9% extra credits*)</span>	</label></td></tr>
				<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_4" value="560"  type="radio" 	onclick="javascript:document.getElementById('plan').value='prepay';">				<label for="paygPackageID_4" id="pkg131_val" onclick="javascript:document.getElementById('plan').value='prepay';">560</label>	</td><td>	<label for="paygPackageID_4" onclick="javascript:document.getElementById('plan').value='prepay';">5,000 THB 	</label><label for="paygPackageID_4" onclick="javascript:document.getElementById('plan').value='prepay';">	<span style="color: rgb(197, 101, 17);">(12% extra credits*)</span>	</label></td></tr>
				<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_5" value="1180"  type="radio" 	onclick="javascript:document.getElementById('plan').value='prepay';"> 				<label for="paygPackageID_5" id="pkg132_val" onclick="javascript:document.getElementById('plan').value='prepay';">1,180</label>	</td><td>	<label for="paygPackageID_5" onclick="javascript:document.getElementById('plan').value='prepay';">10,000 THB 	</label><label for="paygPackageID_5" onclick="javascript:document.getElementById('plan').value='prepay';">	<span style="color: rgb(197, 101, 17);">(18% extra credits*)</span>	</label></td></tr>
				<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_6" value="1875"  type="radio" 	onclick="javascript:document.getElementById('plan').value='prepay';"> 				<label for="paygPackageID_6" id="pkg133_val" onclick="javascript:document.getElementById('plan').value='prepay';">1,875</label>	</td><td>	<label for="paygPackageID_6" onclick="javascript:document.getElementById('plan').value='prepay';">15,000 THB 	</label><label for="paygPackageID_6" onclick="javascript:document.getElementById('plan').value='prepay';">	<span style="color: rgb(197, 101, 17);">(25% extra credits*)</span>	</label></td></tr>
				<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_7" value="3325"  type="radio" 	onclick="javascript:document.getElementById('plan').value='prepay';"> 				<label for="paygPackageID_7" id="pkg134_val" onclick="javascript:document.getElementById('plan').value='prepay';">3,325</label>	</td><td>	<label for="paygPackageID_7" onclick="javascript:document.getElementById('plan').value='prepay';">25,000 THB 	</label><label for="paygPackageID_7" onclick="javascript:document.getElementById('plan').value='prepay';">	<span style="color: rgb(197, 101, 17);">(33% extra credits*)</span>	</label></td></tr>
				<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_8" value="7050"  type="radio"	onclick="javascript:document.getElementById('plan').value='prepay';"> 				<label for="paygPackageID_8" id="pkg135_val" onclick="javascript:document.getElementById('plan').value='prepay';">7,050</label>	</td><td>	<label for="paygPackageID_8" onclick="javascript:document.getElementById('plan').value='prepay';">50,000 THB 	</label><label for="paygPackageID_8" onclick="javascript:document.getElementById('plan').value='prepay';">	<span style="color: rgb(197, 101, 17);">(41% extra credits*)</span>	</label></td></tr>
				<tr><td></td>
				<td class="r">
					<img src="/images/loading_small.gif" alt="" style="display: none; padding-right: 0.5em; vertical-align: middle;" id="paygSubmitSpinner">
					<input id="paygSubmit" name="submit" value="Buy now" class="btn_orange"  type="submit"> 
				</td>
				</tr>
			</tbody>
		</table>
	    <h2>How Pre-Pay credits work</h2>
      <p>Purchase credits and spend them whenever you add a listing, or add an advertisment.<br>
      The credit cost depends on the listing &amp; upgrades you add to the listing, or the type of add you place. Pre-pay credits expire one year from the date of purchase.</p></td>

		<!-- SUBSCRIPTION -->

	  <td valign=top width=50%>
			<h1>Monthly Subscription Packages</h1>
			<table class="w100 nm np">
				<thead><tr><th>Credits</th><th>Monthly Price</th></tr></thead>
				<thead></thead>
				<tbody>
					<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_9"  value="360"  type="radio" 	onclick="javascript:document.getElementById('plan').value='subscription';">			<label for="paygPackageID_9" id="pkg129_val" 	onclick="javascript:document.getElementById('plan').value='subscription';">360  </label></td><td>	<label for="paygPackageID_9"  onclick="javascript:document.getElementById('plan').value='subscription';">3,000 THB 		</label><label for="paygPackageID_9"  onclick="javascript:document.getElementById('plan').value='subscription';"><span style="color: rgb(197, 101, 17);">(20% extra credits)</span>		</label></td></tr>
					<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_10" value="1040"  type="radio" onclick="javascript:document.getElementById('plan').value='subscription';"> 		<label for="paygPackageID_10" id="pkg130_val" 	onclick="javascript:document.getElementById('plan').value='subscription';">1,040</label></td><td>	<label for="paygPackageID_10" onclick="javascript:document.getElementById('plan').value='subscription';">8,000 THB 		</label><label for="paygPackageID_10" onclick="javascript:document.getElementById('plan').value='subscription';"><span style="color: rgb(197, 101, 17);">(30% extra credits)</span>	</label></td></tr>
					<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_11" value="2100"  type="radio" onclick="javascript:document.getElementById('plan').value='subscription';"> 		<label for="paygPackageID_11" id="pkg131_val" 	onclick="javascript:document.getElementById('plan').value='subscription';">2,100</label></td><td>	<label for="paygPackageID_11" onclick="javascript:document.getElementById('plan').value='subscription';">15,000 THB 	</label><label for="paygPackageID_11" onclick="javascript:document.getElementById('plan').value='subscription';"><span style="color: rgb(197, 101, 17);">(40% extra credits)</span>	</label></td></tr>
					<tr class="hl"><td><input name="paygPackageID" id="paygPackageID_12" value="4500"  type="radio" onclick="javascript:document.getElementById('plan').value='subscription';"> 		<label for="paygPackageID_12" id="pkg132_val" 	onclick="javascript:document.getElementById('plan').value='subscription';">4,500</label></td><td>	<label for="paygPackageID_12" onclick="javascript:document.getElementById('plan').value='subscription';">30,000 THB 	</label><label for="paygPackageID_12" onclick="javascript:document.getElementById('plan').value='subscription';"><span style="color: rgb(197, 101, 17);">(50% extra credits)</span>	</label></td></tr>
					<tr><td></td>
					<td class="r">
						<img src="/images/loading_small.gif" alt="" style="display: none; padding-right: 0.5em; vertical-align: middle;" id="paygSubmitSpinner">
						<input id="paygSubmit" name="submit" value="Subscribe now" class="btn_orange"  type="submit"> 
					</td>
					</tr>
				</tbody>
			</table>
	        <h2>How Subscription credits work</h2>
	        <p>Your subscription gives you a monthly credit limit (unused credits expire every 3 months). The larger the plan the larger the extra credit's we give to you. If you surpass your monthly limit you can simply add some Pre-Pay credits to tie you over till the next month.</p>
      <p>&nbsp;</p></td>
	</tr>
</table>
	
	
<h2>Credit Calculator</h2>
<p> Use our Credit Calculator to see examples of what credits can buy.</p>
<p>&nbsp;</p>

	</form>
</div>








<div id="billcredits" style="display:none">
	<p>&nbsp;</p>

		<h1>Your  Credit & Billing History:	</h1>
		
		<!--	<a href="#" onclick="javascript: document.getElementById('invoice').style.display='block';  document.getElementById('recipt').style.display='none';  document.getElementById('creditdetail').style.display='none';   " >Credit History</a> 
		|
		--> 	<a href="#" onclick="javascript: document.getElementById('invoice').style.display='none';   document.getElementById('recipt').style.display='block'; document.getElementById('creditdetail').style.display='none';   " >Billing History</a>
		| 	<a href="#" onclick="javascript: document.getElementById('invoice').style.display='none';   document.getElementById('recipt').style.display='none';  document.getElementById('creditdetail').style.display='block';   " >Credit Details</a><br>
		 <br>
		
		<!--===============   Billing  ====================================================-->
		<div id="invoice" style="display:none;">
		<h2>Credit History</h2><br>
		<iframe src="/controlpanel/credithistory" width="100%" height="350px;" frameborder="0"></iframe>		
		</div>
		<!--===============   End Billing  ================================================-->
				
		
		
		
		<!--===============   Recipt  ================================================-->
		<div id="recipt" style="display:block;">
		<h2>Billing History</h2><br>
		<iframe src="/controlpanel/billhistory" width="100%" height="350px;" frameborder="0" ></iframe>
		</div>
		<!--===============   End Recipt  ================================================-->




		<!--===============   Credit Details  ================================================-->
		<div id="creditdetail" style="display:none;">
		<h2>Credit Details</h2><br>
		<iframe src="/controlpanel/creditdetails" width="100%" height="350px;" frameborder="0" ></iframe>
		</div>
		<!--===============   End Credit Details   ================================================-->



</div>


<div id="whatdoesitcost" style="display:none">
<p>&nbsp;</p>
	<h1>What does everything cost?</h1>
<table class="creditcosttable">
	<tbody><tr>
		<th>&nbsp;</th>
		<th>Credits</th>
		</tr>
<tr class="odd">		<td style="">Property Listing</td>
		<td style="">10</td>
	  </tr>
<tr class="even">		<td style="">Listing Upgrades</td>
		<td style="">		  2</td>
	  </tr>
<tr class="odd">		<td style="">Homepage Advert</td>

		<td style="">600</td>
	  </tr>
<tr class="even">		<td style="">SMS</td>
		<td style="">		  0.5</td>
	  </tr>
<tr class="odd">		<td style="">Newsletter Ads</td>
		<td style="">150</td>
	  </tr>
<tr class="even">		<td style="">Weekly eAlert</td>
		<td style="">		  25</td>
	  </tr>
<tr class="odd">		<td style="">Agent Listing</td>
		<td style="">10</td>
	  </tr>
<tr class="odd">
  <td style="">Listing Translation</td>
  <td style="">3</td>
</tr>
</tbody></table>
<br>

</div>






