<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'style' %>


<table class="creditbillingtable" >
			<tr>
				<th width="15%">ID</th>
				<th width="15%">Date</th>
				<th width="15%">Credits</th>
				<th width="15%">Subtotal</th>
				
				<th width="15%">Discount</th>
				<th width="15%">Total</th>
				<th width="10%">Invoice</th>
		
			</tr>
			
			
			
			<%for inv in @invoices%>
			<tr>
				<td><%= inv.id%></td>
				<td><%=inv.created_on.strftime("%b %d, %Y")%></td>
				<td align="right"><%=number_to_currency(inv.FullCredit)%></td>
				<td align="right"><%
				if inv.Description["Admin"]
					%><span style="color:red;">--</span><%
				else
					strprice = inv.Price
					if strprice.to_f >= 1000
				        strprice = sprintf("%.2f",strprice)
				        strprice = strprice.to_s.reverse
				        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
				        strprice = strprice.gsub(/,$/,"").reverse
				      else
				        strprice = sprintf("%.2f",strprice)
				      end
									
					%><%=strprice%>
				<%end%>
					</td>
				
				<td align="right">
				<%if inv.Description["Admin"]%>
					<span style="color:red;">--</span>
				<%else%>
					0.00<small>Baht</small>
				<%end%>	
					
					</td>
				<td align="right"><%
				if inv.Description["Admin"]
					%><span style="color:red;">Admin</span><%
				else
					strprice = inv.Price
					if strprice.to_f >= 1000
				        strprice = sprintf("%.2f",strprice)
				        strprice = strprice.to_s.reverse
				        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
				        strprice = strprice.gsub(/,$/,"").reverse
				      else
				        strprice = sprintf("%.2f",strprice)
				      end
									
					%><%=strprice%><small>Baht</small>
				<%end%>
					</td>
				<td align="right">
					<%if inv.Status =='1'%>
						<span style="color:green;"><a href="/controlpanel/invpdf/<%=inv.id%>">Recipted</a></span>
					<%elsif inv.Status =='0'%>
						<span style="color:red;">Canceled</span>	
					<%else%>	
						<span style="color:green;">-</span>
					<%end%>
				</td>
			</tr>
			<%end%>
		</table>
		<%= will_paginate @invoices%>