<h1>Listing</h1>

<form method="post" enctype="multipart/form-data" action="/admin/updatelisting">
	<input type="hidden" name="id" id="id" value="<%=@product.id%>"/>
<table border="0">
	<tr>
		<td width="120px">Property Listing:</td>
		<td>
		    <select name="product[salerent]" id="product_salerent">				
		      	<option value="1" <%if @product.salerent.to_s == '1'%>selected = "selected"<%end%> > For Sale </option>
				<option value="0" <%if @product.salerent.to_s == '0'%>selected = "selected"<%end%> >For Rent</option>
				<option value="2" <%if @product.salerent.to_s == '2'%>selected = "selected"<%end%> >For Sale or Rent</option>
		    </select>
		</td>
	</tr>
	<tr>
		<td>Propety Type:</td>
		<td>
		    <select name="product[Type]" id="product_Type">
					<%
					optiontypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"Value asc")
					for opt in optiontypes%>
						<option value="<%=opt.Value%>" <%if opt.Value.to_s == "#{@product.Type.to_s}"%> selected = "selected" <%end%> ><%=opt.Name%></option>
					<%end%>
		    </select>
		</td>
	</tr>
	<tr>
		<td>Sale Price:</td>
		<td><input type="text" name="product[Price]" id="product_Price"  value="<%=@product.Price%>" /></td>
	</tr>
	<tr>
		<td>Rent Price:</td>
		<td><input type="text" name="product[RPrice]" id="product_RPrice" value="<%=@product.RPrice%>" /></td>
	</tr>
	<tr>
		<td>Bedrooms:</td>
		<td>
		    <select name="product[Bed]" id="product_Bed">
				<option value="0" <%if @product.Bed.to_i == 0%> selected = "selected" <%end%> >Studio</option>
				<option value="1" <%if @product.Bed.to_i == 1%> selected = "selected" <%end%> >1</option>
				<option value="2" <%if @product.Bed.to_i == 2%> selected = "selected" <%end%> >2</option>
				<option value="3" <%if @product.Bed.to_i == 3%> selected = "selected" <%end%> >3</option>
				<option value="4" <%if @product.Bed.to_i == 4%> selected = "selected" <%end%> >4</option>
				<option value="5" <%if @product.Bed.to_i == 5%> selected = "selected" <%end%> >5</option>
				<option value="6" <%if @product.Bed.to_i == 6%> selected = "selected" <%end%> >6+</option>
		    </select>
		</td>
	</tr>
	<tr>
		<td>Bathrooms:</td>
		<td>
		    <select name="product[Bath]" id="product_Bath">
				<option value="1" <%if @product.Bath.to_i == 1%> selected = "selected" <%end%> >1</option>
				<option value="2" <%if @product.Bath.to_i == 2%> selected = "selected" <%end%> >2</option>
				<option value="3" <%if @product.Bath.to_i == 3%> selected = "selected" <%end%> >3</option>
				<option value="4" <%if @product.Bath.to_i == 4%> selected = "selected" <%end%> >4</option>
				<option value="5" <%if @product.Bath.to_i >= 5%> selected = "selected" <%end%> >5+</option>
		    </select>
		</td>
	</tr>
	<tr>
		<td>Parking:</td>
		<td>
		    <select name="product[Parking]" id="product_Parking">
					<%
					optiontypes = Option.find(:all,:conditions=>"option_type = 'Carspace'",:order=>"Value asc")
					for opt in optiontypes%>
						<option value="<%=opt.Value%>" <%if opt.Value.to_s == "#{@product.Parking.to_s}"%> selected = "selected" <%end%> ><%=opt.Name%></option>
					<%end%>
		    </select>
		</td>
	</tr>
	<tr>
		<td>Payment:</td>
		<td>
			<%if @product.Deleted == 'p'%>
				<span style="color:red;">Pending...</span>
				<input type="checkbox" name="product[Deleted]" id="product_Deleted" value="1" onclick="adminpay('product_Deleted','product_adminpay')"/>
				<label for="product_Deleted">Pay by admin</label>
				<input type="hidden" name="product[adminpay]" id="product_adminpay" value="0"  />
			<%elsif @product.Deleted == '1' %>
				<span style="color:green;">paid</span>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>Status:</td>
		<td>
			<%if @product.Status == 'd'%>
				<span style="color:red;">Deleted</span>
			<%elsif @product.Status == 'f' %>
				<span style="color:green;">Offline</span>
			<%elsif @product.Status == 's' %>
				<span style="color:red;">Saled </span>
			<%elsif @product.Deleted == '1' and @product.Status !='d' and @product.Status != 'f' and @product.Status != 's'%>	
				<span style="color:Green;">Online </span>
			<%else%>	
				<span style="color:Green;">Wait for payment (auto online when finished pay)</span>
			<%end%>
			<%if @product.Status !="d" and @product.Deleted.to_s !='0'%>				
				<select name="product[Status]" id="product_Status">
					<option value="1" <%if @product.Status.to_s == '1'%> selected="selected" <%end%> >set to online</option>
					<option value="s" <%if @product.Status.to_s == 's'%> selected="selected" <%end%> >set to saled</option>
					<option value="d" <%if @product.Status.to_s == 'd'%> selected="selected" <%end%> >set to Delist</option>
					<option value="f" <%if @product.Status.to_s == 'f'%> selected="selected" <%end%> >set to offline</option>
		    	</select>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>lat:</td>
		<td><input type="text" name="product[lat]" id="product_lat" value="<%=@product.lat%>" size="25" readonly="true"/></td>
	</tr>
	<tr>
		<td>lng:</td>
		<td><input type="text" name="product[lng]" id="product_lng" value="<%=@product.lng%>" size="25" readonly="true"/></td>
	</tr>
	<tr>
		<td valign="top"  colspan="2">
		Details<br>
		&nbsp;&nbsp;<textarea name="product[Detail]" id="product_Detail" cols="50" rows="7"><%=@product.Detail%></textarea></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<br><br>
			<input type="submit" value="Update Listing!" >	
		</td>
	</tr>
</table>

</form>
<div  style="position:absolute;	left:480px;top:80px; width:500px;z-index:1;"> <span style="color:#006600;">Drag & drop marker and then click "Confirm Location" to set new location(lat,lng)</span></div>  
<div id="map" style="position:absolute;	left:480px;top:100px;	width:500px;	height:450px; min-height: 450px;	z-index:1;	background-color: #999999;"></div>    