




<html>
	<head>
  <%= javascript_include_tag :defaults %> 
			<script src="/javascripts/indexpro.js" type="text/javascript"></script>
			<script src="/javascripts/kendio.js" type="text/javascript"></script>
			<script src="/javascripts/listings.js" type="text/javascript"></script>
			<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>		
	</head>
<%
	lat = @product.lat.to_f + 0.015
	lng = @product.lng.to_f - 0.02
if request.env['HTTP_USER_AGENT'].downcase["msie"] or request.env['HTTP_USER_AGENT'].downcase["chrome"] 
	lat = @product.lat
	lng = @product.lng
end
%>
	<body  onload="loadmap2('<%=@product.lat%>','<%=@product.lng%>','<%=lat%>','<%=lng%>');" onunload="GUnload();">	
	
<script type="text/javascript">
	function setsubmitform(){
		// nothing
		
	}
</script>
					
					<%if flash[:notice]%>
						<div style="color:red;"><%=flash[:notice]%></div>
					<%end%>
<form method="post" enctype="multipart/form-data" action="/controlpanel/updateproduct">
								<%#=hidden_field_tag 'myredirect',"/controlpanel/fulledit/#{@product.id}"%>
								<%=hidden_field_tag 'confirmlocation',"0"%>
							
											<input type="hidden" name="product2[lat]" id="product_lat" value=""/>
											<input type="hidden" name="product2[lng]" id="product_lng" value=""/>
							
											<input type="hidden" name="temp_lat1" id="temp_lat1" value=""/>
											<input type="hidden" name="temp_lng1" id="temp_lng1" value=""/>
							
									
									<input type="hidden" name="temp_lat2" id="temp_lat2" value="" readonly="readonly"/>
									<input type="hidden" name="temp_lng2" id="temp_lng2" value="" readonly="readonly"/>
									<input type="hidden" name="product2[City]" id="product2_City" value="<%=@product.City%>" readonly="readonly" />
											
											<input name="id" id="id" type="hidden" value="<%=@product.id%>">							
											
	
	
	
	
	
	
										
										
													
	<div><!--</div> style="position:absolute;top:120px; left:550px; width:470px;float:right">-->
		<p id="notice" style="width:470px;"><img src="/images/icons/lightbulb.png" style="margin-right:10px;" /><small>Select your city then drag & drop the marker to set your listing location</small></p>
		<div style="display:block; width:470px;">
			<select name="location" id="location">	
			<option value="Pattaya" selected="selected">Pattaya</option>
			<%
				provinces = Province.find(:all,:order=>"name asc ")
				for p in provinces
			%>	
				<option value="<%=p.name%>"><%=p.name%></option>
			<%	end	%>
			</select>
			<a href="#notice" onclick=" document.getElementById('product2_City').value = document.getElementById('location').value; searchlocation();"><strong>Select City</strong></a>
		</div> 




<div id="map" style="width:470px;height:330px; min-height: 330px;margin-top:10px"></div>  


	</div>	
										
										<input value="Submit" type="submit"/>				

						
										</div>
										</td></tr></tbody></table></form>
										
										
										
										
										

					
	
	
	
		</body>
</html>				