
					<% types = 		Option.find(:all,:conditions=>"option_type = 'Listing'",  :order=>"id asc")%>
					<% parkings = 	Option.find(:all,:conditions=>"option_type = 'Carspace'", :order=>"id asc")%>
					<% images = Images.find(:all,:conditions=>"id_product = '#{@product.id}'")  %>
<form method="post" enctype="multipart/form-data" action="/controlpanel/updateproduct">
											<input name="id" id="id" type="hidden" value="<%=@product.id%>">
										<br><table border="0"><tbody><tr><td valign="top" width="350" height="400">
										<p>Price:<input name="product2[Price]" id="product2_Price"onchange="return checknumber('product2_Price');" type="text" value="<%=@product.Price%>"></p>
										<p>Bedrooms:<input name="product2[Bed]" id="product2_Bed"onchange="return checknumber('product2_Bed');" type="text" value="<%=@product.Bed%>"></p>
										<p>Bathrooms:<input name="product2[Bath]" id="product2_Bath" onchange="return checknumber('product2_Bath');" type="text" value="<%=@product.Bath%>"></p>
										
										
										<p>Type:<select name="product2[Type]" id="product2_Type">
											<%for type in types%>
												<option value="<%=type.Value%>" <%if @product.Type.to_s == type.Value.to_s%> selected="selected" <%end%>><%=type.Name%></option>
											<%end%>
										
										</select></p>
										
										
										<p>Parking:<select name="product2[Parking]" id="product2_Parking">
										<%for parking in parkings%>
												<option value="<%=parking.Value%>" <%if @product.Parking.to_s == parking.Value.to_s%> selected="selected" <%end%>><%=parking.Name%></option>
											<%end%>
										</select></p>
										
										<p>Detail:<textarea name="product2[Detail]" id="product2_Detail" cols="30" rows="3"><%=@product.Detail%></textarea></p>
										<%
										img1 = ""
										img2 = ""
										img3 = ""
										img4 = ""
										img5 = ""

										tempimg1 = "0"
										tempimg2 = "0"
										tempimg3 = "0"
										tempimg4 = "0"
										tempimg5 = "0"
										a = 1
										%>
										
										
										<%for image in images%>
										<%
										strtype = image.photo_file_name
                          				strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
										if a == 1
											img1 = "#{image.photo.url(:thumb)}"
											tempimg1 = image.id
										end	
										if a == 2
											img2 = "#{image.photo.url(:thumb)}"
											tempimg2 = image.id
										end	
										if a == 3
											img3 = "#{image.photo.url(:thumb)}"
											tempimg3 = image.id
										end	
										if a == 4
											img4 = "#{image.photo.url(:thumb)}"
											tempimg4 = image.id
										end	
										if a == 5
											img5 = "#{image.photo.url(:thumb)}"
											tempimg5 = image.id
										end	
										
										a = a + 1
										%>
										<%end%>
										
										<input name="tempimg1" id="tempimg1" type="hidden" value="<%=tempimg1%>">
										<input name="tempimg2" id="tempimg2" type="hidden" value="<%=tempimg2%>">
										<input name="tempimg3" id="tempimg3" type="hidden" value="<%=tempimg3%>">
										<input name="tempimg4" id="tempimg4" type="hidden" value="<%=tempimg4%>">
										<input name="tempimg5" id="tempimg5" type="hidden" value="<%=tempimg5%>">
										
										<p>Picture</p>
										<p>Picture1:<input name="image2[pic1]" id="image2_pic1" cols="30" type="file"> 	<%if img1 !=""%><img src="<%=img1%>" width="40" height="40"/><%end%>	</p>
										<p>Picture2:<input name="image2[pic2]" id="image2_pic2" cols="30" type="file">	<%if img2 !=""%><img src="<%=img2%>" width="40" height="40"/><%end%>	</p>
										<p>Picture3:<input name="image2[pic3]" id="image2_pic3" cols="30" type="file">	<%if img3 !=""%><img src="<%=img3%>" width="40" height="40"/><%end%>	</p>
										<p>Picture4:<input name="image2[pic4]" id="image2_pic4"cols="30" type="file">	<%if img4 !=""%><img src="<%=img4%>" width="40" height="40"/><%end%>	</p>
										<p>Picture5:<input name="image2[pic5]" id="image2_pic5" cols="30" type="file">	<%if img5 !=""%><img src="<%=img5%>" width="40" height="40"/><%end%>	</p>
										
										
										<input value="Submit" type="submit"/>				

						
										</div>
										</td></tr></tbody></table></form>