<script src="/javascripts/kendio.js" type="text/javascript"></script>




<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">My Account Settings</h1>
	<p>Manage your Email & SMS alert settings, and your personal details</p>
</div>

<!-- Add password management, personal contact details -->


<div class="cp-body">


<div id="notify-block">
	
	<h3>Email me:</h3>
	<form method="post" action="/controlpanel/saveemailsms">
		<input type="hidden" name="id" id="id" value="<%=session[:user_id]%>"/>
	<p>
		<input name="user[email_newsletter]" id="user_email_newsletter" 	type="checkbox" value="1" <%if @user.email_newsletter.to_s == '1'%>checked="checked"<%end%> /> Our newsletter <br />
		<input name="user[email_newmessage]" id="user_email_newmessage" 	type="checkbox" value="1" <%if @user.email_newmessage.to_s == '1'%>checked="checked"<%end%> /> New message notifications <br />
<!--		<input name="user[email_weeklyalerts]" id="user_email_weeklyalerts" type="checkbox" value="1" disabled="disabled" /> Weekly Alerts <br />
		<input name="user[email_partnermedia]" id="user_email_partnermedia" type="checkbox" value="1" disabled="disabled"/> Partner marketing media <br />-->
	
	</p>
	
	
	<h3>SMS me:</h3>
	<p>	
<!--		<input name="user[sms_newmessage]" 		id ="user_sms_newmessage" 	type="checkbox" value="1" <%if @user.sms_newmessage.to_s == '1'%>	checked="checked"<%end%>/> New message notifications * <br /> -->
		<input name="user[sms_partnermedia]" 	id="user_sms_partnermedia" 	type="checkbox" value="1" <%if @user.sms_partnermedia.to_s == '1'%>	checked="checked"<%end%> /> Partner marketing media <br />
	<br><br>
	<%
								mynumber = "0"
								mynumber = @user.SMSPhone
								if not mynumber == nil 
										if mynumber.length >= 10 
											mynumber = mynumber.slice(0,mynumber.length.to_i - 9)
										end
								else
									mynumber = "0"
								end			
							
							%>
							
	<select name="frmProd[prefix2]" id="frmProd_prefix2" onchange="return number('0','user_SMSPhone','frmProd_prefix2');">
				<option value=" "  <%if mynumber.to_i == " "%>selected = "selected" <%end%>>Select Country</option>
				<option value=" ">--------------------------------</option>
				<option value="66"  <%if mynumber.to_i == 66%>selected = "selected" <%end%> >Thailand (66)</option>
				<option value=" ">--------------------------------</option>
				<option value="61" <%if mynumber.to_i == 61%>selected = "selected" <%end%> >Australia (61)</option>
				<option value="43" <%if mynumber.to_i == 43%>selected = "selected" <%end%> >Austria (43)</option>
				<option value="973" <%if mynumber.to_i == 973%>selected = "selected" <%end%> >Bahrain (973)</option>
				<option value="32" <%if mynumber.to_i == 32%>selected = "selected" <%end%> >Belgium (32)</option>
				<option value="55" <%if mynumber.to_i == 55%>selected = "selected" <%end%> >Brazil (55)</option>
				<option value="673" <%if mynumber.to_i == 673%>selected = "selected" <%end%> >Brunei (673)</option>
				<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >Canada (1)</option>
				<option value="86"  <%if mynumber.to_i == 86%>selected = "selected" <%end%> >China (86)</option>
				<option value="45"  <%if mynumber.to_i == 45%>selected = "selected" <%end%> >Denmark (45)</option>
				<option value="358"  <%if mynumber.to_i == 358%>selected = "selected" <%end%> >Finland (358)</option>
				<option value="33"  <%if mynumber.to_i == 33%>selected = "selected" <%end%> >France (33)</option>
				<option value="49"  <%if mynumber.to_i == 49%>selected = "selected" <%end%> >Germany (49)</option>
				<option value="30"  <%if mynumber.to_i == 30%>selected = "selected" <%end%> >Greece (30)</option>
				<option value="852"  <%if mynumber.to_i == 852%>selected = "selected" <%end%> >HongKong (852)</option>
				<option value="36"  <%if mynumber.to_i == 36%>selected = "selected" <%end%> >Hungary (36)</option>
				<option value="353"  <%if mynumber.to_i == 353%>selected = "selected" <%end%> >Ireland (353)</option>
				<option value="39"  <%if mynumber.to_i == 39%>selected = "selected" <%end%> >Italy (39)</option>
				<option value="81"  <%if mynumber.to_i == 81%>selected = "selected" <%end%> >Japan (81)</option>
				<option value="82"  <%if mynumber.to_i == 82%>selected = "selected" <%end%> >Korea (South) (82)</option>
				<option value="370"  <%if mynumber.to_i == 370%>selected = "selected" <%end%> >Lithuania (370)</option>
				<option value="352"  <%if mynumber.to_i == 352%>selected = "selected" <%end%> >Luxembourg (352)</option>
				<option value="853"  <%if mynumber.to_i == 853%>selected = "selected" <%end%> >Macau (853)</option>
				<option value="60"  <%if mynumber.to_i == 60%>selected = "selected" <%end%> >Malaysia (60)</option>
				<option value="31"  <%if mynumber.to_i == 31%>selected = "selected" <%end%> >Netherlands (31)</option>
				<option value="64"  <%if mynumber.to_i == 64%>selected = "selected" <%end%> >New Zealand (64)</option>
				<option value="47"  <%if mynumber.to_i == 47%>selected = "selected" <%end%> >Norway (47)</option>
				<option value="63"  <%if mynumber.to_i == 63%>selected = "selected" <%end%> >Philippines (63)</option>
				<option value="48"  <%if mynumber.to_i == 48%>selected = "selected" <%end%> >Poland (48)</option>
				<option value="7"  <%if mynumber.to_i == 7%>selected = "selected" <%end%> >Russia (7)</option>
				<option value="966"  <%if mynumber.to_i == 966%>selected = "selected" <%end%> >Saudi Arabia (966)</option>
				<option value="381"  <%if mynumber.to_i == 381%>selected = "selected" <%end%> >Serbia (381)</option>
				<option value="65"  <%if mynumber.to_i == 65%>selected = "selected" <%end%> >Singapore (65)</option>
				<option value="34"  <%if mynumber.to_i == 34%>selected = "selected" <%end%> >Spain (34)</option>
				<option value="46"  <%if mynumber.to_i == 46%>selected = "selected" <%end%> >Sweden (46)</option>
				<option value="41"  <%if mynumber.to_i == 41%>selected = "selected" <%end%> >Switzerland (41)</option>
				<option value="886"  <%if mynumber.to_i == 886%>selected = "selected" <%end%> >Taiwan (886)</option>
				<option value="66"  <%if mynumber.to_i == 66%>selected = "selected" <%end%> >Thailand (66)</option>
				<option value="90"  <%if mynumber.to_i == 90%>selected = "selected" <%end%> >Turkey (90)</option>
				<option value="44"  <%if mynumber.to_i == 44%>selected = "selected" <%end%> >UK (44)</option>
				<option value="380"  <%if mynumber.to_i == 380%>selected = "selected" <%end%> >Ukraine (380)</option>
				<option value="971"  <%if mynumber.to_i == 971%>selected = "selected" <%end%> >United Arab Emirates (971)</option>
				<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >USA (1)</option>
				<option value="84"  <%if mynumber.to_i == 84%>selected = "selected" <%end%> >Vietnam (84)</option>
				<option value="+"  <%if mynumber.to_i == '+'%>selected = "selected" <%end%> >Other</option>
		</select><br>
		Number For SMS notice:<input name="user[SMSPhone]" 	id="user_SMSPhone" 	type="text" value="<%=@user.SMSPhone%>"  /> 
	<small><br /> * SMS notifications are limited per subscription plan.</small>
	</p>
	
			<input type="submit" name="Submit" value="Update Email & SMS" id="Submit" />
	</form>


</div>







