<%= javascript_include_tag :defaults %> 

<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Expired listings</h1>
	<p>Review your listings that are about to expire</p>
</div>

<div class="cp-body">




<%if @listings.length <= 0%>
	<span style="color:red;">No data</span>
<%else%>
	<table>
		<tr>
			<th>ID</th>
			<th>Images</th>
			<th>Details</th>			
			<th>Bedroom</th>
			<th>Bathroom</th>
			<th>Sale Price</th>
			<th>Rent Price</th>
			<th>Last Update</th>
		</tr>
	<%for listing in @listings %>
		<tr>
			
		<td>&nbsp;
			<a href="/rethai/<%=listing.id%>" target="_blank"><%=listing.id%></a>
		</td>
		
		<td>
				<div class="left">
					
					<%
							images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'",:limit=>3)
							if images.length > 0
								for image in images																			
								          if image.paperclipfix.to_s == "1"		
									%>
										<a href="<%=image.photo.url(:large)%>" rel="lightbox[listing<%=listing.id%>]"><img src="<%=image.photo.url(:thumb)%>" width="40" height="40" /></a>
									<%
								          else
									%>
										<a href="<%=image.photo.url()%>" rel="lightbox[listing<%=listing.id%>]"><img src="<%=image.photo.url(:thumb)%>" width="40" height="40" /></a>
									<%
								          end	
								end 
								%>
							<%else%>
								<img src="/googleimage/default.png" width="60" height="60"/>
							<%end%>
					
				</div>
		</td>
		<td>&nbsp;
				<%=listing.Detail.slice(0,200) %>
			<%if listing.Detail.length > 200%>...<%end%>
		</td>
		<td><%if listing.Bed.to_i == 0 %><span style="color:red;">Studio</span><%else%><%=listing.Bed%><%end%></td>
		<td><%=listing.Bath%></td>
		
		<td><%=number_to_currency(listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		<td><%=number_to_currency(listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		
		
		<td><%=listing.updated_on.strftime("%d/%m/%Y")%></td>
		<td>
					<span style="color:red;" id="delete<%=listing.id%>">				
					<%= link_to_remote "Delete" ,
	                    	:update => "delete#{listing.id}",
							:loading=>"document.getElementById('delete#{listing.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'reupdate', :id=> listing.id,:delete=>'1' } %> 				

					</span>
		</td>
		<td>
					<span style="color:red;" id="reupdate<%=listing.id%>">				
					<%= link_to_remote "Reupdate",
							:update => "reupdate#{listing.id}",
							:loading=>"document.getElementById('reupdate#{listing.id}').innerHTML = \"<img src\=\'/images/loading.gif\'/>\";",
							:url=>{:action => 'reupdate', :id=> listing.id,:delete=>'0'} %> 				

					</span>
				
					
		</td>
		</tr>
	<%end%>
	</table>
	<%=will_paginate @listings%>
<%end%>	

</div>


