
<!-- SEO -->
<%@page_title = "Forget your Password?"%>
<%@page_desc = "Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->

		<%= javascript_include_tag :defaults %> 
		<h1>Forget your Password?</h1>

<div style="float:right;width:400px;">
	<h2>Login to access the control panel</h2>
	<h3>The control panel allows you to:</h3>
	<ul>
		<li>Add / Edit and Remove your listings</li>
		<li>View listing statistics</li>
		<li>Upgrade or downgrade your subscription</li>
		<li>Update your public contact details</li>
		<li>And so much more...</li>
	</ul>

</div>


<div class="loginform">
	<div id="loginmessage"></div>	
		<%= form_remote_tag(:update => "loginmessage",
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; ",
								:url => { :controller=>'login',:action => 'getpassword'}) %>
								
<!--				<input type="hidden" name="myredirect" id="myredirect" value="/controlpanel/forgetpassword"/>-->
				<table>
					<tr>
						<td>Email:</td>
						<td><input type="text" name='myemail' id="myemail"  size="35"></td>
					</tr>
					<tr>
						<td></td>
						<td><br />
					
			<div class="buttons">
			<button type="submit" class="positive" />
				<img src="/images/icons/key_go.png" alt="" />
				Send Password
			</button>
			<img id="processing" style="display:none" src="/images/loadingb.gif"/>
			</div>
			
			<div style="clear:both;"></div>
						</td>
					</tr>
				</table>
			</form>
</div>
<br clear="all" />
