<html>
	<head>
  
			<script src="/javascripts/indexpro.js" type="text/javascript"></script>
			<script src="/javascripts/kendio.js" type="text/javascript"></script>
			<script src="/javascripts/listings.js" type="text/javascript"></script>
			<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>		

		<!-- STYLES -->
		<%= stylesheet_link_tag 'yui/reset' %>
		<%= stylesheet_link_tag 'yui/fonts' %>
		<%= stylesheet_link_tag 'yui/grids' %>
		<%= stylesheet_link_tag 'yui/base' %>

		<%= stylesheet_link_tag 'rethai-controlpanel' %>

<style>
<!--
	.addlistingtable td {
		padding:3px;
	}
-->
</style>

	</head>

	<body>

<div style="padding:20px;">
	
<script type="text/javascript">
	function setsubmitform(){
		// nothing
		
	}
</script>


<%if @product == "" or @product == nil %>
	Please check your link
	or <a href="/index/contactus">Contact admin</a>
<%else%>
		<% types = 		Option.find(:all,:conditions=>"option_type = 'Listing'",  :order=>"id asc")%>
		<% parkings = 	Option.find(:all,:conditions=>"option_type = 'Carspace'", :order=>"id asc")%>
		<% images = Images.find(:all,:conditions=>"id_product = '#{@product.id}'")  %>
		<h1>Edit Listing</h1>
		<br>
		
		<%if flash[:notice]%>
			<div style="color:red;"><%=flash[:notice]%></div>
		<%end%>

<form method="post" enctype="multipart/form-data" action="/controlpanel/updateproduct">
	<%#=hidden_field_tag 'myredirect',"/controlpanel/fulledit/#{@product.id}"%>
	<%=hidden_field_tag 'confirmlocation',"0"%>
<!--
		<input type="hidden" name="product2[lat]" id="product_lat" value="<%=@product.lat%>"/>
		<input type="hidden" name="product2[lng]" id="product_lng" value="<%=@product.lng%>"/>

		<input type="hidden" name="temp_lat1" id="temp_lat1" value=""/>
		<input type="hidden" name="temp_lng1" id="temp_lng1" value=""/>

		<input type="hidden" name="temp_lat2" id="temp_lat2" value="" readonly="readonly"/>
		<input type="hidden" name="temp_lng2" id="temp_lng2" value="" readonly="readonly"/>
-->		
		<input type="hidden" name="product2[City]" id="product2_City" value="<%=@product.City%>" readonly="readonly" />

		<input name="id" id="id" type="hidden" value="<%=@product.id%>">



	<table border=0 class="addlistingtable">
		<tr>
			<td>Title Link: </td>
			<td><%=text_field :product2,:titlelink,:value=>@product.titlelink, :size=>20  %>-<%=@product.id%>
			</td>
		</tr>
		<tr>
			<td>Property Listing: </td>
			<td>
				<select name="product2[salerent]" id="product2_salerent" onchange="return salerentprice('product2_salerent');">
					<option value="1" <%if @product.salerent.to_s =="1"%> selected="selected" <%end%>>For Sale</option>
					<option value="0" <%if @product.salerent.to_s =="0"%> selected="selected" <%end%>>For Rent</option>
					<option value="2" <%if @product.salerent.to_s =="2"%> selected="selected" <%end%>>For Sale or Rent</option>						
				</select>
			</td>
		</tr>
	
		<!--type of listings-->
		<tr>
			<td>Property Type: </td>
			<td>
				<select name="product2[Type]" id="product2_Type" onchange="return listingtype('product2_Type');">
					<%
						listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc ")
						for ltype in listingtypes
						%>	
						<option value="<%=ltype.Value%>" <%if @product.Type.to_s ==ltype.Value.to_s%> selected="selected" <%end%> ><%=ltype.Name%></option>
					<%		end	%>
				</select>
			</td>
		</tr>
		
		<!--SQM-->
		<tr>
			<td>SQM:</td>
			<td>
				<input type='text' name='tmpsqm' id='tmpsqm' onblur="this.value=formatCurrency(this.value,'product2_SQM');" value='<%=number_to_currency(@product.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>'/>
				<input type='hidden' name='product2[SQM]' id='product2_SQM' value="<%=@product.SQM%>"/>
			</td>
		</tr>
		
		<!--price-->				
		<tr>
			<td><span id="saleprice" stylel="display:block;">Sale Price: </span></td>
			<td>
				<span id="saleprice2" stylel="display:block;">   	
					<input type="text" name="tempprice1" id="tempprice1"  	onblur="this.value=formatCurrency(this.value,'product2_Price');" value='<%=number_to_currency(@product.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>'/>    	
					<input type="hidden" name="product2[Price]" id="product2_Price" value="<%=@product.Price%>" />      	
				</span>
			</td>
		</tr>
		<tr>
			<td><span id="rentprice" style="display:inline;">Rent Price: </span></td>
			<td>
				<span id="rentprice2" style="display:inline;">			
				<input type="text" name="tempprice2" id="tempprice2" onblur="this.value=formatCurrency(this.value,'product2_RPrice');" value='<%=number_to_currency(@product.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>' />		
				<input type="hidden" name="product2[RPrice]" id="product2_RPrice" value="<%=@product.RPrice%>"  />		
				</span>
			</td>
		</tr>
		
		<!--bedroom-->
		<tr>
			<td><div id="showbed">Bedrooms: </div></td>
			<td>
				<div id="showbed2">
				<select name="product2[Bed]" id="product2_Bed">
					<option value="0" <%if @product.Bed.to_s == "0"%> selected="selected" <%end%> >Studio</option>
					<option value="1" <%if @product.Bed.to_s == "1"%> selected="selected" <%end%> >1</option>
					<option value="2" <%if @product.Bed.to_s == "2"%> selected="selected" <%end%> >2</option>
					<option value="3" <%if @product.Bed.to_s == "3"%> selected="selected" <%end%> >3</option>
					<option value="4" <%if @product.Bed.to_s == "4"%> selected="selected" <%end%> >4</option>
					<option value="5" <%if @product.Bed.to_s == "5"%> selected="selected" <%end%> >5</option>
					<option value="6" <%if @product.Bed.to_s == "6"%> selected="selected" <%end%> >6+</option>
				</select>
				</div>
			</td>
		</tr>
		
		<!--bathroom-->
		<tr>
			<td><div id="showbath">Bathrooms: </div></td>
			<td>
				<div id="showbath2">
					<select name="product2[Bath]" id="product2_Bath">
						<option value="1" <%if @product.Bath.to_s == "1"%> selected="selected" <%end%>>1</option>
						<option value="2" <%if @product.Bath.to_s == "2"%> selected="selected" <%end%>>2</option>
						<option value="3" <%if @product.Bath.to_s == "3"%> selected="selected" <%end%>>3</option>
						<option value="4" <%if @product.Bath.to_s == "4"%> selected="selected" <%end%>>4</option>
						<option value="5" <%if @product.Bath.to_s == "5"%> selected="selected" <%end%>>5+</option>
					</select>
				</div>
			</td>
		</tr>
	
		<!--parking-->
		<tr>
			<td>Parking: </td>
			<td>
				<select name="product2[Parking]" id="product2_Parking">	
					<%
						parkings = Option.find(:all,:conditions=>"option_type = 'Carspace'",:order=>"id asc ")
						for p in parkings
						%>	
							<option value="<%=p.Value%>" <%if @product.Parking.to_s == p.Value.to_s%> selected="selected" <%end%>><%=p.Name%></option>
					<%	end	%>
				
				</select>
			</td>
		</tr>
		<tr>
			<td>Youtube Code: </td>
			<td><%=text_field :product2,:youtubecode,:value=>@product.youtubecode ,:onkeydown=>"if(event.keyCode == 13){ return false;}", :size=>20  %>
			</td>
		</tr>
		<tr>
			<td>Reference Code: </td>
			<td>
				<input type='text' name='product2[Ref]' id='product2_Ref' value="<%=@product.Ref%>"/>
			</td>
		</tr>
		<tr>
			<td valign="top">Listing Details:</td>
			<td><textarea name="product2[Detail]" id="product2_Detail" cols="30" rows="5"><%=@product.Detail%></textarea></td>
		</tr>
						
	
</table>
	

		<br><table border="0"><tbody><tr><td valign="top" width="100%" height="400">

		<%
		img1 = ""
		img2 = ""
		img3 = ""
		img4 = ""
		img5 = ""
		img6 = ""

		img7 = ""
		img8 = ""
		img9 = ""
		img10 = ""
		img11 = ""
		img12 = ""

		img13 = ""
		img14 = ""
		img15 = ""
		img16 = ""
		img17 = ""
		img18 = ""


		tempimg1 = "0"
		tempimg2 = "0"
		tempimg3 = "0"
		tempimg4 = "0"
		tempimg5 = "0"
		tempimg6 = "0"

		tempimg7 = "0"
		tempimg8 = "0"
		tempimg9 = "0"
		tempimg10 = "0"
		tempimg11 = "0"
		tempimg12 = "0"

		tempimg13 = "0"
		tempimg14 = "0"
		tempimg15 = "0"
		tempimg16 = "0"
		tempimg17 = "0"
		tempimg18 = "0"
		a = 1
		%>
		
		
		<%for image in images%>
		<%
		strtype = image.photo_file_name
			strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
		if a == 1
			img1 = "#{image.photo.url(:thumb)}"
			tempimg1 = image.id
		end	
		if a == 2
			img2 = "#{image.photo.url(:thumb)}"
			tempimg2 = image.id
		end	
		if a == 3
			img3 = "#{image.photo.url(:thumb)}"
			tempimg3 = image.id
		end	
		if a == 4
			img4 = "#{image.photo.url(:thumb)}"
			tempimg4 = image.id
		end	
		if a == 5
			img5 = "#{image.photo.url(:thumb)}"
			tempimg5 = image.id
		end	
		if a == 6
			img6 = "#{image.photo.url(:thumb)}"
			tempimg6 = image.id
		end	
		


		if a == 7
			img7 = "#{image.photo.url(:thumb)}"
			tempimg7 = image.id
		end	
		if a == 8
			img8 = "#{image.photo.url(:thumb)}"
			tempimg8 = image.id
		end	
		if a == 9
			img9 = "#{image.photo.url(:thumb)}"
			tempimg9 = image.id
		end	
		if a == 10
			img10 = "#{image.photo.url(:thumb)}"
			tempimg10 = image.id
		end	
		if a == 11
			img11 = "#{image.photo.url(:thumb)}"
			tempimg11 = image.id
		end	
		if a == 12
			img12 = "#{image.photo.url(:thumb)}"
			tempimg12 = image.id
		end	



		if a == 13
			img13 = "#{image.photo.url(:thumb)}"
			tempimg13 = image.id
		end	
		if a == 14
			img14 = "#{image.photo.url(:thumb)}"
			tempimg14 = image.id
		end	
		if a == 15
			img15 = "#{image.photo.url(:thumb)}"
			tempimg15 = image.id
		end	
		if a == 16
			img16 = "#{image.photo.url(:thumb)}"
			tempimg16 = image.id
		end	
		if a == 17
			img17 = "#{image.photo.url(:thumb)}"
			tempimg17 = image.id
		end	
		if a == 18
			img18 = "#{image.photo.url(:thumb)}"
			tempimg18 = image.id
		end	
		
		a = a + 1
		%>
		<%end%>
		
		<input name="tempimg1" id="tempimg1" type="hidden" value="<%=tempimg1%>">
		<input name="tempimg2" id="tempimg2" type="hidden" value="<%=tempimg2%>">
		<input name="tempimg3" id="tempimg3" type="hidden" value="<%=tempimg3%>">
		<input name="tempimg4" id="tempimg4" type="hidden" value="<%=tempimg4%>">
		<input name="tempimg5" id="tempimg5" type="hidden" value="<%=tempimg5%>">
		<input name="tempimg6" id="tempimg6" type="hidden" value="<%=tempimg6%>">
		
		<input name="tempimg7" id="tempimg7" type="hidden" value="<%=tempimg7%>">
		<input name="tempimg8" id="tempimg8" type="hidden" value="<%=tempimg8%>">
		<input name="tempimg9" id="tempimg9" type="hidden" value="<%=tempimg9%>">
		<input name="tempimg10" id="tempimg10" type="hidden" value="<%=tempimg10%>">
		<input name="tempimg11" id="tempimg11" type="hidden" value="<%=tempimg11%>">
		<input name="tempimg12" id="tempimg12" type="hidden" value="<%=tempimg12%>">
		
		<input name="tempimg13" id="tempimg13" type="hidden" value="<%=tempimg13%>">
		<input name="tempimg14" id="tempimg14" type="hidden" value="<%=tempimg14%>">
		<input name="tempimg15" id="tempimg15" type="hidden" value="<%=tempimg15%>">
		<input name="tempimg16" id="tempimg16" type="hidden" value="<%=tempimg16%>">
		<input name="tempimg17" id="tempimg17" type="hidden" value="<%=tempimg17%>">
		<input name="tempimg18" id="tempimg18" type="hidden" value="<%=tempimg18%>">
		
		<p><strong>Photos</strong></p>					
		<span id="validatetext" style="color:red;"></span>
		<p>Photo 1:<input name="image2[pic1]" id="image2_pic1" cols="30" type="file"> 	<%if img1 !=""%><img src="<%=img1%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg1%>]" id="del_<%=tempimg1%>" value="1"/><label for="del_<%=tempimg1%>">Delete <span style=color:green;></span><%end%> <span id="star1" style="display:none; color:red;">*</span>	</p>
		<p>Photo 2:<input name="image2[pic2]" id="image2_pic2" cols="30" type="file">	<%if img2 !=""%><img src="<%=img2%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg2%>]" id="del_<%=tempimg2%>" value="1"/><label for="del_<%=tempimg2%>">Delete <span style=color:green;></span><%end%> <span id="star2" style="display:none; color:red;">*</span>	</p>
		<p>Photo 3:<input name="image2[pic3]" id="image2_pic3" cols="30" type="file">	<%if img3 !=""%><img src="<%=img3%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg3%>]" id="del_<%=tempimg3%>" value="1"/><label for="del_<%=tempimg3%>">Delete <span style=color:green;></span><%end%> <span id="star3" style="display:none; color:red;">*</span>	</p>
		<p>Photo 4:<input name="image2[pic4]" id="image2_pic4"cols="30" type="file">	<%if img4 !=""%><img src="<%=img4%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg4%>]" id="del_<%=tempimg4%>" value="1"/><label for="del_<%=tempimg4%>">Delete <span style=color:green;></span><%end%> <span id="star4" style="display:none; color:red;">*</span>	</p>
		<p>Photo 5:<input name="image2[pic5]" id="image2_pic5" cols="30" type="file">	<%if img5 !=""%><img src="<%=img5%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg5%>]" id="del_<%=tempimg5%>" value="1"/><label for="del_<%=tempimg5%>">Delete <span style=color:green;></span><%end%> <span id="star5" style="display:none; color:red;">*</span>	</p>
		<p>Photo 6:<input name="image2[pic6]" id="image2_pic6" cols="30" type="file">	<%if img6 !=""%><img src="<%=img6%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg6%>]" id="del_<%=tempimg6%>" value="1"/><label for="del_<%=tempimg6%>">Delete <span style=color:green;></span><%end%> <span id="star6" style="display:none; color:red;">*</span>	</p>
		
		
		
		<%
			if session[:user_id]
			user = User.find(session[:user_id])
			if user.level.to_i >= 3
		%>
		<p>Photo 7:<input name="image2[pic7]" id="image2_pic7" cols="30" type="file"> 		<%if img7 !=""%><img src="<%=img7%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg7%>]" id="del_<%=tempimg7%>" value="1"/><label for="del_<%=tempimg7%>">Delete <span style=color:green;></span><%end%> <span id="star7" style="display:none; color:red;">*</span>	</p>
		<p>Photo 8:<input name="image2[pic8]" id="image2_pic8" cols="30" type="file">		<%if img8 !=""%><img src="<%=img8%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg8%>]" id="del_<%=tempimg8%>" value="1"/><label for="del_<%=tempimg8%>">Delete <span style=color:green;></span><%end%> <span id="star8" style="display:none; color:red;">*</span>	</p>
		<p>Photo 9:<input name="image2[pic9]" id="image2_pic9" cols="30" type="file">		<%if img9 !=""%><img src="<%=img9%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg9%>]" id="del_<%=tempimg9%>" value="1"/><label for="del_<%=tempimg9%>">Delete <span style=color:green;></span><%end%> <span id="star9" style="display:none; color:red;">*</span>	</p>
		<p>Photo 10:<input name="image2[pic10]" id="image2_pic10"cols="30" type="file">		<%if img10 !=""%><img src="<%=img10%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg10%>]" id="del_<%=tempimg10%>" value="1"/><label for="del_<%=tempimg10%>">Delete <span style=color:green;></span><%end%> <span id="star10" style="display:none; color:red;">*</span>	</p>
		<p>Photo 11:<input name="image2[pic11]" id="image2_pic11" cols="30" type="file">	<%if img11 !=""%><img src="<%=img11%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg11%>]" id="del_<%=tempimg12%>" value="1"/><label for="del_<%=tempimg11%>">Delete <span style=color:green;></span><%end%> <span id="star11" style="display:none; color:red;">*</span>	</p>
		<p>Photo 12:<input name="image2[pic12]" id="image2_pic12" cols="30" type="file">	<%if img12 !=""%><img src="<%=img12%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg12%>]" id="del_<%=tempimg12%>" value="1"/><label for="del_<%=tempimg12%>">Delete <span style=color:green;></span><%end%> <span id="star12" style="display:none; color:red;">*</span>	</p>
		<%
			end
			if user.level.to_i >= 5	
		%>
		
		
		<p>Photo 13:<input name="image2[pic13]" id="image2_pic13" cols="30" type="file"> 	<%if img13 !=""%><img src="<%=img13%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg13%>]" id="del_<%=tempimg13%>" value="1"/><label for="del_<%=tempimg13%>">Delete <span style=color:green;></span><%end%> <span id="star13" style="display:none; color:red;">*</span>	</p>
		<p>Photo 14:<input name="image2[pic14]" id="image2_pic14" cols="30" type="file">	<%if img14 !=""%><img src="<%=img14%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg14%>]" id="del_<%=tempimg14%>" value="1"/><label for="del_<%=tempimg14%>">Delete <span style=color:green;></span><%end%> <span id="star14" style="display:none; color:red;">*</span>	</p>
		<p>Photo 15:<input name="image2[pic15]" id="image2_pic15" cols="30" type="file">	<%if img15 !=""%><img src="<%=img15%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg15%>]" id="del_<%=tempimg15%>" value="1"/><label for="del_<%=tempimg15%>">Delete <span style=color:green;></span><%end%> <span id="star15" style="display:none; color:red;">*</span>	</p>
		<p>Photo 16:<input name="image2[pic16]" id="image2_pic16"cols="30" type="file">	    <%if img16 !=""%><img src="<%=img16%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg16%>]" id="del_<%=tempimg16%>" value="1"/><label for="del_<%=tempimg16%>">Delete <span style=color:green;></span><%end%> <span id="star16" style="display:none; color:red;">*</span>	</p>
		<p>Photo 17:<input name="image2[pic17]" id="image2_pic17" cols="30" type="file">	<%if img17 !=""%><img src="<%=img17%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg17%>]" id="del_<%=tempimg17%>" value="1"/><label for="del_<%=tempimg17%>">Delete <span style=color:green;></span><%end%> <span id="star17" style="display:none; color:red;">*</span>	</p>
		<p>Photo 18:<input name="image2[pic18]" id="image2_pic18" cols="30" type="file">	<%if img18 !=""%><img src="<%=img18%>" width="40" height="40"/><input type="checkbox" name="del[<%=tempimg18%>]" id="del_<%=tempimg18%>" value="1"/><label for="del_<%=tempimg18%>">Delete <span style=color:green;></span><%end%> <span id="star18" style="display:none; color:red;">*</span>	</p>
		
		<%
			end
			end
		%>
		
		
<%if session[:user_id]%>
	<input onclick="javascript:validatefile(<%=user.level%>);" value="Edit Listing" type="submit"/>
<%else%>
	<input onclick="javascript:validatefile(0);" value="Edit Listing" type="submit"/>
<%end%>
	<!--	<input onclick="javascript:validatefile(0);" value="Edit Listing" type="submit"/>
-->

		</div>
		</td></tr></tbody></table></form>

<%end%>
</div>

		</body>
</html>				