<div style="width:910px; height:40px">
	<div style="width:322px;float:left;display:block;"><img src="/images/controlpanel/images/header-help.png" width="322" height="36" /></div> 
</div>
<div class="clear"></div>

