
<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Control Panel</h1>
	<p>Overview of your current property marketing activites</p>
</div>


<!-- Your 500 listings have recieved 20 messages in the last 30 days from REThai.com -->
<!-- Your current marketing activities: 24 Magazine Listings (list), 10 listings upgraded (list) -->
<!-- graphs / pie charts? -->


<div class="cp-body">


<!-- notice-->
<% if flash[:notice] %>
<div class="notice">
	<p><%=flash[:notice]%></p>
</div>
<%end%>


<!--======================  Login Form =================================-->
<div class="loginform">
	<%if not session[:user_id]%>
	<h2>Please Login</h2>
		<%= form_remote_tag(:update => "loginmessage",
				:loading=>"javascript: document.getElementById('processing').style.display='block';",
				:complete =>"javascript: document.getElementById('processing').style.display='none'; if(document.getElementById('tempuser_id').value !='0'){window.location='/controlpanel/';}",
				:url => { :controller=>'login',
				:action => 'checklogin'}) %>
				


				<%#=hidden_field_tag 'myredirect',"/controlpanel/"%>
				<table>
					<tr>
						<td>Email:</td>
						<td><%=text_field 'user','UserName'%></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><%=password_field 'user','Password',:value=>""%></td>
					</tr>
					<tr>
						<td></td>
						<td><br />
			<div id="loginmessage">
				<input type="hidden" name="tempuser_id" id="tempuser_id" value="0"/>
			</div>			
			<div class="buttons">
			<button type="submit" class="positive" />
				<img src="/images/icons/key_go.png" alt="" />
				Login
			</button>
			
			<a href="/listings/forgetpassword?partner=rethai">Forget Password?</a>
			<img id="processing" style="display:none" src="/images/loadingb.gif"/>
			</div>
			
			<div style="clear:both;"></div>
			<br><a href="/rethai/register">Need to register for a new account?</a>
						</td>
					</tr>
				</table>
			</form>
			
			<%else%>




	
	<%user = User.find(session[:user_id])%>
	
	


<table style="float:left;width:600px;">
	<tr>
		<td>
<div class="cpwelcomeblock">
	<h3>Getting Started</h3>
	
	<!-- STEP 1 -->
	<%if user.UserName.to_s == "newuser"%>
		<div id="iam" style="display:block;">
	<%else%>		
		<div id="iam" style="display:none;">
	<%end%>
	<h4>Hello! Are you a:</h4>
	<form action="/users/update" method="post">
		<input type="hidden" name="myredirect" id="myredirect" value="/controlpanel/"/>
		<input type="hidden" name="id" id="id" value="<%=session[:user_id]%>"/>
	<ul>
		<li><input type="radio" name="user[UserType]" id="user_UserType" value="p" <%if user.UserType.to_s =="p"%> checked="checked" <%end%>><label for="user_UserType">Buyer / Renter</label></li>
		<li><input type="radio" name="user[UserType]" id="user_UserType2" value="s" <%if user.UserType.to_s =="s"%> checked="checked" <%end%>><label for="user_UserType2">Seller</label></li>
		<li><input type="radio" name="user[UserType]" id="user_UserType3" value="b" <%if user.UserType.to_s =="b"%> checked="checked" <%end%>><label for="user_UserType3">Both Buyer & Seller</label></li>
		<li><input type="radio" name="user[UserType]" id="user_UserType4" value="g" <%if user.UserType.to_s =="g"%> checked="checked" <%end%>><label for="user_UserType4"><strong>Real Estate Agent</strong></label></li>
		<li><input type="radio" name="user[UserType]" id="user_UserType5" value="d" <%if user.UserType.to_s =="d"%> checked="checked" <%end%>><label for="user_UserType5">Property Developer</label></li>
		<li><input type="radio" name="user[UserType]" id="user_UserType6" value="o" <%if user.UserType.to_s =="o"%> checked="checked" <%end%>><label for="user_UserType6">Other / Just Looking</label></li>
	</ul>
	<input type="submit" value="Next >">
	</form>
	</div>
	
	
	<% if user.UserName.to_s =="newuser"%>
	<div id="alloption" style="display:none;">
	<%else%>
	<div id="alloption" style="display:block;">
	<%end%>
	

	
	
					<%if user.UserType.to_s =="p"%><div id="user_p" style="display:block;"> <%else%><div id="user_p" style="display:none;"><%end%>
					<!-- BUYER / RENTER -->
					<h4>For buyers and Renters: <small style="float:right;font-size:11px;"><a href="#iam" onclick="document.getElementById('iam').style.display='block';">Click here to change your User Type</a></small></h4>
					<ul>
						<li><a href="/rethai/search">Search</a> for listings in our List</li>
						<li><a href="/maps?location=">Browse</a> for listings by location on our Property Map</li>
						<li><a href="/controlpanel/messages">View and Reply</a> to your messages</li>
<!--						<li><a href="/controlpanel/advertise">Advertise</a></li>-->
					</ul>
					</div>
					
					
					<%if user.UserType.to_s =="b"%><div id="user_b" style="display:block;"> <%else%><div id="user_b" style="display:none;"><%end%>
					<!-- SELLER / BOTH -->
					<h4>Buyers and Sellers: <small style="float:right;font-size:11px;"><a href="#iam" onclick="document.getElementById('iam').style.display='block';">Click here to change your User Type</a></small></h4>
					<ul>
						<li><a href="/controlpanel/addlistings">Add a listing</a></li>
						<li><a href="/levels/upgrade">Upgrade your subscription</a> for additional listing exposure</li>
						<li><a href="/rethai/search">Search</a> for listings in our List</li>
						<li><a href="/maps?location=">Browse</a> for listings by location on our Property Map</li>
						<li><a href="/controlpanel/messages">View and Reply</a> to your messages</li>
<!--						<li><a href="/controlpanel/advertise">Advertise</a></li>-->
					</ul>
					</div>
					
					
					<%if user.UserType.to_s =="g"%><div id="user_g" style="display:block;"> <%else%><div id="user_g" style="display:none;"><%end%>
					<!-- REAL ESTATE AGENCY -->
					<h4>Real Estate Agency: <small style="float:right;font-size:11px;"><a href="#iam" onclick="document.getElementById('iam').style.display='block';">Click here to change your User Type</a></small></h4>
					<ul>
						<li><a href="/controlpanel/addlistings">Add listings</a></li>
<!--						<li><a href="/controlpanel/leadconnect">Purchase Leads</a></li>
						<li><a href="/controlpanel/listingconnect">Purchase Listings</a></li>-->
						<li><a href="/levels/upgrade">Upgrade your subscription</a> for additional listing exposure</li>
						<li>Add your <a href="/controlpanel/business">business contact details</a> and logo</li>
						<li><a href="/controlpanel/messages">View and Reply</a> to your messages</li>
						<li><a href="http://marketing.rethai.com" target="_blank">Learn more about REThai.com Marketing Services</a></li>

<!--						<li><a href="/controlpanel/advertise">Advertise</a></li>-->
					</ul>
					</div>
					
					
					<%if user.UserType.to_s =="d"%><div id="user_d" style="display:block;"> <%else%><div id="user_d" style="display:none;"><%end%>
					<!-- PROPERTY DEVELOPER -->
					<h4>Property Developers: <small style="float:right;font-size:11px;"><a href="#iam" onclick="document.getElementById('iam').style.display='block';">Click here to change your User Type</a></small></h4>
					<ul>
						<li><a href="/controlpanel/addlistings">Add a listing</a></li>
						<li><a href="/levels/upgrade">Upgrade your subscription</a> for additional listing exposure</li>
						<li>Add your <a href="/controlpanel/business">business contact details</a> and logo</li>
						<li><a href="/controlpanel/messages">View and Reply</a> to your messages</li>
<!--						<li><a href="/controlpanel/advertise">Advertise</a></li>-->
					</ul>
					</div>
					
					
					<%if user.UserType.to_s =="s"%><div id="user_s" style="display:block;"> <%else%><div id="user_s" style="display:none;"><%end%>
					<!-- PROPERTY DEVELOPER -->
					<h4>Seller: <small style="float:right;font-size:11px;"><a href="#iam" onclick="document.getElementById('iam').style.display='block';">Click here to change your User Type</a></small></h4>
					<ul>
						<li><a href="/controlpanel/addlistings">Add a listing</a></li>
						<li><a href="/levels/upgrade">Upgrade your subscription</a> for additional listing exposure</li>
						<li><a href="/rethai/search">Search</a> for listings in our List</li>
						<li><a href="/maps?location=">Browse</a> for listings by location on our Property Map</li>
						<li><a href="/controlpanel/messages">View and Reply</a> to your messages</li>
<!--						<li><a href="/controlpanel/advertise">Advertise</a></li>-->
					</ul>
					</div>
					
					
					<%if user.UserType.to_s =="o"%><div id="user_o" style="display:block;"> <%else%><div id="user_o" style="display:none;"><%end%>
					<!-- PROPERTY DEVELOPER -->
					<h4>Other: <small style="float:right;font-size:11px;"><a href="#iam" onclick="document.getElementById('iam').style.display='block';">Click here to change your User Type</a></small></h4>
					<ul>
						<li><a href="/controlpanel/addlistings">Add a listing</a></li>
						<li><a href="/levels/upgrade">Upgrade your subscription</a> for additional listing exposure</li>
						<li><a href="/rethai/search">Search</a> for listings in our List</li>
						<li><a href="/maps?location=">Browse</a> for listings by location on our Property Map</li>
						<li><a href="/controlpanel/messages">View and Reply</a> to your messages</li>
<!--						<li><a href="/controlpanel/advertise">Advertise</a></li>-->
					</ul>
					</div>
	
	
	
	
	
	
	</div><!--end alltoption-->	
	
</div>
</td>
	</tr>
	<tr>
		<td>
<br>
<table>
	<tr>
		<td valign="top" width="300">
			
			<h2>Your Subscription</h2>
			<%
			if session[:user_id]
				user = User.find(session[:user_id])
				str = "yes"
				#search my listings
				mylistings = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and Deleted = '1' and (Status !='d' and Status !='f' and Status !='s' or Status is null)")
				level = Subscription.find(user.level)	
			%>

			<h4>You are currently on the <strong><%=level.Name%></strong> plan</h4>
			<p>You currently have <strong><%=mylistings.length%></strong> listings online, you can add <strong><%if level.id.to_s =="6" %> Unlimited<%else%><%=level.Listings.to_i - mylistings.length.to_i%><%end%> </strong> more listings.</p>
			<%end %>



			<p>You can upgrade your plan to add additional listings and gain additional exposure for your listings and business.</p>
			<p><a href="/index/foragents">Click here</a> to learn more</p>



			<!--<h2>New features coming soon</h2>
			<ul>
				<li>Virtual Tours</li>
				<li>Video Tours</li>
				<li>More Control Panel upgrades</li>
				<li>Upgraded search</li>
				<li>House Developments</li>
				<li>Condo Developments</li>
				<li>Monthly email newsletter</li>
				<li>New subscription plans</li>
			</ul>-->

		</td>
		<td valign="top" style="padding-left:20px;" width="280">
		
		
<%
listings = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' " ,:limit=>"1")
if listings.length > 0
%>
<div class="market-trends">
	<h3>Listing Views</h3>
	<%
d1=0
d2=0
d3=0
d4=0
d5=0
d6=0
%>
<%

counters = Listingcounter.find(:all,:conditions=>"id_user = '#{session[:user_id]}'")


count = 0
i = 0

if counters.length > 0

mmonth1 = DateTime.now.strftime("%m").to_i
mmonth2 = (DateTime.now - 1.month).strftime("%m").to_i
mmonth3 = (DateTime.now - 2.month).strftime("%m").to_i
mmonth4 = (DateTime.now - 3.month).strftime("%m").to_i
mmonth5 = (DateTime.now - 4.month).strftime("%m").to_i
mmonth6 = (DateTime.now - 5.month).strftime("%m").to_i
for c in counters
		#if DateTime.now.strftime("%m").to_i == 1
			d1 = d1 + c["month#{mmonth1}"].to_i
			d2 = d2 + c["month#{mmonth2}"].to_i
			d3 = d3 + c["month#{mmonth3}"].to_i
			d4 = d4 + c["month#{mmonth4}"].to_i
			d5 = d5 + c["month#{mmonth5}"].to_i
			d6 = d6 + c["month#{mmonth6}"].to_i
end





#generate scrol
#get max value
maxvalue=d1
if maxvalue.to_i < d2.to_i
	maxvalue = d2
end
if maxvalue.to_i < d3.to_i
	maxvalue = d3.to_i
end
if maxvalue.to_i < d4.to_i
	maxvalue = d4.to_i
end
if maxvalue.to_i < d5.to_i
	maxvalue = d5.to_i
end
if maxvalue.to_i < d6.to_i
	maxvalue = d6.to_i
end
s1=0
s2=0
s3=0
s4=0
maxvalue = maxvalue.to_i + (maxvalue.to_i * 15 / 100)
s1=number_to_currency(maxvalue.to_f, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)
s2=number_to_currency(((maxvalue.to_f / 4) * 3), :unit => "", :separator => ".", :delimiter => ",",:precision =>0)
s3=number_to_currency(((maxvalue.to_f / 4) * 2), :unit => "", :separator => ".", :delimiter => ",",:precision =>0)
s4=number_to_currency(((maxvalue.to_f / 4) * 1), :unit => "", :separator => ".", :delimiter => ",",:precision =>0)

%>
	<div style="width:315px;float:left">
		<div style="float:left;width:150px;padding-left:40px;">
			<p>Views this month<br />
			<strong style="font-size:15px;"><%=number_to_currency(d1, :unit => "", :separator => ".", :delimiter => ",",:precision =>0)%></strong></p>
		</div>
		<div style="float:left;width:100px;">
			<%if (d1-d2) > 0%>
				<p style="color:#5f8a00;font-size:11px;"><img src="/images/icons/arrow-up.png" align="left" style="padding:10px 5px 10px 0;" />+
			<%else%>
				<p style="color:#ae0000;font-size:11px;"><img src="/images/icons/arrow-down.png" align="left" style="padding:10px 5px 10px 0;" />
			<%end%>
			<%=number_to_currency((d1-d2), :unit => "", :separator => ".", :delimiter => ",",:precision =>0)%><br>
			<%if d2 == 0%>0<%else%><%if (((d1-d2)*100)/d2) > 0%>+<%end%>
			<%=number_to_currency((((d1-d2)*100)/d2), :unit => "", :separator => ".", :delimiter => ",",:precision =>2)%><%end%>%</p>
		</div>
		
		
	</div>
	
<%
end

%>
		<%
		#m6 = DateTime.now
		#m5 = DateTime.now - 1.month
		#m4 = DateTime.now - 2.month
		#m3 = DateTime.now - 3.month
		#m2 = DateTime.now - 4.month
		#m1 = DateTime.now - 5.month
		#srcimg = Gchart.line(:size => '300x200', 
        #    :title => "Views Per Month",
        #    :bg => 'efefef', 
	#		:axis_with_labels => 'x,y',
    #        :axis_labels => [[m1.strftime("%b, %y"),m2.strftime("%b, %y"),m3.strftime("%b, %y"),m4.strftime("%b, %y"),m5.strftime("%b, %y"),m6.strftime("%b, %y")],[0,s4,s3,s2,s1]],
    #        :data => [d6.to_i,d5.to_i,d4.to_i,d3.to_i,d2.to_i,d1.to_i], :max_value => maxvalue.to_i)%>
	<!--	<img src="&amp;chg=100,20.0&amp;chf=c,ls,90,CCCCCC,0.1,FFFFFF,0.1"/>-->	
		

</div>

<%end%>

		</td>
	</tr>
</table>



</td>
	</tr>
</table>

<div class="cpfb">
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/MarketingREThaicom/118028671594465" width="350" show_faces="true" stream="true" header="false"></fb:like-box>
</div>

<%end%>

</div> <!--login form-->





</div>

<br />
<br />




