<script type="text/javascript">
	function itoggle(id){
		if(document.getElementById(id).style.display =='none'){
			//alert('show');
			document.getElementById(id).style.display ='inline';
		}else{
			//alert('hidden');
			document.getElementById(id).style.display ='none';
		}
	}
	function setleadcount(){
		var x = parseInt(document.getElementById('leadcount').innerHTML);
		x = x - 1;
		if (x < 0){
			x = 0;			
		}
		//alert(x);
		document.getElementById('leadcount').innerHTML = x;
	}
</script>



<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Listing Connect</h1>
	<p>Need some new listings? Purchase them on demand.</p>
</div>

<div class="cp-body">






	<%user = User.find(session[:user_id])%>
	
	<!--================= Lead Connect ======================-->
	
	<%if user.leadstatus.to_s =="0" %>
	<div id="shadow" style="display:block;position:fixed; left:0%;top:0%;width:100%;height:100%;z-index:99;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('registlead').style.display='none'; "></div>
	<div id="registlead" style="display:block;  top:10%; left:25%; position:absolute; z-index:100; background-color:#FFF;">
	<%else%>
	<div id="shadow" style="display:none; position:fixed; left:0%;top:0%;width:100%;height:100%;z-index:99;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('registlead').style.display='none'; "></div>
	<div id="registlead" style="display:none; top:10%; left:25%; position:absolute; z-index:100; background-color:#FFF;">
	<%end%>	
	
	
		<div style="margin:15px 10px 15px 10px;width:500px">
			<h2>Register for Lead & Listing Connect</h2>


			<form action="/controlpanel/saveregistlead" method="post">
				<input type="hidden" name="lead" id="lead" value="yes" />
				<p>Need leads or listings? We can offer you both, on demand, anytime you need them.</p>
				<p>Lead connect is our simple system where users submit what they are looking for in a listing for agents to find for them.</p>
				<p>Listing connect is our simple system where users add their property listing for sale or rent, and also offer it to agents to broker for them.</p>
				<p>Each lead & listing is only available for a limited period of time and to a small maximim number of agents.</p>
				<p>We're offering you the ability to purchase leads & listings when you need them.</p>
				<p>Fees per lead & listing vary depending on your <a href="/levels/upgrade">subscription level</a>, the higher the subscription level the lower the cost, and the more free leads & listings you are eligble for.</p>
				<p>It's free to register, simply click "I agree" below to get started, we will only invoice you if you make any purchases, invoices will be sent at the end of the month.</p>
				<p>All leads & listings pass a quality control check before becoming available, if a "spam" / bad data item does make it through, you wont be billed for it.</p>
				<input type="checkbox" name="leademail" id="leademail" value="1"  />
				<label for="leademail">Email me when there's new leads & listings</label><br />
				<input type="checkbox" name="agree" id="agree" value="1" onclick="if(this.checked==true){document.getElementById('leadsubmit').disabled=false;}else{document.getElementById('leadsubmit').disabled=true;}" />
				<label for="agree">I Agree to the above terms</label><br />
				<br>
				<input type="submit" name="leadsubmit" id="leadsubmit" value="Register" disabled="true"/>
					or 
			<% if user.leadstatus.to_s !="0" %>
				<a href="/controlpanel/saveregistlead?lead=cancel">Click here to cancel your lead connect account</a>
			<%else %>
				<a href="/controlpanel/saveregistlead?lead=no">Close popup</a>
			<%end%>	
			</form>
		</div>
		
		
	</div>
	
	<!--================== end Lead Connect ======================-->



<% if user.leadstatus.to_s =="p" %>
	 <p>Your Lead & Listing Connect status is: <u style="color:green;">Pending Admin Approval</u></p>
<% elsif user.leadstatus.to_s =="1" %>
<% elsif user.leadstatus.to_s =="n" %>
	<p>Your Lead & Listing Connect status is: Not Registered <a href="#"  onclick="javascript: document.getElementById('shadow').style.display='block'; document.getElementById('registlead').style.display='block';"><strong>Register for the Lead Connect service</strong></a></p>
<% elsif user.leadstatus.to_s =="c" %>
	<p>Your Lead & Listing Connect status is: Not Registered <a href="#"  onclick="javascript: document.getElementById('shadow').style.display='block'; document.getElementById('registlead').style.display='block';"><strong>Register for the Lead Connect service</strong></a></p>
<%else%>
	<p>Your Lead & Listing Connect status is: Not Registered <a href="#"  onclick="javascript: document.getElementById('shadow').style.display='block'; document.getElementById('registlead').style.display='block';"><strong>Register for the Lead Connect service</strong></a></p>
<%end%>














<%
	user = User.find(session[:user_id])
	level = Subscription.find(user.level)	
	sdate = ("01-#{DateTime.now.strftime('%m-%Y')}").to_date - 1
	fdate = ("01-#{(DateTime.now + 1.month).strftime('%m-%Y')}").to_date
	leadcounts = Leadhistories.find(:all,:conditions=>"conect = '2' and id_user = '#{session[:user_id]}' and created_at > '#{sdate}' and created_at < '#{fdate}'")
	count = (level.leadconnect.to_i - leadcounts.length.to_i)
	if count < 0
	count = 0
	end
%>



<p>Your subscription allows for <strong><%=level.listingconnect%></strong> free listings per Month. You have: <strong><span id="leadcount"><%=count%></span></strong> free listings remaining.</p>
<p style="margin-top:-15px;">You can buy listings for <strong><%=level.leadprice%> THB</strong> per listing. Higher <a href="/levels/upgrade">subscription plans</a> offer lower purchase rates.</p>



<h2>New Listings Available</h2>


<table border="0" class="table3px">
	<tr>
		<td><b>ID</b></td>
		<td><b>Type</b></td>
		<td><b>For</b></td>
		<td><b>Location</b></td>
		<td><b>Price</b></td>
		<td><b>Rent Price</b></td>
		<td><b>Bedrooms</b></td>
		<td><b>Bathrooms</b></td>
		<td><b>Date</b></td>
		<td><b>Purchase</b></td>
		<td><b>Remove</b></td>
	</tr>
	
	<%
	user = User.find(session[:user_id])
	for l in @leads
	begin
		listing = Product.find(l.id_product)
	%>
	<tr>
		<td><%=l.id%></td>
		<td>
			<%
		seo_listingtype=" Any "
        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
					seo_listingtype = "#{lt.Name}-"
				while seo_listingtype[" "]
					seo_listingtype[" "]="-"
				end
				while seo_listingtype["/"]				
					seo_listingtype["/"] =""
				end

              break
            end
          end
        end
		%><%=seo_listingtype%>
		</td>
		<td><%if listing.salerent.to_s =="1"%>Sale<%elsif listing.salerent.to_s =="0"%>Rent<%else%>Sale / Rent <%end%></td>
		<td><%=listing.City%></td>
		<td align="right"><%= number_to_currency( listing.Price.to_i, :precision => 0, :unit => "")%></td>
		<td align="right"><%= number_to_currency( listing.RPrice.to_i, :precision => 0, :unit => "")%></td>
		<td><%=listing.Bed%></td>
		<td><%=listing.Bath%></td>
		<td><%=listing.created_on.strftime("%d/%m/%Y")%></td>
		<td><span id="lead_<%=l.id%>">
			<% if user.leadstatus.to_s =="1"%>
			<!--
			<%= link_to_remote "Purchase Listing" ,
	                    	:update => "lead_#{l.id}",
							:loading=>"document.getElementById('load_#{l.id}').style.display='inline';",
							:complete=>"document.getElementById('load_#{l.id}').style.display='none'; setleadcount();",
							:url=>{:action => 'list_yes', :id=> l.id,:id_listing=>l.id_product } %> 	
							-->			
				<a href="/controlpanel/list_yes/<%=l.id%>?id_listing=<%=l.id_product%>&direction=1">Purchase Lead</a>				
			</span>
			<%end%>
		</td>
		<td>
			<% if user.leadstatus.to_s =="1"%>
			<span id="lead_<%=l.id%>">
			<%= link_to_remote "Remove Listing" ,
	                    	:update => "lead_#{l.id}",
							:loading=>"document.getElementById('load_#{l.id}').style.display='inline';",
							:complete=>"document.getElementById('load_#{l.id}').style.display='none';",
							:url=>{:action => 'list_no', :id=> l.id,:id_listing=>l.id_product  } %> 	
			</span>
			<img id="load_<%=l.id%>" src="/images/loading.gif" style="display:none;"/>
			<%end%>
		</td>
	</tr>
	<%
	rescue
	end
	end
	%>
</table>

<%= will_paginate @leads%>








<br /><br /><br />

<h2>My Purchased Listings</h2>
<table border="0" class="table3px">
	<tr>
		<td><b>ID</b></td>
		<td><b>Type</b></td>
		<td><b>For</b></td>
		<td><b>Location</b></td>
		<td><b>Price</b></td>
		<td><b>Rent Price</b></td>
		<td><b>Bedrooms</b></td>
		<td><b>Bathrooms</b></td>
		<td><b>Date</b></td>
		<td><b>Name</b></td>
		<td><b>Email</b></td>
		<td><b>Phone</b></td>
		<td><b></b></td>
	</tr>
	
	<%for l in @ileads
	begin
		listing = Product.find(l.id_listing)
		user = User.find(l.id_user)
	%>	
	<tr>
		<td><%=l.id%></td>
		<td>
			<%
		seo_listingtype=" Any "
        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
					seo_listingtype = "#{lt.Name}-"
				while seo_listingtype[" "]
					seo_listingtype[" "]="-"
				end
				while seo_listingtype["/"]				
					seo_listingtype["/"] =""
				end

              break
            end
          end
        end
		%><%=seo_listingtype%>
		</td>
		<td><%if listing.salerent.to_s =="1"%>Sale<%elsif listing.salerent.to_s =="0"%>Rent<%else%>Sale / Rent <%end%></td>
		<td><%=listing.City%></td>
		<td><%= number_to_currency( listing.Price.to_i, :precision => 0, :unit => "")%></td>
		<td><%= number_to_currency( listing.RPrice.to_i, :precision => 0, :unit => "")%></td>
		<td><%=listing.Bed%></td>
		<td><%=listing.Bath%></td>
		<td><%=listing.created_on.strftime("%d/%m/%Y")%></td>
		<td><%=user.FirstName%>  <%=user.LastName%></td>
		<td><%=user.Email%></td>
		<td><%=user.Phone%></td>
		<td><%#= link_to_function('View/hide details', "Element.toggle('detail_#{l.id}')") %>

			<a href="#" onclick="itoggle('detail_<%=l.id%>'); return false;" >Show Details</a>
			<%#=l.id%>
		</td>
	</tr>
	<tr>
		<td colspan="20">
		<div id="detail_<%=l.id%>" style="display:none;">	
			
			<%
#get parking
    parking =" "
    if listing.Parking.to_s != '0' and listing.Parking.to_s != "" and listing.Parking !=nil
      parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing.Parking}'")
      if parkings.length > 0
        for pk in parkings
          parking = "#{pk.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
          break
        end
      end
    end%>
			<strong style="margin-left:15px;" >Parking: </strong> <%=parking%><br />
			<strong style="margin-left:15px;" >SQM: </strong>
			<%if listing.SQM !="" and listing.SQM !="0" and listing.SQM !=nil%>
				<input type="hidden" id="product2_SQM" value="<%=listing.SQM%>"/>
				<input type="hidden" id="tmpsqm" value="<%=listing.SQM%>"/>
				<%=number_to_currency(listing.SQM, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%else%>
				N/A
			<%end%>	
			<br />
		
		<strong style="margin-left:15px;" >Details: </strong>
			<%=listing.Detail%>
		</div>	
		</td>
	</tr>
	<%
	rescue
	end
	
	end
	%>
</table>
<%= will_paginate @ileads %>
</div>