
<table width="980" border="0" cellspacing="10" cellpadding="0">
	<tr>
		<td valign="top">


<h1>Listing Payment</h1>


<% x = Credit.checkcredit(session[:user_id])%>
	<p style="margin-top:10px;">You currently have <strong><%=(x)%></strong> credits</p>
	<form method="post" action="/controlpanel/paymentlisting">
<b>Listing Details:</b>
<table cellpadding=0 cellspacing=10>
	<tr>
		<td>Listing Type</td>
		<td>
			<%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing' and Value = '#{@product.Type}'")%>
			<%if listingtypes.length > 0%>
				<%for f in listingtypes%>
					<%=f.Name%>
				<%
					break
					end
				%>
			<%else%>
				--
			<%end%>
		</td>
	</tr>
	<tr>
		<td>Sale / Rent</td>
		<td>
			<%if @product.salerent.to_s == '1'%>
				For Sale
			<%elsif @product.salerent.to_s == '0'%>
				For Rent
			<%else%>
				For Sale or Rent	
			<%end%>
		</td>
	</tr>
	
	<tr>
		<td>Sale price</td>
		<td>
			<%if @product.Price != nil and @product.Price != '0'%>
				<%=number_to_currency(@product.Price)%>
			<%else%>
				--
			<%end%>	
		</td>
	</tr>
	<tr>
		<td>Rent price</td>
		<td>
			<%if @product.RPrice != nil and @product.RPrice != '0'%>
				<%=number_to_currency(@product.RPrice)%>
			<%else%>
				--
			<%end%>	
		</td>
	</tr>
	
	
	<tr>
		<td>Bedrooms</td>
		<td>
			<%if @product.Bed.to_s == '0'%>
				Studio
			<%else%>
				<%if @product.Bed.to_s =='6'%>	
					More than 6 room
				<%else%>	
					<%=@product.Bed%> rooms
				<%end%>
			<%end%>	
		</td>
	</tr>
	<tr>
		<td>Bathrooms</td>
		<td>
				<%if @product.Bath.to_s =='5'%>	
					More than 5 room
				<%else%>	
					<%=@product.Bath%> rooms
				<%end%>
		</td>
	</tr>
	<tr>
		<td>Parking</td>
		<td>
			<%listingtypes = Option.find(:all,:conditions=>"option_type = 'Carspace' and Value = '#{@product.Parking}'")%>
			<%if listingtypes.length > 0%>
				<%for f in listingtypes%>
					<%=f.Name%>
				<%
					break
					end
				%>
			<%else%>
				--
			<%end%>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="checkbox"name="product2[renew]" id="product2_renew" value="1"  <%if @product.renew.to_s == '1'%>checked="checked"<%end%> />
			<label for="product2_renew">auto-renew this listing every month</label>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br><br>
			
			<input type="hidden" id="id" name="id" value="<%=@product.id%>"/>
			
			<%if x < 10%>
				<input type="submit" value="Insufficent Credit" disabled="disabled" />
				<p>You don't have enough credit, <a href=/controlpanel/credits>please purchase more</a>.</p>
			<%else%>
				<input type="submit" value="Pay now (10 credits per month)"  />
			<%end%>
			
			
		</td>
	</tr>
</table>
</form>


		</td>
		
		<!-- SIDEBAR -->
				
		<td valign="top">
		
			
			
		</td>
	</tr>
</table>

