
<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Magazine Listings</h1>
	<p>Manage your listings in our REThai.com print magazine</p>
</div>

<!-- View previous editions, add to magazine, view current listings in this magazine, edit listings (admin lock) -->
<!-- possibly lay them out in a grid as they would look in the magazine -->
<!-- details about how to subscribe to add listings to the magazine -->


</div>



