	<%= javascript_include_tag :defaults %> 
   
   <script src="/javascripts/kendio.js" type="text/javascript"></script>
   <script src="/javascripts/managemessage.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
   
<script type="text/javascript">
var side_bar_html = "";//<img src=\"/action_back.gif\" onclick=\"hidsidebar();\" style=\"display:inline;\"/><br>";
var mypage = "";
		var gmarkers = [];		
		var gmarkers2 = [];
		var htmls = [];
		var map;
		var tooltip2;
//		document.getElementById("map").appendChild(tooltip2);
//		tooltip2.style.visibility = "hidden";
		
		
	function gfav(xmlpath){

		
								// create the map
			map = new GMap2(document.getElementById("map"));
			map.setCenter(new GLatLng(12.93245881808736, 100.8932876586914), 15);
			map.addControl(new GOverviewMapControl());
			map.enableDoubleClickZoom();
			map.setMapType(G_HYBRID_MAP);
			map.addControl(new GMapTypeControl());
			map.addControl(new GLargeMapControl());
			geocoder = new GClientGeocoder();
			
			
//			changeform('favorites');
			
			
//		document.getElementById('quickfavorites').style.display ='inline';
//		document.getElementById('quickfavorites').innerHTML = "<div id=\"myfav\"></div>";
		
		
		
		// ====== set up marker mouseover tooltip div ======
		var tooltip = document.createElement("div");
		document.getElementById("map").appendChild(tooltip);
		tooltip.style.visibility = "hidden";
		
		tooltip2 = tooltip;
		
		side_bar_html = "";
		gmarkers = [];
		
					GDownloadUrl(xmlpath, function(doc){
				var xmlDoc = GXml.parse(doc);
				var markers = xmlDoc.documentElement.getElementsByTagName("marker");
				mypage = '<a href="#" onclick="quickpage(&quot;page' + 1 + '&quot;);">' + 1 + ' </a>';
				var tab = 0;
				var a=1;
				side_bar_html += '<div id="page1" >';
//				alert(markers.length);
				for (var i = 0; i < markers.length; i++) {
//					alert(i);
					if(tab == 3){
						a = a + 1;
						mypage += '<a href="#" onclick="quickpage(&quot;page' + a + '&quot;);">' + a + ' </a> ';
						side_bar_html += '</div><div id="page'+a+'" style="display:none;">';
						tab = 0;
						
					}
					
					// obtain the attribues of each marker
					var lat = parseFloat(markers[i].getAttribute("lat"));
					var lng = parseFloat(markers[i].getAttribute("lng"));
					var point = new GLatLng(lat, lng);
					var html = markers[i].getAttribute("html");
					var label = markers[i].getAttribute("label");
					var html2 = markers[i].getAttribute("html2");
									 
			 			//set center map
						if (i == 0){map.setCenter(new GLatLng(lat, lng), 14);}		
					 	// create the marker
						var marker = createMarker(point, label, html,i,html2);
						map.addOverlay(marker);
				
					
					
					tab = tab + 1;
				}
				// put the assembled side_bar_html contents into the side_bar div
				side_bar_html += '</div>\n<input type="hidden" name="tempquickpage" id="tempquickpage" value="page1"/>\n';
				if (a > 1 ){side_bar_html += '<br>page: ' + mypage + '<br>';}
//				document.getElementById("myfav").innerHTML = side_bar_html;
			});
//		}
		
		
		// A function to create the marker and set up the event window
		function createMarker(point, name, html,i,html2){
			var marker = new GMarker(point);
			// === store the name so that the tooltip function can use it ===
			marker.tooltip = '<div class="tooltip">' + name + '<\/div>';
			GEvent.addListener(marker, "click", function(){
				marker.openInfoWindowHtml(html);
			});
			//  ======  The new marker "mouseover" and "mouseout" listeners  ======
			GEvent.addListener(marker, "mouseover", function(){
				showTooltip2(marker);
			});
			GEvent.addListener(marker, "mouseout", function(){
				tooltip.style.visibility = "hidden"
			});	
			gmarkers2[i] = marker;
			htmls[i] = html;
			
			// save the info we need to use later for the side_bar
			gmarkers.push(marker);
			// add a line to the side_bar html
			side_bar_html += '<a href="javascript:myclick2(' + (gmarkers.length - 1) + ')"onmouseover="mymouseover2(' + i + ')" onmouseout="mymouseout2()">' + html2 + '<\/a>'; //>' + name + '<\/a>';
//			map.addOverlay(marker);
//			return marker;
			
			return marker;
		}
		
		// ====== This function displays the tooltip ======
		// it can be called from an icon mousover or a side_bar mouseover
		function showTooltip2(marker){
//			alert(marker.tooltip);

			tooltip.innerHTML = marker.tooltip;
			var point = map.getCurrentMapType().getProjection().fromLatLngToPixel(map.getBounds().getSouthWest(), map.getZoom());
			var offset = map.getCurrentMapType().getProjection().fromLatLngToPixel(marker.getPoint(), map.getZoom());
			var anchor = marker.getIcon().iconAnchor;
			var width = marker.getIcon().iconSize.width;
			var pos = new GControlPosition(G_ANCHOR_BOTTOM_LEFT, new GSize(offset.x - point.x - anchor.x + width, -offset.y + point.y + anchor.y));
			pos.apply(tooltip);
			tooltip.style.visibility = "visible";
		}
		function mymouseover2(i){
			alert('show');
			showTooltip(gmarkers2[i])
		}
		// ===== This function is invoked when the mouse leaves an entry in the side_bar =====
		// It hides the tooltip      
		function mymouseout2(){
			alert('hidden');
			tooltip.style.visibility = "hidden";
		}
		// This function picks up the click and opens the corresponding info window
		function myclick2(i){
			alert('yes');
//			gmarkers[i].openInfoWindowHtml(htmls[i]);
			GEvent.trigger(gmarkers2[i], "click");
//			marker[i].openInfoWindowHtml(htmls[i]);
		}

}
		function showTooltip2(marker){
//			alert(marker.tooltip);
//			var map = new GMap2(document.getElementById("map"));
			tooltip2.innerHTML = marker.tooltip;
			var point = map.getCurrentMapType().getProjection().fromLatLngToPixel(map.getBounds().getSouthWest(), map.getZoom());
			var offset = map.getCurrentMapType().getProjection().fromLatLngToPixel(marker.getPoint(), map.getZoom());
			var anchor = marker.getIcon().iconAnchor;
			var width = marker.getIcon().iconSize.width;
			var pos = new GControlPosition(G_ANCHOR_BOTTOM_LEFT, new GSize(offset.x - point.x - anchor.x + width, -offset.y + point.y + anchor.y));
			pos.apply(tooltip2);
			tooltip2.style.visibility = "visible";
		}
		function mymouseover2(i){
//			alert('show');
			showTooltip2(gmarkers[i])
		}
		// ===== This function is invoked when the mouse leaves an entry in the side_bar =====
		// It hides the tooltip      
		function mymouseout2(){
//			alert('hidden');
			tooltip2.style.visibility = "hidden";
		}
		// This function picks up the click and opens the corresponding info window
		function myclick2(i){
//			alert('yes');
//			gmarkers[i].openInfoWindowHtml(htmls[i]);
			GEvent.trigger(gmarkers[i], "click");
//			marker[i].openInfoWindowHtml(htmls[i]);
		}




    </script>
   
<link href="/stylesheets/style.css?1232449562" media="screen" rel="stylesheet" type="text/css" />

<div style="width:910px; height:40px">
	<div style="width:322px;float:left;display:block;"><img src="/images/controlpanel/images/header-messages.png" width="322" height="36" /></div>
	<!--
		<div style="width:322px;float:left;display:block;"><a id="generallink" style="display:inline;" href="#" onclick="javascript:document.getElementById('listinglink').style.display='inline';document.getElementById('generallink').style.display='none';  document.getElementById('generalmessage').style.display='block'; document.getElementById('listingmessage').style.display='none';">General Contact</a>   <a id="listinglink" style="display:none;" href="#" onclick="javascript:document.getElementById('listinglink').style.display='none';document.getElementById('generallink').style.display='inline';  document.getElementById('generalmessage').style.display='none'; document.getElementById('listingmessage').style.display='block';">Listing message</a></div> 
	-->
</div>
<div class="clear"></div>



<div style="width:910px; height:310px">
			<div id="listingmessage" style="diplay:block">
									<div style="width:270px;float:left;">
									<%if @messages.length < 1%>
										<span>No Messages!</span>
									<%else%><%#else if @messages.length%>
										<%i = 0 + ((@page.to_i - 1) * 5)%>
										<%if @page.to_i != 1%>
											<%generalmessages = Mail.find(:all,:conditions=>"master = '0' and (id_user = '4' or id_agent = '4' or customer = '4') and id_product = '0'",:limit=>"0, #{@page.to_i * 5}")%>
											<%i = i - (generalmessages.length.to_i)%>
										<%end%>
										<%for listing in @messages%>  <%#========================== this loop show Messages%>
									
									<!--=============================================== Items  ===================================-->
									
									
									
											<div id="mclistingblockwide">
												<div style="position: absolute;">
												<%
													
														listingprice = ""
														default = "/googleimage/default.png"
														if listing.id_product.to_s !="" and listing.id_product.to_s != "0" and listing.id_product != nil
																product = Product.find(listing.id_product)
																images = Images.find(:all,:conditions=>"id_product = '#{listing.id_product}'")           
											                      if images.length > 0
											                        for img in images
											                          strtype = img.photo_file_name
											                          strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
											                          default  ="/listingdata/photos/#{img.id}/thumb.#{strtype}"
											                          break
											                        end
											                      
											                    end
														
												       if product.salerent.to_s == '1'  # sale      
												             strprice = product.Price
												             if strprice.to_f >= 1000
												                strprice = strprice.to_s.reverse
												                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
												                strprice = strprice.gsub(/,$/,"").reverse
												              end   
												                listingprice = "#{strprice}  <small>Baht</small>"
												        elsif product.salerent.to_s == '0' # rent 
												            strprice = product.RPrice
												             if strprice.to_f >= 1000
												                strprice = strprice.to_s.reverse
												                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
												                strprice = strprice.gsub(/,$/,"").reverse
												              end  
												             listingprice = "#{strprice}  <small>Baht / Month</small>"
												        else # sale / rent
												                strprice = product.Price
												               if strprice.to_f >= 1000
												                  strprice = strprice.to_s.reverse
												                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
												                  strprice = strprice.gsub(/,$/,"").reverse
												                  
												                end  
												                listingprice = "#{strprice} <small>Baht</small>"
												                
												                
												                strprice = product.RPrice
												               if strprice.to_f >= 1000
												                  strprice = strprice.to_s.reverse
												                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
												                  strprice = strprice.gsub(/,$/,"").reverse
												                end                  
												                listingprice = listingprice + "<br>#{strprice}  <small>Baht / Month</small>"
												        end #end if @product.salerent


													else
														listingprice = "General Contact"
													end
												%>
												
													<img src="<%=default%>" width="50" height="50" <%if listing.id_product.to_s !="" and listing.id_product.to_s != "0" and listing.id_product !=nil%> onclick="showquickpic('<%=listing.id_product%>');" <%end%> />
												</div>
												
												
												<div style="position: absolute;margin-left: 60px;">
												<%if listing.id_product.to_s !="" and listing.id_product.to_s != "0" and listing.id_product !=nil%>
													<a href="#"  onclick="javascript: document.getElementById('map').style.display='block';  document.getElementById('maillist').style.display='none';myclick(<%=i%>);"><strong><%=listingprice%></strong></a>
												<%else%>	
													<a href="#" ><strong><%=strprice%></strong></a>
												<%end%>
														<%if session[:user_id].to_s == listing.id_agent.to_s and listing.userflag.to_s == '1'%>
															<span id="new_icon_<%=listing.id%>"><img src="/icon/flag_green.png"/></span>
														<%elsif session[:user_id].to_s == listing.customer.to_s and listing.custflag.to_s == '1'%>
															<span id="new_icon_<%=listing.id%>"><img src="/icon/flag_green.png"/></span>
														<%else%>	
															<span id="new_icon_<%=listing.id%>"></span>
														<%end%>
														
													<br />
													<span class="smallfont">
														<%=listing.Name%> <br /> <%=listing.created_on.strftime("%d/%m/%Y")%> 
													</span>
												</div>
												
												
												<div style="float:right;" class="smallfont">
														<a href="#" onclick="javascript:document.getElementById('new_icon_<%=listing.id%>').style.display='none';  document.getElementById('map').style.display='none';    document.getElementById('maillist').innerHTML='<iframe src=/products/gmaillist/<%=listing.id%> width=580px height=520px border=0 frameborder=0></iframe>';      document.getElementById('maillist').style.display='block';" >View & Reply</a>
														<br /><!--<a href="viewmessage/<%=listing.id%>?customer=<%=listing.customer%>" >Reply</a>-->
														<%if listing.id_product.to_s !="" and listing.id_product.to_s != "0" and listing.id_product !=nil%>
															<a href="#" onclick="javascript: document.getElementById('map').style.display='block';  document.getElementById('maillist').style.display='none';myclick(<%=i%>);">Show Map</a>
															<%i = i + 1%>
														<%end%>
														<br />
														<%= link_to 'Delete', {:action=>'delmessage',:id=>listing.id}, :confirm => 'Are you sure?', :method => :delete %>
												</div>		
									
											</div>
													<!--==============================================================    end Item  ===========================================-->
									
											
										<%end%><%#==========================end for @messages%>
										
										
									<%end%><%#==========================else if @messages.length%>
									<%= will_paginate @messages%>
									
									</div>
									
									
									
														<!-- GOOGLE MAP -->
													<div style="float:right;display:block;">
														
															<!-- GOOGLE MAP AND SIDEBAR -->
												           <div id="map" style="width:590px;height:520px;z-index:2;"></div>    
															<!-- // GOOGLE MAP AND SIDEBAR -->	 
															<div id="maillist" 	style="display:none; width:590px;height:520px;z-index:1;"></div> 
																	
															<!-- MIDDLE SHADOW -->
															<div id="shadow" 	style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('quickpic').style.display='none';" >
														
															</div>
															<div id="quickpic" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;"></div>
															<!-- // MIDDLE SHADOW -->
													</div>
													
													
			</div><!--end listingmesage-->
			<div id="generalmessage" style="display:none;">						
				<iframe src=/products/generalmessage width=950px height=580px border=0 frameborder=0></iframe>
			</div>
</div>