



<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Manage Messages</h1>
	<p>View and reply to messages sent to you via REThai.com</p>
</div>

<div class="cp-body">



<% if RAILS_ENV =="development"
	ggkey="ABQIAAAAmJz8xm-Ja_ZK1XQwhiJzDBQZkXe_EpvnrmZpXiq6nSo1ISoWFhQ531AAdomVJEComYTNoI683GmTDQ"
elsif RAILS_ENV =="alpha"
	ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxR0Xo7zTDC_U-tJDD8CxNO7k9fpYxRpeu3fima4Ta4vg6ODpI5NgXviMA"
elsif RAILS_ENV =="beta"
	ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxSd5RqMbDNAFH1RgBBdxtpXobdYtxQHOioi6Sst-rpb6lixEE19bYuVOA"
elsif RAILS_ENV =="production"
	ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxTTuA6xppXR1MBY8ubG39QnXYmYuxQj2fBmwYDbHycsFhETWma7qU4GQw"
end%>


<%@listings = Product.find(:all,
                          :select=>"products.*,users.Email as useremail",
                          :joins=>"inner join users on products.id_user = users.id",
                          :conditions=>" products.Deleted = '1' and products.updated_on < '#{(DateTime.now - 13.month).strftime('%Y-%m-%d')}' ",
                          :group=>"products.id_user",:order=>"products.id_user")
%>						  
<table class="table3px" width="100%">
	<tr>
<!--		<td><strong>ID</strong></td>-->
		<td><strong>Date</strong></td>
		<td><strong>From</strong></td>
		<td><strong>Listing</strong></td>
		<td><strong>Listing Map</strong></td>
		<td><strong>Message</strong></td>
		<td><strong>View & Reply</strong></td>
		<td><strong>Email Me</strong></td>
		<td><strong>Delete</strong></td>
	</tr>
<%

	mypage = 1
	if params[:page]
		mypage = params[:page]
	end
%>
	<%for message in @message%>
	<%
	if message.id_product.to_s !="" and message.id_product.to_s !="0" and message.id_product != nil
		
		listing = Product.find(message.id_product)
     #get listing type
        listingtype =" "
		seo_listingtype=""
        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
			  seo_listingtype =	"#{lt.Name}-"
				while seo_listingtype[" "]
					seo_listingtype[" "]="-"				
				end
				while seo_listingtype["/"]				
					seo_listingtype["/"] =""		
				end

              break
            end
          end
        end
		city = ""
		if listing.City.to_s !="" and listing.City.to_s !="0" and listing.City != nil
			city ="#{listing.City}-"
		end
		
		salerent = ""
		if listing.salerent.to_s =="1"
			salerent = "Sale-"
		elsif listing.salerent.to_s =="2"
			salerent = "Sale or Rent-"
		elsif listing.salerent.to_s =="0"			
			salerent = "Rent-"
		end
	
	end
	
	
	newflag = ""
	if (session[:user_id].to_s == message.customer.to_s and message.custflag == '1') or (session[:user_id].to_s == message.id_agent.to_s and message.userflag == '1')
		newflag = "<span style='color:red;'>New</span>"
	end
	
%>
	
	<tr>
<!--		<td><%=message.id%></td>-->
		<td><%=newflag%> <%=message.created_on.strftime('%d-%m-%Y').to_date%></td>
		<td><%=message.Name%><br /><a href="mailto:<%=message.Email%>"><%=message.Email%></a></td>
		<td>
			<%if message.id_product.to_s !="" and message.id_product.to_s !="0" and message.id_product != nil%>
			<a href="/rethai/<%=city%><%=seo_listingtype%><%=salerent%><%=listing.Price%>-<%=message.id_product%>" target="_blank">View Listing</a>
			<%else%>--<%end%>
		</td>
		<td>
			<!--<a href="/listings/maps?h=<%=message.id_product%>" target="_blank">View Map</a>-->
			<%if message.id_product.to_s !="" and message.id_product.to_s !="0" and message.id_product != nil%>
			<a href="http://maps.google.com/maps/api/staticmap?center=<%=message.lat%>,<%=message.lng%>&zoom=13&size=600x400&sensor=false&markers=size:mid|color:red|<%=message.lat%>,<%=message.lng%>&key=<%=ggkey%>&maptype=hybrid&?keepThis=true&TB_iframe=true&width=590&height=405" class="thickbox">View Map</a>
			<%else%>--<%end%>
		</td>
		<td><%=message.Message%></td>
		<td><a href="/products/gmaillist/<%=message.id%>?keepThis=true&TB_iframe=true&width=590&height=405" class="thickbox">View & Reply</a></td>
		<td><%= link_to 'Forward to me', {:action=>'email2me',:id=>message.id,:myredirect=>"/controlpanel/messages?page=#{mypage}"}, :confirm => 'Are you sure you want to forward this to your email inbox?', :method => :post %></td>
		<td><%= link_to 'Delete', {:action=>'delmessage',:id=>message.id,:myredirect=>"/controlpanel/messages?page=#{mypage}"}, :confirm => 'Are you sure to Delete?', :method => :delete %></td>
	</tr>
	<%end%>
</table>
<%= will_paginate @message%>




</div>


