	<%= javascript_include_tag :defaults %> 
   
   <script src="/javascripts/kendio.js" type="text/javascript"></script>
   <script src="/javascripts/managemessage.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
   
   
<link href="/stylesheets/style.css?1232449562" media="screen" rel="stylesheet" type="text/css" />

<div style="width:910px; height:40px">
	<div style="width:322px;float:left;display:block;"><img src="/images/controlpanel/images/header-messages.png" width="322" height="36" /></div> 
</div>
<div class="clear"></div>





<%if @listings.length < 1%>
	<span style="color:green"> Don't have Messages to you.</span>
<%else%><%#else if @messages.length%>
		<table border=0> <%#========================== main table%>
			<tr>
				<td width="50px"></td>
				<td></td>
			</tr>
		
	<%for listing in @listings%>  <%#========================== this loop show Listings%>
	<tr>
		<td colspan=10>
<!--=============================================== Items  ===================================-->
		
		
		
								<a>
									<div id="mclistingblock">
													<div style="position: absolute;">
													<%
													
														product = Product.find(listing.id_product)

															default = "/googleimage/default.png"
															images = Images.find(:all,:conditions=>"id_product = '#{listing.id_product}'")           
										                      if images.length > 0
										                        for img in images
										                          strtype = img.photo_file_name
										                          strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
										                          default  ="/listingdata/photos/#{img.id}/thumb.#{strtype}"
										                          break
										                        end
										                      
										                    end
		
														strprice = product.Price
			                                              if strprice.to_f >= 1000
			                                                #strprice = sprintf("%.2f",strprice)
			                                                strprice = strprice.to_s.reverse
			                                                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                                                strprice = strprice.gsub(/,$/,"").reverse
			                                             end
													%>
														<img src="<%=default%>" width="50" height="50" />
													</div>
													
													
													<div style="position: absolute;margin-left: 60px;">
														<p><strong>$<%=strprice%></strong><br />
														<span id="listingactions">
															<%=product.Bed%> Bedrooms  <%=product.Bath%> Bathrooms
														</span>
														</p>
													</div>
													
													
													
													<div style="position:absolute;margin-left: 150px;z-index:9999;">
													<% messages = Mail.find(:all,:conditions=>" (id_user = '#{session[:user_id]}' or id_agent = '#{session[:user_id]}' or customer = '#{session[:user_id]}') and id_product = '#{product.id}'",:order=>"customer,id asc")%>
													
														<p><span id="listingactions">
															
															<%flags = Mail.find(:all,:conditions=>"id_product = '#{product.id}' and status = '1' ")%>
															<%if flags.length > 0%>
															<a><img src="/icon/flag_green.png"/>new</a>
															<%end%>
															
															<a href="#" onclick="Element.toggle('message<%=listing.id%>'); return false;">View</a>
															<%= link_to 'Delete', {:action=>'delmessage',:id=>listing.id_product}, :confirm => 'Are you sure?', :method => :delete %>
														</span>
														</p>
													</div>
													<div style="position:absolute;margin-left: 200px;">
														<p>&nbsp;</p>
														<p><a href="#" onclick="Element.toggle('message<%=listing.id%>'); return false;">[+]show</a></p>
													</div>
													
									</div>
									</a>
				<!--==============================================================    end Item  ===========================================-->
			
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<!--==============================================================    line Item  ===========================================-->
			<%if messages.length < 1%>
				<span style="color:green;">Don't have user</span>
			<%else%> <%#==========================else if messages.length < 1 %>
				<div id="message<%=listing.id%>" style="display:none">
					
										<%lastcustomer = "start"%>
										<%a = 0%>
										<div id="customer0" style="display:none;">
											<div id="samcustomer0"  style="display:none;">
										<%for message in messages%>
											<%if lastcustomer != message.customer or lastcustomer == "start"%>
												<%a = a + 1%>
												<!-- Reply -->
													<div id="listingactions" style="display: block;margin-left: 30px;">
														<a href="viewmessage/<%=message.id_product%>?customer=<%=lastcustomer%>">View</a>
														<a href="viewmessage/<%=message.id_product%>?customer=<%=lastcustomer%>">Reply</a>
														<br><br>
													</div>
												<!-- end Reply -->
												</div><!--end samcustomer-->
												</div><!--end customer-->
												<div id="customer<%=a%>" style="display:inline;">
													<div >
														<a href="#" onclick="Element.toggle('<%=listing.id%>_samcustomer<%=a%>');">+<%=message.Name%></a> 
															<%iflags = Mail.find(:all,:conditions=>"id_product = '#{product.id}' and status = '1' and customer = '#{message.customer}'")%>
															<%if iflags.length > 0%>
															<img src="/icon/flag_green.png"/>
															<%end%>
														
														<!--
														<a href="viewmessage/<%=message.id_product%>?customer=<%=lastcustomer%>">View</a>
														<a href="viewmessage/<%=message.id_product%>?customer=<%=message.customer%>">Reply</a>
														-->
													</div>
													<div id="<%=listing.id%>_samcustomer<%=a%>" style="display:none;">
											<%else%>
												
												
												
												<!--show reply-->
													<div style="display: block;margin-left: 30px;">-<%=message.Name%></div>
												<!--end show reply-->
												
												
												
											<%end%>	
												
												<%lastcustomer = message.customer%>
										<%end%><%#==========================end for message in messages%>
												<!-- Reply -->
													<div id="listingactions" style="display: block;margin-left: 30px;">
														<a href="viewmessage/<%=message.id_product%>?customer=<%=lastcustomer%>">View</a>
														<a href="viewmessage/<%=message.id_product%>?customer=<%=lastcustomer%>">Reply</a>
														<br><br>
													</div>
												<!-- end Reply -->
										</div><!--end samcustomer-->
										</div><!--end customer-->
				</div>					
			<%end%> <%#==========================end if messages.length < 1 %>
			
			
			<!--============================================================    end line Item  =========================================-->
		</td>
	</tr>
						
				
				
	<%end%><%#==========================end for @messages%>
	</table> <%#==========================end main table%>
	
	
<%end%><%#==========================else if @messages.length%>