

<table width="980" border="0" cellspacing="10" cellpadding="0">
	<tr>
		<td bgcolor="#005395" width="650"><img src="/images/template/header-sell.png" width="263" height="40"></td>
		<td bgcolor="#005395"><img src="/images/template/header-actions.png" width="300" height="40"></td>
	</tr>
	<tr>
		<td valign="top">



<h1>Payment</h1>

your select Pre-Pay packages at <%=@price%> USD
<br><br>
<div id="prepay" <%if @plan=="prepay"%> style="display:block;" <%else%> style="display:none;" <%end%> >
	<h2>Pre-Pay packages credits</h2>
      	<p>	Purchase credits and spend them whenever you add a listing, or add an advertisment.<br>
      		The credit cost depends on the listing &amp; upgrades you add to the listing, or the type of add you place. Pre-pay credits expire one year from the date of purchase.
		</p>

</div>

<div id="subscription" <%if @plan=="subscription"%> style="display:block;" <%else%> style="display:none;" <%end%> >
	<h2>Monthly Subscription Packages credits work</h2>
	        <p>Your subscription gives you a monthly credit limit (unused credits expire every 3 months). The larger the plan the larger the extra credit's we give to you. If you surpass your monthly limit you can simply add some Pre-Pay credits to tie you over till the next month.</p>
      <p>&nbsp;</p>

</div>

<br><br>




    <!-- display payment summary here -->
<%if @plan=="prepay"%>
   <%= paypal_form_tag %>

	<%= paypal_setup "#{@credit.id}", "#{@price}", "p_khan_1237377250_biz@hotmail.com", :currency => 'USD', :item_name => "#{@credit.id}-REThai.com",:notify_url => url_for(:only_path => false, :action => 'notify'), :return => url_for(:only_path => false, :action => 'thankyou'), :cancel_return => url_for(:only_path => false, :action => 'thankyou'), :business_key => @business_key, :business_cert => @business_cert, :business_certid => @business_certid  %>


	
		<%= submit_tag "Proceed to Payment" %>



	
	<br><br>
	<br><br>
   </form>
   
   <%else%>
		<form name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="item_name" value="<%=@credit.id%>-REThai.com">
<input type="hidden" name="item_number" value="<%=@credit.id%>">
<input type="hidden" name="return" value="http://beta.rethai.com/controlpanel/thankyou"> 
<input type="hidden" name="cancel_return" value="http://beta.rethai.com/controlpanel/thankyou"> 
<input type="hidden" name="notify_url" value="http://beta.rethai.com/controlpanel/notify"> 


<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="p_khan_1237377250_biz@hotmail.com">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="no_shipping" value="1">
<input type="image" src="http://www.paypal.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<input type="hidden" name="a3" value="<%=@price%>">
<input type="hidden" name="p3" value="1">
<input type="hidden" name="t3" value="D">
<input type="hidden" name="src" value="1">
<input type="hidden" name="sra" value="1">
</form>


   <%end%>	






		</td>
		
		<!-- SIDEBAR -->
		
		
		<td valign="top">
		
			
			
		</td>
	</tr>
</table>

