<%
 listingprice = ""
       if @product.salerent.to_s == '1'  # sale      
             strprice = @product.Price
             if strprice.to_f >= 1000
                strprice = strprice.to_s.reverse
                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
                strprice = strprice.gsub(/,$/,"").reverse
              end   
                listingprice = "#{strprice} <small>Baht</small>"
        elsif @product.salerent.to_s == '0' # rent 
            strprice = @product.RPrice
             if strprice.to_f >= 1000
                strprice = strprice.to_s.reverse
                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
                strprice = strprice.gsub(/,$/,"").reverse
              end  
             listingprice = "#{strprice} <small>Baht / Month</small>"
        else  # sale / rent
                strprice = @product.Price
               if strprice.to_f >= 1000
                  strprice = strprice.to_s.reverse
                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
                  strprice = strprice.gsub(/,$/,"").reverse
                  
                end  
                listingprice = "#{strprice} <small>Baht</small>"
                
                
                strprice = @product.RPrice
               if strprice.to_f >= 1000
                  strprice = strprice.to_s.reverse
                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
                  strprice = strprice.gsub(/,$/,"").reverse
                end                  
                listingprice = listingprice + "<br>#{strprice} <small>Baht / Month</small>"
		end
    # ============  end set price  ===========================================================
    compdetail=""
    begin
      
                            companies = Companies.find(:all,:conditions=>"id_user = '#{@product.id_user}' and Head = '0'")
                            if companies.length > 0
                              for comp in companies
                                if comp.logo !="" and comp.logo !=nil and comp.logo !='0'
                                   logo = Businesslogo.find(comp.logo)
                                  compdetail= "<div>    <a href=\"#\"  onclick=\"changeform2(&#39;showbusiness&#39;,&#39;#{comp.id}&#39;,&#39;#{comp.id_user}&#39;);\">  <img src=\"#{logo.public_filename(:small)}\" height=\"30\"/>  </a>    </div> \n<input type=\"hidden\" id=\"ourlatlng\" name=\"ourlatlng\" value=\"#{comp.lat},#{comp.lng}\"/>\n"
                                   break
                                end
                              end
                            end
     rescue
     end   # end begin      


	      sqm=""
	    if @product.SQM.to_s !="0" and @product.SQM.to_s !="" and @product.SQM.to_s !=nil
	      #sqm = ", SQM #{@product.SQM}"
	      if @product.Type.to_s == "5" 
	        sqm = " SQM #{@product.SQM}"
	      else
	        sqm = ", SQM #{@product.SQM}"
	      end
	    end   
	    #get parking
	        parking =" "
	        if @product.Parking.to_s != '0' and @product.Parking.to_s != "" and @product.Parking !=nil
	          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{@product.Parking}'")
	          if parkings.length > 0
	            for pk in parkings
	              parking = "#{pk.Name}"
	              break
	            end
	          end
	        end
	     #get listing type
	        listingtype =" "
	        if @product.Type.to_s != '0' and @product.Type.to_s != "" and @product.Type !=nil
	          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{@product.Type}'")
	          if listings.length > 0
	            for lt in listings
	              listingtype = ", #{lt.Name}"
	              break
	            end
	          end
	        end

        if @product.Bed.to_s == "0"
          mybedroom = "Studio "
        else
          mybedroom="#{@product.Bed} Bedroom"
        end



     
     ref=""
    if @product.Ref.to_s !="" and @product.Ref.to_s != "0"  and @product.Ref != nil
      ref = ref + "&nbsp;&nbsp;<strong>RefNo: </strong>#{@product.Ref}\n"
      if params[:partnerID] 
          if @product.APIUserID.to_i != 0
            api = Rethaiapi.find(@product.APIUserID)
            if api.APILink.to_s !="" and api.APILink != nil
              strlink = api.APILink
              if strlink["APILink"]
                 strlink["APILink"]=@product.Ref
                ref = ref + "&nbsp;&nbsp;<a href='#{strlink}' target='_blank'>View Listing</a>\n"
              end
            end
          end
      end #end params[:partnerID]
    end


              seo_listingtype =" "
              if @product.Type.to_s != '0' and @product.Type.to_s != "" and @product.Type !=nil
                listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{@product.Type}'")
                if listings.length > 0
                  for lt in listings
                    seo_listingtype = "#{lt.Name}-"  
                    while seo_listingtype[" "]        
                      seo_listingtype[" "] ="-"   
                    end
                    while seo_listingtype["/"]        
                      seo_listingtype["/"] =""    
                    end
                    break
                  end
                end
              end 



              city = ""
          if @product.City.to_s !="" and @product.City.to_s !="0" and @product.City != nil
            city = "#{@product.City}-"
              while city[" "]       
                city[" "] ="_"    
              end
          end

          salerent = ""
              if @product.salerent.to_s == '1'  # sale        
            salerent = "Sale-" 
              elsif @product.salerent.to_s == '0' # rent    
            salerent = "Rent"
              else  # sale / rent   
            salerent = "Sale-or-Rent-"
              end #end if @n_listings[pos].salerent
%>		



		<%if @product.Type.to_s == "5" %>
			<div id=listing>
			<h1><%=listingprice%> </h1> 
			<span class=listing-smallfont> <%=sqm%> <%=listingtype%></span>
			</div>
		<%else %>
			<div id=listing>
			<h1><%=listingprice%> </h1> 
			<span class=listing-smallfont><%=mybedroom%>, <%=@product.Bath%> Bathroom, <%=parking%> <%=sqm%> <%=listingtype%></span>
			</div>
		<%end%>
<input id="ourlatlng" name="ourlatlng" value="" type="hidden">
<table width="300px">
	<tr>
		<td valign="top" width="150px">
			<%
				detail1 = @product.Detail.split(' ').collect{|e|e.to_s}    
			    a = 0
			  str1 = ""
			  while a <= 30
			    str1 = str1 + detail1[a].to_s + " "
			    a = a + 1
			  end
			%><%=str1%><%if detail1.length > 30%>...<%end%>
		</td>
		<td valign="top" width="150px">
			<%
			images = Images.find(:all,:conditions=>"id_product = '#{params[:id]}'")
img_index = 1
			for image in images 
		        if image.paperclipfix.to_s =="1"
		           if img_index > 1%>
		             <a id='image_<%=@product.id%>_<%=img_index%>' style='display:none;' href="<%=image.photo.url(:large)%>" rel="lightbox[listing<%=@product.id%>]"><img src="<%=image.photo.url(:thumb)%>" width="150px" height="120px" /></a>&nbsp;
		           <%else%>
		             <a id='image_<%=@product.id%>_<%=img_index%>' href="<%=image.photo.url(:large)%>" rel="lightbox[listing<%=@product.id%>]"><img src="<%=image.photo.url(:thumb)%>" width="150px" height="120px" /></a>&nbsp;
		          <% end         
		        else
		            if img_index > 1%>
		              <a id='image_<%=@product.id%>_<%=img_index%>' style='display:none;' href="<%=image.photo.url()%>" rel="lightbox[listing<%=@product.id%>]"><img src="<%=image.photo.url(:thumb)%>" width="150px" height="120px" /></a>&nbsp;
		            <%else%>
		              <a id='image_<%=@product.id%>_<%=img_index%>' href="<%=image.photo.url()%>" rel="lightbox[listing<%=@product.id%>]"><img src="<%=image.photo.url(:thumb)%>" width="150px" height="120px" /></a>&nbsp;
		           <% end
		        end
		       img_index = img_index + 1 
		    end
			%>
			<br><br>
			<a href='/rethai/<%=city%><%=salerent%><%=seo_listingtype%><%=@product.id%>'>View Property Details</a><br>
			<%=ref%><br><br>
			<%=compdetail%><br>
		</td>
	</tr>
</table>		















