prepay paypal payment


<table class="creditbillingtable">
	<tr>
		<th>ID</th>
		<th>Date</th>
		<th>Subtotal</th>

		<th>Discount</th>
		<th>Total</th>
		<th>Invoice</th>

	</tr>
	
	
	
	<%for prepay in @prepay%>
	<tr>
		<td><%= prepay.TXN_ID%></td>
		<td><%=prepay.created_on%></td>
		<td><%=prepay.Price%></td>
		
		<td>0.00</td>
		<td><%=prepay.Price%></td>
		<td><%=prepay.TXN_ID%></td>
	</tr>
	<%end%>
	
	
	
</table>