
<%= javascript_include_tag :defaults %> 
   
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<link href="/stylesheets/style.css?1232449562" media="screen" rel="stylesheet" type="text/css" />
<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
<script src="/javascripts/managemessage.js" type="text/javascript"></script>
<script src="/javascripts/indexpro.js" type="text/javascript"></script>

<script type="text/javascript">
	
	
	function delist(id){
		var str="";
		str = str +"<div style=margin-left:15px>";
		str = str +"<br><h1>Delist</h1>\n<form name=\"f_site\" id=\"f_site\" method=\"post\" action=\"/controlpanel/updatestatus\">\n<table cellspacing=\"5\" cellpadding=\"5\">";
		str = str +"<tr><td><input type=\"hidden\" name=\"id\" id\"id\" value=\""+id+"\"/></td></tr>\n";
		str = str +"<tr><td><input name=\"product[Status]\" type=\"radio\" value=\"d\" id=\"product_Status_1\" /><label for=\"product_Status_1\">&nbsp; Delete listing Permanently</label></td></tr>\n";
		str = str +"<tr><td><input name=\"product[Status]\" type=\"radio\" value=\"s\" id=\"product_Status_2\" /><label for=\"product_Status_2\">&nbsp; Listing has been Sold</label></td></tr>\n";
		str = str +"<tr><td><input name=\"product[Status]\" type=\"radio\" value=\"f\" id=\"product_Status_3\" /><label for=\"product_Status_3\">&nbsp; Take offline Temporarily</label></td></tr>\n";

		str = str +"<tr><td><input type=\"submit\" name=\"Submit\" value=\"Submit\" id=\"Submit\" /><a href='#' onclick=\"javascript: document.getElementById('shadow').style.display='none'; document.getElementById('quickpic').style.display='none'; document.getElementById('delist').style.display='none';\">Close</a> </td></tr>\n";
		str = str +"</form></table></div>\n";
		document.getElementById('shadow').style.display="block";
		document.getElementById('delist').innerHTML=str;
		document.getElementById('delist').style.display="block";
	}
	
	
</script>	
		
<script type="text/javascript">
var side_bar_html = "";//<img src=\"/action_back.gif\" onclick=\"hidsidebar();\" style=\"display:inline;\"/><br>";
var mypage = "";
		var gmarkers = [];		
		var gmarkers2 = [];
		var htmls = [];
		var map;
		var tooltip;
		var tooltip2;
		var marker=[];
//		document.getElementById("map").appendChild(tooltip2);
//		tooltip2.style.visibility = "hidden";
		
		
//	function gfav(xmlpath,location){
//		document.getElementById('map').style.display='none';
//		document.getElementById('mapshow').style.display='block';
//
//		
//
//			
//			 map = new GMap2(document.getElementById("mapshow"));
//			var mt = map.getMapTypes();
//		      for (var i=0; i<mt.length; i++) {
//		        mt[i].getMinimumResolution = function() {return 8;}
//		        mt[i].getMaximumResolution = function() {return 18;}
//		      }
//	  		map.setCenter(new GLatLng(12.9357, 100.889), 14);
//			map.enableDoubleClickZoom();
//			map.setMapType(G_HYBRID_MAP);
//			map.addControl(new GMapTypeControl());
//			map.addControl(new GLargeMapControl());
//			
//			geocoder = new GClientGeocoder();
//			
//			
//			
//		document.getElementById('showcontent').style.display ='inline';
//		document.getElementById('showcontent').innerHTML = "<div id=\"myfav\"></div>";
//		
//		
//		
//		// ====== set up marker mouseover tooltip div ======
//		tooltip = document.createElement("div");
//		document.getElementById("map").appendChild(tooltip);
//		tooltip.style.visibility = "hidden";
//		
//		tooltip2 = tooltip;
//		
//		side_bar_html = "";
//		gmarkers = [];
//		
//					GDownloadUrl(xmlpath, function(doc){
//				var xmlDoc = GXml.parse(doc);
//				var markers = xmlDoc.documentElement.getElementsByTagName("marker");
//				
//				var tab = 0;
//				var a=1;
//				side_bar_html += '<div id="page1" >';
//				
//				for (var i = 0; i < markers.length; i++) {
//					
//					if(tab == 3){
//						a = a + 1;
//						mypage += '<a href="#" onclick="quickpage(&quot;page' + a + '&quot;);">' + a + ' </a>';
//						side_bar_html += '</div><div id="page'+a+'" style="display:none;">';
//						tab = 0;
//						
//					}
//					
//					// obtain the attribues of each marker
//					var lat = parseFloat(markers[i].getAttribute("lat"));
//					var lng = parseFloat(markers[i].getAttribute("lng"));
//					var point = new GLatLng(lat, lng);
//					var html = markers[i].getAttribute("html");
//					var label = markers[i].getAttribute("label");
//					var html2 = markers[i].getAttribute("html2");
//					// create the marker
//					if (lat != 0 & lng != 0) {
//						//set center map
//						if (i == 0) {map.setCenter(new GLatLng(lat, lng), 13);}
//						
//						var marker = createMarker(point, label, html, i, html2);
////						map.addOverlay(marker);
//					}
//					tab = tab + 1;
//				}
////				set first popup
//				GEvent.trigger(gmarkers2[0], "click");
//				// put the assembled side_bar_html contents into the side_bar div
////				side_bar_html += '</div>\n<input type="hidden" name="tempquickpage" id="tempquickpage" value="page1"/>\n';
////				if (a > 1 ){side_bar_html += '<br>page: ' + mypage + '<br>';}
////				document.getElementById("myfav").innerHTML = side_bar_html;
////				document.getElementById("myfav").innerHTML = side_bar_html;
//			});
////		}
//		
//		
//		// A function to create the marker and set up the event window
//		function createMarker(point, name, html,i,html2){
//			 var marker = new GMarker(point);
//			// === store the name so that the tooltip function can use it ===
//			marker.tooltip = '<div class="tooltip">' + name + '<\/div>';
//			GEvent.addListener(marker, "click", function(){
//				marker.openInfoWindowHtml(html);
//			});
//			//  ======  The new marker "mouseover" and "mouseout" listeners  ======
//			GEvent.addListener(marker, "mouseover", function(){
//				showTooltip2(marker);
//			});
//			GEvent.addListener(marker, "mouseout", function(){
//				tooltip.style.visibility = "hidden"
//			});	
//			gmarkers2[i] = marker;
//			htmls[i] = html;
//			
//			// save the info we need to use later for the side_bar
//			gmarkers.push(marker);
//			// add a line to the side_bar html
//			side_bar_html += '<a href="javascript:myclick2(' + (gmarkers.length - 1) + ')"onmouseover="mymouseover2(' + i + ')" onmouseout="mymouseout2()">' + html2 + '<\/a>'; //>' + name + '<\/a>';
//			map.addOverlay(marker);
//			
//			//return marker;
//		}
//		
//
//
//
//}
//		function showTooltip2(marker){
////			alert(marker.tooltip);
////			var map = new GMap2(document.getElementById("map"));
//			tooltip.innerHTML = marker.tooltip;
//			var point = map.getCurrentMapType().getProjection().fromLatLngToPixel(map.getBounds().getSouthWest(), map.getZoom());
//			var offset = map.getCurrentMapType().getProjection().fromLatLngToPixel(marker.getPoint(), map.getZoom());
//			var anchor = marker.getIcon().iconAnchor;
//			var width = marker.getIcon().iconSize.width;
//			var pos = new GControlPosition(G_ANCHOR_BOTTOM_LEFT, new GSize(offset.x - point.x - anchor.x + width, -offset.y + point.y + anchor.y));
//			pos.apply(tooltip);
//			tooltip.style.visibility = "visible";
//		}
		function mymouseover2(i){
//			alert(i);
			showTooltip2(gmarkers[i])
		}
		// ===== This function is invoked when the mouse leaves an entry in the side_bar =====
		// It hides the tooltip      
		function mymouseout2(){
			tooltip.style.visibility = "hidden";
		}
		function myclick2(i,myedit){
			GEvent.trigger(gmarkers2[i], "click");
//			alert(myedit);
//			alert(document.getElementById('detail').innerHTML);
			if (myedit == '1' && (document.getElementById('detail')!= null)){				
				document.getElementById('edit').style.display="inline";
				document.getElementById('detail').style.display="none";
			}
		}

		function myclick3(i){
				document.getElementById('temppopup').innerHTML = strpopup;
				document.getElementById('edit').style.display = 'inline';
				document.getElementById('detail').style.display = 'none';
				gmarkers2[i].openInfoWindowHtml(document.getElementById('temppopup').innerHTML);
		}




    </script>		
		<script type="text/javascript">
		function showquickpic(id){
			var strpic = "";
			//show shasow
			document.getElementById('shadow').style.display="block";	
			
			// get content
			document.getElementById('quickpic').innerHTML="<iframe src=/products/quickpic/"+id+" width=565 height=315  border=0 frameborder=0></iframe>";
			
			
			//show picture
			document.getElementById('quickpic').style.display="block";	
					
		}
	</script>
	





 <!-- <body  onload="gfav('/xml/<%=session[:user_id]%>_listings.xml');" onunload="GUnload();"><br>
  -->
  
  <!--==== for fix redirect ===================-->
  <input type="hidden" name="myredirect" id="myredirect" value="controlpanel_products"/>
  <!--===   end fix redirect ==================-->
  
<div style="width:910px; height:40px">
	<div style="width:322px;float:left;display:block;"><img src="/images/controlpanel/images/header-listings.png" width="322" height="36" /></div> 
	<div style="float:left;display:block;margin-left:-65px;z-index:9999"><a href="#" onclick="document.getElementById('mapshow').style.display='none'; document.getElementById('map').style.display='inline'; load3('0','<%=@user.Suburb%>')"><img src="/images/controlpanel/images/listings-addnew.png" width="140" height="30" /></a></div> 
	<!--<div style="float:left;display:block;margin-left:-0px;z-index:9999"><a href="#" onclick="window.location.reload()">Reload page</a></div>-->
</div>
<div class="clear"></div>
<div id="temppopup" style="display:none;"></div>
<div style="width:910px; height:510px">
	<div style="width:270px;float:left;">

				
				
		<!-- SHOW LISTINGS-->

					<div id ="showcontent" ></div>
					
					<%if @products.length < 1%>			
					<span>No Listings</span>		
							
					<%else%>
					
					
					<!-- SHOW CONTENT -->
					<%
					
					i = 0
					i = i + ((@mypage.to_i - 1) * 5)
					%>
					<% types = 		Option.find(:all,:conditions=>"option_type = 'Listing'",  :order=>"id asc")%>
					<% parkings = 	Option.find(:all,:conditions=>"option_type = 'Carspace'", :order=>"id asc")%>
					
						<%for product in @products%>
						
							<!--===================== Items  ===================================-->

								<a href="#" onclick="javascript:myclick2(<%=i%>,'0');"  style="text-decoration:none">
									<div id="mclistingblock">
													<div style="float:left">
													<%
															default = "/googleimage/default.png"
															images = Images.find(:all,:conditions=>"id_product = '#{product.id}'")           
										                      if images.length > 0
										                        for img in images
										                          strtype = img.photo_file_name
										                          strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
										                          default  ="/listingdata/photos/#{img.id}/thumb.#{strtype}"
										                          break
										                        end
										                      
										                    end
		
														listingprice = ""
												       if product.salerent.to_s == '1'  # sale      
												             strprice = product.Price
												             if strprice.to_f >= 1000
												                strprice = strprice.to_s.reverse
												                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
												                strprice = strprice.gsub(/,$/,"").reverse
												              end   
												                listingprice = "<strong>#{strprice}</strong>  <small>Baht</small>"
												        elsif product.salerent.to_s == '0' # rent 
												            strprice = product.RPrice
												             if strprice.to_f >= 1000
												                strprice = strprice.to_s.reverse
												                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
												                strprice = strprice.gsub(/,$/,"").reverse
												              end  
												             listingprice = "<strong>#{strprice}</strong>  <small>Baht / Month</small>"
												        else  # sale / rent
												                strprice = product.Price
												               if strprice.to_f >= 1000
												                  strprice = strprice.to_s.reverse
												                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
												                  strprice = strprice.gsub(/,$/,"").reverse
												                  
												                end  
												                listingprice = "<strong>#{strprice}</strong>  <small>Baht</small>"
												                
												                
												                strprice = product.RPrice
												               if strprice.to_f >= 1000
												                  strprice = strprice.to_s.reverse
												                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
												                  strprice = strprice.gsub(/,$/,"").reverse
												                end                  
												                listingprice = listingprice + "<br><strong>#{strprice}</strong>  <small>Baht / Month</small>"
												        end #end if @product.salerent
													%>
														<img src="<%=default%>" width="50" height="50" />
													</div>
													
													<div style="margin-left:60px;">
														<table  width="100%"><tr><td>
															<%=listingprice%><br />
														<span id="mclistingblock-small">
															<a href="#" onclick="javascript:myclick2(<%=i%>,'1');" >Edit</a>,

															
															

															<%if product.Deleted == 'p' %> <!-- if listing not pay -->
																<!--<a href="#" onclick="delist(' <%=product.id%>');">Delist</a>
																<a href="/controlpanel/listingpayment/<%=product.id%>" style="color:red;">Pay now</a>-->
																<%= link_to 'Offline', {:action=>'up2online',:id=>product.id}, :confirm => 'Are you sure to Online again?', :method => :post,:style=>"color:red;" %>
															<%else%>	
																<%if product.Status == 'f'%><!-- if listing offline -->
																	<!--<%= link_to 'Relist', {:action=>'relist',:id=>product.id}, :confirm => 'Are you sure?', :method => :post,:style=>"color:red;" %>-->																	
																	<%= link_to 'Offline', {:action=>'up2online',:id=>product.id}, :confirm => 'Are you sure to Online again?', :method => :post,:style=>"color:red;" %>
																<%#elsif product.expiredate != nil and product.expiredate < DateTime.now %><!-- if listing expire -->
																	<!--<a href="/controlpanel/listingpayment/<%=product.id%>" style="color:red;">Offline</a>			-->																	
																<%#= link_to 'Offline', {:action=>'up2online',:id=>product.id}, :confirm => 'Are you sure to Online again?', :method => :post,:style=>"color:red;" %>
																<%else%><!-- if listing online -->
																	<a href="#" style="color:green;" onclick="delist(' <%=product.id%>');">Online</a>
																<%end%>
																														
															<%end%>
															
														</span>
														</td>
														
														
														
														<!--===========   listing Counter   ==============-->
														<td align="right" valign="top" >
															
															<small>Views: 
															
																	<%
																		strprice = product.counter
														               if strprice.to_f >= 1000
														                  strprice = strprice.to_s.reverse
														                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
														                  strprice = strprice.gsub(/,$/,"").reverse
														                end  
																%>
																<%=strprice%>
															</small>
														</td>
														<!--=========== end listing Counter   ==============-->
														
														
														</tr></table>
													</div>


									</div>
									</a>
									
									<%i = i + 1%>
						<%end%>
						
						<%= will_paginate @products%>
					<%end%>
				</div>
				
				
				
				
				
				<!-- GOOGLE MAP -->
				<div style="float:right;display:block;">
					
						<!-- GOOGLE MAP AND SIDEBAR -->
			           <div id="map" 		style="display:none;	width:640px;height:520px;z-index:1;">Loading map...</div>    
					   <div id="mapshow" 	style="display:block;	width:640px;height:520px;z-index:2;">Loading map...</div>    
			           <div id="side_bar" style="display:none;"></div>
					   <div id="sidebar" style="display:none;"></div>
						<!-- // GOOGLE MAP AND SIDEBAR -->	 
								
						<!-- MIDDLE SHADOW -->
						<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('quickpic').style.display='none'; document.getElementById('delist').style.display='none';" >
					
						</div>
						<div id="quickpic" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;"></div>
						<div id="delist" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;background-color: #FFFFFF; width:250px; height:200px;">
						</div>
						<!-- // MIDDLE SHADOW -->
						<div id="tempdetail"><!-- not delete or comment
							<div id="detail"></div>
							<div id="editform"></div>-->
						</div> 
				</div>
			</div>



