<style>
<!--
.table2px td {
	padding:3px;
}
-->
</style>


<script src="/javascripts/kendio.js" type="text/javascript"></script>
<!-- =======================   calendar  ================================ -->
<link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/skins/aqua/theme.css" title="Aqua" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-blue.css" title="winter" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-blue2.css" title="blue" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-brown.css" title="summer" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-green.css" title="green" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-1.css" title="win2k-1" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-2.css" title="win2k-2" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />

<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-2.css" title="win2k-cold-2" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-system.css" title="system" />

<!-- import the calendar script -->
<script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar.js"></script>

<!-- import the language module -->
<script type="text/javascript" src="/javascripts/jscalendar-1.0/lang/calendar-en.js"></script>
<script type="text/javascript">

var oldLink = null;
// code to change the active stylesheet
function setActiveStyleSheet(link, title) {
  var i, a, main;
  for(i=0; (a = document.getElementsByTagName("link")[i]); i++) {
    if(a.getAttribute("rel").indexOf("style") != -1 && a.getAttribute("title")) {
      a.disabled = true;
      if(a.getAttribute("title") == title) a.disabled = false;
    }
  }
  if (oldLink) oldLink.style.fontWeight = 'normal';
  oldLink = link;
  link.style.fontWeight = 'bold';
  return false;
}

// This function gets called when the end-user clicks on some date.
function selected(cal, date) {
  cal.sel.value = date; // just update the date in the input field.
  if (cal.dateClicked && (cal.sel.id == "sel1" || cal.sel.id == "sel3"))
    // if we add this call we close the calendar on single-click.
    // just to exemplify both cases, we are using this only for the 1st
    // and the 3rd field, while 2nd and 4th will still require double-click.
    cal.callCloseHandler();
}

// And this gets called when the end-user clicks on the _selected_ date,
// or clicks on the "Close" button.  It just hides the calendar without
// destroying it.
function closeHandler(cal) {
  cal.hide();                        // hide the calendar
//  cal.destroy();
  _dynarch_popupCalendar = null;
}

// This function shows the calendar under the element having the given id.
// It takes care of catching "mousedown" signals on document and hiding the
// calendar if the click was outside.
function showCalendar(id, format, showsTime, showsOtherMonths) {
  var el = document.getElementById(id);
  if (_dynarch_popupCalendar != null) {
    // we already have some calendar created
    _dynarch_popupCalendar.hide();                 // so we hide it first.
  } else {
    // first-time call, create the calendar.
    var cal = new Calendar(1, null, selected, closeHandler);
    // uncomment the following line to hide the week numbers
    // cal.weekNumbers = false;
    if (typeof showsTime == "string") {
      cal.showsTime = true;
      cal.time24 = (showsTime == "24");
    }
    if (showsOtherMonths) {
      cal.showsOtherMonths = true;
    }
    _dynarch_popupCalendar = cal;                  // remember it in the global var
    cal.setRange(1900, 2070);        // min/max year allowed.
    cal.create();
  }
  _dynarch_popupCalendar.setDateFormat(format);    // set the specified date format
  _dynarch_popupCalendar.parseDate(el.value);      // try to parse the text in field
  _dynarch_popupCalendar.sel = el;                 // inform it what input field we use

  // the reference element that we pass to showAtElement is the button that
  // triggers the calendar.  In this example we align the calendar bottom-right
  // to the button.
  _dynarch_popupCalendar.showAtElement(el.nextSibling, "Br");        // show the calendar

  return false;
}

var MINUTE = 60 * 1000;
var HOUR = 60 * MINUTE;
var DAY = 24 * HOUR;
var WEEK = 7 * DAY;

// If this handler returns true then the "date" given as
// parameter will be disabled.  In this example we enable
// only days within a range of 10 days from the current
// date.
// You can use the functions date.getFullYear() -- returns the year
// as 4 digit number, date.getMonth() -- returns the month as 0..11,
// and date.getDate() -- returns the date of the month as 1..31, to
// make heavy calculations here.  However, beware that this function
// should be very fast, as it is called for each day in a month when
// the calendar is (re)constructed.
function isDisabled(date) {
  var today = new Date();
  return (Math.abs(date.getTime() - today.getTime()) / DAY) > 10;
}

function flatSelected(cal, date) {
  var el = document.getElementById("preview");
  el.innerHTML = date;
}


</script>

<!-- =======================  end calendar  ================================ -->



<%
	mypage = 1
	if params[:page]
		mypage = params[:page]
	end
%>
<script type="text/javascript">
	
	
	function delist(id){
		var str="";
		str = str +"<div style=margin-left:15px>";
		str = str +"<br><h1>Delist</h1>\n<form name=\"f_site\" id=\"f_site\" method=\"post\" action=\"/controlpanel/updatestatus\">\n<table cellspacing=\"5\" cellpadding=\"5\">";
		str = str +"<tr><td><input type=\"hidden\" name=\"id\" id\"id\" value=\""+id+"\"/></td></tr>\n";
		str = str +"<tr><td><input name=\"product[Status]\" type=\"radio\" value=\"d\" id=\"product_Status_1\" /><label for=\"product_Status_1\">&nbsp; Delete listing Permanently</label></td></tr>\n";
		str = str +"<tr><td><input name=\"product[Status]\" type=\"radio\" value=\"s\" id=\"product_Status_2\" /><label for=\"product_Status_2\">&nbsp; Listing has been Sold</label></td></tr>\n";
		str = str +"<tr><td><input name=\"product[Status]\" type=\"radio\" value=\"f\" id=\"product_Status_3\" /><label for=\"product_Status_3\">&nbsp; Take offline Temporarily</label></td></tr>\n";
		str = str +"<br><input type=\"hidden\" name=\"myredirect\" id =\"myredirect\" value=\"/controlpanel/products?page=<%=mypage%>/\"/>"
		str = str +"<tr><td><input type=\"submit\" name=\"Submit\" value=\"Submit\" id=\"Submit\" /><a href='#' onclick=\"javascript: document.getElementById('shadow').style.display='none';  document.getElementById('delist').style.display='none';\" style=margin-left:10px>Close</a> </td></tr>\n";
		str = str +"</form></table></div>\n";
		document.getElementById('shadow').style.display="block";
		document.getElementById('delist').innerHTML=str;
		document.getElementById('delist').style.display="block";
	}
	
	function upgrade(id,s,m,h,e,home,condo){
		var s_check="";
		var m_check="";
		var h_check="";
		var e_check="";
		
		var home_check="";
		var condo_check="";
		
		if(s == '1'){s_check = "checked='checked'";}
		if(m == '1'){m_check = "checked='checked'";}
		if(h == '1'){h_check = "checked='checked'";}
		if(e == '1'){e_check = "checked='checked'";}
		if(home == '1'){home_check = "checked='checked'";}
		if(condo == '1'){condo_check = "checked='checked'";}
		var str="";
		str = str +"<div style=margin-left:15px>";
		str = str +"<br><h1>Upgrade Listing</h1>\n<form name=\"f_site\" id=\"f_site\" method=\"post\" action=\"/controlpanel/upgradefeature\">\n";
		str = str +"<input type=\"hidden\" name=\"id\" id\"id\" value=\""+id+"\"/>\n";
		
  		str = str +"<input type=\"checkbox\" name=\"homepagefeature\" 	id=\"myhomepagefeature\"  	value=\"1\" "+h_check+"/> <label for=\"myhomepagefeature\">Homepage Featured</label><br />";
		str = str +"<input type=\"checkbox\" name=\"searchfeature\" 	id=\"mysearchfeature\"  	value=\"1\" "+s_check+"/> <label for=\"mysearchfeature\">Search Featured</label><br />";
  		str = str +"<input type=\"checkbox\" name=\"mapfeature\" 		id=\"mymapfeature\"  		value=\"1\" "+m_check+"/> <label for=\"mymapfeature\">Map Featured</label><br />";
  		str = str +"<!--<input type=\"checkbox\" name=\"emailfeature\" 		id=\"myemailfeature\"  		value=\"1\" "+e_check+"/> <label for=\"myemailfeature\">Email Spotlight</label><br />-->";
		
  		str = str +"<input type=\"checkbox\" name=\"homefeatured\" 		id=\"homefeatured\"  		value=\"1\" "+home_check+" /> <label for=\"homefeatured\">House Featured</label><br />";
  		str = str +"<input type=\"checkbox\" name=\"condofeatured\" 	id=\"condofeatured\"  		value=\"1\" "+condo_check+" /> <label for=\"condofeatured\">Condo Featured</label><br />";
		
		str = str +"<br><input type=\"hidden\" name=\"myredirect\" id =\"myredirect\" value=\"/controlpanel/products?page=<%=mypage%>\"/>"
		str = str +"<input type=\"submit\" name=\"Submit\" value=\"Submit\" id=\"Submit\" /><a href='#' onclick=\"javascript: document.getElementById('shadow').style.display='none';  document.getElementById('upgrade').style.display='none';\" style=margin-left:10px>Close</a> \n";
		str = str +"</form></div>\n";
		document.getElementById('shadow').style.display="block";
		document.getElementById('upgrade').innerHTML=str;
		document.getElementById('upgrade').style.display="block";
	}
	
	
</script>	



<% if RAILS_ENV =="development"
	ggkey="ABQIAAAAmJz8xm-Ja_ZK1XQwhiJzDBQZkXe_EpvnrmZpXiq6nSo1ISoWFhQ531AAdomVJEComYTNoI683GmTDQ"
elsif RAILS_ENV =="alpha"
	ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxR0Xo7zTDC_U-tJDD8CxNO7k9fpYxRpeu3fima4Ta4vg6ODpI5NgXviMA"
elsif RAILS_ENV =="beta"
	ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxSd5RqMbDNAFH1RgBBdxtpXobdYtxQHOioi6Sst-rpb6lixEE19bYuVOA"
elsif RAILS_ENV =="production"
	ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxTTuA6xppXR1MBY8ubG39QnXYmYuxQj2fBmwYDbHycsFhETWma7qU4GQw"
end%>


			<%
				user = User.find(session[:user_id])
				level = Subscription.find(user.level)		
			%>
			

			



<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<a href="/levels/upgrade"><img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" /></a>
	<h1 style="color:#525252;">Online Listings</h1>
	<p>Manage your listings: Add, Edit, Delete and Upgrade</p>
</div>

<!-- add message count per listing -->
<!-- add search for listing (refid, location, price, bed, bath -->
<!-- add view on map - all listings -->



<div class="cp-body">




<table style="float:right" width="300px" class="table3px">
	<tr>
		<td colspan="4" class="nohover"><strong>Listing Upgrades</strong></td>
	</tr>
	<tr>
		<td bgcolor="#355763" style="color:#fff"><strong>Homepage</strong></td>
		<td bgcolor="#355763" style="color:#fff"><strong>Search</strong></td>
		<td bgcolor="#355763" style="color:#fff"><strong>Map</strong></td>
		<td bgcolor="#355763" style="color:#fff"><strong>House</strong></td>
		<td bgcolor="#355763" style="color:#fff"><strong>Condo</strong></td>
	<!--	<td bgcolor="#355763" style="color:#fff"><strong>Email</strong></td>-->
	</tr>
	<tr>
		<td><%if level.HomepageFeatured.to_i != 0%>
<%
	searchfeatures = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and HomepageFeatured = '1' and Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)")	
	if searchfeatures.length.to_i >=level.HomepageFeatured.to_i
		h_feature = "0"
	else
	h_feature = level.HomepageFeatured.to_i - searchfeatures.length.to_i
	end
%>
	<div id="homepagefeature" style="display:inline;">
		<%=searchfeatures.length%> <small>Used</small> / <%=(level.HomepageFeatured.to_i - searchfeatures.length.to_i)%> <small>Left</small>
	</div>
<%end%></td>
		<td><%if level.SearchFeatured.to_i != 0%>
<%
	searchfeatures = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and SearchFeatured = '1' and Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)")	
	if searchfeatures.length.to_i >=level.SearchFeatured.to_i
		s_feature = "0"
	else
		s_feature = level.SearchFeatured.to_i - searchfeatures.length.to_i
	end
%>
	<div id="searchfeature" style="display:inline;">
		<%=searchfeatures.length%> <small>Used</small> / <%=(level.SearchFeatured.to_i - searchfeatures.length.to_i)%> <small>Left</small>
	</div>
<%end%></td>
		<td>
			<%if level.MapFeatured.to_i != 0%>
			<%
				searchfeatures = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and MapFeatured = '1' and Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)")	
				if searchfeatures.length.to_i >=level.MapFeatured.to_i
					m_feature = "0"
				else
					m_feature = level.MapFeatured.to_i - searchfeatures.length.to_i
				end
			%>
				<div id="mapfeature" style="display:inline;">
					<%=searchfeatures.length%> <small>Used</small> / <%=(level.MapFeatured.to_i - searchfeatures.length.to_i)%> <small>Left</small>
				</div>
			<%end%>
		</td>


		<td>
			<%if level.HomeFeatured.to_i != 0%>
			<%
				homefeatures = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and homefeatured = '1' and Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)")	
				if homefeatures.length.to_i >=level.HomeFeatured.to_i
					home_feature = "0"
				else
					home_feature = level.HomeFeatured.to_i - homefeatures.length.to_i
				end
			%>
				<div id="mapfeature" style="display:inline;">
					<%=homefeatures.length%> <small>Used</small> / <%=(level.HomeFeatured.to_i - homefeatures.length.to_i)%> <small>Left</small>
				</div>
			<%end%>
		</td>

		<td>
			<%if level.CondoFeatured.to_i != 0%>
			<%
				condofeatures = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and condofeatured = '1' and Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)")	
				if condofeatures.length.to_i >=level.CondoFeatured.to_i
					condo_feature = "0"
				else
					condo_feature = level.CondoFeatured.to_i - condofeatures.length.to_i
				end
			%>
				<div id="mapfeature" style="display:inline;">
					<%=condofeatures.length%> <small>Used</small> / <%=(condo_feature)%> <small>Left</small>
				</div>
			<%end%>
		</td>



<!--		<td><%if level.EmailFeatured.to_i != 0%>
<%
	searchfeatures = Product.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and EmailFeatured = '1' and Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)")	
	if searchfeatures.length.to_i >=level.EmailFeatured.to_i
		e_feature = "0"
	else
	e_feature = level.EmailFeatured.to_i - searchfeatures.length.to_i
	end
%>
	<div id="emailfeature" style="display:inline;">
		<%=searchfeatures.length%> <small>Used</small> / <%=(level.EmailFeatured.to_i - searchfeatures.length.to_i)%> <small>Used</small>
	</div>
<%end%></td>-->
	</tr>
</table>







<div id="notice" style="color:red;">
	<%=flash[:notice]%>
</div>
<p><a href="/controlpanel/addlistings/"><strong>Add New Listing</strong></a> - <a href="/controlpanel/business">Add a Logo & Phone number to your listings</a> - You are currently on the <strong><%=level.Name%></strong> <a href="/levels/upgrade">subscription</a></p>


<!-- Search -->

<%
iebrowser = "0"
if request.env['HTTP_USER_AGENT'].downcase["msie"]
	iebrowser = "1"
end
%>

<!--============ Search Listings  ====================-->
<h3>Search for a listing</h3>


<form id='search_form' method="post" enctype="multipart/form-data"  action="/controlpanel/products" class="table2px" >
<table>
		<tr>
			<td>Listing: </td>
			<td><select name="search[salerent]" id="search_salerent">
			  <option value="2" <%if @salerent.to_s == "2"%> selected="selected" <%end%> >For Sale or Rent</option>
			  <option value="1" <%if @salerent.to_s == "1"%> selected="selected" <%end%> >For Sale</option>
			  <option value="0" <%if @salerent.to_s == "0"%> selected="selected" <%end%> >For Rent</option>
			  </select></td>
			<td>Type: </td>
			<td><select name="search[Type]" id="search_Type">
			  <option value="" >Any</option>
			  <%
						listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc ")
						for ltype in listingtypes
						%>
			  <option value="<%=ltype.Value%>" <%if @type.to_s == ltype.Value.to_s%> selected="selected" <%end%> ><%=ltype.Name%></option>
			  <%end	%>
		    </select></td>
		</tr>
<!--	<tr>
		<td>ID</td>
		<td><%=text_field :search ,:id ,:value=>@id,:size=>"15"%></td>
	</tr> -->
	<tr>
		<td>RefNo:</td>
		<td><%=text_field :search ,:ref ,:value=>@ref,:size=>"15"%></td>
		<td>Bath:</td>
		<td><select name="search[Bath]" id="search_Bath">
		  <option value="" >Any</option>
		  <option value="1" <%if @bath.to_s =="1"%> selected="selected" <%end%>>1</option>
		  <option value="2" <%if @bath.to_s =="2"%> selected="selected" <%end%>>2</option>
		  <option value="3" <%if @bath.to_s =="3"%> selected="selected" <%end%>>3</option>
		  <option value="4" <%if @bath.to_s =="4"%> selected="selected" <%end%>>4</option>
		  <option value="5" <%if @bath.to_s =="5"%> selected="selected" <%end%>>5+</option>
		  </select></td>
	</tr>
<!--	<tr>
		<td>Location</td>
		<td>
		
			<select name="search[location]" id="search_location"  >	
					<option value="" >Any</option>
			<option value="Pattaya" >Pattaya</option>
			<%
				provinces = Province.find(:all,:order=>"name asc ")
				for p in provinces
			%>	
				<option value="<%=p.name%>" <%if @location.to_s == p.name.to_s%> selected="selected" <%end%> ><%=p.name%></option>
			<%	end	%>
			</select>
		</td>
	</tr>-->			
		<tr>
			<td><span id="saleprice" stylel="display:block;">Sale Price: </span></td>
			<td><span id="saleprice1" stylel="display:block;">
			  <input type="text" name="tempprice1" id="tempprice1"   value="<%=@price%>"	onkeyup="this.value=formatCurrency(this.value,'search_Price');" style="width:100px;" />
			  <input type="hidden" name="search[Price]" id="search_Price" value="<%=@price%>"  />
			  </span> <span id="saleprice2" stylel="display:block;">
			    <input type="text" name="tempprice2" id="tempprice2"   value="<%=@price2%>"	onkeyup="this.value=formatCurrency(this.value,'search_Price2');" style="width:100px;" />
			    <input type="hidden" name="search[Price2]" id="search_Price2" value="<%=@price2%>"  />
			    </span></td>
			<td>Bed:</td>
			<td><select name="search[Bed]" id="search_Bed">
			  <option value="" >Any</option>
			  <option value="0" <%if @bed.to_s =="0"%> selected="selected" <%end%>>Studio</option>
			  <option value="1" <%if @bed.to_s =="1"%> selected="selected" <%end%>>1</option>
			  <option value="2" <%if @bed.to_s =="2"%> selected="selected" <%end%>>2</option>
			  <option value="3" <%if @bed.to_s =="3"%> selected="selected" <%end%>>3</option>
			  <option value="4" <%if @bed.to_s =="4"%> selected="selected" <%end%>>4</option>
			  <option value="5" <%if @bed.to_s =="5"%> selected="selected" <%end%>>5</option>
			  <option value="6" <%if @bed.to_s =="6"%> selected="selected" <%end%>>6+</option>
			  </select></td>
		</tr>
		
		
		
	<tr>
	  <td><span id="rsaleprice" stylel="display:block;">Rent Price: </span></td>
	  <td style="padding-right:20px"><span id="rsaleprice1" stylel="display:block;">
	    <input type="text" name="rtempprice1" id="rtempprice1"   value="<%=@rprice%>"	onkeyup="this.value=formatCurrency(this.value,'search_RPrice');" style="width:100px;" />
	    <input type="hidden" name="search[RPrice]" id="search_RPrice" value="<%=@rprice%>"  />
	    </span> <span id="rsaleprice2" stylel="display:block;">
	      <input type="text" name="rtempprice2" id="rtempprice2"   value="<%=@rprice2%>"	onkeyup="this.value=formatCurrency(this.value,'search_RPrice2');" style="width:100px;" />
	      <input type="hidden" name="search[RPrice2]" id="search_RPrice2" value="<%=@rprice2%>"  />
	      </span></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" value="Search"/></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
<!--	<tr>
		<td>SQM</td>
		<td><%=text_field :search ,:SQM ,:value=>@sqm,:size=>"10",:onkeyup=>"checknumber('search_SQM')"%></td>
	</tr>-->
	<!--
	<tr>
		<td>Listing Date:</td>
		<td>
			<%
			sdate = ""
			fdate = ""
			if @sdate !="" and @sdate != nil
				sdate = @sdate.strftime("%Y-%m-%d")
			end
			if @fdate !="" and @fdate != nil
				fdate = @fdate.strftime("%Y-%m-%d")
			end
			%>
			<input type="text" name="search[created]" id="search_created" 	value="<%=sdate%>" onclick="return showCalendar('search_created', '%Y-%m-%d');" size="15"><img src="/icon-calendar.gif" onclick="return showCalendar('search_created', '%Y-%m-%d');"/>
			-
			<input type="text" name="search[created2]" id="search_created2" value="<%=fdate%>" onclick="return showCalendar('search_created2', '%Y-%m-%d');" size="15"><img src="/icon-calendar.gif" onclick="return showCalendar('search_created2', '%Y-%m-%d');"/>
		</td>
	</tr>
	-->

</table>
</form>







<br>
<table class="table3px" width="100%">
	<tr>
		<td><strong>ID</strong></td>
		<td><strong>RefNo</strong></td>
		<td><strong>Location</strong></td>
		<td><strong>Type</strong></td>
		<td><strong>Edit Listing</strong></td>
		<td><strong>Price</strong></td>
		<td><strong>RPrice</strong></td>
		<td><strong>For</strong></td>
		<td><strong>Bed</strong></td>
		<td><strong>Bath</strong></td>
		<td><strong>SQM</strong></td>
		<td><strong>Views</strong></td>
		<td><strong>List Date</strong></td>
		<td><strong>View Map</strong></td>
		<td><strong>Edit Map</strong></td>
		<td><strong>Status</strong></td>
		<td><strong>List / Map Link</strong></td>
		<td><strong>Upgrade</strong></td>
		<td><strong>Magazine</strong></td>
		<!--<td><strong>Virtual</strong></td>-->
	</tr>
	
	<%for listing in @listing %>
	<%
     #get listing type
        listingtype =" "
		seo_listingtype=""
        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
					seo_listingtype = "#{lt.Name}-"
				while seo_listingtype[" "]
					seo_listingtype[" "]="-"
				end
				while seo_listingtype["/"]				
					seo_listingtype["/"] =""
				end

              break
            end
          end
        end
		city = ""
		if listing.City.to_s !="" and listing.City.to_s !="0" and listing.City != nil
			city ="#{listing.City}-"
		end
		
		salerent = ""
		if listing.salerent.to_s =="1"
			salerent = "Sale-"
		elsif listing.salerent.to_s =="2"
			salerent = "Sale or Rent-"
		elsif listing.salerent.to_s =="0"			
			salerent = "Rent-"
		end
%>


	<tr>
		<td><%=listing.id%></td>
		<td><%if listing.Ref.to_s !=""%><%=listing.Ref%> <%else%><%end%></td>
		<td><%if listing.City =="0"%>Pattaya<%else%><%=listing.City%><%end%></td>
		<td><%if listing.Type =="1"%>Condo / Apartment<%elsif listing.Type =="2"%>House<%elsif listing.Type =="3"%>Townhouse<%elsif listing.Type =="4"%>Shophouse<%elsif listing.Type =="5"%>Land<%end%></td>
		<!--
		<td><a href="/products/editproduct/<%=listing.id%>?keepThis=true&TB_iframe=true&width=590&height=405" class="thickbox">Edit Listing</a></td>
		-->
		
		<td>
			<%if iebrowser == "1"%>
				<a href="#" onclick="javascript:document.getElementById('edit').innerHTML='&#60;IFRAME  src=/controlpanel/fulledit/<%=listing.id%> width=590 height=415 frameborder=0 scrolling=auto&#62;&#60;/IFRAME&#62;'; document.getElementById('shadow').style.display='block'; document.getElementById('edit').style.display='block'; ">Edit Listing</a>
			<%else%>
				<a href="/controlpanel/fulledit/<%=listing.id%>?keepThis=true&TB_iframe=true&width=590&height=405" class="thickbox">Edit Listing</a>
			<%end%>	
		</td>
		
		<td>	
				<%=number_to_currency(listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
		</td>
		
		<td>
				<%=number_to_currency(listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
		</td>
		<td><%if listing.salerent =="0"%>Rent<%elsif listing.salerent =="1"%>Sale<%elsif listing.salerent =="2"%>Rent / Sale<%end%></td>
		<td><%if listing.Bed =="0"%>Studio<%else%><%=listing.Bed%><%end%></td>
		<td><%=listing.Bath%></td>
		<td><%=listing.SQM%></td>
		<td><%=listing.counter%></td>
		<td><%if listing.created_on !=nil%><%=listing.created_on.strftime('%d-%m-%Y').to_date%><%end%></td>
		<td>
			
			<%if iebrowser == "1"%>
				<a href="#" onclick="javascript:document.getElementById('edit').innerHTML='&#60;IFRAME  src=http://maps.google.com/maps/api/staticmap?center=<%=listing.lat%>,<%=listing.lng%>&zoom=13&size=600x400&sensor=false&markers=size:mid|color:red|<%=listing.lat%>,<%=listing.lng%>&key=<%=ggkey%>&maptype=hybrid width=640 height=440 frameborder=0 scrolling=none&#62;&#60;/IFRAME&#62;'; document.getElementById('shadow').style.display='block'; document.getElementById('edit').style.display='block'; ">View Map</a>
			<%else%>
				<a href="http://maps.google.com/maps/api/staticmap?center=<%=listing.lat%>,<%=listing.lng%>&zoom=13&size=600x400&sensor=false&markers=size:mid|color:red|<%=listing.lat%>,<%=listing.lng%>&key=<%=ggkey%>&maptype=hybrid&?keepThis=true&TB_iframe=true&width=590&height=405" class="thickbox">View Map</a>
			<%end%>	
		</td>
		<td><%if iebrowser == "1"%>
				<a href="#" onclick="javascript:document.getElementById('edit').innerHTML='&#60;IFRAME  src=/controlpanel/editmap/<%=listing.id%> width=590 height=448 frameborder=0 scrolling=auto&#62;&#60;/IFRAME&#62;'; document.getElementById('shadow').style.display='block'; document.getElementById('edit').style.display='block'; ">Edit Map</a>
			<%else%>
			<a href="/controlpanel/editmap/<%=listing.id%>?keepThis=true&TB_iframe=true&width=490&height=455" class="thickbox">Edit Map</a>
			<%end%>	
		</td>
		<td>
				
				<%if listing.Deleted == 'p' %> <!-- if listing not pay -->
					<%= link_to 'Offline', {:action=>'up2online',:id=>listing.id,:myredirect=>"/controlpanel/products?page=#{mypage}"}, :confirm => 'Are you sure to Online again?', :method => :post,:style=>"color:#D50000;" %>
				<%else%>	
					<%if listing.Status == 'f'%><!-- if listing offline -->																
						<%= link_to 'Offline', {:action=>'up2online',:id=>listing.id,:myredirect=>"/controlpanel/products?page=#{mypage}"}, :confirm => 'Are you sure to Online again?', :method => :post,:style=>"color:#D50000;" %>
					<%else%><!-- if listing online -->
						<a href="#" style="color:#008000;" onclick="delist(' <%=listing.id%>');">Online</a>
						<small style="color:red;">
							<%if listing.SearchFeatured.to_s == "1" or listing.MapFeatured.to_s == "1" or listing.HomepageFeatured.to_s == "1" or listing.EmailFeatured.to_s == "1" or listing.homefeatured.to_s == "1" or listing.condofeatured.to_s == "1"%>
							+
								<%if listing.HomepageFeatured.to_s == "1"%>H<%end%>
								<%if listing.SearchFeatured.to_s == "1"%>S<%end%>
								<%if listing.MapFeatured.to_s == "1"%>M<%end%>
								<%if listing.EmailFeatured.to_s == "1"%>E<%end%>
								<%if listing.homefeatured.to_s == "1"%>Ho<%end%>
								<%if listing.condofeatured.to_s == "1"%>Co<%end%>
							<%end%>
							
						</small>
					<%end%>
																			
				<%end%>
		</td>
		<td>
<%

				if listing.salerent.to_s =="0"
					search_link="#{city}#{seo_listingtype}#{salerent}#{listing.RPrice}-#{listing.id}"
				else
					search_link="#{city}#{seo_listingtype}#{salerent}#{listing.RPrice}-#{listing.id}"
				end
				begin
					if listing.titlelink.to_s !=""
						search_link = "#{listing.titlelink}-#{listing.id}"
					end
				rescue
				end
%>
			<a href="/rethai/<%=search_link%>">List Link</a> - 
			<a href="/listings/maps?h=<%=search_link%>">Map Link</a>
		</td>
		<td>
			<%if listing.Status != 'f' and listing.Deleted != 'p'%>
				<a href="#" style="color:#008000;" onclick="upgrade('<%=listing.id%>','<%=listing.SearchFeatured%>','<%=listing.MapFeatured%>','<%=listing.HomepageFeatured%>','<%=listing.EmailFeatured%>','<%=listing.homefeatured%>','<%=listing.condofeatured%>');">Upgrade</a>
			<%end%>
		</td>
		
		<td>
			<%if listing.Status != 'f' and listing.Deleted != 'p' %>
						<%if (listing.magazine.to_s == "0" or listing.magazine == nil) %>
							<a href="/controlpanel/add2magazine/<%=listing.id%>" style="color:#008000;">Add-2-Magazine</a>
						<%elsif listing.magazinedate !=nil%>
								<%if listing.magazinedate <= DateTime.now%>
									<a href="/controlpanel/add2magazine/<%=listing.id%>" style="color:#008000;">Add-2-Magazine</a>
								<%elsif listing.magazine.to_s == "p"%>	
									<span style="color:red;">Pending</span>
								<%elsif listing.magazine.to_s == "1"%>	
									<span style="color:#008000;">Paid</span>
								<%else%>
										-
								<%end%>
						<%else%>
							<a href="/controlpanel/add2magazine/<%=listing.id%>" style="color:#008000;">Add-2-Magazine</a>
						<%end%>
			<%end%></td>
			<td>
							<a href="/controlpanel/addvirtual/<%=listing.id%>" style="color:#008000;">Add Virtual Tour</a>
							<%if listing.Virtual.to_s =='1' or  listing.Virtual.to_s =='2'%><small style="color:red;">ready virtual</small><%end%>
		</td>
		
	</tr>
	<%end%>
	
</table>



	<%= will_paginate @listing,:params=>{:search=>params[:search]}%>

						
						<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none';  document.getElementById('delist').style.display='none';   document.getElementById('upgrade').style.display='none';document.getElementById('edit').style.display='none';" ></div>
						<div id="edit" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;background-color: #FFFFFF;" align='center' ></div>
						<div id="delist" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;background-color: #FFFFFF; width:250px; height:200px;"></div>
						<div id="upgrade" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;background-color: #FFFFFF; width:250px; height:200px;"></div>






</div>


