subscript paypal payment
<table class="creditbillingtable">
	<tr>
		<th>ID</th>
		<th>Date</th>
		<th>Subtotal</th>

		<th>Discount</th>
		<th>Total</th>
		<th>Invoice</th>

	</tr>
	
	
	
	<%for subscript in @subscript%>
	<tr>
		<td><%= subscript.TXN_ID%></td>
		<td><%=subscript.created_on%></td>
		<td><%=subscript.Price%></td>
		
		<td>0.00</td>
		<td><%=subscript.Price%></td>
		<td><%=subscript.TXN_ID%></td>
	</tr>
	<%end%>
	
	
	
</table>