	<%= javascript_include_tag :defaults %> 
   
   <script src="/javascripts/kendio.js" type="text/javascript"></script>
   <link href="/stylesheets/style.css?1232449562" media="screen" rel="stylesheet" type="text/css" />
   <script src="/javascripts/managemessage.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
   
   
 
	<script type="text/javascript" src="accordian-src.js"></script>
   <style type="text/css">
* {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin:10px;
}

#basic-accordian{
	border:5px solid #EEE;
	padding:5px;
	width:450px;
	/*position:absolute;
	left:50%;
	top:50%;
	margin-left:-175px;
	z-index:2;
	margin-top:-100px;*/
}

.accordion_headings{
	padding:5px;
	background:#99CC00;
	color:#FFFFFF;
	border:1px solid #FFF;
	cursor:pointer;
	font-weight:bold;
}

.accordion_headings:hover{
	background:#00CCFF;
}

.accordion_child{
	padding:15px;
	background:#EEE;
}

.header_highlight{
	background:#00CCFF;
}

</style>


   


<div style="width:910px; height:40px">
	<div style="width:322px;float:left;display:block;">View & Reply Message<!--<img src="/images/controlpanel/images/header-messages.png" width="322" height="36" />--></div> 
</div>
<div class="clear"></div>




<div style="width:910px; height:310px">
<div style="width:270px;float:left;">
<div id="basic-accordian"><!--Parent of the Accordion-->

					<%count = 1%>
					<%for message in @messages%>
						<div id="history<%=count%>-header" class="accordion_headings" ><%=message.Name%><span style="dolor:#EEF7D2;"><%=message.created_on.strftime("%d/%m/%Y")%></span></div>
						<%count = count + 1%>
					<%end%>
					
					<%count = 1%>
					<%for message in @messages%>
						<div id="history<%=count%>-content">
							<div class="accordion_child">
						    	<textarea name="textfield" cols="50" rows="5" readonly="readonly" id="textfield"><%=message.Message%></textarea>
						    </div>
						  </div>
						<%count = count + 1%>
					<%end%>
					





</div><!--End of accordion parent-->
	<!--Reply form-->
	<div>	
	<h4 style="margin-bottom:10px;">Ask a Question</h4>
	<div id="show"></div>

<%= form_remote_tag(:update => "show",
					:loading =>"show_1_element('indicator_form')",								
					:complete =>"javascript: document.getElementById('mail_Message').value = '';document.getElementById('indicator_form').style.display='none';",
					:url => { :controller=>'controlpanel',:action => :replymessage }
					) %>
					Message:<br>
			<%= text_area 'mail', 'Message'  ,:rows=>'5', :size=>'30' %>
			
			
					
<%= hidden_field 'mail', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %>
<%= hidden_field 'mail', 'Email' ,:value=>"#{@user.Email}"%>
<%= hidden_field 'mail', 'Address' ,:value=>"" %>
<%= hidden_field 'mail', 'Suburb' ,:value=>"#{@user.Suburb}"%>
<%= hidden_field 'mail', 'MobilePhone' ,:value=>"#{@user.Phone}" %>


<%= hidden_field_tag :id  ,@product.id%>
<%= hidden_field 'mail', 'id_user',:value=>session[:user_id]%>
<%= hidden_field 'mail', 'id_product',:value=>@product.id%>
<%= hidden_field 'mail', 'id_agent',:value=>@product.id_user%>
<%= hidden_field 'mail', 'customer',:value=>@imail.customer%>
<%= hidden_field 'mail', 'master',:value=>@imail.id%>

<%if session[:user_id]%>
<div class="buttons"> 
	<button name="commit" type="submit" onclick="return checkremessageform()" class="positive" ><img src="/images/icons/tick.png" alt=""/>
		Ask seller a question
	</button>
	<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
</div> 
<div style="clear:both;">
</div>
<%else%>
	<span style="color:green;">Please Login</span>
<%end%>

</form>
</div>
</div>

	<div style="width:270px;float:left; display:none;">
					<!--product Details -->
					<div id="image">
								<%images = Images.find(:all,:conditions=>"id_product = '#{@product.id}'")%>
								<%if images.length < 1%>
								<span style="color:red">Don't have Images.</span>
								<%else%><%# ========================================== else if iamges.length ========================================== %>
									<%for image in images%>
										<%
											strtype = image.photo_file_name
			                          		strtype = strtype.slice(strtype.index(".").to_i + 1,strtype.length)
										%>
										<img src="/listingdata/photos/<%=image.id%>/thumb.<%=strtype%>" width="50" heigth="50" onclick="showquickpic('<%=image.id_product%>');"/>
									<%end%>
								<%end%><%# ========================================== end if images.length   ========================================== %>
								
					</div>
					<div id="price">
						<%
								  						strprice = @product.Price
			                                              if strprice.to_f >= 1000
			                                                #strprice = sprintf("%.2f",strprice)
			                                                strprice = strprice.to_s.reverse
			                                                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                                                strprice = strprice.gsub(/,$/,"").reverse
			                                              #else
			                                               # strprice = sprintf("%.2f",strprice)
			                                             end
								%>
								$<%=strprice%>  
								<%=@product.Bed%> Bedroom
								<%=@product.Bath%> Bathroom
					</div>	
					<div id="parking">
						<p>Parking:<%if @product.Parking !="" and @product.Parking != '0' and @product.Parking != nil%>
									<%parking = Option.find(@product.Parking)%>
									<%=parking.Name%>
								<%else%>
									--
								<%end%>
						</p>		
					</div>	
					<div id="detail">
						Detail:
						<textarea name="textarea" cols="70" rows="10" readonly="readonly" id="textarea"><%=@product.Detail%></textarea>
					</div>	
			
			
	</div>
	
	


	<!--=====================================================================================================================================-->
	
	
	
	
	
	
	
	
	
					<!-- GOOGLE MAP -->
				<div style="float:left;display:block;">
					
						<!-- GOOGLE MAP AND SIDEBAR -->
			           <div id="map" style="position: absolute;margin-left: 250px;width:400px;height:450px;z-index:1;"></div>    
			           <div id="side_bar" style="display:none;"></div>
					   <div id="sidebar" style="display:none;"></div>
						<!-- // GOOGLE MAP AND SIDEBAR -->	 
								
						<!-- MIDDLE SHADOW -->
						<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('quickpic').style.display='none';" >
					
						</div>
						<div id="quickpic" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;"></div>
						<!-- // MIDDLE SHADOW -->
				</div>
</div>
















