	<%= javascript_include_tag :defaults %> 
   
   <script src="/javascripts/kendio.js" type="text/javascript"></script>
   <link href="/stylesheets/style.css?1232449562" media="screen" rel="stylesheet" type="text/css" />
   <script src="/javascripts/managemessage.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
   
   <link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/skins/aqua/theme.css" title="Aqua" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-blue.css" title="winter" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-blue2.css" title="blue" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-brown.css" title="summer" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-green.css" title="green" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-1.css" title="win2k-1" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-2.css" title="win2k-2" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-2.css" title="win2k-cold-2" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-system.css" title="system" />

<!-- import the calendar script -->
<script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar.js"></script>

<!-- import the language module -->
<script type="text/javascript" src="/javascripts/jscalendar-1.0/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/popupcalendar.js"></script>


   


<div style="width:910px; height:40px">
	<div style="width:322px;float:left;display:block;">View & Reply Message<!--<img src="/images/controlpanel/images/header-messages.png" width="322" height="36" />--></div> 
</div>
<div class="clear"></div>




<div style="width:910px; height:310px">
	<div style="width:270px;float:left;">
					<!--product Details -->
					<div id="image">
								<%images = Images.find(:all,:conditions=>"id_product = '#{@product.id}'")%>
								<%if images.length < 1%>
								<span style="color:red">Don't have Images.</span>
								<%else%><%# ========================================== else if iamges.length ========================================== %>
									<%for image in images%>
										<%
											strtype = image.photo_file_name
			                          		strtype = strtype.slice(strtype.index(".").to_i + 1,strtype.length)
										%>
										<img src="https://s3.amazonaws.com/hea/photos/<%=image.id%>/thumb.<%=strtype%>" width="50" heigth="50" onclick="showquickpic('<%=image.id_product%>');"/>
									<%end%>
								<%end%><%# ========================================== end if images.length   ========================================== %>
								
					</div>
					<div id="price">
						<%
								  						strprice = @product.Price
			                                              if strprice.to_f >= 1000
			                                                #strprice = sprintf("%.2f",strprice)
			                                                strprice = strprice.to_s.reverse
			                                                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                                                strprice = strprice.gsub(/,$/,"").reverse
			                                              #else
			                                               # strprice = sprintf("%.2f",strprice)
			                                             end
								%>
								$<%=strprice%>  
								<%=@product.Bed%> Bedroom
								<%=@product.Bath%> Bathroom
					</div>	
					<div id="parking">
						<p>Parking:<%if @product.Parking !="" and @product.Parking != '0' and @product.Parking != nil%>
									<%parking = Option.find(@product.Parking)%>
									<%=parking.Name%>
								<%else%>
									--
								<%end%>
						</p>		
					</div>	
					<div id="detail">
						Detail:
						<textarea name="textarea" cols="50" rows="10" readonly="readonly" id="textarea"><%=@product.Detail%></textarea>
					</div>	
			
	</div>
	
	<!--=====================================================================================================================================-->
	
	
	
	
	
	
	
	
	
					<!-- GOOGLE MAP -->
				<div style="float:left;display:block;">
					
						<!-- GOOGLE MAP AND SIDEBAR -->
			           <div id="map" style="position: absolute;margin-left: 250px;width:400px;height:300px;z-index:1;"></div>    
			           <div id="side_bar" style="display:none;"></div>
					   <div id="sidebar" style="display:none;"></div>
						<!-- // GOOGLE MAP AND SIDEBAR -->	 
								
						<!-- MIDDLE SHADOW -->
						<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('quickpic').style.display='none';" >
					
						</div>
						<div id="quickpic" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;"></div>
						<!-- // MIDDLE SHADOW -->
				</div>
</div>





<div style="position: absolute;margin-left: 530px;width:400px;">
	<!-- History messages-->
	<a href="#" onclick="Element.toggle('history'); return false;">View Message history.</a>
	<div id="history" style="display:none;">
		<%for message in @messages%>
			<p>
				<%=message.Message%><br>
				<span style="color:#CCCCCC;"><%=message.Name%></span>
			</p>
		<%end%>
	</div><!--end inner history-->	
</div><!--end history-->


<div>
	<!--Reply form-->
	<h4 style="margin-bottom:10px;">Ask a Question</h4>
<div id="show"></div>

<%= form_remote_tag(:update => "show",
					:loading =>"show_1_element('indicator_form')",								
					:complete =>"javascript: document.getElementById('mail_Message').value = '';document.getElementById('indicator_form').style.display='none';",
					:url => { :controller=>'controlpanel',:action => :replymessage }
					) %>
					
<table>
	<tr>
		<td>Name:</td>
		<td><%= text_field 'mail', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><%= text_field 'mail', 'Email' ,:value=>"#{@user.Email}"%></td>
	</tr>
	<%= hidden_field 'mail', 'Address' ,:value=>"" %>
	<%= hidden_field 'mail', 'Suburb' ,:value=>"#{@user.Suburb}"%>

	<tr>
		<td>Phone:</td>
		<td><%= text_field 'mail', 'MobilePhone' ,:value=>"#{@user.Phone}" %></td>
	</tr>
	
	<tr>
		<td colspan=2>
			Message:<br>
			<%= text_area 'mail', 'Message'  ,:rows=>'5', :size=>'30' %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			Request a viewing (optional)<br /> 
			<label style="padding-right:10px;">DATE:</label><input type="text" name="mail[ViewDate]" id="mail_ViewDate" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');" style="width:80px" /><img src="/icon-calendar.gif" style="padding-left:10px;" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');"/>
			
			<!-- the calendar will be inserted here -->
			            <span id="display" style="float: right; clear: both;"></span>
			            <span id="preview" style="font-size: 80%; text-align: center; padding: 2px">&nbsp;</span>
			<br>
		</td>
	</tr>
</table>



<%= hidden_field_tag :id  ,@product.id%>
<%= hidden_field 'mail', 'id_user',:value=>session[:user_id]%>
<%= hidden_field 'mail', 'id_product',:value=>@product.id%>
<%= hidden_field 'mail', 'id_agent',:value=>@product.id_user%>
<%= hidden_field 'mail', 'customer',:value=>@customer%>


<div class="buttons"> 
	<button name="commit" type="submit" onclick="return checkremessageform()" class="positive" />
		<img src="/images/icons/tick.png" alt=""/>
		Ask seller a question
	</button>
	<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
</div> 
<div style="clear:both;"></div>


</form>
</div>








