<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Real Estate Thailand</title>
	<%= javascript_include_tag :defaults %> 
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
    <!-- ============== create a style for the tooltip ============ -->
    <style type="text/css">
      .tooltip {
        background-color:#ffffff;
        font-weight:bold;
        border:2px #006699 solid;
      }
    </style>
 <script type="text/javascript">
function load2(){
	if (GBrowserIsCompatible()) {
		var side_bar_html = "";
		var gmarkers = [];
		var htmls = [];
		var i = 0;
		
		
		// A function to create the marker and set up the event window
		function createMarker(point, name, html){
			var marker = new GMarker(point);
			// === store the name so that the tooltip function can use it ===
			marker.tooltip = '<div class="tooltip">' + name + '<\/div>';
			GEvent.addListener(marker, "click", function(){
				marker.openInfoWindowHtml(html);
			});
			gmarkers[i] = marker;
			htmls[i] = html;
			side_bar_html += '<a href="javascript:myclick(' + i + ')" onmouseover="mymouseover(' + i + ')" onmouseout="mymouseout()">' + name + '<\/a><br>';
			i++;
			map.addOverlay(marker);
			
			//  ======  The new marker "mouseover" and "mouseout" listeners  ======
			GEvent.addListener(marker, "mouseover", function(){
				showTooltip(marker);
			});
			GEvent.addListener(marker, "mouseout", function(){
				tooltip.style.visibility = "hidden"
			});
		}
		
		// ====== This function displays the tooltip ======
		// it can be called from an icon mousover or a side_bar mouseover
		function showTooltip(marker){
			tooltip.innerHTML = marker.tooltip;
			var point = map.getCurrentMapType().getProjection().fromLatLngToPixel(map.getBounds().getSouthWest(), map.getZoom());
			var offset = map.getCurrentMapType().getProjection().fromLatLngToPixel(marker.getPoint(), map.getZoom());
			var anchor = marker.getIcon().iconAnchor;
			var width = marker.getIcon().iconSize.width;
			var pos = new GControlPosition(G_ANCHOR_BOTTOM_LEFT, new GSize(offset.x - point.x - anchor.x + width, -offset.y + point.y + anchor.y));
			pos.apply(tooltip);
			tooltip.style.visibility = "visible";
		}
		
		// ===== This function is invoked when the mouse goes over an entry in the side_bar =====
		// It launches the tooltip on the icon      
		function mymouseover(i){
			showTooltip(gmarkers[i])
		}
		// ===== This function is invoked when the mouse leaves an entry in the side_bar =====
		// It hides the tooltip      
		function mymouseout(){
			tooltip.style.visibility = "hidden";
		}
		
		// This function picks up the side_bar click and opens the corresponding info window
		function myclick(i){
			gmarkers[i].openInfoWindowHtml(htmls[i]);
		}
		
		
		// create the map
		var map = new GMap2(document.getElementById("map"));
		map.setCenter(new GLatLng(12.9357, 100.889), 14);
		map.addControl(new GOverviewMapControl());
		map.enableDoubleClickZoom();
		map.setMapType(G_HYBRID_MAP);
		map.addControl(new GMapTypeControl());
		map.addControl(new GLargeMapControl());
		geocoder = new GClientGeocoder();
		
		// ====== set up marker mouseover tooltip div ======
		var tooltip = document.createElement("div");
		document.getElementById("map").appendChild(tooltip);
		tooltip.style.visibility = "hidden";
		
		
		// Read the data from example.xml
		var request = GXmlHttp.create();
		request.open("GET", "/xml/offer/index.xml", true);
		request.onreadystatechange = function(){
			if (request.readyState == 4) {
				var xmlDoc = GXml.parse(request.responseText);
				// obtain the array of markers and loop through it
				var markers = xmlDoc.documentElement.getElementsByTagName("marker");
				
				for (var i = 0; i < markers.length; i++) {
					// obtain the attribues of each marker
					var lat = parseFloat(markers[i].getAttribute("lat"));
					var lng = parseFloat(markers[i].getAttribute("lng"));
					var point = new GLatLng(lat, lng);
					var html = markers[i].getAttribute("html");
					var label = markers[i].getAttribute("label");
					// create the marker
					var marker = createMarker(point, label, html);
				}
				// put the assembled side_bar_html contents into the side_bar div
				document.getElementById("side_bar").innerHTML = side_bar_html;
			}
		}
		request.send(null);
	}
	
	else {
		alert("Sorry, the Google Maps API is not compatible with this browser");
	}
	
	// This Javascript is based on code provided by the
	// Blackpool Community Church Javascript Team
	// http://www.commchurch.freeserve.co.uk/   
	// http://econym.googlepages.com/index.htm

	//]]>
}
    </script>
  </head>
  
  <body  onload="load2();" onunload="GUnload();">
	<!-- HEADER NAVIGATION -->
	<div id="command" style="position:absolute;	left:80px;	top:0%;	width:750px;	height:35px;	z-index:50;">
		
		<img src="/images/navigation/header_01.png" onclick="javascript:if (document.getElementById('quickeventmodal').style.display=='none'){document.getElementById('shadow').style.display='inline';document.getElementById('quickeventmodal').style.display='inline';}else{document.getElementById('shadow').style.display='none';document.getElementById('quickeventmodal').style.display='none';}" ><!--
		--><a href="#" onclick="changeform('search');"><img src="/images/navigation/header_02.png" /></a><!--
		
		--><%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%><!--
		--><a href="#" onclick="load3('0');"><img src="/images/navigation/header_03.png" /></a><!--
		--><a href="#" onclick="changeform('account');"><img src="/images/navigation/header_07.png" /></a><!--
		--><a href="#" onclick="changeform('changepassword');">Change Password</a><!--
		--><!--<a href="#" onclick="gfav();"> my favorites</a>-->
		<%= link_to_remote "   my favorites",
				  :complete =>"gfav('/xml/#{session[:user_id]}.xml')",
                  :url => { :controller => "products",
                  :action => "gfavorite" }%>
		
                  <!--:loading =>"showfavorite()",-->
		
		<!--
		--><%end%><!--
		
	--><%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%><!--
		--><a href="/login/logout" ><img src="/images/navigation/header_11.png" /></a><!--
	--><%else%><!--
		--><a href="#" onclick="changeform('preregister');"><img src="/images/navigation/header_03.png" /></a><!--
		--><a href="#" onclick="changeform('register');"><img src="/images/navigation/header_04.png" /></a><!--
		--><a href="#" onclick="changeform('login');"><img src="/images/navigation/header_05.png" /></a><!--
	--><%end%><!--
		
		
		--><img src="/images/navigation/header_06.png" />
		
		
		
		
	</div>
	<!-- // HEADER NAVIGATION -->
	
	
	<!--google map and sidebar-->

           <div id="map" style="position:absolute;	left:0%;top:0%;	width:100%;	height:100%;	z-index:1;	background-color: #999999;"></div>    
           <div id="side_bar" style="display:none;"></div>
	<!--///google map and sidebar-->	 
	
	
	
	
	
	  
   
    <a href="tooltips2.htm">Back to the tutorial page</a>





   
  </body>

</html>




