<table width="980" border="0" cellspacing="10" cellpadding="0">
	
	
	
	<tr><td>
		
		

<h1>My Property Offers</h1>

<%if @offers.length > 0%>
		<table  width="650" border="0" cellspacing="1" cellpadding="1">
		<%lastproduct = "start"%>
		<%id_offer = '0'%>
		<%product_sold_stc = '0'%>
		<%lastCustomer = 'start'%>
		<%lastuser = 'start'%>
	<%for offer in @offers%>
	<%if lastproduct.to_s != offer.id_product.to_s or lastproduct == "start"%>		
			<%if lastproduct != "start"%>
			<tr>
				<td></td>
				<td><td><%if product_sold_stc == 'p' or product_sold_stc == '0'%>
						<%=link_to 'Respond',{:controller=>'offer',:action=>'reply',:id=>id_offer}, :class=>'viewdetail' %> 
					<%end%>
				</td></td>
				<td>
					
					<%= link_to 'Delete this Negotiation', { :controller=>'offer',:action => 'destroy', :id_product => lastproduct,:customer=>lastCustomer }, :class=>'viewdetailred', :confirm => 'Are you sure?', :method => :post %>
				</td>
			</tr>
			<%end%>
			<tr>
				<td colspan="3">
					<%if lastproduct != "start"%>
						<hr>
						<br>
						<br>
						
					<%end%>
					<%product = Product.find(offer.id_product)%>
					<%product_sold_stc = product.Sold_STC%>
					<b>Listing Prcie:</b> 
											<%
							 						strprice = product.Price
							                        if strprice.to_f >= 1000
							                          #strprice = sprintf("%.2f",strprice)
							                          strprice = strprice.to_s.reverse
							                          strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
							                          strprice = strprice.gsub(/,$/,"").reverse
							                        #else
							                          #strprice = sprintf("%.2f",strprice)
							                        end
											%>
											<%=strprice%>
				</td>
			</tr>
			
			<tr>
				
				<td width ="20%" class="showleft">User</td>
				<td width ="20%" class="showleft">The Offer</td>
				<td width ="60%" class="showleft">Comment</td>
			</tr>
			<%lastproduct = offer.id_product%>
			
		<%end%>
		
		<%if lastCustomer.to_s != offer.Customer.to_s %>
		<!--show command -->
			<%if lastCustomer != "start"%>
			<tr>
				<td></td>
				<td><%if product_sold_stc == 'p' or product_sold_stc == '0'%>
						<%=link_to 'Respond',{:controller=>'offer',:action=>'reply',:id=>id_offer}, :class=>'viewdetail' %> 
					<%end%>
				</td>
				<td>
					<%= link_to 'Delete this Negotiation', { :controller=>'offer',:action => 'destroy', :id_product => lastproduct,:customer=>offer.Customer  }, :class=>'viewdetailred', :confirm => 'Are you sure?', :method => :post %>
				</td>
			</tr>
			<%end%>
			
		<!--show new user -->	
			<%if lastCustomer !="start"%>
				<tr><td></td><td colspan="2"><hr></td></tr>
				<tr>
					
					<td width ="20%" class="showleft">User</td>
					<td width ="20%" class="showleft">The Offer</td>
					<td width ="60%" class="showleft">Comment</td>
				</tr>
			<%end%>
			
		<%end%>	
			
			
						<%if offer.id_user == offer.Customer %>
							<tr bgcolor="#E8E8E8"><!--customer price-->
						<%else%>
							<tr>
						<%end%>
							<!--show user name-->
							<%if lastuser.to_s != offer.id_user.to_s or lastuser == 'start'%>
								<td width ="20%" class="showleft">
									<%if offer.id_user !="0" and offer.id_user !="" and offer.id_user != nil   %>
										<%user = User.find(offer.id_user)%><%=user.FirstName%>
									<%else%>
										Not know Customer
									<%end%>
								</td>
							<%else%>
								<td width ="20%" class="showleft"></td>
							<%end%>
							<td>
											<%
							 						strprice = offer.offerprice
							                        if strprice.to_f >= 1000
							                          #strprice = sprintf("%.2f",strprice)
							                          strprice = strprice.to_s.reverse
							                          strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
							                          strprice = strprice.gsub(/,$/,"").reverse
							                        #else
							                          #strprice = sprintf("%.2f",strprice)
							                        end
											%>
								$<%=strprice%>
							</td>
							<td valign="bottom">
								<%if offer.comment == "" or offer.comment == nil%><%else%><%=offer.comment%><%end%>
								</td>
						</tr>
		
		
		
		
		<%id_offer = offer.id%>
		<%lastCustomer = offer.Customer%>
		<%lastuser = offer.id_user%>
	<%end%><!--end for offer-->





















			<tr>
				<td></td>
				<td><%if product_sold_stc == 'p' or product_sold_stc == '0'%>
						<%=link_to 'Respond',{:controller=>'offer',:action=>'reply',:id=>id_offer}, :class=>'viewdetail' %> 
					<%end%>
				</td>
				<td>
					
					<%= link_to 'Delete this Negotiation', { :controller=>'offer',:action => 'destroy', :id_product => lastproduct,:customer=>offer.Customer  }, :class=>'viewdetailred', :confirm => 'Are you sure?', :method => :post %>
				</td>
			</tr>
<tr>
				<td colspan="3">
					<hr>
					<br>
					<br>
				</td>
			</tr>
</table>


<%#will_paginate @offer_pages %>
	
<%else%>	<span style="color:green">Don't have information.</span>
<%end%><!-- end if @offer.length-->	
	
	
	
	
	
	

<br><br><br><br>
</td>
<!--<td valign="top">
	<%#render :partial => '/users/profilenav' %>	
</td>
-->
</tr>
</table>