<script type="text/javascript">
	function meshow(id,pic,myfield){
//		window.open('/picture/show_picture?id='+id+'&pic='+pic+'&field='+myfield ,'kendio','width=700,height=550');
//<img src="http://engine:3700/upload/bikes/1_bikesale_pic3_20080918104616.jpg" width="420px" height="350px"/>
		str = "<img src=\""+pic+"\" width=\"420px\" height=\"350px\"/>";
		document.getElementById('fullpic').innerHTML = str;
		return false;
	}
		function checkofferprice(){
		var x =""
		x = document.getElementById('offer_offerprice').value
		x = x.replace(',','');
		if (isNaN(x)) {
			alert('Please enter only numerical values');
			return false;
		}else{document.getElementById('offer_offerprice').value = x;}
		
//		alert('5555+');
	}
</script>





<table width="980" border="0" cellspacing="10" cellpadding="0">
	<tr><td>





<h1>Respond to the Offer</h1>

<h2>Your Property</h2>
<%if @product%>

<%#=========================================    under here for show Details ====================================%>
<br>
<table cellpadding=5 cellspacing=0 border=0>
	
	<tr>
		<td class="showleft">Price:</td>
		<td><%=@product.Price%></td>
	</tr>

	<tr>
		<td class="showleft">Property Type:</td>
		<td><%if @product.Type != '0' %><%family = Option.find(@product.Type)%><%=family.Name%><%else%>--<%end%></td>
	</tr>

	
	<tr>
		<td class="showleft">Description:</td>
		<td><%=@product.Detail%></td>
	</tr>
	
</table>





<br><br>

<%end%>
<input type="hidden" name="show_lng" id="show_lng"/>
<input type="hidden" name="show_lat" id="show_lat"/>
<input type="hidden" name="temp_lng" id="temp_lng"/>
<input type="hidden" name="temp_lat" id="temp_lat"/>
<hr>

<%#====================================================   show message  ==================================================%>
<h2>Offer History</h2>
<%histories = Offer.find(:all,:conditions=>"id_product = '#{@offer.id_product}' and Deleted != '0'",:order=>"id asc")%>
<table   width="650" border="0" cellspacing="1" cellpadding="1">
	<%if histories.length > 0%>
	<tr>
		<td width ="20%" class="showleft">The Offer</td>
		<td width ="80%" class="showleft">Comment</td>
	</tr>
	<%lastprice = 0%>
	<%lastproduct = 0%>
<%for hf in histories%>
	<tr>
		<td>
							<%
			 						strprice = hf.offerprice
			                        if strprice.to_f >= 1000
			                          #strprice = sprintf("%.2f",strprice)
			                          strprice = strprice.to_s.reverse
			                          strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                          strprice = strprice.gsub(/,$/,"").reverse
			                        #else
			                          #strprice = sprintf("%.2f",strprice)
			                        end
							%>
						  
						  <%=strprice%>
		
		</td>
		<td><%=hf.comment%></td>

	</tr>
	<%lastprice = hf.offerprice%>
	<%lastproduct = hf.id_product%>
<%end%>
</table>
<%else%>
<span style="color:green">Don't have Information.</span>
<%end%>
<%#==============================   Reply from =========================%>
<br />
<h1>Respond</h1>
<% form_tag :action => 'offer' do %>
		<%= hidden_field 'offer', 'id_product',:value=>@offer.id_product%>
		<%= hidden_field 'offer', 'id_productuser',:value=>@offer.id_productuser%>
		<%= hidden_field 'offer', 'id_user',:value=>session[:user_id]%>
		<%= hidden_field 'offer', 'Customer',:value=>@offer.Customer%>
<table>
	<tr>
		<td>Counter Offer:</td>
		<td><%= text_field 'offer', 'offerprice'  ,:value=>@offer.offerprice%></td>
	</tr>
	
	<tr>
		<td valign="top">Negotiation: </td>
		<td><%= text_area 'offer', 'comment' ,:rows=>'4' ,:value=>@offer.comment%></td>
	</tr>
	
	
</table>					
					
					<br />
		<input type=submit value="Send the Offer" name="commit2" id="commit2" onclick="return checkofferprice();">		
		<%if lastproduct.to_s != '0' and @offer.id_user.to_s != session[:user_id].to_s%>
				<span>or </span>
				<%
			 						strprice = lastprice
			                        if strprice.to_f >= 1000
			                          #strprice = sprintf("%.2f",strprice)
			                          strprice = strprice.to_s.reverse
			                          strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                          strprice = strprice.gsub(/,$/,"").reverse
			                        #else
			                          #strprice = sprintf("%.2f",strprice)
			                        end
							%>
				<%=link_to "Approve at the last price of $#{strprice}.",{:controller=>'offer',:action=>'approve',:id_product=>lastproduct,:id_offer=>@offer.id}, :class=>'viewdetail' %> 
		<%end%>
<% end %>
					




</td>
</tr>
</table>
