
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<script src="/javascripts/listings.js" type="text/javascript"></script>
<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>




<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>




<h1>Condo / Apartment Buildings in Thailand</h1>

<div style="padding:5px;background-color:#dee2e4;border-bottom:1px solid #94a5a4; margin-bottom:15px;display:block">
	
	<span style="float:left;margin-right:10px;">Select a City:</span>
	
	<form action="/condo/allcondos" method="post" name="filter">
		<select name="location" id="location" onchange="document.filter.submit(); " >
		<option value="0" selected="selected">All Locations</option>
		<option value="Pattaya" <%if @location.to_s =="Pattaya"%> selected="selected" <%end%> >Pattaya</option>
		<option value="Bangkok" <%if @location.to_s =="Bangkok"%> selected="selected" <%end%>  >Bangkok</option>
		<option value="Phuket" <%if @location.to_s =="Phuket"%> selected="selected" <%end%>  >Phuket</option>
		<option value="Chiang Mai" <%if @location.to_s =="Chiang Mai"%> selected="selected" <%end%>  >Chiang Mai</option>
		<option value="0">------------------------------------------</option>
		<option value="0">     </option>
		<%
			provinces = Province.find(:all,:order=>"name asc ")
			for p in provinces
							city = "txt.province.#{p.name.downcase}"
								while city[" "]				
									city[" "] ="_"		
								end
							city = I18n.translate(city)
		%>	
			<option value="<%=p.name%>" <%if @location.to_s ==p.name.to_s%> selected="selected" <%end%> ><%=city%></option>
		<%	end	%>
		</select>
	</form>

</div>
								
<%if @condos.length <= 0%>
	<span style="color:red;">Sorry, there are no Condo buildings in this City.</span>
<%else%>	
	<%for condo in @condos
						condo_image = "/images/noimage-120.png"
						condo_image2 = "/images/noimage-120.png"
					if condo.id_image.to_i > 0
						begin
						image = Images.find(condo.id_image)
						if image
							strtype = image.photo_file_name
							strtype = strtype.slice(strtype.index(".").to_i + 1,strtype.length)
							condo_image="#{image.photo.url(:medium)}" 
							condo_image2="#{image.photo.url()}" 
						end
						rescue
						end
					end
		condo_city = "#{condo.city}-"
		listings = Product.find(:all,:conditions=>"Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null) and id_condo = '#{condo.id}'")
			fullcondoname = Condo.find(condo.id).name


			condoname = condo.name
			while condoname[" "]
				condoname[" "]= "-"
			end
			while condoname["."]
				condoname["."]= ","
			end
			condoname = condo.name
			while condoname["/"]
				condoname["/"]=""
			end
		%>
		
		
		<div class="findagency-blocks">
			<div style="float:left;width:150px;">
				<a href="/condo/<%=condoname%>-<%=condo_city%><%=condo.id%>"><img src="<%=condo_image%>" onerror="this.src='<%=condo_image2%>'" style="border: 1px solid rgb(204, 204, 204); margin-right: 5px;" align="left"  width="120"></a>
			</div>
			
			<div style="float:left;">
				<h2><a href="/condo/<%=condoname%>-<%=condo_city%><%=condo.id%>"><%=fullcondoname%></a></h2>
				<%
				listings = Product.find(:all,:conditions=>"id_condo = '#{condo.id}'")
				x = 0
				y = 0
				for l in listings
					if l.Price.to_i > 0
						y = y + l.Price.to_i
						x = x + 1	
					end
				end
				z = 0
				if x != 0
					z = y / x
				end
				
			%>
				Average Price: <%if z.to_i <= 0%>-<%else%><%=number_to_currency(z, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>฿<%end%><br>
				<%=listings.length%> Condo / Apartments listed<br clear="all">
				<a href="/condo/<%=condoname%>-<%=condo_city%><%=condo.id%>">Click here to view the listings in <%=condo.name%></a>
			</div>
		<br clear="all" />
		</div>
	<br clear="all" />
	
	
<%end%>
	<%= will_paginate @condos,:params=>{:location=>params[:location]}%>
<%end%>


