
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" media="all" />

<script type="text/javascript">
jQuery.noConflict();
jQuery(function() {
	jQuery("#tabs").tabs();
	jQuery("#agentabs").tabs();
	jQuery("#ownertabs").tabs();
});
</script>



<%if params[:partner]%>
	<%mypartner = "#{params[:partner]}"
	if mypartner.to_s =="products"
		mypartner = "rethai"
	end
	if request.domain.to_s =="pattayaone.net"
		mypartner = "pattayaone"
	end
	%>
	<%= render :partial => "/listings/partner/#{mypartner}_header" %>
	<%= render :partial => "/listings/partner/#{mypartner}_nav" %>
<%else%>
	<%mypartner = "rethai"%>
	<%= render :partial => "/listings/partner/rethai_header" %>
	<%= render :partial => "/listings/partner/rethai_nav" %>
<%end%>

<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
%>

<!-- SEO -->
<%@page_title = "#{params[:seo]}Condos For Sale and Rent - REThai.com - Real Estate Thailand, the place to find property in #{params[:seo]}"%>
<%@page_desc = "Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->

<h1><%=params[:seo]%> Condos For Sale and Rent</h1>



	<!-- LEFT -->
	<div style="width:200px; float: left;">
		<h2>Search</h2>
		<%=render :partial=>"listings/searchform"%>
	</div>
	

<%condoname = params[:code]
if condoname == "phuket" %>

	<!-- RIGHT -->
	<div style="width:770px; margin-left:210px;">
		<h2>Featured Advertisers</h2>
		<div style="width:250px;height:250px;margin-left:0px;position: absolute"><!-- Condo-PHU-1-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-PHU-1-topbox");
</script></div>
		<div style="width:250px;height:250px;margin-left:260px;position: absolute"><!-- Condo-PHU-2-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-PHU-2-topbox");
</script></div>
		<div style="width:250px;height:250px;margin-left:520px;position: absolute"><!-- Condo-PHU-3-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-PHU-3-topbox");
</script></div>
	</div>

<%elsif condoname == "bangkok" %>

	<!-- RIGHT -->
	<div style="width:770px; margin-left:210px;">
		<h2>Featured Advertisers</h2>
		<div style="width:250px;height:250px;margin-left:0px;position: absolute"><!-- Condo-BKK-1-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-BKK-1-topbox");
</script></div>
		<div style="width:250px;height:250px;margin-left:260px;position: absolute"><!-- Condo-BKK-2-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-BKK-2-topbox");
</script></div>
		<div style="width:250px;height:250px;margin-left:520px;position: absolute"><!-- Condo-BKK-3-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-BKK-3-topbox");
</script></div>
	</div>

<%elsif condoname == "pattaya" %>

	<!-- RIGHT -->
	<div style="width:770px; margin-left:210px;">
		<h2>Featured Advertisers</h2>
		<div style="width:250px;height:250px;margin-left:0px;position: absolute"><!-- Condo-PTY-1-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-PTY-1-topbox");
</script></div>
		<div style="width:250px;height:250px;margin-left:260px;position: absolute"><!-- Condo-PTY-2-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-PTY-2-topbox");
</script></div>
		<div style="width:250px;height:250px;margin-left:520px;position: absolute"><!-- Condo-PTY-3-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-PTY-3-topbox");
</script></div>
	</div>

<%else%>

	<!-- RIGHT -->
	<div style="width:770px; margin-left:210px;">
		<h2>Featured Advertisers</h2>
		<div style="width:250px;height:250px;margin-left:0px;position: absolute"><!-- Condo-TH-1-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-TH-1-topbox");
</script></div>
		<div style="width:250px;height:250px;margin-left:260px;position: absolute"><!-- Condo-TH-2-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-TH-2-topbox");
</script></div>
		<div style="width:250px;height:250px;margin-left:520px;position: absolute"><!-- Condo-TH-3-topbox -->
<script type='text/javascript'>
GA_googleFillSlot("Condo-TH-3-topbox");
</script></div>
	</div>

<%end%>


<br clear="all" />
<br clear="all" />


<!--
<%condoname = params[:code]
if condoname == "phuket" %>
PHU
<%elsif condoname == "bangkok" %>
BKK
<%elsif condoname == "pattaya" %>
PTT
<%else%>
TH
<%end%>
-->



<h2>Developer Condos for Sale in <%=params[:seo]%></h2>

<table width="100%">
	<tr>
		<td valign="top">


<div id="tabs">
  <ul>
    <li><a href="#tabs-1"> 0 - 1M </a></li>
    <li><a href="#tabs-2" onclick="if(document.getElementById('d_2m').value=='0'){new Ajax.Updater('tabs-2', '/condo/getcondo?price=2&code=<%=condoname%>&type=d', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('d_loading').style.display='none';}, onLoading:function(request){document.getElementById('d_loading').style.display='inline';}});document.getElementById('d_2m').value='1';} return false;"> 1M - 2M </a></li>
    <li><a href="#tabs-3" onclick="if(document.getElementById('d_3m').value=='0'){new Ajax.Updater('tabs-3', '/condo/getcondo?price=3&code=<%=condoname%>&type=d', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('d_loading').style.display='none';}, onLoading:function(request){document.getElementById('d_loading').style.display='inline';}});document.getElementById('d_3m').value='1';} return false;"> 2M - 3M </a></li>
    <li><a href="#tabs-4" onclick="if(document.getElementById('d_5m').value=='0'){new Ajax.Updater('tabs-4', '/condo/getcondo?price=5&code=<%=condoname%>&type=d', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('d_loading').style.display='none';}, onLoading:function(request){document.getElementById('d_loading').style.display='inline';}});document.getElementById('d_5m').value='1';} return false;"> 3M - 5M </a></li>
    <li><a href="#tabs-5" onclick="if(document.getElementById('d_10m').value=='0'){new Ajax.Updater('tabs-5', '/condo/getcondo?price=10&code=<%=condoname%>&type=d', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('d_loading').style.display='none';}, onLoading:function(request){document.getElementById('d_loading').style.display='inline';}});document.getElementById('d_10m').value='1';} return false;"> 5M - 10M </a></li>
    <li><a href="#tabs-6" onclick="if(document.getElementById('d_10up').value=='0'){new Ajax.Updater('tabs-6', '/condo/getcondo?price=100&code=<%=condoname%>&type=d', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('d_loading').style.display='none';}, onLoading:function(request){document.getElementById('d_loading').style.display='inline';}});document.getElementById('d_10up').value='1';} return false;"> 10M+ </a></li>
	
<!--
	<li><a href="#tabs-2">1M - 2M</a></li>
    <li><a href="#tabs-3">2M - 3M</a></li>
    <li><a href="#tabs-4">3M - 5M</a></li>
    <li><a href="#tabs-5">5M - 10M</a></li>
    <li><a href="#tabs-6" onclick="">10M+ </a></li>
-->
	
	<li><img id="d_loading" src="/images/loadingb.gif" style="display:none;" /></li>
	
  </ul>
		
<input type="hidden" name="d_1m" 	id="d_1m" 	value="1"/>	
<input type="hidden" name="d_2m" 	id="d_2m" 	value="0"/>	
<input type="hidden" name="d_3m" 	id="d_3m" 	value="0"/>	
<input type="hidden" name="d_5m" 	id="d_5m" 	value="0"/>	
<input type="hidden" name="d_10m" 	id="d_10m" 	value="0"/>	
<input type="hidden" name="d_10up" 	id="d_10up" value="0"/>			
			
  <div id="tabs-1" style="padding:10px 0;"> 

<!--=========================  0 - 1M  ====================================================================-->
<table>
	<tr>
		<td>
			
	<div class="widelist">
		
<%
listings_1m = Product.find(:all,
							:select=>"products.*",
							:joins=>"INNER JOIN users ON users.id = products.id_user",
							:conditions=>"users.UserType = 'd' and (products.condofeatured = '1') and products.Deleted = '1' and products.Price <= '1000000'  #{@sql} ",
							:order=>"RAND()",
							:limit=>"5")
if listings_1m.length <= 0
	listings_1m = Product.find(:all,
								:select=>"products.*",
								:joins=>"INNER JOIN users ON users.id = products.id_user",
								:conditions=>"users.UserType = 'd' and products.Deleted = '1' and products.Price <= 1000000  #{@sql} ",
								:order=>"RAND()",
								:limit=>"5")
end
for h_listing in listings_1m

 #get listing type
			        listingtype =" "
			        if h_listing.Type.to_s != '0' and h_listing.Type.to_s != "" and h_listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{h_listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							seo_listingtype = showlistingtype
						while seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end
						#while seo_listingtype[" "]				
							#seo_listingtype[" "] ="-"
						#end
			              break
			            end
			          end
			        end  
			        if h_listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = h_listing.Bed + " " + bedroom
			        end
			        city = ""
					if h_listing.City.to_s !="" and h_listing.City.to_s !="0" and h_listing.City != nil
						city = "#{h_listing.City}"
						showcity = "txt.province.#{h_listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

					salerent = ""
			       	if h_listing.salerent.to_s == '1'  # sale
						salerent = "Sale" 
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			        elsif h_listing.salerent.to_s == '0' # rent
						salerent = "Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
			        else  # sale / rent
						salerent = "Sale or Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
			        end #end if @h_listing.salerent
						seosalerent = salerent	
						while seosalerent[" "]				
							seosalerent[" "] = "-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)

			   myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{h_listing.id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:medium)}"
					break
			    end
				
				search_link="/rethai/#{showcity}-#{lsalerent}-#{seo_listingtype}-#{h_listing.id}"
				begin
					if h_listing.titlelink.to_s !=""
						search_link = "#{h_listing.titlelink}-#{h_listing.id}"
					end
				rescue
				end
				
%>
		<div class="widelistcontainer">
			<a href="<%=search_link%>"><img src="<%=myimages%>" align="left" class="widelistimg" /></a><br clear="all" />
			<div class="widelistcontent">
				<a href="<%=search_link%>"><%if city !=""%><%=showcity%>,<%end%> <%=showlistingtype%></a><br />
				<%=txtfor%> <%=salerent%>,
				<%if h_listing.salerent.to_s == '0' %>
					<%=number_to_currency(h_listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
				<%else%>
					<%=number_to_currency(h_listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
				<%end%><br>
				<small><%=mybedroom%>, <%=h_listing.Bath%> <%=bathroom%></small><br clear="all" />
			</div>
		</div>
<%end%>
	

	</div>
		</td>
	</tr>
</table>

	<!--=========================  end Homepae Feature  ====================================================================-->
	</div>
  <div id="tabs-2" style="padding:10px 0;"></div>
  <div id="tabs-3" style="padding:10px 0;"></div>
  <div id="tabs-4" style="padding:10px 0;"></div>
  <div id="tabs-5" style="padding:10px 0;"></div>
  <div id="tabs-6" style="padding:10px 0;"></div>
</div>



		</td>

	</tr>
</table>

















<br>
<!--+----------------------------------------------------------------Agency----------------------------------------------------------+-->
<h2>Featured Condos from Agencies in <%=params[:seo]%></h2>


<table width="100%">
	<tr>
		<td valign="top">


<div id="agentabs">
  <ul>
    <li><a href="#agentabs-1"> 0 - 1M </a></li>
    <li><a href="#agentabs-2" onclick="if(document.getElementById('g_2m').value=='0'){new Ajax.Updater('agentabs-2', '/condo/getcondo?price=2&code=<%=condoname%>&type=g', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('g_loading').style.display='none';}, onLoading:function(request){document.getElementById('g_loading').style.display='inline';}});document.getElementById('g_2m').value='1';} return false;"> 1M - 2M </a></li>
    <li><a href="#agentabs-3" onclick="if(document.getElementById('g_3m').value=='0'){new Ajax.Updater('agentabs-3', '/condo/getcondo?price=3&code=<%=condoname%>&type=g', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('g_loading').style.display='none';}, onLoading:function(request){document.getElementById('g_loading').style.display='inline';}});document.getElementById('g_3m').value='1';} return false;"> 2M - 3M </a></li>
    <li><a href="#agentabs-4" onclick="if(document.getElementById('g_5m').value=='0'){new Ajax.Updater('agentabs-4', '/condo/getcondo?price=5&code=<%=condoname%>&type=g', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('g_loading').style.display='none';}, onLoading:function(request){document.getElementById('g_loading').style.display='inline';}});document.getElementById('g_5m').value='1';} return false;"> 3M - 5M </a></li>
    <li><a href="#agentabs-5" onclick="if(document.getElementById('g_10m').value=='0'){new Ajax.Updater('agentabs-5', '/condo/getcondo?price=10&code=<%=condoname%>&type=g', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('g_loading').style.display='none';}, onLoading:function(request){document.getElementById('g_loading').style.display='inline';}});document.getElementById('g_10m').value='1';} return false;"> 5M - 10M </a></li>
    <li><a href="#agentabs-6" onclick="if(document.getElementById('g_10up').value=='0'){new Ajax.Updater('agentabs-6', '/condo/getcondo?price=100&code=<%=condoname%>&type=g', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('g_loading').style.display='none';}, onLoading:function(request){document.getElementById('g_loading').style.display='inline';}});document.getElementById('g_10up').value='1';} return false;"> 10M+ </a></li>
<!--	
    <li><a href="#agentabs-2">1M - 2M</a></li>
    <li><a href="#agentabs-3">2M - 3M</a></li>
    <li><a href="#agentabs-4">3M - 5M</a></li>
    <li><a href="#agentabs-5">5M - 10M</a></li>
    <li><a href="#agentabs-6">10M+ </a></li>
-->	
	<li><img id="g_loading" src="/images/loadingb.gif" style="display:none;" /></li>
  </ul>
  
		
<input type="hidden" name="g_1m" 	id="g_1m" 	value="1"/>	
<input type="hidden" name="g_2m" 	id="g_2m" 	value="0"/>	
<input type="hidden" name="g_3m" 	id="g_3m" 	value="0"/>	
<input type="hidden" name="g_5m" 	id="g_5m" 	value="0"/>	
<input type="hidden" name="g_10m" 	id="g_10m" 	value="0"/>	
<input type="hidden" name="g_10up" 	id="g_10up" value="0"/>		


  <div id="agentabs-1" style="padding:10px 0;"> 
<!--=========================  0 - 1M  ====================================================================-->
<table>
	<tr>
		<td>
				
	<div class="widelist">
		
<%
listings_1m = Product.find(:all,
							:select=>"products.*",
							:joins=>"INNER JOIN users ON users.id = products.id_user",
							:conditions=>"users.UserType = 'g' and (products.condofeatured = '1') and products.Deleted = '1' and products.Price <= '1000000'  #{@sql} ",
							:order=>"RAND()",
							:limit=>"5")
if listings_1m.length <= 0
	listings_1m = Product.find(:all,
								:select=>"products.*",
								:joins=>"INNER JOIN users ON users.id = products.id_user",
								:conditions=>"users.UserType = 'g' and products.Deleted = '1' and products.Price <= 1000000  #{@sql} ",
								:order=>"RAND()",
								:limit=>"5")
end
for h_listing in listings_1m

 #get listing type
			        listingtype =" "
			        if h_listing.Type.to_s != '0' and h_listing.Type.to_s != "" and h_listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{h_listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							seo_listingtype = showlistingtype
						while seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end
						#while seo_listingtype[" "]				
							#seo_listingtype[" "] ="-"
						#end
			              break
			            end
			          end
			        end  
			        if h_listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = h_listing.Bed + " " + bedroom
			        end
			        city = ""
					if h_listing.City.to_s !="" and h_listing.City.to_s !="0" and h_listing.City != nil
						city = "#{h_listing.City}"
						showcity = "txt.province.#{h_listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

					salerent = ""
			       	if h_listing.salerent.to_s == '1'  # sale
						salerent = "Sale" 
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			        elsif h_listing.salerent.to_s == '0' # rent
						salerent = "Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
			        else  # sale / rent
						salerent = "Sale or Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
			        end #end if @h_listing.salerent
						seosalerent = salerent	
						while seosalerent[" "]				
							seosalerent[" "] = "-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)

			   myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{h_listing.id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:medium)}"
					break
			    end
				
				search_link="/rethai/#{showcity}-#{lsalerent}-#{seo_listingtype}-#{h_listing.id}"
				begin
					if h_listing.titlelink.to_s !=""
						search_link = "#{h_listing.titlelink}-#{h_listing.id}"
					end
				rescue
				end
				
%>
		<div class="widelistcontainer">
			<a href="<%=search_link%>"><img src="<%=myimages%>" align="left" class="widelistimg" /></a><br clear="all" />
			<div class="widelistcontent">
				<a href="<%=search_link%>"><%if city !=""%><%=showcity%>,<%end%> <%=showlistingtype%></a><br />
				<%=txtfor%> <%=salerent%>,
				<%if h_listing.salerent.to_s == '0' %>
					<%=number_to_currency(h_listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
				<%else%>
					<%=number_to_currency(h_listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
				<%end%><br>
				<small><%=mybedroom%>, <%=h_listing.Bath%> <%=bathroom%></small><br clear="all" />
			</div>
		</div>
<%end%>
	

	</div>
		</td>
	</tr>
</table>

	<!--=========================  end Homepae Feature  ====================================================================-->
	</div>
  <div id="agentabs-2" style="padding:10px 0;"></div>
  <div id="agentabs-3" style="padding:10px 0;"></div>
  <div id="agentabs-4" style="padding:10px 0;"></div>
  <div id="agentabs-5" style="padding:10px 0;"></div>
  <div id="agentabs-6" style="padding:10px 0;"></div>
</div>



		</td>

	</tr>
</table>














<br>
<!--+----------------------------------------------------------------Agency----------------------------------------------------------+-->
<h2>Condos For Sale By Owner in <%=params[:seo]%></h2>



<table width="100%">
	<tr>
		<td valign="top">


<div id="ownertabs">
  <ul>
    <li><a href="#ownertabs-1"> 0 - 1M</a></li>
    <li><a href="#ownertabs-2" onclick="if(document.getElementById('p_2m').value=='0'){new Ajax.Updater('ownertabs-2', '/condo/getcondo?price=2&code=<%=condoname%>&type=p', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('p_loading').style.display='none';}, onLoading:function(request){document.getElementById('p_loading').style.display='inline';}});document.getElementById('p_2m').value='1';} return false;"> 1M - 2M </a></li>
    <li><a href="#ownertabs-3" onclick="if(document.getElementById('p_3m').value=='0'){new Ajax.Updater('ownertabs-3', '/condo/getcondo?price=3&code=<%=condoname%>&type=p', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('p_loading').style.display='none';}, onLoading:function(request){document.getElementById('p_loading').style.display='inline';}});document.getElementById('p_3m').value='1';} return false;"> 2M - 3M </a></li>
    <li><a href="#ownertabs-4" onclick="if(document.getElementById('p_5m').value=='0'){new Ajax.Updater('ownertabs-4', '/condo/getcondo?price=5&code=<%=condoname%>&type=p', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('p_loading').style.display='none';}, onLoading:function(request){document.getElementById('p_loading').style.display='inline';}});document.getElementById('p_5m').value='1';} return false;"> 3M - 5M </a></li>
    <li><a href="#ownertabs-5" onclick="if(document.getElementById('p_10m').value=='0'){new Ajax.Updater('ownertabs-5', '/condo/getcondo?price=10&code=<%=condoname%>&type=p', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('p_loading').style.display='none';}, onLoading:function(request){document.getElementById('p_loading').style.display='inline';}});document.getElementById('p_10m').value='1';} return false;"> 5M - 10M </a></li>
    <li><a href="#ownertabs-6" onclick="if(document.getElementById('p_10up').value=='0'){new Ajax.Updater('ownertabs-6', '/condo/getcondo?price=100&code=<%=condoname%>&type=p', {asynchronous:true, evalScripts:true, onComplete:function(request){document.getElementById('p_loading').style.display='none';}, onLoading:function(request){document.getElementById('p_loading').style.display='inline';}});document.getElementById('p_10up').value='1';} return false;"> 10M+ </a></li>
<!--
    <li><a href="#ownertabs-2">1M - 2M</a></li>
    <li><a href="#ownertabs-3">2M - 3M</a></li>
    <li><a href="#ownertabs-4">3M - 5M</a></li>
    <li><a href="#ownertabs-5">5M - 10M</a></li>
    <li><a href="#ownertabs-6">10M+ </a></li>
	-->
	<li><img id="p_loading" src="/images/loadingb.gif" style="display:none;" /></li>
  </ul>
  
		
<input type="hidden" name="p_1m" 	id="p_1m" 	value="1"/>	
<input type="hidden" name="p_2m" 	id="p_2m" 	value="0"/>	
<input type="hidden" name="p_3m" 	id="p_3m" 	value="0"/>	
<input type="hidden" name="p_5m" 	id="p_5m" 	value="0"/>	
<input type="hidden" name="p_10m" 	id="p_10m" 	value="0"/>	
<input type="hidden" name="p_10up" 	id="p_10up" value="0"/>		

  <div id="ownertabs-1" style="padding:10px 0;"> 
<!--=========================  0 - 1M  ====================================================================-->
<table>
	<tr>
		<td>
				
	<div class="widelist">
		
<%
listings_1m = Product.find(:all,
							:select=>"products.*",
							:joins=>"INNER JOIN users ON users.id = products.id_user",
							:conditions=>"users.UserType = 'p' and (products.condofeatured = '1') and products.Deleted = '1' and products.Price <= '1000000'  #{@sql} ",
							:order=>"RAND()",
							:limit=>"5")
if listings_1m.length <= 0
	listings_1m = Product.find(:all,
								:select=>"products.*",
								:joins=>"INNER JOIN users ON users.id = products.id_user",
								:conditions=>"users.UserType = 'p' and products.Deleted = '1' and products.Price <= 1000000  #{@sql} ",
								:order=>"RAND()",
								:limit=>"5")
end
for h_listing in listings_1m

 #get listing type
			        listingtype =" "
			        if h_listing.Type.to_s != '0' and h_listing.Type.to_s != "" and h_listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{h_listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							seo_listingtype = showlistingtype
						while seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end
						#while seo_listingtype[" "]				
							#seo_listingtype[" "] ="-"
						#end
			              break
			            end
			          end
			        end  
			        if h_listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = h_listing.Bed + " " + bedroom
			        end
			        city = ""
					if h_listing.City.to_s !="" and h_listing.City.to_s !="0" and h_listing.City != nil
						city = "#{h_listing.City}"
						showcity = "txt.province.#{h_listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

					salerent = ""
			       	if h_listing.salerent.to_s == '1'  # sale
						salerent = "Sale" 
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			        elsif h_listing.salerent.to_s == '0' # rent
						salerent = "Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
			        else  # sale / rent
						salerent = "Sale or Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
			        end #end if @h_listing.salerent
						seosalerent = salerent	
						while seosalerent[" "]				
							seosalerent[" "] = "-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)

			   myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{h_listing.id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:medium)}"
					break
			    end
				
				search_link="/rethai/#{showcity}-#{lsalerent}-#{seo_listingtype}-#{h_listing.id}"
				begin
					if h_listing.titlelink.to_s !=""
						search_link = "#{h_listing.titlelink}-#{h_listing.id}"
					end
				rescue
				end
				
%>
		<div class="widelistcontainer">
			<a href="<%=search_link%>"><img src="<%=myimages%>" align="left" class="widelistimg" /></a><br clear="all" />
			<div class="widelistcontent">
				<a href="<%=search_link%>"><%if city !=""%><%=showcity%>,<%end%> <%=showlistingtype%></a><br />
				<%=txtfor%> <%=salerent%>,
				<%if h_listing.salerent.to_s == '0' %>
					<%=number_to_currency(h_listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
				<%else%>
					<%=number_to_currency(h_listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
				<%end%><br>
				<small><%=mybedroom%>, <%=h_listing.Bath%> <%=bathroom%></small><br clear="all" />
			</div>
		</div>
<%end%>
	

	</div>
		</td>
	</tr>
</table>

	<!--=========================  end Homepae Feature  ====================================================================-->
	</div>
  <div id="ownertabs-2" style="padding:10px 0;"></div>
  <div id="ownertabs-3" style="padding:10px 0;"></div>
  <div id="ownertabs-4" style="padding:10px 0;"></div>
  <div id="ownertabs-5" style="padding:10px 0;"></div>
  <div id="ownertabs-6" style="padding:10px 0;"></div>
</div>



		</td>

	</tr>
</table>

























<p>&nbsp;</p>

