<html>
	<head>
		
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<script src="/javascripts/listings.js" type="text/javascript"></script>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>

	</head>
	<body onload="loadshowlisting('<%=@condo.lat%>','<%=@condo.lng%>');" onunload="GUnload();">



<%if params[:partner]%>
	<%
	mypartner = "#{params[:partner]}"
	if mypartner.to_s =="products"
		mypartner = "rethai"
	end
	if request.domain.to_s =="pattayaone.net"
		mypartner = "pattayaone"
	end
	%>
	<%= render :partial => "/listings/partner/#{mypartner}_header" %>
	<%= render :partial => "/listings/partner/#{mypartner}_nav" %>
<%else%>
	<%mypartner = "rethai"%>
	<%= render :partial => "/listings/partner/rethai_header" %>
	<%= render :partial => "/listings/partner/rethai_nav" %>
<%end%>

<!-- SEO -->
<%
@page_title = I18n.translate('txt.search.page_title',:seo=>params[:seo])
@page_desc = I18n.translate('txt.search.page_desc',:seo=>params[:seo])
@page_keywords = I18n.translate('txt.search.page_keywords')
%>
<!-- // END SEO -->
<script type="text/javascript">
	function showminimap(id,lat,lng){
		var ggkey = document.getElementById('gkey').value;
		if(document.getElementById(id).innerHTML == ""){
			document.getElementById(id).innerHTML="<img src=\"http://maps.google.com/maps/api/staticmap?center="+lat+","+lng+"&zoom=13&size=500x160&sensor=false&markers=size:mid|color:red|"+lat+","+lng+"&key="+ggkey+"&maptype=hybrid\" />";
		}
		if(document.getElementById(id).style.display=="block"){
			document.getElementById(id).style.display="none";
		}else{
			document.getElementById(id).style.display="block";
		}
	}
</script>



<h1><%=@condo.name%></h1>

<table>
	<tr>
		<td valign="top">
			
			<%
			if @condo.id_image.to_i > 0
					begin
				image = Images.find(@condo.id_image)
				if image
					%><img src="<%=image.photo.url(:medium)%>" onerror="this.src='<%=image.photo.url()%>'"  width="250px"  />&nbsp;<%
				else	
					%><img src="/images/noimage-350.png" width="250px"  />&nbsp;<%
				end
					rescue
					%><img src="/images/noimage-350.png" width="250px"  />&nbsp;<%
					end
			else	
				%><img src="/images/noimage-350.png" width="250px"  />&nbsp;<%
			end
			%>
			
		</td>
		<td valign="top" style="padding-left:10px;">
				<%
				listings = Product.find(:all,:conditions=>"id_condo = '#{@condo.id}'")
				x = 0
				y = 0
				for l in listings
					if l.Price.to_i > 0
						y = y + l.Price.to_i
						x = x + 1	
					end
				end
				z = 0
				if x != 0
					z = y / x
				end
				
			%>
			<strong>Average Price: </strong> <%if z.to_i <= 0%>-<%else%><%=number_to_currency(z, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>฿<%end%><br>
			<strong>Listings:</strong> <%=number_to_currency(@alllistings.length, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>			
		</td>
		<td style="padding-left:20px" valign="top">
			<!-- CONDO MAP -->
			<div id="map" style="width:290px;height:296px;min-height:296px;background-color: #999999;overflow:hidden"></div>
		</td>
	</tr>
</table>
<br>
	<hr size="1" color="#AAA">
<br>









<h2>Listings</h2>
<%if @listings.length <= 0%>
	<span style="color:red;">No Listings</span>
<%else%>

	<%
	mypartner = "rethai"
	 if RAILS_ENV =="development"
			ggkey="ABQIAAAAmJz8xm-Ja_ZK1XQwhiJzDBQZkXe_EpvnrmZpXiq6nSo1ISoWFhQ531AAdomVJEComYTNoI683GmTDQ"
		elsif RAILS_ENV =="alpha"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxR0Xo7zTDC_U-tJDD8CxNO7k9fpYxRpeu3fima4Ta4vg6ODpI5NgXviMA"
		elsif RAILS_ENV =="beta"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxSd5RqMbDNAFH1RgBBdxtpXobdYtxQHOioi6Sst-rpb6lixEE19bYuVOA"
		elsif RAILS_ENV =="production"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxTTuA6xppXR1MBY8ubG39QnXYmYuxQj2fBmwYDbHycsFhETWma7qU4GQw"
		end
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
txtsqm = 	I18n.translate('txt.listingtype.sqm')
%>

		<!-- for mini map-->
		<input type="hidden" name="gkey" id="gkey" value="<%=ggkey%>" />
<!--============================================================================================================================-->

		<%	i =  0#setpage.to_i  #((@listings.length.to_i) -1) + setpage.to_i
		  for listing in @listings
				
					listingprice = ""
			       if listing.salerent.to_s == '1'  # sale        
						link_salerent = "Sale" 
						seosalerent="Sale"
			             strprice = listing.Price
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end
			                listingprice = "#{strprice} <small>Baht</small>"
			        elsif listing.salerent.to_s == '0' # rent    
						link_salerent = "Rent"
						seosalerent="Rent"
			            strprice = listing.RPrice
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end
			             listingprice = "#{strprice} <small>Baht / Month</small>"
			        else  # sale / rent   
						link_salerent = "Sale or Rent"
						seosalerent="Sale or Rent"
			                strprice = listing.Price
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                  
			                end
			                listingprice = "#{strprice} <small>Baht</small>"
			                
			                
			                strprice = listing.RPrice
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                end
			                listingprice = listingprice + "  #{strprice} <small>Baht / Month</small>"
			        end 
						#seosalerent = seosalerent	
						while seosalerent[" "]				
							seosalerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)



			#end if @listing.salerent
			    # ============  end set price  ===========================================================
			    compdetail=""
			    begin
			      
			    						comp = nil
			                            companies = Companies.find(:all,:conditions=>"id_user = '#{listing.id_user}'",:order=>"id asc")
			                            if companies.length > 0
											x = 1
			                              for comp in companies
			                                if comp.logo !="" and comp.logo !=nil and comp.logo !='0' and x == 1
			                                  logo = Businesslogo.find(comp.logo)
			                                  compdetail= "    <img src=\"#{logo.public_filename(:small)}\" height=\"30\"/>  \n<p>#{comp.Name}<br /></p>"
			                                   #break
			                                end
											if x > 1 
			                                   break
			                                end
								
											x =x + 1
			                              end
			                            end
			    rescue
			     end   # end begin

	                            
			      sqm=""
			    if listing.SQM.to_s !="0" and listing.SQM.to_s !="" and listing.SQM.to_s !=nil
			        sqm = "<small>#{number_to_currency(listing.SQM, :unit =>"", :precision =>0)} #{txtsqm}</small>"
			    end   
			    #get parking
			        parking =" "
			        if listing.Parking.to_s != '0' and listing.Parking.to_s != "" and listing.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
			              break
			            end
			          end
			        end
			      #get listing type
			        listingtype =" "
					seo_listingtype=""
			        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						if seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)

							
							seo_listingtype=""
							seo_listingtype << showlistingtype
							if seo_listingtype[" / "]				
								seo_listingtype[" / "] ="-"		
							end

			              break
			            end
			          end
			        end  
			        if listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = listing.Bed + " " + bedroom
			        end
			        city = ""
					if listing.City.to_s !="" and listing.City.to_s !="0" and listing.City != nil
						city = " <br>#{listing.City}"
						link_city = "#{listing.City}"
						showcity = "txt.province.#{listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

			        if listing.Type.to_s == "5" 
			         text = "<div id=listing><span class=listing-smallfont>#{showlistingtype} #{showcity}<br>#{sqm}</span></div>"
			       else
			         text = "<div id=listing><span class=listing-smallfont><strong>#{mybedroom}</strong>, #{listing.Bath} #{bathroom} <br>#{showlistingtype} #{showcity} #{txtfor} #{salerent}<br><small>#{parking}</small><br>#{sqm}</span></div>"
			       end
			       
				myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:thumb)}"
					break
			    end
					
		%>
		
		
		



<%if listing.SearchFeatured.to_s =="1"%>
	<div id="listingboxes-featured">
<%else%>	
	<div id="listingboxes">
<%end%>
<!--
<div id="show_<%=listing.id%>"  onmouseover="mymouseover(<%=i%>);" onmouseout="mymouseout(<%=i%>);">
	-->
	<div id="show_<%=listing.id%>" ><!-- onmouseover="mymouseover(<%=listing.id%>);" onmouseout="mymouseout(<%=listing.id%>);">-->
  <div class="bizdetails">
  	<%if comp != nil%>
	    <%=compdetail%>
	    <p><small><%=comp.phone%></small></p>
	<%end%>
  </div>

<%

				if listing.salerent.to_s =="0"
					search_link="/#{mypartner}/#{link_city}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{seosalerent}-#{listing.RPrice}-#{listing.id}"
				else
					search_link="/#{mypartner}/#{link_city}-#{seo_listingtype}-#{I18n.translate("txt.listingtype.for")}-#{seosalerent}-#{listing.Price}-#{listing.id}"
				end
				begin
					if listing.titlelink.to_s !=""
						search_link = "#{listing.titlelink}-#{listing.id}"
					end
				rescue
				end
%>
  <h2><a href="<%=search_link%>" target="_blank"><%=listingprice%></a></h2>
	
    <a href="<%=search_link%>" target="_blank" ><img src="<%=myimages%>" onerror="this.src='/images/noimage-90.png'"  align="left" width="90" height="90" class="listingimage" /></a>

    <div class="bedbath"><%=text%></div>
    
<!--    <div class="bottomlinks"><a href="#">Compare</a> <a href="#">Preview</a> <a href="#">Ful Details</a> <a href="#">Add to favorites</a></div>-->
    <div id="command_<%=listing.id%>" class="bottomlinks">
		<small>
			<a href="<%=search_link%>" target="_blank" >Full Details</a>
			<a href="#command_<%=listing.id%>" onclick="showminimap('map_<%=listing.id%>','<%=listing.lat%>','<%=listing.lng%>')">Map</a>
		</small>
	</div>
		<input type="hidden" name="textlink_<%=listing.id%>" id="textlink_<%=listing.id%>" value="<%=link_city%>-<%=seo_listingtype%>-for-<%=seosalerent%>-<%=listing.Price%>"/>
		<!-- show mini map-->
		<div id="map_<%=listing.id%>" style="display:none;margin-top:5px;"></div>
		<!-- ======= end show mini map  ==================-->
		
		
</div>
</div>


			
		<%
		i = i + 1
		end # end for listing in @listings
		%>
<!--============================================================================================================================-->

	<%= will_paginate @listings%>

<%end%>

		
	</body>

</html>