@charset "utf-8";
/* CSS Document */


/******************************************************
	SITE DEFAULTS
******************************************************/


h1 {
	font-weight:normal;
}


#main-content {
	background-color:#fff;
	padding:10px;
	margin-top:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:990px;
}
#main-content h1 {
	font-size:20px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#4d6367;
	border-bottom:1px #c6d5d8  dashed;
}

a:link, a:visited {
	color:#678d00;
}

.table3px td  {
	padding:3px;
}


div.auto_complete {
  width:350px;
  background: #fff;
  color:#000;
  z-index:999999999999999999;
}
div.auto_complete ul {
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
  color:#000;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;;
  font-size:10px;
  list-style-type:none;
  color:#000;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
  color:#000;
}
div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}

table img {
margin-bottom:-3px;
}

/******************************************************
	HEADER
******************************************************/

#home-page {
	background-repeat:repeat-x;
	width:1000px;
	margin: 0 auto;
	padding-top:5px;
}

#home-logo {
	float:left;
	margin-left:0px;
}

#header-minilinks {
	float:right;
	font-size:11px;
	font-family:Arial;
	padding-top:5px;
	color:#fff;
	line-height:11px;
}
#header-minilinks a {
	color:#fff;
	text-decoration:none;
	margin-left:10px;
}
#header-minilinks a:hover {
	color:#d9e0c6;
	text-decoration:underline;
}


#header-navigation {
	float:left;
	font-size:18px;
	padding-top:20px;
	color:#fff;
	margin-left:20px;
	width:700px;
}
#header-navigation a {
	color:#fff;
	text-decoration:none;
}
#header-navigation a:hover {
	color:#d9e0c6;
	text-decoration:underline;
}
#header-navigation p {
	width:100px;
	color:#d9e0c6;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
}
#header-navigation div {
	float:left;
	margin-right:25px;
	border-left:1px solid #93a75d;
	padding-left:5px;
}








/******************************************************
	UNDER HOME SEARCH
******************************************************/

#home-featureitems {
	float:left;
	margin-top:10px;
	width:730px;
}
.featureditems {
	width:220px;
	margin-left:10px;
	margin-right:10px;
	float:left;
	color:333;
	font-size:12px;
}
.featureditems h2 {
	border-bottom:1px dotted #CCC;
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
}
.featureditems span {
	padding-left:10px;
}
.featureditems a {
	color:#4e6900;
}
.featureditems a:hover {
	text-decoration:none;
}
.whatisrethai a {
	color:#444;
}
.whatisrethai a:hover {
	text-decoration:none;
}

#home-footeritems {
	float:left;
	margin-top:10px;
	width:980px;
}
#home-footeritems p {
	font-size:11px;
}
#home-footeritems h5 {
	margin-bottom:5px;
}
#home-footeritems a {
	color:#475226;
	text-decoration:none;
}
#home-footeritems a:hover {
	text-decoration:underline;
}
.home-featblocks:hover {
	background-color:#ecf4d5;
}
.home-featagency:hover {
	background-color:#ecf4d5;
}
.home-featblocks {
	font-size:11px;
	line-height:16px;
	color:#333;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	border-bottom:1px dotted #DDDDDD;	
}
.home-featagency {
	font-size:11px;
	line-height:16px;
	color:#333;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	border-bottom:1px dotted #DDDDDD;	
	height:52px;
}
.home-featdev {
	font-size:11px;
	line-height:16px;
	color:#333;
	padding-bottom:3px;
	padding-top:3px;
}




/******************************************************
	UNDER HOME SEARCH
******************************************************/

#home-featureitems {
	float:left;
	margin-top:10px;
	width:730px;
}
.featureditems {
	width:220px;
	margin-left:10px;
	margin-right:10px;
	float:left;
	color:333;
	font-size:12px;
}
.featureditems h2 {
	border-bottom:1px dotted #CCC;
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
}
.featureditems span {
	padding-left:10px;
}
.featureditems a {
	color:#444;
}
.featureditems a:hover {
	text-decoration:none;
}
.whatisrethai a {
	color:#444;
}
.whatisrethai a:hover {
	text-decoration:none;
}


/******************************************************
	RIGHT BOXES
******************************************************/

#home-right-boxes {
	width:240px;
	float:right;
	margin-top:0px;
}

.whatisrethai {
	background-color:#ccf7ff;
	margin-top:10px;
}

.whatisrethai ul {
	padding:10px;
}
.whatisrethai li {
	margin-bottom:10px;
	list-style:inside;
	list-style-position:outside;
	margin-left:15px;
	font-size:13px;
}




/******************************************************
	SEARCH MAP
******************************************************/

#map-holder {
	width:100%;
	margin:0 auto;
	
}

#map-header {
	background-image:url(/images/map-bg.png);
	background-repeat:repeat-x;
	width:100%;
}







/******************************************************
	FOOTER
******************************************************/

#home-footerwrapper {
	margin:0 auto;
	font-size:11px;
	padding:10px;
	background-color:#ecefe6;
	width:970px;
}
#home-footeritems {

}


#footer {
	margin:0 auto;
	background-color:#2c3133;
	padding:10px;
	color:#fff;
	width:970px; !important
}

#footer strong {
	margin-right:5px;
	font-size:13px;
	color:#bbbbbb;
}
#footer p {
	margin-bottom:5px;
}
#footer a, #footer p {
	font-size:11px;
	color:#e3e3e3;
}
#footer a {
	margin:0 3px 0 3px;
}
#footer a:hover {
	color:#ababab;
	text-decoration:none;
}
#below-footer {
	width:980px;
	margin:0 auto;
}


#rethai-footer {
	border-top:#668b00 solid 3px;
	width:970px;
	margin:0 auto;
	background-color:#2c3133;
	padding:10px;
	color:#fff;
	border-bottom:1px solid #666;
}

#rethai-footer strong {
	margin-right:5px;
	font-size:13px;
	color:#bbbbbb;
}
#rethai-footer p {
	margin-bottom:5px;
}
#rethai-footer a, #rethai-footer p {
	font-size:11px;
	color:#e3e3e3;
}
#rethai-footer a {
	margin:0 3px 0 3px;
}
#rethai-footer a:hover {
	color:#ababab;
	text-decoration:none;
}



















/******************************************************
	THAIVISA CUSTOM STYLE
******************************************************/



ul li {marmgin-left:0px;}

/*Common*/
body { margin:0; padding:0; font-family: helvetica,arial,sans-serif; font-size:9pt; background-color:#F4F4F4; color:#333;}


/* Menu */
#MainMenu {height:24px;background: transparent url(http://static.thaivisa.com/js/menu_bg_dark.gif) repeat-x scroll top left;width: 100%;border:0;margin:0;}
#tab {top:0; height:0; background:repeat-x top; margin:0;}
#tab ul {list-style:none;float:left;margin:0;padding:0;}
#tab li.swDrop {display:inline;float:left;padding:0;position: relative;}
#tab li.swDrophighlight {display:inline;float:left;color:#ffff00;padding:0;position: relative;}
#tab a {background:url(http://static.thaivisa.com/js/bright_113.gif) no-repeat right top;text-decoration:none;border:0;display:block;float:left;margin:0;padding:0;}
#tab a span {display:block;background:url(http://static.thaivisa.com/js/bleft_113.gif) no-repeat left top;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;color:#FFF;font-weight:700;line-height:24px;padding:0 4px;}
#tab a:hover,#tab li a.active{background-position:right bottom;}
#tab a:hover span,#tab li a.active span{background-position:left bottom;color:#FFF;font-weight:700;font-style:normal;text-decoration:none;}
#tab ul ul{position:absolute;top:24px;left: 0;display:block;visibility:hidden;border:1px solid #959595;background:#e1e1e1;line-height:10px;z-index:100;width:160px;text-decoration:none;padding:3px;list-style:none;margin:0;}
#tab ul ul li{display:inline;margin:0;padding:0;}
#tab ul ul a:link,#tab ul ul a:visited {width:160px;float:left;display:block;border:0 #fff;color:#000;background:#CCC;font-weight:700;font-style:normal;text-decoration:none;margin:0;padding:0;}
#tab ul .swDrop:hover ul, #tab ul .swDrop.over ul {visibility: visible;}
#tab ul ul a span{display:block;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;float:none;color: #000;background: none;}
#tab ul ul a:hover span{color: #000;text-decoration: underline;}
#tab ul ul a:hover{border:0;font-weight:400;font-style:normal;text-decoration:none;}
#tab ul ul a:hover span{background-color:none;background-image:none;}
#tab a.highlight span{color: yellow;}

