@charset "utf-8";
/* CSS Document */

/******************************************************
	SITE DEFAULTS
******************************************************/

#main-content {
	background-color:#fff;
	padding:10px;
	margin-top:5px;
	clear:both;
}
h1 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#4d6367;
	border-bottom:1px #c6d5d8  dashed;
}

h2 {
	font-size:18px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#363B40;
}

h3 {
	font-size:16px;
	font-weight:normal;
	color:#363B40;
}

h4 {
	font-size:15px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#363B40;
}



h5 {
	font-size:14px;
	font-weight:normal;
	margin:0 0 10px 0;
    color: #505050;
}




a:link, a:visited {
	color:#678d00;
}

.table3px td  {
	padding:3px;
}


div.auto_complete {
  width:350px;
  background: #fff;
  color:#000;
  z-index:999999999999999999;
}
div.auto_complete ul {
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
  color:#000;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;;
  font-size:10px;
  list-style-type:none;
  color:#000;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
  color:#000;
}
div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}

table img {
margin-bottom:-3px;
}

/******************************************************
	HEADER
******************************************************/

#home-page {
	background-repeat:repeat-x;
	width:1000px;
	margin: 0 auto;
	padding-top:5px;
}

#home-logo {
	float:left;
	margin-left:0px;
}

#header-minilinks {
	float:right;
	font-size:11px;
	font-family:Arial;
	color:#fff;
	line-height:11px;
	background-color:#2f4100;
	padding:0px 2px 5px 2px;
}
#header-minilinks a {
	color:#fff;
	text-decoration:none;
	margin-left:5px;
	margin-right:5px;
}
#header-minilinks a:hover {
	color:#d9e0c6;
	text-decoration:underline;
}


#header-navigation {
	float:left;
	font-size:18px;
	padding-top:20px;
	color:#fff;
	margin-left:20px;
	width:720px;
}
#header-navigation a {
	color:#fff;
	text-decoration:none;
}
#header-navigation a:hover {
	color:#d9e0c6;
	text-decoration:underline;
}
#header-navigation p {
	width:100px;
	color:#d9e0c6;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
}
#header-navigation div {
	float:left;
	margin-right:25px;
	border-left:1px solid #93a75d;
	padding-left:5px;
}

#headercountry {
	padding:5px 0 0 20px;
	float:left;
}
#headercountry a {
	margin-right:5px;
}


#header-nav ul {
	margin-left:8px;
	z-index:99999;
}
#header-nav li {
	float: left;
	margin:0 2px;
	padding:7px 7px;
}
#header-nav li:hover {
	background-color:#729e00;
	text-decoration:underline;
}
#header-nav a {
	display:block;
	text-decoration:none;
	color:#fff;
}
#header-nav {
	width:1000px;
	background-color:#2f4100;
	font-size:14px;
	margin-top:2px;
	color:#fff;

}



/*------------------------------------*\
	NAV
\*------------------------------------*/
#nav {
	list-style:none;
	/* Clear floats */
	float:left;
	width:100%;
	/* Bring the nav above everything else--uncomment if needed.
	position:relative;
	z-index:5;
	*/
}
#nav li {
	float:left;
	position:relative;
}
#nav a {
	display:block;
}
#nav a:hover {
}

/*--- DROPDOWN ---*/
#nav ul {
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li {
	padding-top:5px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	margin:0 0 0 -8px;
	width:120px;
	background-color:#729e00;
	border-bottom:1px solid #2f4100;
}
#nav ul a {
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul { /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
#nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */

}
#nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */

}























/******************************************************
	HOME SEARCH
******************************************************/

#home-left {
	width:730px;
	float:left;
}

#home-search {
	background-image:url(/images/bg-search1.jpg);
	background-repeat:no-repeat;
	height:240px;
	margin-top:0px;
	width:730px;
}

#home-search h1 {
	color:#fff;
	font-size:30px;
	line-height:30px;
	padding:15px 0 0 20px;
	margin:0px;
	border:none;
	text-shadow: 1px 1px 2px #111;
}




.home-search-buttons img {
}
.seach-map-button {
	margin-left:10px;
}
#searchtable {
	margin:20px 0 0 20px;
}
#searchtable table {
	margin-bottom:15px;
}
#searchtable table td {
	color:#fff;
	font-size:13px;
	padding-right:15px;
	padding-bottom:3px;
	text-shadow: 1px 1px 2px #000;
	font-weight:bold;
} 
#searchtable input {
	margin-left:0px;
	font-family:Arial, Helvetica;
}

#searchtable li {
	text-shadow: none;
	
	
}



/******************************************************
	CONTENT PAGES
******************************************************/

.market-trends h3 {
	margin-bottom:10px;
	background-color:#4d6367;
	padding:5px;
	color:#fff;
	font-weight:bold;
}

.market-trends {
	float:left;
	width:960px;
	border:1px solid #ddd;
	padding:5px;
}




/******************************************************
	UNDER HOME SEARCH
******************************************************/

#home-featureitems {
	float:left;
	margin-top:10px;
	width:730px;
}
.featureditems {
	width:220px;
	margin-left:10px;
	margin-right:10px;
	float:left;
	color:333;
	font-size:12px;
}
.featureditems h2 {
	border-bottom:1px dotted #CCC;
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
}
.featureditems span {
	padding-left:10px;
}
.featureditems a {
	color:#4e6900;
}
.featureditems a:hover {
	text-decoration:none;
}
.whatisrethai a {
	color:#444;
}
.whatisrethai a:hover {
	text-decoration:none;
}

#home-footeritems {
	float:left;
	margin-top:10px;
	width:980px;
}
#home-footeritems p {
	font-size:11px;
}
#home-footeritems h5 {
	margin-bottom:5px;
}
#home-footeritems a {
	color:#475226;
	text-decoration:none;
}
#home-footeritems a:hover {
	text-decoration:underline;
}
.home-featblocks:hover {
	background-color:#ecf4d5;
}
.home-featagency:hover {
	background-color:#ecf4d5;
}
.home-featblocks {
	font-size:11px;
	line-height:16px;
	color:#333;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	border-bottom:1px dotted #DDDDDD;	
}
.home-featagency {
	font-size:11px;
	line-height:16px;
	color:#333;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	border-bottom:1px dotted #DDDDDD;	
	height:52px;
}
.home-featdev {
	font-size:11px;
	line-height:16px;
	color:#333;
	padding-bottom:3px;
	padding-top:3px;
}



/******************************************************
	RIGHT BOXES
******************************************************/

#home-right-boxes {
	width:240px;
	float:right;
	margin-top:0px;
}

.whatisrethai {
	background-color:#ccf7ff;
	margin-top:10px;
}

#homeregister {
	font-size:12px;
	background-color:#f2ffcc;
	margin-top:10px;
}
#homeregister input {
	width:130px;
}
#homeregister td {
	padding-bottom:5px;
}
#homenewfeat {
	font-size:13px;
	background-color:#ffddcc;
	margin-top:10px;
}
.whatisrethai ul {
	padding:10px;
}
.whatisrethai li {
	margin-bottom:10px;
	list-style:inside;
	list-style-position:outside;
	margin-left:15px;
	font-size:13px;
}




/******************************************************
	SEARCH MAP
******************************************************/

#map-holder {
	width:100%;
	margin:0 auto;
	
}

#map-header {
	background-image:url(/images/map-bg.png);
	background-repeat:repeat-x;
	width:100%;
}







/******************************************************
	FOOTER
******************************************************/
#home-footerwrapper {
	font-size:11px;
	padding:10px;
	background-color:#ecefe6;
}

#footer {
	border-top:#668b00 solid 3px;
	width:980px;
	margin:0 auto;
	background-color:#2c3133;
	padding:10px;
	color:#fff;
}

#footer strong {
	margin-right:5px;
	font-size:13px;
	color:#bbbbbb;
}
#footer p {
	margin-bottom:5px;
}
#footer a, #footer p {
	font-size:11px;
	color:#e3e3e3;
}
#footer a {
	margin:0 3px 0 3px;
}
#footer a:hover {
	color:#ababab;
	text-decoration:none;
}
#below-footer {
	width:980px;
	margin:0 auto;
}










/******************************************************
	AGENCY PAGE
******************************************************/


.findagency-blocks {
	font-size:12px;
	line-height:19px;
	color:#333;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	border-bottom:1px dotted #DDDDDD;	
}
.findagency-blocks:hover {
	background-color:#ecf4d5;
}










/******************************************************
	ADD LISTING / REGISTER
******************************************************/

.addlistregister input {
	width:130px;
}
.addlistregister2 input {
	width:150px;
}
.addlistregister td, .addlistregister2 td {
	padding:3px;
}










