@charset "utf-8";
/* CSS Document */

/******************************************************
	PAGE DEFAULTS
******************************************************/



a {
  outline: none;
} 

p,h1,h2,h3 {
	font-weight: normal;
}

h1 {
	font-weight:normal;
	font-size:26px;
}



/******************************************************
	PAGE
******************************************************/

#logo {
	width:100%
}

#showtopnav {
	float:left;
	margin-left:20px;
	background-image: url(/images/bg80.png);
	padding:5px;
	color:#fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
}
#showtopnav a {
	color:#fff;
	padding:0 5px;
	text-decoration:underline;
}
#showtopnav a:hover {
	text-decoration:none;
}

#leftbox {
	margin-top:25px;
	width:250px;
	background-image: url(/images/bg80.png);
	padding:10px;
	color:#fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
}

#rightbox {
	margin-top:25px;
	margin-left:25px;
	width:92%;
	background-image: url(/images/bg80.png);
	padding:10px;
	color:#fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
}

#listing {
	font-size:11px;
	text-align:center;	
	padding:3px;
}
#listing span {
	font-size:14px;
	font-weight:bold;
}
#listingblock {
	width:120px;
	padding:5px;
	border:1px solid #333;
	margin:5px;
	float:left;
	display:block;
	background-color:#000;
}
#listingblock  .location {
	color:#CCC;
}
#listingblock small {
	font-size:10px;
	font-weight:normal;
}

div.scroll {
	height: 100px;
	width: 100px;
	overflow: auto;
}








/******************************************************
	BG
******************************************************/


.bgimage {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}




