@charset "utf-8";
/* CSS Document */

/******************************************************
	ADMIN
******************************************************/

body, html {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
	font-weight:normal;
}



.admintable-messages tr {
	border-bottom:1px solid #ccc;
}
