@charset "utf-8";
/* CSS Document */

/******************************************************
	PAGE DEFAULTS
******************************************************/

body, html {
	background-image:url(/images/bg-home.png);
	background-repeat:repeat-x;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#d5d9c9;
}

h1 {
	font-weight:normal;
}



/******************************************************
	ADMIN
******************************************************/
.admintable-messages {
	border-bottom:1px solid #ccc;
}
