@charset "utf-8";
/* CSS Document */


/******************************************************
	RETHAI API SITE
*****************************************************
a, a:link, a:active, a:visited {
	color:#404c36;
}
*/


body, html {
	background-image:url(/images/bg-home.png);
	background-repeat:repeat-x;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color:#d5d9c9;
}



/******************************************************
	CITY AJAX STYLE
******************************************************/


#shadowmap {
	position:absolute; 
	display:none; 
	top:152px; 
	width:275px; 
	height:350px; 
	min-height:500px; 
	z-index:25;
	background-color: #000000; 
	opacity: 0.7; 
	filter:alpha(opacity=70);
}


#list-searchform p {
	margin-top:15px;
	margin-bottom:5px;
	line-height:12px;
	padding-bottom:0px;
	font-size:12px;
}


/******************************************************
	GENERAL SMALL BITS
******************************************************/

.loginform {
	width:400px;
	float:left;
}
.loginform td {
	padding:3px;
}
p img { margin: 0 0 -3px 0; }
#notice {
	padding:5px;
	border:1px solid #ffee5c; 
	background-color:#fffad3; 
	margin-bottom:5px;
}

.tooltip {
	background-color:#ffffff;
	font-weight:normal;
	border:1px #516a20 solid;
	padding: 5px;
}

.search-left-free {
	padding:5px;
	color:#fff;
}
.search-left-free a {
	color:#b4f800;
}
.search-left-free a:hover {
	text-decoration:underline;
	color:#b4f800;
}



/******************************************************
	SEARCH RESULTS BOXES
******************************************************/
#searchheaderblock {
	width:980px;
	
}
#searchresultboxes {
	float:left; 
	width:500px; 
	margin-left:5px;
}

#listingboxes {
	width:500px; 
	min-height:150px;
	height:100%;
	background-color:#f6f6f6; 
	border:1px solid #f6f6f6;
	border-bottom:1px solid #94a5a4; 
	padding:5px;
	margin-top:5px;
	marrgin-bottom:5px;
}
#listingboxes:hover{
	border:1px solid #94a5a4;
	background-color:#f0f0f0;
}
#listingboxes h2 {
	color:#404c36;
	font-size:20px;
	padding:0;
	line-height:20px;
	letter-spacing:-1px;
	text-decoration:none;
	font-weight:normal;
	margin-bottom:5px;
}
#listingboxes h2 a  {
	margin:0 0 5px;
	text-decoration:none;
	color:#404c36;
}
#listingboxes small {
	font-size:11px;
	color:#77816f;
}

#listingboxes-featured {
	width:500px; 
	min-height:150px;
	height:100%;
	background-color:#fffee8; 
	border:1px solid #f6f6f6;
	border-bottom:1px solid #a7a67c; 
	padding:5px;
	margin-top:5px;
	marrgin-bottom:5px;
}
#listingboxes-featured:hover{
	border:1px solid #a7a67c;
	background-color:#fffddd;
}
#listingboxes-featured h2 {
	color:#404c36;
	font-size:20px;
	padding:0;
	line-height:20px;
	letter-spacing:-1px;
	text-decoration:none;
	font-weight:normal;
	margin-bottom:5px;
}
#listingboxes-featured h2 a  {
	margin:0 0 5px;
	text-decoration:none;
	color:#404c36;
}
#listingboxes-featured small {
	font-size:11px;
	color:#77816f;
}

.listingimage  {
	padding: 0px 10px 0px 0px;
}


.bizdetails {
	width:150px;
	float:right;
}
.bizdetails p {
	font-size:11px;
	color:#688e00;
}
.bizdetails span {
	color:#272727;
}
.bedbath {
	height:90px;
	width:330px;
	color:#3d3d3d;
	font-size:12px;
}

.bottomlinks small {
	font-size:12px;

}
.bottomlinks a {
	margin-left:10px;
	color:#3d3d3d;
}





.listingpreview {
	display:none;
	background-color: #f3f3f3;
	width:498px;
	padding: 10px;
	border-bottom:1px solid #94a5a4; 
	border-left:1px solid #94a5a4; 
	border-right:1px solid #94a5a4; 
}


#listingheader {
	background-color:#dee2e4;width:785px; margin-left:5px; border-bottom:1px solid #94a5a4;padding:5px;color:#4d6367;float:left;
}



.highlowlink a {
	color:#253e47;
}

.highlowlink a:hover {
	text-decoration:none;
}







/******************************************************
	CONDOS / HOUSES FEATURED WIDE BOXES
******************************************************/

.widelist {
	width:970px;
}

.widelistcontainer {
	float:left;
	width:180px;
	margin:5px 7px;
	background-color: #EEE;	
}
.widelistcontent {
	padding:10px 5px;
}
.widelistimg {
	border:1px solid #ccc;
	width:178px;
	height:150px;
}
.widelistcontent small {
	font-size:11px;
}





/******************************************************
	LEFT REFINE SEARCH BOX
******************************************************/

#list-searchform {
	padding:5px;
	background-color:#e3e7e4;
	margin-top:5px;
}
.new-list-searchform {
	padding:5px;
}
.new-list-searchform p {
	margin-top:15px;
	margin-bottom:5px;
	line-height:12px;
	padding-bottom:0px;
	font-size:12px;
}




#refinesearch {
	float:left;
	width:170px; 
	padding:5px;
	background-color:#3b4f4d;
	font-size: 14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	border-bottom:1px solid #3b4f4d;;
}


.listingconnect {
	background-color:#00a3c4;
	color:#fff;
	margin:5px 0;
	padding:5px;
}
.listingconnect h2 {
	color:#fff;
	line-height:18px;
}
.listingconnect a {
	color:#fff;
	font-weight:bold;
}



/******************************************************
	FEATURED AGENCY SEARCH PAGE
******************************************************/

#showagency {
	margin:10px 0;
}









/******************************************************
	COMPARE SEARCH
******************************************************/

#compare_form {
	border:1px solid #94a5a4;
	margin-top:15px;
	margin-bottom:15px;
	padding:5px;
}
#compare_form h3 {
	font-size: 14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:3px;
	background-color:#3b4f4d;
	color:#fff;
}


#showcompare div {
	border-top:1px solid #94a5a4;
	margin-bottom:5px;
	width:168px;
}
#showcompare table {
	margin-top:5px;
}
#compare_form a {
	color:#5b7b00;
}


#comparetable {
	background-color:#fff;
	
}
#comparetable td {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	border:1px solid #cccccc;
}
#comparetable .remove {
	color:#999;
	font-size:11px;
}

#comparetable tr:hover {
	background-color:#ecf4d5;
}
.viewfulllisting  {
	color:#5b7b00;
}
.viewfulllisting:hover {
	text-decoration:none;
}

.pagination {
	margin-:10px;
	font-size:14px;
}






#featagencyblock {
	border:1px solid #94a5a4;
	margin-top:15px;
	margin-bottom:15px;
	padding:5px;
}
#featagencyblock h3 {
	font-size: 14px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:3px;
	background-color:#3b4f4d;
	color:#fff;

}






/******************************************************
	VIEW LISTING
******************************************************/
#show{
		/* style="border:1px solid #eff6fa; "*/
opacity:1.0;
filter:alpha(opacity=100);
	}
#show:hover{
/*background:#DAEFEA;*/
opacity:1.0;
filter:alpha(opacity=100);
}


#show a:link {
	text-decoration: none;
}
#show a:visited {
	text-decoration: none;
}
#show a:hover {
	text-decoration: none;
}
#show a:active {
	text-decoration: none;
}


h1 small {
	font-size:12px;
}
h1 span {
	font-size:14px;
	color:#728588;
	margin-left:20px;
}
#showlisting {
	width:980px;
}
#showlisting .left {
	float:left;
	width:350px;
}

#showlisting .middle {
	float:left;
	width:290px;
	margin-left:10px;
}

#showlisting .right {
	float:left;
	width:310px;
	margin-left:10px;
	padding-left:9px;
	border-left:1px solid #ccc;
}


.listingdesctable td {
	padding:4px;
	border-bottom:1px dotted #ddd;
}
.listingdesctable strong {
	margin-right:15px;
	color:#2c3133;
}
.listingdesctable table {
	width:350px;
}

div#relatedlistings {
	padding-top:4px;
	padding-bottom:4px;
	margin-top:4px;
	border-bottom:1px dotted #ddd;
}
div#relatedlistings:hover{
	background-color:#ecf4d5;
}
#relatedlistings a {
	color:#333;
}
#relatedlistings {
	font-size:12px;
}
#relatedlistings a small {
	font-weight:normal;
}

h4  {
	font-family: Helvetica, Calibri, Arial, Verdana;
	font-size:16px;
	color:#6e8927;
	font-weight:bold;
}

.middle h3, .left h3, #contact_business h3 {
	padding:3px 5px;
	background-color:#246176;
	color:#fff;
	text-decoration:none;
	font-size:18px;
}

.right h3, contact_business h3, contact_listing h3, #send2friendform h3 {
	padding:3px 5px;
	background-color:#678d00;
	font-size:18px;
	color:#fff;
}
.right h3 a {
	color:#fff;
	text-decoration:none;	
}
.right h3:hover {

}

.contact_listing {
	border:1px solid #678d00;
	background-color:#f6ffd4;
}
.contact_business {
	border:1px solid #246176;
	background-color:#e7f6f7;
}
.contact_listing, .contact_business {
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border-top:none;
	padding:10px;
}

.contact_listing p {
	font-size:14px;
}

.contact_listing input, .contact_listing textarea, .contact_business input, .contact_business textarea {
	width:180px;
}
.contact_listing #bottom11 input, .contact_business #bottom22 input {
	width:128px;
	height:46px;
}
.contact_listing #bottom22 input {
	cursor:pointer;
}
.contact_business #bottom1 input, .contact_business #bottom2 input {
	width:128px;
	height:46px;
}
.contact_business #bottom2 input {
	cursor:pointer;
}


h3 a span {
	text-decoration:underline;
	float:right;
	font-size:11px;
	margin-top:4px;
}


p {
	line-height:18px;
}



#contact_business small {
	line-height:14px;

}



/******************************************************
	REGISTER
******************************************************/



#register table td {
	padding:2px;
}








/******************************************************
	ADD LISTING
******************************************************/



.addlistingtable td {
	padding:3px;
}

#confirmdetail b {
	padding-right:10px;
}








