@charset "utf-8";
/* CSS Document */

/******************************************************
	SITE DEFAULTS
******************************************************/

h1 {
	font-size:30px;
	font-weight:normal;
	color:#4d6367;
}

h2 {
	font-size:22px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#363B40;
}

h3 {
	font-size:18px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#363B40;
}

h4 {
	font-size:16px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#363B40;
}

h5 {
	font-size:14px;
	font-weight:normal;
	margin:0 0 10px 0;
	color:#363B40;
}





a:link, a:visited {
	color:#678d00;
}

.table3px td  {
	padding:3px;
}
.table3px a {
	color:#555;
}


table img {
margin-bottom:-3px;
}






/******************************************************
	CONTENT PAGES
******************************************************/
.market-trends h3 {
	margin-bottom:10px;
	background-color:#4d6367;
	padding:5px;
	color:#fff;
	font-weight:bold;
}

.market-trends {
	float:left;
	width:300px;
	border:1px solid #ddd;
	padding:5px;
	margin-left:20px;
}

.cpfb {
	float:left;
	width:350px;
	margin-left:20px;
}

.cpwelcomeblock {
	float:left;
	width:600px;
	border:1px solid #ddd;
	padding:5px;
}
.cpwelcomeblock h3 {
	margin-bottom:10px;
	background-color:#4d6367;
	padding:5px;
	color:#fff;
	font-weight:bold;
}
.cpwelcomeblock ul li {
	list-style:none;
	margin-bottom:5px;
}
.cpwelcomeblock input {
	margin-right:10px;
}

.advertblock {
	border:1px solid #ddd;
	padding:5px;
}
.advertblock h3 {
	margin-bottom:10px;
	background-color:#4d6367;
	padding:5px;
	color:#fff;
	font-weight:bold;
}

.adverttable {
	font-size:11px;
}
.adverttable strong {
	font-size:13px;
}
.adverttable td {
	vertical-align:top;
}



.table3px td {
	border-bottom:1px solid #ccc;
}
.table3px tr:hover {
	background-color:#e2e8f4;
}
.table3px a:hover {
}
.levels strong {
	color:#666;
}

.levelpad img {
	margin-right:10px;
	margin-left:5px;
}



.cp-nav a {
}


.cp-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;

}
.cp-nav li {
	float:left;
}
.cp-nav li a {
	color:#fff;
	text-decoration:none;
	border-right:1px dotted #b4c766;
	padding:10px;
}
.cp-nav li a:hover {
	background-color:#4f6300;
}


.cp-heading {
	border-bottom:1px #dddddd  solid;
	background-color:#f0f0f0;

}
.cp-body {
	padding:20px 30px 20px 30px;
}
.cp-heading p {
	margin:-1px 0px 5px 0px;
	font-size:12px;
	color:#525252
}




.notice {
	background-color:#fffccb;
	padding:5px;
	border:1px solid #dad033;
	color:#504d25;
	margin-bottom:10px;
}
.notice p {
	padding-left:22px;
	background-image:url(/images/icons/lightbulb.png);
	background-position:left;
	background-repeat:no-repeat;
	margin-bottom:0px;
	
}



.cpsmlnav a {
	font-size:11px;
	color:#e1e1e1;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration:none;
	padding:5px;
}


.cpsmlnav a:hover {
	background-color:#3e4428;
	color:#fff;
}

.cpsmlnav {
	margin-right:15px;
}








