
/******************************************************
	MAP
******************************************************/
.listingheader {
	background-image:url(/images/map-bg.png);
	background-repeat:repeat-x;
	padding-top:1px;
}
body {
  border:0;
  padding:0;
  margin:0;
  padding-top:50px;
}

.listingheader, .bkkcondoslistingheader {
  position:absolute;
  top:0;
  height:50px;
  width:100%;
}

.wrapper {
  height:100%;
  width:100%;
}
.listingheader input, .listingheader select {
	font-size:11px;
	
}






#header-minilinks-map {
	text-align:right;
	font-size:11px;
	font-family:Arial;
	padding-top:5px;
	color:#fff;
	line-height:11px;
	margin-right:20px;
}
#header-minilinks-map a {
	color:#fff;
	text-decoration:none;
	margin-left:10px;
}
#header-minilinks-map a:hover {
	color:#d9e0c6;
	text-decoration:underline;
}



#header-navigation-map {
	float:right;
	font-size:18px;
	padding-top:5px;
	color:#fff;
	text-align:right;
}
#header-navigation-map a {
	color:#fff;
	text-decoration:none;
}
#header-navigation-map a:hover {
	color:#d9e0c6;
	text-decoration:underline;
}
#header-navigation-map div {
	float:left;
	margin-right:20px;
}


#listingheader input, #listingheader select {
	border:1px solid #677d91;
}





/******************************************************
	CLUSTER LISTINGS
******************************************************/




#clusterlistings a {
	color:#6e8927;
}

.clustersmall {
	color:#333;
	text-decoration:none;
}







/******************************************************
	DETAILED LISTINGS
******************************************************/

#actionbar a {
	color:#333;
}


#gmnoprint {
	width:450px;
}










/******************************************************
	BKK CONDOS
******************************************************/



.bkkcondoslistingheader {
	background-image:url(/images/partneritems/bkkmapbg.jpg);
	background-repeat:repeat-x;
	padding-top:1px;
}
.bkkcondoslistingheader input, .bkkcondoslistingheader select {
	font-size:11px;
	
}









#bkkcondosheader-minilinks-map {
	text-align:right;
	font-size:11px;
	font-family:Arial;
	padding-top:5px;
	color:#3a3a3a;
	line-height:11px;
	margin-right:20px;
}
#bkkcondosheader-minilinks-map a {
	color:#3a3a3a;
	text-decoration:none;
	margin-left:10px;
}
#bkkcondosheader-minilinks-map a:hover {
	color:#a5491b;
	text-decoration:underline;
}



#bkkcondosheader-navigation-map {
	float:right;
	font-size:18px;
	padding-top:5px;
	color:#3a3a3a;
	text-align:right;
}
#bkkcondosheader-navigation-map a {
	color:#3a3a3a;
	text-decoration:none;
}
#bkkcondosheader-navigation-map a:hover {
	color:#a5491b;
	text-decoration:underline;
}
#bkkcondosheader-navigation-map div {
	float:left;
	margin-right:20px;
}


#bkkcondoslistingheader input, #listingheader select {
	border:1px solid #677d91;
}












