@charset "utf-8";
/* CSS Document */

/******************************************************
	PAGE DEFAULTS
******************************************************/

h1, h2, h3, h4, h5 {
	margin:0px;
	padding:bottom:10px;
}

h4 {
	font-size:16px;
	color:#6e8927;
}

a {
	color:#333333;
}




