@charset "utf-8";

/*
BODY
*/

* {
	margin:0px;
	padding:0px;
}


#content {
	padding:20px;
}


/*
html, body {
height: 100%;
min-height: 100%;
}
*/


/*
FONTS
*/

body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
}

a:link, a:visited {
	color:#333;
}
.table3px td {
	padding:3px;
}

p {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
	line-height:18px;
	margin-bottom:20px;
}

.welcome {
	font-size:80px;
	margin-top:130px;
	margin-left:30px;
	font-family: Helvetica, Calibri, Arial, Verdana;
	color: #7f9d3d;	
}

h1 span {
	font-family: Helvetica, Calibri, Arial, Verdana;
	font-size:24px;
	color:#505050;
	font-weight: normal;
}
h1  {
	font-family: Helvetica, Calibri, Arial, Verdana;
	font-size:24px;
	color:#6e8927;
	margin-bottom:5px;
	font-weight: bold;
	letter-spacing: -1px
}
h3  {
	font-family: Helvetica, Calibri, Arial, Verdana;
	font-size:14px;
	color:#333333;
	font-weight:normal;
}
h4  {
	font-family: Helvetica, Calibri, Arial, Verdana;
	font-size:16px;
	color:#6e8927;
	font-weight:bold;
}
#quickeventmodal h4 {
	margin-top:-15px;
}


#searchform p {
	margin-bottom:10px;
	margin-top:0px;
}

.tooltip {
	background-color:#ffffff;
	font-weight:normal;
	border:1px #516a20 solid;
	padding: 5px;
}

h5 {
	color:#6e8927; 
	font-weight:bold;
	font-size:11px;
	margin-bottom:0px
}

#controlpanelnav a  {
	font-size:11px;	
	margin:0px;
	margin-right:5px;
}

#listingactions {
	font-size:11px;	
}


#mappopup {
	
}

#mappopup small {
	color:#666666;
	font-size:10px;
	font-weight:normal;
}

#mappopup h3 {
	font-size:11px;
	margin-bottom:10px
}

#viewlistingdetailincons {
	margin-bottom:10px	
}

.mc-headers {
	margin-top:30px;
}

ul {
	margin-left:25px;
	margin-bottom:15px;
}











/*
IMAGES
*/

img {
	border:0px;
	padding:0px;
}












/*
MISSION CONTROL NAVIGATION
*/
#mcnav {
	display:block;
	margin:0px;
	background-image:url(/images/controlpanel/headerbg.jpg);
	background-repeat:no-repeat;
	height:49px;
	padding-top:15px;
	padding-left:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
}
#mcnav a {
	color:#fff;
	margin-right:20px;
	text-decoration:none;
}
#mcnav a:active, #mcnav a:visited {
	color:#fff;
}
#mcnav a:hover {
	color:#fff;
	margin-right:20px;
	text-decoration:underline;
}


/*
OLD NO LONGER USED
*/

a.mcindex {
   display: block;
   width: 82px;
   height: 49px;
   background: url("/images/controlpanel/images/nav_02.png");
   float:left;
   margin-left:0px
}
a.mcindex:hover {
   background-position: 0px -49px;
}

a.mcprod {
   display: block;
   width: 66px;
   height: 49px;
   background: url("/images/controlpanel/images/nav_03.png");
   float:left;
   margin-left:0px
}
a.mcprod:hover {
   background-position: 0px -49px;
}

a.mcmess {
   display: block;
   width: 77px;
   height: 49px;
   background: url("/images/controlpanel/images/nav_04.png");
   float:left;
   margin-left:0px
}
a.mcmess:hover {
   background-position: 0px -49px;
}

a.mccredits {
   display: block;
   width: 113px;
   height: 49px;
   background: url("/images/controlpanel/images/nav_05.png");
   float:left;
   margin-left:0px
}
a.mccredits:hover {
   background-position: 0px -49px;
}

a.mcads {
   display: block;
   width: 85px;
   height: 49px;
   background: url("/images/controlpanel/images/nav_06.png");
   float:left;
   margin-left:0px
}
a.mcads:hover {
   background-position: 0px -49px;
}

a.mcbus {
   display: block;
   width: 71px;
   height: 49px;
   background: url("/images/controlpanel/images/nav_07.png");
   float:left;
   margin-left:0px
}
a.mcbus:hover {
   background-position: 0px -49px;
}

a.mcsms {
   display: block;
   width: 96px;
   height: 49px;
   background: url("/images/controlpanel/images/nav_08.png");
   float:left;
   margin-left:0px
}
a.mcsms:hover {
   background-position: 0px -49px;
}

a.mchelp {
   display: block;
   width: 59px;
   height: 49px;
   background: url("/images/controlpanel/images/nav_09.png");
   float:left;
   margin-left:0px
}
a.mchelp:hover {
   background-position: 0px -49px;
}













/*
TABLES
*/

.tdpad5 td {
	padding:5px;
}

.creditbillingtable  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}


.addlistingtable {
	padding-top:5px;
}

.addlisting123 {
	margin-bottom:20px;
}







/*
BLOCKS
*/

.homeads img {
	padding-bottom:5px;
}

#controlpanelnav  {
	padding:3px;
	background-color:#f1ffcb;
	margin-bottom:10px;
	position:absolute;
	margin-left:0px;
	width:490px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	float:left;
}

#controlpanelnav a {
	margin-right:5px;
}

.smallfont  {
	font-size:10px;
}

#listingblock {
	padding:3px;
	border:1px solid #a6ce3a;
	background-color:#f1ffcb;
	margin-bottom:0px;
	width:450px;
	height:50px;
	margin-bottom:10px;
}

#listingblock:hover {
	padding:3px;
	border:1px solid #85ab1d;
	background-color:#f8ffe4;

}
#mclistingblock {
	padding:3px;
	border:1px solid #a6ce3a;
	background-color:#f1ffcb;
	width:250px;
	height:50px;
	margin-bottom:10px;
}

#mclistingblock:hover {
	padding:3px;
	border:1px solid #85ab1d;
	background-color:#f8ffe4;
}

#mclistingblockwide {
	padding:3px;
	border:1px solid #a6ce3a;
	background-color:#f1ffcb;
	margin-bottom:0px;
	width:300px;
	height:50px;
	margin-bottom:10px;
}

#mclistingblockwide:hover {
	padding:3px;
	border:1px solid #85ab1d;
	background-color:#f8ffe4;

}
#mclistingblock-small {
	font-size:11px;
}


#notify-block {
	margin-top:20px
}

#notify-block input {
	margin-right:10px;
	margin-left:10px;
}

#notify-block h3 {
	margin-bottom:15px;
	font-size:16px;
	font-weight: bold;
	color:#647174;
	font-family: Arial;
}



#dash-block {
	margin-top:20px
}

#dash-block input {
	margin-right:10px;
	margin-left:10px;
}

#dash-block h3 {
	margin-bottom:15px;
	font-size:16px;
	font-weight: bold;
	color:#647174;
	font-family: Arial;
}















/*
FORM FIELDS
*/

#register input {
	padding:2px;
}

.listingtextbox {
	height: 100px;
}








/*
LISTING DETAILS
*/

#listing .listing-smallfont {
	font-size:11px;
	color:#444;
	font-family:Arial, Helvetica, sans-serif;
}

#listing h1 small {
	font-size:11px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
}

#actionbar {
	border:solid 1px #467e92;
	background-color:#ebf9ff;
	padding:3px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:11px;
}

#actionbar span {
	margin-right:10px;
}

#actionbar img {
	margin-bottom:-3px;
}

#controlpanelnav img {
	margin-bottom:-3px;
}









/*
MAP & LAYERS
*/


#Layer3 {
	position:absolute;
	left:25%;
	top:25%;
	width:20%;
	height:50%;
	z-index:4;
	background-color: #ECFFFF;
}


#overlayshadow {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	filter:alpha(opacity=60);
}









/*
BUTTONS
*/

/* STANDARD */


button.standard, .buttons a.standard{
    color:#529214;
}
.buttons a.standard:hover, button.standard:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.standard:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}


/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}




/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}












.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;     /* triggers hasLayout */
    display: block;     /* resets display for IE/Win */
}  /* Only IE can see inside the conditional comment
and read this CSS rule. Don't ever use a normal HTML
comment inside the CC or it will close prematurely. */
.clearfix {display: inline-block;}











