

<div id="home-footerwrapper">


<!-- START FOOTER ITEMS -->
<div id="home-footeritems">
	
	<div class="featureditems">
		<h5><%= I18n.t 'txt.k_index.popsearch' %></h5>
		<p>
		<%
		text = " "+I18n.translate('txt.k_index.real_estate')+"<br> "
		%>
		<%= link_to(I18n.translate('txt.province.pattaya')+text, "/pattaya-real-estate") %>
		<%= link_to(I18n.translate('txt.province.bangkok')+text, "/bangkok-real-estate") %>
		<%= link_to(I18n.translate('txt.province.chiang_mai')+text, "/chiang-mai-real-estate") %>
		<%= link_to(I18n.translate('txt.province.phuket')+text, "/phuket-real-estate") %>
		<%= link_to(I18n.translate('txt.province.rayong')+text, "/rayong-real-estate") %>
		<%= link_to(I18n.translate('txt.province.sattahip')+text, "/sattahip-real-estate") %>
		<%= link_to(I18n.translate('txt.province.hua_hin')+text, "/hua-hin-real-estate") %>
		<%= link_to(I18n.translate('txt.province.koh_samui')+text, "/koh-samui-real-estate") %>
		<!--
		
		<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.pattaya')+text, "/pattaya-real-estate") %>
		<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.bangkok')+text, "/bangkok-real-estate") %>
		<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.chiang_mai')+text, "/chiang-mai-real-estate") %>
		<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.phuket')+text, "/phuket-real-estate") %>
		<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.rayong')+text, "/rayong-real-estate") %>
		<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.sattahip')+text, "/sattahip-real-estate") %>
		<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.hua_hin')+text, "/hua-hin-real-estate") %>
		<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.koh_samui')+text, "/koh-samui-real-estate") %>
		-->
		</p>

	</div>
	
	<div class="featureditems">
		<h5><%= I18n.t 'txt.k_index.poprent' %></h5>
		<p>
		<%
		text = " "+I18n.translate('txt.k_index.real_estate_for_rent')+"<br> "
		%>
			
		<%=  link_to(I18n.translate('txt.province.pattaya')+text, "/pattaya-real-estate-for-rent") %>
		<%=  link_to(I18n.translate('txt.province.bangkok')+text, "/bangkok-real-estate-for-rent") %>
		<%=  link_to(I18n.translate('txt.province.chiang_mai')+text, "/chiang-mai-real-estate-for-rent") %>
		<%=  link_to(I18n.translate('txt.province.phuket')+text, "/phuket-real-estate-for-rent") %>
		<%=  link_to(I18n.translate('txt.province.rayong')+text, "/rayong-real-estate-for-rent") %>
		<%=  link_to(I18n.translate('txt.province.sattahip')+text, "/sattahip-real-estate-for-rent") %>
		<%=  link_to(I18n.translate('txt.province.hua_hin')+text, "/hua-hin-real-estate-for-rent") %>
		<%=  link_to(I18n.translate('txt.province.koh_samui')+text, "/koh-samui-real-estate-for-rent") %>
		<!--
		<a href="/maps/pattaya-real-estate">Pattaya Property Map</a> or <a href="/listings/pattaya-real-estate">List<br />
		<a href="/maps/bangkok-real-estate">Bangkok Property Map</a> or <a href="/listings/pattaya-real-estate">List</a><br />
		<a href="/maps/chiangmai-real-estate">Chiang Mai Property Map</a> or <a href="/listings/pattaya-real-estate">List</a><br />
		<a href="/maps/huahin-real-estate">Hua Hin Property Map</a> or <a href="/listings/huahin-real-estate">List</a>
		-->
		</p>
	</div>
	
	<div class="featureditems">
		<h5><%= I18n.t 'txt.k_index.popcondosale' %></h5>
		<p>
			
		<%
		text = " "+I18n.translate('txt.k_index.real_estate_condos_&_apartments')+"<br>"
		%>
		<%=  link_to(I18n.translate('txt.province.pattaya')+text, "/pattaya-condos-apartments") %>
		<%=  link_to(I18n.translate('txt.province.bangkok')+text, "/bangkok-condos-apartments") %>
		<%=  link_to(I18n.translate('txt.province.chiang_mai')+text, "/chiang-mai-condos-apartments") %>
		<%=  link_to(I18n.translate('txt.province.phuket')+text, "/phuket-condos-apartments") %>
		<%=  link_to(I18n.translate('txt.province.rayong')+text, "/rayong-condos-apartments") %>
		<%=  link_to(I18n.translate('txt.province.sattahip')+text, "/sattahip-condos-apartments") %>
		<%=  link_to(I18n.translate('txt.province.hua_hin')+text, "/hua-hin-condos-apartments") %>
		<%=  link_to(I18n.translate('txt.province.koh_samui')+text, "/koh-samui-condos-apartments") %>
		<!--
		<a href="/listings/pattaya-real-estate">Pattaya Condos & Apartments</a><br />
		<a href="/listings/bangkok-real-estate">Bangkok Condos & Apartments<br />
		<a href="/listings/chiangmai-real-estate">Chiang Mai Condos & Apartments</a><br />
		<a href="/listings/phuket-real-estate">Phuket Condos & Apartments</a>
		-->
		
		</p>
	</div>
	
	<div class="featureditems">
		<h5><%= I18n.t 'txt.k_index.popsale' %></h5>
		<p>	
		<%
		text = I18n.translate('txt.k_index.property_for_sale')+" "
		%>
		<%=  link_to(I18n.translate('txt.province.pattaya')+" "+text+'<br>', "/pattaya-property-for-sale") %>
		<%=  link_to(I18n.translate('txt.province.bangkok')+" "+text+'<br>', "/bangkok-property-for-sale") %>
		<%=  link_to(I18n.translate('txt.province.chiang_mai')+" "+text+'<br>', "/chiang-mai-property-for-sale") %>
		<%=  link_to(I18n.translate('txt.province.phuket')+" "+text+'<br>', "/phuket-property-for-sale") %>
		<%=  link_to(I18n.translate('txt.province.rayong')+" "+text+'<br>', "/rayong-property-for-sale") %>
		<%=  link_to(I18n.translate('txt.province.sattahip')+" "+text+'<br>', "/sattahip-property-for-sale") %>
		<%=  link_to(I18n.translate('txt.province.hua_hin')+" "+text+'<br>', "/hua-hin-property-for-sale") %>
		<%=  link_to(I18n.translate('txt.province.koh_samui')+" "+text+'<br>', "/koh-samui-property-for-sale") %>
		
		
		<!--
		<a href="/listings/pattaya-real-estate">Pattaya Condos & Apartments</a><br />
		<a href="/listings/bangkok-real-estate">Bangkok Condos & Apartments<br />
		<a href="/listings/chiangmai-real-estate">Chiang Mai Condos & Apartments</a><br />
		<a href="/listings/phuket-real-estate">Phuket Condos & Apartments</a>
		-->
		</p>
	</div>
<!--
	<div class="homefeatureditems">
		<h5>Agencies</h5>
		<p><a href="/property-for-sale-pattaya">Real Estate Agents</a><br />
		<a href="/property-for-sale-bangkok">Property for sale Bangkok</a><br />
		<a href="/property-for-sale-chiang-mai">Property for sale Chiang Mai</a><br />
		<a href="/property-for-sale-phuket">Property for sale Phuket</a><br />
		<a href="/property-for-sale-rayong">Property for sale Rayong</a><br />
		<a href="/property-for-sale-sattahip">Property for sale Sattahip</a><br />
		<a href="/property-for-sale-hua-hin">Property for sale Hua Hin</a></p>
	</div>
-->
	
	<div class="featureditems">
		
	</div>
</div><br clear="all" /><br clear="all" />

<!-- END FOOTER ITEMS -->

<!--
	<div style="padding:10px;">
	
		<h5>Residential Real Estate</h5>
		<p>Pattaya real estate  |  Bangkok real estate  |  Chiang Mai real estate  |  Phuket real estate  |  Hua Hin real estate  |  Rayong real estate  |  
		Sattahip real estate</p>
		
	</div>
-->

</div>

