<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>

<!-- SEO -->
<%@page_title = "About REThai"%>
<%@page_desc = "About REThai.com - Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand."%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->

<h1>About Us</h1>

<h2>What is REThai.com?</h2>
<p>REThai.com is a real estate search engine that helps you  find homes, apartments and condos for sale in Thailand.<br>
  We’re <strong>not</strong> an  agency, and we <strong>don’t</strong> take any  commissions if you sell your listing. You are responsible for your listing, any  enquiries come directly to you and you talk directly to anyone who contacts  you.</p>
<h2>What we aren’t</h2>
<p>We&nbsp;<strong>ARE NOT</strong>&nbsp;brokers or agents. We are not looking to make a commission on your  real estate transaction. We will not sell your personal information. </p>
<h2>How we make money</h2>
<p>We make our money through advertising. </p>

<br clear="all" />
