<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>

<!-- SEO -->
<%@page_title = "Advertise on REThai.com - Thailand Property Marketing Solutions"%>
<%@page_desc = "Real Estate Property Marketing in Thailand - Agency listings, Property developments -  We have marketing solutions for everything property related."%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->

<!--
<h1>Advertise on REThai.com</h1>
<p>For information on <strong>commercial advertising</strong> with REThai.com, please  fill out the form below.</p>
<p>Or you can email us direct at <a href="mailto:advertise@rethai.com">advertise@rethai.com</a></p>
<h2>If you want to <strong>sell or rent your property</strong>, <a href="/rethai/new" style="text-transform:uppercase"><strong>click here to add your listing</strong></a>.</h2>
-->

	<div>
		<a href="#contact"><img src="/images/marketing-header.png" /></a>
	</div>

<style>
<!--
	.admidblocks p {
		line-height:19px;
	}

	.admidblocks li {
		list-style: disc; 
		margin-left:15px;
		margin-bottom:3px;
	}
	html,body { 
height: 100%; 
} 
div.admidblocks { 
height: 100%; 
} 
-->
</style>

<div class="admidblocks" height="1000px;">
	<div style="float:left;width:290px;background-color:#b51e43;padding:0px;color:#fff;margin:20px;">
	
		<div style="width:260px;background-color:#b51e43;padding:15px;color:#fff;margin:0px;height:160px">
			<h2 style="color:#fff;font-size:28px;line-height:32px;">Online & Offline Advertising</h2>
			<p>REThai.com offers you more low cost and high visibility ways to market your business and property than any other property marketing solution</p>
		</div>
		
		<div style="width:260px;background-color:#f3e6e9;padding:15px;color:#000;">
			<h3 style="color:#b51e43;font-size:20px;line-height:32px;">Our Brand Building products</h3>
			<ul>
				<li>Online Local Ad Targeting</li>
				<li>REThai.com Home page Banners</li>
				<li>Magazine Front & Back Covers</li>
				<li>Magazine Front Cover Billboard</li>
				<li>Magazine Inside Front & Back Covers</li>
				<li>Magazine Internal Page Ads</li>
				<li>Email Newsletter</li>
				<li>Featured Property Developments</li>
			</ul>
			<br clear="all" />
			<h3 style="color:#b51e43;font-size:20px;line-height:32px;">Our Active Buyer products</h3>
			<ul>
				<li>Online Listings</li>
				<li>Magazine Listings</li>
				<li>REThai.com Virtual</li>
				<li>Email Newsletter</li>
			</ul>
		</div>
		
	</div>


	<div style="float:left;width:290px;background-color:#8b9426;padding:0px;color:#fff;margin:20px;">
	
		<div style="float:left;width:260px;background-color:#8b9426;padding:15px;color:#fff;margin:0px;height:160px">
			<h2 style="color:#fff;font-size:28px;line-height:32px;">Spend less get more</h2>
			<p>We print 5,000 copies of the REThai.com magazine every month, the REThai.com website receives over 10,000 visitors monthly and growing fast – we deliver more eyes to your advertising at up to half the cost of our competitors.</p>
		</div>
		
		<div style="float:left;width:260px;background-color:#eceed8;padding:15px;color:#000;margin:0px;">
			<h2 style="color:#8b9426;font-size:20px;line-height:32px;">Low cost marketing</h2>
			<p>Any businesses can add a full page full color advert in the REThai.com magazine for as little as <strong>4,500 THB per month</strong>.</p>
			<p>Agencies and Developers can add listings to the REThai.com magazine and website for only <strong>3,000 THB per page</strong>, monthly.</p>
			<p>If you are an agency, we can automatically import every listing from your website every day so you never need to add a listing manually to REThai.com. Listings on REThai.com are also syndicated to over 20 other websites and partner sites, exposing them to over 70,000 views monthly.</p>
		</div>	
		
	</div>





	<div style="float:right;width:250px;background-color:#f1f1f2;margin:20px;padding:15px;">
		<h2 style="color:#000;font-size:28px;line-height:32px;">Reach more customers in more places</h2>
		<p>It takes different ways to reach different customers.
That’s why REThai.com continues to evolve to give
you more ways to connect with those customers.
Today, a REThai.com listing is all about making your
property work hard and reach as many of the right
people as it can.
With the REThai.com Search Network, we have
made it our business to put your business in front
of more people.</p>
<br><br>
		<h2 style="color:#000;font-size:20px;line-height:26px;">Online and Offline Marketing in one package</h2>
		<p>The benefit of a subscription is to leverage online
and offline marketing at a low cost with minimal
work required.</p>
<p>By joining our Gold subscription plan we can
automatically import all your listings for online
exposure across our online network of sites and
partners, and you can choose up to 24 to also be
published in our print magazine every month.</p>
<p>That’s exposure to tens of thousands of people
online and offline, and two full pages in our print
magazine, all at a cost lower than one half page in
our competitors magazines!</p>
	</div>



<br clear="all" />
	<div style="width:620px;background-color:#f0e2d2;padding:0px;color:#fff;margin:-180px 20px 20px 20px;height:160px;"><a name="contact"></a>
	
		<div style="float:left;width:260px;background-color:#de851a;padding:15px;color:#fff;margin:0px;height:130px;">
			<h2 style="color:#fff;font-size:28px;line-height:32px;">Get started today</h2>
			<p>To place a print or online advertisement, or to discuss marketing options, email <a href="mailto:sales@rethai.com" style="color:#fff">sales@rethai.com</a> or call our sales department on 08 682 99021.</p>
		</div>
		
		<div style="float:right;width:260px;background-color:#f0e2d2;padding:15px;color:#000;margin:0px;height:130px">
			<h2 style="color:#de851a;font-size:28px;line-height:32px;">Download our Marketing Brochure</h2>
			<p><a href="/MarketingOptions.pdf" style="color:#000">Click here</a> to learn more about our subscriptions, and marketing options.</p>
		</div>

	</div>


<div style="width:500px;margin-left:20px">
<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var r7x3a7 = new WufooForm();
r7x3a7.initialize({
'userName':'rethai', 
'formHash':'r7x3a7', 
'autoResize':true,
'height':'511'});
r7x3a7.display();
</script>
</div>
<br clear="all" />

</div>








