<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>

<!-- SEO -->
<%@page_title = "Contact REThai.com"%>
<%@page_desc = "Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->

<h1>Contact Us</h1>


<p>We are <strong>NOT</strong> a real estate agency. We do <strong>NOT</strong> charge commissions for any listing sales.</p>
<p>We are a real estate search engine.</p>
<h2>Adding a listing</h2>
<p>If you want to sell or rent out your property, you can add your  property for people to find. <a href="http://gearbox:3300/rethai/new">Click  Here to add a listing</a>.</p>
<h2>Problems &amp;  Support</h2>
<p>If you are having any issues with the website, or you have a question,  email <a href="mailto:support@rethai.com">support@rethai.com</a></p>
<h2>Advertising</h2>
<p>For  advertising online and offline advertising enquiries, email <a href="mailto:sales@rethai.com">sales@rethai.com</a></p>
<h2>Agencies &amp; Developers</h2>
<p>If you are in need of any specific marketing campaign  design, or general questions email <a href="mailto:talk@rethai.com">talk@rethai.com</a></p>
<h2>All other enquiries</h2>
<p>Any other questions or comments, please email <a href="mailto:talk@rethai.com">talk@rethai.com</a></p>



 
<br clear="all" />
