<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>

<!-- SEO -->
<%@page_title = "FAQ - Real Estate Thailand"%>
<%@page_desc = "REThai.com Frequently Asked Questions - Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->


<h1>FAQ</h1>
<p>If you are an agent or developer please go <a href="http://rethai.com/index/foragents">here.</a>  </p>

<h2><strong>What is rethai.com?</strong></h2> 
<p>A real estate search tool, or as other people would describe it, a real estate search engine.  Our service aims to pull listings from Agencies so when you are looking to buy or  rent property in Thailand, you have one easy place to compare what is available.</p>
<h2><strong>Are you a real estate agency?</strong></h2> 
<p><strong>NO.</strong> We aren’t a real estate agency, nor do we act on behalf of any agency. We are an startup company in Thailand specializing in improving real estate search.</p>
<h2><strong>Do you take / make commissions on property sales?</strong></h2>
<p>NO. Our revenue model is based around advertising and subscriptions. Not commissions.</p>
<h2><strong>I would like to add a Thai property for rent or sale, can I?</strong></h2>
<p>Yes, just <a href="http://www.rethai.com/rethai/new">click here</a> and fill out the 2 step form.  We currently support for sale by owner and for rent by owner listings.</p>
<h2><strong>Where do your listings come from?</strong></h2> 
<p>Mostly our listings come from real estate agents and developers. Some come from private individuals. </p>


<p>&nbsp;</p>



 
<br clear="all" />
