<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>

<!-- SEO -->
<%@page_title = "Property Advertising For Real Estate Agents, Agencies and Developers"%>
<%@page_desc = "Real Estate Thailand. Low Cost - Cheap - Property Advertising & Marketing For Real Estate Agents, Agencies and Developers. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->


<link rel="stylesheet" href="/javascripts/coda-slider.css" type="text/css" media="screen" title="no title" charset="utf-8"> 
<script src="/javascripts/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.localscroll-1.2.5.js" type="text/javascript"></script>
<script src="/javascripts/jquery.serialScroll-1.2.1.js" type="text/javascript"></script>
<script src="/javascripts/coda-slider.js" type="text/javascript" charset="utf-8"></script> 




<style>
<!--
	.admidblocks p {
		line-height:19px;
	}

	.admidblocks li {
		list-style: disc; 
		margin-left:15px;
		margin-bottom:8px;
	}

	.rotatornav {
		color:#6E6E6E;
		font:bold 15px/29px Arial,Helvetica,sans-serif;
	}





h2 {
color:#FF620D;
font:23px/26px Arial,Helvetica,sans-serif;
}

#navigation {
	position: relative;
	z-index:99;
	padding: 0 0 0 30px;
	color: #6e6e6e;
	font: bold 15px/29px Arial, Helvetica, sans-serif;
	overflow:hidden;
	width:960px;
}
#navigation li a {
	color:#0C4976;
}
#navigation strong {
	float: left;
	padding-right: 9px;
}
#navigation ul {
	float: left;
	white-space:nowrap;
}
#navigation li {
	float: left;
	clear:right;
	padding: 0 13px;
}
#navigation a {
	float: left;
	cursor: pointer;
	text-decoration: none !important;
}
#navigation span {
	float: left;
	background: url('/images/underline.gif') repeat-x 0 23px;
}
#navigation li.active {
	background: url('/images/bg-active.gif') no-repeat 50% 0;
	padding: 0;
}
#navigation li.active a {
	background: url('/images/bg-active-left.gif') no-repeat;
}
#navigation li.active span {
	padding: 0 13px 10px;
	background: url('/images/bg-active-right.gif') no-repeat 100% 0;
}
.txt ul {
	margin: 8px 0;
}
.txt li {
	height:auto;
	position:static;
	font: 15px/19px Arial, Helvetica, sans-serif;
	padding: 5px  0 5px 15px;
	color: #242424;
	background: url('/images/bullet.gif') no-repeat 1px 11px;
}
.sliderright {
	float:right;
	width:530px;
}

.aglist ul {
	margin: 10px 0px 15px 20px;
}
.aglist li {
	list-style-type:disc;
	margin-bottom:2px;
}


-->
</style>
<script language="JavaScript" type="text/javascript">
/*<![CDATA[*/
var Lst;

function CngClass(obj){
 if (Lst) Lst.className='';
 obj.className='active';
 Lst=obj;
 
}

/*]]>*/
</script>



<div id="navigation">
	
    <strong>Learn more about our benefits for Agencies:</strong>
    
    <ul id="tabs">
    	<li onclick="CngClass(this);"><a href="#1"><span>50% Cheaper</span></a></li>
    	<li onclick="CngClass(this);"><a href="#2"><span>Online Marketing</span></a></li>
    	<li onclick="CngClass(this);"><a href="#3"><span>Offline Marketing</span></a></li>
    	<li onclick="CngClass(this);"><a href="#4"><span>Business Subscriptions</span></a></li>
    </ul>
	
</div>

<br clear="all" />



        <div id="slider">
 
 
 
 
 
            <div class="scroll">
                <div class="scrollContainer">
	                <div class="panel" id="1">
	                	<img src="/images/agency1.jpg" style="margin-top:-10px;" />
						<div class="sliderright">
		                	<h2>All of your online and offline marketing in one place</h2>
							<ul class="txt">
								<li>Over 50% cheaper than any other marketing solution</li>
								<li>Two full pages of print advertising, all your listings online, your agency featured on our homepage and search results and a listing featured in our monthly email to customers for only 3,000thb</li>
								<li>Your listings seen by thousands of visitors online and offline in our magazine</li>
								<li>Automatic importing of all your listings from your website &mdash; no work required</li>
							</ul>
						</div>
					</div> 
	                <div class="panel" id="2">
	                	<img src="/images/agency2.jpg" style="margin-top:-10px;" />
						<div class="sliderright">
		                	<h2>Tens of thousands of people searching</h2>
							<ul class="txt">
								<li>We import all of your listings from your website every day &mdash; automatically</li>
								<li><strong>Your listings can also be found on our search partner sites </strong>
								<br>We have multiple search partners such as <a href="http://www.rethai.com/pattayaone" target="_blank">Pattaya One News</a> who receive over 90,000 visitors monthly</li>
								<li>Featured agency advertisements free on our homepage and search results</li>
								<li>Your listings automatically syndicated to over 20 other SEO websites</li>
							</ul>
						</div>
					</div> 
	                <div class="panel" id="3">
	                	<img src="/images/agency3.jpg" style="margin-top:-10px;" />
						<div class="sliderright">
		                	<h2>Low cost print marketing done right</h2>
							<ul class="txt">
								<li>2 full pages of your listings in our magazine for only 3,000 thb</li>
								<li>Print runs of 5,000 or more ensuring maximum exposure</li>
								<li>Distributed to cafe's, 5-star hotels, popular markets and other high traffic areas</li>
								<li>Magazine also available online for people to read</li>
								<li>No design required, click-to-add your listings in seconds via our control panel</li>
							</ul>
						</div>
					</div> 
	                <div class="panel" id="4">
	                	<img src="/images/agency4.jpg" style="margin-top:-10px;" />	                	
						<div class="sliderright">
		                	<h2>Online and Offline in one affordable package</h2>
							<ul class="txt">
								<li>An agency business subscription contains all our features and offerings in one low cost package</li>
								<li>Subscriptions start at 3,000 thb and new agencies receive a 50% first month discount</li>
								<li>One to four full pages of your listings in our magazine included in the subscriptions</li>
								<li>Upgrade your listings to the top of the search results</li>
							</ul>
						</div>
					</div> 
                </div>
            </div>

        </div>

<div style="border-top:3px solid #89cadd; background-color:#dbebf0;border-bottom:1px #b9ccd1 solid;padding:10px;width:960px;">

	<div style="width:310px;margin-right:15px;float:left;" class="aglist">
		<h2 style="color:#444">Silver Subscription</h2>
		<p>A 3,000thb Silver Subscription includes:</p>
		<ul>
			<li>250 listings online</li>
			<li>5 featured listings</li>
			<li>Featured agency advert</li>
			<li>12 listings (1 page) in our magazine</li>
		</ul>
		<p><strong>First month 50% Discount!</strong></p>
	</div>
	
    <div style="width:310px;margin-right:15px;float:left;" class="aglist">
		<h2 style="color:#444">Gold Subscription</h2>
		<p>A 6,000thb Silver Subscription includes:</p>
		<ul>
			<li>1,000 listings online</li>
			<li>Automatic import of all your listings</li>
			<li>12 featured listings</li>
			<li>1 listing featured in our email marketing</li>
			<li>24 listings (2 pages) in our magazine</li>
		</ul>
		<p><strong>First month 50% Discount!</strong></p>
    </div>
        
    <div style="width:290px;float:right" class="aglist">
		<h2 style="color:#444">Custom Packages</h2>
		<p>Don't want print advertising? or maybe 1 page not two? We can swap a page of print for an online banner advert to extend your online marketing.</p>
		<p>We're flexible and able to build a cost effective plan to suit your business needs.</p>
    </div>
	<br clear="all" />
</div>


	<br clear="all" />


<div>
	<div style="float:left;width:380px;"><a name="a1contact"></a>
	
	<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
var w7x2r7 = new WufooForm();
w7x2r7.initialize({
'userName':'rethai', 
'formHash':'w7x2r7', 
'autoResize':true,
'height':'514'});
w7x2r7.display();
</script>
	</div>
	
	
	<div style="float:right;width:580px;">
		<h1>Real Estate Agencies that use REThai.com include:</h1>
		<p>REThai.com is the fastest-growing real estate marketing solution in Thailand.</p>
		<img src="/images/agencylogos.jpg">
	</div>
</div>













<br clear="all" /><br clear="all" />



</div>