<%= render :partial => "/listings/partner/rethai_clean_header" %>



<!-- SEO -->
<%
@page_title = I18n.translate('txt.k_index.page_title')
@page_desc = I18n.translate('txt.k_index.page_desc')
@page_keywords = I18n.translate('txt.k_index.page_keywords')
%>

<!-- // END SEO -->




	<%= javascript_include_tag :defaults %> 
	<script src="/javascripts/kendio.js" type="text/javascript"></script>
	<script type="text/javascript">
			
if(window.addEventListener){
	window.addEventListener( "load", set_bg_img, false );
} else {
	window.attachEvent( "onload", set_bg_img );
}
//	window.attachEvent( "onload", set_bg_img );
	function set_bg_img(){
		images = new Array(13);

			images[0] = "/images/bg-search1.jpg";
			images[1] = "/images/bg-search2.jpg";
			images[2] = "/images/bg-search3.jpg";
			images[3] = "/images/bg-search4.jpg";
			images[4] = "/images/bg-search5.jpg";
			images[5] = "/images/bg-search6.jpg";
			images[6] = "/images/bg-search7.jpg";
			images[7] = "/images/bg-search8.jpg";
			images[8] = "/images/bg-search10.jpg";
			images[9] = "/images/bg-search11.jpg";
			images[10] = "/images/bg-search12.jpg";
			images[11] = "/images/bg-search13.jpg";
			images[12] = "/images/bg-search14.jpg";
			index = Math.floor(Math.random() * images.length);

			document.getElementById('home-search').style.background="url("+images[index]+")";
		
	}
		function setaction(iaction){
			if(iaction =='list'){
				document.searchform.action="/rethai/search";	
			}else{
				document.searchform.action="/index/createsession";
			}
			
			document.searchform.submit();
		}
	</script>
	
	
	
	
	<%= render :partial => "/listings/partner/rethai_nav" %>
	




	

		<!-- RIGHT SIDEBAR -->

		<div id="home-right-boxes">
			<a href="/rethai/new"><img src="/images/joinfree-homebox.png" /></a>
			

			
			
			<div class="whatisrethai">
				<img src="/images/header-whatsrethai.png" />
				<ul>
					<!--
					<li>We are <strong>not</strong> an agency &mdash; our system is designed <a href="/index/foragents"><strong>for</strong> agencies, developers</a> and individuals</li>
					<li>We are a Real Estate portal for <strong>anyone</strong> to advertise their property listing</li>
					<li>An easy place to find property</li>
					<li>There are <strong>No sales commissions</strong> or hidden fees</li>
					<li>Anyone can add listings</li>
					<li>Agencies can add and manage hundreds of listings and view advanced statistics and data</li>
					<li>Find property in a <a href="/pattaya-real-estate">list</a> or by <a href="/maps/pattaya-real-estate">map</a></li>
					-->
					<li><%= I18n.t 'txt.k_index.whatrethai1',
							:agentslink => link_to(I18n.translate('txt.k_index.agencies').downcase + ", "+I18n.translate('txt.k_index.developmentlink').downcase , "/index/foragents/") %></li>
					<li><%= I18n.t 'txt.k_index.whatrethai2' %></li>
					<li><%= I18n.t 'txt.k_index.whatrethai3' %></li>
					<li><%= I18n.t 'txt.k_index.whatrethai4' %></li>
					<li><%= I18n.t 'txt.k_index.whatrethai5' %></li>
					<li><%= I18n.t 'txt.k_index.whatrethai6' %></li>
					<li><%= I18n.t 'txt.k_index.whatrethai7',
							:listling => link_to(I18n.translate('txt.k_index.list'), "/pattaya-real-estate/"),
							:maplink => link_to(I18n.translate('txt.k_index.map'), "/maps/pattaya-real-estate/")%></li>
				</ul>
			</div>
			

<br clear="all" />
<div style="padding:0px;">
	<!-- Homepage-Sidebar -->
	<script type='text/javascript'>
	GA_googleFillSlot("Homepage-Sidebar");
	</script>
</div>


			
<div id="homeregister">
<img src="/images/header-subscribe.png" />
<div style="padding:10px;">
<script type="text/javascript">
			function newuserform(){
		if(document.getElementById('user2_FirstName').value ==""){alert('Please Enter First Name'); document.getElementById('user2_FirstName').focus();return false;}
		else if(document.getElementById('user2_Email').value ==""){alert('Please Enter Email'); document.getElementById('user2_Email').focus();return false;}
		else{
			document.newuser.action="/users/create";
			document.newuser.submit();
		}
	}
</script>
		<p>Be the first to hear about new services, special listings, discounts, and more with our monthly newsletter</p>

		<form name="newuser" id="newuser"><!-- action="/users/create" -->
		<input type="hidden" name="myredirect" 		id="myredirect" 	value="/index/subscribethanks" />
		<input type="hidden" name="partner_name" 	id="partner_name" 	value="/listings/" />
		<input type="hidden" name="user2[partner]" 	id="partner" 		value="newsletter"/>
		
			<table width="100%">
				<tr>
					<td width="50%">First Name:</td>
					<td><%=text_field 'user2','FirstName' %></td>
				</tr>

				<tr>
					<td>Email:</td>
					<td valign="top">
						<%=text_field 'user2','Email'%>
						<span id="validateemail">
							<input type="hidden" name="checkemail" id="checkemail" value="0"/>
						</span>
						 <%= observe_field(:user2_Email,
                        		:on => :changed,
								:method => :get,
                        		:update => :validateemail,
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; ",
                        		:url => { :controller=>'products',:action => 'validateemail'},
								:with => "'code='+escape($('user2_Email').value) ") %>
		   
					</td>
				</tr>

						<input name="user2[UserType]" type="hidden" value="p" id="user2_UserType_1" checked="checked" style="margin-right:5px" />

				<tr>
					<td></td>
					<td colspan="10"><br />
	
			<a href="#" onclick="return newuserform();"  /><img src="/images/button-subscribe.png"></a>

					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
		


<br>
<iframe src="http://www.facebook.com/plugins/likebox.php?id=108530485850909&amp;width=240&amp;connections=8&amp;stream=false&amp;header=false&amp;height=270" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:270px;" allowTransparency="true"></iframe>


<!--	<div id="homenewfeat">
		
	<img src="/images/home-newfeat.png" />
	<div style="padding:10px;">
		<p>We have even more new features in development – such as our  upcoming Real Estate Magazine!</p>
		<p>Along with more images for listings, and Virtual Tours...</p>
	</div>
	</div>
-->

			
		</div>
<!-- // END RIGHT CONTENT -->

		<!-- LEFT CONTENT -->

		<div id="home-left">
			<div id="home-search">
				<h1><%=I18n.translate('txt.listingtype.head')%></h1>

<!-- START SEARCH FORM -->
<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
%>	

<div id="searchtable">
	<form name="searchform" id="searchform" method="post">
<table width="400">
  <tr>
    <td ><%=I18n.translate('txt.listingtype.i-want-to')%>:</td>
    <td><%=I18n.translate('txt.listingtype.propertytype')%>:</td>
    <td><%=I18n.translate('txt.listingtype.city')%>:</td>
  </tr>
  <tr>
    <td><select name="salerent" id="salerent" >
			<option value="2" <%if session[:salerent].to_s =="2"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy-rent')%>&nbsp;&nbsp;</option>
			<option value="1" <%if session[:salerent].to_s =="1"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.buy')%>&nbsp;&nbsp;</option>
			<option value="0" <%if session[:salerent].to_s =="0"%> selected="selected" <%end%> ><%=I18n.translate('txt.listingtype.rent')%>&nbsp;&nbsp;</option>
	</select></td>
    <td><select name="propertytype" id="propertytype">
			<%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
			<option value="0" selected="selected"><%=I18n.translate('txt.listingtype.listingtype')%></option>
			<%for lt in listingtypes%>
			<%
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							
						#while showlistingtype["--"]				
							#showlistingtype["--"] =" / "		
						#end
			%>
			<option value="<%=lt.Value%>" <%if session[:propertytype].to_s == lt.Value.to_s %> selected="selected" <%end%>><%=showlistingtype%></option>
			<%end%>
	</select></td>
    <td>
    	<input id="code" name="code" size="15" type="text" value="<%=session[:location]%>"  style="width:120px;" onkeydown="if(event.keyCode == 13)setaction('list');"/><div class="auto_complete" id="code_detail"></div>
		<script type="text/javascript">
		//<![CDATA[
		var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+document.getElementById('code').value }, method:'get', paramName:'code'})
		//]]>
		</script></td>
  </tr>
</table>
<table width="500" >
  <tr>
    <td><%=I18n.translate('txt.listingtype.price')%> <%=I18n.translate('txt.listingtype.from')%>:</td>
    <td><%=I18n.translate('txt.listingtype.to')%>:</td>
    <td><%=bedroom%>:</td>
    <td><%=I18n.translate('txt.listingtype.to')%>:</td>
    <td><%=bathroom%>:</td>
  </tr>
  <tr>
    <td><input type="text" name="tfprice" id="tfprice"  onkeyup="this.value=formatCurrency(this.value,'fprice');if(event.keyCode == 13){ setaction('list');}"onblur="this.value=formatCurrency(this.value,'fprice');" style="width:75px;" /></td>
    <td><input type="text" name="ttprice" id="ttprice"  onkeyup="this.value=formatCurrency(this.value,'tprice');if(event.keyCode == 13){ setaction('list');}" onblur="this.value=formatCurrency(this.value,'tprice');" style="width:75px;" /><input type="hidden" name="fprice" id="fprice" /><input type="hidden" name="tprice" id="tprice" /></td>
    <td><select name="bed" id="bed">
			<option value=""><%=txtany%></option>
			<option value="0" <%if session[:bed].to_s == "0"%> selected="selected" <%end%>><%=mystudio%></option>
			<option value="1" <%if session[:bed].to_s == "1"%> selected="selected" <%end%>>1</option>
			<option value="2" <%if session[:bed].to_s == "2"%> selected="selected" <%end%>>2</option>
			<option value="3" <%if session[:bed].to_s == "3"%> selected="selected" <%end%>>3</option>
			<option value="4" <%if session[:bed].to_s == "4"%> selected="selected" <%end%>>4</option>
			<option value="5" <%if session[:bed].to_s == "5"%> selected="selected" <%end%>>5</option>
			<option value="6" <%if session[:bed].to_s == "6"%> selected="selected" <%end%>>6+</option>
	</select></td>
    <td><select name="bed2" id="bed2">
			<option value=""><%=txtany%></option>
			<option value="0" <%if session[:bed2].to_s == "0"%> selected="selected" <%end%>><%=mystudio%></option>
			<option value="1" <%if session[:bed2].to_s == "1"%> selected="selected" <%end%>>1</option>
			<option value="2" <%if session[:bed2].to_s == "2"%> selected="selected" <%end%>>2</option>
			<option value="3" <%if session[:bed2].to_s == "3"%> selected="selected" <%end%>>3</option>
			<option value="4" <%if session[:bed2].to_s == "4"%> selected="selected" <%end%>>4</option>
			<option value="5" <%if session[:bed2].to_s == "5"%> selected="selected" <%end%>>5</option>
			<option value="6" <%if session[:bed2].to_s == "6"%> selected="selected" <%end%>>6+</option>
	</select></td>
    <td width="130"><select name="bath" id="bath">
			<option value=""><%=txtany%></option>
			<option value="1" <%if session[:bath].to_s == "1"%> selected="selected" <%end%>>1</option>
			<option value="2" <%if session[:bath].to_s == "2"%> selected="selected" <%end%>>2</option>
			<option value="3" <%if session[:bath].to_s == "3"%> selected="selected" <%end%>>3</option>
			<option value="4" <%if session[:bath].to_s == "4"%> selected="selected" <%end%>>4</option>
			<option value="5" <%if session[:bath].to_s == "5"%> selected="selected" <%end%>>5+</option>
	</select></td>
  </tr>
</table>
<table width="600" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td>
        <div class="home-search-buttons">
        	<a href="#" onclick="setaction('list');"><img src="/images/button-search.png" width="89" height="40">
			<a href="#" onclick="setaction('map');"><img src="/images/button-map.png" width="93" height="40" class="seach-map-button"></a>
		</div>
    </td>
  </tr>
</table>
</form>
</div>

		<!-- // END SEARCH FORM -->
				
				
			</div>
			

<!-- START FEATURED ITEMS -->
<div id="home-featureitems">
	
	<div class="featureditems">
		<h2><%= I18n.t 'txt.k_index.findrealestate' %></h2>
		<img src="/images/home-img3.jpg" />
		
			<div style="width:110px;float:left">
				<p><strong><%= I18n.t 'txt.k_index.viewmap' %></strong></p>
				<p style="margin-left:10px;margin-top:-10px;font-size:12px;">
				<%= link_to(I18n.translate('txt.province.bangkok')+'<br>', "/maps/bangkok-real-estate")%>
				<%= link_to(I18n.translate('txt.province.pattaya')+'<br>', "/maps/pattaya-real-estate") %>
				<%= link_to(I18n.translate('txt.province.chiang_mai')+'<br>', "/maps/chiangmai-real-estate") %>
				<%= link_to(I18n.translate('txt.province.hua_hin')+'<br>', "/maps/huahin-real-estate") %>
				<%= link_to(I18n.translate('txt.province.rayong')+'<br>', "/maps/rayong-real-estate") %>
				<%= link_to(I18n.translate('txt.province.sattahip')+'<br>', "/maps/sattahip-real-estate") %>
				<%= link_to(I18n.translate('txt.province.phuket')+'<br>', "/maps/phuket-real-estate") %>
			<!--	<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.bangkok')+'<br>', "/maps/bangkok-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.pattaya')+'<br>', "/maps/pattaya-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.chiang_mai')+'<br>', "/maps/chiangmai-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.hua_hin')+'<br>', "/maps/huahin-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.rayong')+'<br>', "/maps/rayong-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.sattahip')+'<br>', "/maps/sattahip-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.phuket')+'<br>', "/maps/phuket-real-estate") %>
			-->	
				</p>
			</div>
			
			<div style="width:110px;float:right">
				<p><strong><%= I18n.t 'txt.k_index.viewlist' %></strong></p>
				<p style="margin-left:10px;margin-top:-10px;font-size:12px;">
				
				<%= link_to(I18n.translate('txt.province.bangkok')+'<br>', "/bangkok-real-estate") %>
				<%= link_to(I18n.translate('txt.province.pattaya')+'<br>', "/pattaya-real-estate") %>
				<%= link_to(I18n.translate('txt.province.chiang_mai')+'<br>', "/chiang-mai-real-estate") %>
				<%= link_to(I18n.translate('txt.province.hua_hin')+'<br>', "/hua-hin-real-estate") %>
				<%= link_to(I18n.translate('txt.province.rayong')+'<br>', "/rayong-real-estate") %>
				<%= link_to(I18n.translate('txt.province.sattahip')+'<br>', "/sattahip-real-estate") %>
				<%= link_to(I18n.translate('txt.province.phuket')+'<br>', "/phuket-real-estate") %>
				<!--
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.bangkok')+'<br>', "/bangkok-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.pattaya')+'<br>', "/pattaya-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.chiang_mai')+'<br>', "/chiang-mai-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.hua_hin')+'<br>', "/hua-hin-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.rayong')+'<br>', "/rayong-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.sattahip')+'<br>', "/sattahip-real-estate") %>
				<%= I18n.t 'txt.k_index.fr_link',:frlink => link_to(I18n.translate('txt.province.phuket')+'<br>', "/phuket-real-estate") %>
				-->
				</p>
			</div>
	</div>
	
	<div class="featureditems">
		<h2><%= I18n.t 'txt.k_index.perfect_house' %></h2>
		<img src="/images/home-img2.jpg" />
		<%= I18n.t 'txt.k_index.ph_text',
							:listling => link_to(I18n.translate('txt.k_index.list'), "/pattaya-real-estate/"),
							:maplink => link_to(I18n.translate('txt.k_index.map'), "/maps/pattaya-real-estate/") %>
	</div>
	
	<div class="featureditems">
		<h2><%= I18n.t 'txt.k_index.property_free' %></h2>
		<img src="/images/home-img1.jpg" />
		<%= I18n.t 'txt.k_index.pf_text',
				:addlistinglink => link_to(I18n.translate('txt.k_index.addlistinglink'), "/rethai/new"),
				:agentslink => link_to(I18n.translate('txt.k_index.agentslink'), "/index/foragents"),
				:developmentlink => link_to(I18n.translate('txt.k_index.developmentlink'), "/index/foragents") %>
	</div>


</div>
<!-- END FEATURED ITEMS -->


<br clear="all" />

<div style="padding:10px 0;">
	<!-- Homepage-Leaderboard -->
	<script type='text/javascript'>
	GA_googleFillSlot("Homepage-Leaderboard");
	</script>
</div>



<!-- START FEATURED LISTING ITEMS -->
<div id="home-featureitems">
	

<!--=========================  Homepae Feature  ====================================================================-->	
	<div class="featureditems">
		<h2>Featured Properties</h2>
		
<%
home_listings = Product.find(:all,:conditions=>"HomepageFeatured = '1' and Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)",:order=>"RAND()",:limit=>"3")
for h_listing in home_listings

 #get listing type
			        listingtype =" "
			        if h_listing.Type.to_s != '0' and h_listing.Type.to_s != "" and h_listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{h_listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							seo_listingtype = showlistingtype
						while seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end
						#while seo_listingtype[" "]				
							#seo_listingtype[" "] ="-"
						#end
			              break
			            end
			          end
			        end  
			        if h_listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = h_listing.Bed + " " + bedroom
			        end
			        city = ""
					if h_listing.City.to_s !="" and h_listing.City.to_s !="0" and h_listing.City != nil
						city = "#{h_listing.City}"
						showcity = "txt.province.#{h_listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

					salerent = ""
			       	if h_listing.salerent.to_s == '1'  # sale
						salerent = "Sale" 
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			        elsif h_listing.salerent.to_s == '0' # rent
						salerent = "Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
			        else  # sale / rent
						salerent = "Sale or Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
			        end #end if @h_listing.salerent
						seosalerent = salerent	
						while seosalerent[" "]				
							seosalerent[" "] = "-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)

			   myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{h_listing.id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:thumb)}"
					break
			    end
				
				ft_link="/rethai/#{showcity}-#{lsalerent}-#{seo_listingtype}-#{h_listing.id}"
				begin
					if h_listing.titlelink.to_s !=""
						ft_link = "/rethai/#{h_listing.titlelink}-#{h_listing.id}"
					end
				rescue
				end
%>
		<div class="home-featblocks">
			<a href="<%=ft_link.gsub(/\//,'-')%>"><img src="<%=myimages%>" width="50" height="50" style="border:1px solid #ccc; margin-right:5px;" align="left" /></a>
			<a href="<%=ft_link.gsub(/\//,'-')%>"><%if city !=""%><%=showcity%>,<%end%> <%=showlistingtype%></a><br />
			<%=txtfor%> <%=salerent%>,
			<%if h_listing.salerent.to_s == '0' %>
				<%=number_to_currency(h_listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%else%>
				<%=number_to_currency(h_listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%end%>
			 <%#number_to_currency(h_listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>฿<br />
			<%=mybedroom%>, <%=h_listing.Bath%> <%=bathroom%><br clear="all" />
		</div>
<%end%>
	
	<div><a href="/listings/allfeatured">More Featured Properties ></a></div>
	</div>
	<!--=========================  end Homepae Feature  ====================================================================-->
	
	<div class="featureditems">
		<h2>New Listings</h2>
<%
n_listings = Product.find(:all,:conditions=>"Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)",:order=>"created_on desc",:limit=>"10")
if n_listings != nil
n_length = n_listings.length
y=0
z = 0
myarr=['11','11','11']  # we only 0-9
while y <= 0 
	pos =rand(10)
		if pos.to_i != myarr[0].to_i and pos.to_i != myarr[1].to_i and pos.to_i != myarr[2].to_i			
			myarr[z] = pos
			z =z + 1
		end
	
	if z == 3 # for exit loop
		break
	end

end
x = 0
while x < 3
pos = myarr[x]
 #get listing type
if n_listings[pos] !=nil
			        listingtype =" "
			        if n_listings[pos].Type.to_s != '0' and n_listings[pos].Type.to_s != "" and n_listings[pos].Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{n_listings[pos].Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"		
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							seo_listingtype = showlistingtype
						while seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end	
						#while seo_listingtype[" "]				
							#seo_listingtype[" "] ="-"		
						#end
			              break
			            end
			          end
			        end  
			        if n_listings[pos].Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = n_listings[pos].Bed + " " +bedroom
			        end
			        city = ""
					if n_listings[pos].City.to_s !="" and n_listings[pos].City.to_s !="0" and n_listings[pos].City != nil
						city = "#{n_listings[pos].City}"
						showcity = "txt.province.#{n_listings[pos].City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

					salerent = ""
			       	if n_listings[pos].salerent.to_s == '1'  # sale        
						salerent = "Sale" 
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			        elsif n_listings[pos].salerent.to_s == '0' # rent    
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
						salerent = "Rent"
			        else  # sale / rent   
						salerent = "Sale or Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
			        end #end if @n_listings[pos].salerent
						seosalerent = salerent	
						while seosalerent[" "]				
							seosalerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)
	

			   myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{n_listings[pos].id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:thumb)}"
					break
			    end		
				
				nl_link="/rethai/#{showcity}-#{lsalerent}-#{seo_listingtype}-#{n_listings[pos].id}"
				begin
					if n_listings[pos].titlelink.to_s !=""
						nl_link = "/rethai/#{n_listings[pos].titlelink}-#{n_listings[pos].id}"
					end
				rescue
				end
%>
		<div class="home-featblocks">
			<a href="<%=nl_link.gsub(/\//,'-')%>"><img src="<%=myimages%>" width="50" height="50" style="border:1px solid #ccc; margin-right:5px;" align="left" /></a>
			<a href="<%=nl_link.gsub(/\//,'-')%>"><%if city !=""%><%=showcity%>,<%end%> <%=showlistingtype%></a><br />
			<%=txtfor%> <%=salerent%>, 
			<%if n_listings[pos].salerent.to_s == '0' %>
				<%=number_to_currency(n_listings[pos].RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>฿<Br />
			<%else%>
				<%=number_to_currency(n_listings[pos].Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>฿<Br />
			<%end%>
			<%=mybedroom%>, <%=n_listings[pos].Bath%> <%=bathroom%><br clear="all" />
		</div>
<%
end #end_if_nListings[pos]!=nil
x = x + 1
end #end_while_x<3
end
%>
	
	<div><a href="/listings/newlistings">More new listings ></a></div>
	</div>
<!--=========================  end New Listings  ====================================================================-->	
	<div class="featureditems">
		<h2>Popular Properties</h2>
<%
p_listings = Product.find(:all,:conditions=>"Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null)",:order=>"counter desc",:limit=>"10")
if p_listings != nil
 p_length = p_listings.length
y=0
z = 0
myarr=['11','11','11']  # we only 0-9
while y <= 0 
	pos =rand(10)
		if pos.to_i != myarr[0].to_i and pos.to_i != myarr[1].to_i and pos.to_i != myarr[2].to_i			
			myarr[z] = pos
			z =z + 1
		end
	
	if z == 3 # for exit loop
		break
	end

end
x = 0
while x < 3
pos = myarr[x]
 #get listing type
if p_listings[pos] !=nil
			        listingtype =" "
			        if p_listings[pos].Type.to_s != '0' and p_listings[pos].Type.to_s != "" and p_listings[pos].Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{p_listings[pos].Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"		
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							seo_listingtype = showlistingtype
						while seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end	
						#while seo_listingtype[" "]				
							#seo_listingtype[" "] ="-"		
						#end
			              break
			            end
			          end
			        end  
			        if p_listings[pos].Bed.to_s == "0"
						mybedroom = mystudio
			        else
						mybedroom = p_listings[pos].Bed + " " + bedroom
			        end
			        city = ""
					if p_listings[pos].City.to_s !="" and p_listings[pos].City.to_s !="0" and p_listings[pos].City != nil
						city = "#{p_listings[pos].City}"
						showcity = "txt.province.#{p_listings[pos].City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

					salerent = ""
			       	if p_listings[pos].salerent.to_s == '1'  # sale        
						salerent = "Sale" 
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			        elsif p_listings[pos].salerent.to_s == '0' # rent    
						salerent = "Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
			        else  # sale / rent   
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
						salerent = "Sale or Rent"
			        end #end if @p_listings[pos].salerent
						seosalerent = salerent	
						while seosalerent[" "]				
							seosalerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)

			   myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{p_listings[pos].id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:thumb)}"
					break
			    end
				
				pp_link="/rethai/#{showcity}-#{lsalerent}-#{seo_listingtype}-#{p_listings[pos].id}"
				begin
					if p_listings[pos].titlelink.to_s !=""
						pp_link = "/rethai/#{p_listings[pos].titlelink}-#{p_listings[pos].id}"
					end
				rescue
				end
%>
		<div class="home-featblocks">
			<a href="<%=pp_link.gsub(/\//,'-')%>"><img src="<%=myimages%>" width="50" height="50" style="border:1px solid #ccc; margin-right:5px;" align="left" /></a>
			<a href="<%=pp_link.gsub(/\//,'-')%>"><%if city !=""%><%=showcity%>,<%end%> <%=showlistingtype%></a><br />
			<%=txtfor%> <%=salerent%>, 
			<%if p_listings[pos].salerent.to_s == '0' %>
				<%=number_to_currency(p_listings[pos].RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%else%>
				<%=number_to_currency(p_listings[pos].Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%end%>
			<%#number_to_currency(p_listings[pos].Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			฿<br />
			<%=mybedroom%>, <%=p_listings[pos].Bath%> <%=bathroom%><br clear="all" />
		</div>
<%
end #end_p_listings[pos]!=nil
x = x + 1
end
end
%>		
	<div><a href="/listings/popularproperties">More popular properties ></a></div>
	</div>
</div>

<br clear="all" /><br clear="all" />
<!-- END FEATURED LISTING ITEMS -->





<!-- START DEVELOPER / AGENCY ITEMS 
<div id="home-featureitems">
	-->

<!--=========================  Homepae Feature (DEVELOPMENT) ====================================================================-->
	<div class="featureditems">
		<!--<a href="http://issuu.com/rethai/docs/rethai_magazine_-_september_2010" target="_blank"><img src="/images/home-magazine.jpg" /></a>-->
		<!--<div class="featureditems">
		<%
		developments = Development.find(:all,:conditions=>"status = '1' and HomepageFeatured = '1'",:order=>"RAND()",:limit=>3)
			if developments.length > 0%>
		<h2>Featured Developments</h2>
		<%for dev in developments%>
		<div class="home-featdev">
			<%
			if dev.id_image.to_i > 0
				begin
				image = Images.find(dev.id_image)
				if image
					strtype = image.photo_file_name
					strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
					%><%#http://files.rethai.com%>
					<div><a href="/developer/<%=dev.Url%>"><img src="<%=image.photo.url()%>" width="220" height="55" /></a></div>
				<%else%>
					<a href="/developer/<%=dev.Url%>"><%=dev.Name%></a>
				<%
				end
						rescue%>
						<a href="/developer/<%=dev.Url%>"><%=dev.Name%></a>
					<%	end
					%>
			<%else%>	
					<a href="/developer/<%=dev.Url%>"><%=dev.Name%></a>
			<%end%>
			</div>
		<%end%>

		<a href="/developer/alldevelopers">See all featured developments ></a>
		<%end%>-->
	</div>

	<!--=========================  end Homepae Feature  (CONDO)====================================================================-->

	<div class="featureditems">
		<h2>Condos & Apartments</h2>
		<%condos = Condo.find(:all,:conditions=>"status = '1' and homepage = '1'",:order=>"RAND()" ,:limit=>3)
			if condos.length < 1
				condos = Condo.find(:all,:conditions=>"status = '1'",:order=>"RAND()" ,:limit=>3)
			end
		for condo in condos
						condo_image = "/images/noimage.png"
					if condo.id_image.to_i > 0
						begin
						image = Images.find(condo.id_image)
						if image
							strtype = image.photo_file_name
							strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
							condo_image="#{image.photo.url(:medium)}" 
						end
						rescue
						end
					end
		condo_city = "#{condo.city}-"
		listings = Product.find(:all,:conditions=>"Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null) and id_condo = '#{condo.id}'")

			fullcondoname = Condo.find(condo.id).name


			condoname = condo.name
			while condoname[" "]
				condoname[" "]= "-"
			end
			while condoname["."]
				condoname["."]= ","
			end
			while condoname["/"]
				condoname["/"]= ""
			end
		%>
		
		<div class="home-featblocks">
			<a href="/condo/<%=condoname.gsub(/\//,'-')%>-<%=condo_city.gsub(/\//,'-')%><%=condo.id%>"><img src="<%=condo_image%>" style="border: 1px solid rgb(204, 204, 204); margin-right: 5px;" align="left" height="50" width="50"></a>
			<a href="/condo/<%=condoname.gsub(/\//,'-')%>-<%=condo_city.gsub(/\//,'-')%><%=condo.id%>"><%=fullcondoname%></a><br>
			<%
				listings = Product.find(:all,:conditions=>"id_condo = '#{condo.id}'")
				x = 0
				y = 0
				for l in listings
					if l.Price.to_i > 0
						y = y + l.Price.to_i
						x = x + 1	
					end
				end
				z = 0
				if x != 0
					z = y / x
				end
				
			%>
			Average Price: <%if z.to_i <= 0%>-<%else%><%=number_to_currency(z, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>฿<%end%><br>		
			<%=listings.length%> Condos Available<br clear="all">

		</div>
		<%end%>
		


		
		<a href="/thailand-condos" style="margin-top:6px;display:block">View Condos Section ></a>
	</div>

<!--=========================  end New Listings (AGENCIES) ====================================================================	-->

	<div class="featureditems">
		<h2>Featured Agencies</h2>
		<%   
			
			agencies = Companies.find(:all,:conditions=>"companies.Head = '0' and users.level >='2' and users.UserType >='g' ",:joins=>" INNER JOIN users ON users.id = companies.id_user",:order=>"RAND()" ,:limit=>3)
			for a in agencies
						a_image = "/images/noimage.png"
					if a.logo.to_i > 0
						begin
						image = Businesslogo.find(a.logo)
						if image
							a_image= image.public_filename(:small)
						end
						rescue
						end
					end
		#a_city = "#{a.city}-"
		listings = Product.find(:all,:conditions=>"Deleted = '1' and (Status !='d' and Status != 'f'  and Status != 's' or Status is null) and id_user = '#{a.id_user}'")
		
			fullname = Companies.find(a.id).Name


			agencyname = a.Name
			while agencyname[" "]
				agencyname[" "]= "-"
			end
			while agencyname["."]
				agencyname["."]= ","
			end
			while agencyname["/"]
				agencyname["/"]= ""
			end
		%>
		
		<div class="home-featagency">
			<a href="/agency/<%=agencyname.gsub(/\//,'-')%>-<%=a.id%>" align="left"><img src="/images/e.png" width="50" height="50" style="border: 1px solid rgb(204, 204, 204); margin-right: 5px; width:50px;height:50px;overflow:hidden;background-image:url(<%=a_image%>);float:left; background-repeat:no-repeat; background-position:center;" /></a>
			<a href="/agency/<%=agencyname.gsub(/\//,'-')%>-<%=a.id%>"><%=fullname%></a><br>
			<!--<a href=""><%=a.Url%></a><br>-->
			<%=listings.length%> listings<br clear="all">

		</div>
		<%end%>
		<a href="/agency/allagencies" style="margin-top:6px;display:block">View all Agencies ></a>
	</div>

<br clear="all" />
<!-- END DEVELOPER / AGENCY ITEMS -->





<!-- IE SUCKS -->

		</div>
	<br clear="all" /><br clear="all" />
	</div>











<!-- FOOTER -->

<%= render(:partial => "index/footer") %>
	
<!-- END FOOTER -->

	
	
	
	
</div>
