<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>

<!-- SEO -->
<%@page_title = "Stats and Trends"%>
<%@page_desc = "Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We're not a real estate agency! We're a real estate portal, anyone can add a listing"%>
<%@page_keywords = "real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale"%>
<!-- // END SEO -->


<h1>Stats & Trends</h1>

	<div id="state_form">
		<form action="/index/stats" method="post">
			<input type="hidden" name="partner" id="partner" value="rethai"/>
		<table>
			<tr>
				<td>
					<h2>Real Estate Overview for 
					<select id="province" name="province">
						<option value="Pattaya" <%if session[:location] == "Pattaya"%> selected="selected" <%end%>>Pattaya</option>
						<option value="Bangkok" <%if session[:location] == "Bangkok"%> selected="selected" <%end%>>Bangkok</option>
						<option value="Chiang Mai" <%if session[:location] == "Chiang Mai"%> selected="selected" <%end%>>Chiang Mai</option>
						<option value="Phuket" <%if session[:location] == "Phuket"%> selected="selected" <%end%>>Phuket</option>
						<option value="Hua Hin" <%if session[:location] == "Hua Hin"%> selected="selected" <%end%>>Hua Hin</option>
					</select>
					</h2>
				</td>
				<td valign="top" style="padding-left:10px;"><input type="submit" name="commit" id="commit" value="Search"/></td>
			</tr>
		</table>
		</form>
		<p>Advanced Data & Statistics will soon be available to <a href="/index/foragents">agencies and developers</a>.</p>

	</div> 
	<!--===============================================   end form      ============================================================-->



<div class="market-trends">
	<h3>Housing Market Trends</h3>
	
	<%if @products ==""%>
		<div id="notice">
		No Housing Market Trend data for <% if session[:location] != ""%><%=session[:location]%><%else%>Pattaya<%end%>
		</div>
	<%else%>
	
<%
#set data
setdata1 = 0
while setdata1 <= 5
	if @listings[setdata1] != 0
		@prices[setdata1] = @prices[setdata1] / @listings[setdata1]
		@sqm[setdata1] = @sqm[setdata1] / @listings[setdata1]
	else
		@prices[setdata1] = 0
		@sqm[setdata1] = 0
	end
	setdata1 = setdata1 + 1
end	


%>
	<div style="width:315px;float:left">
		<div style="float:left;width:150px;padding-left:40px;">
			<p>Average Listing Price<br />
			<%
			price = 0
			if @prices[0].to_i != 0
				price = @prices[0]
			elsif @prices[1].to_i != 0
				price = @prices[1]
			elsif @prices[2].to_i != 0
				price = @prices[2]
			elsif @prices[3].to_i != 0
				price = @prices[3]
			elsif @prices[14].to_i != 0
				price = @prices[4]
			elsif @prices[5].to_i != 0
				price = @prices[5]
			end
			%>
			<strong style="font-size:15px;"><%=number_to_currency(price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></strong>฿</p>
		</div>
		<div style="float:left;width:100px;">
			<%if (@prices[0]-@prices[1]) > 0%>
				<p style="color:#5f8a00;font-size:11px;"><img src="/images/icons/arrow-up.png" align="left" style="padding:10px 5px 10px 0;" />+
			<%else%>
				<p style="color:#ae0000;font-size:11px;"><img src="/images/icons/arrow-down.png" align="left" style="padding:10px 5px 10px 0;" />
			<%end%>
			<%=number_to_currency((@prices[0]-@prices[1]), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
			<%if @prices[0] == 0%>0<%else%><%if (((@prices[0]-@prices[1])*100)/@prices[0]) > 0%>+<%end%>
			<%=number_to_currency((((@prices[0]-@prices[1])*100)/@prices[1]), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><%end%>%</p>
		</div>
		<%
			i = 0
			maxprice = 0
			while i <=5
				if maxprice.to_f < @prices[i]
					maxprice = @prices[i]
				end
				i = i + 1
			end
			maxprice = maxprice +(maxprice * 15 / 100)
			  maxprice = maxprice.to_i + (maxprice.to_i * 15 / 100)
		      ps1=maxprice.to_i
		      ps2=((maxprice.to_i / 4) * 3).to_i
		      ps3=((maxprice.to_i / 4) * 2).to_i
		      ps4=((maxprice.to_i / 4) * 1).to_i
			#set_value
			if @prices[4].to_i == 0
				@prices[4] = @prices[5]
			end
			if @prices[3].to_i == 0
				@prices[3] = @prices[4]
			end
			if @prices[2].to_i == 0
				@prices[2] = @prices[3]
			end
			if @prices[1].to_i == 0
				@prices[1] = @prices[2]
			end
			if @prices[0].to_i == 0
				@prices[0] = @prices[1]
			end
		%>
							
	<%ps1=number_to_currency(ps1, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ps2=number_to_currency(ps2, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ps3=number_to_currency(ps3, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ps4=number_to_currency(ps4, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%srcimg = Gchart.line(:size => '300x200', 
            :title => "Average Listings Price",
            :bg => 'efefef', 
			:axis_with_labels => 'x,y',           
		 	#:legend => 'Average Listings Price',
			:line_colors => "38619e",
            :axis_labels => [[@m1.strftime("%b, %y"),@m2.strftime("%b, %y"),@m3.strftime("%b, %y"),@m4.strftime("%b, %y"),@m5.strftime("%b, %y"),@m6.strftime("%b, %y")],[0,ps4,ps3,ps2,ps1]],
            :data => [ @prices[5].to_f,@prices[4].to_f,@prices[3].to_f,@prices[2].to_f,@prices[1].to_f,@prices[0].to_f],
			:max_value => maxprice)%>
		<img src="<%=srcimg%>&amp;chg=100,20.0&amp;chf=c,ls,90,e8e8e8,0.1,FFFFFF,0.1&chm=o,314461,0,-1.0,6"/>	
		<br>

	</div>
	
	
	
	
	
	
	
	<div style="width:315px;float:left;padding-left:10px;">
		<div style="float:left;width:150px;padding-left:40px;">
			<p>Average SQM Price<br />
			
			<%
			d = 0
			if @d1.to_i != 0
				d = @d1
			elsif @d2.to_i != 0
				d = @d2
			elsif @d3.to_i != 0
				d = @d3
			elsif @d4.to_i != 0
				d = @d4
			elsif @d5.to_i != 0
				d = @d5
			elsif @d6.to_i != 0
				d = @d6
			end
			%>
			<strong style="font-size:15px;"><%=number_to_currency(d, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></strong>฿</p>
		</div>
		<div style="float:left;width:100px;">
			<%if (@d1-@d2) > 0%>
				<p style="color:#5f8a00;font-size:11px;"><img src="/images/icons/arrow-up.png" align="left" style="padding:10px 5px 10px 0;" />+
			<%else%>
				<p style="color:#ae0000;font-size:11px;"><img src="/images/icons/arrow-down.png" align="left" style="padding:10px 5px 10px 0;" />
			<%end%>
			<%=number_to_currency((@d1-@d2), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
			<%if @d1 == 0%>0<%else%><%if (((@d1-@d2)*100)/@d1) > 0 %>+ <%end%>
			<%=number_to_currency((((@d1-@d2)*100)/@d2), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><%end%>%</p>
		</div>
					
	<%@s1=number_to_currency(@s1, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@s2=number_to_currency(@s2, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@s3=number_to_currency(@s3, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@s4=number_to_currency(@s4, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%
	
			#set_value
			if @d5.to_i == 0
				@d5 = @d6
			end
			if @d4.to_i == 0
				@d4 = @d5
			end
			if @d3.to_i == 0
				@d3 = @d4
			end
			if @d2.to_i == 0
				@d2 = @d3
			end
			if @d1.to_i == 0
				@d1= @d2
			end
%>

		<%srcimg = Gchart.line(:size => '300x200', 
            :title => "Average SQM Price",
            :bg => 'efefef', 
			:axis_with_labels => 'x,y',     
			:line_colors => "38619e",
            :axis_labels => [[@m1.strftime("%b, %y"),@m2.strftime("%b, %y"),@m3.strftime("%b, %y"),@m4.strftime("%b, %y"),@m5.strftime("%b, %y"),@m6.strftime("%b, %y")],[0,@s4,@s3,@s2,@s1]],
            :data => [@d6.to_i,@d5.to_i,@d4.to_i,@d3.to_i,@d2.to_i,@d1.to_i], 
			:max_value => @maxvalue.to_i)%>
		<img src="<%=srcimg%>&amp;chg=100,20.0&amp;chf=c,ls,90,e8e8e8,0.1,FFFFFF,0.1&chm=o,314461,0,-1.0,6"/>	

	</div>
	
	
	
	
	
	
	
	
	<div style="width:310px;float:left;padding-left:10px;">
		<div style="float:left;width:150px;padding-left:40px;">
			<p>Average SQM<br />
			<%
			sqm = 0
			if @sqm[0].to_i != 0
				sqm = @sqm[0]
			elsif @sqm[1].to_i != 0
				sqm = @sqm[1]
			elsif @sqm[2].to_i != 0
				sqm = @sqm[2]
			elsif @sqm[3].to_i != 0
				sqm = @sqm[3]
			elsif @sqm[4].to_i != 0
				sqm = @sqm[4]
			elsif @sqm[5].to_i != 0
				sqm = @sqm[5]
			end
			%>
			<strong style="font-size:15px;"><%=number_to_currency(sqm, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></strong></p>
		</div>
		<div style="float:left;width:100px;">
			<%if (@sqm[0]-@sqm[1]) > 0%>
				<p style="color:#5f8a00;font-size:11px;"><img src="/images/icons/arrow-up.png" align="left" style="padding:10px 5px 10px 0;" />+
			<%else%>
				<p style="color:#ae0000;font-size:11px;"><img src="/images/icons/arrow-down.png" align="left" style="padding:10px 5px 10px 0;" />
			<%end%>
			<%=number_to_currency((@sqm[0]-@sqm[1]), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
				<%if @sqm[0] == 0%>0<%else%><%if (((@sqm[0]-@sqm[1])*100)/@sqm[0]) > 0 %>+ <%end%>
			<%=number_to_currency((((@sqm[0]-@sqm[1])*100)/@sqm[1]), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><%end%>%</p>
		</div>		
		
		<%
			i = 0
			maxsqm = 0
			while i <=5
				if maxsqm.to_f < @sqm[i]
					maxsqm = @sqm[i]
				end
				i = i + 1
			end
			maxsqm = maxsqm +(maxsqm * 15 / 100)
			  maxsqm = maxsqm.to_i + (maxsqm.to_i * 15 / 100)
		      ss1=maxsqm.to_i
		      ss2=((maxsqm.to_i / 4) * 3).to_i
		      ss3=((maxsqm.to_i / 4) * 2).to_i
		      ss4=((maxsqm.to_i / 4) * 1).to_i
			#set_value
			if @sqm[4].to_i == 0
				@sqm[4] = @sqm[5]
			end
			if @sqm[3].to_i == 0
				@sqm[3] = @sqm[4]
			end
			if @sqm[2].to_i == 0
				@sqm[2] = @sqm[3]
			end
			if @sqm[1].to_i == 0
				@sqm[1] = @sqm[2]
			end
			if @sqm[0].to_i == 0
				@sqm[0] = @sqm[1]
			end
		%>
							
	<%ss1=number_to_currency(ss1, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ss2=number_to_currency(ss2, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ss3=number_to_currency(ss3, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ss4=number_to_currency(ss4, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%srcimg = Gchart.line(:size => '300x200', 
            :title => "Average SQM",
            :bg => 'efefef', 
			:axis_with_labels => 'x,y',           
		 	#:legend => 'Average Listings Price',
			:line_colors => "38619e",
            :axis_labels => [[@m1.strftime("%b, %y"),@m2.strftime("%b, %y"),@m3.strftime("%b, %y"),@m4.strftime("%b, %y"),@m5.strftime("%b, %y"),@m6.strftime("%b, %y")],[0,ss4,ss3,ss2,ss1]],
            :data => [ @sqm[5].to_f,@sqm[4].to_f,@sqm[3].to_f,@sqm[2].to_f,@sqm[1].to_f,@sqm[0].to_f],
			:max_value => maxsqm)%>
		<img src="<%=srcimg%>&amp;chg=100,20.0&amp;chf=c,ls,90,e8e8e8,0.1,FFFFFF,0.1&chm=o,314461,0,-1.0,6"/>	
		<br>

	</div>
	
	<%end%>	
</div>






























<br clear="all"><br clear="all">

<div class="market-trends">
	<h3>Apartment and Condo Market Trends</h3>
	<!--<%=@c_d1%><br>
	<%=@c_d2%><br>
	<%=@c_d3%><br>
	<%=@c_d4%><br>
	<%=@c_d5%><br>
	<%=@c_d6%><br>
	-->
	<%if @condos ==""%>
		<div id="notice">
			No Apartment and Condo Market Trend data for <% if session[:location] != ""%><%=session[:location]%><%else%>Pattaya<%end%>
		</div>
	<%else%>
	<%
#set data
setdata2 = 0
while setdata2 <= 5
	if @c_listings[setdata2] != 0
		@c_prices[setdata2] = @c_prices[setdata2] / @c_listings[setdata2]
		@c_sqm[setdata2] = @c_sqm[setdata2] / @c_listings[setdata2]
	else
		@c_prices[setdata2] = 0
		@c_sqm[setdata2] = 0
	end
	setdata2 = setdata2 + 1
end	
%>

	<div style="width:315px;float:left">
		<div style="float:left;width:150px;padding-left:40px;">
			<p>Average Listing Price<br />
			<%
			cprice = 0
			if @c_prices[0].to_i != 0
				cprice = @c_prices[0]
			elsif @c_prices[1].to_i != 0
				cprice = @c_prices[1]
			elsif @c_prices[2].to_i != 0
				cprice = @c_prices[2]
			elsif @c_prices[3].to_i != 0
				cprice = @c_prices[3]
			elsif @c_prices[14].to_i != 0
				cprice = @c_prices[4]
			elsif @c_prices[5].to_i != 0
				cprice = @c_prices[5]
			end
			%>
			<strong style="font-size:15px;"><%=number_to_currency(cprice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%> </strong>฿</p>
		</div>
		<div style="float:left;width:100px;">			
			<%if (@c_prices[0]-@c_prices[1]) > 0%>
				<p style="color:#5f8a00;font-size:11px;"><img src="/images/icons/arrow-up.png" align="left" style="padding:10px 5px 10px 0;" />+
			<%else%>
				<p style="color:#ae0000;font-size:11px;"><img src="/images/icons/arrow-down.png" align="left" style="padding:10px 5px 10px 0;" />
			<%end%>
			<%=number_to_currency((@c_prices[0]-@c_prices[1]), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
			<%if @c_prices[0] == 0%>0<%else%><%if (((@c_prices[0]-@c_prices[1])*100)/@c_prices[0]) > 0 %>+ <%end%>
			<%=number_to_currency((((@c_prices[0]-@c_prices[1])*100)/@c_prices[1]), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><%end%>%</p>
		</div>
		<%
			i = 0
			maxprice = 0
			while i <=5
				if maxprice.to_f < @c_prices[i]
					maxprice = @c_prices[i]
				end
				i = i + 1
			end
			maxprice = maxprice +(maxprice * 15 / 100)
			  maxprice = maxprice.to_i + (maxprice.to_i * 15 / 100)
		      ps1=maxprice.to_i
		      ps2=((maxprice.to_i / 4) * 3).to_i
		      ps3=((maxprice.to_i / 4) * 2).to_i
		      ps4=((maxprice.to_i / 4) * 1).to_i
			#set_value
			if @c_prices[4].to_i == 0
				@c_prices[4] = @c_prices[5]
			end
			if @c_prices[3].to_i == 0
				@c_prices[3] = @c_prices[4]
			end
			if @c_prices[2].to_i == 0
				@c_prices[2] = @c_prices[3]
			end
			if @c_prices[1].to_i == 0
				@c_prices[1] = @c_prices[2]
			end
			if @c_prices[0].to_i == 0
				@c_prices[0] = @c_prices[1]
			end
		%>
		
				
	<%ps1=number_to_currency(ps1, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ps2=number_to_currency(ps2, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ps3=number_to_currency(ps3, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ps4=number_to_currency(ps4, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%srcimg = Gchart.line(:size => '300x200', 
            :title => "Average Listings Price",
            :bg => 'efefef', 
			:axis_with_labels => 'x,y',           
			:line_colors => "38619e",
            :axis_labels => [[@m1.strftime("%b, %y"),@m2.strftime("%b, %y"),@m3.strftime("%b, %y"),@m4.strftime("%b, %y"),@m5.strftime("%b, %y"),@m6.strftime("%b, %y")],[0,ps4,ps3,ps2,ps1]],
            :data => [ @c_prices[5].to_f,@c_prices[4].to_f,@c_prices[3].to_f,@c_prices[2].to_f,@c_prices[1].to_f,@c_prices[0].to_f],
			:max_value => maxprice)%>
		<img src="<%=srcimg%>&amp;chg=100,20.0&amp;chf=c,ls,90,e8e8e8,0.1,FFFFFF,0.1&chm=o,314461,0,-1.0,6"/>	
		<br>

	</div>
	
	
	
	
	
	
	
	<div style="width:315px;float:left;padding-left:10px;">
		<div style="float:left;width:150px;padding-left:40px;">
			<p>Average SQM Price<br />
			
			<%
			cd = 0
			if @c_d1.to_i != 0
				cd = @c_d1
			elsif @c_d2.to_i != 0
				cd = @c_d2
			elsif @c_d3.to_i != 0
				cd = @c_d3
			elsif @c_d4.to_i != 0
				cd = @c_d4
			elsif @c_d5.to_i != 0
				cd = @c_d5
			elsif @c_d6.to_i != 0
				cd = @c_d6
			end
			%>
			<strong style="font-size:15px;"><%=number_to_currency(cd, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></strong>฿</p>
		</div>
		<div style="float:left;width:100px;">
			
			<%if (@c_d1-@c_d2) > 0%>
				<p style="color:#5f8a00;font-size:11px;"><img src="/images/icons/arrow-up.png" align="left" style="padding:10px 5px 10px 0;" />+
			<%else%>
				<p style="color:#ae0000;font-size:11px;"><img src="/images/icons/arrow-down.png" align="left" style="padding:10px 5px 10px 0;" />
			<%end%>
			<%=number_to_currency((@c_d1-@c_d2), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
			<%if @c_d1 == 0%>0<%else%><%if (((@c_d1-@c_d2)*100)/@c_d1) > 0 %>+ <%end%>
			<%=number_to_currency((((@c_d1-@c_d2)*100)/@c_d2), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><%end%>%</p>
		</div>
					
	<%@c_s1=number_to_currency(@c_s1, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@c_s2=number_to_currency(@c_s2, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@c_s3=number_to_currency(@c_s3, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%@c_s4=number_to_currency(@c_s4, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
		<%
	
			#set_value
			if @c_d5.to_i == 0
				@c_d5 = @c_d6
			end
			if @c_d4.to_i == 0
				@c_d4 = @c_d5
			end
			if @c_d3.to_i == 0
				@c_d3 = @c_d4
			end
			if @c_d2.to_i == 0
				@c_d2 = @c_d3
			end
			if @c_d1.to_i == 0
				@c_d1= @c_d2
			end
%>

		<%srcimg = Gchart.line(:size => '300x200', 
            :title => "Average SQM Price",
            :bg => 'efefef', 
			:axis_with_labels => 'x,y',       
			:line_colors => "38619e",
            :axis_labels => [[@m1.strftime("%b, %y"),@m2.strftime("%b, %y"),@m3.strftime("%b, %y"),@m4.strftime("%b, %y"),@m5.strftime("%b, %y"),@m6.strftime("%b, %y")],[0,@c_s4,@c_s3,@c_s2,@c_s1]],
            :data => [@c_d6.to_i,@c_d5.to_i,@c_d4.to_i,@c_d3.to_i,@c_d2.to_i,@c_d1.to_i], 
			:max_value => @c_maxvalue.to_i)%>
		<img src="<%=srcimg%>&amp;chg=100,20.0&amp;chf=c,ls,90,e8e8e8,0.1,FFFFFF,0.1&chm=o,314461,0,-1.0,6"/>	
	</div>
	
	
	
	
	
	
	
	
	<div style="width:310px;float:left;padding-left:10px;">
		<div style="float:left;width:150px;padding-left:40px;">
			<p>Average SQM<br />
			<%
			c_sqm = 0
			if @c_sqm[0].to_i != 0
				c_sqm = @c_sqm[0]
			elsif @c_sqm[1].to_i != 0
				c_sqm = @c_sqm[1]
			elsif @c_sqm[2].to_i != 0
				c_sqm = @c_sqm[2]
			elsif @c_sqm[3].to_i != 0
				c_sqm = @c_sqm[3]
			elsif @c_sqm[4].to_i != 0
				c_sqm = @c_sqm[4]
			elsif @c_sqm[5].to_i != 0
				c_sqm = @c_sqm[5]
			end
			%>
			<strong style="font-size:15px;"><%=number_to_currency(c_sqm, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></strong></p>
		</div>
		<div style="float:left;width:100px;">
			<%if (@c_sqm[0]-@c_sqm[1]) > 0%>
				<p style="color:#5f8a00;font-size:11px;"><img src="/images/icons/arrow-up.png" align="left" style="padding:10px 5px 10px 0;" />+
			<%else%>
				<p style="color:#ae0000;font-size:11px;"><img src="/images/icons/arrow-down.png" align="left" style="padding:10px 5px 10px 0;" />
			<%end%>
			<%=number_to_currency((@c_sqm[0]-@c_sqm[1]), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
			<%if @c_sqm[0] == 0%>0<%else%><%if (((@c_sqm[0]-@c_sqm[1])*100)/@c_sqm[0]) > 0 %>+ <%end%>
			<%=number_to_currency((((@c_sqm[0]-@c_sqm[1])*100)/@c_sqm[1]), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>2)%><%end%>%</p>
		</div>		
		
		<%
			i = 0
			maxsqm = 0
			while i <=5
				if maxsqm.to_f < @c_sqm[i]
					maxsqm = @c_sqm[i]
				end
				i = i + 1
			end
			maxsqm = maxsqm +(maxsqm * 15 / 100)
			  maxsqm = maxsqm.to_i + (maxsqm.to_i * 15 / 100)
		      ss1=maxsqm.to_i
		      ss2=((maxsqm.to_i / 4) * 3).to_i
		      ss3=((maxsqm.to_i / 4) * 2).to_i
		      ss4=((maxsqm.to_i / 4) * 1).to_i
			#set_value
			if @c_sqm[4].to_i == 0
				@c_sqm[4] = @c_sqm[5]
			end
			if @c_sqm[3].to_i == 0
				@c_sqm[3] = @c_sqm[4]
			end
			if @c_sqm[2].to_i == 0
				@c_sqm[2] = @c_sqm[3]
			end
			if @c_sqm[1].to_i == 0
				@c_sqm[1] = @c_sqm[2]
			end
			if @c_sqm[0].to_i == 0
				@c_sqm[0] = @c_sqm[1]
			end
		%>

	<%ss1=number_to_currency(ss1, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ss2=number_to_currency(ss2, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ss3=number_to_currency(ss3, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
	<%ss4=number_to_currency(ss4, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
			<%srcimg = Gchart.line(:size => '300x200', 
            :title => "Average SQM",
            :bg => 'efefef', 
			:axis_with_labels => 'x,y',           
		 	#:legend => 'Average Listings Price',
			:line_colors => "38619e",
            :axis_labels => [[@m1.strftime("%b, %y"),@m2.strftime("%b, %y"),@m3.strftime("%b, %y"),@m4.strftime("%b, %y"),@m5.strftime("%b, %y"),@m6.strftime("%b, %y")],[0,ss4,ss3,ss2,ss1]],
            :data => [ @c_sqm[5].to_f,@c_sqm[4].to_f,@c_sqm[3].to_f,@c_sqm[2].to_f,@c_sqm[1].to_f,@c_sqm[0].to_f],
			:max_value => maxsqm)%>
		<img src="<%=srcimg%>&amp;chg=100,20.0&amp;chf=c,ls,90,e8e8e8,0.1,FFFFFF,0.1&chm=o,48556a,0,-1.0,6"/>	
		<br>

	</div>
	<%end%>
	
</div>

<br clear="all"><br clear="all">






<br clear="all" /><br clear="all" />
