<script language="JavaScript" type="text/javascript">
	
	function newuserform(){
		if(document.getElementById('user_FirstName').value ==""){alert('Please Enter FirstName'); document.getElementById('user_FirstName').focus();return false;}
		else if(document.getElementById('user_LastName').value ==""){alert('Please Enter LastName'); document.getElementById('user_LastName').focus();return false;}
		else if(document.getElementById('user_UserName').value ==""){alert('Please Enter UserName'); document.getElementById('user_UserName').focus();return false;}
		else if(document.getElementById('user_Password').value ==""){alert('Please Enter Password'); document.getElementById('user_Password').focus();return false;}
		else if(document.getElementById('user2_Password2').value ==""){alert('Please Enter Confirm Password'); document.getElementById('user2_Password2').focus();return false;}
		else if(document.getElementById('user_Phone').value ==""){alert('Please Enter Phone'); document.getElementById('user_Phone').focus();return false;}
		else if(document.getElementById('user_Email').value ==""){alert('Please Enter Email'); document.getElementById('user_Email').focus();return false;}
		else if(document.getElementById('user_Address').value ==""){alert('Please Enter Address'); document.getElementById('user_Address').focus();return false;}
		else if(document.getElementById('user_Suburb').value ==""){alert('Please Enter Suburb'); document.getElementById('user_Suburb').focus();return false;}
		else if(document.getElementById('user_Province').value ==""){alert('Please Enter Province'); document.getElementById('user_Province').focus();return false;}
		else if(document.getElementById('user_PostCode').value ==""){alert('Please Enter Postcode'); document.getElementById('user_PostCode').focus();return false;}
		else if(document.getElementById('user_Password').value != document.getElementById('user2_Password2').value){alert('Please check Confirm Password'); document.getElementById('user2_Password2').focus();return false;}
		else{
			return true;
		}
	}
	
</script>

<h1>New User.</h1>

<form name="newuser" id="newuser" action="/users/create">

	<table>
		<tr>
			<td>FirstName:</td>
			<td><%=text_field 'user','FirstName'%></td>
			<td>LastName:</td>
			<td><%=text_field 'user','LastName'%></td>
		</tr>
		<tr>
			<td>UserName:</td>
			<td colspan="10"><%=text_field 'user','UserName'%></td>
		</tr>
		
		
		
		<tr>
			<td>Password:</td>
			<td colspan="10"><%=password_field 'user','Password'%></td>
		</tr>
		<tr>
			<td>Confirm Password:</td>
			<td colspan="10"><%=password_field 'user2','Password2'%></td>
		</tr>
		<tr><td colspan="10"><hr></td></tr>
		<tr>
			<td>Phone:</td>
			<td><%=text_field 'user','Phone'%></td>
			<td>Email:</td>
			<td><%=text_field 'user','Email'%></td>
		</tr>
		<tr>
			<td>Address:</td>
			<td colspan="10"><%=text_field 'user','Address',:size=>"60" %></td>
		</tr>
		<tr>
			<td>Suburb:</td>
			<td><%=text_field 'user','Suburb'%></td>
			<td>Province:</td>
			<td><%=text_field 'user','Province'%></td>
		</tr>
		<tr>
			<td>Postcode:</td>
			<td colspan="10"><%=text_field 'user','PostCode'%></td>
		</tr>
		<tr>
			<td>UserType:</td>
			<td colspan="10">
				<input name="user[UserType]" type="radio" value="p" id="user_UserType_1" checked="checked" /><label for="user_UserType_1">Private</label>
				<input name="user[UserType]" type="radio" value="d" id="user_UserType_2" /><label for="user_UserType_2">Agent</label>
			</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="10"><br>
				<input type="submit" name="Submit" value="Submit" id="Submit" onclick="return newuserform();" />
			</td>
		</tr>
	</table>
</form>
