<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
%>
<table>
	<tr>
		<td>
			
	<div class="widelist">
		
<%
sql = " and products.Type = '2'"
	if params[:code] != 'thailand'
        if params[:code].to_s ==""
          sql = " and (products.City like '%chiangmai%' or products.City like '%chiang mai%')"
        else
          sql = " and products.City like '%#{params[:code]}%'"
        end
	end
	if params[:price].to_s =="1"
		sql = sql + " and products.Price <= '1000000'"
	elsif params[:price].to_s =="2"
		sql = sql + " and (products.Price between  '1000000' and '2000000' )"
	elsif params[:price].to_s =="3"
		sql = sql + " and (products.Price between  '2000001' and '3000000' )"
	elsif params[:price].to_s =="5"
		sql = sql + " and (products.Price between  '3000001' and '5000000' )"
	elsif params[:price].to_s =="10"
		sql = sql + " and (products.Price between  '5000001' and '10000000' )"
	elsif params[:price].to_s =="100"
		sql = sql + " and products.Price > '10000000'"
	end	
	
	
listings_1m = Product.find(:all,
							:select=>"products.*",
							:joins=>"INNER JOIN users ON users.id = products.id_user",
							:conditions=>"users.UserType = '#{params[:type]}' and (products.homefeatured = '1') and products.Deleted = '1' #{sql}",
							:order=>"RAND()",
							:limit=>"5")
if listings_1m.length <= 0
	listings_1m = Product.find(:all,
								:select=>"products.*",
								:joins=>"INNER JOIN users ON users.id = products.id_user",
								:conditions=>"users.UserType = '#{params[:type]}' and products.Deleted = '1' #{sql} ",
								:order=>"RAND()",
								:limit=>"5")
end
for h_listing in listings_1m

 #get listing type
			        listingtype =" "
			        if h_listing.Type.to_s != '0' and h_listing.Type.to_s != "" and h_listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{h_listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)
							seo_listingtype = showlistingtype
						while seo_listingtype[" / "]				
							seo_listingtype[" / "] ="-"		
						end
						#while seo_listingtype[" "]				
							#seo_listingtype[" "] ="-"
						#end
			              break
			            end
			          end
			        end  
			        if h_listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = h_listing.Bed + " " + bedroom
			        end
			        city = ""
					if h_listing.City.to_s !="" and h_listing.City.to_s !="0" and h_listing.City != nil
						city = "#{h_listing.City}"
						showcity = "txt.province.#{h_listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

					salerent = ""
			       	if h_listing.salerent.to_s == '1'  # sale
						salerent = "Sale" 
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}"
			        elsif h_listing.salerent.to_s == '0' # rent
						salerent = "Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.rent")}"
			        else  # sale / rent
						salerent = "Sale or Rent"
						lsalerent = "#{I18n.translate("txt.listingtype.sale")}-#{I18n.translate("txt.listingtype.rent")}"
			        end #end if @h_listing.salerent
						seosalerent = salerent	
						while seosalerent[" "]				
							seosalerent[" "] = "-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)

			   myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{h_listing.id}'")
			   for image in images
			        strtype = image.photo_file_name
			        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			      	myimages = "#{image.photo.url(:medium)}"
					break
			    end
				
				search_link="/rethai/#{showcity}-#{lsalerent}-#{seo_listingtype}-#{h_listing.id}"
				begin
					if h_listing.titlelink.to_s !=""
						search_link = "#{h_listing.titlelink}-#{h_listing.id}"
					end
				rescue
				end
				
%>
		<div class="widelistcontainer">
			<a href="<%=search_link%>"><img src="<%=myimages%>" align="left" class="widelistimg" /></a><br clear="all" />
			<div class="widelistcontent">
				<a href="<%=search_link%>"><%if city !=""%><%=showcity%>,<%end%> <%=showlistingtype%></a><br />
				<%=txtfor%> <%=salerent%>,
				<%if h_listing.salerent.to_s == '0' %>
					<%=number_to_currency(h_listing.RPrice, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
				<%else%>
					<%=number_to_currency(h_listing.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%>
				<%end%><br>
				<small><%=mybedroom%>, <%=h_listing.Bath%> <%=bathroom%></small><br clear="all" />
			</div>
		</div>
<%end%>
	

	</div>
		</td>
	</tr>
</table>
