
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<script src="/javascripts/listings.js" type="text/javascript"></script>
<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>
<h1>Property Developments</h1>


<div style="float:left;width:250px;">
	
</div>


<%if @developments.length <= 0%>
	<span style="color:green;">No Developments</span>
<%else%>	
	
<%for dev in @developments%>
<div style="float:left;margin-left:250px;">
	<%
	if dev.id_image.to_i > 0
		image = Images.find(dev.id_image)
		if image
			strtype = image.photo_file_name
			strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
			%>
			<div style="margin-bottom:6px;"><a href="/developer/<%=dev.Url%>"><img src="<%=image.photo.url()%>" width="220" height="55" /></a></div>
		<%else%>
			<a href="/developer/<%=dev.Url%>"><%=dev.Name%></a>
		<%end%>
	<%else%>	
			<a href="/developer/<%=dev.Url%>"><%=dev.Name%></a>
	<%end%>
	</div>
<%end%>
<%= will_paginate @developments%>
<%end%>

<br clear="all" />
<br clear="all" />

