<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>


<!-- SEO -->
<%
@page_title = I18n.translate('txt.k_index.page_title')
@page_desc = I18n.translate('txt.k_index.page_desc')
@page_keywords = I18n.translate('txt.k_index.page_keywords')
%>

<!-- // END SEO -->

			<%if @development == "no"%>
				<span style="color:red;">Don't have Development witch your search</span>
				 Please try again <br>
				 You mean :<br>
				 <%	
					developments = Development.find(:all,:conditions=>"status = '1'")
					for dev in developments
				%>
					<a href="http://www.rethai.com/development/<%=dev.Url%>">http://www.rethai.com/development/<%=dev.Url%></a><br>
				<%end%>
				
				
			<%else%>	
				<%=@development	%>
			<%end%>