<%= render :partial => "/listings/partner/rethai_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>

<h1>Welcome to the REThai API</h1>

<h2>XML Data Request</h2>
<p>You can pull data via XML from REThai.com</p>
<p>By pulling data you can build pages with REThai.com listings, filtering by user, type and location</p>
<p>&nbsp;</p>



<h2>XML Data Insert</h2>
<p>You can push data via XML into REThai.com</p>
<p>Pushing data alows you to insert listings into REThai.com with no additional manual labour.</p>
<p>You can automate your listing process on your own internal systems to automatically push any listings from your system to ours.</p>
<p><a href="/rethaiapi/xml-push">Click here</a> to view the XML Push code sample</p>
<p>&nbsp;</p>


