<%= render :partial => "/listings/partner/rethai_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>


<h1>Sign Up for The Rethai API</h1>


<h2>Getting Started</h2>
<p>We have both push and pull functionality available for developers. Follow the steps below to start building your first application:</p>
<ul>
  <li>Sign up for a <a href="/rethai/register">user account</a></li>
  <li><a href="/rethai/login">Login</a> to RETthai</li>
  <li>Register for an <a href="/rethaiapi/signup">API key</a></li>
</ul>

<p>&nbsp;</p>

<h2>Access the developer documentation</h2>
<p>If you already have an API key, <a href="/rethaiapi/developer">click here</a> for documentation on how to impliment our API into your system.</p>


<p>&nbsp;</p>
