<%= render :partial => "/listings/partner/rethai_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>

<script type=text/javascript>
	function agreensignup(){
		if(document.getElementById('url').value=="http://" || document.getElementById('url').value=="https://" || document.getElementById('url').value==""){
			alert('Please enter the URL of the site on which you will use the API');
			return false;
		}else if (document.getElementById('agreeTerms').checked==false){
			alert('To get a REThai API key, you must agree to the API terms of use');
			return false;	
		}else{
			return true;
		}
	}
</script>

<h1>Sign Up for The Rethai API</h1>


<!--======================================  Term conditions ====================================================================-->
<h2>Terms of Use</h2>
<div id="termsbox" style="border: 1px solid #ccc; margin-left: 0;padding:10px; overflow: auto; height: 250px; width: 75%;">
<p>PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS API.</p>
<p>By accessing and using this API (the &quot;API&quot;), you explicitly agree to comply with and be bound by the following terms and conditions (the &quot;API Terms of Use&quot;), which REThai may change at any time. Please review these terms and conditions periodically and check the version date for changes.</p>
<ol>
  <li>
    <p><strong>Services</strong>. The REThai API is a REThai.com service that allows pre-approved licensees to retrieve certain data regarding REThai.com site traffic statistics to regions in Thailand (&quot;REThai Data&quot;) on REThai.com. REThai reserves the right to modify or discontinue the Services or a portion or attribute thereof, or the offering of any information, good, content, product or service with or without notice. REThai shall not be liable to you or any third party should REThai exercise its right to modify or discontinue the Service or part of it.</p>
  </li>
  <li>
    <p><strong>Copyright And License</strong>. You are granted a limited, non-sublicensable right to access the API, use the Services and REThai Data for your personal, non-commercial, and informational use only. Commerical use is defined as charging end users for access to the REThai Data and/or selling the data to third parties. We reserve the right, without notice and in our sole discretion, to terminate your license to use the API, and to block or prevent future access to and use of the API.</p>
    <p>This license is subject to the following restrictions:</p>
    <ul>
      <li>You may not use the REThai APIs in connection with or to promote any products, services, or materials that constitute, promote or are used primarily for the purpose of dealing in: spyware, adware, or other malicious programs or code, counterfeit goods, items subject to US embargo, hate materials (e.g. Nazi memorabilia) or materials urging acts of terrorism or violence,goods made from protected animal/plant species, recalled goods, hacking/surveillance/interception/descrambling equipment, cigarettes, illegal drugs and paraphernalia, unlicensed sale of prescription drugs and medical devices, pornography, prostitution, body parts and bodily fluids, stolen products and items used for theft, fireworks, explosives, and hazardous materials, government IDs, police items, unlicensed trade or dealing in stocks and securities, gambling items, professional services regulated by state licensing regimes, non-transferable items such as airline tickets or event tickets, non-packaged food items, weapons and accessories;</li>
      <li>You may not use the REThai APIs in any manner or for any purpose that violates any law or regulation, any right of any person, including but not limited to intellectual property rights, rights of privacy, or rights of personality, or in any manner inconsistent with the REThai TOS or these Terms of Use;</li>
      <li>All calls to the REThai API must reference the API Key issued to you as an approved licensee.</li>
      <li>You agree that you will provide the REThai Data to users on &quot;as is&quot; terms, with disclaimers substantially equivalent to those set forth in Section 14.</li>
      <li>You agree to keep the API Key confidential, and not to share it with any third party. This license is personal to you, and any affiliates must seek and obtain their own license and API Key. You may not sell, lease, share, transfer, or sublicense the REThai APIs or access or access codes thereto or derive income from the use or provision of the REThai APIs, whether for direct commercial or monetary gain or otherwise, without REThai's prior, express, written permission;</li>
      <li>You may not use the REThai APIs in a product or service that competes with products or services offered by REThai.com;</li>
      <li>You may not retain any copies of the REThai Data. Your license to REThai Data is limited to making direct server calls to REThai.com for the REThai Data and to distributing the REThai Data to your end user on your Web site(s), immediately upon receipt by your servers.</li>
      <li>You may not present the REThai Data (or permit the REThai Data to be presented) so that it appears to be available from a third party Web site.</li>
      <li>You may not use the REThai Data for direct marketing (i.e., mailing) or telemarketing lists without crediting REThai.com according to the attribution requirements outlined in Section 14;</li>
      <li>You may not separately extract and provide or otherwise use data elements from the REThai Data to enhance the data files of third parties.</li>
      <li>You further agree not to otherwise reproduce, modify, distribute, decompile, disassemble or reverse engineer any portion of the REThai API or any data provided by REThai.com.</li>
      <li>You are limited to one thousand (1000) calls to the REThai API per day. REThai.com may approve higher daily call limits if you adhere to these API Terms of Use and pass a REThai review.</li>
      <li>If you become aware that any user of your implementation is in material breach of these API Terms of Use, any provisions you are required to offer under these API Terms of Use, or the terms of REThai.com Terms of Use linked pursuant to Section 3 and the REThai API Network Attribution Requirements (the &quot;Applicable Terms&quot;), then you agree to notify REThai.com promptly of such breach by e-mail to developer@REThai.com. , and to take prompt commercially reasonable corrective action at your expense to remedy such breach. In addition, upon request of REThai.com, you will either (a) use commercially reasonable efforts to obtain such equitable relief to prevent harm to REThai.com or its licensors, or (b) assign any of your applicable rights to permit REThai.com or the applicable licensor to seek such equitable relief. Your obligations to report and enforce the Applicable Terms will survive termination of these API Terms of Use or your use of the REThai API.<br />
        <br />
      </li>
    </ul>
  </li>
  <li><strong>Trademarks and Service Marks</strong>. The REThai name, logo(s) and links to REThai.com are copyrighted and ALL RIGHTS RESERVED Copyright © 2010 REThai.com. You are granted a limited, non-sublicensable right to access this API, use the Services for your personal, non-commercial, and informational use only. You agree to use the Services in accordance with the REThai API Attribution Requirements set forth below. We reserve the right, without notice and in our sole discretion, to terminate your license to use the Site, and to block or prevent future access to and use of the Site.
  </li>
  <li>
    <p><strong>Acceptable Use</strong>. You agree not to use the REThai API, REThai Data, or REThai Brand &amp; Links in any way that is unlawful, or harms REThai.com, its service providers, its suppliers, your end users, or any other person. Further, pursuant to Section 10 below, REThai.com may terminate your use of the REThai API, REThai Data and REThai Brand &amp; Links if and when REThai.com determines that your use is inappropriate.</p>
  </li>
  <li>
    <p><strong>Limited Relationship</strong>. You and REThai.com are independent contractors, and nothing in these API Terms of Use shall be construed as creating an employer-employee relationship, a partnership, or a joint venture. While you may publicly refer to the fact that you have implemented the REThai API, you agree not make any other public statements that assert or imply any other relationship with REThai.com, unless you have REThai.com's prior written approval.</p>
  </li>
  <li>
    <p><strong>Indemnity</strong>. You agree to hold harmless and indemnify REThai.com, and its subsidiaries, affiliates, officers, agents, employees, and suppliers, from and against any third party claim arising from or in any way related to your or your users' use of the REThai API or REThai Data, use of REThai Brand &amp; Links other than as set forth in the REThai API Attribution Requirements, violation of these API Terms of Use or other actions connected with use of REThai.com services, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys' fees, of every kind and nature. In such a case, REThai.com will provide you with written notice of such claim, suit or action.</p>
  </li>
  <li>
    <p><strong>NO WARRANTIES</strong>. THIS SITE, THE MATERIALS, DATA, AND THE SERVICES ARE PROVIDED ON AN &quot;AS IS&quot; BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. YOU EXPRESSLY AGREE THAT USE OF THIS SITE, INCLUDING ALL CONTENT OR DATA DISTRIBUTED BY, DOWNLOADED OR ACCESSED FROM OR THROUGH THIS SERVICE, IS AT YOUR SOLE RISK. WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT AS TO THE INFORMATION, MATERIALS, AND CONTENT ON THE SITE. WE DO NOT REPRESENT OR WARRANT THAT MATERIALS IN THIS SITE ARE ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR-FREE. WE ARE NOT RESPONSIBLE FOR TYPOGRAPHICAL ERRORS OR OMISSIONS RELATING TO PRICING, TEXT OR PHOTOGRAPHY.</p>
  </li>
  <li>
    <p><strong>LIABILITY LIMITATION</strong>. IN NO EVENT SHALL RETHAI, ITS OFFICERS, DIRECTORS, AGENTS, AFFILIATES, EMPLOYEES, ADVERTISERS, OR DATA PROVIDERS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES (INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS, OR LOSS OF DATA) WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE), EQUITY OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THE RETHAI API OR RETHAI DATA, THE REThai DATA OR SERVICES. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
  </li>
  <li>
    <p><strong>Intellectual Property</strong>. The REThai API, REThai Data, and REThai Brand &amp; Links are the property of REThai.com, and subject to the intellectual property rights of REThai.com and its licensors. (c) 2007 REThai.com. All rights reserved.</p>
  </li>
  <li>
    <p><strong>Modification</strong>. REThai.com may change, add to or delete these Terms of Use or any portion thereof from time to time at its sole discretion.</p>
  </li>
  <li>
    <p><strong>Termination</strong>. REThai.com may change, suspend or discontinue the REThai API and suspend or terminate your use of the REThai API, REThai Data, and/or REThai Brand &amp; Links at any time for any reason, without notice. You may also terminate by ceasing to use the REThai API, REThai Data, and REThai Brand &amp; Links, removing implementation of the REThai API from your Web site(s), and deleting all copies of the REThai Data and REThai Brand &amp; Links.</p>
  </li>
  <li>
    <p><strong>Choice Of Law, Waiver, And Claims </strong>. These API Terms of Use shall be governed by the laws of Queensland, Australia, without regard to its conflict of law provisions. REThai's failure to exercise or enforce any right or provision of the Terms of Use will not be deemed to be a waiver of such right or provision. If any provision of these Terms of Use is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of these Terms of Use remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Services must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>
  </li>
  <li>
    <p><strong>General</strong>. You represent that you have the authority to bind the organization (if any) identified in your application for the REThai API. You agree not to export from anywhere any part of the REThai API, REThai Data, or REThai Brand &amp; Links provided to you or any direct product thereof except in compliance with, and with all licenses and approvals required under, applicable export laws, rules and regulations. If provided to the Australian government, the REThai API, REThai Data, or REThai Brand &amp; Links are provided with the commercial license rights described herein. If any part of these API Terms of Use is determined to be invalid or unenforceable, then the invalid or unenforceable provision will be replaced with a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of these API Terms of Use will continue in effect. The section titles in these API Terms of Use are solely used for the convenience of the parties and have no legal or contractual significance. REThai.com may assign these API Terms of Use, in whole or in part, at any time with or without notice to you. You may not transfer, assign, or delegate the API Terms of Use and your API Key to any third party. REThai.com's failure to act with respect to a breach by you or others does not waive its right to act with respect to subsequent or similar breaches. Except as expressly stated herein, these API Terms of Use constitute the entire agreement between you and REThai.com with respect to the Services and supersede all prior or contemporaneous communications of any kind between you and REThai.com with respect to the REThai API, REThai Data, or REThai Brand &amp; Links.</p>
  </li>
  <li>
    <p><strong>REThai Attribution Requirements</strong>. To comply with the REThai API Terms of Use, you must display attribution on your web site or client application if REThai API content or data are served from your website or client application. Please adhere to the usage guidelines on the next page.</p>
  </li>
</ol>

</div>
<br>
<!--======================================  Term conditions ====================================================================-->

<form action="/rethaiapi/create" method="post">

<table>
	<tr>
        <td></td>
        <td><input name="agreeTerms" id="agreeTerms" value="1" type="checkbox"><label for="agreeTerms" >I have read and agree with the terms of use</span></label><br><br></td>

    </tr>

	<tr>
		<td style="width: 10em;" align="right"><strong>Your site URL:</strong></td>
		<td>
          <input name="url" id="url" value="http://" type="text"size="50" > 
		</td>
	</tr>

	<tr>
		<td></td>
		<td><br>
			<input type="submit" nmae="commit" id="commit" value="Sign Up for the REThai API" onclick="return agreensignup();"/>
		</td>
	</tr>
	
	
	
</table>

<br><br><br>
</form>

