
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<script src="/javascripts/listings.js" type="text/javascript"></script>
<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>


<h1>submit xml</h1>
<form action="/rethaiapi/rexml" method="post">
	Full URL:<input type="text" name="url" size="70" value="http://gearbox:3300/testxml.xml"/>
	<span style="color:red;"><small>* http://www.rethai.com/testxml.xml</small></span><br>
	<input type="submit" value="test submit xml"/>
</form>