<%= render :partial => "/listings/partner/rethai_clean_header" %>
<%= render :partial => "/listings/partner/rethai_nav" %>
<%mypartner = "rethai"%>

<h1>XML Push</h1>

<p>The XML Push code if used to insert listings directly into REThai.com</p>
<p>We verify your push by your server IP address, if you change IP you need to request a new API Key for your IP.</p>
<p>An example of usage would be to automatically push the XML data to rethai.com after you add a new listing to your own website system, or a button in your backend for each listing so you only push selected listings to rethai.com</p>
<p></p>
<br><hr size=1 color=#CCCCCC>
<br><br>


<code>
 <span style='color:blue;'>&lt;</span><span style='color:#a31515;'>?xml version="1.0" encoding="UTF-8"?<span style='color:blue;'>&gt;</span></span><br>
 <span style='color:blue;'>&lt;</span><span style='color:#a31515;'>listings<span style='color:blue;'>&gt;</span></span><br>
   &nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>alllistings<span style='color:blue;'>&gt;</span></span>3<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/alllistings<span style='color:blue;'>&gt;</span></span><br>
   &nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>site<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/site<span style='color:blue;'>&gt;</span></span><br>
   &nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>listing<span style='color:blue;'>&gt;</span></span><br>
<br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>id_listing<span style='color:blue;'>&gt;</span></span>57<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/id_listing<span style='color:blue;'>&gt;</span></span><br>

<br>
	&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>Ref<span style='color:blue;'>&gt;</span></span>57<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/Ref<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>location<span style='color:blue;'>&gt;</span></span>Pattaya<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/location<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>listingtype<span style='color:blue;'>&gt;</span></span>Condo / Apartment<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/listingtype<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>price<span style='color:blue;'>&gt;</span></span>7500000<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/price<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>rentprice<span style='color:blue;'>&gt;</span></span>15000<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/rentprice<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>bed<span style='color:blue;'>&gt;</span></span>2<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/bed<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>bath<span style='color:blue;'>&gt;</span></span>1<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/bath<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>detail<span style='color:blue;'>&gt;</span></span>YOUR LISTING DESCRIPTION<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/detail<span style='color:blue;'>&gt;</span></span><br>
<br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>parking<span style='color:blue;'>&gt;</span></span>Garage<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/parking<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>lat<span style='color:blue;'>&gt;</span></span>12.933211698951975<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/lat<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>lng<span style='color:blue;'>&gt;</span></span>100.88607788085938<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/lng<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>salerent<span style='color:blue;'>&gt;</span></span>1<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/salerent<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>SQM<span style='color:blue;'>&gt;</span></span>123<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/SQM<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>condo<span style='color:blue;'>&gt;</span></span>CONDO BUILDING NAME<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/condo<span style='color:blue;'>&gt;</span></span><br>

     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>images<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlthumb<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_thumb.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlthumb<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlmedium<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_medium.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlmedium<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlfull<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_large.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlfull<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/images<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>images<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlthumb<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_thumb.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlthumb<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlmedium<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_medium.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlmedium<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlfull<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_large.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlfull<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/images<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>images<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlthumb<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_thumb.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlthumb<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlmedium<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_medium.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlmedium<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlfull<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_large.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlfull<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/images<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>images<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlthumb<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_thumb.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlthumb<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlmedium<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_medium.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlmedium<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlfull<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_large.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlfull<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/images<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>images<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlthumb<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_thumb.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlthumb<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlmedium<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_medium.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlmedium<span style='color:blue;'>&gt;</span></span><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>urlfull<span style='color:blue;'>&gt;</span></span>http://www.yoursite.com/images/image_large.png<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/urlfull<span style='color:blue;'>&gt;</span></span><br>
     &nbsp;&nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/images<span style='color:blue;'>&gt;</span></span><br>
  &nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/listing<span style='color:blue;'>&gt;</span></span><br>
  <br>
   &nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>listing<span style='color:blue;'>&gt;</span></span><br>
  &nbsp;&nbsp;&nbsp;&nbsp;...<br>
   &nbsp;&nbsp;&nbsp;<span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/listing<span style='color:blue;'>&gt;</span></span><br>
 <span style='color:blue;'>&lt;</span><span style='color:#a31515;'>/listings<span style='color:blue;'>&gt;</span></span><br>
</code>
<br><br><hr size=1 color=#CCCCCC>
<br><br>
<h2>Tag Definitions</h2>

<p>&lt;alllistings&gt; is the number of listings you're pushing in the request.</p>

<p>&lt;listing&gt; &lt;/listing&gt;</p> is the individual listing loop.

<p>&lt;location&gt; tag should be full name of the city in English. Example: Bangkok</p>


<p>&lt;id_listing&gt; is the ID of the listing in YOUR database. We store your listing's ID so we know if the listing exists already or not, and to identify an update.</p>

<p>&lt;listingtype&gt; tag needs to be one of the following:
				<%
						str = ""
						listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc ")
						for ltype in listingtypes
							str = str + "<span style='color:green;'>#{ltype.Name}</span>, "
						%>
						<%end%>
						<%=str.chop%></p>


<p>&lt;salerent&gt; tag needs to be one of the following - 0 = For Rent, 1 = For Sale, 2 = For Sale or Rent</p>

<p>If &lt;listingtype&gt; is <span style='color:green;'>Condo / Apartment</span> then there is also a &lt;condo&gt; requirement. &lt;condo&gt; is the condo building name itself.</p>

<p>&lt;parking&gt; tag needs to be one of the following:
				<%
						str = ""
						listingtypes = Option.find(:all,:conditions=>"option_type = 'Carspace'",:order=>"id asc ")
						for ltype in listingtypes	
							str = str + "<span style='color:green;'>#{ltype.Name}</span>, "
						end
						%>
						<%=str.chop%></p>
						

<p>Listing Prices (&lt;price&gt; or &lt;rentprice&gt;) must have no ',' (commas) Example <span style='color:#a31515;'>7,500,000</span> must be <span style='color:green;'>7500000</span></p>						


<br><br>	


