<script type="text/javascript" src="/javascripts/tooltip/wz_tooltip.js"></script>

<script type="text/javascript" src="/javascripts/tooltip/tip_centerwindow.js"></script>
<%
lavel1 = ""
lavel2 = ""
lavel3 = ""
lavel4 = ""
lavel5 = ""
i = 1
for level in @lavels
	if i == 1
		level1 = level
	elsif i == 2
		level2 = level
	elsif i == 3
		level3 = level
	elsif i == 4
		level4 = level
	elsif i == 5
		level5 = level
	end
	i = i + 1
end

user = User.find(session[:user_id])
strplan=""
if user.level.to_s =="1"
	strplan="FREE"
elsif user.level.to_s =="2"
	strplan="BRONZE"
elsif user.level.to_s =="3"
	strplan="SILVER"
elsif user.level.to_s =="4"
	strplan="GOLD"
elsif user.level.to_s =="5"
	strplan="PLATINUM"
elsif user.level.to_s =="6"
	strplan="UNLIMITED"
end
%>


<div class="cp-heading" style="padding:10px 0px 0px 30px;">
	<img src="/images/button-upgrade.png" style="float:right;margin-right:15px;margin-top:3px;" />
	<h1 style="color:#525252;">Subscription Plans</h1>
	<p>Start or Upgrade your subscription to REThai.com</p>
</div>

<div class="cp-body">



<p>You are currently on the <strong style="color:green;"><%=strplan%></strong> subscription. <a href="/index/foragents">Click here</a> to learn more about our subscriptions.</p>

<table class="table3px levels" width="800">
	
	<tr>
		<td width="30%"></td>
		<td align="center" width="14%"><h2><%=level1.Name%></h2></td>
		<td align="center" width="14%"><h2><%=level2.Name%></h2></td>
		<td align="center" width="14%"><h2><%=level3.Name%></h2></td>
		<td align="center" width="14%"><h2><%=level4.Name%></h2></td>
		<td align="center" width="14%"><h2><%=level5.Name%></h2></td>
	</tr>
	
	
	
	<tr onmouseover="Tip('Month fee is payable by credit card or <br>bank transfer, no contracts required');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Monthly Fee</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%=number_to_currency(level1.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		<td align="center"><%=number_to_currency(level2.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		<td align="center"><%=number_to_currency(level3.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		<td align="center"><%=number_to_currency(level4.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
		<td align="center"><%=number_to_currency(level5.Price, :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%></td>
	</tr>
	
	
	
	
<!--
	<tr onmouseover="Tip('Report data includes message <br>and listing viewed stats designed <br>for your clients');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Client Listing Reports</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.Report.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level2.Report.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level3.Report.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level4.Report.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level5.Report.to_s =="1"%>Yes<%else%>No<%end%></td>
	</tr>
-->
	
	<tr onmouseover="Tip('<strong>Basic:</strong> listing viewed counter - <br><strong>Advanced:</strong> listing reports with monthly <br>graphing and performance data, <br>comparable to other listings');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Listing Performance Stats</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%=level1.PerformanceState%></td>
		<td align="center"><%=level2.PerformanceState%></td>
		<td align="center"><%=level3.PerformanceState%></td>
		<td align="center"><%=level4.PerformanceState%></td>
		<td align="center"><%=level5.PerformanceState%></td>
	</tr>
	
	
	<tr onmouseover="Tip('Number of photos displayed on your listings');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Listing photos</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%=level1.Photo%></td>
		<td align="center"><%=level2.Photo%></td>
		<td align="center"><%=level3.Photo%></td>
		<td align="center"><%=level4.Photo%></td>
		<td align="center"><%=level5.Photo%></td>
	</tr>
	

	<tr onmouseover="Tip('Total number of listings you can add');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Listings</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%=level1.Listings%></td>
		<td align="center"><%=level2.Listings%></td>
		<td align="center"><%=level3.Listings%></td>
		<td align="center"><%=level4.Listings%></td>
		<td align="center"><%=level5.Listings%></td>
	</tr>
	
	
	<tr onmouseover="Tip('<strong>Basic:</strong> Your phone number, email <br>and skype details on the listing <br><strong>Advanced:</strong> Details are also shown with <br>logo on search results');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Contact details on listings</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.ListingContact.to_s =="1"%>Advanced<%else%>Basic<%end%></td>
		<td align="center"><%if level2.ListingContact.to_s =="1"%>Advanced<%else%>Basic<%end%></td>
		<td align="center"><%if level3.ListingContact.to_s =="1"%>Advanced<%else%>Basic<%end%></td>
		<td align="center"><%if level4.ListingContact.to_s =="1"%>Advanced<%else%>Basic<%end%></td>
		<td align="center"><%if level5.ListingContact.to_s =="1"%>Advanced<%else%>Basic<%end%></td>
	</tr>
	
	
	<tr onmouseover="Tip('Additional exposure on partner <br>sites such as PattayaOne.net');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Syndicated to partner sites</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.Apisites.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level2.Apisites.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level3.Apisites.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level4.Apisites.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level5.Apisites.to_s =="1"%>Yes<%else%>No<%end%></td>
	</tr>
	
	
	<tr onmouseover="Tip('Additional exposure on our targeted <br>search sites such as pattaya-condos.com');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Syndicated to our SEO sites</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.Xmlsites.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level2.Xmlsites.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level3.Xmlsites.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level4.Xmlsites.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level5.Xmlsites.to_s =="1"%>Yes<%else%>No<%end%></td>
	</tr>
	
	
	<tr onmouseover="Tip('<strong>Basic:</strong> Business name, logo, additional photos, <br>services description, and contct information <br><strong>Advanced:</strong> Details shown on listings, agency <br>search pages, and additional agency features');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Business details</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.BusinessDetail.to_s =="0"%>None<%elsif level1.BusinessDetail.to_s =="1"%>Basic<%else%>Advanced<%end%></td>
		<td align="center"><%if level2.BusinessDetail.to_s =="0"%>None<%elsif level2.BusinessDetail.to_s =="1"%>Basic<%else%>Advanced<%end%></td>
		<td align="center"><%if level3.BusinessDetail.to_s =="0"%>None<%elsif level3.BusinessDetail.to_s =="1"%>Basic<%else%>Advanced<%end%></td>
		<td align="center"><%if level4.BusinessDetail.to_s =="0"%>None<%elsif level4.BusinessDetail.to_s =="1"%>Basic<%else%>Advanced<%end%></td>
		<td align="center"><%if level5.BusinessDetail.to_s =="0"%>None<%elsif level5.BusinessDetail.to_s =="1"%>Basic<%else%>Advanced<%end%></td>
	</tr>
	
	
	<tr onmouseover="Tip('Agency details show on the right of search results <br>in the agency spotlight driving additional <br>exposure to your business');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Local spotlight advert</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.SpotlightAdvert.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level2.SpotlightAdvert.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level3.SpotlightAdvert.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level4.SpotlightAdvert.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level5.SpotlightAdvert.to_s =="1"%>Yes<%else%>No<%end%></td>
	</tr>
	
<!--	
	<tr onmouseover="Tip('<strong>Basic:</strong> General price data and 3 month history<br><strong>Advanced:</strong> 12 months of indepth price data <br>filterable by type, bedroom/bathrooms, city and more');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Real estate stats and data</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.RealEstateData.to_s =="0"%>None<%else%><%=level1.RealEstateData%><%end%></td>
		<td align="center"><%if level2.RealEstateData.to_s =="0"%>None<%else%><%=level2.RealEstateData%><%end%></td>
		<td align="center"><%if level3.RealEstateData.to_s =="0"%>None<%else%><%=level3.RealEstateData%><%end%></td>
		<td align="center"><%if level4.RealEstateData.to_s =="0"%>None<%else%><%=level4.RealEstateData%><%end%></td>
		<td align="center"><%if level5.RealEstateData.to_s =="0"%>None<%else%><%=level5.RealEstateData%><%end%></td>
	</tr>
-->	
	
	<tr onmouseover="Tip('Display your REThai.com listings directly <br>on your site, as a list or in a map');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Website integration</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.WebsiteIntegration.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level2.WebsiteIntegration.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level3.WebsiteIntegration.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level4.WebsiteIntegration.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level5.WebsiteIntegration.to_s =="1"%>Yes<%else%>No<%end%></td>
	</tr>
	
	
	<tr onmouseover="Tip('Page dedicated to your business with <br>a map of your business location and <br>a list of your listings');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Business portal page</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.PortalPage.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level2.PortalPage.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level3.PortalPage.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level4.PortalPage.to_s =="1"%>Yes<%else%>No<%end%></td>
		<td align="center"><%if level5.PortalPage.to_s =="1"%>Yes<%else%>No<%end%></td>
	</tr>
	
<!--	
	<tr onmouseover="Tip('Discount % on print advertising');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Print Advert Discount</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.printdiscount.to_s =="0"%>0%<%else%><%=level1.printdiscount%>%<%end%></td>
		<td align="center"><%if level2.printdiscount.to_s =="0"%>0%<%else%><%=level2.printdiscount%>%<%end%></td>
		<td align="center"><%if level3.printdiscount.to_s =="0"%>0%<%else%><%=level3.printdiscount%>%<%end%></td>
		<td align="center"><%if level4.printdiscount.to_s =="0"%>0%<%else%><%=level4.printdiscount%>%<%end%></td>
		<td align="center"><%if level5.printdiscount.to_s =="0"%>0%<%else%><%=level5.printdiscount%>%<%end%></td>
	</tr>
-->	
	
	<tr onmouseover="Tip('Additional exposure for your listings - See below');" onmouseout="UnTip();" style="height:40px;" valign="bottom">
		<td align="right" class="levelpad"><strong>Listing upgrades</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"></td>
		<td align="center"></td>
		<td align="center"></td>
		<td align="center"></td>
		<td align="center"></td>
	</tr>
	
	<tr onmouseover="Tip('Number of listings you can choose to <br>display at the top and highlighted <br>in the search results');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Search Featured </strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.SearchFeatured.to_s=="0"%>0<%else%><%=level1.SearchFeatured%><%end%></td>
		<td align="center"><%if level2.SearchFeatured.to_s=="0"%>0<%else%><%=level2.SearchFeatured%><%end%></td>
		<td align="center"><%if level3.SearchFeatured.to_s=="0"%>0<%else%><%=level3.SearchFeatured%><%end%></td>
		<td align="center"><%if level4.SearchFeatured.to_s=="0"%>0<%else%><%=level4.SearchFeatured%><%end%></td>
		<td align="center"><%if level5.SearchFeatured.to_s=="0"%>0<%else%><%=level5.SearchFeatured%><%end%></td>
	</tr>
	
	<tr onmouseover="Tip('Number of listings you can choose to <br>display highlighted on the search map');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Map Featured </strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.MapFeatured.to_s=="0"%>0<%else%><%=level1.MapFeatured%><%end%></td>
		<td align="center"><%if level2.MapFeatured.to_s=="0"%>0<%else%><%=level2.MapFeatured%><%end%></td>
		<td align="center"><%if level3.MapFeatured.to_s=="0"%>0<%else%><%=level3.MapFeatured%><%end%></td>
		<td align="center"><%if level4.MapFeatured.to_s=="0"%>0<%else%><%=level4.MapFeatured%><%end%></td>
		<td align="center"><%if level5.MapFeatured.to_s=="0"%>0<%else%><%=level5.MapFeatured%><%end%></td>
	</tr>
	
	<tr onmouseover="Tip('Number of listings you can choose <br>to be featured on the homepage');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Homepage featured </strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.HomepageFeatured.to_s=="0"%>0<%else%><%=level1.HomepageFeatured%><%end%></td>
		<td align="center"><%if level2.HomepageFeatured.to_s=="0"%>0<%else%><%=level2.HomepageFeatured%><%end%></td>
		<td align="center"><%if level3.HomepageFeatured.to_s=="0"%>0<%else%><%=level3.HomepageFeatured%><%end%></td>
		<td align="center"><%if level4.HomepageFeatured.to_s=="0"%>0<%else%><%=level4.HomepageFeatured%><%end%></td>
		<td align="center"><%if level5.HomepageFeatured.to_s=="0"%>0<%else%><%=level5.HomepageFeatured%><%end%></td>
	</tr>
	
	<tr onmouseover="Tip('Number of listings you can choose <br>to be featured in our regular emails');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Email spotlight </strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.EmailFeatured.to_s=="0"%>0<%else%><%=level1.EmailFeatured%><%end%></td>
		<td align="center"><%if level2.EmailFeatured.to_s=="0"%>0<%else%><%=level2.EmailFeatured%><%end%></td>
		<td align="center"><%if level3.EmailFeatured.to_s=="0"%>0<%else%><%=level3.EmailFeatured%><%end%></td>
		<td align="center"><%if level4.EmailFeatured.to_s=="0"%>0<%else%><%=level4.EmailFeatured%><%end%></td>
		<td align="center"><%if level5.EmailFeatured.to_s=="0"%>0<%else%><%=level5.EmailFeatured%><%end%></td>
	</tr>

	<tr onmouseover="Tip('Number of listings you can choose <br>to add to the REThai.com Magazine');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Magazine Listings</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%if level1.magazine.to_s=="0"%>0<%else%><%=level1.magazine%><%end%></td>
		<td align="center"><%if level2.magazine.to_s=="0"%>0<%else%><%=level2.magazine%><%end%></td>
		<td align="center"><%if level3.magazine.to_s=="0"%>0<%else%><%=level3.magazine%><%end%></td>
		<td align="center"><%if level4.magazine.to_s=="0"%>0<%else%><%=level4.magazine%><%end%></td>
		<td align="center"><%if level5.magazine.to_s=="0"%>0<%else%><%=level5.magazine%><%end%></td>
	</tr>
		
		
	<tr onmouseover="Tip('Number of free leads you can choose in Lead Connect');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Free Leads</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%=level1.leadconnect%></td>
		<td align="center"><%=level2.leadconnect%></td>
		<td align="center"><%=level3.leadconnect%></td>
		<td align="center"><%=level4.leadconnect%></td>
		<td align="center"><%=level5.leadconnect%></td>
	</tr>
		
		
	<tr onmouseover="Tip('Number of free listigns you can choose in Listing Connect');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Free Listings</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%=level1.listingconnect%></td>
		<td align="center"><%=level2.listingconnect%></td>
		<td align="center"><%=level3.listingconnect%></td>
		<td align="center"><%=level4.listingconnect%></td>
		<td align="center"><%=level5.listingconnect%></td>
	</tr>
		
		
	<tr onmouseover="Tip('Additional Lead and Listing Connect price');" onmouseout="UnTip();">
		<td align="right" class="levelpad"><strong>Lead & Listing Price</strong> <img src="/images/icons/icon_info.gif" /></td>
		<td align="center"><%=level1.leadprice%> baht</td>
		<td align="center"><%=level2.leadprice%> baht</td>
		<td align="center"><%=level3.leadprice%> baht</td>
		<td align="center"><%=level4.leadprice%> baht</td>
		<td align="center"><%=level5.leadprice%> baht</td>
	</tr>
		
		
		
	<tr onmouseover="Tip('We contact you to process payment');" onmouseout="UnTip();">
		<td align="center"></td>
		<td align="center" style="font-size:14px;"><%if user.level.to_s == "1"%>I'm here!<%else%><%= link_to 'Upgrade', { :action => 'upgradelevel', :id => level1.id,:levelname=>level1.Name, :listings=>level1.Listings }, :confirm => 'Thank you for upgrade and we process it shortly', :method => :post %><%end%></td>
		<td align="center" style="font-size:14px;"><%if user.level.to_s == "2"%>I'm here!<%else%><%= link_to 'Upgrade', { :action => 'upgradelevel', :id => level2.id,:levelname=>level2.Name, :listings=>level2.Listings }, :confirm => 'Thank you for upgrade and we process it shortly', :method => :post %><%end%></td>
		<td align="center" style="font-size:14px;"><%if user.level.to_s == "3"%>I'm here!<%else%><%= link_to 'Upgrade', { :action => 'upgradelevel', :id => level3.id,:levelname=>level3.Name, :listings=>level3.Listings }, :confirm => 'Thank you for upgrade and we process it shortly', :method => :post %><%end%></td>
		<td align="center" style="font-size:14px;"><%if user.level.to_s == "4"%>I'm here!<%else%><%= link_to 'Upgrade', { :action => 'upgradelevel', :id => level4.id,:levelname=>level4.Name, :listings=>level4.Listings }, :confirm => 'Thank you for upgrade and we process it shortly', :method => :post %><%end%></td>
		<td align="center" style="font-size:14px;"><%if user.level.to_s == "5"%>I'm here!<%else%><%= link_to 'Upgrade', { :action => 'upgradelevel', :id => level5.id,:levelname=>level5.Name, :listings=>level5.Listings }, :confirm => 'Thank you for upgrade and we process it shortly', :method => :post %><%end%></td>
		
	</tr>
</table>


<br><br><br><br>


