<h1>Login.</h1>

<form name="loginform" id="loginform" action="/login/checklogin">
	<%= hidden_field_tag :sidebar  ,@sidebar%>
	<table>
		
		<tr>
			<td>UserName:</td>
			<td >
				<%=text_field 'user','UserName'%>
			</td>
		</tr>
		<tr>
			<td>Password:</td>
			<td >
				<%=password_field 'user','Password'%>
			</td>
		</tr>
		<tr>
			<td></td>
			<td ><br>
				<input type="submit" name="Submit" value="Submit" id="Submit" />
			</td>
		</tr>
	</table>
</form>