<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps JavaScript API Example</title>
	<%= javascript_include_tag :defaults %>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
	<script src="/javascripts/google_northamerica_offices.js" type="text/javascript"></script>
    <script src="/javascripts/gmlocalsearch.js" type="text/javascript"></script>
    <script src="/javascripts/extmaptypecontrol.js" type="text/javascript"></script>
    <script src="/javascripts/infobox.js" type="text/javascript"></script>
    <script src="/javascripts/zoomcontrol.js" type="text/javascript"></script>
    <script src="/javascripts/urchin.js" type="text/javascript"></script>
    <script type="text/javascript">
	

    //<![CDATA[
	function changeimage(gdiv,img){
		str = "<img src='"+img+"' width='400' height='300'/>"
		document.getElementById(gdiv).innerHTML = str;

	}
	function myalert(id){
//		alert(document.getElementById(id).value);
		str  = document.getElementById(id).value;
		a = 0;
		while (a > 0) {
			if (str.search('_')) {
				//		alert(str.substr(0,str.search('_'))+'\n'+str.substr(str.search('_')+1,str.length));
				lat = str.substr(0, str.search('_'));
				str = str.substr(str.search('_') + 1, str.length);
				lng = str.substr(0, str.search(','));
				str = str.substr(str.search(',') + 1, str.length);
				
				
//				var latlng = new GLatLng(lat,lng);
//
//				var marker = new GMarker(latlng, {
//							icon: icons[2]
//						});
//						map.addOverlay(marker);

					
					
//						map = new GMap2(document.getElementById("map"));
//						map.addControl(new GOverviewMapControl());
//						map.enableDoubleClickZoom();
//						//        		map.setMapType(G_SATELLITE_MAP);
//						map.setMapType(G_HYBRID_MAP);
//						map.addControl(new GMapTypeControl());
//						map.addControl(new GLargeMapControl());
//						
						geocoder = new GClientGeocoder();
						
						
						map.setCenter(point, 15);
						var marker = new GMarker(point, {
							icon: icons[2]
						});
						map.addOverlay(marker);
						GEvent.addListener(marker, 'click',
									function() {
									marker.openInfoWindowHtml('yes');
									});
					
				
			}else{a = 1;}
		}
	}
	
	
	
    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 13);
		map.addControl(new GOverviewMapControl());
			map.enableDoubleClickZoom();
			map.setMapType(G_HYBRID_MAP);
			map.addControl(new GMapTypeControl());
			map.addControl(new GLargeMapControl());
			geocoder = new GClientGeocoder();
      }
    }
	function load2() {
		address = document.getElementById('code').value;
			if (geocoder) {
//				alert('not');
				geocoder.getLatLng(address, function(point){
					if (!point) {
						alert(address + " not found\nPlease try again.");
						map = new GMap2(document.getElementById("map"));
						map.setCenter(new GLatLng(-25.274398, 133.775136), 1);
						map.addControl(new GOverviewMapControl());
						map.enableDoubleClickZoom();
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
						
						
						GEvent.addListener(map, "click", function(overlay, latlng){	
							var marker = new GMarker(latlng)
							map.addOverlay(marker);
							inputForm.innerHTML = '\n<fieldset style="width:150px;">' +
							'\n<legend>New Marker</legend>' +
							'\n<b>longitude</b>:' + address+'' +
							'\n<b>latitude</b>:' +address +'"/>' +
							'\n</fieldset>';
							map.openInfoWindow(latlng, inputForm);
						});
						
						
						
					//        geocoder = new GClientGeocoder();				
					}
					else {
//						alert('yes');
//						alert(address + " yes, have");
						map = new GMap2(document.getElementById("map"));
						
						map.enableDoubleClickZoom();
						//        		map.setMapType(G_SATELLITE_MAP);
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
						map.addControl(new GOverviewMapControl());
						geocoder = new GClientGeocoder();
						
						map.setCenter(point, 15);
//						var marker = new GMarker('12.9357,100.889')
//					map.addOverlay(marker);
//						var marker = new GMarker(point, {
//							icon: icons[2]
//						});
//						map.addOverlay(marker);
//						GEvent.addListener(marker, 'click',
//									function() {
//									marker.openInfoWindowHtml(address);
//									});
//						map.setZoom(15);
		str  = document.getElementById('temp').value;
		str2 = document.getElementById('temp2').innerHTML;
//		alert(str2);
		    function createMarker(latlng, number,thtml) {
      var marker = new GMarker(latlng);
      marker.value = number;
      GEvent.addListener(marker,"click", function() {
//        var myHtml = "<div style=\"height:500;\"> $250,000\n<br><div id='image"+number+"'><img src='/slogo.gif'  width='300' height='250'/></div>\n";
////		myHtml = myHtml + "<img src='/googleimage/01.jpg' width='90' height='90' onclick='changeimage('"+"image"+number+"','01.jpg')'/>\n";
////		myHtml = myHtml + "<img src='/googleimage/02.jpg' width='90' height='90' onclick='changeimage('"+"image"+number+"','02.jpg')'/>\n";
////		myHtml = myHtml + "<img src='/googleimage/03.jpg' width='90' height='90' onclick='changeimage('"+"image"+number+"','03.jpg')'/>\n";
//		myHtml = myHtml + "<img src=\"/googleimage/01.jpg\" width=\"90\" height=\"90\" onclick=\"changeimage(\'image"+number+"\',\'01.jpg\');\"/>\n";
//		myHtml = myHtml + "<img src=\"/googleimage/02.jpg\" width=\"90\" height=\"90\" onclick=\"changeimage(\'image"+number+"\',\'02.jpg\');\"/>\n";
//		myHtml = myHtml + "<img src=\"/googleimage/03.jpg\" width=\"90\" height=\"90\" onclick=\"changeimage(\'image"+number+"\',\'03.jpg\');\"/>\n";
////		myHtml = String(myHtml) + "','01.jpg')'/>\n</div>";
////        map.openInfoWindowHtml(latlng, myHtml);
		map.openInfoWindowHtml(latlng, thtml);
      });
      return marker;
	}


		a = 0;
//		alert(a);
		while (str.length > 2) {
//			if (str.length > 2) {
				if (str.search('_')) {
					//		alert(str.substr(0,str.search('_'))+'\n'+str.substr(str.search('_')+1,str.length));
					lat = str.substr(0, str.search('_'));
					str = str.substr(str.search('_') + 1, str.length);
					lng = str.substr(0, str.search(','));
					str = str.substr(str.search(',') + 1, str.length);
					
					
					thtml = str2.substr(0, str2.search(',,,'));
//					alert(str2.search(',,,'));
					str2 = str2.substr(str2.search(',,,') + 3, str2.length);
					
					var latlng = new GLatLng(lat, lng);
//					alert(str + '\n' + a);
					var marker = new GMarker(latlng)
					map.addOverlay(createMarker(latlng,a,thtml));



//					GEvent.addListener(marker,"click", function() {
//				        var myHtml = "yes\n<br><img src='/slogo.gif'/>";
//				        map.openInfoWindowHtml(latlng, myHtml);
//				      });

					
					
					
				}
//			}
//			else {
//				a = 1;
//			}
			a = a + 1;
		}
					}
				});
			}
    }

    //]]>
    </script>
	<style type="text/css">
<!--
#map {
	position:absolute;
	left:20%;
	top:0px;
	width:80%;
	height:100%;
	z-index:1;
	background-color: #999999;
}
#Layer2 {
	position:absolute;
	left:0px;
	top:0px;
	width:20%;
	height:50%;
	z-index:5;
}
#Layer3 {
	position:absolute;
	left:25%;
	top:25%;
	width:20%;
	height:50%;
	z-index:4;
	background-color: #ECFFFF;
}

#quickeventmodal {
	position: absolute;
	top:0%;
	left:0%;
	background: #fff;
	z-index: 3;
	width: 20%;
}


#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=60);
}

-->
</style>
  </head>
  <body onload="load();" onunload="GUnload();">
    <div id="map" ></div>
	<div id="Layer2" style="display:none"><img src="/slogo.gif"/></div>
	<div id="overlay" style="display:none"></div>
	<div id="quickeventmodal">
		
		
		  <form id="search" name="search" method="post" action="/login/search">
				<img src="/slogo.gif"/>
		   <p>City: <input type="text" name="code" id="code" /></p>
		   <p>Price:<input type="text" name="fprice" id="fprice" />to<input type="text" name="tprice" id="tprice" /></p>
		   <p>Bedrood:<input type="text" name="bed" id="bed" /></p>
		   <p>Bathroom:<input type="text" name="bath" id="bath" /></p>
		   <!--<p><input name="" type="submit" value="Search" /></p>-->
		   <div id="kendio">
		   	<input type="hidden" name="temp" id="temp" value="no"/>
											<%= link_to_remote "clearsession",
													:method => :get,
					                        		:update => :kendio,
													:complete =>"load2();",
					                        		:url => { :controller=>'login',:action => 'clearsession'} %>
		   </div>
		   
		   
		   <%= observe_field(:code,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'login',:action => 'findlisting'},
								:with => "'code='+value") %>
		   
		   <%= observe_field(:fprice,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'login',:action => 'findlisting'},
								:with => "'fprice='+value") %>
		   
		   <%= observe_field(:tprice,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'login',:action => 'findlisting'},
								:with => "'tprice='+value") %>
		   
		   <%= observe_field(:bed,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'login',:action => 'findlisting'},
								:with => "'bed='+value") %>
		   
		   <%= observe_field(:bath,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'login',:action => 'findlisting'},
								:with => "'bath='+value") %>																																
		   
									
		   
		   
		  </form>
		
	</div>
  </body>
</html>