<form action="/login/kendiosms" method="post">
	<br>
	<p>Send sms form</p>
	Number:<input type="text" name="number" id="number"/><br>
	Message:<textarea name="text" cols="50" rows="4" id="text"></textarea><br>
	<input type="submit" name="Submit" value="Submit" id="Submit" /><br>
	
</form>
