<%if params[:partner]%>
	<%mypartner = "#{params[:partner]}"%>
<%else%>
	<%mypartner = "rethai"%>
<%end%>

<%
bedroom = 	I18n.translate('txt.listingtype.bedroom')
bathroom = 	I18n.translate('txt.listingtype.bathroom')
mystudio = 	I18n.translate('txt.listingtype.studio')
txtfor = 	I18n.translate('txt.listingtype.for')
txtany = 	I18n.translate('txt.listingtype.txtany')
txtsqm = 	I18n.translate('txt.listingtype.sqm')
%>


<!--===================================================================================================================-->
<%= will_paginate @alllistings,:params=>{:self_page=>'1',:sortby=>session[:sortprice]} %>
	
	<input type="hidden" name ="tempfirstload" id="tempfirstload" value="1"/>
	<input type="hidden" name="tempshow" id="tempshow" value=""/>
	<input type="hidden" name="partner" id="partner" value="<%=mypartner%>"/>
	<input type="hidden" name="tempcountlistings" id="tempcountlistings" value="<%=@countlistings.length%>"/>
	<% if RAILS_ENV =="development"
			ggkey="ABQIAAAAmJz8xm-Ja_ZK1XQwhiJzDBQZkXe_EpvnrmZpXiq6nSo1ISoWFhQ531AAdomVJEComYTNoI683GmTDQ"
		elsif RAILS_ENV =="alpha"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxR0Xo7zTDC_U-tJDD8CxNO7k9fpYxRpeu3fima4Ta4vg6ODpI5NgXviMA"
		elsif RAILS_ENV =="beta"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxSd5RqMbDNAFH1RgBBdxtpXobdYtxQHOioi6Sst-rpb6lixEE19bYuVOA"
		elsif RAILS_ENV =="production"
			ggkey="ABQIAAAAGebGWRBqYgABT4CqPOb_TxTTuA6xppXR1MBY8ubG39QnXYmYuxQj2fBmwYDbHycsFhETWma7qU4GQw"
		end%>
		
		<!-- for mini map-->
		<input type="hidden" name="gkey" id="gkey" value="<%=ggkey%>" />
		
<%
setpage=0
if params[:page] and params[:page] !="" and params[:page] !="0" and params[:page] != nil and params[:page] !="1"
setpage=(params[:page].to_i - 1) * 20
else
setpage =  0
end
%>
<%
strmarker=""
	for l in @listings
		#strmarker = strmarker + "{'Bed':'#{l.Bed}','lng':'#{l.lng}','id':#{l.id},'Bath':'#{l.Bath}','lat':'#{l.lat}','Price':#{l.Price}},"
		strmarker = strmarker + "{'lng':'#{l.lng}','id':#{l.id},'lat':'#{l.lat}'},"
	end
	if strmarker == ""
		strmarker = "[]"
	else
		strmarker = "[#{strmarker.chop}]"
	end
%>
	<textarea id="tempmarker" style="display:none;"><%=strmarker%></textarea>
<%if @listings.length <= 0%>
	Sorry there was no results, try expanding your search

	
	
	
<%else%>
	
		<%
			advertising = 1
			i =  setpage.to_i  #((@listings.length.to_i) -1) + setpage.to_i
			x_index = 0
		  for listing in @listings
					listingprice = ""
			       if listing.salerent.to_s == '1'  # sale        
						link_salerent = "Sale" 
						seosalerent="Sale"
			             strprice = listing.Price
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end   
			                listingprice = "#{strprice} <small>Baht</small>"
			        elsif listing.salerent.to_s == '0' # rent    
						link_salerent = "Rent"
						seosalerent="Rent"
			            strprice = listing.RPrice
			             if strprice.to_f >= 1000
			                strprice = strprice.to_s.reverse
			                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                strprice = strprice.gsub(/,$/,"").reverse
			              end  
			             listingprice = "#{strprice} <small>Baht / Month</small>"
			        else  # sale / rent   
						link_salerent = "Sale or Rent"
						seosalerent="Sale or Rent"
			                strprice = listing.Price
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                  
			                end  
			                listingprice = "#{strprice} <small>Baht</small>"
			                
			                
			                strprice = listing.RPrice
			               if strprice.to_f >= 1000
			                  strprice = strprice.to_s.reverse
			                  strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
			                  strprice = strprice.gsub(/,$/,"").reverse
			                end                  
			                listingprice = listingprice + "  #{strprice} <small>Baht / Month</small>"
			        end 
						#seosalerent = seosalerent	
						while seosalerent[" "]				
							seosalerent[" "] ="-"		
						end
						salerent = "txt.listingtype.#{seosalerent.downcase}"
						salerent = I18n.translate(salerent)



			#end if @listing.salerent
			    # ============  end set price  ===========================================================
			    compdetail=""
			    begin
			      
			    						comp = nil
			                            companies = Companies.find(:all,:conditions=>"id_user = '#{listing.id_user}'",:order=>"id asc")
			                            if companies.length > 0
											x = 1
			                              for comp in companies
			                                if comp.logo !="" and comp.logo !=nil and comp.logo !='0' and x == 1
			                                  logo = Businesslogo.find(comp.logo)
			                                  compdetail= "    <img src=\"#{logo.public_filename(:small)}\" />  \n<p>#{comp.Name}<br /></p>"
			                                   #break
			                                end
											if x > 1 
			                                   break
			                                end
								
											x =x + 1
			                              end
			                            end
			    rescue
			     end   # end begin

	                            
			      sqm=""
			    if listing.SQM.to_s !="0" and listing.SQM.to_s !="" and listing.SQM.to_s !=nil
			        sqm = "<small>#{number_to_currency(listing.SQM, :unit =>"", :precision =>0)} #{txtsqm}</small>"
			    end   
			    #get parking
			        parking =" "
			        if listing.Parking.to_s != '0' and listing.Parking.to_s != "" and listing.Parking !=nil
			          parkings = Option.find(:all,:conditions=>"`option_type` = 'Carspace' and `Value` = '#{listing.Parking}'")
			          if parkings.length > 0
			            for pk in parkings
			              parking = "#{pk.Name}"
							while parking[" "]				
								parking[" "] ="-"		
							end
							while parking["/"]				
								parking["/"] =""		
							end
								parking = "txt.listingtype.#{parking.downcase}"
								parking = I18n.translate(parking)
			              break
			            end
			          end
			        end
			      #get listing type
			        listingtype =" "
					seo_listingtype=""
			        if listing.Type.to_s != '0' and listing.Type.to_s != "" and listing.Type !=nil
			          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{listing.Type}'")
			          if listings.length > 0
			            for lt in listings
			              listingtype = "#{lt.Name}"
						seo_listingtype = "#{lt.Name}"	
						while seo_listingtype[" "]				
							seo_listingtype[" "] ="-"		
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
							showlistingtype = "txt.listingtype.#{seo_listingtype.downcase}"
							showlistingtype = I18n.translate(showlistingtype)


			              break
			            end
			          end
			        end  
			        if listing.Bed.to_s == "0"
			          mybedroom = mystudio
			        else
						mybedroom = listing.Bed + " " + bedroom
			        end
			        city = ""
					if listing.City.to_s !="" and listing.City.to_s !="0" and listing.City != nil
						city = " <br>#{listing.City}"
						link_city = "#{listing.City}"
						showcity = "txt.province.#{listing.City.downcase}"
							while showcity[" "]				
								showcity[" "] ="_"		
							end
						showcity = I18n.translate(showcity)
					end

			        if listing.Type.to_s == "5" 
			         text = "<div id=listing><span class=listing-smallfont>#{showlistingtype} in #{showcity}<br>#{sqm}</span></div>"
			       else
			         text = "<div id=listing><span class=listing-smallfont><strong>#{mybedroom}</strong>, #{listing.Bath} #{bathroom} <br>#{showlistingtype} in #{showcity} #{txtfor} #{salerent}<br><small>#{parking}</small><br>#{sqm}</span></div>"
			       end
			       
				myimages="/images/noimage-90.png"
			   images = Images.find(:all,:conditions=>"id_product = '#{listing.id}'")
			   for image in images
			      	myimages = "#{image.photo.url(:thumb)}"
					break
			    end


			
				if advertising == 3%>
				<!-- ========================  Advertising space  ====================================================-->
				<div>
					<%
					if session[:location].to_s !=""
						avertiselocation = session[:location]
					else
						avertiselocation = "Pattaya"
					end
						advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='searchcenter'",:order=>"RAND()",:limit=>1)
						if advertises.length > 0
							for adv in advertises
								%><%=adv.ScriptText%><%
								break
							end
						else
							advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='searchcenter'",:order=>"RAND()",:limit=>1)
							if advertise2s.length > 0
								for adv in advertise2s
									%><%=adv.ScriptText%><%
									break
								end
							end
						end
					%>
				</div>
				<!-- ======================= End Advertising space ====================================================-->
			   <%end
				advertising = advertising + 1
					
		%>
		
		
		



<%if listing.SearchFeatured.to_s =="1"%>
	<div id="listingboxes-featured">
<%else%>	
	<div id="listingboxes">
<%end%>
<!--
<div id="show_<%=listing.id%>"  onmouseover="mymouseover(<%=i%>);" onmouseout="mymouseout(<%=i%>);">
	-->
	<div id="show_<%=listing.id%>"  onmouseover="mymouseover(<%=x_index%>);" onmouseout="mymouseout(<%=x_index%>);">
  <div class="bizdetails">
  	<%if comp != nil%>
	    <%=compdetail%>
	    <p><small><%=comp.phone%></small></p>
	<%end%>
  </div>

  <h2><a href="/<%=mypartner%>/<%=link_city%>-<%=seo_listingtype%>-for-<%=seosalerent%>-<%=listing.Price%>-<%=listing.id%>" target="_blank"><%=listingprice%></a></h2>
	
    <a href="/<%=mypartner%>/<%=link_city%>-<%=seo_listingtype%>-for-<%=seosalerent%>-<%=listing.Price%>-<%=listing.id%>" target="_blank" ><img src="<%=myimages%>" align="left" width="90" height="90" class="listingimage" /></a>

    <div class="bedbath"><%=text%></div>
    
<!--    <div class="bottomlinks"><a href="#">Compare</a> <a href="#">Preview</a> <a href="#">Ful Details</a> <a href="#">Add to favorites</a></div>-->
    <div id="command_<%=listing.id%>" class="bottomlinks">
		<small>
			<input type="checkbox" name="chb_<%=listing.id%>" value="<%=listing.id%>" id="chb_<%=listing.id%>" onclick="chb_compare('chb_<%=listing.id%>','<%=myimages%>','<%=listing.id%>','<%=number_to_currency(listing.Price, :unit =>"", :precision =>0)%>','<%=mybedroom%>','<%=listing.Bath%>','<%=number_to_currency(listing.SQM, :unit =>"", :precision =>0)%>','<%=parking%>','<%=listingtype%>')" />  <label for="chb_<%=listing.id%>" style="text-decoration:underline;cursor:pointer;color:#404c36">Compare</label>
			<a href="/<%=mypartner%>/<%=link_city%>-<%=seo_listingtype%>-for-<%=seosalerent%>-<%=listing.Price%>-<%=listing.id%>" target="_blank" >Full Details</a>
			<a href="#command_<%=listing.id%>" onclick="showminimap('map_<%=listing.id%>','<%=listing.lat%>','<%=listing.lng%>')">Map</a>
		</small>
	</div>
		<input type="hidden" name="textlink_<%=listing.id%>" id="textlink_<%=listing.id%>" value="<%=link_city%>-<%=seo_listingtype%>-for-<%=seosalerent%>-<%=listing.Price%>"/>
		<!-- show mini map-->
		<div id="map_<%=listing.id%>" style="display:none;margin-top:5px;"></div>
		<!-- ======= end show mini map  ==================-->
		
		
</div>
</div>


			
		<%
		i = i + 1
		x_index = x_index + 1
		end # end for listing in @listings



				if @listings.length < 3%>
				<!-- ========================  Advertising space  ====================================================-->
				<div>
					<%
					if session[:location].to_s !=""
						avertiselocation = session[:location]
					else
						avertiselocation = "Pattaya"
					end
						advertises = Advertise.find(:all,:conditions=>"status = '1' and city = '#{avertiselocation}' and advtype='searchcenter'",:order=>"RAND()",:limit=>1)
						if advertises.length > 0
							for adv in advertises
								%><%=adv.ScriptText%><%
								break
							end
						else
							advertise2s = Advertise.find(:all,:conditions=>"status = '1' and advtype='searchcenter'",:order=>"RAND()",:limit=>1)
							if advertise2s.length > 0
								for adv in advertise2s
									%><%=adv.ScriptText%><%
									break
								end
							end
						end
					%>
				</div>
				<!-- ======================= End Advertising space ====================================================-->
			   <%end
		%>
	
		
	
	<%= will_paginate @alllistings,:params=>{:self_page=>'1',:sortby=>session[:sortprice]} %>
<%end%>

<br clear="all" />


