<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Anywhere Sample</title>
    <script src="http://platform.twitter.com/anywhere.js?id=5oOrwgmF1uoGvi5yUgP1vQ&v=1" type="text/javascript"></script>
  </head>
  <body>

  <script type="text/javascript">

    twttr.anywhere(function (T) {
      T.hovercards();
    });

  </script>

<br> 1.

  <span id="follow-placeholder"></span>
  <script type="text/javascript">

    twttr.anywhere(function (T) {
      T("#follow-placeholder").followButton('anywhere');
    });

  </script>
<br>2.
<script type="text/javascript">

  twttr.anywhere(function (T) {
    T.linkifyUsers();
  });

</script>
<br>3.
<script type="text/javascript">

  twttr.anywhere(function (T) {
    T("#linkify-this-content").linkifyUsers();
  });

</script>
  
  
test images:
<%

url = "http://www.bkkcondos.com/realty/images/listing_photos/"

  chkimg= url.downcase
  if chkimg[".jpg"] or chkimg[".png"] or chkimg[".gif"]
%>Yesss
<%else%>Noo
<%end%>




<br><br><br><br><br>
test date:<%=DateTime.now.to_date%>
<br><br>

<%=ExchangeRate.find(:all).size%><br><br>
<%=DateTime.now.wday%><br><br>
<%
x = 1000
if params[:x]
	x = params[:x].to_i
end

%>
<%=DateTime.now.strftime("%W")%>:<%=ExchangeRate.find(1).updated_at.strftime("%W")%>
Currency <%=x%> THB->aud :<%=number_to_currency(CurrencyExchange.currency_exchange(x, "THB", "AUD"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
Currency <%=x%> THB->cad :<%=number_to_currency(CurrencyExchange.currency_exchange(x, "THB", "CAD"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
Currency <%=x%> THB->thb :<%=number_to_currency(CurrencyExchange.currency_exchange(x, "THB", "THB"), :unit => "", :separator => ".", :delimiter => ",", :format => "%n %u",:precision =>0)%><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
  </body>
</html>