<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/EWindow.css" />
    <title>Google Maps</title>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAmJz8xm-Ja_ZK1XQwhiJzDBQZkXe_EpvnrmZpXiq6nSo1ISoWFhQ531AAdomVJEComYTNoI683GmTDQ" type="text/javascript"></script>
  </head>
  <body onunload="GUnload()">


    <div id="map" style="width: 550px; height: 450px"></div>
    <a href="ewindows.htm">Back to the tutorial page</a>

    <noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
      However, it seems JavaScript is either disabled or not supported by your browser. 
      To view Google Maps, enable JavaScript by changing your browser options, and then 
      try again.
    </noscript>
 
    <script type="text/javascript" src="/EWindow.js"></script>
    <script type="text/javascript">
    //<![CDATA[
//     
//    if (GBrowserIsCompatible()) { 
//
//      function createMarker(point,html) {
//        var marker = new GMarker(point);
//        // ========== Open the EWindow instead of a Google Info Window ==========
//        GEvent.addListener(marker, "click", function() {
//          ew.openOnMarker(marker,html);
//        });
//        return marker;
//      }
//      
//      var map = new GMap2(document.getElementById("map"));
//      map.addControl(new GLargeMapControl());
//      map.addControl(new GMapTypeControl());
//      map.setCenter(new GLatLng(43.907787,-79.359741),8);
//      
//      // Create an EWindow
//      ew = new EWindow(map, E_STYLE_1);      
//      map.addOverlay(ew);
//      
//      // This function just makes a pretty table for the EWindow contents
//      // With a close icon
//      function pretty(a,b) {
//        return '<table border="0" cellpadding="0" cellspacing="0"><tr><td width="100%" class="EWTitle" nowrap>' + a +
//               '<a href="javascript:ew.hide()"><img width="14" height="13" title="Close the EWindow" src="/icon/icon_close.gif" border=0 style="position:absolute;right:4px;top:4px"><\/a>' +
//               '<\/td><\/tr>' +
//               '<tr><td nowrap>' + b + '<\/td><\/tr><\/table>';
//      }
//
//    
//      // Set up three markers with EWindows 
//      var point = new GLatLng(43.65654,-79.90138);
//      var html = pretty('Brampton','Some stuff to display in the<br>First Info Window.<br> With a <a href="http://www.econym.demon.co.uk">Link<\/a> to my home page'); 
//      var marker = createMarker(point,html);
//      map.addOverlay(marker);
//
//      var point = new GLatLng(43.91892,-78.89231);
//      var html = pretty('Oshawa','Some stuff to display in the<br>Second Info Window'); 
//      var marker = createMarker(point,html);
//      map.addOverlay(marker);
//
//      var point = new GLatLng(43.82589,-79.10040);
//      var html = pretty('Markham','Some stuff to display in the<br>third info window'); 
//      var marker = createMarker(point,html);
//      map.addOverlay(marker);
//      
//      
//      // ========== Close the EWindow if theres a map click ==========
////      GEvent.addListener(map, "click", function(overlay,point) {
////        if (!overlay) {
////          ew.hide();
////        }
////      });
//      
//
//    }
//    
//    // display a warning if the browser was not compatible
//    else {
//      alert("Sorry, the Google Maps API is not compatible with this browser");
//    }
//
//    // This Javascript is based on code provided by the
//    // Community Church Javascript Team
//    // http://www.bisphamchurch.org.uk/   
//    // http://econym.org.uk/gmap/
//
//    //]]>
	
	
	
	
	
	
	
	
	
//	
//	var map = new GMap2(document.getElementById("map"));
//map.addControl(new GSmallMapControl());
//map.addControl(new GMapTypeControl());
//map.setCenter(new GLatLng(37.4419, -122.1419), 13);
//
//// Create our "cafe" marker icon
//var cafeIcon = new GIcon();
//cafeIcon.image = "http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=cafe|996600";
//cafeIcon.shadow = "http://chart.apis.google.com/chart?chst=d_map_pin_shadow";
//cafeIcon.iconSize = new GSize(12, 20);
//cafeIcon.shadowSize = new GSize(22, 20);
//cafeIcon.iconAnchor = new GPoint(6, 20);
//cafeIcon.infoWindowAnchor = new GPoint(5, 1);
//// Set up our GMarkerOptions object literal
//markerOptions = { icon:cafeIcon };
//
//// Add 10 markers to the map at random locations
//var bounds = map.getBounds();
//var southWest = bounds.getSouthWest();
//var northEast = bounds.getNorthEast();
//var lngSpan = northEast.lng() - southWest.lng();
//var latSpan = northEast.lat() - southWest.lat();
//for (var i = 0; i < 10; i++) {
//  var point = new GLatLng(southWest.lat() + latSpan * Math.random(),
//                          southWest.lng() + lngSpan * Math.random());
//  map.addOverlay(new GMarker(point, markerOptions));
//}







// A Rectangle is a simple overlay that outlines a lat/lng bounds on the
// map. It has a border of the given weight and color and can optionally
// have a semi-transparent background color.
function Rectangle(bounds, opt_weight, opt_color) {
  this.bounds_ = bounds;
  this.weight_ = opt_weight || 2;
  this.color_ = opt_color || "#888888";
}
Rectangle.prototype = new GOverlay();

// Creates the DIV representing this rectangle.
Rectangle.prototype.initialize = function(map) {
  // Create the DIV representing our rectangle
  var div = document.createElement("div");
  div.style.border = this.weight_ + "px solid " + this.color_;
  div.style.position = "absolute";

  // Our rectangle is flat against the map, so we add our selves to the
  // MAP_PANE pane, which is at the same z-index as the map itself (i.e.,
  // below the marker shadows)
  map.getPane(G_MAP_MAP_PANE).appendChild(div);

  this.map_ = map;
  this.div_ = div;
}

// Remove the main DIV from the map pane
Rectangle.prototype.remove = function() {
  this.div_.parentNode.removeChild(this.div_);
}

// Copy our data to a new Rectangle
Rectangle.prototype.copy = function() {
  return new Rectangle(this.bounds_, this.weight_, this.color_,
                       this.backgroundColor_, this.opacity_);
}

// Redraw the rectangle based on the current projection and zoom level
Rectangle.prototype.redraw = function(force) {
  // We only need to redraw if the coordinate system has changed
  if (!force) return;

  // Calculate the DIV coordinates of two opposite corners of our bounds to
  // get the size and position of our rectangle
  var c1 = this.map_.fromLatLngToDivPixel(this.bounds_.getSouthWest());
  var c2 = this.map_.fromLatLngToDivPixel(this.bounds_.getNorthEast());

  // Now position our DIV based on the DIV coordinates of our bounds
  this.div_.style.width = Math.abs(c2.x - c1.x) + "px";
  this.div_.style.height = Math.abs(c2.y - c1.y) + "px";
  this.div_.style.left = (Math.min(c2.x, c1.x) - this.weight_) + "px";
  this.div_.style.top = (Math.min(c2.y, c1.y) - this.weight_) + "px";
}

var map = new GMap2(document.getElementById("map"));
map.addControl(new GSmallMapControl());
map.addControl(new GMapTypeControl());
map.setCenter(new GLatLng(37.4419, -122.1419), 13);

// Display a rectangle in the center of the map at about a quarter of
// the size of the main map
var bounds = map.getBounds();
var southWest = bounds.getSouthWest();
var northEast = bounds.getNorthEast();
var lngDelta = (northEast.lng() - southWest.lng()) / 4;
var latDelta = (northEast.lat() - southWest.lat()) / 4;
var rectBounds = new GLatLngBounds(
    new GLatLng(southWest.lat() + latDelta, southWest.lng() + lngDelta),
    new GLatLng(northEast.lat() - latDelta, northEast.lng() - lngDelta));
map.addOverlay(new Rectangle(rectBounds));






    </script>


  </body>

</html>




