<script src="/javascripts/kendio.js" type="text/javascript"></script>
<div id="controlpanelnav">
	<img src="/images/icons/user.png" /> <a href="#" onclick="document.getElementById('add_nav').style.display='none'; changeform('account');">Personal Details</a>
<!--	<img src="/images/icons/coins.png" /> <a href="#" onclick="document.getElementById('add_nav').style.display='none'; changeform('credits');">Credits</a>-->
	<!--<img src="/images/icons/star.png" /> <a href="#" onclick="document.getElementById('add_nav').style.display='none'; gfav('/xml/<%=session[:user_id]%>.xml');">Favorites</a>-->
	<img src="/images/icons/star.png" /> <a href="#" onclick="document.getElementById('add_nav').style.display='none'; gfav2('<%=session[:user_id]%>');">Favorites</a>
	<!--<a href="#" onclick="new Ajax.Request('/products/gfavorite', {asynchronous:true, evalScripts:true, onComplete:function(request){gfav('/xml/<%=session[:user_id]%>.xml')}}); return false;">Favorites</a>-->
	
	
	<%
       if session[:user_id]
          @newmessages = Mail.find(:all,:conditions=>" master = '0' and (id_user = '#{session[:user_id]}' or id_agent = '#{session[:user_id]}' or customer = '#{session[:user_id]}')")
          for newmessage in @newmessages
            if (newmessage.customer.to_s == "#{session[:user_id]}" and newmessage.custflag.to_s == "1")or (newmessage.id_agent.to_s == "#{session[:user_id]}" and newmessage.userflag.to_s == "1")
              
	%>
		<img src="/images/icons/email.png" /> <a href="#" onClick="window.open('/controlpanel/messages','mywin','left=20,top=20,width=950,height=660,toolbar=0,resizable=0,location=0,status=0');myRef.focus()" >New Message!</a>
	<%
            end
				break
          end
       end
	
	
	%>
	
	
	<!--<img src="/images/icons/phone.png" /> <a href="#" onclick="changeform('smssettings');">SMS Settings</a>-->
	<!--<img src="/images/icons/house.png" /> <a href="#" onclick="mylistings('/xml/<%=session[:user_id]%>_listings.xml')">My Listings</a>
	<img src="/images/icons/house.png" /> <a href="#" onclick="changeform('mylistings');">My Listings</a>-->
</div>