<%= error_messages_for 'product' %>

<!--[form:product]-->
<p><label for="product_city">City</label><br/>
<%= text_field 'product', 'city'  %></p>

<p><label for="product_Price">Price</label><br/>
<%= text_field 'product', 'Price'  %></p>

<p><label for="product_Bed">Bed</label><br/>
<%= text_field 'product', 'Bed'  %></p>

<p><label for="product_Bath">Bath</label><br/>
<%= text_field 'product', 'Bath'  %></p>

<p><label for="product_Detail">Detail</label><br/>
<%= text_area 'product', 'Detail'  %></p>

<p><label for="product_lat">Lat</label><br/>
<%= text_field 'product', 'lat'  %></p>

<p><label for="product_lng">Lng</label><br/>
<%= text_field 'product', 'lng'  %></p>

<p><label for="product_created_on">Created on</label><br/>
<%= datetime_select 'product', 'created_on'  %></p>

<p><label for="product_updated_on">Updated on</label><br/>
<%= datetime_select 'product', 'updated_on'  %></p>
<!--[eoform:product]-->
