<form method="post" enctype="multipart/form-data" action="/products/create">
<div id="gaddproductform1"><input name="product2[lat]" id="product2_lat" value="" type="text">
<br><input name="product2[lng]" id="product2_lng" value="" type="text">
<br>Location:<input name="product2[City]" id="product2_City" type="text">
<p>Price:<input name="product2[Price]" id="product2_Price" onchange="return checknumber('product2_Price');" type="text"></p>
<p>Bedrood:<input name="product2[Bed]" id="product2_Bed" onchange="return checknumber('product2_Bed');" type="text"></p>
<p>Bathroom:<input name="product2[Bath]" id="product2_Bath" onchange="return checknumber('product2_Bath');" type="text"></p>
<p>Type:<input name="product2[Type]" id="product2_Bath" onchange="return checknumber('product2_Type');" type="text"></p>
<a href="#" onclick="javascript:document.getElementById('gaddproductform1').style.display='none';document.getElementById('gaddproductform2').style.display='inline';">next</a>
</div>


<div id="gaddproductform2" style="display: none;">
<p>Parking:<textarea name="product2[Parking]" id="product2_Parking" cols="30" rows="3"></textarea></p>
<p>Detail:<textarea name="product2[Detail]" id="product2_Detail" cols="30" rows="3"></textarea></p>
<p>Picture</p>
<p>Picture1:<input name="image2[pic1]" id="image2_pic1" cols="30" rows="3" type="file"></p>
<p>Picture2:<input name="image2[pic2]" id="image2_pic2" cols="30" rows="3" type="file"></p>
<p>Picture3:<input name="image2[pic3]" id="image2_pic3" cols="30" rows="3" type="file"></p>

<p>Picture4:<input name="image2[pic4]" id="image2_pic4" cols="30" rows="3" type="file"></p>
<p>Picture5:<input name="image2[pic5]" id="image2_pic5" cols="30" rows="3" type="file"></p>
<a href="#" onclick="javascript:document.getElementById('gaddproductform1').style.display='inline';document.getElementById('gaddproductform2').style.display='none';">back</a>
|<input value="Submit" onclick="return validateform('product2_Price','product2_Bed','product2_Bath','product2_Detail');" type="submit">	

</div>
</form>

