 
<%if @companies.logo !="" and @companies.logo !=nil and @companies.logo !='0'%>
	<%	imgs = Businesslogo.find(:all,:conditions=>"id = '#{@companies.logo}'")
		if imgs.length > 0
			for img in imgs
					%>
					<div style="margin-bottom:10px;"><img src="<%=img.public_filename(:small)%>" width="150" height="30" /></div>
					<%
				break
			end
		end		
%>
						
	
<%end%>

<table>
	<tr>
		<td><strong>Name:</strong></td>
		<td><%=@companies.Name%></td>
	</tr>
	<tr>
		<td><strong>Broker Number:</strong></td>
		<td><%=@companies.brokerNo%></td>
	</tr>
	<tr>
		<td><strong>Years in Business:</strong></td>
		<td><%=@companies.Years%></td>
	</tr>
	<tr>
		<td><strong>Website Address:</strong></td>
		<td>
			<%
			strlink=""
			strlink = @companies.Url
			if strlink["http://"] or  strlink["https://"]
				%>
				<a href="<%=@companies.Url%>" target="_blank"><%=@companies.Url%></a>
			<%else%>
				<a href="http://<%=@companies.Url%>" target="_blank"><%=@companies.Url%></a>
			<%end%>
			
		</td>
	</tr>
	<tr>
		<td colspan="2"><strong>About Us:</strong><br><%=@companies.Detail%></td>
	</tr>
	<tr>
		<td colspan="2"><strong>Services:</strong><br><%=@companies.Services%></td>
	</tr>
</table>
