<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps JavaScript API Example</title>
	<%= javascript_include_tag :defaults %>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
	<script src="/javascripts/kendio.js" type="text/javascript"></script>
	<script src="/javascripts/google_northamerica_offices.js" type="text/javascript"></script>
    <script src="/javascripts/gmlocalsearch.js" type="text/javascript"></script>
    <script src="/javascripts/extmaptypecontrol.js" type="text/javascript"></script>
    <script src="/javascripts/infobox.js" type="text/javascript"></script>
    <script src="/javascripts/zoomcontrol.js" type="text/javascript"></script>
    <script src="/javascripts/urchin.js" type="text/javascript"></script>

    <script type="text/javascript">
	

    //<![CDATA[

	
	
	
	function validateform(id1,di2,id3,id4){
		if (document.getElementById(id1).value==""){alert('Please Check your Detail');document.getElementById(id1).focus();return false;}
		else if (document.getElementById(id2).value==""){alert('Please Check your Detail');document.getElementById(id2).focus();return false;}
		else if (document.getElementById(id3).value==""){alert('Please Check your Detail');document.getElementById(id3).focus();return false;}
		else if (document.getElementById(id4).value==""){alert('Please Check your Detail');document.getElementById(id4).focus();return false;}
		else{return true;}
		
		
	}
	
	function changeform(id){
		if (id == 'search'){
//			alert('yes');
			document.getElementById('search').style.display='inline';
			document.getElementById('sell').style.display='none';
		}else{
			document.getElementById('search').style.display='none';
			document.getElementById('sell').style.display='inline';
		}
		
	}
	function changeimage(gdiv,img){
		str = "<img src='"+img+"' width='400' height='300'/>"
		document.getElementById(gdiv).innerHTML = str;

	}
	function myalert(id){
//		alert(document.getElementById(id).value);
		str  = document.getElementById(id).value;
		a = 0;
		while (a > 0) {
			if (str.search('_')) {
				//		alert(str.substr(0,str.search('_'))+'\n'+str.substr(str.search('_')+1,str.length));
				lat = str.substr(0, str.search('_'));
				str = str.substr(str.search('_') + 1, str.length);
				lng = str.substr(0, str.search(','));
				str = str.substr(str.search(',') + 1, str.length);
				
				
//				var latlng = new GLatLng(lat,lng);
//
//				var marker = new GMarker(latlng, {
//							icon: icons[2]
//						});
//						map.addOverlay(marker);

					
					
//						map = new GMap2(document.getElementById("map"));
//						map.addControl(new GOverviewMapControl());
//						map.enableDoubleClickZoom();
//						//        		map.setMapType(G_SATELLITE_MAP);
//						map.setMapType(G_HYBRID_MAP);
//						map.addControl(new GMapTypeControl());
//						map.addControl(new GLargeMapControl());
//						
						geocoder = new GClientGeocoder();
						
						
						map.setCenter(point, 15);
						var marker = new GMarker(point, {
							icon: icons[2]
						});
						map.addOverlay(marker);
						GEvent.addListener(marker, 'click',
									function() {
									marker.openInfoWindowHtml('yes');
									});
					
				
			}else{a = 1;}
		}
	}
	
	
	
    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(12.9357, 100.889), 13);
		map.addControl(new GOverviewMapControl());
			map.enableDoubleClickZoom();
			map.setMapType(G_HYBRID_MAP);
			map.addControl(new GMapTypeControl());
			map.addControl(new GLargeMapControl());
			geocoder = new GClientGeocoder();
      }
    }
	function load2() {
		address = document.getElementById('code').value;
			if (geocoder) {
//				alert('not');
				geocoder.getLatLng(address, function(point){
					if (!point) {
						alert(address + " not found\nPlease try again.");
						map = new GMap2(document.getElementById("map"));
						map.setCenter(new GLatLng(12.9357, 100.889), 13);
						map.addControl(new GOverviewMapControl());
						map.enableDoubleClickZoom();
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
//						GMap2.clearOverlays();
						 
						 
//						GEvent.addListener(map, "click", function(overlay, latlng){	
//						var htmlform = "<form method=\"post\" action=\"/product/create\">";
//						htmlform = htmlform + "<input type=\"hidden\" name=\"product[lat]\" id=\"product_lat\" value=\""+latlng.lat()+"\"/>lat:"+latlng.lat()+"";
//						htmlform = htmlform + "<br><input type=\"hidden\" name=\"product[lng]\" id=\"product_lng\" value=\""+latlng.lng()+"\"/>lng:"+latlng.lng()+"";
//		   				htmlform = htmlform + "<p>City: <input type=\"text\" name=\"product[City]\" id=\"product_City\" value=\""+document.getElementById('code').value+"\"/></p>";
//		   				htmlform = htmlform + "<p>Price:<input type=\"text\" name=\"product[Price]\" id=\"product_Price\" /></p>";
//		   				htmlform = htmlform + "<p>Bedrood:<input type=\"text\" name=\"product[Bed]\" id=\"product_Bed\" /></p>";
//		   				htmlform = htmlform + "<p>Bathroom:<input type=\"text\" name=\"product[Bath]\" id=\"product_Bath\" /></p>";
//		   				htmlform = htmlform + "<p>Detail:<textarea name=\"product[Detail]\" id=\"product_Detail\" cols=\"30\" rows=\"3\"></textarea></p>";
//		   				htmlform = htmlform + "<p><input type=\"submit\" value=\"Submit\" /></p>	";  
//		  				htmlform = htmlform + "</form>";
//							if (latlng) {   
//					            var myHtml = "The GLatLng value is: " + latlng.lat + " at zoom level " + map.getZoom();
////					            map.openInfoWindow(latlng, myHtml);
//								map.openInfoWindow(latlng, htmlform);
//					          }
//
//						});
						
						
						
					//        geocoder = new GClientGeocoder();				
					}
					else {
//						alert('yes');
//						alert(address + " yes, have");
						map = new GMap2(document.getElementById("map"));
						
						map.enableDoubleClickZoom();
						//        		map.setMapType(G_SATELLITE_MAP);
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
						map.addControl(new GOverviewMapControl());
						geocoder = new GClientGeocoder();
						
						map.setCenter(point, 15);
//						var marker = new GMarker('12.9357,100.889')
//					map.addOverlay(marker);
//						var marker = new GMarker(point, {
//							icon: icons[2]
//						});
//						map.addOverlay(marker);
//						GEvent.addListener(marker, 'click',
//									function() {
//									marker.openInfoWindowHtml(address);
//									});
//						map.setZoom(15);
		str  = document.getElementById('temp').value;
		str2 = document.getElementById('temp2').innerHTML;
//		alert(str2);
		    function createMarker(latlng, number,thtml) {
      var marker = new GMarker(latlng);
      marker.value = number;
						
      GEvent.addListener(marker,"click", function() {
		map.openInfoWindowHtml(latlng, thtml);
      });
      return marker;
	}


		a = 0;
		while (str.length > 2) {
//			if (str.length > 2) {
				if (str.search('_')) {
					//		alert(str.substr(0,str.search('_'))+'\n'+str.substr(str.search('_')+1,str.length));
					lat = str.substr(0, str.search('_'));
					str = str.substr(str.search('_') + 1, str.length);
					lng = str.substr(0, str.search(','));
					str = str.substr(str.search(',') + 1, str.length);
					
					
					thtml = str2.substr(0, str2.search(',,,'));
//					alert(str2.search(',,,'));
					str2 = str2.substr(str2.search(',,,') + 3, str2.length);
					
					var latlng = new GLatLng(lat, lng);
//					alert(str + '\n' + a);
					var marker = new GMarker(latlng)
					map.addOverlay(createMarker(latlng,a,thtml));


				
					
					
				}
			a = a + 1;
		}
		
//		map.removeOverlay(marker[0]);
					}
				});
			}
    }



function load3() {
		document.getElementById('product_City').value = "pattaya";
		document.getElementById('quickeventmodal').style.display='none';
		address = document.getElementById('product_City').value;
			if (geocoder) {
//				alert('not');
				geocoder.getLatLng(address, function(point){
					if (!point) {
						alert(address + " not found\nPlease try again.");
						map = new GMap2(document.getElementById("map"));
						map.setCenter(new GLatLng(12.9357, 100.889), 13);
						map.addControl(new GOverviewMapControl());
						map.enableDoubleClickZoom();
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
//						GMap2.clearOverlays();
						 
						 
						GEvent.addListener(map, "click", function(overlay, latlng){	
						var htmlform = "<form method=\"post\" enctype=\"multipart/form-data\"  action=\"/products/create\">\n";
						htmlform = htmlform + "<input type=\"hidden\" name=\"product2[lat]\" id=\"product2_lat\" value=\""+latlng.lat()+"\"/>lat:"+latlng.lat()+"\n";
						htmlform = htmlform + "<input type=\"hidden\" name=\"product2[lng]\" id=\"product2_lng\" value=\""+latlng.lng()+"\"/>lng:"+latlng.lng()+"\n";
		   				htmlform = htmlform + "<input type=\"hidden\" name=\"product2[City]\" id=\"product2_City\" value=\""+document.getElementById('product_City').value+"\"/>\n";
		   				htmlform = htmlform + "<p>Price:<input type=\"text\" name=\"product2[Price]\" id=\"product2_Price\"  onchange=\"return checknumber(\'product2_Price\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Bedrood:<input type=\"text\" name=\"product2[Bed]\" id=\"product2_Bed\"  onchange=\"return checknumber(\'product2_Bed\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Bathroom:<input type=\"text\" name=\"product2[Bath]\" id=\"product2_Bath\" onchange=\"return checknumber(\'product2_Bath\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Detail:<textarea name=\"product2[Detail]\" id=\"product2_Detail\" cols=\"30\" rows=\"3\"></textarea></p>\n";
						
						htmlform = htmlform + "<p>Picture</p>\n";
						htmlform = htmlform + "<p>Picture1:<input type=\"file\" name=\"image2[pic1]\" id=\"image2_pic1\" cols=\"30\" rows=\"3\"></p>\n";
						htmlform = htmlform + "<p>Picture2:<input type=\"file\" name=\"image2[pic2]\" id=\"image2_pic2\" cols=\"30\" rows=\"3\"></p>\n";
						htmlform = htmlform + "<p>Picture3:<input type=\"file\" name=\"image2[pic3]\" id=\"image2_pic3\" cols=\"30\" rows=\"3\"></p>\n";
						htmlform = htmlform + "<p>Picture4:<input type=\"file\" name=\"image2[pic4]\" id=\"image2_pic4\" cols=\"30\" rows=\"3\"></p>\n";
						htmlform = htmlform + "<p>Picture5:<input type=\"file\" name=\"image2[pic5]\" id=\"image2_pic5\" cols=\"30\" rows=\"3\"></p>\n";
		   				htmlform = htmlform + "<p><input type=\"submit\" value=\"Submit\" onclick=\"return validateform(\'product2_Price\',\'product2_Bed\',\'product2_Bath\',\'product2_Detail\');\" /></p>	\n";  
		  				htmlform = htmlform + "</form>\n";
							if (latlng) {   
					            var myHtml = "The GLatLng value is: " + latlng.lat + " at zoom level " + map.getZoom();
//					            map.openInfoWindow(latlng, myHtml);
								map.openInfoWindow(latlng, htmlform);
					          }

						});
						
						
						
					//        geocoder = new GClientGeocoder();				
					}
					else {
//						alert('yes');
//						alert(address + " yes, have");
						map = new GMap2(document.getElementById("map"));
						
						map.enableDoubleClickZoom();
						//        		map.setMapType(G_SATELLITE_MAP);
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
						map.addControl(new GOverviewMapControl());
						geocoder = new GClientGeocoder();
						
						map.setCenter(point, 13);
						
						
						GEvent.addListener(map, "click", function(overlay, latlng){	
						var htmlform = "<form method=\"post\" enctype=\"multipart/form-data\"  action=\"/products/create\">\n";
						htmlform = htmlform + "<input type=\"hidden\" name=\"product2[lat]\" id=\"product2_lat\" value=\""+latlng.lat()+"\"/>lat:"+latlng.lat()+"\n";
						htmlform = htmlform + "<input type=\"hidden\" name=\"product2[lng]\" id=\"product2_lng\" value=\""+latlng.lng()+"\"/>lng:"+latlng.lng()+"\n";
		   				htmlform = htmlform + "<input type=\"hidden\" name=\"product2[City]\" id=\"product2_City\" value=\""+document.getElementById('product_City').value+"\"/>\n";
		   				htmlform = htmlform + "<p>Price:<input type=\"text\" name=\"product2[Price]\" id=\"product2_Price\"  onchange=\"return checknumber(\'product2_Price\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Bedrood:<input type=\"text\" name=\"product2[Bed]\" id=\"product2_Bed\"  onchange=\"return checknumber(\'product2_Bed\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Bathroom:<input type=\"text\" name=\"product2[Bath]\" id=\"product2_Bath\" onchange=\"return checknumber(\'product2_Bath\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Detail:<textarea name=\"product2[Detail]\" id=\"product2_Detail\" cols=\"30\" rows=\"3\"></textarea></p>\n";
						
						htmlform = htmlform + "<p>Picture</p>\n";
						htmlform = htmlform + "<p>Picture1:<input type=\"file\" name=\"image2[pic1]\" id=\"image2_pic1\" cols=\"30\" rows=\"3\"></p>\n";
						htmlform = htmlform + "<p>Picture2:<input type=\"file\" name=\"image2[pic2]\" id=\"image2_pic2\" cols=\"30\" rows=\"3\"></p>\n";
						htmlform = htmlform + "<p>Picture3:<input type=\"file\" name=\"image2[pic3]\" id=\"image2_pic3\" cols=\"30\" rows=\"3\"></p>\n";
						htmlform = htmlform + "<p>Picture4:<input type=\"file\" name=\"image2[pic4]\" id=\"image2_pic4\" cols=\"30\" rows=\"3\"></p>\n";
						htmlform = htmlform + "<p>Picture5:<input type=\"file\" name=\"image2[pic5]\" id=\"image2_pic5\" cols=\"30\" rows=\"3\"></p>\n";
		   				htmlform = htmlform + "<p><input type=\"submit\" value=\"Submit\" onclick=\"return validateform(\'product2_Price\',\'product2_Bed\',\'product2_Bath\',\'product2_Detail\');\" /></p>	\n";  
		  				htmlform = htmlform + "</form>\n";
							if (latlng) {   
					            var myHtml = "The GLatLng value is: " + latlng.lat + " at zoom level " + map.getZoom();
//					            map.openInfoWindow(latlng, myHtml);
								map.openInfoWindow(latlng, htmlform);
					          }

						});
		
//		map.removeOverlay(marker[0]);
					}
				});
			}
    }
    //]]>
    </script>
	<style type="text/css">
<!--


#Layer3 {
	position:absolute;
	left:25%;
	top:25%;
	width:20%;
	height:50%;
	z-index:4;
	background-color: #ECFFFF;
}


#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

-->
</style>
  </head>
  <body onload="load();" onunload="GUnload();">



    <div id="map" style="position:absolute;	left:0%;	top:0%;	width:100%;	height:100%;	z-index:1;	background-color: #999999;"></div>
	
	<div id="overlay" style="display:none"></div>
	<div id="command" style="position:absolute;	left:15%;	top:0%;	width:50px;	height:50px;	z-index:3;">
		<img src="/slogo.gif" onclick="Element.toggle('quickeventmodal')"/>
	</div>
	<div id="quickeventmodal" name="quickeventmodal" style="position: absolute;top:25%;left:25%;background: #fff;padding: 15px;border: 5px solid #ddd;width: 600px;z-index: 3;width: 20%;">
		<a href="#" onclick="changeform('search');">Search</a>|<a href="#" onclick="load3();">Sell</a>
		<hr>
		<div id="sell" style="display:none;">
			<form method="post" action="/product/create">
		   <p>City: <input type="text" name="product[City]" id="product_City" /></p>
		   <p>Price:<input type="text" name="product[Price]" id="product_Price" /></p>
		   <p>Bedrood:<input type="text" name="product[Bed]" id="product_Bed" /></p>
		   <p>Bathroom:<input type="text" name="product[Bath]" id="product_Bath" /></p>
		   <p>Detail:<textarea name="product[Detail]" id="product_Detail" cols="30" rows="3"></textarea></p>
		   <p><input name="" type="submit" value="Submit" /></p>	  
		  </form>
		</div>
		<div id="search" style="display:inline;">
		
		  <form  method="post" action="/products/search">
				<img src="/slogo.gif"/>
		   <p>City: <input type="text" name="code" id="code" /></p>
		   <p>Price:<input type="text" name="fprice" id="fprice" />to<input type="text" name="tprice" id="tprice" /></p>
		   <p>Bedrood:<input type="text" name="bed" id="bed" /></p>
		   <p>Bathroom:<input type="text" name="bath" id="bath" /></p>
		   <!--<p><input name="" type="submit" value="Search" /></p>-->
		   <input type="hidden" name="temp" id="temp" value="no"/>
											<%= link_to_remote "clearsession",
													:method => :get,
					                        		:update => :kendio,
													:complete =>"load2();",
					                        		:url => { :controller=>'products',:action => 'clearsession'} %>
		   <div id="kendio">
		   	
			<div id="temp2" style="display:none"></div>													
		   </div>
		   
		   
		   <%= observe_field(:code,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'code='+value") %>
		   
		   <%= observe_field(:fprice,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'fprice='+value") %>
		   
		   <%= observe_field(:tprice,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'tprice='+value") %>
		   
		   <%= observe_field(:bed,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'bed='+value") %>
		   
		   <%= observe_field(:bath,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'bath='+value") %>																																
		   
									
		   
		   
		  </form>
		</div>
	</div>
  </body>
</html>