<%
begin
@listing = Product.find(params[:id])
     #get listing type
        listingtype =" "
seo_listingtype=""
        if @listing.Type.to_s != '0' and @listing.Type.to_s != "" and @listing.Type !=nil
          listings = Option.find(:all,:conditions=>"`option_type` = 'Listing' and `Value` = '#{@listing.Type}'")
          if listings.length > 0
            for lt in listings
              listingtype = "#{lt.Name}-"
						  seo_listingtype =	"#{lt.Name}-"
						while seo_listingtype[" "]
						  seo_listingtype[" "]="-"
						end
						while seo_listingtype["/"]				
							seo_listingtype["/"] =""		
						end
              break
            end
          end
        end
		city = ""
		if @listing.City.to_s !="" and @listing.City.to_s !="0" and @listing.City != nil
			city ="#{@listing.City}-"
		end
		
		salerent = ""
		if @listing.salerent.to_s =="1"
			salerent = "Sale-"
			seosalerent = "Sale-"
		elsif @listing.salerent.to_s =="2"
			salerent = "Sale or Rent-"
			seosalerent = "Sale-or-Rent-"
		elsif @listing.salerent.to_s =="0"			
			salerent = "Rent-"		
			seosalerent = "Rent-"
		end
%>
<p>Copy the link below to link directly to this listing.</p>
<p>You can use this link in any email or website.</p>
<p><a href="http://www.rethai.com/listings/maps?h=<%=city%><%=seo_listingtype%><%=seosalerent%><%=@listing.Price%>-<%=params[:id]%>" target="_blank" style="padding:5px;background-color:#fffccf;font-weight:bold">http://www.rethai.com/listings/maps?h=<%=city%><%=seo_listingtype%><%=salerent%><%=@listing.Price%>-<%=params[:id]%></a></p>
<p><a href="http://www.rethai.com/rethai/<%=city%><%=seo_listingtype%><%=seosalerent%><%=@listing.Price%>-<%=params[:id]%>" target="_blank" style="padding:5px;background-color:#fffccf;font-weight:bold">http://www.rethai.com/rethai/<%=city%><%=seo_listingtype%><%=salerent%><%=@listing.Price%>-<%=params[:id]%></a></p>

<%rescue%>
<p>Please check your like or you can <b><a href="http://www.rethai.com/rethai">find new listing here</a></b></p>
<%end%>