
					<%= javascript_include_tag :defaults %> 
					<script src="/javascripts/kendio.js" type="text/javascript"></script>
					<script type="text/javascript">
						function salerentprice(id){
								//alert(document.getElementById(id).value);
								 if(document.getElementById(id).value == '1'){
								 	document.getElementById('saleprice').style.display='block';
									document.getElementById('rentprice').style.display='none';
									
									document.getElementById('saleprice2').style.display='block';
									document.getElementById('rentprice2').style.display='none';
								}else if(document.getElementById(id).value == '0'){
									document.getElementById('saleprice').style.display='none';
									document.getElementById('rentprice').style.display='block';
									
									
									document.getElementById('saleprice2').style.display='none';
									document.getElementById('rentprice2').style.display='block';
								}else if(document.getElementById(id).value == '2'){
									document.getElementById('saleprice').style.display='block';
									document.getElementById('rentprice').style.display='block';
									
									document.getElementById('saleprice2').style.display='block';
									document.getElementById('rentprice2').style.display='block';
								}
							return false;
							}
					</script>
					

	

					<% types = 		Option.find(:all,:conditions=>"option_type = 'Listing'",  :order=>"id asc")%>
					<% parkings = 	Option.find(:all,:conditions=>"option_type = 'Carspace'", :order=>"id asc")%>
					<% images = Images.find(:all,:conditions=>"id_product = '#{@product.id}'")  %>
					<h4 style="margin-bottom:10px;">Edit Listing</h4>
					
					<!--<%= form_remote_tag(:update => "show",	
					:enctype=>"multipart/form-data",
					:loading =>"show_1_element('indicator_form')",								
					:complete =>"javascript: document.getElementById('indicator_form').style.display='none';",
					:url => { :controller=>'controlpanel',:action => :updateproduct,:multipart => true },:html => { :enctype => 'multipart/form-data' }
					) %>-->
					
<form method="post" enctype="multipart/form-data" action="/controlpanel/updateproduct">
											<input name="id" id="id" type="hidden" value="<%=@product.id%>">
										<table border="0"><tbody><tr><td valign="top" width="350" height="400">
							<div id="edit1" style="display:block;z-index:51;">				
							<table>
								<tr>
									<td>Propety Listing:</td>
									<td>
										<select name="product2[salerent]" id="product2_salerent" onchange="return salerentprice('product2_salerent');">
											<option value="1" <%if @product.salerent.to_s =='1'%> selected ="selected" <%end%> >For Sale</option>
											<option value="0" <%if @product.salerent.to_s =='0'%> selected ="selected" <%end%> >For Rent</option>
											<option value="2" <%if @product.salerent.to_s =='2'%> selected ="selected" <%end%> >For Sale or Rent</option>										
										</select>										
									</td>
								</tr>
								<tr>
									<td>SQM:</td>
									<td>
										<%if @product.SQM.to_s !="0" and @product.SQM.to_s !="" and @product.SQM.to_s != nil%>
											<input name="product2[SQM]" id="product2_SQM" type="text" value="<%=@product.SQM%>">
										<%else%>
											<input name="product2[SQM]" id="product2_SQM" type="text" value="" >
										<%end%>
									</td>
								</tr>
								<tr>
									<td>Propety Type:</td>
									<td>	
										<select name="product2[Type]" id="product2_Type">
											<%for type in types%>
												<option value="<%=type.Value%>" <%if @product.Type.to_s == type.Value.to_s%> selected="selected" <%end%> ><%=type.Name%></option>
											<%end%>										
										</select>									
									</td>
								</tr>
								<tr>
									<td> <span id="saleprice" style="display:block;">Sale Price:</span></td>
									<td>
										<span id="saleprice2" style="display:block;">
										<%		strprice = 0
											if @product.Price.to_s !="" and @product.Price.to_s !="0" and @product.Price !=nil
												strprice = @product.Price
											end
											if strprice.to_f >= 1000
										        #strprice = sprintf("%.2f",strprice)
										        strprice = strprice.to_s.reverse
										        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
										        strprice = strprice.gsub(/,$/,"").reverse
										      #else
										        #strprice = sprintf("%.2f",strprice)
										      end 
										%>
										<input name="tempprice1" id="tempprice1" onblur="this.value=formatCurrency(this.value,'product2_Price');" type="text" value="<%=strprice%>">
										<input name="product2[Price]" id="product2_Price" type="hidden" value="<%=@product.Price%>">
										</span>
									</td>
								</tr>
								<tr>
									<td><span id="rentprice" style="rentprice"> Rent Price:</span></td>
									<td>
										<span id="rentprice2" style="rentprice">
										<%	
											strprice = 0
											if @product.RPrice.to_s !="" and @product.RPrice.to_s !="0" and @product.RPrice !=nil
												strprice = @product.RPrice
											end
											
											if strprice.to_f >= 1000
										        #strprice = sprintf("%.2f",strprice)
										        strprice = strprice.to_s.reverse
										        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
										        strprice = strprice.gsub(/,$/,"").reverse
										      #else
										        #strprice = sprintf("%.2f",strprice)
										      end 
										%>
										<input name="tempprice2" id="tempprice2" onblur="this.value=formatCurrency(this.value,'product2_RPrice');"  type="text" value="<%=strprice%>">
										<input name="product2[RPrice]" id="product2_RPrice" type="hidden" value="<%=@product.RPrice%>">
										</span>
									</td>
								</tr>
								<tr>
									<td>Bedrooms:</td>
									<td>
										<select name="product2[Bed]" id="product2_Bed">
											<option value="0" <%if @product.Bed.to_s == '0'%> selected="selected" <%end%> >Studio</option>
											<option value="1" <%if @product.Bed.to_s == '1'%> selected="selected" <%end%> >1</option>
											<option value="2" <%if @product.Bed.to_s == '2'%> selected="selected" <%end%> >2</option>
											<option value="3" <%if @product.Bed.to_s == '3'%> selected="selected" <%end%> >3</option>
											<option value="4" <%if @product.Bed.to_s == '4'%> selected="selected" <%end%> >4</option>
											<option value="5" <%if @product.Bed.to_s == '5'%> selected="selected" <%end%> >5</option>
											<option value="6" <%if @product.Bed.to_i >= 6%> selected="selected" <%end%> >6+</option>
										</select>
									</td>
								</tr>
								<tr>
									<td>Bathrooms:</td>
									<td>
										<select name="product2[Bath]" id="product2_Bath">
											<option value="1" <%if @product.Bath.to_s == '1'%> selected="selected" <%end%> >1</option>
											<option value="2" <%if @product.Bath.to_s == '2'%> selected="selected" <%end%> >2</option>
											<option value="3" <%if @product.Bath.to_s == '3'%> selected="selected" <%end%> >3</option>
											<option value="4" <%if @product.Bath.to_s == '4'%> selected="selected" <%end%> >4</option>
											<option value="5" <%if @product.Bath.to_i >= 5%> selected="selected" <%end%> >5+</option>
										</select>									
									</td>
								</tr>
								<tr>
									<td>Parking:</td>
									<td>
										<select name="product2[Parking]" id="product2_Parking">
										<%for parking in parkings%>
												<option value="<%=parking.Value%>" <%if @product.Parking.to_s == parking.Value.to_s%> selected="selected" <%end%>><%=parking.Name%></option>
											<%end%>
										</select>
									</td>
								</tr>
								<tr>
									<td>Detail:</td>
									<td><textarea name="product2[Detail]" id="product2_Detail" cols="30" rows="3"><%=@product.Detail%></textarea></td>
								</tr>
<!--								<tr>
									<td></td>
									<td>
										<input type="checkbox"name="product2[renew]" id="product2_renew" value="1"  <%if @product.renew.to_s == '1'%>checked="checked"<%end%> />
										<label for="product2_renew">Auto-renew this listing every month</label>
									</td>
								</tr>-->
								<tr>
										<td><a href="#" onclick="javascript:document.getElementById('edit1').style.display='none';document.getElementById('edit2').style.display='block';">Next</a></td>
										<td></td>
								</tr>
										
								
							</table>
							</div><!--end div id="edit1"-->
							<div id="edit2" style="display:none;z-index:51;">
							<table>
										<%
										img1 = ""
										img2 = ""
										img3 = ""
										img4 = ""
										img5 = ""

										tempimg1 = "0"
										tempimg2 = "0"
										tempimg3 = "0"
										tempimg4 = "0"
										tempimg5 = "0"
										a = 1
										%>
										
										
										<%for image in images%>
										<%
										strtype = image.photo_file_name
                          				strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
										if a == 1
											img1 = "/listingdata/photos/#{image.id}/thumb.#{strtype}"
											tempimg1 = image.id
										end	
										if a == 2
											img2 = "/listingdata/photos/#{image.id}/thumb.#{strtype}"
											tempimg2 = image.id
										end	
										if a == 3
											img3 = "/listingdata/photos/#{image.id}/thumb.#{strtype}"
											tempimg3 = image.id
										end	
										if a == 4
											img4 = "/listingdata/photos/#{image.id}/thumb.#{strtype}"
											tempimg4 = image.id
										end	
										if a == 5
											img5 = "/listingdata/photos/#{image.id}/thumb.#{strtype}"
											tempimg5 = image.id
										end	
										
										a = a + 1
										%>
										<%end%>
										
										<input name="tempimg1" id="tempimg1" type="hidden" value="<%=tempimg1%>">
										<input name="tempimg2" id="tempimg2" type="hidden" value="<%=tempimg2%>">
										<input name="tempimg3" id="tempimg3" type="hidden" value="<%=tempimg3%>">
										<input name="tempimg4" id="tempimg4" type="hidden" value="<%=tempimg4%>">
										<input name="tempimg5" id="tempimg5" type="hidden" value="<%=tempimg5%>">
								<tr>
									<td colspan=2>
										
										<p><strong>Images</strong></p>
										<p>Image 1:<input name="image2[pic1]" id="image2_pic1" cols="30" type="file"> 	<%if img1 !=""%><img src="<%=img1%>" width="40" height="40"/><%end%>	</p>
										<p>Image 2:<input name="image2[pic2]" id="image2_pic2" cols="30" type="file">	<%if img2 !=""%><img src="<%=img2%>" width="40" height="40"/><%end%>	</p>
										<p>Image 3:<input name="image2[pic3]" id="image2_pic3" cols="30" type="file">	<%if img3 !=""%><img src="<%=img3%>" width="40" height="40"/><%end%>	</p>
										<p>Image 4:<input name="image2[pic4]" id="image2_pic4"cols="30" type="file">	<%if img4 !=""%><img src="<%=img4%>" width="40" height="40"/><%end%>	</p>
										<p>Image 5:<input name="image2[pic5]" id="image2_pic5" cols="30" type="file">	<%if img5 !=""%><img src="<%=img5%>" width="40" height="40"/><%end%>	</p>
										
									</td>			
								</tr>	
									<tr>
										<td><a href="#" onclick="javascript:document.getElementById('edit2').style.display='none';document.getElementById('edit1').style.display='block';">Back</a></td>
										<td><input value="Submit" type="submit"/>	</td>
									</tr>
											
								
							</table>				
									</div>	<!--end div id="edit2"-->
									<span id="show" style="color:green;"></span>
									<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
										</div>
										</td></tr></tbody></table></form>
										
								