
		
		<%#@product.Detail%>
<%

a = 1
str = @product.Detail

while a == 1
	if str["\r"] or str["\t"]
		if str["\r"]
			str["\r"] = "<br>"
		elsif str["\t"]
			str["\t"] = "&nbsp;&nbsp;&nbsp;"
		end
	else
		a = 0
	end
end


		
%>

<%=str%>
		

