<%= javascript_include_tag :defaults %> 
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<!--
<link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/skins/aqua/theme.css" title="Aqua" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-blue.css" title="winter" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-blue2.css" title="blue" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-brown.css" title="summer" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-green.css" title="green" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-1.css" title="win2k-1" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-2.css" title="win2k-2" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-2.css" title="win2k-cold-2" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-system.css" title="system" />
-->
<!-- import the calendar script 
<script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar.js"></script>
-->
<!-- import the language module
<script type="text/javascript" src="/javascripts/jscalendar-1.0/lang/calendar-en.js"></script>
<script type="text/javascript" src="/javascripts/popupcalendar.js"></script> -->


<div id="askseller" style="display:inline">
<h4 style="margin-bottom:10px;">Contact the owner</h4>
<div style="float:right;position:absolute; top:0px; right:10px;z-index: 60;">
	<p style="width:130px;">
<%
	begin
      
                            companies = Companies.find(:all,:conditions=>"id_user = '#{@product.id_user}'",:order=>"id asc")
							
                            if companies.length > 0
									x = 1
                              for comp in companies
										
                                #if comp.Head.to_s != "0"
									if x == 1
										if comp.Skype!="" and comp.Skype!=nil 
										%>
										<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
										<a href="skype:<%=comp.Skype%>?chat"><img src="http://download.skype.com/share/skypebuttons/buttons/chat_green_transparent_97x23.png" style="border: none;" width="97" height="23" alt="Chat with me" /></a>
										<br>
									<%
										end
									else
										if comp.phone!="" and comp.phone!=nil 
										%>
										<small>Phone: <%=comp.phone%></small>
										
										<%
										end
										break
									end
									x = x + 1
									
									
									
                                #end
                              end
                            end
     rescue
     end   # end begin  
%>
	</p>
</div>
<!--<p>Like this property? Contact the owner!</p>-->
<div id="show"></div>
<div id="sendmessageform">
<%if session[:user_id]%>	



<%= form_remote_tag(:update => "show",
					:loading =>"document.getElementById('indicator_form').style.display='block';",								
					:complete =>"javascript: document.getElementById('indicator_form').style.display='none';  document.getElementById('sendmessageform').style.display='none';",
					:url => { :controller=>'products',:action => :mail2user }
					) %>				
<table>
	<%= hidden_field 'mail', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %>
	<%= hidden_field 'mail', 'Email' ,:value=>"#{@user.Email}"%>
	<%= hidden_field 'mail', 'Address' ,:value=>"" %>
	<%= hidden_field 'mail', 'Suburb' ,:value=>"#{@user.Suburb}"%>
	<%= hidden_field 'mail', 'MobilePhone' ,:value=>"#{@user.Phone}" %>
	
	
	<tr>
		<td colspan=2><br>
			<%= text_area 'mail', 'Message', :rows=>'5', :size=>'40', :class=> 'listingtextbox' %>
		</td>
	</tr>
	<!--<tr>
		<td colspan=2>
			Request a viewing (optional)<br /> 
			<label style="padding-right:10px;">DATE:</label><input type="text" name="mail[ViewDate]" id="mail_ViewDate" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');" style="width:80px" /><img src="/icon-calendar.gif" style="padding-left:10px;" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');"/>
			
			--><!-- the calendar will be inserted here 
			            <span id="display" style="float: right; clear: both;"></span>
			            <span id="preview" style="font-size: 80%; text-align: center; padding: 2px">&nbsp;</span>
			<br>
		</td>
	</tr>-->
</table>
<br>
<%if @product != "0"%>
<%= hidden_field_tag :id  ,@product.id%>
<%= hidden_field 'mail', 'lat',:value=>@product.lat%>
<%= hidden_field 'mail', 'lng',:value=>@product.lng%>
<%= hidden_field 'mail', 'id_product',:value=>@product.id%>
<%= hidden_field 'mail', 'id_agent',:value=>@product.id_user%>
<%else%>
<%= hidden_field_tag :id  ,'0'%>
<%= hidden_field 'mail', 'lat',:value=>'0'%>
<%= hidden_field 'mail', 'lng',:value=>'0'%>
<%= hidden_field 'mail', 'id_product',:value=>'0'%>
<%= hidden_field 'mail', 'id_agent',:value=> @business%>
<%end%>
<%
owner = ""
begin
owner = User.find(@product.id_user)
rescue
end
if owner != ""
%>
	<%= hidden_field 'mail', 'toEmail',:value=>owner.Email%>
<%end%>
<%= hidden_field 'mail', 'id_user',:value=>session[:user_id]%>
<%= hidden_field 'mail', 'customer',:value=>session[:user_id]%>
<%= hidden_field 'mail', 'master',:value=>"0"%>
<%= hidden_field 'mail', 'custflag',:value=>"0"%>



<div class="buttons"> 
	<button name="commit" type="submit" onclick="return checkremessageform()" class="positive" />
		<img src="/images/icons/email_go.png" alt=""/>
		Send Message
	</button>
	<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
</div> 
</form>
<div style="clear:both;"></div>
<%else%>
	<!---<span style="color:green">You need to login first.</p><p>If you don't have an account, you can register quickly and easily for free.</span>
	-->
	<%= form_remote_tag(:update => "show",
					:loading =>"show_1_element('indicator_form')",								
					:complete =>"javascript: document.getElementById('indicator_form').style.display='none';  document.getElementById('sendmessageform').style.display='none';",
					:url => { :controller=>'products',:action => :offline_mail2user },
					:html => {  :name =>"myform",:id =>"myform"}
					) %>
	<!--<form id="myform" name="myform" action="/products/mail2user">
	-->
<%if @product != "0"%>
<%= hidden_field_tag :id  ,@product.id%>
<%= hidden_field 'mail', 'lat',:value=>@product.lat%>
<%= hidden_field 'mail', 'lng',:value=>@product.lng%>
<%= hidden_field 'mail', 'id_product',:value=>@product.id%>
<%= hidden_field 'mail', 'id_agent',:value=>@product.id_user%>
<%else%>
<%= hidden_field_tag :id  ,'0'%>
<%= hidden_field 'mail', 'lat',:value=>'0'%>
<%= hidden_field 'mail', 'lng',:value=>'0'%>
<%= hidden_field 'mail', 'id_product',:value=>'0'%>
<%= hidden_field 'mail', 'id_agent',:value=> @business%>
<%end%>




<%= hidden_field 'mail', 'master',:value=>"0"%>
<%= hidden_field 'mail', 'custflag',:value=>"0"%>



	<div id="myform1">
	<table>
		<tr>
			<td>Name: </td>
			<td><input type="text" name="user[FirstName]" id="user_FirstName" size="12"/></td>
		</tr>
		<tr>
			<td>Email: </td>
			<td>
				<input type="text" name="user[Email]" id="user_Email" size="30"/><span name="processing" id="processing"></span>
				<span id="validateemail"><input type="hidden" name="check_contact_email" id="check_contact_email" value="0"/></span>
				 <%= observe_field(:user_Email,
                        		:on => :blur,
								:method => :get,
                        		:update => :validateemail,
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; setcontactform(); ",
                        		:url => { :controller=>'products',:action => 'validateemail2'},
								:with => "'email='+escape($('user_Email').value) ") %>
								
			</td>
		</tr>
		<tr>
			<td valign=top>Message: </td>
			<td><textarea name='mail[Message]' id="mail_Message" rows='5' cols='30' class='listingtextbox' ></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<div id="bottom1" style="display:block;"><input type="submit" name="submit" id="submit" value="Send the message" onclick="return chkcontactform('0');"/></div>
				<div id="bottom2" style="display:none;"><input type="submit" name="submit2" id="submit2" value="Send the message" onclick="return chkcontactform('1');"/></div>
				
			</td>
		</tr>
	</table>
	</div>
	<div id="myform2" style="display:none;">
		<table>
			<tr>
				<td>Email: </td>
				<td>
					<input type="text" name="user2[Email2]" id="user_Email2" size="30"/>
				</td>
			</tr>	
			<tr>
				<td>Password: </td>
				<td>
					<input type="password" name="user2[password]" id="user_password" size="30"/>
				</td>
			</tr>	
			<tr>
				<td><a href="#" onclick="goback();"> << back </a></td>
				<td>
					<br>
					<div id="bottom3" style="display:block;"><input type="submit" name="submit3" id="submit3" value="Send Message" onclick="return chkcontactform('2');"/></div>
				</td>
			</tr>
		</table>
	</div>
				
				<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
	
	</form>
<%end%>
</div>


</div>
<%#============================================    Send Email to Owner   ===================================%>
