	<%= javascript_include_tag :defaults %> 
   
   <script src="/javascripts/kendio.js" type="text/javascript"></script>
   <script src="/javascripts/managemessage.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
   
<link href="/stylesheets/style.css?1232449562" media="screen" rel="stylesheet" type="text/css" />



<div style="width:910px; height:310px">
<%if @messages == "0"%>
	<span style="color:green;">Please Login</span>
<%else%>	
			<div>
									<div style="width:270px;float:left;">
									<%if @messages.length < 1%>
										<span>No Messages!</span>
									<%else%><%#else if @messages.length%>
										<%for listing in @messages%>  <%#========================== this loop show Messages%>
									
									<!--=============================================== Items  ===================================-->
									
									
									
											<div id="mclistingblockwide">
												<div style="position: absolute;">
												<%
									
														default = "/googleimage/default.png"
														strprice = "General Contact"
												%>
												
													<img src="<%=default%>" width="50" height="50" />
												</div>
												
												
												<div style="position: absolute;margin-left: 60px;">
													<a href="#"><strong><%=strprice%></strong></a>
													
														<%if session[:user_id].to_s == listing.id_agent.to_s and listing.userflag.to_s == '1'%>
															<span id="new_icon_<%=listing.id%>"><img src="/icon/flag_green.png"/></span>
														<%elsif session[:user_id].to_s == listing.customer.to_s and listing.custflag.to_s == '1'%>
															<span id="new_icon_<%=listing.id%>"><img src="/icon/flag_green.png"/></span>
														<%else%>	
															<span id="new_icon_<%=listing.id%>"></span>
														<%end%>
														
													<br />
													<span class="smallfont">
														<%=listing.Name%> <br /> <%=listing.created_on.strftime("%d/%m/%Y")%> 
													</span>
												</div>
												
												
												<div style="float:right;" class="smallfont">
														<a href="#" onclick="javascript:document.getElementById('new_icon_<%=listing.id%>').style.display='none';  document.getElementById('map').style.display='none';    document.getElementById('maillist').innerHTML='<iframe src=/products/gmaillist/<%=listing.id%> width=580px height=520px border=0 frameborder=0></iframe>';      document.getElementById('maillist').style.display='block';" >View & Reply</a>
														<br />
														
														<br />
														<%= link_to 'Delete', {:action=>'delmessage',:id=>listing.id}, :confirm => 'Are you sure?', :method => :delete %>
												</div>		
									
											</div>
													<!--==============================================================    end Item  ===========================================-->
									
											
										<%end%><%#==========================end for @messages%>
										
										
									<%end%><%#==========================else if @messages.length%>
									<%= will_paginate @messages%>
									
									</div>
									
									
									
														<!-- GOOGLE MAP -->
													<div style="float:right;display:block;">
														
															<!-- GOOGLE MAP AND SIDEBAR -->
												           <div id="map" style="width:5px;height:50px;z-index:2;"></div>    
															<!-- // GOOGLE MAP AND SIDEBAR -->	 
															<div id="maillist" style="width:590px;height:500px;z-index:1;"></div> 
																	
															<!-- MIDDLE SHADOW 
															<div id="shadow" style="display:none; position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('quickpic').style.display='none';" >
															-->
															</div>
															<div id="quickpic" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;"></div>
															<!-- // MIDDLE SHADOW -->
													</div>
													
													
			</div><!--end listingmesage-->
			
			
<%end%>			
</div>