<%= javascript_include_tag :defaults %> 

<%#====================================   Add to Favorites  =========================================%>
<div id="makefavorite" style="display:block">
<h4 style="margin-bottom:10px;">Add to favorites</h4>
<p>Like this property? Add it to your favorites!</p>

<div id="favorite_show" style="color:green"></div>
<%= form_remote_tag(:update => "favorite_show",
					:loading =>"show_1_element('indicator_form3')",								
					:complete =>"hidden_1_element('indicator_form3')",
					:url => { :controller=>'products',:action => 'favorites' }
					) %>
<!--<p>Comment <br>
			<%= text_area 'favorite', 'comment'  ,:rows=>'6', :size=>'45' %></p>-->
		

		<%= hidden_field 'favorite', 'id_product',:value=>@product.id%>
		<%= hidden_field 'favorite', 'link',:value=> "http://www.REThai.com/products/show/#{@product.id}" %>
		<%= hidden_field 'favorite', 'id_user',:value=>session[:user_id]%>
		<%= hidden_field 'favorite', 'lat',:value=>@product.lat%>
		<%= hidden_field 'favorite', 'lng',:value=>@product.lng%>
		

<!-- <input type=submit value="Make Favorite" name="commit3" id="commit3"> -->

<%if session[:user_id]%>
<div class="buttons"> 
	<button name="commit3" id="commit3" class="positive" />
		<img src="/images/icons/star.png" alt=""/>
		Add to favorites
	</button>
	<img src="/images/loading.gif" id ='indicator_form3' style ='display:none'/>
</div> 
</form>
<div style="clear:both;"></div>
<%else%>
	<span style="color:green">You need to login first.</p><p>If you don't have an account, you can register quickly and easily for free.</span>
<%end%>
</div>
<%#====================================   end Add to Favorites  =========================================%>