<style>
<!--
	body {
		font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;	
		font-size:13px;
	}
	
-->
</style>

	<%= javascript_include_tag :defaults %> 
	<script src="/javascripts/kendio.js" type="text/javascript"></script>
	
	<div style="background-color: #ededed;border:5px solid #ffffff;padding:5px;">
		<div style="color:#345673" class="smallfont"><strong>From:</strong> <%=@imail.Name%></div>
<!--		<div>Email: <%=@imail.Email%></div>-->
		<div id="detail"><%=@imail.Message%></div>
	</div>
	
	<%mails = Mail.find(:all,:conditions=>"id_product = '#{@imail.id_product}' and master = '#{@imail.id}'",:order=>"id asc")%>
	<%i = 1%>
	<%for mail in mails%>
		<%if i == 1%><div style="background-color: #ecf0f7;border:5px solid #ffffff;padding:5px;"><%i = 0%><%else%><div style="background-color: #ededed;border:5px solid #ffffff;padding:5px;"><%i = 1%><%end%>
		
			<div style="color:#345673" class="smallfont"><strong>From:</strong> <%=mail.Name%><!--<a href="#detail_<%=mail.id%>" class="smallfont" style="float:right;margin-top:-25px" onclick="switchelement('detail_<%=mail.id%>')">SHOW / HIDE MESSAGE</a>--></div>
			<div id="detail_<%=mail.id%>" style="display:block"><%=mail.Message%></div>
			
		</div>	
	<%end%>
	
	
	<!--Reply form-->
	<div style="background-color:#ffffff;padding:5px">	
	<div id="show"></div>

				<%= form_remote_tag(:update => "show",
									:loading =>"show_1_element('indicator_form')",								
									:complete =>"javascript: document.getElementById('mail_Message').value = '';document.getElementById('indicator_form').style.display='none';",
									:url => { :controller=>'controlpanel',:action => :replymessage }
									) %>
				<%= text_area 'mail', 'Message'  ,:cols=>'55', :rows=>'4' %>
							
							
							
				<%= hidden_field 'mail', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %>
				<%= hidden_field 'mail', 'Email' ,:value=>"#{@user.Email}"%>
				<%= hidden_field 'mail', 'Address' ,:value=>"" %>
				<%= hidden_field 'mail', 'Suburb' ,:value=>"#{@user.Suburb}"%>
				<%= hidden_field 'mail', 'MobilePhone' ,:value=>"#{@user.Phone}" %>
				
				<%if @product != '0'%>
					<%= hidden_field_tag :id  ,@product.id%>
					<%= hidden_field 'mail', 'id_product',:value=>@product.id%>
					<%= hidden_field 'mail', 'id_agent',:value=>@product.id_user%>
				<%else%>
					<%= hidden_field_tag :id  ,'0'%>
					<%= hidden_field 'mail', 'id_product',:value=>'0'%>
					<%= hidden_field 'mail', 'id_agent',:value=>@imail.id_agent%>
				<%end%>
				
				
				<%= hidden_field 'mail', 'id_user',:value=>session[:user_id]%>				
				<%= hidden_field 'mail', 'customer',:value=>@imail.customer%>
				<%= hidden_field 'mail', 'master',:value=>@imail.id%>
				<%= hidden_field 'mail', 'lat',:value=>@imail.lat%>
				<%= hidden_field 'mail', 'lng',:value=>@imail.lng%>
				
				<%if session[:user_id]%>
				<div class="buttons"> 
					<button name="commit" type="submit" onclick="return checkremessageform()" class="positive" ><img src="/images/icons/tick.png" alt=""/>
						Reply
					</button>
					<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
				</div> 
				<div style="clear:both;">
				</div>
				<%else%>
					<span style="color:green;">Please Login</span>
				<%end%>
				
				</form>
		</div>