<%= javascript_include_tag :defaults %> 
<script src="/javascripts/kendio.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/skins/aqua/theme.css" title="Aqua" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-blue.css" title="winter" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-blue2.css" title="blue" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-brown.css" title="summer" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-green.css" title="green" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-1.css" title="win2k-1" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-2.css" title="win2k-2" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" title="win2k-cold-1" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-win2k-cold-2.css" title="win2k-cold-2" />
<link rel="alternate stylesheet" type="text/css" media="all" href="/javascripts/jscalendar-1.0/calendar-system.css" title="system" />

<!-- import the calendar script -->
<script type="text/javascript" src="/javascripts/jscalendar-1.0/calendar.js"></script>

<!-- import the language module -->
<script type="text/javascript" src="/javascripts/jscalendar-1.0/lang/calendar-en.js"></script>

<script type="text/javascript">

var oldLink = null;
// code to change the active stylesheet
function setActiveStyleSheet(link, title) {
  var i, a, main;
  for(i=0; (a = document.getElementsByTagName("link")[i]); i++) {
    if(a.getAttribute("rel").indexOf("style") != -1 && a.getAttribute("title")) {
      a.disabled = true;
      if(a.getAttribute("title") == title) a.disabled = false;
    }
  }
  if (oldLink) oldLink.style.fontWeight = 'normal';
  oldLink = link;
  link.style.fontWeight = 'bold';
  return false;
}

// This function gets called when the end-user clicks on some date.
function selected(cal, date) {
  cal.sel.value = date; // just update the date in the input field.
  if (cal.dateClicked && (cal.sel.id == "sel1" || cal.sel.id == "sel3"))
    // if we add this call we close the calendar on single-click.
    // just to exemplify both cases, we are using this only for the 1st
    // and the 3rd field, while 2nd and 4th will still require double-click.
    cal.callCloseHandler();
}

// And this gets called when the end-user clicks on the _selected_ date,
// or clicks on the "Close" button.  It just hides the calendar without
// destroying it.
function closeHandler(cal) {
  cal.hide();                        // hide the calendar
//  cal.destroy();
  _dynarch_popupCalendar = null;
}

// This function shows the calendar under the element having the given id.
// It takes care of catching "mousedown" signals on document and hiding the
// calendar if the click was outside.
function showCalendar(id, format, showsTime, showsOtherMonths) {
  var el = document.getElementById(id);
  if (_dynarch_popupCalendar != null) {
    // we already have some calendar created
    _dynarch_popupCalendar.hide();                 // so we hide it first.
  } else {
    // first-time call, create the calendar.
    var cal = new Calendar(1, null, selected, closeHandler);
    // uncomment the following line to hide the week numbers
    // cal.weekNumbers = false;
    if (typeof showsTime == "string") {
      cal.showsTime = true;
      cal.time24 = (showsTime == "24");
    }
    if (showsOtherMonths) {
      cal.showsOtherMonths = true;
    }
    _dynarch_popupCalendar = cal;                  // remember it in the global var
    cal.setRange(1900, 2070);        // min/max year allowed.
    cal.create();
  }
  _dynarch_popupCalendar.setDateFormat(format);    // set the specified date format
  _dynarch_popupCalendar.parseDate(el.value);      // try to parse the text in field
  _dynarch_popupCalendar.sel = el;                 // inform it what input field we use

  // the reference element that we pass to showAtElement is the button that
  // triggers the calendar.  In this example we align the calendar bottom-right
  // to the button.
  _dynarch_popupCalendar.showAtElement(el.nextSibling, "Br");        // show the calendar

  return false;
}

var MINUTE = 60 * 1000;
var HOUR = 60 * MINUTE;
var DAY = 24 * HOUR;
var WEEK = 7 * DAY;

// If this handler returns true then the "date" given as
// parameter will be disabled.  In this example we enable
// only days within a range of 10 days from the current
// date.
// You can use the functions date.getFullYear() -- returns the year
// as 4 digit number, date.getMonth() -- returns the month as 0..11,
// and date.getDate() -- returns the date of the month as 1..31, to
// make heavy calculations here.  However, beware that this function
// should be very fast, as it is called for each day in a month when
// the calendar is (re)constructed.
function isDisabled(date) {
  var today = new Date();
  return (Math.abs(date.getTime() - today.getTime()) / DAY) > 10;
}

function flatSelected(cal, date) {
  var el = document.getElementById("preview");
  el.innerHTML = date;
}



	function checkofferprice(){
		var x =""
		x = document.getElementById('offer_offerprice').value
		x = x.replace(',','');
		if (isNaN(x)) {
			alert('Please enter only numerical values');
			return false;
		}else if(x ==''){alert('Please enter offer price');	return false;
		}else{document.getElementById('offer_offerprice').value = x;}
		
//		alert('5555+');
	}

	function checkregister2(name,fmail,tmail,message){
		var filter=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i
		if (document.getElementById(name).value ==""){alert("Please enter you name");	return false;}
		else if (document.getElementById(fmail).value ==""){alert("Please enter you email");	return false;}
		else if (document.getElementById(tmail).value ==""){alert("Please enter you friend email");	return false;}
		else if (document.getElementById(message).value ==""){alert("Please enter you message");	return false;}
		else if (!filter.test(document.getElementById(fmail).value)){alert("Please input a valid email address!");	document.getElementById(fmail).value = "you_email@system.com";	return false;}
		else if (!filter.test(document.getElementById(tmail).value)){alert("Please input a valid email address!");	document.getElementById(tmail).value = "you_email@system.com";	return false;}
	}	
		
	function checkregister(){
		if (document.getElementById('mail_Name').value == "") {
			alert('Please Enter Name.');
			return false;
		}else if (document.getElementById('mail_Email').value == ""){
			alert('Please Enter Email.');
			return false;
		//}else if (document.getElementById('mail_Address').value == ""){
			//alert('Please Enter Address.');
			//return false;
		//}else if (document.getElementById('mail_Suburb').value == ""){
			//alert('Please Enter Province.');
			//return false;
		//}else if (document.getElementById('mail_Postcode').value == ""){
			//alert('Please Enter Postcode.');
			//return false;
		}else if (document.getElementById('mail_MobilePhone').value == "" ){
			alert('At least one phone number is required.');
			return false;
		}else if (document.getElementById('mail_Message').value == ""){
			alert('Please Enter Message.');
			return false;
		}else{
//			document.getElementById('send').disabled = false;
			document.f_site.action = "/products/mail2user";
		}
		
		
	}

</script>

<%if session[:user_id]%>

<%
			strprice = @product.Price
          if strprice.to_f >= 1000
          	#strprice = sprintf("%.2f",strprice)
          	strprice = strprice.to_s.reverse
          	strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
          	strprice = strprice.gsub(/,$/,"").reverse
          #else
          	# strprice = sprintf("%.2f",strprice)
           end

%>


	  <table width="280" border="0" cellspacing="0" cellpadding="10" bgcolor="#ffffff" style="margin-top:5px">
        <tr>
          <td bgcolor="#e5edf4">
          	<h4>Price:<span style="color:red"><%=strprice%></span></h4>
<a href="#" onclick="Element.toggle('askseller'); return false;">Contact</a><br />
<a href="#" onclick="Element.toggle('makeoffer'); return false;">Make an offer</a><br />
<a href="#" onclick="Element.toggle('makefavorite'); return false;">Add to favourites</a><br />
<a href="#" onclick="Element.toggle('friendemail'); return false;">Send to a friend</a><br />

		  </td>
        </tr>
      </table>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
<div id="askseller" style="display:none"><br>
<h2>Ask a Question</h2><br>
<div id="show"></div>

<%= form_remote_tag(:update => "show",
					:loading =>"show_1_element('indicator_form')",								
					:complete =>"javascript: document.getElementById('mail_Message').value = '';document.getElementById('indicator_form').style.display='none';",
					:url => { :controller=>'products',:action => :mail2user }
					) %>
					
<table>
	<tr>
		<td>Name:</td>
		<td><%= text_field 'mail', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><%= text_field 'mail', 'Email' ,:value=>"#{@user.Email}"%></td>
	</tr>
	<%= hidden_field 'mail', 'Address' ,:value=>"" %>
	<%= hidden_field 'mail', 'Suburb' ,:value=>"#{@user.Suburb}"%>

	<tr>
		<td>Phone:</td>
		<td><%= text_field 'mail', 'MobilePhone' ,:value=>"#{@user.Phone}" %></td>
	</tr>
</table>
<p>Message:<br>
		<%= text_area 'mail', 'Message'  ,:rows=>'5', :size=>'30' %></p>

<p>Request a viewing (optional)<br /> 
<label style="padding-right:10px;">DATE:</label><input type="text" name="mail[ViewDate]" id="mail_ViewDate" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');" style="width:80px" /><img src="/icon-calendar.gif" style="padding-left:10px;" onclick="return showCalendar('mail_ViewDate', '%d/%m/%Y');"/>

<!-- the calendar will be inserted here -->
            <span id="display" style="float: right; clear: both;"></span>
            <span id="preview" style="font-size: 80%; text-align: center; padding: 2px">&nbsp;</span>
<br>

</p>



<%= hidden_field_tag :id  ,@product.id%>
<%= hidden_field 'mail', 'id_user',:value=>@product.id_user%>
<%= hidden_field 'mail', 'id_product',:value=>@product.id%>


<div class="buttons"> 
	<button name="commit" type="submit" onclick="return checkregister()" class="positive" />
		<img src="/images/icons/tick.png" alt=""/>
		Ask seller a question
	</button>
	<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
</div> 
<div style="clear:both;"></div>


</form>
<hr>

</div>
<%#============================================    Send Email to Owner   ===================================%>



<%#============================================    Make an offer   ===================================%>
<%= form_remote_tag(:update => "offer_show",
					:loading =>"show_1_element('indicator_form2')",								
					:complete =>"hidden_1_element('indicator_form2')",
					:url => { :controller=>'products',:action => 'offer' }
					) %>
<div id="makeoffer" style="display:none"><br>
<h2>Make an offer</h2>
<p>Like the property? Want to make an offer? No problem. Make an offer now and negotiate the terms later!</p>

<div id="offer_show" style="color:green"></div>
<table>
	<tr>
		<td>My Offer: </td>
		<td>£<%= text_field 'offer', 'offerprice' ,:value=>"" ,:size=>"15"%></td>
		
		<%= hidden_field 'offer', 'id_product',:value=>@product.id%>
		<%= hidden_field 'offer', 'id_productuser',:value=>@product.id_user%>
		<%= hidden_field 'offer', 'id_user',:value=>session[:user_id]%>
		<%= hidden_field 'offer', 'Customer',:value=>session[:user_id]%>
		
		
		
		
	</tr>
</table>
 <input type=submit value="Make Offer" name="commit2" id="commit2" onclick="return checkofferprice();" /> 
 <img src="/images/loading.gif" id ='indicator_form2' style ='display:none'/>
<br />
<!--
<div class="buttons"> 
	<button name="commit2" id="commit2" onclick="return checkofferprice();" class="positive" />
		<img src="/images/icons/tick.png" alt=""/>
		Make an offer
	</button>
</div> -->
<div style="clear:both;"></div>


<hr>
</div>
</form>
<%#===========================================  End Make an offer   ==================================%>




<%#====================================   Add to Favourites  =========================================%>
<div id="makefavorite" style="display:none"><br>
<h2>Add to Favorites</h2>
<p>Interested? Add it to your favourites!</p>

<div id="favorite_show" style="color:green"></div>
<%= form_remote_tag(:update => "favorite_show",
					:loading =>"show_1_element('indicator_form3')",								
					:complete =>"hidden_1_element('indicator_form3')",
					:url => { :controller=>'products',:action => 'favorites' }
					) %>
<p>Comment <br>
			<%= text_area 'favorite', 'comment'  ,:rows=>'5', :size=>'30' %></p>
		
		<!--<span style="color:#999999">http://www.hateestateagents.co.uk/products/show/<%=@product.id%></span>-->
		<%= hidden_field 'favorite', 'id_product',:value=>@product.id%>
		<%= hidden_field 'favorite', 'link',:value=> "http://www.REThai.com/products/show/#{@product.id}" %>
		<%= hidden_field 'favorite', 'id_user',:value=>session[:user_id]%>
		<%= hidden_field 'favorite', 'lat',:value=>@product.lat%>
		<%= hidden_field 'favorite', 'lng',:value=>@product.lng%>
		
		
		
		

<!-- <input type=submit value="Make Favorite" name="commit3" id="commit3"> -->
<br />
<div class="buttons"> 
	<button name="commit3" id="commit3" class="positive" />
		<img src="/images/icons/tick.png" alt=""/>
		Add to favourites
	</button>
	<img src="/images/loading.gif" id ='indicator_form3' style ='display:none'/>
</div> 
</form>
<div style="clear:both;"></div>


<hr>
</div>
<%#====================================   end Add to Favourites  =========================================%>






<%#====================================   Send to a friend  =========================================%>

<div id="friendemail" style="display:none">
	<br>
	<div id="show_friendemail" style="color:green"></div>
		<%= form_remote_tag(:update => "show_friendemail",
					:loading =>"show_1_element('indicator_form4')",								
					:complete =>"hidden_1_element('indicator_form4')",
					:url => { :controller=>'products',:action => 'mail2friend' }
					) %>
<h2>Send to a Friend</h2>			
<table>
	<tr>
		<td>Your Name:</td>
		<td><%= text_field 'fmail', 'Name' ,:value=>"#{@user.FirstName} #{@user.LastName}" %></td>
	</tr>
	<tr>
		<td>Your Email:</td>
		<td><%= text_field 'fmail', 'Email' ,:value=>"#{@user.Email}"%></td>
	</tr>
	<tr>
		<td>Friends Email:</td>
		<td><%= text_field 'fmail', 'FriendEmail' ,:value=>""%></td>
	</tr>
</table>

<p>Message: <br />
		<%= text_area 'fmail', 'Message'  ,:rows=>'5', :size=>'30' %></p>
		<%= hidden_field 'fmail', 'link',:value=> "http://www.REThai.com/products/show/#{@product.id}" %>
<!-- <input name="commit4" id="commit4" type="submit" value="Send" onclick="return checkregister2('fmail_Name','fmail_Email','fmail_FriendEmail','fmail_Message');" /> -->

<div class="buttons"> 
	<button name="commit4" id="commit4" onclick="return checkregister2('fmail_Name','fmail_Email','fmail_FriendEmail','fmail_Message');" class="positive" />
		<img src="/images/icons/tick.png" alt=""/>
		Send to a friend
	</button>
	<img src="/images/loading.gif" id ='indicator_form4' style ='display:none'/>
</div> 

</form>
<div style="clear:both;"></div>





<hr>
</div>

<%#====================================   end Send to a friend  =========================================%>











<%else%>
	
	<%
			strprice = @product.Price
          if strprice.to_f >= 1000
          	#strprice = sprintf("%.2f",strprice)
          	strprice = strprice.to_s.reverse
          	strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
          	strprice = strprice.gsub(/,$/,"").reverse
          #else
          	# strprice = sprintf("%.2f",strprice)
           end

%>


	  <table width="280" border="0" cellspacing="0" cellpadding="10" bgcolor="#ffffff" style="margin-top:5px">
        <tr>
          <td bgcolor="#e5edf4">
          	<h4>Price:<span style="color:red"><%=strprice%></span></h4>
				<a href="#" >Contact</a><br />
				<a href="#" >Make an offer</a><br />
				<a href="#" >Add to favourites</a><br />
				<a href="#" >Send to a friend</a><br />

		  </td>
        </tr>
      </table>
	  
	  
	  
	  <%#==============================   Loginform  ========================%>
	  
	  <form name="loginform" id="loginform" action="/products/checklogin">
	  	<%= hidden_field_tag :id_product  ,@product.id%>
	<table>
		
		<tr>
			<td>UserName:</td>
			<td >
				<%=text_field 'user','UserName'%>
			</td>
		</tr>
		<tr>
			<td>Password:</td>
			<td >
				<%=password_field 'user','Password'%>
			</td>
		</tr>
		<tr>
			<td></td>
			<td ><br>
				<input type="submit" name="Submit" value="Submit" id="Submit" />
			</td>
		</tr>
	</table>
</form>










	  
<%end%>