<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Real Estate Thailand</title>
	<%= javascript_include_tag :defaults %> 
    <script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
	<script src="/javascripts/kendio.js" type="text/javascript"></script>
	   <style type="text/css">
      .tooltip {
        background-color:#ffffff;
        font-weight:bold;
        border:2px #006699 solid;
      }
    </style>
	
	<script src="/javascripts/google_northamerica_offices.js" type="text/javascript"></script>
    <script src="/javascripts/gmlocalsearch.js" type="text/javascript"></script>
    <script src="/javascripts/extmaptypecontrol.js" type="text/javascript"></script>
    <script src="/javascripts/infobox.js" type="text/javascript"></script>
    <script src="/javascripts/zoomcontrol.js" type="text/javascript"></script>
    <script src="/javascripts/urchin.js" type="text/javascript"></script>
	
	<!-- MAIN JAVASCRIPT CLICK + TO EXPAND THE SCRIPT -->
	
    <script type="text/javascript">
		function newuserform(){
		if(document.getElementById('user2_FirstName').value ==""){alert('Please Enter FirstName'); document.getElementById('user2_FirstName').focus();return false;}
		else if(document.getElementById('user2_LastName').value ==""){alert('Please Enter LastName'); document.getElementById('user2_LastName').focus();return false;}
		else if(document.getElementById('user2_UserName').value ==""){alert('Please Enter UserName'); document.getElementById('user2_UserName').focus();return false;}
		else if(document.getElementById('user2_Password').value ==""){alert('Please Enter Password'); document.getElementById('user2_Password').focus();return false;}
		else if(document.getElementById('user3_Password3').value ==""){alert('Please Enter Confirm Password'); document.getElementById('user3_Password3').focus();return false;}
		else if(document.getElementById('user2_Phone').value ==""){alert('Please Enter Phone'); document.getElementById('user2_Phone').focus();return false;}
		else if(document.getElementById('user2_Email').value ==""){alert('Please Enter Email'); document.getElementById('user2_Email').focus();return false;}
		else if(document.getElementById('user2_Address').value ==""){alert('Please Enter Address'); document.getElementById('user2_Address').focus();return false;}
		else if(document.getElementById('user2_Suburb').value ==""){alert('Please Enter Suburb'); document.getElementById('user2_Suburb').focus();return false;}
		else if(document.getElementById('user2_Province').value ==""){alert('Please Enter Province'); document.getElementById('user2_Province').focus();return false;}
		else if(document.getElementById('user2_Postcode').value ==""){alert('Please Enter Postcode'); document.getElementById('user2_Postcode').focus();return false;}
		else if(document.getElementById('user2_Password').value != document.getElementById('user3_Password2').value){alert('Please check Confirm Password'); document.getElementById('user2_Password2').focus();return false;}
		else{
			return true;
		}
	}
	
	
		function newacountform(){
		if(document.getElementById('user_FirstName').value ==""){alert('Please Enter FirstName'); document.getElementById('user_FirstName').focus();return false;}
		else if(document.getElementById('user_LastName').value ==""){alert('Please Enter LastName'); document.getElementById('user_LastName').focus();return false;}
		else if(document.getElementById('user_UserName').value ==""){alert('Please Enter UserName'); document.getElementById('user_UserName').focus();return false;}
		else if(document.getElementById('user_Password').value ==""){alert('Please Enter Password'); document.getElementById('user_Password').focus();return false;}
		else if(document.getElementById('user_Phone').value ==""){alert('Please Enter Phone'); document.getElementById('user_Phone').focus();return false;}
		else if(document.getElementById('user_Email').value ==""){alert('Please Enter Email'); document.getElementById('user_Email').focus();return false;}
		else if(document.getElementById('user_Address').value ==""){alert('Please Enter Address'); document.getElementById('user_Address').focus();return false;}
		else if(document.getElementById('user_Suburb').value ==""){alert('Please Enter Suburb'); document.getElementById('user_Suburb').focus();return false;}
		else if(document.getElementById('user_Province').value ==""){alert('Please Enter Province'); document.getElementById('user_Province').focus();return false;}
		else if(document.getElementById('user_Postcode').value ==""){alert('Please Enter Postcode'); document.getElementById('user_Postcode').focus();return false;}
		else{
			return true;
		}
	}
	
	function changepasswordfrom(){
		if(document.getElementById('user5_oldpass').value ==""){alert('Please Enter Old password'); document.getElementById('user5_oldpass').focus();return false;}
		else if(document.getElementById('user4_Password').value ==""){alert('Please Enter New password'); document.getElementById('user4_Password').focus();return false;}
		else if(document.getElementById('user5_confirmpass').value ==""){alert('Please Enter Confirm password'); document.getElementById('user5_confirmpass').focus();return false;}
		else if(document.getElementById('user4_Password').value != document.getElementById('user5_confirmpass').value){alert('Please check Confirmpassword');return false;}
		else{return true;}
	}
	
    //<![CDATA[
	
	
	
	
	function validateform(id1,di2,id3,id4,id5){
//		alert(document.getElementById(id4).value);
		if (document.getElementById(id1).value==""){alert('Please Check your Detail');document.getElementById(id1).focus();return false;}
		else if (document.getElementById(id2).value==""){alert('Please Check your Detail');document.getElementById(id2).focus();return false;}
		else if (document.getElementById(id3).value==""){alert('Please Check your Detail');document.getElementById(id3).focus();return false;}
		else if (document.getElementById(id4).value==""){alert('Please Check your Detail');document.getElementById(id4).focus();return false;}//area field
		else if (document.getElementById(id5).value==""){alert('Please Check your Detail');document.getElementById(id4).focus();return false;}
		else{return true;}
		
		
	}
	
	function changeform(id){
		document.getElementById('shadow').style.display='inline';
		document.getElementById('quickeventmodal').style.display='inline';
		if (id == 'search'){
//			alert('yes');
			document.getElementById('search').style.display='inline';
			document.getElementById('sell').style.display='none';
			document.getElementById('account').style.display='none';
			document.getElementById('register').style.display='none';
			document.getElementById('login').style.display='none';
			document.getElementById('changepassword').style.display='none';
			document.getElementById('preregister').style.display='none';
			load()
		}else if(id == 'sell'){
			document.getElementById('search').style.display='none';
			document.getElementById('sell').style.display='inline';
			document.getElementById('account').style.display='none';
			document.getElementById('register').style.display='none';
			document.getElementById('login').style.display='none';
			document.getElementById('changepassword').style.display='none';
			document.getElementById('preregister').style.display='none';
		}else if(id == 'register'){//register
			document.getElementById('search').style.display='none';
			document.getElementById('sell').style.display='none';
			document.getElementById('account').style.display='none';
			document.getElementById('register').style.display='inline';
			document.getElementById('login').style.display='none';
			document.getElementById('changepassword').style.display='none';
			document.getElementById('preregister').style.display='none';
		}else if(id == 'preregister'){//preregister
			document.getElementById('search').style.display='none';
			document.getElementById('sell').style.display='none';
			document.getElementById('account').style.display='none';
			document.getElementById('register').style.display='none';
			document.getElementById('login').style.display='none';
			document.getElementById('changepassword').style.display='none';
			document.getElementById('preregister').style.display='inline';
		}else if(id == 'login'){//login
			document.getElementById('search').style.display='none';
			document.getElementById('sell').style.display='none';
			document.getElementById('account').style.display='none';
			document.getElementById('register').style.display='none';
			document.getElementById('login').style.display='inline';
			document.getElementById('changepassword').style.display='none';
			document.getElementById('preregister').style.display='none';
		}else if(id == 'changepassword'){//changepassword
			document.getElementById('search').style.display='none';
			document.getElementById('sell').style.display='none';
			document.getElementById('account').style.display='none';
			document.getElementById('register').style.display='none';
			document.getElementById('login').style.display='none';
			document.getElementById('changepassword').style.display='inline';
			document.getElementById('preregister').style.display='none';
		}else{//account
			document.getElementById('search').style.display='none';
			document.getElementById('sell').style.display='none';
			document.getElementById('account').style.display='inline';
			document.getElementById('register').style.display='none';
			document.getElementById('login').style.display='none';
			document.getElementById('changepassword').style.display='none';
			document.getElementById('preregister').style.display='none';
		}
		
	}
	function changeimage(gdiv,img){
		//alert(gdiv + ":" + img);
		str = "<img src='"+img+"' width='400' height='300'/>"
		document.getElementById(gdiv).innerHTML = str;

	}
	function myalert(id){
//		alert(document.getElementById(id).value);
		str  = document.getElementById(id).value;
		a = 0;
		while (a > 0) {
			if (str.search('_')) {
				//		alert(str.substr(0,str.search('_'))+'\n'+str.substr(str.search('_')+1,str.length));
				lat = str.substr(0, str.search('_'));
				str = str.substr(str.search('_') + 1, str.length);
				lng = str.substr(0, str.search(','));
				str = str.substr(str.search(',') + 1, str.length);
				
				
//				var latlng = new GLatLng(lat,lng);
//
//				var marker = new GMarker(latlng, {
//							icon: icons[2]
//						});
//						map.addOverlay(marker);

					
					
//						map = new GMap2(document.getElementById("map"));
//						map.addControl(new GOverviewMapControl());
//						map.enableDoubleClickZoom();
//						//        		map.setMapType(G_SATELLITE_MAP);
//						map.setMapType(G_HYBRID_MAP);
//						map.addControl(new GMapTypeControl());
//						map.addControl(new GLargeMapControl());
//						
						geocoder = new GClientGeocoder();
						
						
						map.setCenter(point, 15);
						var marker = new GMarker(point, {
							icon: icons[2]
						});
						map.addOverlay(marker);
						GEvent.addListener(marker, 'click',
									function() {
									marker.openInfoWindowHtml('yes');
									});
					
				
			}else{a = 1;}
		}
	}
	
	
	function showfavorite(){
		
		//show sidebar
		document.getElementById('sidebar').style.display ='inline';
		document.getElementById('sidebar').innerHTML = "see me at views/products/gfavorite<br><div id=\"myfav\"></div>"; //<img src=\"/action_back.gif\" onclick=\"hidsidebar();\" style=\"display:inline;\"/><br>";
		// shif command
		document.getElementById('command').style.left ='25%';
		
		// new google map side
		document.getElementById('map').style.position='absolute';
		document.getElementById('map').style.left='20%';
		document.getElementById('map').style.top='0%';	
		document.getElementById('map').style.width='80%';	
		document.getElementById('map').style.height='100%';	
		document.getElementById('map').style.index='1';	
		document.getElementById('map').style.backgroundcolor=' #999999';
	}
	
	
	function showsidebar(idproduct){
		//show sidebar
		document.getElementById('sidebar').style.display ='inline';
		document.getElementById('sidebar').innerHTML = "<img src=\"/action_back.gif\" onclick=\"hidsidebar();\" style=\"display:inline;\"/><br><iframe src=/products/gsidebar/"+idproduct+" width='280' height='95%' border=0 frameborder=0></iframe>";
		// shif command
		document.getElementById('command').style.left ='25%';
		
		// new google map side
		document.getElementById('map').style.position='absolute';
		document.getElementById('map').style.left='20%';
		document.getElementById('map').style.top='0%';	
		document.getElementById('map').style.width='80%';	
		document.getElementById('map').style.height='100%';	
		document.getElementById('map').style.index='1';	
		document.getElementById('map').style.backgroundcolor=' #999999';
		
	}
	
	function hidsidebar(){
		//hidden sidebar
		document.getElementById('sidebar').style.display ='none';
		// ship command
		document.getElementById('command').style.left ='80px';
		// new google map side
		document.getElementById('map').style.position='absolute';
		document.getElementById('map').style.left='0%';
		document.getElementById('map').style.top='0%';	
		document.getElementById('map').style.width='100%';	
		document.getElementById('map').style.height='100%';	
		document.getElementById('map').style.index='1';	
		document.getElementById('map').style.backgroundcolor=' #999999';
		
	}	
	
	
    //<![CDATA[

    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(12.9357, 100.889), 14);
		map.addControl(new GOverviewMapControl());
			map.enableDoubleClickZoom();
			map.setMapType(G_HYBRID_MAP);
			map.addControl(new GMapTypeControl());
			map.addControl(new GLargeMapControl());
			geocoder = new GClientGeocoder();
      }
    }

	function load2() {
		
		var address = document.getElementById('code').value;
		      if (GBrowserIsCompatible()) {
		        var map = new GMap2(document.getElementById("map"));
		        map.setCenter(new GLatLng(12.9357, 100.889), 14);
				map.addControl(new GOverviewMapControl());
					map.enableDoubleClickZoom();
					map.setMapType(G_HYBRID_MAP);
					map.addControl(new GMapTypeControl());
					map.addControl(new GLargeMapControl());
					geocoder = new GClientGeocoder();
		      }
		    
		var gmarkers = [];	
			 // ====== set up marker mouseover tooltip div ======
      var tooltip = document.createElement("div");
      document.getElementById("map").appendChild(tooltip);
      tooltip.style.visibility="hidden";
//	  
			
			if (geocoder) {
//				alert('not');
				geocoder.getLatLng(address, function(point){
					if (!point) {
						alert(address + " not found\nPlease try again.");
						map = new GMap2(document.getElementById("map"));
						map.setCenter(new GLatLng(12.9357, 100.889), 14);
						map.addControl(new GOverviewMapControl());
						map.enableDoubleClickZoom();
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
//						GMap2.clearOverlays();
						 
						 
//						GEvent.addListener(map, "click", function(overlay, latlng){	
//						var htmlform = "<form method=\"post\" action=\"/product/create\">";
//						htmlform = htmlform + "<input type=\"hidden\" name=\"product[lat]\" id=\"product_lat\" value=\""+latlng.lat()+"\"/>lat:"+latlng.lat()+"";
//						htmlform = htmlform + "<br><input type=\"hidden\" name=\"product[lng]\" id=\"product_lng\" value=\""+latlng.lng()+"\"/>lng:"+latlng.lng()+"";
//		   				htmlform = htmlform + "<p>City: <input type=\"text\" name=\"product[City]\" id=\"product_City\" value=\""+document.getElementById('code').value+"\"/></p>";
//		   				htmlform = htmlform + "<p>Price:<input type=\"text\" name=\"product[Price]\" id=\"product_Price\" /></p>";
//		   				htmlform = htmlform + "<p>Bedrood:<input type=\"text\" name=\"product[Bed]\" id=\"product_Bed\" /></p>";
//		   				htmlform = htmlform + "<p>Bathroom:<input type=\"text\" name=\"product[Bath]\" id=\"product_Bath\" /></p>";
//		   				htmlform = htmlform + "<p>Detail:<textarea name=\"product[Detail]\" id=\"product_Detail\" cols=\"30\" rows=\"3\"></textarea></p>";
//		   				htmlform = htmlform + "<p><input type=\"submit\" value=\"Submit\" /></p>	";  
//		  				htmlform = htmlform + "</form>";
//							if (latlng) {   
//					            var myHtml = "The GLatLng value is: " + latlng.lat + " at zoom level " + map.getZoom();
////					            map.openInfoWindow(latlng, myHtml);
//								map.openInfoWindow(latlng, htmlform);
//					          }
//
//						});
						
						
						
					//        geocoder = new GClientGeocoder();				
					}
					else {
//						alert('yes');
//						alert(address + " yes, have");
						map = new GMap2(document.getElementById("map"));
						
						map.enableDoubleClickZoom();
						//        		map.setMapType(G_SATELLITE_MAP);
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
						map.addControl(new GOverviewMapControl());
						geocoder = new GClientGeocoder();
						
						map.setCenter(new GLatLng(12.9357, 100.889), 14);
//						var marker = new GMarker('12.9357,100.889')
//					map.addOverlay(marker);
//						var marker = new GMarker(point, {
//							icon: icons[2]
//						});
//						map.addOverlay(marker);
//						GEvent.addListener(marker, 'click',
//									function() {
//									marker.openInfoWindowHtml(address);
//									});
//						map.setZoom(15);
		str  = document.getElementById('temp').value;
		str2 = document.getElementById('temp2').innerHTML;
//		alert(str2);
		    function createMarker(latlng, number,thtml) {
      var marker = new GMarker(latlng);
	  marker.tooltip = '<div class="tooltip"  id="tooltip" >yyyyyyyyyyy<\/div>';
//      marker.value = number;
//	  alert(number);
//		gmarkers[number] = marker;			
//		gmarkers.push(marker);	
      GEvent.addListener(marker,"click", function() {
		map.openInfoWindowHtml(latlng, thtml);
      });
	  gmarkers[number] = marker;
	  map.addOverlay(marker);
	  //  ======  The new marker "mouseover" and "mouseout" listeners  ======
	  GEvent.addListener(marker,"mouseover", function() {
          showTooltip(marker);
        }); 
		GEvent.addListener(marker,"mouseout", function() {
		tooltip.style.visibility="hidden"
        });   
	  
//      return marker;
	}
      // ====== This function displays the tooltip ======
      // it can be called from an icon mousover or a side_bar mouseover
      function showTooltip(marker) {
//    document.getElementById('tooltip').innerHTML = marker.tooltip;
	tooltip.innerHTML = '<div class="tooltip"  id="tooltip" >yyyyyyyyyyy<\/div>';//marker.tooltip;
	var point=map.getCurrentMapType().getProjection().fromLatLngToPixel(map.getBounds().getSouthWest(),map.getZoom());
	var offset=map.getCurrentMapType().getProjection().fromLatLngToPixel(marker.getPoint(),map.getZoom());
	var anchor=marker.getIcon().iconAnchor;
	var width=marker.getIcon().iconSize.width;
	var pos = new GControlPosition(G_ANCHOR_BOTTOM_LEFT, new GSize(offset.x - point.x - anchor.x + width,- offset.y + point.y +anchor.y)); 
	pos.apply(tooltip);
//	alert(tooltip.innerHTML);
	tooltip.style.visibility="visible";
tooltip.style.display="block";
tooltip.style.index="99";
      }


		a = 0;
		while (str.length > 2) {
//			if (str.length > 2) {
				if (str.search('_')) {
					//		alert(str.substr(0,str.search('_'))+'\n'+str.substr(str.search('_')+1,str.length));
					lat = str.substr(0, str.search('_'));
					str = str.substr(str.search('_') + 1, str.length);
					lng = str.substr(0, str.search(','));
					str = str.substr(str.search(',') + 1, str.length);
					
					
					thtml = str2.substr(0, str2.search(',,,'));
//					alert(str2.search(',,,'));
					str2 = str2.substr(str2.search(',,,') + 3, str2.length);
					
					var latlng = new GLatLng(lat, lng);
//					alert(str + '\n' + a);
//					var marker = new GMarker(latlng);
					createMarker(latlng,a,thtml);
//					map.addOverlay(createMarker(latlng,a,thtml));


				
					
					
				}
			a = a + 1;
		}
		
//		map.removeOverlay(marker[0]);
					}
				});
			}
    }

function load3(id) {
	document.getElementById('shadow').style.display='none';
		if(id=='0'){document.getElementById('product_City').value = "pattaya";}
		//else{document.getElementById('product_City').value = id;}
		document.getElementById('quickeventmodal').style.display='none';
		address = document.getElementById('product_City').value;
			if (geocoder) {
//				alert('not');
				geocoder.getLatLng(address, function(point){
					if (!point) {
						alert(address + " not found\nPlease try again.");
						map = new GMap2(document.getElementById("map"));
						map.setCenter(new GLatLng(12.9357, 100.889), 14);
						map.addControl(new GOverviewMapControl());
						map.enableDoubleClickZoom();
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
//						GMap2.clearOverlays();
						 
						 
						GEvent.addListener(map, "click", function(overlay, latlng){	
						var htmlform = "<form method=\"post\" enctype=\"multipart/form-data\"  action=\"/products/create\" >\nlat:"+latlng.lat()+"\n<br>lng:"+latlng.lng()+"\n<br>";
						htmlform = htmlform + "<table border=0><tr><td width=\"350\" height=\"400\"  valign=\"top\">\n";
						htmlform = htmlform + "<div id=\"gaddproductform1\" style=\"display:block;\"><input type=\"hidden\" name=\"product2[lat]\" id=\"product2_lat\" value=\""+latlng.lat()+"\"/>\n";
						htmlform = htmlform + "<input type=\"hidden\" name=\"product2[lng]\" id=\"product2_lng\" value=\""+latlng.lng()+"\"/>\n";
		   				htmlform = htmlform + "<p>Location:<input type=\"text\" name=\"product2[City]\" id=\"product2_City\" value=\""+document.getElementById('product_City').value+"\"/></p>\n";
		   				htmlform = htmlform + "<p>Price:<input type=\"text\" name=\"product2[Price]\" id=\"product2_Price\"  onchange=\"return checknumber(\'product2_Price\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Bedrood:<input type=\"text\" name=\"product2[Bed]\" id=\"product2_Bed\"  onchange=\"return checknumber(\'product2_Bed\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Bathroom:<input type=\"text\" name=\"product2[Bath]\" id=\"product2_Bath\" onchange=\"return checknumber(\'product2_Bath\');\"/></p>\n";
						htmlform = htmlform + "<p>Type:<select name=\"product2[Type]\" id=\"product2_Type\">\n";
//						 var myAjax = new Ajax.Request( '/products/getlisting', {  
//										 method: 'get',  
//										 onComplete: function(request){  
//										 mytypes = eval( "(" + request.responseText + ")" );  
////										 alert(mytypes);
//										 for (var i = 0 ; i < mytypes.length ; i++) {  
//										 var ioption = mytypes[i]
////										 alert(ioption);
//										   htmlform = htmlform + "<option value=\""+i+"\">"+ioption +"</option>";
//										 //check for lat and lng so MSIE does not error on parseFloat of a null value  
//										 } // end of for loop  
//										 } // end of anonymous onComplete function  
//										 }); // end of the new Ajax.Request() call  
						htmlform = htmlform + "<option value=\"1\">Detached House</option>\n";
						htmlform = htmlform + "<option value=\"2\">Semi Detached House</option>\n";
						htmlform = htmlform + "<option value=\"3\">Terrace House</option>\n";
						htmlform = htmlform + "<option value=\"4\">Flat/Apartment</option>\n";
						htmlform = htmlform + "<option value=\"5\">Bungalow</option>\n";
						htmlform = htmlform + "<option value=\"6\">Park Home</option>\n";
						htmlform = htmlform + "<option value=\"7\">Garage</option>\n";
						htmlform = htmlform + "<option value=\"8\">(Land with planning)</option>\n";
						htmlform = htmlform + "<option value=\"9\">(Land without planning)</option>\n";
						htmlform = htmlform + "</select></p><a href=\"#\" onclick=\"javascript:document.getElementById(\'gaddproductform1\').style.display=\'none\';document.getElementById(\'gaddproductform2\').style.display=\'block\';\">next</a>\n";
						htmlform = htmlform + "</div>\n";
						
						
						htmlform = htmlform + "<div id=\"gaddproductform2\" style=\" display:none;\">\n";
//						htmlform = htmlform + "<p>Parking:<input type=\"text\" name=\"product2[Parking]\" id=\"product2_Bath\" onchange=\"return checknumber(\'product2_Parking\');\"/></p>\n";
						htmlform = htmlform + "<p>Parking:<select name=\"product2[Parking]\" id=\"product2_Parking\">\n";
						htmlform = htmlform + "<option value=\"1\">Road Side Parking</option>\n";
						htmlform = htmlform + "<option value=\"2\">Road Side - Permit</option>\n";
						htmlform = htmlform + "<option value=\"3\">Private Car Park</option>\n";
						htmlform = htmlform + "<option value=\"4\">Allocated Parking Space</option>\n";
						htmlform = htmlform + "<option value=\"5\">Driveway</option>\n";
						htmlform = htmlform + "<option value=\"6\">Garage</option>\n";
						
						htmlform = htmlform + "</select></p>\n";
						
		   				htmlform = htmlform + "<p>Detail:<textarea name=\"product2[Detail]\" id=\"product2_Detail\" cols=\"30\" rows=\"3\"></textarea></p>\n";						
						htmlform = htmlform + "<p>Picture</p>\n";
						htmlform = htmlform + "<p>Picture1:<input type=\"file\" name=\"image2[pic1]\" id=\"image2_pic1\" cols=\"30\" ></p>\n";
						htmlform = htmlform + "<p>Picture2:<input type=\"file\" name=\"image2[pic2]\" id=\"image2_pic2\" cols=\"30\" ></p>\n";
						htmlform = htmlform + "<p>Picture3:<input type=\"file\" name=\"image2[pic3]\" id=\"image2_pic3\" cols=\"30\" </p>\n";
						htmlform = htmlform + "<p>Picture4:<input type=\"file\" name=\"image2[pic4]\" id=\"image2_pic4\" cols=\"30\" ></p>\n";
						htmlform = htmlform + "<p>Picture5:<input type=\"file\" name=\"image2[pic5]\" id=\"image2_pic5\" cols=\"30\" ></p>\n";
		   				htmlform = htmlform + "<a href=\"#\" onclick=\"javascript:document.getElementById(\'gaddproductform1\').style.display=\'block\';document.getElementById(\'gaddproductform2\').style.display=\'none\';\">back</a>\n";
						htmlform = htmlform + "|<input type=\"submit\" value=\"Submit\" onclick=\"return validateform(\'product2_Price\',\'product2_Bed\',\'product2_Bath\',\'product2_Detail\',\'product2_City\');\" />	\n";  
						htmlform = htmlform + "</div>\n";
		  				htmlform = htmlform + "</td></tr></table></form>\n";
							if (latlng) {   
					            var myHtml = "The GLatLng value is: " + latlng.lat + " at zoom level " + map.getZoom();
//					            map.openInfoWindow(latlng, myHtml);
								map.openInfoWindow(latlng, htmlform);
					          }

						});
						
						
						
					//        geocoder = new GClientGeocoder();				
					}
					else {
//						alert('yes');
//						alert(address + " yes, have");
						map = new GMap2(document.getElementById("map"));
						
						map.enableDoubleClickZoom();
						//        		map.setMapType(G_SATELLITE_MAP);
						map.setMapType(G_HYBRID_MAP);
						map.addControl(new GMapTypeControl());
						map.addControl(new GLargeMapControl());
						map.addControl(new GOverviewMapControl());
						geocoder = new GClientGeocoder();
						
						map.setCenter(point, 13);
						
						
						GEvent.addListener(map, "click", function(overlay, latlng){	
						var htmlform = "<form method=\"post\" enctype=\"multipart/form-data\"  action=\"/products/create\" >\nlat:"+latlng.lat()+"\n<br>lng:"+latlng.lng()+"\n<br>";
						htmlform = htmlform + "<table border=0><tr><td width=\"350\" height=\"400\"  valign=\"top\">\n";
						htmlform = htmlform + "<div id=\"gaddproductform1\" style=\"display:block;\"><input type=\"hidden\" name=\"product2[lat]\" id=\"product2_lat\" value=\""+latlng.lat()+"\"/>\n";
						htmlform = htmlform + "<input type=\"hidden\" name=\"product2[lng]\" id=\"product2_lng\" value=\""+latlng.lng()+"\"/>\n";
		   				htmlform = htmlform + "<p>Location:<input type=\"text\" name=\"product2[City]\" id=\"product2_City\" value=\""+document.getElementById('product_City').value+"\"/></p>\n";
		   				htmlform = htmlform + "<p>Price:<input type=\"text\" name=\"product2[Price]\" id=\"product2_Price\"  onchange=\"return checknumber(\'product2_Price\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Bedrood:<input type=\"text\" name=\"product2[Bed]\" id=\"product2_Bed\"  onchange=\"return checknumber(\'product2_Bed\');\"/></p>\n";
		   				htmlform = htmlform + "<p>Bathroom:<input type=\"text\" name=\"product2[Bath]\" id=\"product2_Bath\" onchange=\"return checknumber(\'product2_Bath\');\"/></p>\n";
						htmlform = htmlform + "<p>Type:<select name=\"product2[Type]\" id=\"product2_Type\">\n";
//						 var myAjax = new Ajax.Request( '/products/getlisting', {  
//										 method: 'get',  
//										 onComplete: function(request){  
//										 mytypes = eval( "(" + request.responseText + ")" );  
////										 alert(mytypes);
//										 for (var i = 0 ; i < mytypes.length ; i++) {  
//										 var ioption = mytypes[i]
////										 alert(ioption);
//										   htmlform = htmlform + "<option value=\""+i+"\">"+ioption +"</option>";
//										 //check for lat and lng so MSIE does not error on parseFloat of a null value  
//										 } // end of for loop  
//										 } // end of anonymous onComplete function  
//										 }); // end of the new Ajax.Request() call  
						htmlform = htmlform + "<option value=\"1\">Detached House</option>\n";
						htmlform = htmlform + "<option value=\"2\">Semi Detached House</option>\n";
						htmlform = htmlform + "<option value=\"3\">Terrace House</option>\n";
						htmlform = htmlform + "<option value=\"4\">Flat/Apartment</option>\n";
						htmlform = htmlform + "<option value=\"5\">Bungalow</option>\n";
						htmlform = htmlform + "<option value=\"6\">Park Home</option>\n";
						htmlform = htmlform + "<option value=\"7\">Garage</option>\n";
						htmlform = htmlform + "<option value=\"8\">(Land with planning)</option>\n";
						htmlform = htmlform + "<option value=\"9\">(Land without planning)</option>\n";
						htmlform = htmlform + "</select></p><a href=\"#\" onclick=\"javascript:document.getElementById(\'gaddproductform1\').style.display=\'none\';document.getElementById(\'gaddproductform2\').style.display=\'block\';\">next</a>\n";
						htmlform = htmlform + "</div>\n";
						
						
						htmlform = htmlform + "<div id=\"gaddproductform2\" style=\" display:none;\">\n";
//						htmlform = htmlform + "<p>Parking:<input type=\"text\" name=\"product2[Parking]\" id=\"product2_Bath\" onchange=\"return checknumber(\'product2_Parking\');\"/></p>\n";
						htmlform = htmlform + "<p>Parking:<select name=\"product2[Parking]\" id=\"product2_Parking\">\n";
						htmlform = htmlform + "<option value=\"1\">Road Side Parking</option>\n";
						htmlform = htmlform + "<option value=\"2\">Road Side - Permit</option>\n";
						htmlform = htmlform + "<option value=\"3\">Private Car Park</option>\n";
						htmlform = htmlform + "<option value=\"4\">Allocated Parking Space</option>\n";
						htmlform = htmlform + "<option value=\"5\">Driveway</option>\n";
						htmlform = htmlform + "<option value=\"6\">Garage</option>\n";
						
						htmlform = htmlform + "</select></p>\n";
						
		   				htmlform = htmlform + "<p>Detail:<textarea name=\"product2[Detail]\" id=\"product2_Detail\" cols=\"30\" rows=\"3\"></textarea></p>\n";						
						htmlform = htmlform + "<p>Picture</p>\n";
						htmlform = htmlform + "<p>Picture1:<input type=\"file\" name=\"image2[pic1]\" id=\"image2_pic1\" cols=\"30\" ></p>\n";
						htmlform = htmlform + "<p>Picture2:<input type=\"file\" name=\"image2[pic2]\" id=\"image2_pic2\" cols=\"30\" ></p>\n";
						htmlform = htmlform + "<p>Picture3:<input type=\"file\" name=\"image2[pic3]\" id=\"image2_pic3\" cols=\"30\" ></p>\n";
						htmlform = htmlform + "<p>Picture4:<input type=\"file\" name=\"image2[pic4]\" id=\"image2_pic4\" cols=\"30\" ></p>\n";
						htmlform = htmlform + "<p>Picture5:<input type=\"file\" name=\"image2[pic5]\" id=\"image2_pic5\" cols=\"30\" ></p>\n";
		   				htmlform = htmlform + "<a href=\"#\" onclick=\"javascript:document.getElementById(\'gaddproductform1\').style.display=\'block\';document.getElementById(\'gaddproductform2\').style.display=\'none\';\">back</a>\n";
						htmlform = htmlform + "|<input type=\"submit\" value=\"Submit\" onclick=\"return validateform(\'product2_Price\',\'product2_Bed\',\'product2_Bath\',\'product2_Detail\',\'product2_City\');\" />	\n";  
						htmlform = htmlform + "</div>\n";
		  				htmlform = htmlform + "</td></tr></table></form>\n";
							if (latlng) {   
					            var myHtml = "The GLatLng value is: " + latlng.lat + " at zoom level " + map.getZoom();
//					            map.openInfoWindow(latlng, myHtml);
								map.openInfoWindow(latlng, htmlform);
					          }

						});
		
//		map.removeOverlay(marker[0]);
					}
				});
			}
    }






    //]]>
    </script>
    <script type="text/javascript">
    //<![CDATA[
	
//function gfav(){
	//show sidebar
		
		
		
		
//	if (GBrowserIsCompatible()) {
		// this variable will collect the html which will eventualkly be placed in the side_bar
		var side_bar_html = "";//<img src=\"/action_back.gif\" onclick=\"hidsidebar();\" style=\"display:inline;\"/><br>";
		
		// arrays to hold copies of the markers used by the side_bar
		// because the function closure trick doesnt work there
		var gmarkers = [];
		
		// A function to create the marker and set up the event window
		function createMarker(point, name, html){
			var marker = new GMarker(point);
			GEvent.addListener(marker, "click", function(){
				marker.openInfoWindowHtml(html);
			});
			// save the info we need to use later for the side_bar
			gmarkers.push(marker);
			// add a line to the side_bar html
			side_bar_html += '<a href="javascript:myclick(' + (gmarkers.length - 1) + ')">' + name + '<\/a><br>';
			return marker;
		}
		
		
		// This function picks up the click and opens the corresponding info window
		function myclick(i){
			GEvent.trigger(gmarkers[i], "click");
		}
		
		function gfav(xmlpath){
			side_bar_html = "";
			gmarkers = [];
			document.getElementById('sidebar').style.display ='inline';
//		document.getElementById('sidebar').innerHTML = "";
		document.getElementById('sidebar').innerHTML = "<img src=\"/action_back.gif\" onclick=\"hidsidebar();\" style=\"display:inline;\"/><br><div id=\"myfav\"></div>";
		// shif command
		document.getElementById('command').style.left ='25%';
		
		// new google map side
		document.getElementById('map').style.position='absolute';
		document.getElementById('map').style.left='20%';
		document.getElementById('map').style.top='0%';	
		document.getElementById('map').style.width='80%';	
		document.getElementById('map').style.height='100%';	
		document.getElementById('map').style.index='1';	
		document.getElementById('map').style.backgroundcolor=' #999999';
			// create the map
			var map = new GMap2(document.getElementById("map"));
//			map.addControl(new GLargeMapControl());
//			map.addControl(new GMapTypeControl());
			map.setCenter(new GLatLng(12.93245881808736, 100.8932876586914), 15);
			map.addControl(new GOverviewMapControl());
			map.enableDoubleClickZoom();
			map.setMapType(G_HYBRID_MAP);
			map.addControl(new GMapTypeControl());
			map.addControl(new GLargeMapControl());
			geocoder = new GClientGeocoder();
			
			// Read the data from example.xml
			//GDownloadUrl("/offer/example.xml", function(doc){
			GDownloadUrl(xmlpath, function(doc){
				var xmlDoc = GXml.parse(doc);
				var markers = xmlDoc.documentElement.getElementsByTagName("marker");
				
				for (var i = 0; i < markers.length; i++) {
					// obtain the attribues of each marker
					var lat = parseFloat(markers[i].getAttribute("lat"));
					var lng = parseFloat(markers[i].getAttribute("lng"));
					var point = new GLatLng(lat, lng);
					var html = markers[i].getAttribute("html");
					var label = markers[i].getAttribute("label");
					// create the marker
					var marker = createMarker(point, label, html);
					map.addOverlay(marker);
				}
				// put the assembled side_bar_html contents into the side_bar div
				document.getElementById("myfav").innerHTML = side_bar_html;
			});
		}
//	}
//	
//	else {
//		alert("Sorry, the Google Maps API is not compatible with this browser");
//	}
	// This Javascript is based on code provided by the
	// Blackpool Community Church Javascript Team
	// http://www.commchurch.freeserve.co.uk/   
	// http://econym.googlepages.com/index.htm

	//]]>
//}
    </script>

  </head>
  <body onload="load2();" onunload="GUnload();">
	<!-- HEADER NAVIGATION -->
	<div id="command" style="position:absolute;	left:80px;	top:0%;	width:750px;	height:35px;	z-index:50;">
		
		<img src="/images/navigation/header_01.png" onclick="javascript: if (document.getElementById('quickeventmodal').style.display=='none'){document.getElementById('shadow').style.display='inline';document.getElementById('quickeventmodal').style.display='inline';}else{document.getElementById('shadow').style.display='none';document.getElementById('quickeventmodal').style.display='none';}" ><!--
		--><a href="#" onclick="changeform('search');"><img src="/images/navigation/header_02.png" /></a><!--
		
		--><%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%><!--
		--><a href="#" onclick="load3('0');"><img src="/images/navigation/header_03.png" /></a><!--
		--><a href="#" onclick="changeform('account');"><img src="/images/navigation/header_07.png" /></a><!--
		--><a href="#" onclick="changeform('changepassword');">Change Password</a><!--
		--><!--<a href="#" onclick="gfav();"> my favorites</a>-->
		<%= link_to_remote "   my favorites",
				  :complete =>"gfav('/xml/#{session[:user_id]}.xml')",
                  :url => { :controller => "products",
                  :action => "gfavorite" }%>
		
                  <!--:loading =>"showfavorite()",-->
		
		<!--
		--><%end%><!--
		
	--><%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%><!--
		--><a href="/login/logout" ><img src="/images/navigation/header_11.png" /></a><!--
	--><%else%><!--
		--><a href="#" onclick="changeform('preregister');"><img src="/images/navigation/header_03.png" /></a><!--
		--><a href="#" onclick="changeform('register');"><img src="/images/navigation/header_04.png" /></a><!--
		--><a href="#" onclick="changeform('login');"><img src="/images/navigation/header_05.png" /></a><!--
	--><%end%><!--
		
		
		--><img src="/images/navigation/header_06.png" />
		
		
		
		
	</div>
	<!-- // HEADER NAVIGATION -->
	
					

	

	
  	<!--google map-->
    <div id="map" style="position:absolute;	left:0%;top:0%;	width:100%;	height:100%;	z-index:1;	background-color: #999999;"></div>
	<div id="overlay" style="display:none"></div>
	
	<!--Side bar-->
		<div id="sidebar" style="display:none;  position:absolute;	left:0%;top:0%;	width:20%;	height:100%;	z-index:2;	">
		
		</div>
	<!--end Side bar-->
	
	<!-- MIDDLE SHADOW -->
	<div id="shadow" style="position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('quickeventmodal').style.display='none';" >
	</div>
	<!-- // MIDDLE SHADOW -->



<!--popup page-->
<div id="quickeventmodal" name="quickeventmodal" style="position: absolute;top:15%;left:20%;background: #fff;padding: 15px;border: 5px solid #ddd;z-index: 50;">



	<!-- LAYER NAVIGATION -->


	<!-- // LAYER NAVIGATION -->
	
	
		<!-- LOGIN FORM -->
		<div id="login" style="display:none;">
			<form name="loginform" id="loginform" action="/login/checklogin">
	
				<table>
					
					<tr>
						<td>UserName:</td>
						<td >
							<%=text_field 'user','UserName'%>
						</td>
					</tr>
					<tr>
						<td>Password:</td>
						<td >
							<%=password_field 'user','Password'%>
						</td>
					</tr>
					<tr>
						<td></td>
						<td ><br>
							<input type="submit" name="Submit" value="Submit" id="Submit" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<!-- // LOGIN FORM -->
	
	
	
		<!-- SEARCH FORM -->
		<%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%>
			<div id="search" style="display:none;">
		<%else%>	
			<div id="search" style="display:inline;">
		<%end%>
		  <form  method="post" action="/products/result">
		  	
		   <img src="/images/headers/welcometo.png" style="padding:0 10px 10px 0" />
		   
		   <p>&nbsp;</p>
		   <p><b>I want to:</b> <select style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;"><option>Buy</option><option>Rent</option></select></p>
		   <p> Property Type: <select style="font-family:Arial, Helvetica;margin-left:5px;">
			   		<option>House</option>
					<option>Townhouse</option>
					<option>Condo</option>
					<option>Apartment</option>
					<option>Shophouse</option>
					<option>Office</option>
					<option>Land</option>
				</select>
		   </p>
		   
		   <p><b>City:</b> <input type="text" name="code" id="code" value="<%=@location%>" style="font-family:Arial, Helvetica;margin-left:5px;" /></p>
		   
		   
		   <p>Price:<input type="text" name="fprice" id="fprice" style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;width:75px" />to<input type="text" name="tprice" id="tprice" style="font-family:Arial, Helvetica;margin-left:5px; width:75px" /></p>
		   <p>Bedrooms:<select style="font-family:Arial, Helvetica;margin-left:5px;">
			   		<option>Studio</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5+</option>
				</select></p>
		   <p>Bathrooms:<select style="font-family:Arial, Helvetica;margin-left:5px;">
			   		<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4+</option>
				</select></p>
		   <p><input name="" type="submit" value="Search" style="font-family:Arial, Helvetica;margin-left:5px;width:75px;" /></p>
		   
		   

		<%= link_to_remote "clearsession",
				:method => :get,
        		:update => :kendio,
				:complete =>"load2();",
        		:url => { :controller=>'products',:action => 'clearsession'} %>
				
				
		   <div id="kendio">
		   	<input type="hidden" name="temp" id="temp" value="<%=@text%>"/>
			<div id="temp2" style="display:none"><%=@text2%></div>													
		   </div>
		   
		   <%= observe_field(:code,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'code='+value") %>
		   
		   <%= observe_field(:fprice,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'fprice='+value") %>
		   
		   <%= observe_field(:tprice,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'tprice='+value") %>
		   
		   <%= observe_field(:bed,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'bed='+value") %>
		   
		   <%= observe_field(:bath,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:complete =>"load2();",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'bath='+value") %>
		  </form>
		  
		  
		  
		  
		</div>
	<!-- // SEARCH FORM -->
	
		<!-- SELL FORM -->
		<div id="sell" style="display:none;">
		<form method="post" action="/product/create">
		   <p>City: <input type="text" name="product[City]" id="product_City" onclick="load3('1');"/></p>
		   <p>Price:<input type="text" name="product[Price]" id="product_Price" /></p>
		   <p>Bedrood:<input type="text" name="product[Bed]" id="product_Bed" /></p>
		   <p>Bathroom:<input type="text" name="product[Bath]" id="product_Bath" /></p>
		   <p>Detail:<textarea name="product[Detail]" id="product_Detail" cols="30" rows="3"></textarea></p>
		   <p><input name="" type="submit" value="Submit" /></p>	  
		</form>
		</div>
		<!-- // SELL FORM -->
	
	
	
		<!-- ACCOUNT FORM -->
	<%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%>
	<div id="account" style="display:inline;">
	<%else%><div id="account" style="display:none;"><%end%>
	<%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%>
		
		<form name="accountformr" id="accountformr" action="/users/update">
			<input type="hidden" name="id" id="id" value="<%=session[:user_id]%>"/>
			<table>
				<tr>
					<td>Name</td>
					<td><%=text_field 'user','FirstName'%></td>
				</tr>
				<tr>
					<td>LastName</td>
					<td><%=text_field 'user','LastName'%></td>
				</tr>
				<tr>
					<td>UserName:</td>
					<td><%=text_field 'user','UserName' %></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><%=text_field 'user','Email' %></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td><%=text_field 'user','Phone' %></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><%=text_field 'user','Address' %></td>
				</tr>
				<tr>
					<td>Suburb:</td>
					<td><%=text_field 'user','Suburb' %></td>
				</tr>
				<tr>
					<td>Province:</td>
					<td><%=text_field 'user','Province' %></td>
				</tr>
				<tr>
					<td>PostCode:</td>
					<td><%=text_field 'user','PostCode' %></td>
				</tr>
				<tr>
					<td>UserType:</td>
					<td>
					<input name="user[UserType]" type="radio" value="p" id="user_UserType_1" <%if @user.UserType == 'p'%>checked="checked" <%end%>/><label for="user_UserType_1">Private</label>
					<input name="user[UserType]" type="radio" value="d" id="user_UserType_2" <%if @user.UserType == 'd'%>checked="checked" <%end%>/><label for="user_UserType_2">Agent</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="10"><br>
						<input type="submit" name="Submit" value="Submit" id="Submit" onclick="return newacountform();" />
					</td>
				</tr>
			</table>
		</form>
		<%end%>
	</div> 
	<!-- // ACCOUNT FORM -->
	
	
	<!-- CHANGE PASSWORD -->
	<div id="changepassword" style="display:none;">
		<form name="changepass" id="changepass" action="/users/changepassword">
			<input type="hidden" name="id" id="id" value="<%=session[:user_id]%>"/>
			<table>
				<tr>
					<td>Old password:</td>
					<td><%=password_field 'user5','oldpass'%></td>
				</tr>
				<tr>	
					<td>New password:</td>
					<td><%=password_field 'user4','Password'%></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td colspan="10"><%=password_field 'user5','confirmpass'%></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="10"><br>
						<input type="submit" name="Submit" value="Submit" id="Submit" onclick="return changepasswordfrom();" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	<!-- // CHANGE PASSWORD -->	
	
		
	
	<!-- PRE-REGISTER FORM -->
	<div id="preregister" style="display:none;">
		<h1>Adding a listing is EASY!</h1>
		<p>But you need to <a href="#" onclick="changeform('login');">Login</a> or <a href="#" onclick="changeform('register');">Register</a> first.</p>
		<p>If you don't have an account yet, it's free and only takes a minute to register.</p>
		
		
	</div>
	<!-- // PRE-REGISTER FORM -->
		

		
	
	<!-- REGISTER FORM -->
	<div id="register" style="display:none;">
		<h1>Register for FREE</h1>
		<form name="newuser" id="newuser" action="/users/create">
			<table>
				<tr>
					<td>First Name:</td>
					<td><%=text_field 'user2','FirstName'%></td>
					<td>Last Name:</td>
					<td><%=text_field 'user2','LastName'%></td>
				</tr>
				<tr>
					<td>Username:</td>
					<td colspan="10"><%=text_field 'user2','UserName'%></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td colspan="10"><%=password_field 'user2','Password'%></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td colspan="10"><%=password_field 'user3','Password3'%></td>
				</tr>
				<tr><td colspan="10"><hr></td></tr>
				<tr>
					<td>Phone:</td>
					<td><%=text_field 'user2','Phone'%></td>
					<td>Email:</td>
					<td><%=text_field 'user2','Email'%></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td colspan="10"><%=text_field 'user2','Address',:size=>"60" %></td>
				</tr>
				<tr>
					<td>City:</td>
					<td><%=text_field 'user2','Suburb'%></td>
					<td>Province:</td>
					<td><%=text_field 'user2','Province'%></td>
				</tr>
				<tr>
					<td>Postcode:</td>
					<td colspan="10"><%=text_field 'user2','PostCode'%></td>
				</tr>
				<tr>
					<td>Are you a:</td>
					<td colspan="10">
						<input name="user2[UserType]" type="radio" value="p" id="user2_UserType_1" checked="checked" /><label for="user2_UserType_1">Private Seller</label>
						<input name="user2[UserType]" type="radio" value="d" id="user2_UserType_2" style="margin-left:10px" /><label for="user2_UserType_2">Real Estate Agent</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="10"><br>
						<input type="submit" name="Submit" value="Submit" id="Submit" onclick="return newuserform();" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	<!-- // REGISTER FORM -->
		

		
	
	
	
	
	
	
	
	
	
	</div>
  </body>
</html>