
	<%= javascript_include_tag :defaults %> 
	<script src="/javascripts/kendio.js" type="text/javascript"></script>
   <script src="/javascripts/indexpro.js" type="text/javascript"></script>
   <script src="/javascripts/googleapikey.js" type="text/javascript"></script>

<!--=====================   for jquery autocomplete  ====================-->
<!--
<script type="text/javascript" src="/javascripts/jquery-autocomplete/lib/jquery.js"></script>


<script type='text/javascript' src='/javascripts/jquery-autocomplete/jquery.autocomplete.js'></script>
<script type='text/javascript' src='/javascripts/jquery-autocomplete/localdata.js'></script>


<link rel="stylesheet" type="text/css" href="/javascripts/jquery-autocomplete/jquery.autocomplete.css" />
<link rel="stylesheet" type="text/css" href="/javascripts/jquery-autocomplete/lib/thickbox.css" />

-->






  <script>
//  $(document).ready(function(){
//$("#code").autocomplete(cities);
//  });
  </script>
<!--=====================   end  jquery autocomplete  ====================--> 
    <!-- ============== create a style for the tooltip ============ -->






	    <script type="text/javascript">
















			
			
			
			
			
			
			
			
var side_bar_html = "";//<img src=\"/action_back.gif\" onclick=\"hidsidebar();\" style=\"display:inline;\"/><br>";
var mypage = "";
		var gmarkers = [];		
		var gmarkers2 = [];
		var htmls = [];
		var map;
		var tooltip2;
//		document.getElementById("map").appendChild(tooltip2);
//		tooltip2.style.visibility = "hidden";
		
		
	function gfav(xmlpath){

		
								// create the map
//							alert('yesss');
 map = new GMap2(document.getElementById("map"));
//		var mt = map.getMapTypes();
//      // Overwrite the getMinimumResolution() and getMaximumResolution() methods
//      for (var i=0; i<mt.length; i++) {
//        mt[i].getMinimumResolution = function() {return 8;}
//        mt[i].getMaximumResolution = function() {return 18;}
//      }
	  	map.setCenter(new GLatLng(12.9357, 100.889), 14);
		map.enableDoubleClickZoom();
		map.setMapType(G_HYBRID_MAP);
		map.addControl(new GMapTypeControl());
		map.addControl(new GLargeMapControl());
		
		

		
		
		
		geocoder = new GClientGeocoder();
			
			changeform('favorites');
			
			
		document.getElementById('quickfavorites').style.display ='inline';
		document.getElementById('quickfavorites').innerHTML = "<div id=\"myfav\"></div>";
		
		
		
		// ====== set up marker mouseover tooltip div ======
		var tooltip = document.createElement("div");
		document.getElementById("map").appendChild(tooltip);
		tooltip.style.visibility = "hidden";
		
		tooltip2 = tooltip;
		
		side_bar_html = "";
		gmarkers = [];
		
					GDownloadUrl(xmlpath, function(doc){
				var xmlDoc = GXml.parse(doc);
				var markers = xmlDoc.documentElement.getElementsByTagName("marker");
				mypage = '<a href="#" onclick="quickpage(&quot;page' + 1 + '&quot;);">' + 1 + ' </a>';
				var tab = 0;
				var a=1;
				side_bar_html += '<div id="page1" >';
//				alert(markers.length);
				for (var i = 0; i < markers.length; i++) {
//					alert(i);
					if(tab == 3){
						a = a + 1;
						mypage += '<a href="#" onclick="quickpage(&quot;page' + a + '&quot;);">' + a + ' </a>';
						side_bar_html += '</div><div id="page'+a+'" style="display:none;">';
						tab = 0;
						
					}
					
					// obtain the attribues of each marker
					var lat = parseFloat(markers[i].getAttribute("lat"));
					var lng = parseFloat(markers[i].getAttribute("lng"));
					var point = new GLatLng(lat, lng);
					var html = markers[i].getAttribute("html");
					var label = markers[i].getAttribute("label");
					var html2 = markers[i].getAttribute("html2");
					//set center map
					if (i == 0){map.setCenter(new GLatLng(lat, lng), 14);}
					// create the marker
					var marker = createMarker(point, label, html,i,html2);
					map.addOverlay(marker);
					tab = tab + 1;
				}
				// put the assembled side_bar_html contents into the side_bar div
				side_bar_html += '</div>\n<input type="hidden" name="tempquickpage" id="tempquickpage" value="page1"/>\n';
				if (a > 1 ){side_bar_html += '<br>Page: ' + mypage + '<br>';}
				document.getElementById("myfav").innerHTML = side_bar_html;
			});
//		}
		
		
		// A function to create the marker and set up the event window
		function createMarker(point, name, html,i,html2){
			var marker = new GMarker(point);
			// === store the name so that the tooltip function can use it ===
			marker.tooltip = '<div class="tooltip">' + name + '<\/div>';
			GEvent.addListener(marker, "click", function(){
				marker.openInfoWindowHtml(html);
			});
			//  ======  The new marker "mouseover" and "mouseout" listeners  ======
			GEvent.addListener(marker, "mouseover", function(){
				showTooltip2(marker);
			});
			GEvent.addListener(marker, "mouseout", function(){
				tooltip.style.visibility = "hidden"
			});	
			gmarkers2[i] = marker;
			htmls[i] = html;
			
			// save the info we need to use later for the side_bar
			gmarkers.push(marker);
			// add a line to the side_bar html
			side_bar_html += '<a href="javascript:myclick2(' + (gmarkers.length - 1) + ')"onmouseover="mymouseover2(' + i + ')" onmouseout="mymouseout2()">' + html2 + '<\/a>'; //>' + name + '<\/a>';
//			map.addOverlay(marker);
//			return marker;
			
			return marker;
		}
		
		// ====== This function displays the tooltip ======
		// it can be called from an icon mousover or a side_bar mouseover
		function showTooltip2(marker){
//			alert(marker.tooltip);

			tooltip.innerHTML = marker.tooltip;
			var point = map.getCurrentMapType().getProjection().fromLatLngToPixel(map.getBounds().getSouthWest(), map.getZoom());
			var offset = map.getCurrentMapType().getProjection().fromLatLngToPixel(marker.getPoint(), map.getZoom());
			var anchor = marker.getIcon().iconAnchor;
			var width = marker.getIcon().iconSize.width;
			var pos = new GControlPosition(G_ANCHOR_BOTTOM_LEFT, new GSize(offset.x - point.x - anchor.x + width, -offset.y + point.y + anchor.y));
			pos.apply(tooltip);
			tooltip.style.visibility = "visible";
		}
		function mymouseover2(i){
			alert('show');
			showTooltip(gmarkers2[i])
		}
		// ===== This function is invoked when the mouse leaves an entry in the side_bar =====
		// It hides the tooltip      
		function mymouseout2(){
			alert('hidden');
			tooltip.style.visibility = "hidden";
		}
		// This function picks up the click and opens the corresponding info window
		function myclick2(i){
			alert('yes');
//			gmarkers[i].openInfoWindowHtml(htmls[i]);
			GEvent.trigger(gmarkers2[i], "click");
//			marker[i].openInfoWindowHtml(htmls[i]);
		}

}
		function showTooltip2(marker){
//			alert(marker.tooltip);
//			var map = new GMap2(document.getElementById("map"));
			tooltip2.innerHTML = marker.tooltip;
			var point = map.getCurrentMapType().getProjection().fromLatLngToPixel(map.getBounds().getSouthWest(), map.getZoom());
			var offset = map.getCurrentMapType().getProjection().fromLatLngToPixel(marker.getPoint(), map.getZoom());
			var anchor = marker.getIcon().iconAnchor;
			var width = marker.getIcon().iconSize.width;
			var pos = new GControlPosition(G_ANCHOR_BOTTOM_LEFT, new GSize(offset.x - point.x - anchor.x + width, -offset.y + point.y + anchor.y));
			pos.apply(tooltip2);
			tooltip2.style.visibility = "visible";
		}
		function mymouseover2(i){
//			alert('show');
			showTooltip2(gmarkers[i])
		}
		// ===== This function is invoked when the mouse leaves an entry in the side_bar =====
		// It hides the tooltip      
		function mymouseout2(){
//			alert('hidden');
			tooltip2.style.visibility = "hidden";
		}
		// This function picks up the click and opens the corresponding info window
		function myclick2(i){
//			alert('yes');
//			gmarkers[i].openInfoWindowHtml(htmls[i]);
			GEvent.trigger(gmarkers[i], "click");
//			marker[i].openInfoWindowHtml(htmls[i]);
		}




    </script>

	

  </head>
  
<body  onload="load2('code'); " onunload="GUnload();">
	
	<!--for firstpopup (link to show my listing)-->
	<input type="hidden" name="firstpopup" id="firstpopup" value="<%=@firstpopup%>"/>
	<input type="hidden" name="temppopup" id="temppopup" value="no"/>
	<!-- HEADER NAVIGATION -->
	<div id="command" style="position:absolute;	left:80px;	top:0%;	width:535px;	height:35px;	z-index:50;">
		
		<img src="/images/navigation/header_01.png" onclick="javascript:if (document.getElementById('quickeventmodal').style.display=='none'){document.getElementById('shadow').style.display='inline';document.getElementById('quickeventmodal').style.display='inline';document.getElementById('quickpic').style.display='none';}else{document.getElementById('shadow').style.display='none';document.getElementById('quickeventmodal').style.display='none';document.getElementById('quickpic').style.display='none';}" ><!--
		--><a href="#" onclick="document.getElementById('add_nav').style.display='none';  changeform('search');"><img src="/images/navigation/header_02.png" /></a><!--
		
		--><%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%><!--
		--><a href="#" onclick="document.getElementById('add_nav').style.display='block'; load3('1','');"><img src="/images/navigation/header_03.png" /></a><!--
		--><a href="#" onClick="document.getElementById('add_nav').style.display='none';  window.open('/controlpanel/','mywin','left=20,top=20,width=950,height=660,toolbar=0,resizable=0,location=0,status=0');myRef.focus()"><img src="/images/navigation/header_08.png" /></a><!--
		
		<a href="#" onclick="gfav();"> my favorites</a>
		<%= link_to_remote "   my favorites",
				  :complete =>"gfav('/xml/#{session[:user_id]}.xml')",
                  :url => { :controller => "products",
                  :action => "gfavorite" }%>
                  :loading =>"showfavorite()",
		--><%end%><!--
		
	--><%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%><!--
		--><a href="/login/logout" ><img src="/images/navigation/header_11.png" /></a><!--
	--><%else%><!--
		--><a href="#" onclick="document.getElementById('add_nav').style.display='none';  changeform('preregister');"><img src="/images/navigation/header_03.png" /></a><!--
		--><a href="#" onclick="document.getElementById('add_nav').style.display='none';  changeform('register');"><img src="/images/navigation/header_04.png" /></a><!--
		--><a href="#" onclick="document.getElementById('add_nav').style.display='none';  changeform('login');"><img src="/images/navigation/header_05.png" /></a><!--
	--><%end%><!--
		
		--><a href="http://wiki.rethai.com" target="_blank"  onclick="document.getElementById('add_nav').style.display='none';"><img src="/images/navigation/header_06.png" alt="Help Wiki" /></a>
		<br clear=all />
	<%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%>
	<%= render :partial => 'controlpanelnav' %>
	<%end%>
	</div>
	<!-- // HEADER NAVIGATION -->
	

		


	<!-- MIDDLE SHADOW -->
	
	
	<div id="processing" style="display:none;position:absolute;left:600px;top:5px;width:31px;height:31px;z-index:51; opacity: 0.7; filter:alpha(opacity=70);"  >
			<img src="/images/loading.gif"/>
	</div>
	
	
	
	<div id="shadow" style="position:absolute;left:0%;top:0%;width:100%;height:100%;z-index:25;background-color: #000000; opacity: 0.7; filter:alpha(opacity=70);/* IE's opacity*/ " onclick="javascript: document.getElementById('shadow').style.display='none'; document.getElementById('quickpic').style.display='none';document.getElementById('quickeventmodal').style.display='none';" >

	</div>
	<!-- // MIDDLE SHADOW -->

	<!-- GOOGLE MAP AND SIDEBAR -->
           <div id="map" style="position:absolute;	left:0%;top:0%;	width:100%;	height:100%; min-height: 100%;	z-index:1;	background-color: #999999;"></div>    
		   <div id="mapshow" style="display:none;"></div>    
           <div id="side_bar" style="display:none;"></div>
		   <div id="sidebar" style="display:none;"></div>   
	<!-- // GOOGLE MAP AND SIDEBAR -->	 

	<div id="quickpic" style="display:none;position: absolute;top:15%;left:20%; z-index: 26;">
	session[:user_id]   :=  <%=session[:user_id]%>
<!--	<iframe src="/products/quickpic/9" width="600" height="600"  border="0" frameborder="0"></iframe>-->
	</div>
<!-- POPUP PAGE -->
<div id="quickeventmodal" name="quickeventmodal" style="position: absolute;top:15%;left:10%;background: #fff;padding: 10px;border: 5px solid #ddd;z-index: 50;">
	
	
	
	<!-- LOGIN FORM -->
		<div id="login" style="display:none;">
		<h1>Login!</h1>
		<%= form_remote_tag(:update => "loginmessage",
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; if(document.getElementById('tempuser_id').value !='0'){window.location.reload();}",
								:url => { :controller=>'login',:action => 'checklogin'}) %>
<!--			<form name="loginform" id="loginform" action="/login/checklogin" style=margin-top:10px;>-->
				<table>
					<tr>
						<td>Username:</td>
						<td><%=text_field 'user','UserName'%></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><%=password_field 'user','Password',:value=>""%></td>
					</tr>
					<tr>
						<td></td>
						<td><br />
			<div id="loginmessage">
				<input type="hidden" name="tempuser_id" id="tempuser_id" value="0"/>
			</div>			
			<div class="buttons">
			<button type="submit" class="positive" />
				<img src="/images/icons/key_go.png" alt="" />
				Login
			</button>
			</div>
			<div style="clear:both;"></div>

						</td>
					</tr>
				</table>
			</form>
		</div>

		<!-- // LOGIN FORM -->
	
	
	
		<!-- SEARCH FORM -->
		
		<div id="search"  style="display:inline;">

		<%= form_remote_tag(:update => "kendio",
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
								:url => { :controller=>'products',:action => 'findlisting'}) %>
		  <!--<form  method="post" action="/products/result">-->
		  	
		<div id="searchform">
		   	<h1><span>Welcome to </span>Real Estate Thailand</h1>
			<h3>Real Estate for Sale and Rent by People, Agents and Developers</h3>
			
			
		<div style="width:410px">
			
		   <p>&nbsp;</p>
		   
		   <div style="float:right;">
		   	<div style="border:1px solid #d1e4ad; width:128px; padding:5px; background-color: #f6faef; margin-bottom:10px">
			 <p><b>Add a Listing</b></p>

	<%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%>
		<p>Anyone can add a listing, <a href="#" onclick="document.getElementById('add_nav').style.display='block'; load3('1');">Click here</a> to add your listing now!</p>
	<%else%>	
			 <p>Anyone can add a listing, you just need to register first!</p>
			 <p><a href="#" onclick="changeform('register');">Click here to register</a></p>
	<%end%>



			</div>
			
		    <div style="border:1px solid #ffc2c8; width:128px; padding:5px; background-color: #fff3f4;">
			 <p><b>Getting Started</b></p>
			 <p>Are you new here? We have a <a href="http://wiki.rethai.com" target="_blank">Wiki full of help</a>.</p>
			 
			</div>
		   </div>
			
		   <div style="border:1px solid #add3e4; width:250px; padding:5px; background-color: #eff6fa;">
		   <p><strong>I want to:</strong> 
			   <select name="salerent" id="salerent"  style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;padding:2px;">
				   <option value="1">Buy&nbsp;&nbsp;</option>
				   <option value="0">Rent&nbsp;&nbsp;</option>
			   </select>
		   </p>
		   <p>Property Type: 
		   <select name="propertytype" id="propertytype" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
		   <%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
		   <option value="0">Listing Type</option>
		   <%for lt in listingtypes%>
		   		<option value="<%=lt.Value%>"><%=lt.Name%></option>
		   <%end%>
				</select>
		   </p>
		   
		   <p><b>City:</b> 
<!--		   	<input type="text" name="code" id="code" value="<%=@location%>" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;" />-->
		   <%#= text_field_with_auto_complete :lession, :comment1, { :size => 15 }, { :url => "/products/auto_complete_for_lession_comment/",:param_name=>"lession[comment1]",:with => "'lession[comment]='+escape($('lession_comment1').value)", :method => :get } %> 
				 <style type="text/css">       
				 		div.auto_complete {
				          width: 350px;
				          background: #fff;
						  
				        }
				        div.auto_complete ul {
				          border:1px solid #888;
				          margin:0;
				          padding:0;
				          width:100%;
				          list-style-type:none;
				        }
				        div.auto_complete ul li {
				          margin:0;
				          padding:2px;
						  font-size:10px;
				        }
				        div.auto_complete ul li.selected {
				          background-color: #ffb;
				        }
				        div.auto_complete ul strong.highlight {
				          color: #800; 
				          margin:0;
				          padding:0;
				        }
				</style>
				<input id="code" name="code" size="15" type="text" value="<%=@location%>" style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="code_detail"></div><script type="text/javascript">
				//<![CDATA[
				var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('code').value) }, method:'get', paramName:'code'})
				//]]>
				</script> 
	
			</p>		
		   <p>Price:<input type="text" name="fprice" id="fprice" style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;width:75px;padding:2px;" />to<input type="text" name="tprice" id="tprice" style="font-family:Arial, Helvetica;margin-left:5px; width:75px;padding:2px;" /></p>
		   <p>Bedrooms:<select name="bed" id="bed" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
			   		<option value="">Any</option>
					<option value="0">Studio</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6+</option>
				</select>
				
				to 
				
			<select name="bed2" id="bed2" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
			   		<option value="">Any</option>
					<option value="0">Studio</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6+</option>
				</select>	
				
				</p>
		   <p>Bathrooms:<select name="bath" id="bath" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
			   		<option value="">Any</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5+</option>
				</select></p>
		   
		   
		   
		   
		   <div class="buttons">
			<button type="submit" href="#" onclick="javascript:document.getElementById('quickeventmodal').style.display='none'; document.getElementById('shadow').style.display='none';" class="positive" />
				<img src="/images/icons/world_go.png" alt="" />
				Search!
			</button>
			<br>
		</div>
			<div style="clear:both;"></div>
		
		

	</div>
		
		
		</div>
		
		
		
		
		
		
		
		
		   
		   
		   <!--<p><input name="" type="submit" value="Search" style="font-family:Arial, Helvetica;margin-left:5px;width:75px;" /></p>
		    
			<= link_to_remote "clearsession",
				:method => :get,
        		:update => :kendio,
				:complete =>"load2();",
        		:url => { :controller=>'products',:action => 'clearsession'} %>-->
				
				
		   <div id="kendio">
		   	<input type="hidden" name="temp" id="temp" value="<%=@text%>"/>
			<div id="temp2" style="display:none"><%=@text2%></div>													
		   </div>
		   <%= observe_field(:salerent,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'code='+escape($('code').value) + '&salerent='+escape($('salerent').value) + '&propertytype='+escape($('propertytype').value) + '&fprice='+escape($('fprice').value) + '&tprice='+escape($('tprice').value) + '&bed='+escape($('bed').value) + '&bed2='+escape($('bed2').value) + '&bath='+escape($('bath').value)") %>
		   
		   
		   <%= observe_field(:code,
                        		:on => :changed,
								:method => :get,
                        		:update => :kendio,
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
                        		:url => { :controller=>'products',:action => 'findlisting'},
								:with => "'code='+escape($('code').value) + '&salerent='+escape($('salerent').value) + '&propertytype='+escape($('propertytype').value) + '&fprice='+escape($('fprice').value) + '&tprice='+escape($('tprice').value) + '&bed='+escape($('bed').value) + '&bed2='+escape($('bed2').value) + '&bath='+escape($('bath').value)") %>
		   
		   <%#= observe_field(:fprice,
                        		#:on => :changed,
								#:method => :get,
                        		#:update => :kendio,
								#:loading=>"javascript: document.getElementById('processing').style.display='block';",
								#:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
                        		#:url => { :controller=>'products',:action => 'findlisting'},
								#:with => "'code='+escape($('code').value) + '&salerent='+escape($('salerent').value) + '&propertytype='+escape($('propertytype').value) + '&fprice='+escape($('fprice').value) + '&tprice='+escape($('tprice').value) + '&bed='+escape($('bed').value) + '&bed2='+escape($('bed2').value) + '&bath='+escape($('bath').value)") %>
		   
		   <%#= observe_field(:tprice,
                        		#:on => :changed,
								#:method => :get,
                        		#:update => :kendio,
								#:loading=>"javascript: document.getElementById('processing').style.display='block';",
								#:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
                        		#:url => { :controller=>'products',:action => 'findlisting'},
								#:with => "'code='+escape($('code').value) + '&salerent='+escape($('salerent').value) + '&propertytype='+escape($('propertytype').value) + '&fprice='+escape($('fprice').value) + '&tprice='+escape($('tprice').value) + '&bed='+escape($('bed').value) + '&bed2='+escape($('bed2').value) + '&bath='+escape($('bath').value)") %>
		   
		   <%#= observe_field(:bed,
                        		#:on => :changed,
								#:method => :get,
                        		#:update => :kendio,
								#:loading=>"javascript: document.getElementById('processing').style.display='block';",
								#:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
                        		#:url => { :controller=>'products',:action => 'findlisting'},
								#:with => "'code='+escape($('code').value) + '&salerent='+escape($('salerent').value) + '&propertytype='+escape($('propertytype').value) + '&fprice='+escape($('fprice').value) + '&tprice='+escape($('tprice').value) + '&bed='+escape($('bed').value) + '&bed2='+escape($('bed2').value) + '&bath='+escape($('bath').value)") %>
		   
		   <%#= observe_field(:bath,
                        		#:on => :changed,
								#:method => :get,
                        		#:update => :kendio,
								#:loading=>"javascript: document.getElementById('processing').style.display='block';",
								#:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
                        		#:url => { :controller=>'products',:action => 'findlisting'},
								#:with => "'code='+escape($('code').value) + '&salerent='+escape($('salerent').value) + '&propertytype='+escape($('propertytype').value) + '&fprice='+escape($('fprice').value) + '&tprice='+escape($('tprice').value) + '&bed='+escape($('bed').value) + '&bed2='+escape($('bed2').value) + '&bath='+escape($('bath').value)") %>
								
			<%#= observe_field(:bed2,
                        		#:on => :changed,
								#:method => :get,
                        		#:update => :kendio,
								#:loading=>"javascript: document.getElementById('processing').style.display='block';",
								#:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
                        		#:url => { :controller=>'products',:action => 'findlisting'},
								#:with => "'code='+escape($('code').value) + '&salerent='+escape($('salerent').value) + '&propertytype='+escape($('propertytype').value) + '&fprice='+escape($('fprice').value) + '&tprice='+escape($('tprice').value) + '&bed='+escape($('bed').value) + '&bed2='+escape($('bed2').value) + '&bath='+escape($('bath').value)") %>	
			<%#= observe_field(:propertytype,
                        		#:on => :changed,
								#:method => :get,
                        		#:update => :kendio,
								#:loading=>"javascript: document.getElementById('processing').style.display='block';",
								#:complete =>"javascript: document.getElementById('processing').style.display='none'; load2('code');",
                        		#:url => { :controller=>'products',:action => 'findlisting'},
								#:with => "'code='+escape($('code').value) + '&salerent='+escape($('salerent').value) + '&propertytype='+escape($('propertytype').value) + '&fprice='+escape($('fprice').value) + '&tprice='+escape($('tprice').value) + '&bed='+escape($('bed').value) + '&bed2='+escape($('bed2').value) + '&bath='+escape($('bath').value)") %>									
		  </form>
		  
		</div>
		</div>
		<!-- // SEARCH FORM -->
	
		<!-- SELL FORM -->
		<div id="sell" style="display:none;">
		<form method="post" action="/product/create">
		   <p>City: <input type="text" name="product[City]" id="product_City" onclick="load3('1');"/></p> 
		   <p>Price: <input type="text" name="product[Price]" id="product_Price" /></p>
		   <p>Bedrooms: <input type="text" name="product[Bed]" id="product_Bed" /></p>
		   <p>Bathrooms: <input type="text" name="product[Bath]" id="product_Bath" /></p>
		   <p>Details: <textarea name="product[Detail]" id="product_Detail" cols="30" rows="3"></textarea></p>
		   <p><input name="" type="submit" value="Submit" /></p>	  
		</form>
		</div>
		<!-- // SELL FORM -->
	
	
	
		<!-- ACCOUNT FORM -->
		
		
		<div id="account"  style="display:none;" >
		<%if session[:user_id] and session[:user_id]!="" and session[:user_id]!=nil%>
		
		
		<img src=/images/e.png width=458 height=1 />
		<h4>My Personal Details</h4>
		<p>You can update your business details in the <a href="#" onClick="myRef = window.open('/controlpanel/business','mywin','left=20,top=20,width=950,height=660,toolbar=0,resizable=0,location=0,status=0');myRef.focus()">Control Panel</a></p>
		<form name="accountformr" id="accountformr" action="/users/update">
			<input type="hidden" name="id" id="id" value="<%=session[:user_id]%>"/>
			<table>
				<tr>
					<td>First Name: </td>
					<td><%=text_field 'user','FirstName'%></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><%=text_field 'user','LastName'%></td>
				</tr>
				<tr>
					<td>Username:</td>
					<td><%=text_field 'user','UserName' %></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><%=text_field 'user','Email' %></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>
						
						    <%
								mynumber = "0"
								mynumber = @user.Phone
								if not mynumber == nil 
										if mynumber.length >= 10 
											mynumber = mynumber.slice(0,mynumber.length.to_i - 9)
										end
								else
									mynumber = "0"
								end			
							
							%>
						<select name="frmProd[prefix2]" id="frmProd_prefix2" onchange="return number('0','user_Phone','frmProd_prefix2');">
				<option value=" "  <%if mynumber.to_i == " "%>selected = "selected" <%end%>>Select Country</option>
				<option value="61" <%if mynumber.to_i == 61%>selected = "selected" <%end%> >Australia (61)</option>
				<option value="43" <%if mynumber.to_i == 43%>selected = "selected" <%end%> >Austria (43)</option>
				<option value="973" <%if mynumber.to_i == 973%>selected = "selected" <%end%> >Bahrain (973)</option>
				<option value="880" <%if mynumber.to_i == 880%>selected = "selected" <%end%> >Bangladesh (880)</option>
				<option value="32" <%if mynumber.to_i == 32%>selected = "selected" <%end%> >Belgium (32)</option>
				<option value="1441" <%if mynumber.to_i == 1441%>selected = "selected" <%end%> >Bermuda (1441)</option>
				<option value="55" <%if mynumber.to_i == 55%>selected = "selected" <%end%> >Brazil (55)</option>
				<option value="1284" <%if mynumber.to_i == 1284%>selected = "selected" <%end%> >British Virgin Islands (1284)</option>
				<option value="673" <%if mynumber.to_i == 673%>selected = "selected" <%end%> >Brunei (673)</option>
				<option value="359"  <%if mynumber.to_i == 359%>selected = "selected" <%end%> >Bulgaria (359)</option>
				<option value="855"  <%if mynumber.to_i == 855%>selected = "selected" <%end%> >Cambodia (855)</option>
				<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >Canada (1)</option>
				<option value="1345"  <%if mynumber.to_i == 1345%>selected = "selected" <%end%> >Cayman Islands (1345)</option>
				<option value="86"  <%if mynumber.to_i == 86%>selected = "selected" <%end%> >China (86)</option>
				<option value="357"  <%if mynumber.to_i == 357%>selected = "selected" <%end%> >Cyprus (357)</option>
				<option value="420"  <%if mynumber.to_i == 420%>selected = "selected" <%end%> >Czech Republic (420)</option>
				<option value="45"  <%if mynumber.to_i == 45%>selected = "selected" <%end%> >Denmark (45)</option>
				<option value="679"  <%if mynumber.to_i == 679%>selected = "selected" <%end%> >Fiji (679)</option>
				<option value="358"  <%if mynumber.to_i == 358%>selected = "selected" <%end%> >Finland (358)</option>
				<option value="33"  <%if mynumber.to_i == 33%>selected = "selected" <%end%> >France (33)</option>
				<option value="49"  <%if mynumber.to_i == 49%>selected = "selected" <%end%> >Germany (49)</option>
				<option value="30"  <%if mynumber.to_i == 30%>selected = "selected" <%end%> >Greece (30)</option>
				<option value="852"  <%if mynumber.to_i == 852%>selected = "selected" <%end%> >HongKong (852)</option>
				<option value="36"  <%if mynumber.to_i == 36%>selected = "selected" <%end%> >Hungary (36)</option>
				<option value="91"  <%if mynumber.to_i == 91%>selected = "selected" <%end%> >India (91)</option>
				<option value="62"  <%if mynumber.to_i == 62%>selected = "selected" <%end%> >Indonesia (62)</option>
				<option value="98"  <%if mynumber.to_i == 98%>selected = "selected" <%end%> >Iran (98)</option>
				<option value="964"  <%if mynumber.to_i == 964%>selected = "selected" <%end%> >Iraq (964)</option>
				<option value="353"  <%if mynumber.to_i == 353%>selected = "selected" <%end%> >Ireland (353)</option>
				<option value="44"  <%if mynumber.to_i == 44%>selected = "selected" <%end%> >Isle of Man (44)</option>
				<option value="972"  <%if mynumber.to_i == 972%>selected = "selected" <%end%> >Israel (972)</option>
				<option value="39"  <%if mynumber.to_i == 39%>selected = "selected" <%end%> >Italy (39)</option>
				<option value="81"  <%if mynumber.to_i == 81%>selected = "selected" <%end%> >Japan (81)</option>
				<option value="82"  <%if mynumber.to_i == 82%>selected = "selected" <%end%> >Korea (South) (82)</option>
				<option value="856"  <%if mynumber.to_i == 856%>selected = "selected" <%end%> >Lao (856)</option>
				<option value="370"  <%if mynumber.to_i == 370%>selected = "selected" <%end%> >Lithuania (370)</option>
				<option value="352"  <%if mynumber.to_i == 352%>selected = "selected" <%end%> >Luxembourg (352)</option>
				<option value="853"  <%if mynumber.to_i == 853%>selected = "selected" <%end%> >Macau (853)</option>
				<option value="60"  <%if mynumber.to_i == 60%>selected = "selected" <%end%> >Malaysia (60)</option>
				<option value="52"  <%if mynumber.to_i == 52%>selected = "selected" <%end%> >Mexico (52)</option>
				<option value="95"  <%if mynumber.to_i == 95%>selected = "selected" <%end%> >Myanmar (95)</option>
				<option value="31"  <%if mynumber.to_i == 31%>selected = "selected" <%end%> >Netherlands (31)</option>
				<option value="64"  <%if mynumber.to_i == 64%>selected = "selected" <%end%> >New Zealand (64)</option>
				<option value="47"  <%if mynumber.to_i == 47%>selected = "selected" <%end%> >Norway (47)</option>
				<option value="92"  <%if mynumber.to_i == 92%>selected = "selected" <%end%> >Pakistan (92)</option>
				<option value="63"  <%if mynumber.to_i == 63%>selected = "selected" <%end%> >Philippines (63)</option>
				<option value="48"  <%if mynumber.to_i == 48%>selected = "selected" <%end%> >Poland (48)</option>
				<option value="351"  <%if mynumber.to_i == 351%>selected = "selected" <%end%> >Portugal (351)</option>
				<option value="974"  <%if mynumber.to_i == 974%>selected = "selected" <%end%> >Qatar (974)</option>
				<option value="7"  <%if mynumber.to_i == 7%>selected = "selected" <%end%> >Russia (7)</option>
				<option value="966"  <%if mynumber.to_i == 966%>selected = "selected" <%end%> >Saudi Arabia (966)</option>
				<option value="381"  <%if mynumber.to_i == 381%>selected = "selected" <%end%> >Serbia (381)</option>
				<option value="65"  <%if mynumber.to_i == 65%>selected = "selected" <%end%> >Singapore (65)</option>
				<option value="34"  <%if mynumber.to_i == 34%>selected = "selected" <%end%> >Spain (34)</option>
				<option value="46"  <%if mynumber.to_i == 46%>selected = "selected" <%end%> >Sweden (46)</option>
				<option value="41"  <%if mynumber.to_i == 41%>selected = "selected" <%end%> >Switzerland (41)</option>
				<option value="886"  <%if mynumber.to_i == 886%>selected = "selected" <%end%> >Taiwan (886)</option>
				<option value="66"  <%if mynumber.to_i == 66%>selected = "selected" <%end%> >Thailand (66)</option>
				<option value="90"  <%if mynumber.to_i == 90%>selected = "selected" <%end%> >Turkey (90)</option>
				<option value="44"  <%if mynumber.to_i == 44%>selected = "selected" <%end%> >UK (44)</option>
				<option value="380"  <%if mynumber.to_i == 380%>selected = "selected" <%end%> >Ukraine (380)</option>
				<option value="971"  <%if mynumber.to_i == 971%>selected = "selected" <%end%> >United Arab Emirates (971)</option>
				<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >USA (1)</option>
				<option value="678"  <%if mynumber.to_i == 678%>selected = "selected" <%end%> >Vanuatu (678)</option>
				<option value="84"  <%if mynumber.to_i == 84%>selected = "selected" <%end%> >Vietnam (84)</option>
				<option value="+"  <%if mynumber.to_i == '+'%>selected = "selected" <%end%> >Other</option>
		</select>
		<br>
						
						<%=text_field 'user','Phone' %>
					</td>
				</tr>
<!--				<tr>
					<td>Address:</td>
					<td><%=text_field 'user','Address' %></td>
				</tr>
				<tr>
					<td>Suburb:</td>
					<td><%=text_field 'user','Suburb' %></td>
				</tr>
				<tr>
					<td>Province:</td>
					<td><%=text_field 'user','Province' %></td>
				</tr>
				<tr>-->
					<td>City:</td>
					<td>
						<style type="text/css">       
				 		div.auto_complete {
				          width: 350px;
				          background: #fff;
						  
				        }
				        div.auto_complete ul {
				          border:1px solid #888;
				          margin:0;
				          padding:0;
				          width:100%;
				          list-style-type:none;
				        }
				        div.auto_complete ul li {
				          margin:0;
				          padding:2px;
						  font-size:10px;
				        }
				        div.auto_complete ul li.selected {
				          background-color: #ffb;
				        }
				        div.auto_complete ul strong.highlight {
				          color: #800; 
				          margin:0;
				          padding:0;
				        }
				</style>
				<input id="user_Suburb" name="user[Suburb]" size="15" type="text" value="<%=@location%>" style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="user_Suburb_detail"></div><script type="text/javascript">
				//<![CDATA[
				var lession_comment1_auto_completer = new Ajax.Autocompleter('user_Suburb', 'user_Suburb_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('user_Suburb').value) }, method:'get', paramName:'code'})
				//]]>
				</script> 
						
						
						
					</td>
				</tr>
<!--				<tr>
					<td>UserType:</td>
					<td>
					<input name="user[UserType]" type="radio" value="p" id="user_UserType_1" <%if @user.UserType == 'p'%>checked="checked" <%end%>/><label for="user_UserType_1">Private</label>
					<input name="user[UserType]" type="radio" value="d" id="user_UserType_2" <%if @user.UserType == 'd'%>checked="checked" <%end%>/><label for="user_UserType_2">Agent</label>
					</td>
				</tr>-->
				<tr>
					<td></td>
					<td colspan="10"><br>

						<input type="submit" name="Submit" value="Submit" id="Submit" onclick="return editaccount();" />

					</td>
				</tr>
			</table>
		</form>
		
		<%end%>
		<br />
		<h3><strong>Change your password</strong></h4>
		
<!--		<form name="changepass" id="changepass" action="/users/changepassword" style="margin-top:10px;">-->
		<%= form_remote_tag(:update => "changepass_details",
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none';",
								:url => { :controller=>'users',:action => 'changepassword'}) %>
			<input type="hidden" name="id" id="id" value="<%=session[:user_id]%>"/>
			<table>
				<tr>
					<td>Old password:</td>
					<td><input type="password" id="user5_oldpass" name="user5[oldpass]" size="30" value="" ></td>
				</tr>
				<tr>	
					<td>New password:</td>
					<td><%=password_field 'user4','Password'%></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td colspan="10"><%=password_field 'user5','confirmpass'%></td>
				</tr>
				<tr>
					<td></td>
					<td colspan="10"><br>
						<span id="changepass_details" style="color:green;"></span><br>
						<input type="submit" name="Submit" value="Submit" id="Submit" onclick="return changepasswordfrom();" />
					</td>
				</tr>
			</table>
		</form>

	
	</div> 
	
	<!-- // ACCOUNT FORM -->
	
	
	<!-- Show company -->
	<div id="showbusiness" style="display:none;">
		<h1>Business Details</h1>
		<img src="/icon/icon_book.gif" alt="Business Details" 	onclick="javascript:document.getElementById('businessdetail').style.display='block'; document.getElementById('imailform').style.display='none';">
		<img src="/icon/icon_email.gif" alt="message form" 		onclick="javascript:document.getElementById('businessdetail').style.display='none'; document.getElementById('imailform').style.display='block';">
		<span id="linktoourlisting"></span><br>
		
		<div id="businessdetail" style="display:inline"></div>
		<div id="imailform" style="display:none;"> </div>	
						
						
		
	</div>
	<!-- End Show company -->
	
	
	
	<!-- CREDITS -->
	<div id="credits" style="display:none;">

		
		<img src=/images/e.png width=458 height=1 />
		<h4>My Credits</h4>
		
		<% ccredits = Credit.find(:all,:conditions=>"id_user = '#{session[:user_id]}' and Status = '1'",:order=>"created_on desc",:limit=>"3")%>
		<%
		x = 0
		y = 0 #
		count = 1
		for ccredit in ccredits
			x = x + ccredit.RemainCredit.to_i
			if count == 3
				break
			end
			count = count + 1
		end
		%>
		<%
					strprice = x
					if strprice.to_f >= 1000
				        strprice = sprintf("%.2f",strprice)
				        strprice = strprice.to_s.reverse
				        strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
				        strprice = strprice.gsub(/,$/,"").reverse
				      else
				        strprice = sprintf("%.2f",strprice)
				      end
									
		%>

	<p style="margin-top:10px">You currently have <strong><%=strprice%></strong> in credit.</p>
		<p><a href="#" onClick="myRef = window.open('/controlpanel/credits','mywin','left=20,top=20,width=950,height=660,toolbar=0,resizable=0,location=0,status=0');myRef.focus()">Click here</a> to buy more credit.</p>
		
		</p>
	</div>
	<!-- // CREDITS -->	



	<!-- SMS SETTINGS -->
	<div id="smssettings" style="display:none;">

		
		<img src=/images/e.png width=458 height=1 />
		<h4>SMS Settings</h4>
		
		<p>SMS Notifications are currently enabled, visit the <a href="#" onClick="myRef = window.open('/controlpanel/emailsms','mywin','left=20,top=20,width=950,height=660,toolbar=0,resizable=0,location=0,status=0');myRef.focus()">Control Panel</a> to edit your settings</p>
		
	</div>
	<!-- // SMS SETTINGS -->	





	<!-- MY LISTINGS -->
	<div id="mylistings" style="display:none;">
		
		<img src=/images/e.png width=458 height=1 />
		<h4 style="margin-bottom:10px;">My Listings</h4>

	<div id="mylistings2" ></div><!--for show listings-->
	
	

	</div>
	<!-- MY LISTINGS -->

	<!-- MY FAVORITES -->
	<div id="favorites" style="display:none;">
					
					<img src=/images/e.png width=458 height=1 />
					<h4 style="margin-bottom:10px;">My Favorites</h4>
			
			
				<div id="quickfavorites">
					
				</div>
				
				
	

	</div>
	<!-- MY FAVORITES -->


	
	
	
	<!-- PRE-REGISTER FORM -->
	<div id="preregister" style="display:none;">
		<h1>Adding a listing is EASY!</h1>
		<p style=margin-top:10px;>But you need to <a href="#" onclick="changeform('login');">Login</a> or <a href="#" onclick="changeform('register');">Register</a> first.</p>
		<p>If you don't have an account yet &mdash; no problem! It's free and only takes a minute to register.</p>
	</div>
	<!-- // PRE-REGISTER FORM -->
	
	
	
	<!-- REGISTER FORM -->
	<div id="register" style="display:none;">
		<h1>Register for FREE</h1>
		<form name="newuser" id="newuser" action="/users/create" style=margin-top:10px;>
			<table>
				<tr>
					<td>First Name:</td>
					<td><%=text_field 'user2','FirstName'%></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><%=text_field 'user2','LastName'%></td>
				</tr>
				<tr>
					<td>Username:</td>
					<td><%=text_field 'user2','UserName'%></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><%=password_field 'user2','Password',:value=>""%></td>
				</tr>
				<tr>
					<td>Confirm Password:</td>
					<td><%=password_field 'user3','Password3',:value=>""%></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td>
						    <%
								mynumber = "0"
								#mynumber = @user.Phone
								if not mynumber == nil 
										if mynumber.length >= 10 
											mynumber = mynumber.slice(0,mynumber.length.to_i - 9)
										end
								else
									mynumber = "0"
								end			
							
							%>
						<select name="frmProd[prefix]" id="frmProd_prefix" onchange="return number('0','user2_Phone','frmProd_prefix');">
				<option value=" "  <%if mynumber.to_i == " "%>selected = "selected" <%end%>>Select Country</option>
				<option value="61" <%if mynumber.to_i == 61%>selected = "selected" <%end%> >Australia (61)</option>
				<option value="43" <%if mynumber.to_i == 43%>selected = "selected" <%end%> >Austria (43)</option>
				<option value="973" <%if mynumber.to_i == 973%>selected = "selected" <%end%> >Bahrain (973)</option>
				<option value="880" <%if mynumber.to_i == 880%>selected = "selected" <%end%> >Bangladesh (880)</option>
				<option value="32" <%if mynumber.to_i == 32%>selected = "selected" <%end%> >Belgium (32)</option>
				<option value="1441" <%if mynumber.to_i == 1441%>selected = "selected" <%end%> >Bermuda (1441)</option>
				<option value="55" <%if mynumber.to_i == 55%>selected = "selected" <%end%> >Brazil (55)</option>
				<option value="1284" <%if mynumber.to_i == 1284%>selected = "selected" <%end%> >British Virgin Islands (1284)</option>
				<option value="673" <%if mynumber.to_i == 673%>selected = "selected" <%end%> >Brunei (673)</option>
				<option value="359"  <%if mynumber.to_i == 359%>selected = "selected" <%end%> >Bulgaria (359)</option>
				<option value="855"  <%if mynumber.to_i == 855%>selected = "selected" <%end%> >Cambodia (855)</option>
				<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >Canada (1)</option>
				<option value="1345"  <%if mynumber.to_i == 1345%>selected = "selected" <%end%> >Cayman Islands (1345)</option>
				<option value="86"  <%if mynumber.to_i == 86%>selected = "selected" <%end%> >China (86)</option>
				<option value="357"  <%if mynumber.to_i == 357%>selected = "selected" <%end%> >Cyprus (357)</option>
				<option value="420"  <%if mynumber.to_i == 420%>selected = "selected" <%end%> >Czech Republic (420)</option>
				<option value="45"  <%if mynumber.to_i == 45%>selected = "selected" <%end%> >Denmark (45)</option>
				<option value="679"  <%if mynumber.to_i == 679%>selected = "selected" <%end%> >Fiji (679)</option>
				<option value="358"  <%if mynumber.to_i == 358%>selected = "selected" <%end%> >Finland (358)</option>
				<option value="33"  <%if mynumber.to_i == 33%>selected = "selected" <%end%> >France (33)</option>
				<option value="49"  <%if mynumber.to_i == 49%>selected = "selected" <%end%> >Germany (49)</option>
				<option value="30"  <%if mynumber.to_i == 30%>selected = "selected" <%end%> >Greece (30)</option>
				<option value="852"  <%if mynumber.to_i == 852%>selected = "selected" <%end%> >HongKong (852)</option>
				<option value="36"  <%if mynumber.to_i == 36%>selected = "selected" <%end%> >Hungary (36)</option>
				<option value="91"  <%if mynumber.to_i == 91%>selected = "selected" <%end%> >India (91)</option>
				<option value="62"  <%if mynumber.to_i == 62%>selected = "selected" <%end%> >Indonesia (62)</option>
				<option value="98"  <%if mynumber.to_i == 98%>selected = "selected" <%end%> >Iran (98)</option>
				<option value="964"  <%if mynumber.to_i == 964%>selected = "selected" <%end%> >Iraq (964)</option>
				<option value="353"  <%if mynumber.to_i == 353%>selected = "selected" <%end%> >Ireland (353)</option>
				<option value="44"  <%if mynumber.to_i == 44%>selected = "selected" <%end%> >Isle of Man (44)</option>
				<option value="972"  <%if mynumber.to_i == 972%>selected = "selected" <%end%> >Israel (972)</option>
				<option value="39"  <%if mynumber.to_i == 39%>selected = "selected" <%end%> >Italy (39)</option>
				<option value="81"  <%if mynumber.to_i == 81%>selected = "selected" <%end%> >Japan (81)</option>
				<option value="82"  <%if mynumber.to_i == 82%>selected = "selected" <%end%> >Korea (South) (82)</option>
				<option value="856"  <%if mynumber.to_i == 856%>selected = "selected" <%end%> >Lao (856)</option>
				<option value="370"  <%if mynumber.to_i == 370%>selected = "selected" <%end%> >Lithuania (370)</option>
				<option value="352"  <%if mynumber.to_i == 352%>selected = "selected" <%end%> >Luxembourg (352)</option>
				<option value="853"  <%if mynumber.to_i == 853%>selected = "selected" <%end%> >Macau (853)</option>
				<option value="60"  <%if mynumber.to_i == 60%>selected = "selected" <%end%> >Malaysia (60)</option>
				<option value="52"  <%if mynumber.to_i == 52%>selected = "selected" <%end%> >Mexico (52)</option>
				<option value="95"  <%if mynumber.to_i == 95%>selected = "selected" <%end%> >Myanmar (95)</option>
				<option value="31"  <%if mynumber.to_i == 31%>selected = "selected" <%end%> >Netherlands (31)</option>
				<option value="64"  <%if mynumber.to_i == 64%>selected = "selected" <%end%> >New Zealand (64)</option>
				<option value="47"  <%if mynumber.to_i == 47%>selected = "selected" <%end%> >Norway (47)</option>
				<option value="92"  <%if mynumber.to_i == 92%>selected = "selected" <%end%> >Pakistan (92)</option>
				<option value="63"  <%if mynumber.to_i == 63%>selected = "selected" <%end%> >Philippines (63)</option>
				<option value="48"  <%if mynumber.to_i == 48%>selected = "selected" <%end%> >Poland (48)</option>
				<option value="351"  <%if mynumber.to_i == 351%>selected = "selected" <%end%> >Portugal (351)</option>
				<option value="974"  <%if mynumber.to_i == 974%>selected = "selected" <%end%> >Qatar (974)</option>
				<option value="7"  <%if mynumber.to_i == 7%>selected = "selected" <%end%> >Russia (7)</option>
				<option value="966"  <%if mynumber.to_i == 966%>selected = "selected" <%end%> >Saudi Arabia (966)</option>
				<option value="381"  <%if mynumber.to_i == 381%>selected = "selected" <%end%> >Serbia (381)</option>
				<option value="65"  <%if mynumber.to_i == 65%>selected = "selected" <%end%> >Singapore (65)</option>
				<option value="34"  <%if mynumber.to_i == 34%>selected = "selected" <%end%> >Spain (34)</option>
				<option value="46"  <%if mynumber.to_i == 46%>selected = "selected" <%end%> >Sweden (46)</option>
				<option value="41"  <%if mynumber.to_i == 41%>selected = "selected" <%end%> >Switzerland (41)</option>
				<option value="886"  <%if mynumber.to_i == 886%>selected = "selected" <%end%> >Taiwan (886)</option>
				<option value="66"  <%if mynumber.to_i == 66%>selected = "selected" <%end%> >Thailand (66)</option>
				<option value="90"  <%if mynumber.to_i == 90%>selected = "selected" <%end%> >Turkey (90)</option>
				<option value="44"  <%if mynumber.to_i == 44%>selected = "selected" <%end%> >UK (44)</option>
				<option value="380"  <%if mynumber.to_i == 380%>selected = "selected" <%end%> >Ukraine (380)</option>
				<option value="971"  <%if mynumber.to_i == 971%>selected = "selected" <%end%> >United Arab Emirates (971)</option>
				<option value="1"  <%if mynumber.to_i == 1%>selected = "selected" <%end%> >USA (1)</option>
				<option value="678"  <%if mynumber.to_i == 678%>selected = "selected" <%end%> >Vanuatu (678)</option>
				<option value="84"  <%if mynumber.to_i == 84%>selected = "selected" <%end%> >Vietnam (84)</option>
				<option value="+"  <%if mynumber.to_i == '+'%>selected = "selected" <%end%> >Other</option>
		</select>
		<br>
						
						
						<%=text_field 'user2','Phone'%>
					</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td valign="top">
						<%=text_field 'user2','Email'%>
						<span id="validateemail">
							<input type="hidden" name="checkemail" id="checkemail" value="0"/>
						</span>
						 <%= observe_field(:user2_Email,
                        		:on => :changed,
								:method => :get,
                        		:update => :validateemail,
								:loading=>"javascript: document.getElementById('processing').style.display='block';",
								:complete =>"javascript: document.getElementById('processing').style.display='none'; ",
                        		:url => { :controller=>'products',:action => 'validateemail'},
								:with => "'code='+escape($('user2_Email').value) ") %>
		   
					</td>
				</tr>
				
				<!--<tr>
					<td>Address:</td>
					<td colspan="10"><%=text_field 'user2','Address',:size=>"60" %></td>
				</tr>
				-->
				<tr>
					<td valign="top">City:</td>
					<td>
						<%#text_field 'user2','Suburb'%>
						
						
						<style type="text/css">       
				 		div.auto_complete {
				          width: 350px;
				          background: #fff;
						  
				        }
				        div.auto_complete ul {
				          border:1px solid #888;
				          margin:0;
				          padding:0;
				          width:100%;
				          list-style-type:none;
				        }
				        div.auto_complete ul li {
				          margin:0;
				          padding:2px;
						  font-size:10px;
				        }
				        div.auto_complete ul li.selected {
				          background-color: #ffb;
				        }
				        div.auto_complete ul strong.highlight {
				          color: #800; 
				          margin:0;
				          padding:0;
				        }
				</style>
				<!--onblur="mapregister('user2_Suburb');" -->
				<input id="user2_Suburb" name="user2[Suburb]" size="15" type="text" value="<%=@location%>" style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="user2_Suburb_detail"></div><script type="text/javascript">
				//<![CDATA[
				var lession_comment1_auto_completer = new Ajax.Autocompleter('user2_Suburb', 'user2_Suburb_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape($('user2_Suburb').value) }, method:'get', paramName:'code'})
				//]]>
				</script> 
				<!--
					<span id="msgreguser"></span>
					<input type="hidden" name="user2[lat]" id="user2_lat"/>
					<input type="hidden" name="user2[lng]" id="user2_lng"/>
					<br>
					lat:<input type="text" name="tempuserlat" id="tempuserlat" disabled="disabled"/><br>
					lng:<input type="text" name="tempuserlng" id="tempuserlng" disabled="disabled"/>
					-->
					</td>
					<!--<td>Province:</td>
					<td><%=text_field 'user2','Province'%></td>
				</tr>
				<tr>
					<td>Postcode:</td>
					<td colspan="10"><%=text_field 'user2','PostCode'%></td>
				--></tr>
				
				<tr>
					<td valign=top>I am a:</td>
					<td colspan="10">
						<input name="user2[UserType]" type="radio" value="p" id="user2_UserType_1" checked="checked" style="margin-right:5px"/><label for="user2_UserType_1">Buyer / Seller / Renter (Anyone)</label>
						<br /><input name="user2[UserType]" type="radio" value="g" id="user2_UserType_2" style="margin-right:5px" /><label for="user2_UserType_2">Real Estate Agent</label>
						<br /><input name="user2[UserType]" type="radio" value="d" id="user2_UserType_3" style="margin-right:5px" /><label for="user2_UserType_2">Property Developer</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="10"><br />
					
					
					

			
			
		   <div class="buttons">
			<button type="submit" onclick="return newuserform();" class="positive" />
				<img src="/images/icons/tick.png" alt="" />
				Register Free!
			</button>
			</div>
			<div style="clear:both;"></div>

					</td>
				</tr>
			</table>
		</form>
	</div>
	<!-- // REGISTER FORM -->



   </div><!--//end div quickeventmodal-->




<div id="add_nav" style="display:none; position:absolute;bottom:50px;left:10px;z-index: 60; background-color: #FFFFFF;padding: 10px;border: 5px solid #ddd;">
	<h1>4 Easy Steps to add a listing</h1>
	<ol style="margin-left:25px;">
		<li>Just click on the map!</li>
		<li>Enter your details</li>
		<li>Confirm listing & payment</li>
		<li>Submit!</li>
	</ol>
	<p><br /><a href="http://wiki.rethai.com/index.php?title=Adding_a_Listing" target="_blank">Learn More</a></p>
</div>







<div style="position:absolute;bottom:20px;right:10px;z-index: 60;">
	<div style="float:left;">
		<img src="/images/ads/advert-advertise.jpg" />
	</div>	
<!--	<div style="float:left;margin-left:10px">
		<img src="/images/ads/2.gif" />
	</div>
	<div style="float:left;margin-left:10px">
		<img src="/images/ads/3.gif" />
	</div>
	<div style="float:left;margin-left:10px">
		<img src="/images/ads/5.gif" />
	</div>-->
</div>



<!--

<div style="float:right;position:absolute;bottom:90px;right:5px;z-index: 60;">
	<div style="float:right;" class="homeads">
		<img src="/images/ads/12.gif" />
		<br />
		<img src="/images/ads/11.gif" />
		<br />
		<img src="/images/ads/13.gif" />
		<br />
		<img src="/images/ads/14.jpg" />
		<br />
		<img src="/images/ads/15.gif" />
		<br />
		<img src="/images/ads/17.gif" />
		<br />
		<img src="/images/ads/18.gif" />
	</div>
</div>
-->



