
 
<div id="detail" style="display:block;width:370px;height:250;">
	<iframe src="/products/gdetail/<%=@product.id%>" width="370" height="200" border="0" frameborder="0" ></iframe> 
</div>





