
<html>
	<head>
	<script type="text/javascript">
		function showpic(img){
			// get content
			document.getElementById('fullimage').innerHTML='<img src="' + img + '"  height="300" />';//width="450"
					
		}
		
	</script>		
	</head>
	
	
	
	<%
	if @images.length > 0
					for image in @images
					
						strtype = image.photo_file_name
                        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)					
					
						if @firstpic != '0' 
							if image.id.to_i == @firstpic.to_i
								 mysrc="http://files.rethai.com/listingdata/photos/#{image.id}/original.#{strtype}"
								break
							end
						else
							mysrc="http://files.rethai.com/listingdata/photos/#{image.id}/original.#{strtype}"
							break
						end
					end
				else
					mysrc="/googleimage/default.png"
				end
		%>
				
				
				
				
		<body onload="showmypic('<%=mysrc%>');">
		<div  align="center">
<table border="0"  cellspacing="5" bgcolor="#FFFFFF" ><!--width="550"-->
	<tr>
		
		<!--=============   put First image  ===================================-->
		<td valign="top" ><!--width="400"-->
			
			<div id="fullimage">
				<a href="<%=mysrc%>" target="_blank"><img src="<%=mysrc%>" height="200" height="200" /></a>
			</div>
		</td>
		
		
		
		
		
		<!--==============   image icon    ===================================-->
		<td valign="top" align="left" width="100">
				<%if @images.length > 0%>
					<%for image in @images%>
					<%
						strtype = image.photo_file_name
                        strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)					
					%>
						<a href="#" onclick="showmypic('http://files.rethai.com/listingdata/photos/<%=image.id%>/original.<%=strtype%>');"><img src="http://files.rethai.com/listingdata/photos/<%=image.id%>/thumb.<%=strtype%>" width="40" height="40" /></a>
					<%end%>
				<%else%>
					<img src="/googleimage/default.png" width="40" height="40"/>
				<%end%>
		</td>
	</tr>
	
</table>
		</div>
	</body>
</html>	