<%= javascript_include_tag :defaults %> 





<%= form_remote_tag(:update => "show",
					:loading =>"show_1_element('indicator_form')",								
					:complete =>"javascript: document.getElementById('mail_Message').value = '';document.getElementById('indicator_form').style.display='none';",
					:url => { :controller=>'controlpanel',:action => :updatebusiness }
					) %>



<p style="font-weight:bold;font-size:14px;">Business Location</p>

<span id="show" style="color:green;"></span>
<%= hidden_field_tag :id  ,@companies.id%>
<table width="355" border=0>
	<tr>
		<td width="100">Office Name:</td>
		<td><input name="comp[Name]" id="comp_Name" size="30" type="text" value="<%=@companies.Name%>"></td>
	</tr>
	<tr>
		<td width="100">Office Phone:</td>
		<td><input name="comp[phone]" id="comp_phone" size="30" type="text" value="<%=@companies.phone%>"></td>
	</tr>
	<tr>
		<td width="100">Office Email:</td>
		<td><input name="comp[Email]" id="comp_Email" size="30" type="text" value="<%=@companies.Email%>"></td>
	</tr>
</table><br />
<div class="buttons"> 
	<button name="commit" type="submit" class="positive" />
		<img src="/images/icons/tick.png" alt=""/>
		Update Business
	</button>
	<img src="/images/loading.gif" id ='indicator_form' style ='display:none'/>
</div> 
<div style="clear:both;"></div>
</form>