<%
											strprice = @product.Price
                                              if strprice.to_f >= 1000
                                                #strprice = sprintf("%.2f",strprice)
                                                strprice = strprice.to_s.reverse
                                                strprice = strprice.gsub!(/([0-9]{3})/,"\\1,")
                                                strprice = strprice.gsub(/,$/,"").reverse
                                              #else
                                               # strprice = sprintf("%.2f",strprice)
                                             end

                      
                                            
                
                                             
                                             
                    #default picture
                default = "/googleimage/default.png"
                default2 = "/googleimage/default.png"
                     images = Images.find(:all,:conditions=>"id_product = '#{@product.id}'")           
                      if images.length > 0
                        for img in images
                            strtype = img.photo_file_name
                            strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
                          default  = "http://files.rethai.com/listingdata/photos/#{img.id}/original.#{strtype}"#img.photo.url
                          default2  = "http://files.rethai.com/listingdata/photos/#{img.id}/thumb.#{strtype}"#img.photo.url
                          break
                        end
                         
                       end  

                  # generate xmlfile
                  
                  
                  #check hash
                          if @product.id_user !="" and @product.id_user !=nil and @product.id_user !="0"
                            companies = Companies.find(:all,:conditions=>"id_user = '#{@product.id_user}' and Head = '0'")
                            if companies.length > 0
                              for comp in companies
                                if comp.logo !="" and comp.logo !=nil and comp.logo !='0'
                                  logo = Images.find(comp.logo)
                                  strtype = logo.photo_file_name
                                  strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
%>
                                  <div style="position: absolute;margin-left: 240px;" ><a href="#"  onclick="changeform2('showbusiness','<%=comp.id%>','<%=@product.id%>');"><img src="/listingdata/photos/<%=logo.id%>/thumb.<%=strtype%>" width="150" height="30"/></a></div>
<%                                 end
                                 break
                              end
                            end
                          end
                  

                  
                  #generate parking
                    if @product.Parking !="" and @product.Parking !=nil and @product.Parking !='0'
                      parking = Option.find(@product.Parking)
                      showparking = parking.Name
                    else
                      showparking="--"
                    end
                  
  %>                
                  
                 <div id="mappopup">   
				 	<h1>$<%=strprice%> <small>Baht</small> </h1>   
					<h3> <strong><%=@product.Bed%></strong> Bedrooms, <strong><%=@product.Bath%></strong> Bathrooms, <%=showparking%></h3> 
					<div id="image0"> </div>
                
          

                      <div id="viewlistingdetailincons">
                      <img src="/images/icons/page_white_text.png"   alt="Product Details"   onclick="javascript:document.getElementById('detail').style.display='inline';document.getElementById('mailform').style.display='none';document.getElementById('detail2').style.display='none';"/> 
                      <img src="/images/icons/email_go.png"   alt="Contact"     		onclick="javascript:document.getElementById('detail').style.display='none';document.getElementById('mailform').style.display='inline';document.getElementById('detail2').style.display='none';"/>
                      <img src="/images/icons/star.png"   alt="Add to Favourites"     	onclick="javascript:document.getElementById('detail').style.display='none';document.getElementById('mailform').style.display='none';document.getElementById('detail2').style.display='inline';"/>
					  <br>
                  </div>

                  <div style="margin-bottom:2px" >
<%
                      if @images.length > 0  
                         i = 1
                        for img in @images
                            strtype = img.photo_file_name
                            strtype = strtype.slice(strtype.index(".").to_i+1,strtype.length)
%>
                          <a href="http://files.rethai.com/listingdata/photos/<%=img.id%>/original.<%=strtype%>" rel="lightbox[listing]"><img src="http://files.rethai.com/listingdata/photos/<%=img.id%>/thumb.<%=strtype%>"  width="40" height="40" />
<%                           if i == 5
%>
                             <br>
<%                             i = 1
                           else
                             i = i + 1
                           end
                           
                        end
                        
                      end
%>
                   </div>
                     
                    
 
                     <br>  
					 <div id="detail" style="display:inline;" >   <iframe src="/products/gdetail/<%=@product.id%>" 		width=400 height=250 border=0 frameborder=0></iframe>   </div>

                     <div id="mailform" style="display:none;" >   <iframe src="/products/gemail2user/<%=@product.id%>" 	width=400 height=250 border=0 frameborder=0></iframe>   </div>

                     <div id="detail2" style="display:none;" >    <iframe src="/products/gfavorite/<%=@product.id%>" 	width=400 height=250 border=0 frameborder=0></iframe>   </div>
