
<div class="bkkcondoslistingheader">
<div style="float:right;width:220px;">
	<div id="bkkcondosheader-minilinks-map" class="links"><a href="http://www.bkkcondos.com/">Home</a><a href="http://www.bkkcondos.com/contact-us/">Contact Us</a></div>

	<div id="bkkcondosheader-navigation-map">

		<div><a href="http://www.bkkcondos.com/list-your-property.html">List Your Property</a></div>
		<!--<div><a href="#">Stats & Trends</a></div>-->
	</div>
</div>


	<!-- show partner logo -->
	<div style="float:left;width:220px;">
			<a href="/"><img src="/images/partneritems/bkkcondoslogo.jpg" />
			</a>
	</div>
	<!--  end show partner logo -->

	
	
		
	<!--======================================= Show company ======================================================-->
	<div id="showbusiness" style="position:absolute; display:none;z-index:100;  background-color: #FFFFFF;padding: 5px;border: 5px solid #ddd;" >
		<div style="float:right;" onclick="javascript:document.getElementById('showbusiness').style.display='none';"><a href="#">x Close</a></div>
		<h1>Business Details</h1>
	<div id="actionbar">
		<a href="#" onclick="javascript:document.getElementById('businessdetail').style.display='block'; document.getElementById('imailform').style.display='none';"><img src="/icon/icon_book.gif" alt="Business Details" style="margin-right:5px" />Details</a>
		<a href="#" onclick="javascript:document.getElementById('businessdetail').style.display='none'; document.getElementById('imailform').style.display='block';"><img src="/icon/icon_email.gif" alt="Contact Us" style="margin-left:10px;margin-right:5px" />Contact</a>
		<span id="linktoourlisting"></span>
	</div>
		
		
		<div id="businessdetail" style="display:inline"></div>
		<div id="imailform" style="display:none;"> </div>	


	</div>
	<!--======================================= End Show company ====================================================-->
	
	
	
	
<table style="height:47px;margin-top:1px;width:450px;">
<tr>
  <td>
		<table>
			<tr>
				<td>

				   <select name="salerent" id="salerent" onchange="setfirstmarkers();" style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;padding:2px;">
				   	   <option value="2" <%if session[:salerent].to_s=='2'%> selected ="selected" <%end%>>Buy / Rent&nbsp;&nbsp;</option>
					   <option value="1" <%if session[:salerent].to_s=='1'%> selected ="selected" <%end%>>Buy&nbsp;&nbsp;</option>
					   <option value="0" <%if session[:salerent].to_s=='0'%> selected ="selected" <%end%>>Rent&nbsp;&nbsp;</option>
				   </select>
				</td>

				<td>
					<input id="code" name="code" size="15" type="text" value="<%=@location%>" onchange="setfirstmarkers();"  style="font-family:Arial, Helvetica;margin-left:5px; width:120px;padding:2px;" /><div class="auto_complete" id="code_detail"></div><script type="text/javascript">
					//<![CDATA[
					var lession_comment1_auto_completer = new Ajax.Autocompleter('code', 'code_detail', '/products/getprovinces/', {callback:function(element, value) { return 'code='+escape(document.getElementById('code').value) }, method:'get', paramName:'code'})
					//]]>
					</script> 
				</td>
				<td>
					<select name="propertytype" id="propertytype" style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;padding:2px;">
							<%listingtypes = Option.find(:all,:conditions=>"option_type = 'Listing'",:order=>"id asc")%>
							<option value="0">Listing Type</option>
							<%for lt in listingtypes%>
							<option value="<%=lt.Value%>" <%if session[:propertytype].to_s == lt.Value.to_s %> selected="selected" <%end%>><%=lt.Name%></option>
							<%end%>
					</select>
				</td>
				
			</tr>
		</table>
		
		<table>
			<tr>
				<td><input type="text" name="tfprice" id="tfprice" value="<%=session[:fprice]%>" onblur="this.value=formatCurrency(this.value,'fprice');" style="font-family:Arial, Helvetica;margin-left:5px;margin-right:5px;width:75px;padding:2px;" /></td>
				<td><input type="text" name="ttprice" id="ttprice" value="<%=session[:tprice]%>" onblur="this.value=formatCurrency(this.value,'tprice');" style="font-family:Arial, Helvetica;margin-left:5px; width:75px;padding:2px;" />
				  <input type="hidden" name="fprice" id="fprice" value="<%=session[:fprice]%>"/>
				   <input type="hidden" name="tprice" id="tprice" value="<%=session[:tprice]%>" />
				   
			  </td>
			  
			  
				<td>

		   		<select name="bed" id="bed" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
			   		<option value=""<%if session[:bed].to_s == "" %> selected="selected" <%end%>>Bedrooms Min:</option>
					<option value="0"<%if session[:bed].to_s == "0" %> selected="selected" <%end%>>Studio</option>
					<option value="1"<%if session[:bed].to_s == "1" %> selected="selected" <%end%>>1</option>
					<option value="2"<%if session[:bed].to_s == "2" %> selected="selected" <%end%>>2</option>
					<option value="3"<%if session[:bed].to_s == "3" %> selected="selected" <%end%>>3</option>
					<option value="4"<%if session[:bed].to_s == "4" %> selected="selected" <%end%>>4</option>
					<option value="5"<%if session[:bed].to_s == "5" %> selected="selected" <%end%>>5</option>
					<option value="6"<%if session[:bed].to_s == "6" %> selected="selected" <%end%>>6+</option>
				</select>
			  </td>
				<td>
					<select name="bed2" id="bed2" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
				   		<option value="" <%if session[:bed2].to_s == "" %> selected="selected" <%end%>>Max:</option>
						<option value="0" <%if session[:bed2].to_s == "0" %> selected="selected" <%end%>>Studio</option>
						<option value="1" <%if session[:bed2].to_s == "1" %> selected="selected" <%end%>>1</option>
						<option value="2" <%if session[:bed2].to_s == "2" %> selected="selected" <%end%>>2</option>
						<option value="3" <%if session[:bed2].to_s == "3" %> selected="selected" <%end%>>3</option>
						<option value="4" <%if session[:bed2].to_s == "4" %> selected="selected" <%end%>>4</option>
						<option value="5" <%if session[:bed2].to_s == "5" %> selected="selected" <%end%>>5</option>
						<option value="6" <%if session[:bed2].to_s == "6" %> selected="selected" <%end%>>6+</option>
					</select>
										
				</td>
				
				<td>

			   		<select name="bath" id="bath" style="font-family:Arial, Helvetica;margin-left:5px;padding:2px;">
				   		<option value="" <%if session[:bath].to_s == "" %> selected="selected" <%end%>>Bathrooms:</option>
						<option value="1" <%if session[:bath].to_s == "1" %> selected="selected" <%end%>>1</option>
						<option value="2" <%if session[:bath].to_s == "2" %> selected="selected" <%end%>>2</option>
						<option value="3" <%if session[:bath].to_s == "3" %> selected="selected" <%end%>>3</option>
						<option value="4" <%if session[:bath].to_s == "4" %> selected="selected" <%end%>>4</option>
						<option value="5" <%if session[:bath].to_s == "5" %> selected="selected" <%end%>>5+</option>
					</select>
					   	
				</td>

		<td valign="top" style="padding-left:10px;">
			<button type="submit" href="#" id="submitsearch" onclick="setfirstmarkers();" style="height:20px;width:100px;background-color:#3a3a3a;color:#fff;font-size:11px;border:none;" />		
				Update Search
			</button>
			
		</td>
		
		<td valign="top" style="padding-left:10px;">
			<button type="submit" href="#" id="submitsearch" onclick="document.getElementById('salerent').value='2'; document.getElementById('code').value='Bangkok'; document.getElementById('propertytype').value='0'; document.getElementById('tfprice').value=''; document.getElementById('ttprice').value=''; document.getElementById('fprice').value='0'; document.getElementById('tprice').value='0'; document.getElementById('bed').value='';  document.getElementById('bed2').value='';  document.getElementById('bath').value=''; setfirstmarkers();" style="height:20px;width:100px;background-color:#fff;color:#2f4100;font-size:11px;border:none;" />		
				Clear Search
			</button>
				<input type="hidden" name="lastzoomlevel" id="lastzoomlevel" value="1"/>
		</td>
		  </tr>
	  </table>

</td>

</tr></table>


<%if Rails.env == "production" %>
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
	</script>
	<script type="text/javascript">
	_uacct = "UA-1713942-3";
	urchinTracker();
	</script>
<%else%>
<%end%>


