
<!-- PUT THIS TAG IN THE head SECTION -->
<script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js">
</script>
<script type="text/javascript">
  GS_googleAddAdSenseService("ca-pub-5807716508506393");
  GS_googleEnableAllServices();
</script>
<script type="text/javascript">
  GA_googleAddSlot("ca-pub-5807716508506393", "REThaiViewLeaderboard");
</script>
<script type="text/javascript">
  GA_googleFetchAds();
</script>
<!-- END OF TAG FOR head SECTION -->

		<%= javascript_include_tag :defaults %> 
		<script src="/javascripts/kendio.js" type="text/javascript"></script>
		<script src="/javascripts/listings.js" type="text/javascript"></script>
		<script src="/javascripts/googleapikey-pattayaone.js" type="text/javascript"></script>

	<script type="text/javascript">
		function showpic(img){
			// get content
			document.getElementById('fullimage').innerHTML='<img src="' + img + '"  width="350" />';//width="450"
					
		}
	</script>



	</head>
	<body onload="loadshowlisting('<%=@listing.lat%>','<%=@listing.lng%>'); showmypic2('<%=@firstimage%>'); " onunload="GUnload();">
	<div id="shadow"></div>
<!-- TRACKING -->

<%if Rails.env == "production" %>

	<%= render(:partial => "layouts/analytics") %>
	
	<script type="text/javascript"> 
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script> 
	<script type="text/javascript"> 
	var pageTracker = _gat._getTracker("UA-4780289-1");
	pageTracker._trackPageview();
	</script> 

<%else%>
<%end%>
