
<div id="backer"><!-- Begin Backer -->

<div id="blackbar"><!-- Begin Black Bar -->

<div style="float:left; width:350px">Pattaya One News - Our News Is Always New</div>

<div class="blackbar-right">
<div style="float:left;height:16px;"><embed src="http://www.clocklink.com/clocks/5002-white.swf?TimeZone=GMT0700&Place=&DateFormat=DD-mm-YYYY&"  width="192" height="16" wmode="transparent" type="application/x-shockwave-flash"></div>
    Subscribe to Pattaya One News by <a href="http://feedburner.google.com/fb/a/mailverify?uri=PattayaOneNews&amp;loc=en_US"><strong>Email</strong></a> or <a href="http://feeds.feedburner.com/PattayaOneNews" target="_blank"><strong>RSS feed</strong></a><img src="http://www.pattayaone.net/wp-content/themes/pattayaone/images/rss.gif" alt="rss" style="margin: 0px 0px 0px 10px;border:0px;" />
</div>

</div><!-- End Black Bar -->


<div style="height:95px;margin:0 auto;overflow:hidden;padding:0;width:998px;"><!-- Begin Masthead -->
    <div style="float:left;margin:10px 0 0;padding:0;text-align:left;width:266px;"><a href="http://www.pattayaone.net"><img src="http://www.pattayaone.net/wp-content/themes/pattayaone/images/logo.jpg" width="266" height="67" border="0" /></a></div>
    <div style="float:right;margin:5px 0 0;padding:0;width:728px;">
    	<!-- PUT THIS TAG IN DESIRED LOCATION OF SLOT REThaiViewLeaderboard
     -->
<script type="text/javascript">
  GA_googleFillSlot("REThaiViewLeaderboard");
</script>
<!-- END OF TAG FOR SLOT REThaiViewLeaderboard
     -->
     </div>
</div><!-- End Masthead -->



<div style="clear: both;"></div>

<div id="menubar"><!-- Begin Dropdown Menu -->

<div class="menubar-left">

<ul id="nav">




 


<ul id="nav" class="clearfloat">
<li><a href="http://www.pattayaone.net/" class="on">Home</a></li>
	<li class="cat-item cat-item-1"><a href="http://www.pattayaone.net/category/pattaya-news/" title="View all posts filed under Local News">Local News</a>
<ul class='children'>
	<li class="cat-item cat-item-4"><a href="http://www.pattayaone.net/category/pattaya-news/community/" title="View all posts filed under Community">Community</a>

</li>
	<li class="cat-item cat-item-8"><a href="http://www.pattayaone.net/category/pattaya-news/crime/" title="View all posts filed under Crime">Crime</a>
</li>
</ul>
</li>
	<li class="cat-item cat-item-11"><a href="http://www.pattayaone.net/category/national/" title="View all posts filed under National &amp; Global">National &amp; Global</a>
</li>
<li class="page_item page-item-1872"><a href="http://www.pattayaone.net/video/" title="Video">Video</a></li>
<li class="page_item page-item-1870"><a href="http://www.pattayaone.net/about-us/" title="About Us">About Us</a>

<ul>
	<li class="page_item page-item-1865"><a href="http://www.pattayaone.net/about-us/advertising-rates/" title="Advertising Rates">Advertising Rates</a></li>
	<li class="page_item page-item-1867"><a href="http://www.pattayaone.net/about-us/broadcasting-times/" title="TV Broadcasting Times">TV Broadcasting Times</a></li>
	<li class="page_item page-item-2844"><a href="http://www.pattayaone.net/about-us/iphone/" title="iPhone">iPhone</a></li>
	<li class="page_item page-item-2838"><a href="http://www.pattayaone.net/about-us/search/" title="Search">Search</a></li>
</ul>
</li>
<li class="page_item page-item-2664"><a href="http://www.pattayaone.net/submit-a-story/" title="Submit a Story">Submit a Story</a></li>

<li class="page_item page-item-1859"><a href="http://www.pattayaone.net/contact-us/" title="Contact Us">Contact Us</a></li>
</li>
<li><a href="http://www.pattaya105.com/" class="on">Pattaya 105 FM</a></li>
<li><a href="http://www.rethai.com/pattayaone/search" class="on">Real Estate</a></li>
</ul>


</ul><!--
<div id="google_translate_element" style="float:right; width:125px;height:12px;margin-top:8px;margin-right:5px;"></div><script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en',
    includedLanguages: 'da,du,nl,fi,fr,de,el,hu,it,ro,ru,sr,es,sv,tr,yi'
  }, 'google_translate_element');
}
</script><script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>-->
</div>

</div><!-- End Dropdown Menu -->

	<!-- CONTENT START -->
	<div id="main-content"><div><div>