		<%= javascript_include_tag :defaults %> 


			<script src="/javascripts/listings.js" type="text/javascript"></script>
			<script src="/javascripts/kendio.js" type="text/javascript"></script>
			<script src="/javascripts/indexpro.js" type="text/javascript"></script>
	<script src="/javascripts/googleapikey-pattayaone.js" type="text/javascript"></script>
	<script type=text/javascript>
		function setsubmitform(){
			var x = 1;
			if(document.getElementById('user_FirstName').value==""){ x = 0;}
			else if(document.getElementById('user_Email').value==""){ x = 0;}
			else if(document.getElementById('user_Phone').value==""){ x = 0;}
			else if(document.getElementById('checkemail').value=="0" && document.getElementById('user_Password').vale==""){ x = 0;}
			if(x == 0){document.getElementById('submitlisting').disabled=true;}else{document.getElementById('submitlisting').disabled=false;}
		}
	</script>
	</head>
	<body onload="loadmap('12.9357','100.889');Recaptcha.focus_response_field();" onunload="GUnload();">

<!-- TRACKING -->

<%if Rails.env == "production" %>

	<%= render(:partial => "layouts/analytics") %>
	
	<script type="text/javascript"> 
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script> 
	<script type="text/javascript"> 
	var pageTracker = _gat._getTracker("UA-4780289-1");
	pageTracker._trackPageview();
	</script> 

<%else%>
<%end%>
