
<div id="home-page">
	<!-- HEADER -->
	<!--
	<div id="header-minilinks"><%if not session[:user_id]%><a href="/rethai/register" rel="nofollow">Register</a><%else%><%end%> <%if not session[:user_id]%> <a href="/rethai/login" rel="nofollow">Login</a> <%else%><a href="/index/myaccount" rel="nofollow">My Account</a> <a href="/login/logout?myredirect=/rethai" rel="nofollow">Logout</a><%end%> <a href="/controlpanel" rel="nofollow">Control Panel</a></div>
	-->
	
	
	<div id="home-logo" style="height:90px; overflow:hidden;"><a href="/"><img src="/images/home-logo.jpg" alt="Real Estate Thailand" style="margin-top:-5px;" /></a></div>
	
	
	<div style="float:right">
		<!-- Header-Leaderboard -->
		<script type='text/javascript'>
		GA_googleFillSlot("Header-Leaderboard");
		</script>
	</div>
	
	<br clear="all" />
	<div id="header-nav">
		<ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/thailand-condos">Condos</a>
				<ul style="margin-top:7px;">
					<li><a href="/bangkok-condos">Bangkok Condos</a></li>
					<li><a href="/pattaya-condos">Pattaya Condos</a></li>
					<li><a href="/phuket-condos">Phuket Condos</a></li>
				</ul>
			</li>
			<li><a href="/thailand-houses">Houses</a>
				<ul style="margin-top:7px;">
					<li><a href="/bangkok-houses">Bangkok Houses</a></li>
					<li><a href="/pattaya-houses">Pattaya Houses</a></li>
					<li><a href="/phuket-houses">Phuket Houses</a></li>
					<li><a href="/chiangmai-houses">Chiang Mai Houses</a></li>
				</ul>
			</li>
			
<!--			<li><a href="/thailand-commercial">Commercial</a></li> 
			<li><a href="/thailand-holiday-rentals">Holiday Rentals</a></li> 
			<li><a href="/realestate-resources">Resources</a></li> 
			<li><a href="/index/investing">Investing</a></li>  -->
			
			<li><a href="/agency/allagencies">Find Agent</a>
				<ul style="margin-top:7px;">
					<li style="width:200px;"><a href="/bangkok-real-estate-agents">Bangkok Real Estate Agents</a></li>
					<li style="width:200px;"><a href="/pattaya-real-estate-agents">Pattaya Real Estate Agents</a></li>
					<li style="width:200px;"><a href="/phuket-real-estate-agents">Phuket Real Estate Agents</a></li>
					<li style="width:200px;"><a href="/chiangmai-real-estate-agents">Chiang Mai Real Estate Agents</a></li>
				</ul>
			</li>
			<li><a href="/index/foragents">Advertise</a></li>
			<li><a href="/rethai/addlisting">List Your Property</a></li>
			
			
			<li style="float:right;margin-right:15px;"><a href="/controlpanel">Control Panel</a></li>
		</ul>
		<br clear="all" />
	</div>
	


		<%if not session[:user_id]%>
		<%else%>
<div style="padding:5px 17px;background-color:#1f2b00;font-size:11px;height:15px;">		

	<%if Mail.chk_newmessage(session[:user_id]).to_i > 0%>
	<a href="/controlpanel/messages" style="color:#fff;">You have <%=Mail.chk_newmessage(session[:user_id])%> new messages</a>
	<%end%>	 

	<a href="/login/logout?myredirect=/rethai" style="color:#fff;float:right;">Logout</a>
</div>
		<%
		end
		%>


	
	<% page = request.request_uri %>
	<!--
	<div id="headercountry">
		<a href="http://en.rethai.com<%= page %>" alt="Change your language to English"><img src="/icon/gb.png"></a> 
		<a href="http://th.rethai.com<%= page %>" alt="Change your language to Thai"><img src="/icon/th.png"></a>
		<a href="http://ru.rethai.com<%= page %>" alt="Change your language to Russian"><img src="/icon/ru.png"></a>
		<a href="http://de.rethai.com<%= page %>" alt="Change your language to German"><img src="/icon/de.png"></a>
		<a href="http://fr.rethai.com<%= page %>" alt="Change your language to French"><img src="/icon/fr.png"></a>
		<a href="http://nl.rethai.com<%= page %>" alt="Change your language to Dutch"><img src="/icon/nl.png"></a>
		<a href="http://it.rethai.com<%= page %>" alt="Change your language to Italian"><img src="/icon/it.png"></a>
		<a href="http://jp.rethai.com<%= page %>" alt="Change your language to Japanese"><img src="/icon/jp.png"></a>
		<a href="http://kr.rethai.com<%= page %>" alt="Change your language to Korean"><img src="/icon/kr.png"></a>
	</div>

	<div id="header-navigation">
		<div><%=I18n.translate('txt.nav.mm1')%></div>
		<div><%=I18n.translate('txt.nav.mm2')%></div>
		<div><%=I18n.translate('txt.nav.mm3')%></div>
		<div><%=I18n.translate('txt.nav.mm4')%></div>
		<div><%=I18n.translate('txt.nav.mm5')%></div>
	</div>
	<br clear="all">
	-->
		
	<!-- CONTENT START -->
	<div id="main-content">
		
	<%if flash[:notice]%>
	<div id="notice"><%=flash[:notice]%></div>
<%end%>
