	


			<script src="/javascripts/listings.js" type="text/javascript"></script>
			<script src="/javascripts/kendio.js" type="text/javascript"></script>
			<script src="/javascripts/indexpro.js" type="text/javascript"></script>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
	<script type=text/javascript>
		function setsubmitform(){
			var x = 1;
			if(document.getElementById('user_FirstName').value.replace(/ /g,"")=="" ){ x = 0;}
			else if(document.getElementById('user_Email').value.replace(/ /g,"")==""){ x = 0;}
//			else if(document.getElementById('user_Phone').value==""){ x = 0;}
//			else if(document.getElementById('checkemail').value.replace(/ /g,"")=="0" && document.getElementById('user_Password').vale.replace(/ /g,"")==""){ x = 0;}
			else { if(document.getElementById('confirmlocation').value.replace(/ /g,"")=="0" ){ x = 0;}}			
//			if(x == 0){document.getElementById('submitlisting').disabled=true;}else{document.getElementById('submitlisting').disabled=false;}
		}
	</script>
	<%#= javascript_include_tag :defaults %> 
	</head>
	<body onload="loadmap('12.9357','100.889');" onunload="GUnload();">
<%if Rails.env == "production" %>
	<%= render(:partial => "layouts/analytics") %>
<%else%>
<%end%>


