		<%= javascript_include_tag :defaults %> 
		<script src="/javascripts/kendio.js" type="text/javascript"></script>
		<script src="/javascripts/listings.js" type="text/javascript"></script>
		<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>



<script type="text/javascript" src="/javascripts/lightbox/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="/javascripts/lightbox/lightbox.js"></script>
<link rel="stylesheet" href="/javascripts/lightbox/lightbox.css" type="text/css" media="screen" />


	<script type="text/javascript">
		function showpic(img){
			// get content
			document.getElementById('fullimage').innerHTML='<img src="' + img + '"  height="350" width="350" />';//width="450"
					
		}
	</script>

<!--
	    <script type="text/javascript" src="/javascripts/jquery-1[1].2.6.min.js"></script>
        <script type="text/javascript" src="/javascripts/jquery[1].translate-1.2.4.min.js"></script>

        <script type="text/javascript">
                function startTranslation(lang){
						document.getElementById('showtranslate').innerHTML = document.getElementById('original').innerHTML;
					if(lang != "clear"){
						$('trans').translate(lang)
					}
                }
        </script>
-->

	</head>
	<body onload="loadshowlisting('<%=@listing.lat%>','<%=@listing.lng%>');" onunload="GUnload();">
	<div id="shadow"></div>
<%if Rails.env == "production" %>
	<%= render(:partial => "layouts/analytics") %>
<%else%>
<%end%>
