
		<%= javascript_include_tag :defaults %> 
		<script src="/javascripts/kendio.js" type="text/javascript"></script>
		<script src="/javascripts/listings.js" type="text/javascript"></script>
		<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
		<%acname  = "#{controller_name}_#{action_name}"
		if acname == "condo_home" or  acname == "house_home"
		%>
			<body>
		<%else%>
	<body onload="load('1'); document.getElementById('fprice').value = document.getElementById('tfprice').value.toString().replace(/\$|\,/g,'');document.getElementById('tprice').value = document.getElementById('ttprice').value.toString().replace(/\$|\,/g,''); " onunload="GUnload();">
		<%end%>
<%if Rails.env == "production" %>
	<%= render(:partial => "layouts/analytics") %>
<%else%>
<%end%>


