<%= error_messages_for 'images' %>

<!--[form:images]-->
<p><label for="images_id_user">Id user</label><br/>
<%= text_field 'images', 'id_user'  %></p>

<p><label for="images_id_product">Id product</label><br/>
<%= text_field 'images', 'id_product'  %></p>

<p><label for="images_photo_file_name">Photo file name</label><br/>
<%= text_field 'images', 'photo_file_name'  %></p>

<p><label for="images_photo_content_type">Photo content type</label><br/>
<%= text_field 'images', 'photo_content_type'  %></p>

<p><label for="images_photo_file_size">Photo file size</label><br/>
<%= text_field 'images', 'photo_file_size'  %></p>

<p><label for="images_created_on">Created on</label><br/>
<%= datetime_select 'images', 'created_on'  %></p>

<p><label for="images_updated_on">Updated on</label><br/>
<%= datetime_select 'images', 'updated_on'  %></p>

<p><label for="images_file_type">File type</label><br/>
<%= text_field 'images', 'file_type'  %></p>
<!--[eoform:images]-->

