<h1>Listing images</h1>

<table>
  <tr>
  <% for column in Images.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for images in @images %>
  <tr>
  <% for column in Images.content_columns %>
    <td><%=h images.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => images %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => images %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => images }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @images_pages.current.previous } if @images_pages.current.previous %>
<%= link_to 'Next page', { :page => @images_pages.current.next } if @images_pages.current.next %> 

<br />

<%= link_to 'New images', :action => 'new' %>
