<% for column in Images.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @images.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @images %> |
<%= link_to 'Back', :action => 'list' %>
