<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<%
stringsitesname = "#{controller.controller_name}_#{controller.action_name }"  	
%>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= javascript_include_tag :defaults %>
  <script src="/javascripts/admin.js" type="text/javascript"></script>
  
  
  
  <%if stringsitesname == "admin_editlisting"%>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
  <%end%>
  
  
  
  <title>ADMIN</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
		<link href="/stylesheets/rethai-admin.css" rel="stylesheet" type="text/css" />
	  
</head>

<style>
<!--

#adminnav {
	padding:20px;
	background-color:#313131;
}

#adminnav a {
	color:#ffffff;
	padding-right:10px;
	text-decoration:none;
}

#adminnav a:hover {
	text-decoration:underline;
}
-->
</style>

<%

if stringsitesname == "admin_editlisting"
%>
	<body onload="loadmap('<%=@listing.lat%>','<%=@listing.lng%>');" onunload="GUnload();">
<%else%>	
	<body>
<%end%>
<div id="adminnav" style=padding:20px>
<% if session[:Admin_id]%>	
	<a href="/admin/index">Dashboard</a>
<!--	<a href="">Metrics & KPI's</a> -->
	<a href="/admin/users">Users</a>
 	<a href="/admin/messages">Messages</a> 
	<a href="/admin/listings">Listings</a>
	<a href="/admin/qualitylistings">Quality Control</a>
	<a href="/admin/magazines">Magazine</a>
	<a href="/admin/companies">Companies</a>
	<a href="/admin/leadqc">Lead QC</a>
	<a href="/admin/allleadqc">All Lead QC</a>
	<a href="/admin/leadquality">Listing QC</a>
	<a href="/admin/allleadqualities">All Listing QC</a>
	<a href="/admin/leadusers">Lead & Listing</a>
<!--	<a href="">Business</a>-->
<!--	<a href="">Advertising</a> -->
<!--	<a href="/admin/credits">Billing & Credits</a>-->
	<a href="/admin/listingsexport">XML</a>
	<a href="/admin/rss">RSS</a>
	<a href="/admin/manageprovinces">Provinces</a>
<!--	<a href="/admin/development">Development</a> -->
	<a href="/admin/condos">Condos</a>
	<a href="/admin/manageapi">APIs</a>
	<a href="/admin/backgroundcontrol">BU</a>
	<a href="/admin/markoffline">MarkOffline</a>
	<a href="/admin/logout">Logout</a>

<%else%>	
<a href="/admin/login">Admin Login</a>

<%end%>


</div>


	
<!--
<div id="mcnav">
	<img src="/images/controlpanel/images/nav_01.png" width="10" height="49" style="float:left;margin-left:0px;" />
	<a href="/admin/index" class="mcindex"></a>
	<a href="/admin/products" class="mcprod"></a>
	<a href="/admin/messages" class="mcmess"></a>
	<a href="/admin/credits" class="mccredits"></a>
	<a href="/admin/advertising" class="mcads"></a>
	<a href="/admin/business" class="mcbus"></a>
	<a href="/admin/emailsms" class="mcsms"></a>
	<a href="/admin/help" class="mchelp"></a>
	<img src="/images/controlpanel/images/nav_10.png" class="mcnavhover" width="169" height="49" style="float:left;margin-left:0px;" />
	<img src="/images/controlpanel/images/nav_11.png" class="mcnavhover" width="122" height="49" style="float:left;margin-left:0px;" />
<br clear=all />
</div>
-->

<!--

<div style=missoncontrolnotice>
	<p><%= flash[:notice] %></p>
</div>
-->

<div style=padding:20px;>
	<%= yield  %>
</div>



</body>
</html>
