<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%= @page_title || "Property for Sale and Rent in Thailand" %>Real Estate Thailand</title>

		<meta name="Description" content="<%= @page_desc || 'Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We are not a real estate agency! We are a real estate portal, anyone can add a listing' %>">
		<meta name="Keywords" content="<%= @page_keywords || 'real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale' %>">

		<!-- 
		<%= render :partial => 'layouts/revision' %> 
		-->

		<!-- STYLES -->
		<%= stylesheet_link_tag 'yui/reset' %>
		<%= stylesheet_link_tag 'yui/fonts' %>
		<%= stylesheet_link_tag 'yui/grids' %>
		<%= stylesheet_link_tag 'yui/base' %>

		<%= stylesheet_link_tag 'rethai-mapdetail' %>


          <script>
			function clearnotice(){
				document.getElementById('notice').innerHTML="";
			}
		  </script>

        
	</head>
<body>
<%if Rails.env == "production" %>
	<%= render(:partial => "layouts/analytics") %>
<%else%>
<%end%>




		<%= yield  %>




</div>







	</body>
</html>
