<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>CONTROL PANEL</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'rethai-controlpanel' %>


<script type="text/javascript" src="/javascripts/thickbox/jquery-latest.pack.js"></script>
<script type="text/javascript" src="/javascripts/thickbox/thickbox-compressed.js"></script>
<link rel="stylesheet" href="/javascripts/thickbox/thickbox.css" type="text/css" media="screen" />



</head>
<style>
<!--
body {
	background: url(/images/controlpanel/images/bg.jpg) 0 49px;
	background-color:#f8f4e9;
	background-repeat:repeat-x;
}
-->
</style>
<!-- <body>-->
<%
stringsitesname = "#{controller.controller_name}_#{controller.action_name }"

if stringsitesname == "controlpanel_products"  %>
	<!--<body  onload="gfav('/xml/<%=session[:user_id]%>_listings.xml','<%=@user.Suburb%>'); " onunload="GUnload();">-->
	<!--<body  onload="loadmylisting('<%=session[:user_id]%>');" onunload="GUnload();">		-->
	<body>
<%elsif stringsitesname == "controlpanel_viewmessage" %>
	<body  onload="show1listing('<%=@product.lat%>','<%=@product.lng%>');" onunload="GUnload();">
<%elsif stringsitesname == "controlpanel_messages"  %>
	<!--<body  onload="load();" onunload="GUnload();">	-->	
	<body>
<%elsif stringsitesname == "controlpanel_editproduct2"  %>
	<script src="/javascripts/listings.js" type="text/javascript"></script>
	<script src="/javascripts/kendio.js" type="text/javascript"></script>
	<script src="/javascripts/indexpro.js" type="text/javascript"></script>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
	<body onload="loadmap('<%=@product.lat%>','<%=@product.lng%>');" onunload="GUnload();">		
<%elsif stringsitesname == "controlpanel_editmap"  %>
	<script src="/javascripts/listings.js" type="text/javascript"></script>
	<script src="/javascripts/kendio.js" type="text/javascript"></script>
	<script src="/javascripts/indexpro.js" type="text/javascript"></script>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
    <script src="/javascripts/admin.js" type="text/javascript"></script>
	<body onload="loadmap('<%=@listing.lat%>','<%=@listing.lng%>');" onunload="GUnload();">		
<%elsif stringsitesname == "controlpanel_business20100121" or stringsitesname == "controlpanel_business"  %>
	<%if stringsitesname == "controlpanel_business"%>
		<body  onload="loadbusiness2();" onunload="GUnload();">	<!--new business-->
	<%else%>
		<body  onload="loadbusiness();" onunload="GUnload();">	
	<%end%>
	
		
<%elsif stringsitesname == "controlpanel_test" %>
	<body  onload="load();" onunload="GUnload();">			
<%elsif stringsitesname == "controlpanel_fulledit" %>
			<script src="/javascripts/indexpro.js" type="text/javascript"></script>
			<script src="/javascripts/kendio.js" type="text/javascript"></script>
	<script src="/javascripts/listings.js" type="text/javascript"></script>
	<script src="/javascripts/googleapikey-<%=RAILS_ENV %>.js" type="text/javascript"></script>
	<body  onload="loadmap('<%=@product.lat%>','<%=@product.lng%>');" onunload="GUnload();">	
<%else%>
<body >
<%end%>

<%if Rails.env == "production" %>
	<%= render(:partial => "layouts/analytics") %>
<%else%>
<%end%>


<div id="mcnav">
<!--	<img src="/images/controlpanel/images/nav_01.png" width="10" height="49" style="float:left;margin-left:0px;" />
	<a href="/controlpanel/index" class="mcindex"></a>
	<a href="/controlpanel/products" class="mcprod"></a>
	<a href="/controlpanel/messages" class="mcmess"></a>
	<a href="/controlpanel/credits" class="mccredits"></a>
	<a href="/controlpanel/advertising" class="mcads"></a>
	<a href="/controlpanel/business" class="mcbus"></a>
	<a href="/controlpanel/emailsms" class="mcsms"></a>
	<a href="/levels/upgrade" class="mcsms">Upgrade</a>
	
	
	<a href="http://wiki.rethai.com" target="_blank" class="mchelp"></a>
	<img src="/images/controlpanel/images/nav_10.png" class="mcnavhover" width="169" height="49" style="float:left;margin-left:0px;" />
	<a href="http://home.rethai.com" target="_blank"><img src="/images/controlpanel/images/nav_11.png" class="mcnavhover" width="122" height="49" style="float:left;margin-left:0px;" border="0"/></a>
-->


	<a href="/controlpanel/index">Dashboard</a>
	<a href="/controlpanel/products">Listings</a>
	<a href="/controlpanel/messages">Messages</a>
	<a href="/controlpanel/business">Business</a>
<!--	<a href="/controlpanel/advertising">Advertising</a>-->
	<a href="/levels/upgrade">Subscription</a>
	<a href="/controlpanel/emailsms">Email & SMS</a>
	<a href="/" style="float:right;">Back to REThai.com >></a>



<br clear=all />
</div>


<!--

<div style=missoncontrolnotice>
	<p><%= flash[:notice] %></p>
</div>
-->

<div style=padding:20px;>
<%= yield  %>
</div>



</body>
</html>
