<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="distribution" content="global" />
<meta name="robots" content="follow, all" />
<meta name="language" content="en" />
<meta name="google-site-verification" content="YKjeBfhCGtoSE5E0DbEA4CgTnz_0xIM_Zt-kvgh5NQU" />
<title>Pattaya One News - Our News Is Always New</title>


<!-- RETHAI -->
		<link href="/stylesheets/yui/reset.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/yui/grids.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/yui/fonts.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/yui/base.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/pattayaone/pattayaone-style.css" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/pattayaone/pattayaone-list.css" rel="stylesheet" type="text/css" />




<!-- PUT THIS TAG IN THE head SECTION -->
<script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js">
</script>
<script type="text/javascript">
  GS_googleAddAdSenseService("ca-pub-5807716508506393");
  GS_googleEnableAllServices();
</script>
<script type="text/javascript">
  GA_googleAddSlot("ca-pub-5807716508506393", "Bottom-Right-300x100");
  GA_googleAddSlot("ca-pub-5807716508506393", "Bottom-Right-300x100B");
  GA_googleAddSlot("ca-pub-5807716508506393", "Header-125x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Header-468x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Homepage-Middle-300x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Homepage-Right-300x100");
  GA_googleAddSlot("ca-pub-5807716508506393", "Inner-145x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Inner-145xB");
  GA_googleAddSlot("ca-pub-5807716508506393", "Inner-Sidebar-300x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Inner-Sidebar-Bottom-300x");
  GA_googleAddSlot("ca-pub-5807716508506393", "National-News-160x600");
  GA_googleAddSlot("ca-pub-5807716508506393", "Syndicated-Post-Advert");
  GA_googleAddSlot("ca-pub-5807716508506393", "Top-Right-1-125x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Top-Right-2-125x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Top-Right-3-125x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Top-Right-4-125x");
  GA_googleAddSlot("ca-pub-5807716508506393", "Related-News-Adsense");
  GA_googleAddSlot("ca-pub-5807716508506393", "Homepage-adsense");
  GA_googleAddSlot("ca-pub-5807716508506393", "newpost-skyscraper");
  GA_googleAddSlot("ca-pub-5807716508506393", "REThaicomSkyscraper");
  GA_googleAddSlot("ca-pub-5807716508506393", "REThaiViewLeaderboard");
</script>
<script type="text/javascript">
  GA_googleFetchAds();
</script>

<script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'>
</script>
<script type='text/javascript'>
GS_googleAddAdSenseService("ca-pub-5985301273758544");
GS_googleEnableAllServices();
</script>
<script type='text/javascript'>
GA_googleAddSlot("ca-pub-5985301273758544", "Agent-left-TH-skyscraper");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Header-Leaderboard");
GA_googleAddSlot("ca-pub-5985301273758544", "Homepage-Leaderboard");
GA_googleAddSlot("ca-pub-5985301273758544", "Homepage-Sidebar");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya-2");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya-3");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Phuket");
</script>
<script type='text/javascript'>
GA_googleFetchAds();
</script>



<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.pattayaone.net/feed/" />
<link rel="alternate" type="text/xml" title="RSS .92" href="http://www.pattayaone.net/feed/rss/" />
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://www.pattayaone.net/feed/atom/" />
<link rel="pingback" href="http://www.pattayaone.net/xmlrpc.php" />


<link rel="Shortcut Icon" href="http://www.pattayaone.net/wp-content/themes/pattayaone/images/favicon.ico" type="image/x-icon" />

<!-- All in One SEO Pack 1.6.10 by Michael Torbert of Semper Fi Web Design[508,567] -->
<meta name="description" content="Pattaya One News is an English language local news service for Pattaya, Thailand. We are online and on Sophon Cable TV, Pattaya, 5 times a day." />
<meta name="keywords" content="pattaya, news, one, city, online, pattayaone, latest, pattayacitynews, pattayaone.net, pattayanews, in, 1, new, on, line, thailand, www.pattayaone.net, tv, local, weather, crime, social, howard, miller, pattaya one news, pattaya city news" />
<link rel="canonical" href="http://www.pattayaone.net/" />
<!-- /all in one seo pack -->

<style type="text/css" media="screen"><!-- @import url( http://www.pattayaone.net/wp-content/themes/pattayaone/style.css ); --></style>



</head>










		<%= yield  %>









<div id="rethai-footer"><% page = request.request_uri %>
<div style="float:right;width:160px;"><a href="http://www.rethai.com"><img src="/images/footer-logo.png" alt="Real Estate Thailand" /></a><br><a href="http://www.pattayadesignstudios.com" target="_blank"><img src="/images/pds-logo.png" style="margin-top:10px;" alt="Web Design and Development by: Pattaya Design Studios" /></a></div>
<p><strong>Inside REThai.com:</strong><a href="/pattayaone/search">Search</a> | <a href="/controlpanel" target="_blank">Control Panel Login</a>| <a href="/index/faq" target="_blank">FAQ</a></p>
<p><strong>Listings & Business:</strong><a href="/pattayaone/new" target="_blank">Add a Listing</a> | <a href="/index/advertise" target="_blank">Advertise</a> | <a href="/index/foragents" target="_blank">For Agents</a><!-- | <a href="/index/foragents">For Developers</a>--> | <a href="/index/stats" target="_blank">Stats & Trends</a><!-- | <a href="/index/forpartners">For Partners</a>--></p>
<p><strong>Change Language:</strong><img src="/icon/gb.png"> <a href="http://en.rethai.com<%= page %>" alt="Change your language to English"> English</a>  <img src="/icon/th.png"> <a href="http://th.rethai.com<%= page %>" alt="Change your language to Thai"> ไทย</a>  <img src="/icon/ru.png"> <a href="http://ru.rethai.com<%= page %>" alt="Change your language to Russian"> русский язык</a>  <img src="/icon/de.png"> <a href="http://de.rethai.com<%= page %>" alt="Change your language to German"> Deutsch</a>  <img src="/icon/fr.png"> <a href="http://fr.rethai.com<%= page %>" alt="Change your language to French"> Français</a>  <img src="/icon/nl.png"> <a href="http://nl.rethai.com<%= page %>" alt="Change your language to Dutch"> Nederlands</a> <img src="/icon/it.png"> <a href="http://it.rethai.com<%= page %>" alt="Change your language to Italian"> Italiano</a> <img src="/icon/jp.png"> <a href="http://jp.rethai.com<%= page %>" alt="Change your language to Japanese"> 日本語</a> <img src="/icon/kr.png"> <a href="http://kr.rethai.com<%= page %>" alt="Change your language to Korean"> 한국어</a></p>

</div>



<div style="clear: both;"></div>

<div id="footer"><!-- Begin Footer -->


&copy; Copyright  2010 <a href="http://www.pattayaone.net">Pattaya One News</a>. &nbsp;All rights reserved. <a href="http://www.pattayadesignstudios.com">Pattaya Design Studios</a> - <a href="http://www.pattayaone.net/privacy-policy">Privacy Policy</a>. Real Estate data by <a href="http://www.rethai.com">REThai.com</a>. <a href="http://www.rethai.com">Real Estate Thailand</a></div>



</div><!-- End Footer -->

</div><!-- End Backer -->



</body>

</html>