<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title><%= @page_title || "Property for Sale and Rent in Thailand" %></title>

		<meta name="Description" content="<%= @page_desc || 'Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We are not a real estate agency! We are a real estate portal, anyone can add a listing' %>">
		<meta name="Keywords" content="<%= @page_keywords || 'real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale' %>">

		<!-- 
		<%= render :partial => 'layouts/revision' %> 
		-->

		<!-- STYLES -->
		<%= stylesheet_link_tag 'yui/reset' %>
		<%= stylesheet_link_tag 'yui/fonts' %>
		<%= stylesheet_link_tag 'yui/grids' %>
		<%= stylesheet_link_tag 'yui/base' %>

		<%= stylesheet_link_tag 'rethai-style' %>
		<%= stylesheet_link_tag 'rethai-map' %>

		<!-- PHASE OUT -->
		<%= stylesheet_link_tag 'scaffold' %>
		<%= stylesheet_link_tag 'style' %>


		<meta name="google-site-verification" content="5mKe6NoA53odOJbaHiTIfOF4kZsall05B06Z3OMseRA" />


  <script>
  	function clearnotice(){
		document.getElementById('notice').innerHTML="";
	}
  </script>
<%
stringsitesname = "#{controller.controller_name}_#{controller.action_name }"
%>
<%if stringsitesname == "products_index"%>
<!--<div id="notice" style="position:absolute;	left:80px;	top:70px;	width:45%;	height:35px;	z-index:50" >
	<%if flash[:notice] != nil and flash[:notice] !=""%>
	<span><a href="#" onclick="clearnotice();" style="color:red;">close notice message (see me at layouts/products.rhtml)</a></span>
	<p style="color: green;"><%= flash[:notice] %></p>
	<%end%>
</div>-->
<%elsif stringsitesname == "listings_maps"%>

<%else%>
</head>
<body>
<%end%>



<%= yield  %>




<%if Rails.env == "production" %>
	<%= render(:partial => "layouts/analytics") %>
<%else%>
<%end%>



</body>
</html>
