<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
		<title><%= @page_title || "Property for Sale and Rent in Thailand" %></title>

		<meta name="Description" content="<%= @page_desc || 'Real Estate Thailand. All types of Property in Thailand - Houses, Condos, Apartments, Shophouses and land for sale or rent all over Thailand. We are not a real estate agency! We are a real estate portal, anyone can add a listing' %>">
		<meta name="Keywords" content="<%= @page_keywords || 'real estate thailand, real estate, realestate thailand, thai property, thailand property, real estate for sale thailand, real estate for rent thailand, rental property thailand, bangkok real estate, pattaya real estate, phuket real estate, houses for sale, land for sale' %>">
		
		<meta name="fb:page_id" content="108530485850909" />
		<meta property="fb:page_id" content="108530485850909" />
		
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

		<!--
		<%= render :partial => 'layouts/revision' %>
		-->

		<!-- STYLES -->
		<%= stylesheet_link_tag 'yui/reset' %>
		<%= stylesheet_link_tag 'yui/fonts' %>
		<%= stylesheet_link_tag 'yui/grids' %>
		<%= stylesheet_link_tag 'yui/base' %>

		<%= stylesheet_link_tag 'rethai-style' %>
		<%= stylesheet_link_tag 'rethai-list' %>

		<meta name="google-site-verification" content="5mKe6NoA53odOJbaHiTIfOF4kZsall05B06Z3OMseRA" />

          <script>
			function clearnotice(){
				document.getElementById('notice').innerHTML="";
			}
		  </script>





<script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'>
</script>
<script type='text/javascript'>
GS_googleAddAdSenseService("ca-pub-5985301273758544");
GS_googleEnableAllServices();
</script>
<script type='text/javascript'>
GA_googleAddSlot("ca-pub-5985301273758544", "Agent-left-TH-skyscraper");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-BKK-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PHU-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-PTY-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Condo-TH-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "Header-Leaderboard");
GA_googleAddSlot("ca-pub-5985301273758544", "Homepage-Leaderboard");
GA_googleAddSlot("ca-pub-5985301273758544", "Homepage-Sidebar");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-BKK-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-CM-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PHU-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-PTY-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-1-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-2-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "House-TH-3-topbox");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Left-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Middle-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya-2");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Pattaya-3");
GA_googleAddSlot("ca-pub-5985301273758544", "List-Right-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Medium-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "Map-Small-Phuket");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Bangkok");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Pattaya");
GA_googleAddSlot("ca-pub-5985301273758544", "View-Right-Phuket");
</script>
<script type='text/javascript'>
GA_googleFetchAds();
</script>



	</head>




		
		<%= yield %>





</div>

<div id="footer"><% page = request.request_uri %>
<div style="float:right;width:160px;"><a href="http://www.rethai.com"><img src="/images/footer-logo.png" alt="Real Estate Thailand" /></a><br><a href="http://www.pattayadesignstudios.com" target="_blank"><img src="/images/pds-logo.png" style="margin-top:10px;" alt="Web Design and Development by: Pattaya Design Studios" /></a></div>
<p><strong>Inside REThai.com:</strong><a href="/">Search</a> | <a href="/rethai/register">Create Account</a> | <a href="/controlpanel">Control Panel Login</a> | <a href="/index/faq">FAQ</a> | <a href="https://twitter.com/rethai" target="_blank">Twitter</a> | <a href="http://www.facebook.com/pages/Real-Estate-Thailand/108530485850909" target="_blank">Facebook</a> | <a href="/index/contactus">Contact Us</a></p>
<p><strong>Listings & Business:</strong><a href="/rethai/addlisting">Add a Listing</a> | <a href="/index/foragents" target="_blank">Advertise</a> </p>
<p><strong>Change Language:</strong><img src="/icon/gb.png"> <a href="http://en.rethai.com<%= page %>" alt="Change your language to English"> English</a>  <img src="/icon/th.png"> <a href="http://th.rethai.com<%= page %>" alt="Change your language to Thai"> ไทย</a>  <img src="/icon/ru.png"> <a href="http://ru.rethai.com<%= page %>" alt="Change your language to Russian"> русский язык</a>  <img src="/icon/de.png"> <a href="http://de.rethai.com<%= page %>" alt="Change your language to German"> Deutsch</a>  <img src="/icon/fr.png"> <a href="http://fr.rethai.com<%= page %>" alt="Change your language to French"> Français</a>  <img src="/icon/nl.png"> <a href="http://nl.rethai.com<%= page %>" alt="Change your language to Dutch"> Nederlands</a> <img src="/icon/it.png"> <a href="http://it.rethai.com<%= page %>" alt="Change your language to Italian"> Italiano</a> <img src="/icon/jp.png"> <a href="http://jp.rethai.com<%= page %>" alt="Change your language to Japanese"> 日本語</a> <img src="/icon/kr.png"> <a href="http://kr.rethai.com<%= page %>" alt="Change your language to Korean"> 한국어</a></p>


</div>
<div id="below-footer">
<p></p>




	
</div>



	</body>
</html>
