<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>REThai VIRTUAL</title>
  
   <%= javascript_include_tag 'supersized2/supersized.2.0' %>

  	<%= stylesheet_link_tag 'rethai-virtual' %>  
  

  	<%= javascript_include_tag :defaults %>

<script type="text/javascript">  
$(function(){  
    $.fn.supersized.options = {  
        startwidth: 1024,  
        startheight: 768,  
        minsize: .5,  
        slideshow: 0,  
        slideinterval: 5000  
    };  
        $('#supersize').supersized();  
});  
</script> 


<!--[if IE 6]>
	<style type="text/css"> 
		body {
			overflow-x:hidden;
		}
	</style>
<![endif]-->

	<style type="text/css"> 
	<!--
		*{
			margin:0;
			padding:0;
		}
		a{
			color:#8FC2FF;
			text-decoration: none;
			outline: none;
		}
		a:hover{
			text-decoration: underline;
		}
		img{
			border:none;
		}
		body {
			background:#000;
			overflow-x:hidden;
		}
		#content{
			margin:0px auto;
			width:97%;
			top:3%;
			left:3%;
			z-index: 3;
			position:absolute;
		}
		#contentframe{
			overflow: hidden;
			height: 100%;
			text-align:left;
			z-index: 3;
		}
		#slidecounter{
			float:left;
			color:#4F4F4F;
			font:50px "Helvetica Neue", Arial, sans-serif;
			font-weight:bold;
			margin:18px 20px;	
		}
		#slidecaption{
			overflow: hidden;
			float:left;
			color:#FFF;
			font:26px "Helvetica Neue", Arial, sans-serif;
			font-weight:bold;
			margin:33px 0;
		}
		/*Supersized Stamp*/
		.stamp{
			float: right;
			margin: 25px 20px 0 0;
		}
		/*Supersize Plugin Styles*/
		#navigation{
			background: url('/javascripts/supersized2/images/navbg.gif') no-repeat;
			float: right;
			margin:22px 20px 0 0;
		}
		#loading {
			position: absolute;
			top: 49.5%; 
			left: 49.5%;
			z-index: 3;
			width: 24px; 
			height: 24px;
			text-indent: -999em;
			background-image: url(/javascripts/supersized2/images/progress.gif);
		}
		#supersize{
			position:fixed;
		}
		#supersize img{
			height:100%;
			width:100%;
			position:absolute;
			z-index: 0;
		}
		#supersize .prevslide, #supersize .prevslide img{
			z-index: 1;
		}
		#supersize .activeslide, #supersize .activeslide img{
			z-index: 2;
		}
		
		-->
	</style> 
	

</head>
<body>

<%if Rails.env == "production" %>
	<%= render(:partial => "layouts/analytics") %>
<%else%>
<%end%>



<%= yield  %>




</body>
</html>


