<%= render :partial => "/listings/partner/#{params[:partner]}_header_newlisting" %>
<%= render :partial => "/listings/partner/#{params[:partner]}_nav" %>

<!-- SEO -->
<%
@page_title = I18n.translate('txt.new.page_title')
@page_desc = I18n.translate('txt.new.page_desc')
@page_keywords = I18n.translate('txt.new.page_keywords')
%>



<h1>Paypals#thankyou</h1>
<p>Find me in app/views/paypals/thankyou.html.erb</p>
